{% extends "xformmanager_base.html" %}
{% load i18n %}
{% block title %}Upload your xforms here{% endblock %}
{% block mgr_content %}

<div class="fieldWrapper{% if form.message.errors %} errors{% endif %}">
    {% if form.message.errors %}
        <ol>
        {% for error in form.message.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
    {% endif %}
    {{ form.message }}
</div>

<div class="fieldWrapper{% if errors %} errors{% endif %}">
    {% if errors %}
            <li><strong>{%trans "Submit Error: "%}{{ errors|escape|linebreaks }}</strong></li>
    {% endif %}
</div>

<div id="xform-register-block">
<h1>Register a New XForm*</h1>
Whenever you change a form, be sure to update the xmlns, as this is the <strong>only</strong> mechanism by which CommCareHQ identifies form submissions.
If you change a form and do not update the xmlns, CommCareHQ will try to map new submissions on to the old form - often resulting in lost or misinterpreted data. 
<form action="" method="POST" enctype="multipart/form-data">
<table>
{{ upload_form.as_ul}}
</table>
<input type="submit" value="Submit" />
</form>
{% if newsubmit %}
	<p>{% trans "Registration successful for xform id:"%}{{newsubmit.id}}</p>
{% endif %}
</div>

<h2>{% trans "Registered XForms" %}</h2>

<strong>
<ol>
      
    <table class="sofT">
        <thead class="commcare-heading">
   		   <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "XMLNS" %}</th>
                <th>{% trans "Version" %}</th>
                <th>{% trans "uiVersion" %}</th>
                <th>{% trans "Date Registered" %}</th>
                <th>{% trans "Last Received" %}</th>
                <th></th>
   		   </tr>
   		</thead>
   		{% for form in registered_forms %}   
   		<tr class="{% cycle "odd" "even" %}">
   			<td><a href="{% url xformmanager.views.data form.id %}">
   			
   			{{form.form_display_name}}
   			</a></td>
   			<td>
   				{{form.target_namespace}}
   			</td>
   			<td>
   				{{form.version}}
   			</td>
   			<td>
	   			{{form.uiversion}}
   			</td>
   			   			
   			<td>
	   			{% blocktrans with form.submit_time|date as date_t and form.submit_time|time as time_t %}
	   				{{date_t}}, {{time_t}}
	   			{% endblocktrans %}
   			</td>

   			<td>
   				{% if form.time_of_last_instance %}
		   			{% blocktrans with form.time_of_last_instance|date as date_t and form.time_of_last_instance|time as time_t %}
		   				{{date_t}}, {{time_t}}
		   			{% endblocktrans %}
		   		{% else %}
		   			n/a
		   		{% endif %}
   			</td>
   			
   			<td>
	   			<a href="{% url xformmanager.views.remove_xform form.id %}">
	   			{% trans "Drop This Form" %}
	   			</a>
   			</td>
   		</tr>
   		{% endfor %}   		
   </table>
   

</ol>
</strong>

*Note that files are processed as <a href="http://code.javarosa.org/wiki/xform">XForms</a>, unless they have a ".xsd" extension, in which case they are processed as <a href="http://www.w3schools.com/Schema/default.asp">XML Schema</a>.
{% endblock %}

