{% extends 'settings/base_template.html' %}
{# This is for editing information for the currently logged in WebUser #}

{% load crispy_forms_tags %}
{% load hq_shared_tags %}
{% load i18n %}

{% block js-inline %} {{ block.super }}
    <script type="text/javascript">
        $(function() {
            $('#id_language').combobox({
                placeholder: "{% trans 'Select a language...' %}"
            });
        });

        $('form[name="user_information"]').on("change", null, null, function() {
            $(":submit").prop("disabled", false);
        }).on("input", null, null, function() {
            $(":submit").prop("disabled", false);
        })
        
        $('#generate-api-key').click(function() {
            $.post('{% url 'new_api_key' %}', '', function(data) {
                $('#api-key').text(data);
            });
        });
    </script>
{% endblock %}

{% block main_column %}
    <form class="form form-horizontal" name="user_information" method="post">
        <fieldset>
            <legend>{% trans 'My Information' %}</legend>
            <div class="control-group">
                <label class="control-label">{% trans 'Username' %}</label>
                <div class="controls">
                    <span class="input-xlarge uneditable-input">{{ request.couch_user.html_username|safe }}</span>
                </div>
            </div>
            {% crispy form %}
            <div class="control-group">
                <label class="control-label">{% trans 'API Key' %}</label>
                <div class="controls">
                    <span id='api-key'>{{ api_key }}</span>
                    <button type="button" class='btn' id="generate-api-key">
                        {% trans 'Generate New API Key' %}
                    </button>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" disabled>{% trans 'Update Information' %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
