{% extends 'reports/base_template.html' %}
{% load report_tags %}

{% block sidebar %}
    <nav>
        <ul class="nav nav-list">
            {% if adm_admin %}
                {% report_list 'corehq.apps.adm.dispatcher.ADMAdminInterfaceDispatcher' %}
            {% else %}
                {% report_list 'corehq.apps.adm.dispatcher.ADMSectionDispatcher' %}
                {% if request.couch_user.is_superuser %}
                <li class="nav-header">Superuser Options</li>
                <li><a href="{% url default_adm_admin_interface %}">Configure ADM Columns &amp; Reports</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
{% endblock %}