{% extends 'style/base_section.html' %}
{% load i18n %}
{% load hq_shared_tags %}
{% load djangular_tags %}
{% load crispy_forms_tags %}


{% block js %}{{ block.super }}
    <script src="{% static 'style/js/main.js' %}"></script>
{% endblock %}


{% block js-inline %}{{ block.super }}
<script type="text/javascript">
(function (angular, initial) {
    'use strict';
    var autoUpdateRuleApp = angular.module('addUpdateRuleApp', ['ng.django.rmi']);

    autoUpdateRuleApp.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    }]);

    autoUpdateRuleApp.config(function(djangoRMIProvider) {
        djangoRMIProvider.configure({% djng_current_rmi %});
    });

    autoUpdateRuleApp.controller('UpdateRuleController', function($scope, djangoRMI) {
        $scope.name = initial.name;
        $scope.case_type = initial.case_type;
        $scope.action = initial.action;
        $scope.update_property_name = initial.update_property_name;
        $scope.update_property_value = initial.update_property_value;
        $scope.server_modified_boundary = initial.server_modified_boundary;
        $scope.conditions_objs = initial.conditions;
        $scope.conditions = JSON.stringify(initial.conditions);
        $scope.case_property_map = {}

        $scope.get_typeahead_source = function(query, process) {
            process($scope.case_property_map[$scope.case_type] || []);
        };

        $scope.set_typeahead = function(element) {
            element.typeahead({
                source: $scope.get_typeahead_source,
                minLength: 0
            });
        };

        $scope.init_typeahead = function() {
            $('.case-property-typeahead').each(function() {
                $scope.set_typeahead($(this));
            });
        };

        $scope.$watch('conditions_objs', function(newValue, oldValue) {
            $scope.conditions = JSON.stringify(newValue);
            if(newValue.length > oldValue.length) {
                setTimeout($scope.init_typeahead, 100);
            }
        }, true);

        $scope.addCondition = function() {
            $scope.conditions_objs.push({});
            ga_track_event('Automatic Case Closure', 'Rules', 'Add Filter');
        };
        $scope.removeCondition = function(index) {
            $scope.conditions_objs.splice(index, 1);
            ga_track_event('Automatic Case Closure', 'Rules', 'Remove');
        };
        $scope.matchesDaysSince = function(condition) {
            return condition.property_match_type == 'DAYS';
        };
        $scope.matchesHasValue = function(condition) {
            return condition.property_match_type == 'HAS_VALUE';
        };
        $scope.showUpdateProperty = function() {
            return $scope.action == 'UPDATE_AND_CLOSE' || $scope.action == 'UPDATE';
        };

        angular.element(document).ready(function() {
            djangoRMI.get_case_property_map().success(function(response) {
                if(response.success) {
                    $scope.case_property_map = response.data;
                }
            });
            $scope.init_typeahead();
        });
    });
}(window.angular, {{ form.current_values|JSON }}));
</script>
{% endblock %}

{% block page_content %}
<div ng-app="addUpdateRuleApp" ng-controller="UpdateRuleController" ng-cloak>
    <div id="add-rule-form">
        {% crispy form %}
    </div>
    <script type="text/ng-template" id="conditions.tpl">
        <table class="table table-responsive" ng-show="conditions_objs.length > 0">
            <thead>
                <tr>
                    <th class="col-xs-2">{% trans "Case Property Name" %}</th>
                    <th class="col-xs-2">{% trans "Match Type" %}</th>
                    <th class="col-xs-1">{% trans "Value" %}</th>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-3">{% trans "Action" %}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="condition in conditions_objs track by $index" {% if form.conditions.errors %}class="has-error"{% endif %}>
                    {% angularjs %}
                    <td>
                        <input class="case-property-typeahead textinput textInput form-control"
                               type="text"
                               ng-model="condition.property_name" />
                    </td>
                    <td>
                        <select class="select form-control"
                                ng-model="condition.property_match_type">
                            <option value="DAYS">{% trans "after date by" %}</option>
                            <option value="EQUAL">{% trans "equals" %}</option>
                            <option value="NOT_EQUAL">{% trans "does not equal" %}</option>
                            <option value="HAS_VALUE">{% trans "has a value" %}</option>
                        </select>
                    </td>
                    <td>
                        <input class="textinput textInput form-control"
                               type="text"
                               ng-model="condition.property_value"
                               ng-hide="matchesHasValue(condition)" />
                    </td>
                    <td>
                        <span ng-show="matchesDaysSince(condition)">{% trans "days" %}</span>
                    </td>
                    <td>
                        <button type="button"
                                class="btn btn-danger"
                                ng-click="removeCondition($index);">
                            <i class="fa fa-times"></i> {% trans "Remove" %}
                        </button>
                    </td>
                    {% endangularjs %}
                </tr>
            </tbody>
        </table>
        {% if form.conditions.errors %}
        <div class="has-error row">
            <div class="col-sm-offset-3 col-md-offset-2">
                <span class="help-block">
                    <strong>{{ form.conditions.errors.0 }}</strong>
                </span>
            </div>
        </div>
        {% endif %}
        <div class="btn-toolbar" style="margin-bottom: 20px;">
            <button type="button"
                    class="btn btn-success"
                    ng-click="addCondition();">
                <i class="fa fa-plus"></i> {% trans "Add Filter" %}
            </button>
        </div>
    </script>
</div>
{% endblock %}
