{% extends "hqwebapp/base_section.html" %}
{% load i18n %}
{% load hq_shared_tags %}

{% requirejs_main 'data_interfaces/js/auto_update_rules' %}

{% block page_content %}
  {% initial_page_data 'rules' rules %}

  <div id="ko-auto-update-rules" class="ko-template">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tabs-update-rules">{% trans "Automatic Update Rules" %}</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="tabs-update-rules">
        {% include 'data_interfaces/partials/auto_update_rule_list.html' %}
      </div>
    </div>
  </div>

{% endblock %}
