{% extends 'style/base_section.html' %}
{% load i18n %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}

{% block js %}{{ block.super }}
    <script src="{% static 'style/js/main.js' %}"></script>
    <script src="{% static 'data_interfaces/js/case_rule_criteria.js' %}"></script>
    <script src="{% static 'data_interfaces/js/case_rule_actions.js' %}"></script>
{% endblock %}

{% block js-inline %}{{ block.super }}
<script>
    var criteria_model = new CaseRuleCriteria({
        filter_on_server_modified: '{{ criteria_form.filter_on_server_modified.value|default:"false"|escapejs }}',
        server_modified_boundary: {{ criteria_form.server_modified_boundary.value|default:"null"|safe }},
        custom_match_definitions: {{ criteria_form.custom_match_definitions.value|default:"[]"|safe }},
        property_match_definitions: {{ criteria_form.property_match_definitions.value|default:"[]"|safe }},
        filter_on_closed_parent: '{{ criteria_form.filter_on_closed_parent.value|default:"false"|escapejs }}',
    }, {{ criteria_form.constants|JSON }});
    $('#rule-criteria').koApplyBindings(criteria_model);
    criteria_model.load_initial();

    var actions_model = new CaseRuleActions({
        close_case: '{{ actions_form.close_case.value|default:"false"|escapejs }}',
        properties_to_update: {{ actions_form.properties_to_update.value|default:"[]"|safe }},
        custom_action_definitions: {{ actions_form.custom_action_definitions.value|default:"[]"|safe }},
    });
    $('#rule-actions').koApplyBindings(actions_model);
    actions_model.load_initial();
</script>
{% endblock %}

{% block page_content %}

<div id="rule-definition">
    <form class="form form-horizontal" method="POST" action="#">
        {% crispy rule_form %}
        {% crispy criteria_form %}
        {% crispy actions_form %}
        <div class="col-xs-1">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

{% include 'data_interfaces/partials/case_rule_criteria.html' with form=criteria_form %}
{% include 'data_interfaces/partials/case_rule_actions.html' with form=actions_form %}

{% endblock %}
