{% extends "appstore/appstore_base.html" %}
{% load hq_shared_tags %}
{% load hq_bootstrap_tags %}
{% load i18n %}

{% block js-inline %}{{ block.super }}
<style type="text/css">
.rating_static > span {
display: inline-block;
position: relative;
width: 1.1em;
}

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
follow these rules. Every browser that supports :checked also supports :not(), so
it doesn’t make the test unnecessarily selective */
.rating_static:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating_static:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating_static:not(:checked) > label:before {
    content: '★ ';
}

.rating_static > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating_static > label:active {
    position:relative;
    top:2px;
    left:2px;
}


.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating {
    float:left;
}

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
follow these rules. Every browser that supports :checked also supports :not(), so
it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
</style>

<script>
    ko.bindingHandlers.starRating = {
        init: function(element, valueAccessor) {
            $(element).addClass("starRating");
            for (var i = 0; i < 5; i++)
                $("<span>").appendTo(element);

            // Handle mouse events on the stars
            $("span", element).each(function(index) {
                $(this).hover(
                        function() { $(this).prevAll().add(this).addClass("hoverChosen") },
                        function() { $(this).prevAll().add(this).removeClass("hoverChosen") }
                ).click(function() {
                            var observable = valueAccessor();  // Get the associated observable
                            observable(index+1);               // Write the new rating to it
                        });
            });
        },

        update: function(element, valueAccessor) {
            // Give the first x stars the "chosen" class, where x <= rating
            var observable = valueAccessor();
            $("span", element).each(function(index) {
                $(this).toggleClass("chosen", index < observable());
            });
        }
    };
    function Review(title, rating, user, date_published, info) {
        var self = this;
        self.title = title;
        self.rating = rating;
        self.user = user;
        self.date_published = date_published;
        self.info = info;
    }

    function ReviewViewModel() {
        var self = this;

        self.reviews = ko.observableArray([]);
        self.newReview = ko.observable();

        self.addReview = function(title, rating, user, date_published, info) {
            self.reviews.push(new Review(title, rating, user, "N/A", info));

        self.submit = function(){
            $.ajax('{% url app_info domain %}', {
                type: 'post',
                data: { data: ko.toJSON(self.review)
            }
        }
        }
        $.ajax({
            type: owner._destroy ? 'delete' : 'post',
            url:
        }


    }
</script>
{% endblock %}

{% block breadcrumb %}
<li>{{ domain.copied_from.display_name }}</li>
{% endblock %}

{% block main_column %}

<div class="page-header">
        <h1>
            {{ domain.copied_from.display_name }}
            <small>by <a href="{% url orgs_landing domain.organization %}">{{ domain.organization_doc.title }}</a></small>
        </h1>
        <h3>
            Ratings: <span class="badge badge-info">{{ num_ratings }}</span>
        </h3>
            {% if average_rating %}
            <div class="span3">
            <fieldset class="rating_static" id="stars_average">
                <input type="radio" id="star5_average"  value="5" disabled=True {% if average_rating == 5 %} checked=True {% endif %} /><label for="star5_average" title="Rocks!">5 stars</label>
                <input type="radio" id="star4_average"  value="4" disabled=True {% if average_rating == 4 %} checked=True {% endif %} /><label for="star4_average" title="Pretty good">4 stars</label>
                <input type="radio" id="star3_average"  value="3" disabled=True {% if average_rating == 3 %} checked=True {% endif %} /><label for="star3_average" title="Meh">3 stars</label>
                <input type="radio" id="star2_average"  value="2" disabled=True {% if average_rating == 2 %} checked=True {% endif %} /><label for="star2_average" title="Kinda bad">2 stars</label>
                <input type="radio" id="star1_average"  value="1" disabled=True {% if average_rating == 1 %} checked=True {% endif %} /><label for="star1_average" title="Sucks big time">1 star</label>
            </fieldset>
            </div>
            </h3>
            {% endif %}
            <div class="span1">
                <h3>
                    <a class="btn" href="{% url corehq.apps.app_manager.views.default domain.name %}">Preview</a>
                </h3>
            </div>
    <br/>
</div>
<dl>
    <dt>{% trans 'Description' %}</dt>
    <dd>
        {% if domain.description %}
            {{ domain.description }}
        {% else %}
            None
        {% endif %}
    </dd>
    <dt>Category</dt>
    <dd>
        {% if domain.project_type %}
            {{ domain.project_type }}
        {% else %}
            None
        {% endif %}
    </dd>
    <dt>License</dt>
    <dd>{{ domain.get_license_display }}</dd>
    <dt>{% trans 'Applications' %}</dt>
    <dd>
        {% if domain.applications|length > 0 %}
            <ul class="nav nav-pills">
                {% for app in domain.applications %}
                <li><a href="{% url corehq.apps.app_manager.views.view_app domain app.id %}">{{ app.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            None
        {% endif %}
    </dd>
    <dt>{% trans 'Languages' %}</dt>
    <dd>
        {% if domain.languages %}
            {{ domain.readable_languages }}
        {% else %}
            None
        {% endif %}
    </dd>
    {% for field in fields %}
    <dt>{{ field.label }}</dt>
    <dd>
        {{ field.value }}
    </dd>
    {% endfor %}
    <dt>
        Copy this snapshot into a new project
    </dt>
    <dd>
        <form class="form-inline" method="post" action="{% url domain_copy_snapshot domain %}">
            <fieldset>
                <div class="control-group{% if error_message %} error{% endif %}">
                    <input type="text" class="span3" id="new_domain_name"
                           name="new_domain_name" value="{{ new_domain_name }}" placeholder="{% trans 'New project name' %}">
                    {% if error_message %}
                    <span class="help-inline">{{ error_message }}</span>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Create New Project</button>
                </div>
            </fieldset>
        </form>
    </dd>
</dl>

<hr/>
        <div>
            <div>
                <form action="{% url app_info domain=domain.name %}" method="post">
                    {% if versioned %}
                    <input type="hidden" name="versioned" value="">
                    {% else %}
                    <input type="hidden" name="versioned" value="1">
                    {% endif %}
                    <button type="submit" class="btn btn-primary">{% if versioned %} View all reviews {% else %} Only view reviews from current version{% endif %}</button>
                </form>
            </div>
            <br/><br/>
            <div><h3>Reviews for {% if versioned %} the current version of {% endif %} {{ domain.copied_from.display_name }}</h3></div>
            <br/>
            <div><a href="#add_review_modal" data-toggle="modal" class="btn btn-danger">Write a Review</a></div>
        </div>
        {% for review in reviews %}
        <hr/>
        <div class="row">
            <div class="span1">
                <h4 style="padding-left:25px">{{ forloop.counter }})</h4>
            </div>
            <div class="span6">
        <h4>{{ review.title }}</h4>
        <div>
            <p><small> by {{ review.nickname }} on {{ review.date_published }}</small></p>
            <fieldset class="rating_static" id="stars{{ review.nickname }} ">
                <input type="radio" id="star5{{ review.nickname }}"  value="5" disabled=True {% if review.rating == 5 %} checked=True {% endif %} /><label for="star5{{ review.nickname }}" title="Rocks!">5 stars</label>
                <input type="radio" id="star4{{ review.nickname }}"  value="4" disabled=True {% if review.rating == 4 %} checked=True {% endif %} /><label for="star4{{ review.nickname }}" title="Pretty good">4 stars</label>
                <input type="radio" id="star3{{ review.nickname }}"  value="3" disabled=True {% if review.rating == 3 %} checked=True {% endif %} /><label for="star3{{ review.nickname }}" title="Meh">3 stars</label>
                <input type="radio" id="star2{{ review.nickname }}"  value="2" disabled=True {% if review.rating == 2 %} checked=True {% endif %} /><label for="star2{{ review.nickname }}" title="Kinda bad">2 stars</label>
                <input type="radio" id="star1{{ review.nickname }}"  value="1" disabled=True {% if review.rating == 1 %} checked=True {% endif %} /><label for="star1{{ review.nickname }}" title="Sucks big time">1 star</label>
            </fieldset>

        </div>
        <div>{{ review.info }}</div>
            </div>
        </div>
        {% endfor %}

{% endblock %}





{% block modals %}{{ block.super }}
<div id="add_review_modal" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Write a review for {{ domain.copied_from.display_name }}</h3>
    </div>
    <form class="form-horizontal" method="post" action="{% url app_info domain %}">
        <div class="modal-body">
            <fieldset>
                <legend>Review This App</legend>
                {% for global_error in form.non_field_errors %}
                <div class="alert alert-error">
                    {{ global_error }}
                </div>
                {% endfor %}
                <div class="control-group">
                    <label class="control-label">Rating</label>
                    <div class="controls">
                        <fieldset class="rating" title="Rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                            <input type="radio" id="star1" name="rating" value="1" checked=True /><label for="star1" title="Sucks big time">1 star</label>
                        </fieldset>
                    </div>
                </div>
                {% for field in form.visible_fields %}
                <div class="control-group{% if field.errors %} error{% endif %}">
                    <label class="control-label" for="{{ field.id }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        <span class="help-inline"></span>
                        {% for error in field.errors %}
                        <span class="help-inline">{{ error }}</span>
                        {% endfor %}
                        {% if field.help_text %}
                        <p class="help-block">
                            {{ field.help_text }}
                        </p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </fieldset>
            <input type="hidden" name="versioned" value="{{ versioned }}">
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Cancel</a>
            <button type="submit" class="btn btn-primary">Post</button>
        </div>
    </form>
</div>
{% endblock %}