{% extends "hqwebapp/two_column.html" %}
{% load hq_shared_tags %}
{% load hq_bootstrap_tags %}
{% load i18n %}

{% block sidebar %}
<ul class="nav nav-list">
    <li class="nav-header">Search</li>
    <li><form action="{% url appstore_search_snapshots %}" method="get" class="form-search">
        <input type="text" name="q" placeholder="Search for apps..." value="{{ search_query }}" class="search-query" style="width: 80%" />
    </form></li>
    <li class="nav-header">Sort by</li>
    <li><a href="{% url appstore_filter_choices "organization" %}">Organization</a></li>
    <li><a href="{% url appstore_filter_choices "category" %}">Category</a></li>
    <li><a href="{% url appstore_filter_choices "license" %}">License</a></li>
    <li><a href="{% url appstore_filter_choices "region" %}">Region</a></li>
</ul>
{% endblock %}

{% block page-title %}
<ul class="breadcrumb">
    <li>
        <strong><a href="{% url appstore %}">App Store</a></strong>
        {% if search_query or filter_by or domain %}
            <span class="divider">&gt;</span>
        {% endif %}
    </li>
    {% block breadcrumb %}
    {% endblock %}
    {% if search_query %}
        <li>Searching for "{{ search_query }}"</li>
    {% endif %}
    {% if filter_by and filter %}
        <li>In {{ filter_by }} "{{ filter }}"</li>
    {% endif %}
</ul>
{% endblock %}

{% block main_column %}
<!--<form action="{% url appstore_search_snapshots %}" method="get" class="form-search">
    <div class="controls">
        <div class="input-append">
            <input type="text" name="q" placeholder="Search for apps..." value="{{ search_query }}" class="search-query" /><button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>
<hr/>-->

<div class="hq-accordion-control" id="reportFiltersAccordion">
    <div class="accordion-heading">
        <a href="#appFilters" data-toggle="collapse">Advanced Filters</a>
        <div id="extra-filter-info" class="accordion-extra"></div>
    </div>
    <div id="appFilters" class="accordion-body collapse">
        <div class="accordion-inner">
            <form method="get" id="paramSelectorForm" class="form-horizontal">
                <div id="app-filters">
                 <!--the get form goes here-->
                    <fieldset>
                        {% bootstrap_form_errors form %}
                        {% bootstrap_fieldset form "App Filters" %}
                    </fieldset>
                </div>
                <div class="form-actions">
                    <button type="submit" data-loading-text="Searching App Store..." data-standard-text="Update Filters" class="btn btn-large disabled">Update Filters</button>
                    <a href="#appFilters" data-toggle="collapse" class="btn btn-large">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% if search_query or filter_by %}
    <h3>{{ apps|length }} result{{ apps|pluralize }}</h3>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Organization</th>
            <th>Category</th>
            <th>Copies</th>
            <th>License</th>
            <th>Last updated</th>
        </tr>
    </thead>
    <tbody>
    {% for app in apps %}
    <tr>
        <td><a href="{% url app_info app.name %}">{{ app.copied_from.display_name }}</a></td>
        <td>
            {% if app.organization %}
                <a href="{% url orgs_landing app.organization %}">{{ app.organization_doc.title }}</a>
            {% else %}
                None
            {% endif %}
        </td>
        <td>{{ app.project_type }}</td>
        <td>{{ app.copies_of_parent|length }}</td>
        <td>{{ app.get_license_display }}</td>
        <td>{{ app.snapshot_time }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}