{% load hq_shared_tags %}

<div id="js-confirmation-modal" class="modal fade module-modal" role="dialog" tabindex='-1'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="js-modal-title modal-title"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans_html_attr "Close" %}"></button>
      </div>
      <div class="js-modal-body modal-body">
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                id="js-confirmation-confirm"
                data-bs-dismiss="modal"></button>
        <button type="button"
                class="btn btn-outline-primary"
                id="js-confirmation-cancel"
                data-bs-dismiss="modal"></button>
      </div>
    </div>
  </div>
</div>
