{% load hq_shared_tags %}
{% load i18n %}

<script type="text/template" id="user-row-view-template">
  <td class="module-column module-column-icon">
    <div class="module-icon-container module-icon-user">
      <i class="fa fa-user module-icon" aria-hidden="true"></i>
    </div>
  </td>
  <td class="module-column module-column-name">
    <h3>
      <b><%- username %></b>
      <span><%- first_name + ' ' + last_name %></span>
      <i><small><%- location ? location.name + ' (' + location.location_type + ')' : '' %></small></i>
    </h3>
  </td>
</script>

<script type="text/template" id="user-data-template">
  <table class="table module-table module-table-case-detail">
    <tbody>
    <tr>
      <th>{% trans "Name" %}</th>
      <td><%- user.first_name + ' ' + user.last_name %></td>
    </tr>
    <% if (user.location) { %>
    <tr>
      <th>{% trans "Organization" %}</th>
      <td><%- user.location.name %></td>
    </tr>
    <tr>
      <th>{% trans "Organization Type" %}</th>
      <td><%- user.location.location_type %></td>
    </tr>
    <% } %>
    <tr>
      <th>{% trans "Date Registered" %}</th>
      <td><%- user.dateRegistered %></td>
    </tr>
    <% _.each(user.customFields, function(value, key) { %>
    <% if (!key.startsWith('commcare_') && !key.startsWith('commtrack') && value) { %>
    <tr>
      <th><%- key %></th>
      <td><%- value %></td>
    </tr>
    <% } %>
    <% }) %>
    </tbody>
  </table>

</script>
<script type="text/template" id="restore-as-banner-template">
  {% if request|can_use_restore_as %}
    <% if (restoreAs) { %>
    <div class="restore-as-banner module-banner">
      <%= message %>
    </div>
    <% } %>
  {% endif %}
</script>
