{% extends "registration/base.html" %}
{% block title %}Account Confirmed{% endblock title %}

{% block step-title %}
    {{ message_title }}{% if message_subtitle %} <small>{{ message_subtitle }}</small>{% endif %}
{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block registration-content %}
    {% if message_body %}<p>{{ message_body }}</p>{% endif %}
    {% if is_error %}
        <p>You may try <a href="{% url registration_resend_domain_confirmation %}">resending the confirmation email</a>.</p>
        <p>In the meantime, please explore the <a href="/a/public/">CommCare HQ Example Project.</a></p>
    {% else %}
        {% if request.user.is_authenticated %}
            <p>You may now access your project  <a href="{% url reports_home requested_domain %}"><strong>{{ requested_domain }}</strong></a>.</p>
        {% else %}
            <p>You may access your project as soon as you sign in:  <a href="{% url reports_home requested_domain %}">Sign in and go to <strong>{{ requested_domain }}</strong></a>.</p>
        {% endif %}
    {% endif %}
{% endblock %}
