{% extends "registration/base.html" %}
{% load i18n %}

{% if track_domain_registration %}
{% block js-inline %}{{ block.super }}
<script>
    $(function () {
        analytics.workflow("Created new project");
    });
</script>
{% endblock js-inline %}
{% endif %}

{% block title %}Confirmation Email Sent{% endblock title %}

{% block step-title %}
    Confirm Account {% if alert_message %}<small>{{ alert_message }}</small>{% endif %}
{% endblock %}

{% block registration-content %}
    <div class="alert alert-info">
        <strong>{% blocktrans with request.user.username as username %}
            An email was just sent to {{ username }}.
        {% endblocktrans %}</strong>
        {% blocktrans %}
            Please visit the link provided in the email to activate your account,
            so you can start using your new {{ SITE_NAME }} project!
        {% endblocktrans %}
    </div>
    {% include "registration/partials/confirmation_waiting_actions.html" %}
{% endblock %}
