{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans "Create an Account" %}{% endblock title %}
{% block step-title %}{% trans "Create an Account" %}{% endblock %}
{% block js-inline  %}{{ block.super }}
    {% url "eula_basic" as eula_url %}
    {% include 'hqstyle/partials/load_into_modal.html' with modal_id="eulaModal" load_from=eula_url %}
{% endblock %}

{% block registration-content %}
    <form name="form" class="form-horizontal" method="post" action="{% url "register_user" domain_type=domain_type %}?">
        {% csrf_token %}
        {% for global_error in form.non_field_errors %}
            <div class="alert alert-error">
                {{ global_error }}
            </div>
        {% endfor %}
        <fieldset>
            {% include "registration/partials/field.html" with field=form.full_name %}
            {% include "registration/partials/field.html" with field=form.email %}
            {% include "registration/partials/field.html" with field=form.password %}
            {% include "registration/partials/field.html" with field=form.hr_name %}
            {% include "registration/partials/field.html" with field=form.eula_confirmed %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-large disable-on-submit">
                {% trans "Create Account" %}
            </button>
        </div>
    </form>
{% endblock %}
{% block modals %}{{ block.super }}
    {% include 'registration/partials/eula_modal.html' %}
{% endblock %}
