<!DOCTYPE html>
{% load tabs_tags %}
{% load permissions %}
{% load i18n %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CommCare HQ</title>

        <link rel="stylesheet" href="{{ STATIC_URL }}hqwebapp/css/main.css?version=4" />
    
        <script type="text/javascript" src="{{ STATIC_URL }}hqwebapp/javascripts/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}hqwebapp/javascripts/jquery-ui/jquery-ui-1.8.14.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}hqwebapp/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}hqwebapp/js/sugar.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}hqwebapp/js/main.js?version=5"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}hqwebapp/js/shield.js?version=1"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}hqwebapp/js/help.js?version=2"></script>

        <link rel="shortcut icon" href="{{ STATIC_URL }}hqwebapp/img/favicon.png" />


        {% block head %}
        {% endblock %}

        <script>
            $(function () {
                $("#main").show();
            })
        </script>

        {% block page_imports %}
        {% endblock %}

        {% if GOOGLE_ANALYTICS_ID %}
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ID }}']);
                _gaq.push(['_trackPageview']);

                (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            </script>
        {% endif %}
    </head>
    <body>
        {% if user.is_authenticated %}
        <div id='bug-report-bar'>
            <a id='bug-report-toggle' href="#">
                <span class="ui-icon ui-icon-comment" title="Report an Issue"></span>Report an Issue
            </a>
        </div>
        <div id="bug-report-body">
            <p>Report an Issue</p>
            <form id='bug-report-form' action="{% url bug_report %}">
                <input type="hidden" id="bug-report-url" name="url"/>
                <input type="hidden" id="bug-report-username" name="username" value="{{ user.username }}"/>
                <input type="hidden" id="bug-report-domain" name="domain" value="{{ domain }}"/>
                <input type="hidden" id="bug-report-app_id" name="app_id" value="{{ app.id }}"/>
                <table>
                    <tr>
                        <th><label for="bug-report-subject">Short Description:</label></th>
                        <td><input type='text' id='bug-report-subject' name='subject'/></td>
                    </tr>
                    <tr>
                        <th><label for="bug-report-now">Time of Occurrence:</label></th>
                        <td>
                            <select id='bug-report-now' name='now'>
                                <option value="true">Just Now</option>
                                <option value="false">Earlier</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="bug-report-when">When:</label>
                        </th>
                        <td>
                            <input type="text" id="bug-report-when" name="when"/>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="bug-report-message">Message:</label></th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea id="bug-report-message" name="message"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="bug-report-buttons">
                                <a href="#" id="bug-report-cancel" class="button">Cancel</a>
                                <a href="#" id="bug-report-submit" class="button">Send Report</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        {% endif %}
        <div id="wrapper">
            <header>
                <div class="fixed-width">
                    <a id="logo" href="{% url homepage %}">
                        CommCare HQ
                    </a>
                    <nav>
                        <ul id="top-nav">
                            {% block tabs %}
                                <ul id="tabs">
                                    {% if domain %}
                                        {% get_tabs as tabs %}
                                        {% for tab in tabs %}
                                            {% if tab.visible %}
                                            {# hack for domain admins only seeing domain tab #}
                                            {% ifequal tab.caption "My Domain" %}
                                            {% if request.couch_user and request.couch_user|is_admin:domain %}
                                            {% if tab.is_active %}
                                                <li class="app-{{ tab.name }} active"><a href="{{ tab.url }}">{{ tab.caption }}</a></li>
                                            {% else %}
                                                <li class="app-{{ tab.name }}"><a href="{{ tab.url }}">{{ tab.caption }}</a></li>
                                            {% endif %}
                                            {% endif %}
                                            {# endhack for domain admins only seeing domain tab #}
                                            {% else %}
                                            {% if tab.is_active %}
                                                <li class="app-{{ tab.name }} active"><a href="{{ tab.url }}">{{ tab.caption }}</a></li>
                                            {% else %}
                                                <li class="app-{{ tab.name }}"><a href="{{ tab.url }}">{{ tab.caption }}</a></li>
                                            {% endif %}
                                            {% endifequal %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            {% endblock %}
                        </ul>
                    </nav>
                    {% if request.user.is_authenticated %}
                        <div id="logged-in">
                            <p>
                            Signed in
                            {% if domain %}
                                to <strong>{{ domain }}</strong>
                            {% endif %}
                            as <strong>{{ user.username }}</strong>
                            {% with request.couch_user.role_label as role %}
                                {% if role %}
                                    ({{ role }})
                                {% endif %}
                            {% endwith %}
                             | <a href='/accounts/logout'>Sign Out</a>
                            </p>
                        </div>
                        
                    {% else %}
                    	<p style="float:right;">Already have an account? <a href="{% url login %}">Sign in</a></p>
                    {% endif %}
                </div>
            </header>
            <div id="main" class="fixed-width">
                {% block messages %}
                {% if messages %}
                    <ul class="message">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {% if 'html' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% endblock %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer>
            <div class="fixed-width span-12">
                {% if domain %}
                <p id="help">Need help? Try the <a href="http://wiki.commcarehq.org">wiki</a> and join the <a href="http://groups.google.com/group/commcare-users">commcare-users</a> mailing list.</p>
                {% endif %}
            </div>
            <div class="fixed-width span-12 last">
                <p id="copyright">© 2011 by <a href="http://www.dimagi.com/">Dimagi, Inc</a>.</p>
            </div>
        </footer>
    </body>
</html>