{% load tabs_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CommCare HQ</title>
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}hqwebapp/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}hqwebapp/js/main.js"></script>

        <link rel="stylesheet" href="{{ STATIC_URL }}hqwebapp/css/main.css" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}hqwebapp/img/favicon.png" />

        {% block head %}
        {% endblock %}

        {% block page_imports %}
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <header>
                <div class="fixed-width">
                    <a id="logo" href="/{% if domain %}a/{{ domain }}/{% endif %}">
                        CommCare HQ
                    </a>
                    <nav>
                        <ul id="top-nav">
                            {% block tabs %}
                                <ul id="tabs">
                                    {% if domain %}
                                        {% get_tabs as tabs %}
                                        {% for tab in tabs %}
                                            {% if tab.visible %}
                                            {% if tab.is_active %}
                                                <li class="app-{{ tab.name }} active">{{ tab.caption }}</li>
                                            {% else %}
                                                <li class="app-{{ tab.name }}"><a href="{{ tab.url }}">{{ tab.caption }}</a></li>
                                            {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                        <li><a href='/accounts/logout'>Sign Out</a></li>
                                    {% endif %}
                                </ul>
                            {% endblock %}
                        </ul>
                    </nav>
                    {% if request.user.is_authenticated %}
                        <p id="logged-in">
                            Signed in
                            {% if domain %}
                                to <strong>{{ domain }}</strong>
                            {% endif %}
                            as <strong>{{ user.username }}</strong>
                        </p>
                    {% else %}
                    	<p style="float:right;"><a href="{% url login %}">Sign in</a></p>
                    {% endif %}
                </div>
            </header>
            <div id="main" class="fixed-width">
                {% block messages %}
                {% if messages %}
                    <ul class="message">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% endblock %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer>
            <div class="fixed-width">
                <p id="copyright">© 2011 by <a href="http://www.dimagi.com/">Dimagi, Inc</a>.</p>
            </div>
        </footer>
    </body>
</html>