{% extends "login_and_password/login.html" %}
{% load i18n %}
{% load hq_shared_tags %}
{% load compress %}

{% block title %}{% trans "Your session has expired" %}{% endblock %}

{# hide navigation block #}
{% block navigation %}{% endblock %}

{# hide messages block #}
{% block messages %}{% endblock %}

{# hide footer block #}
{% block footer %}{% endblock %}

{# hide any surprise modals #}
{% block modals %}{% endblock %}

{% block additional_initial_page_data %}
  {% initial_page_data 'is_session_expiration' is_session_expiration %}
{% endblock %}
