{% extends 'hqwebapp/base.html' %}

{# stuff to override old styles -- remove when everything is migrated over #}
{% block oldstyle_tag %}{% endblock %}
{% block oldstyle_imports %}{% endblock %}
{% block oldstyle_hack_start %}{% endblock %}
{% block oldstyle_hack_end %}{% endblock %}

{% block layout_style %}hq-double-col{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="sidebar span2">
            {% block sidebar %}{% endblock %}
        </div>
        <div class="hq-{% if layout_flush_content %}flush-{% endif %}content span10">
            {% block main_column %}{% endblock %}
        </div>
    </div>
{% endblock content %}
