{% extends "intel-layout.html" %}
{% load i18n %}
{% load mainreport_tags %}

{% load intel_tags %}

{% block tabs %}{% endblock %}


{% block content %}
	<div style="margin-top: 100px; text-align: center">
		<form action="/intel/all" method="get" style="padding-left: 15px">
		    <input type="text" size="40" name="search" value=""/>&nbsp;
		    <input type="submit" value="Search for Pregnant Mother"/>
		</form>
	</div>
	<br /><br />
	<div style="float: right; width: 95%; text-align: center; margin-bottom: 200px">
		{% tabs "home" %}
	</div>
	
{% endblock %}
