<div>[%= renderCondition(actions.open_case.condition) %]</div>
<div>
    Name according to question
    [%= renderOptions(getQuestions("all"), actions.open_case.name_path, 'name_path') %]
</div>
<div>
    [% if (actions.open_case.external_id) { %]
        (Optional) Set External ID according to [%= renderOptions(getQuestions("all"), actions.open_case.external_id, 'external_id') %]
    [% } %]
</div>