<div>
    Open referral(s) according to question
    [%= renderOptions(getQuestions("select select1"), actions.open_referral.name_path, "name_path") %]
</div>
<div>
    Set followup date to
    [%= renderOptions(getQuestions("input"), actions.open_referral.followup_date, "followup_date") %]
</div>