<table>
    <tr>
        <th></th>
        <th>Question</th>
        <th>Case Property</th>
    </tr>
    [% for(var p in actions.update_case.update) { %]
        <tr class="action-update">
            <td></td>
            <td>
                [%= renderOptions(getQuestions("all"), actions.update_case.update[p], 'action-update-value') %]
            </td>
            <td>
                [%
                    var value = actions.update_case.update[p];
                    value = value.split('/');
                    value = value[value.length-1];
                %]
                [% if (edit) { %]
                    <input class="code" type="text" name="action-update-key" value="[%= p || value %]" />
                [% } else { %]
                    <code>[%= p %]</code>
                [% } %]
            </td>
            <td>
                [% if (p === "") { %]
                    <span class="invalid">Can't be blank</span>
                [% } else if (!/^[a-zA-Z][\w_-]*$/.test(p)) { %]
                    <span class="invalid">Must start with letter and contain only letters, numbers, '-', and '_': "[%= p %]"</span>
                [% } else if (reserved_words.indexOf(p) !== -1) { %]
                    <span class="invalid">Can't name a case property "[%= p %]"</span>
                [% } else if (p !== value) { %]
                    <span class="">[%= value %]?</span>
                [% } %]
            </td>
        </tr>
    [% } %]
    [% if (edit) { %]
        <tr class="action-update">
            <td></td>
            <td>
                [%= renderOptions(getQuestions("all"), "", 'action-update-value') %]
            </td>
            <td><input class="code" type="text" name="action-update-key" /></td>
        </tr>
    [% } %]

</table>