{% load i18n %}

<div class="modal-header">
  <h5 class="modal-title">
    {% trans "Changes Applied" %}
  </h5>
</div>
<div class="modal-body">
  <div class="alert alert-success">
    {% include "data_cleaning/status/partial/task_progress_bar.html" %}
    <i class="fa-solid fa-check-double me-1"></i>
    {# prettier-ignore-start #}
    {% blocktrans count count=num_records_changed %}
      Finished processing changes, updated 1 case.
    {% plural %}
      Finished processing changes, updated {{ num_records_changed }} cases.
    {% endblocktrans %}
    {# prettier-ignore-end #}
  </div>
  {% if active_session %}
    <p class="lead">
      {% blocktrans %}
        Resume this session with the same columns and filters?
      {% endblocktrans %}
    </p>
    <div class="alert alert-warning">
      <strong>{% trans "Important" %}:</strong>
      {% blocktrans %}
        This will replace your existing active session with a new one. Any edits you made will be lost.
      {% endblocktrans %}
    </div>
  {% else %}
    <p class="lead">
      {% blocktrans %}
        Continue editing <strong class="fw-bold">{{ case_type }}</strong> cases with the same columns and filters?
      {% endblocktrans %}
    </p>
  {% endif %}
</div>
<div class="modal-footer">
  <a
    class="btn btn-outline-primary"
    href="{{ exit_url }}"
  >
    {% trans "Exit session" %}
  </a>
  <button
    type="button"
    class="btn btn-primary"
    hx-post="{{ request.path_info }}"
    hq-hx-action="resume_session"
    hx-swap="none"
    hx-disabled-elt="this"
  >
    {% if active_session %}
      {% trans "Resume this session" %}
    {% else %}
      {% trans "Continue editing" %}
    {% endif %}
  </button>
</div>
