{% extends "data_cleaning/status/base_modal_body.html" %}
{% load i18n %}

{% block htmx-attrs %}
  hx-get="{{ request.path_info }}"
  hx-swap="outerHTML"
  hx-trigger="every 0.5s from:load"
  hq-hx-action="poll_session_status"
{% endblock htmx-attrs %}

{% block modal-header %}
  {% trans "Applying Changes..." %}
{% endblock modal-header %}

{% block task-status-text %}
  <div class="d-flex justify-content-between">
    <div>
      <i class="fa-solid fa-check-double me-1"></i>
      {% blocktrans %}
        Applying changes, please wait...
      {% endblocktrans %}
    </div>

    {# artificial buffer to let change feed catch up #}
    {% if is_task_complete %}
      <div>
        <i class="fa-solid fa-spinner fa-spin"></i>
        {% blocktrans %}
          Database is refreshing...almost there!
        {% endblocktrans %}
      </div>
    {% endif %}
  </div>
{% endblock task-status-text %}
