{% extends base_template %}
{% load i18n %}
{% load submission_tags %}
{% block title %}{% trans "All Submissions" %}{% endblock %}

<!-- stylesheets -->
{% block page_stylesheets %}
    <link type="text/css" rel="stylesheet" href="/static/receiver/stylesheets/receiver.css" />
{% endblock %}

{% block content %}
<h2>{% trans "All Submissions" %}</h2>
<p><a href="{% url receiver.views.orphaned_data %}">View All Unrecognized Submissions Here</a></p>
Submissions with IDs highlighted in <span class="orphan">red</span> could not be recognized. Please make sure a matching xform has been registered on this site.<br>
Submissions with IDs highlighted in <span class="duplicate">orange</span> were duplicates of previously submitted forms.<br>
Submissions with IDs highlighted in <span class="deleted">blue</span> were manually deleted from the xform processing tables.<br><br>
   <table>
   <thead>
    <tr>
        <th>ID</th><th>Date Received</th><th>From</th><th>Size (bytes)</th><th>Actions</th><th>Attachments</th>
    </tr>
   </thead>
   {% for submission in submissions.object_list %}      
   	<tr class="{% cycle 'odd' 'even' %}">
   		<td><a href="{%url receiver.views.single_submission submission.id %}">
		    {% if submission.is_duplicate or submission.is_orphaned or submission.is_deleted %}
		    {% if submission.is_duplicate %} 
               <span class="duplicate">
	        {% else %}{% if submission.is_orphaned %}
		       <span class="orphan">
		    {% else %}{% if submission.is_deleted %}
		       <span class="deleted">
		    {% endif %}{% endif %}{% endif %}
		       {{submission.id}}
		       </span>
		    {% else %}
			   {{submission.id}}
		    {% endif %}

   		</a></td>
   		<td>{{submission.submit_time|date}} - {{submission.submit_time|time}}</td>
   		<td>{{submission.submit_ip}}</td>
   		<td>{{submission.bytes_received}}</td>
   		<td><div class="table-list">
   		    <ul>{% include "receiver/partials/submission_actions.html" %}</ul>
   		    </div>
   		</td>
        <td>{% get_attachments_links submission %}</td>
   	</tr>
   {% endfor %}
   </table>

{% with submissions as data %}
{% include "hq/partials/pagination.html" %}
{% endwith %}

{% endblock %}
