<!DOCTYPE HTML>
<html>
<body>
<strong>Aggregated list of all PillowTop errors which have failed in the last hour after max retry attempts.</strong>

<table>
    <thead>
        <tr>
            <th>Pillow</th>
            <th>Error</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                <td>{{ row.0 }}</td>
                <td>{{ row.1 }}</td>
                <td><a href="{{ url }}?startdate={{ startdate|date:"Y-m-d" }}&enddate={{ enddate|date:"Y-m-d" }}&pillow_error_pillow={{ row.0 }}&date_prop=date_last_attempt&pillow_error_error={{ row.1 }}&filter_attempts=True">{{ row.2 }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>