.dashboard-title {
    color: #0a6aa1;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.fixed-title {
    position: fixed;
    z-index: 2;
    width: inherit;
}

.fixes-filters {
    position: fixed;
    z-index: 1;
    top: 42px;
    background-color: white;
    width: 83%;
    padding: 10px 0;
}

.fixed-dots {
    position: fixed;
    bottom: 0;
    width: 83%;
    background-color: white;
    padding: 5px;
}

.filters {
    padding: 5px;
    margin-bottom: 20px;
}

.location-breadcump {
    color: #0a6aa1;
    cursor: pointer;
    font-weight: bold;
}

.right {
    float: right;
    margin-right: 15px;
}

.filters > div {
    display: inline-block;
    min-width: 200px;
}

.breadcrumb {
    background-color: #ffffff !important;
}

.report-cell {
    margin: 10px;
    background-color: rgb(0, 98, 115) !important;
    border-radius: 10px;
}

nvd3 > svg {
    margin: 0 auto !important;
}

@media print {
    .white, .fa, .fa-info-circle:before, .number, .second_number {
      color: white !important;
    }

    table {
        page-break-after: always;
    }

    .break {
        page-break-after: always;
    }

    .report-content {
        width: 1152px !important;
    }

    .fa-arrow-down:before {
        color: #c61400 !important;
    }

    .fa-arrow-up:before {
        color: #07c600 !important;
    }

    .report-cell {
        height: 200px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
      .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
           float: left;
      }

      .col-md-12 {
           width: 100%;
      }

      .col-md-11 {
           width: 91.66666666666666%;
      }

      .col-md-10 {
           width: 83.33333333333334%;
      }

      .col-md-9 {
            width: 75%;
      }

      .col-md-8 {
            width: 66.66666666666666%;
      }

       .col-md-7 {
            width: 58.333333333333336%;
       }

       .col-md-6 {
            width: 50%;
       }

       .col-md-5 {
            width: 41.66666666666667%;
       }

       .col-md-4 {
            width: 33.33333333333333%;
       }

       .col-md-3 {
            width: 25%;
       }

       .col-md-2 {
              width: 16.666666666666664%;
       }

       .col-md-1 {
              width: 8.333333333333332%;
        }

}

.breadcrump-element {
    font-weight: bold;
    font-size: 18px;
    color: #0a6aa1;
}

.less-padding {
    padding: 6px 2px;
}

.black {
    color: #0a0a0a;
}

.red {
    color: #d60000;
}

.green {
    color: #009811;
}

.yellow {
    color: #f29500;
}

.dark_grey {
    background-color: #a9a4a4 !important;
}

.left-menu {
    height: 100%;
    position: fixed;
    background: #373737;
    color: #ffffff;
    font-size: 14px;
    padding-right: 0;
    padding-left: 0;
}

.navbar-default {
    margin-bottom: 0;
    height: 50px;
}

.black:hover {
    color: #0a0a0a;
}

.main-container {
    height: auto;
    position: absolute;
    right: 0;
}

.crop {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: 97%;
}

.report-content {
    color: #ffffff !important;
    margin-top: 110px;
    padding: 20px 20px 80px;
}

.no-margin {
    margin: 0 !important;
}

ul {
  list-style-type: none;
}
li {
    padding: 10px;
}

.nav-list > li {
    padding-left: 20px;
}
.pointer {
    cursor: pointer;
}

.hq-icon {
    background-image: url(/static/hqstyle/images/commcare-flower.png);
    background-size: contain;
    width: 38px;
    height: 38px;
}

.navigation-directive li > a {
    color: #ffffff;
    text-decoration: none;
    padding: 0;
}

.navigation-directive li.active {
    background-color: #545454;
    border-right: 4px solid #00a8c6;
}

.navigation-directive li > a:hover, a:focus {
    color: #ffffff;
    background-color: inherit !important;
    text-decoration:none;
    cursor:pointer;
}

.dot {
    background-color: rgba(255, 187, 0, 0.30);
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.dot-active {
    background-color: #FFA500 !important;
}

.dot-menu {
    margin: 0 auto;
    text-align: center;
}

.dot {
    margin: 0 auto;
}

.dot-menu-dot {
    margin: 0 auto;
    text-align: center;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dot-menu-item {
    display: inline-block;
    width: 15%;
    margin: 0 auto;
    text-align: center;
    vertical-align: text-top;

}

.popover-content {
    color: #000000 !important;
}

.margin10 {
    margin: 10px;
}

.margin-top10 {
    margin: 10px 0 0 0;
}

h4 {
    font-weight: bold;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.fa-arrow-down {
    color: #c61400;
}

.fa-arrow-up {
    color: #07c600;
}

.see-more {
    float: right;
    margin-right: 40px;
}

.see-more > a {
    color: #ffffff;
}

.dropdown-menu {
    z-index: 4;
}

.dropdown {
    padding: 2px;
}

.title {
    font-weight: bold;
    font-size: 15px;
}

.number {
    font-weight: bold;
    font-size: 45px;
}

.second_number {
    font-size: 28px;
}

.report-cell > .row {
    margin: 0 auto;
    height: 100%;
    padding: 10px;
}

.indie-map-directive {
    position: relative;
    margin: 0 auto;
}

@media screen and (min-width: 1501px) {
    .indie-map-directive .datamaps-legend {
        z-index: -1;
    }
}

@media screen and (min-width: 901px) and (max-width: 1500px) {
    .indie-map-directive .datamaps-legend {
        z-index: -1;
    }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    .indie-map-directive .datamaps-legend {
        z-index: -1;
    }
}

.small-table {
    padding: 0;
    margin: 15px;
    border: 1px solid #D4D4D4;
}

.small-table > .small-table-title {
    background-color: #00A8C6 !important;
    font-size: 30px;
    font-weight: bold;
    color: white !important;
    margin: 0 auto;
    text-align: center;
}

.kpi {
    height: 170px;
}

.kpi-content {
    position: relative;
    height: 100%;
}

.kpi-percents {
    bottom: 0;
    width: 100%;
    position: absolute;
}

.kpi-numbers {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.small-table > .small-table-record {
    margin: 5px;
    line-height: 36px;
}

.small-table > .small-table-record > span{
    vertical-align: middle;
}

.circle-green {
    background-color: green !important;
    border-radius: 30px;
    font-size: 20px;
    color: white !important;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
}

.circle-red {
    background-color: red !important;
    border-radius: 30px;
    font-size: 20px;
    color: white !important;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
}

.circle>span {
    vertical-align: middle;
}

.slider-image {
    margin: 0 15px;
    height: 100%;
}
.carousel-indicators {
    display: none;
}

.carousel-control, .carousel-control:focus {
    background-image: none;
    width: 0;
    color: #0a0a0a;
    opacity: .5;
}

.carousel-control:hover {
    background-image: none;
    width: 0;
    color: #0a0a0a;
    opacity: 1;
}

.nvtooltip {
    max-width: 300px !important;
}

.carousel-control.left {
    left: 15px;
}

.carousel-control.right {
    right: 15px;
}

.text-center > div {
    height: 300px !important;
}

circle {
    stroke-width: .5px !important;
}

.dataTable td {
    white-space: nowrap;
}

.hideLegend .nv-legend {
    display: none !important;
}

.uib-carousel {
    position: relative;
    bottom: 30%;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}