.dashboard-title {
    color: #0a6aa1;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.fixed-title {
    position: fixed;
    z-index: 2;
    width: inherit;
}

.fixes-filters {
    position: fixed;
    z-index: 1;
    top: 42px;
    background-color: white;
    width: 83%;
    padding: 10px 0;
}

.fixed-dots {
    position: fixed;
    bottom: 0;
    width: 83%;
    background-color: white;
    padding: 5px;
}

.filters {
    padding: 5px;
    margin-bottom: 20px;
}

.location-breadcump {
    color: #0a6aa1;
    cursor: pointer;
    font-weight: bold;
}

.right {
    float: right;
    margin-right: 15px;
}

.filters > div {
    display: inline-block;
    min-width: 200px;
}

th {
    min-width: 100px !important;
}

.sorting:hover {
    text-decoration: underline;
}

.sorting_asc {
    background-color: #d9d9d9 !important;
}

.sorting_desc {
    background-color: #d9d9d9 !important;
}

.breadcrumb {
    background-color: #ffffff !important;
}

.report-cell {
    margin: 10px;
    background-color: rgb(0, 98, 115) !important;
    border-radius: 10px;
}

.xy-tooltip {
    color: black !important;
}

nvd3 > svg {
    margin: 0 auto !important;
}

@media print {
    .white, .fa, .fa-info-circle:before, .number, .second_number {
      color: white !important;
    }

    table {
        page-break-after: always;
    }

    .break {
        page-break-after: always;
    }

    .report-content {
        width: 1152px !important;
    }

    .fa-arrow-down:before {
        color: #c61400 !important;
    }

    .fa-arrow-up:before {
        color: #07c600 !important;
    }

    .report-cell {
        height: 200px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
      .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
           float: left;
      }

      .col-md-12 {
           width: 100%;
      }

      .col-md-11 {
           width: 91.66666666666666%;
      }

      .col-md-10 {
           width: 83.33333333333334%;
      }

      .col-md-9 {
            width: 75%;
      }

      .col-md-8 {
            width: 66.66666666666666%;
      }

       .col-md-7 {
            width: 58.333333333333336%;
       }

       .col-md-6 {
            width: 50%;
       }

       .col-md-5 {
            width: 41.66666666666667%;
       }

       .col-md-4 {
            width: 33.33333333333333%;
       }

       .col-md-3 {
            width: 25%;
       }

       .col-md-2 {
              width: 16.666666666666664%;
       }

       .col-md-1 {
              width: 8.333333333333332%;
        }

}

.breadcrump-element {
    font-weight: bold;
    font-size: 18px;
    color: #0a6aa1;
}

.breadcrump-element-with-pointer {
    font-weight: bold;
    font-size: 18px;
    color: #0a6aa1;
    cursor: pointer;
}

.less-padding {
    padding: 6px 2px;
}

.black {
    color: #0a0a0a;
}

.red {
    color: #d60000;
}

.link {
    color: #0b3e6f;
}

.link:hover {
    text-decoration: underline;
}

.green {
    color: #009811;
}

.yellow {
    color: #f29500;
}

.dark_grey {
    background-color: #a9a4a4 !important;
}

.left-menu {
    height: 100%;
    position: fixed;
    background: #373737;
    color: #ffffff;
    font-size: 14px;
    padding-right: 0;
    padding-left: 0;
    z-index: 1;
}

.navbar-default {
    margin-bottom: 0;
    height: 50px;
}

.black:hover {
    color: #0a0a0a;
}

.main-container {
    height: auto;
    position: absolute;
    right: 0;
}

.crop {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: 97%;
}

.report-content {
    color: #ffffff !important;
    margin-top: 110px;
    padding: 20px 20px 80px;
}

.no-margin {
    margin: 0 !important;
}

ul {
  list-style-type: none;
}
li {
    padding: 10px;
}

.nav-list > li {
    padding-left: 20px;
}
.pointer {
    cursor: pointer;
}

.hq-icon {
    background-image: url(/static/hqstyle/images/commcare-flower.png);
    background-size: contain;
    width: 38px;
    height: 38px;
}

.navigation-directive li > a {
    color: #ffffff;
    text-decoration: none;
    padding: 0;
}

.navigation-directive li.active {
    background-color: #545454;
    border-right: 4px solid #00a8c6;
}

.navigation-directive li > a:hover, a:focus {
    color: #ffffff;
    background-color: inherit !important;
    text-decoration:none;
    cursor:pointer;
}

.dot {
    background-color: rgba(255, 187, 0, 0.30);
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.dot-active {
    background-color: #FFA500 !important;
}

.dot-menu {
    margin: 0 auto;
    text-align: center;
}

.dot {
    margin: 0 auto;
}

.dot-menu-dot {
    margin: 0 auto;
    text-align: center;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dot-menu-item {
    display: inline-block;
    width: 15%;
    margin: 0 auto;
    text-align: center;
    vertical-align: text-top;

}

.popover-content {
    color: #000000 !important;
}

.margin10 {
    margin: 10px;
}

.margin-top10 {
    margin: 10px 0 0 0;
}

h4 {
    font-weight: bold;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.see-more {
    float: right;
    margin-right: 40px;
}

.see-more > a {
    color: #ffffff;
}

.no-decoration {
    color: #ffffff !important;
}

.no-decoration:hover {
    text-decoration: none !important;
}

.dropdown-menu {
    z-index: 4;
}

.dropdown {
    padding: 2px;
    margin-right: 2px;
}

.light-grey {
    color: #9d9d9d;
}

.light-grey:hover {
    color: #9d9d9d;
}

.title {
    font-weight: bold;
    font-size: 15px;
}

.number {
    font-weight: bold;
    font-size: 45px;
}

.string {
    font-weight: bold;
    font-size: 40px;
}

.second_number {
    font-size: 28px;
}

.report-cell > .row {
    margin: 0 auto;
    height: 100%;
    padding: 10px;
}

.indie-map-directive {
    position: relative;
    margin: 0 auto;
}

@media screen and (min-width: 1501px) {
    .indie-map-directive .datamaps-legend {
        z-index: -1;
    }
}

@media screen and (min-width: 901px) and (max-width: 1500px) {
    .indie-map-directive .datamaps-legend {
        z-index: -1;
    }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    .indie-map-directive .datamaps-legend {
        z-index: -1;
    }
}

.small-table {
    padding: 0;
    margin: 15px;
    border: 1px solid #D4D4D4;
}

.small-table > .small-table-title {
    background-color: #00A8C6 !important;
    font-size: 30px;
    font-weight: bold;
    color: white !important;
    margin: 0 auto;
    text-align: center;
}

.kpi {
    height: 170px;
}

.kpi-content {
    position: relative;
    height: 100%;
}

.kpi-percents {
    bottom: -10px;
    width: 100%;
    position: absolute;
}

.kpi-numbers {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.small-table > .small-table-record {
    margin: 5px;
    line-height: 36px;
}

.small-table > .small-table-record > span{
    vertical-align: middle;
}

.circle-green {
    background-color: green !important;
    border-radius: 30px;
    font-size: 20px;
    color: white !important;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
}

.circle-blue {
    background-color: rgb(0, 98, 115) !important;
    border-radius: 30px;
    font-size: 20px;
    color: white !important;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
}

.circle-red {
    background-color: red !important;
    border-radius: 30px;
    font-size: 20px;
    color: white !important;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
}

.circle>span {
    vertical-align: middle;
}

.slider-image {
    margin: 0 15px;
    height: 100%;
}
.carousel-indicators {
    display: none;
}

.carousel-control, .carousel-control:focus {
    background-image: none;
    width: 0;
    color: #0a0a0a;
    opacity: .5;
}

.carousel-control:hover {
    background-image: none;
    width: 0;
    color: #0a0a0a;
    opacity: 1;
}

.nvtooltip {
    max-width: 300px !important;
}

.carousel-control.left {
    left: 15px;
}

.carousel-control.right {
    right: 15px;
}

.text-center > div {
    height: 200px !important;
}

circle {
    stroke-width: .5px !important;
}

.dataTable td {
    white-space: nowrap;
}

.hideLegend .nv-legend {
    display: none !important;
}

.uib-carousel {
    position: relative;
    bottom: 30%;
    left: 8%;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.blank-image .uib-carousel {
    color: black;
}

.progress-report-directive .nav-block {
    border-radius: 10px;
    text-align: center;
    padding: 25px;
    height: 250px;
}

.progress-report-directive .nav-block .caption {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.DTFC_LeftBodyLiner > table > thead:first-child {
    display: none;
}

table.no-footer {
    margin: 0 !important;
}

.nv-area {
    fill-opacity: .5;
}

.map-kpi {
    padding: 20px;
    background-color: rgb(0, 98, 115) !important;
    border-radius: 35px;
    color: #ffffff;
}

::-webkit-scrollbar {
    margin-left: 22px;
    float: left;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
    background-color: #555;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

.DTFC_ScrollWrapper {
    margin-left: -15px !important;
}

.icds-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

#detailsChart .nv-series-0, #detailsChart .nv-series-1, #detailsChart .nv-series-2{
    stroke-opacity: 0 !important;
}

#detailsChart .nv-area {
    fill-opacity: 0.75;
}

#detailsChart line.nv-guideline {
    stroke: #ccc;
}

.headers-overflow-unset .dataTables_scrollHead {
    overflow: unset !important;
}

.scroller {
    overflow-x: hidden;
    position: relative; /* relative or absolute positioning required by Perfect Scrollbar */
    max-height: 500px;  /* height must be limited to induce scrolling behavior */
}

#beneficiariesTable_processing {
    left: 80%;
    width: 40%;
    height: 40px;
}

#beneficiariesTable {
    width: 100%;
}

.tick line {
    stroke-opacity: .1 !important;
}

.chart-dot {
    stroke-opacity: 1 !important;
    fill-opacity: 1 !important;
}


table.dataTable.fixedHeader-floating,
table.dataTable.fixedHeader-locked {
    background-color: white;
    top: 110px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

table.dataTable.fixedHeader-floating {
    position: fixed !important;
}

table.dataTable.fixedHeader-locked {
    position: absolute !important;
}

@media print {
  table.fixedHeader-floating {
    display: none;
  }
}

.locPopup {
    position: fixed;
    display:none;
    z-index: 90000;
    background-color: white;
    border: 1px solid #a9a9a9;
    padding: 5px;
    border-radius: 5px;
}

.locPopup > .row {
    width: 100%;
}

.locPopup > button {
    display: block;
    margin: 5px auto;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}