.dashboard-title {
    color: #0a6aa1;
}

.filters {
    padding: 5px;
    margin-bottom: 20px;
}

.right {
    float: right;
    margin-right: 15px;
}

.filters > div {
    display: inline-block;
    min-width: 200px;
}

.breadcrumb {
    background-color: #ffffff !important;
}

.report-cell {
    margin: 10px;
    background-color: rgb(0, 98, 115);
    border-radius: 10px;
}

.breadcrump-element {
    font-weight: bold;
    font-size: 20px;
    color: #0a6aa1;
}

.black {
    color: #0a0a0a;
}

.left-menu {
    height: 100%;
    position: fixed;
    background: #373737;
    color: #ffffff;
    font-size: 16px;
    padding-right: 0px;
    padding-left: 0px;
}

.main-container {
    height: auto;
    position: absolute;
    right: 0;
}

.report-content {
    padding: 20px;
    color: #ffffff;
}

.no-margin {
    margin: 0px !important;
}

ul {
  list-style-type: none;
}
li {
    padding: 10px;
}

.nav-list > li {
    padding-left: 20px;
}
.pointer {
    cursor: pointer;
}

.hq-icon {
    background-image: url(/static/hqstyle/images/commcare-flower.png);
    background-size: contain;
    width: 38px;
    height: 38px;
}

.navigation-directive li > a {
    color: #ffffff;
    text-decoration: none;
    padding: 0px !important;
}

.navigation-directive li.active {
    background-color: #545454;
    border-right: 4px solid #00a8c6;
}

.navigation-directive li > a:hover, a:focus {
     color: #ffffff;
    background-color: inherit !important;
     text-decoration:none;
     cursor:pointer;
}

.dot {
    background-color: rgba(255, 187, 0, 0.30);
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.dot-active {
    background-color: #FFA500 !important;
}

.dot-menu {
    margin: 0 auto;
    text-align: center;
}

.dot {
    margin: 0 auto;
}

.dot-menu-dot {
    margin: 0 auto;
    text-align: center;
}

.dot-menu-item {
    display: inline-block;
    width: 10%;
    margin: 0 auto;
    text-align: center;

}

.popover-content {
    color: #000000 !important;
}

.margin10 {
    margin: 10px;
}

.margin-top10 {
    margin: 10px 0 0 0;
}

h4 {
    font-weight: bold;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.fa-arrow-down {
    color: #c61400;
}

.fa-arrow-up {
    color: #07c600;
}

.fa-ellipsis-h {
    float: right;
    margin-right: 40px;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.numbers {
    font-weight: bold;
    font-size: 50px;
}

.report-cell > .row {
    margin: 0 auto;
    height: 100%;
    padding: 10px;
}

.indie-map-directive {
    position: relative;
    margin: 0 auto;
}

@media screen and (min-width: 1501px) {
    .indie-map-directive .datamaps-legend {
        left: 10%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1500px) {
    .indie-map-directive .datamaps-legend {
        left: 8%;
    }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    .indie-map-directive .datamaps-legend {
        left: 5px;
    }
}

.small-table {
    padding: 0px !important;
    margin: 15px !important;
    border: 1px solid #D4D4D4;
}

.small-table > .small-table-title {
    background-color: #00A8C6;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.small-table > .small-table-record {
    margin: 5px;
    line-height: 36px;
}

.small-table > .small-table-record > span{
    vertical-align: middle;
}

.circle-green {
    background-color: green;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
}

.circle-red {
    background-color: red;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
}

.circle>span {
    vertical-align: middle;
}

.slider-image {
    margin: 0 15px;
    height: 100%;
}
.carousel-indicators {
    display: none;
}

.carousel-control, .carousel-control:focus {
    background-image: none;
    width: 0;
    color: #0a0a0a;
    opacity: .5;
}

.carousel-control:hover {
    background-image: none;
    width: 0;
    color: #0a0a0a;
    opacity: 1;
}

.carousel-control.left {
    left: 15px;
}

.carousel-control.right {
    right: 15px;
}

.text-center > div {
    height: 300px !important;
}

circle {
    stroke-width: .5px !important;
}

.dataTable td {
    white-space: nowrap;
}

.hideLegend .nv-legend {
    display: none !important;
}