<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}formplayer/script/deprecate/layout.js?version={{app_version}}"></script>

    <!-- TODO factor out shared code, think we need touchscreen-ui and typeforms-ui -->
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}formplayer/script/deprecate/touchscreen-ui.js?version={{app_version}}"></script>   

    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}formplayer/script/deprecate/formnav.js?version={{app_version}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}formplayer/script/deprecate/entrycontrols_type.js?version={{app_version}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}formplayer/script/typeforms-ui.js?version={{app_version}}"></script>
    <script language="javascript" type="text/javascript;version=1.7" src="{{STATIC_URL}}formplayer/script/deprecate/workflow.js?version={{app_version}}"></script>
   
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}formplayer/script/deprecate/jquery-1.4.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}formplayer/script/vendor/shortcut.js"></script>

	  <script language="javascript" type="text/javascript" src="{{STATIC_URL}}formplayer/script/jquery-ui.min.js"></script>

	  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/ui-lightness/jquery-ui.css">


{% for script in dynamic_scripts %}
    <script language="javascript" type="text/javascript;version=1.7" src="{{STATIC_URL}}{{script}}?version={{app_version}}"></script>   
{% endfor %}

    <script language="javascript">

if (!window.console) {
  window.console = {
    log: function () { }
  };
}

XFORM_URL = "{% url 'xform_player_proxy' %}";
PRELOADER_URL = "{% url 'xform_preloader' %}";
AUTOCOMPLETE_URL = "{% url 'touchforms_autocomplete' %}";
FORCE_ABORT_URL = "{% url 'touchforms_force_abort' %}";

XFORM_NAME = "{{form.name}}";
XFORM_UID = null;

PREFIXES = {};

{% block custom_init %}{% endblock %}

function init () {

touchscreenUI = {
  showWaiting: function (active) {

  }
}

//  setup({% if fullscreen %}true{% endif %});
//  initStaticWidgets();
//  render_clean();

$('#next').click(nextClicked);
$('#back').click(backClicked);
$('#help').click(helpClicked);

set_shortcut('enter', function() { $('#next').trigger('click'); });
set_shortcut('ctrl+left', function() { $('#back').trigger('click'); });
set_shortcut('ctrl+right', function() { $('#next').trigger('click'); });

$('#waiting').hide();

{% ifequal mode 'xform' %}

  XFORM_UID = $('#form-uid')[0].value;
  var preloaders = null;
{% if preloader_data %}
    preloaders = {{ preloader_data|safe }};
{% else %}{% if session_data.preloaders %}
    preloaders = {{ session_data.preloaders|safe }};
{% endif %}{% endif %}


  gFormAdapter = new xformAjaxAdapter(XFORM_UID, preloaders, {{ instance_xml|safe }});
  
{% else %}

  gFormAdapter = new workflowAdapter(new {{ form.wfobj }}({{ form.wfargs|default:""|safe }}));

{% endifequal %}

  gFormAdapter.loadForm();
}

    </script>
    
  </head>

  <body id="body" onLoad="init();" style="font-family: sans-serif; ">
    <style>
      .histq {
        background: #fca;
        padding: 5px;
      }

      .histans {
        background: #fcc;
        padding: 5px;
        text-align: right;
      }

      .help {
        font-style: italic;
        font-size: small;
        color: grey;
      }

    </style>

<!--
    <div id="history" style="float: right; border: 2px solid black; width: 25em; margin: 0px 0px 10px 10px; min-height: 500px;">
    </div>
-->

    <h3 id="question" style="background: #fff; min-height: 2em;">[question]</h3>
    <h3 id="waiting" style="background: #fff; min-height: 2em; color: #88a;">please wait&hellip;&nbsp;&nbsp;&nbsp;<img src="{{STATIC_URL}}formplayer/img/loading_small.gif" style="vertical-align: text-top;"></h3>
    <hr>

      <div class="help" style="float: right; text-align: right;">
        <b>enter</b> or <b>ctrl+right</b> to advance<br />
        <b>ctrl+left</b> to go back<br />
        <br />
        type <b>number</b> or <b>letter</b> to select a choice<br />
        <b>up</b> and <b>down</b> to cycle through choices<br />
        <b>space</b> to select current choice<br />
      </div>


    <div id="answer" style="background: #fff;">[answer]</div>

    <br>
    <button id="back">back</button>
    <button id="help">help</button>
    <button id="next">next</button>

    <!-- stick form uid here to aid with backslash escaping -->
    <input id="form-uid" type="hidden" value="{% ifequal mode 'xform' %}{{form.file.path}}{% endifequal %}">

  </body>
</html>

