{% load i18n %}

<div data-bind="with: {{screen}}.customVariablesViewModel">
  <div class="panel panel-appmanager" data-bind="visible: enabled">
    <div class="panel-heading">
      <h4 class="panel-title panel-title-nolink">
        {% trans "Custom Detail Variables" %}
      </h4>
    </div>
    <div class="panel-body">
      <p>{% trans "Add custom variables to the variables node." %}</p>
      <div class="row">
        <div class="col-sm-8">
          <div id="{{ editorId }}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
