@import '../../hqwebapp/less/_hq/includes/variables.less';
@import '../../hqwebapp/less/_hq/includes/mixins.less';




@pricing-row-single-height-sm: 40px;
@pricing-row-single-height-md: 50px;
@pricing-row-single-height-lg: 58px;

@pricing-row-double-height-xs: 55px;
@pricing-row-double-height-sm: 60px;
@pricing-row-double-height-md: 65px;
@pricing-row-double-height-lg: 73px;

@pricing-row-triple-height-md: 80px;
@pricing-row-triple-height-sm: 75px;
@pricing-row-triple-height-lg: 90px;

@pricing-row-summary-height-sm: 277px;
@pricing-row-summary-height-md: 185px;
@pricing-row-summary-height-lg: 185px;

@pricing-row-more-height-md: 80px;
@pricing-row-more-height-lg: 80px;

@pricing-row-quad-height-sm: 93px;

@pricing-row-penta-height-xs: 103px;

.pricing-table-bg-container {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.pricing-table-bg {
  position: absolute;
  width: 100%;

  .col-bg {
    background-color: @cc-neutral-low;
    height: 248px;
    z-index: 0;

    @media (min-width: @screen-sm-min) {
      height: 259px;
    }

    @media (min-width: @screen-md-min) {
      height: 260px;
    }

    @media (min-width: @screen-lg-min) {
      height: 291px;
    }
  }
}

.pricing-cost {
  background-color: @cc-neutral-hi;
  color: @cc-neutral-mid;
  font-size: 14px;
  text-align: center;
  font-weight: 200;
  line-height: @pricing-row-single-height-md;

  @media (max-width: @screen-sm-max) {
    font-size: 12px;
  }

  @media (min-width: @screen-lg-min) {
    font-size: 16px;
    line-height: @pricing-row-single-height-lg;
  }
}

.pricing-row {
  height: @pricing-row-single-height-md;

  @media (min-width: @screen-lg-min) {
    height: @pricing-row-single-height-lg;
  }

  h4 {
    font-weight: 200;
    font-size: 14px;
    padding-top: 5px;
    line-height: 1.3em;

    a, a:link, a:visited, a:focus {
      color: @cc-brand-hi;
    }
    @media (max-width: @screen-sm-max) {
      font-size: 12px;
      margin-left: 5px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 16px;
    }
  }
}

.pricing-info {
  background-color: #FFFFFF;
  display: block;
  height: @pricing-row-single-height-md;

  .fa.fa-check {
    color: @cc-att-pos-mid;
  }
  .fa.fa-minus {
    color: @cc-neutral-hi;
  }

  @media (min-width: @screen-lg-min) {
    height: @pricing-row-single-height-lg;
  }

  p {
    text-align: center;
    color: @cc-neutral-low;
    padding: 15px 10px;
    @media (max-width: @screen-xs-max) {
      font-size: 14px;
    }
  }
}

.pricing-row-lead {
  background-color: fade(@cc-neutral-hi, 30);
  z-index: 1;
  margin-bottom: 1px;
}

.pricing-row-main {
  background-color: fade(@cc-neutral-mid, 40);
  margin-bottom: 1px;
  z-index: 100;
}


.pricing-col-community {
  .pricing-header {
    background-color: @cc-brand-mid;
  }
  .pricing-cost {
    color: @cc-brand-low;
    background-color: @cc-brand-hi;
  }

  .billed-annually-text {
    color: @cc-brand-low;
    background-color: @cc-brand-hi;
    text-align: center;
  }
}

.pricing-col-standard {
  .pricing-header {
    background-color: @cc-att-pos-mid;
  }
  .pricing-cost {
    color: @cc-att-pos-low;
    background-color: @cc-att-pos-hi;
  }

  .billed-annually-text {
    color: @cc-att-pos-low;
    background-color: @cc-att-pos-hi;
    text-align: center;
  }
}

.pricing-col-pro {
  .pricing-header {
    background-color: @cc-light-cool-accent-mid;
  }
  .pricing-cost {
    color: @cc-light-cool-accent-low;
    background-color: @cc-light-cool-accent-hi;
  }

  .billed-annually-text {
    color: @cc-light-cool-accent-low;
    background-color: @cc-light-cool-accent-hi;
    text-align: center;
  }
}

.pricing-col-advanced {
  .pricing-header {
    background-color: @cc-dark-cool-accent-mid;
  }
  .pricing-cost {
    color: @cc-dark-cool-accent-low;
    background-color: @cc-dark-cool-accent-hi;
  }

  .billed-annually-text {
    color: @cc-dark-cool-accent-low;
    background-color: @cc-dark-cool-accent-hi;
    text-align: center;
  }
}

.pricing-col-enterprise {
  .pricing-header {
    background-color: @cc-neutral-mid;
  }

  .billed-annually-text {
    color: @cc-neutral-hi;
    background-color: @cc-neutral-hi;
    text-align: center;
  }
}

.pricing-section-header-container {
  background-color: @cc-neutral-low;
  a:link, a, a:visited{
    color: @cc-neutral-hi;
    display: inline-block;
  }
  a:hover {
    color: #ffffff;
  }
  h2 {
    color: @cc-neutral-hi;
  }
}

.pricing-row-main-header {
  height: 30px;

  h2 {
    margin: 0;
    padding-top: 5px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 200;

    @media (min-width: @screen-md-min) {
      font-size: 16px;
      line-height: 35px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 18px;
      line-height: 48px;
    }
  }

  @media (min-width: @screen-md-min) {
    height: 35px;
  }

  @media (min-width: @screen-lg-min) {
    height: 48px;
  }
}

.pricing-row-plan-names{
  height: 30px;
}

h3.pricing-header {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: @pricing-row-single-height-md;
  color: #FFFFFF;

  @media (max-width: @screen-sm-max) {
    font-size: 12px;
    line-height: @pricing-row-single-height-sm;
  }

  @media (min-width: @screen-lg-min) {
    font-size: 16px;
    line-height: @pricing-row-single-height-lg;
  }
}

.pricing-more a {
  display: block;
  color: #ffffff;
  background-color: @cc-neutral-mid;
  line-height: 48px;
  text-align: center;
  &:hover {
    background-color: @cc-text;
    text-decoration: none;
  }
}

.pricing-info-summary {
  height: 150px;
  line-height: 18px;
  color: @cc-neutral-low;
  text-align: center;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 5px 10px;
      border-top: 1px solid @cc-bg;
    }
  }
}

.pricing-row-summary {
  height: @pricing-row-summary-height-sm;
  @media (min-width: @screen-md-min) {
    height: @pricing-row-summary-height-md;
  }
  @media (min-width: @screen-lg-min) {
    height: @pricing-row-summary-height-lg;
  }
  .pricing-info {
    height: @pricing-row-summary-height-sm;
    @media (min-width: @screen-md-min) {
      height: @pricing-row-summary-height-md;
    }
    @media (min-width: @screen-lg-min) {
      height: @pricing-row-summary-height-lg;
    }
  }
}

.pricing-row-more {
  height: @pricing-row-more-height-md;
  @media (min-width: @screen-lg-min) {
    height: @pricing-row-more-height-lg;
  }
  .pricing-info {
    height: @pricing-row-more-height-md;

    @media (min-width: @screen-lg-min) {
      height: @pricing-row-more-height-lg;
    }
  }
}

.pricing-select-plan-radio {
  width: 100%;
  line-height: 43px;
  padding-top: 0px;
  padding-bottom: 5px;
  input {
    vertical-align: middle;
  }
}

.pricing-current-plan,
.pricing-select-plan-radio {
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
}

.pricing-current-plan {
  font-size: 18px;
  line-height: 43px;
  padding-top: 2px;
  padding-bottom: 4px;
  vertical-align: middle;
  color: #ffffff;
}
