{% extends base_template %}
{% block title %}Phone User {{ phone_user }}{% endblock %}
{% block content %}
<div class="span-24">
<div class="span-12">
<h3>Phone-specific information</h3>
{% include "phone/partials/phone_user_display.html" %}
</div>
<h3>User information</h3>
{% if phone_user.user %}
	{% with phone_user.user as django_user %}
		{% include "phone/partials/phone_django_user_display.html" %}
	{% endwith %}
{% else %}
	No user information set.  Choose an option below to set user information:
	<p>
		<button onclick="location.assign('{% url corehq.apps.phone.views.create_user phone_user.id %}');" style="margin:10px">Automatically Create User</button>
		<button onclick="location.assign('{% url corehq.apps.phone.views.link_user phone_user.id %}');" style="margin:10px">Link Existing User</button>
	</p>
{% endif %}
<a 	href="{% url corehq.apps.phone.views.delete_user phone_user.id %}" 
	onclick="return confirm('This will permanently delete the user. Are you sure?');"
	style="font-weight: bold; color: red"
	>Delete User</a>
</div>
{% endblock %}
