<div style="padding: 20px">
    <h3>{{ app.name }} summary</h3>
    <ol>
        {% for module in modules %}
            <li>
                <h4>{{ module.name }}</h4>
                <ol>
                    {% for form in module.forms %}
                        <li>
                            <h5>{{ form.name }}</h5>
                            {% if form.messages %}
                                {% for type, m_list in form.messages.items %}
                                    <div class="alert alert-{{ type }}" style="display: inline-block;">
                                        <ul>
                                            {% for m in m_list %}
                                                <li>{{ m }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <ol>
                                {% for question in form.questions %}
                                    <li>
                                        <span class="label">{{ question.tag }}</span> {{ question.label }}
                                        {% if question.options %}
                                            <ol>
                                                {% for option in question.options %}
                                                    <li>{{ option.label }}</li>
                                                {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>
                        </li>
                    {% endfor %}
                </ol>
            </li>
        {% endfor %}
    </ol>
</div>