{% load i18n %}
{% if build_profiles %}
<div class="row">
  <div class="col-sm-3 form-inline">
    <div class="form-group">
      <label>{% trans 'Build Profile' %}:</label>
      <select id="build-profile-select-for-multimedia" class="hqwebapp-select2">
        <option value="">{% trans "Default" %}</option>
        {% for build_profile_id, build_profile_name in build_profiles.items %}
          <option value="{{build_profile_id}}">
            {{build_profile_name}}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
{% endif %}
