{% load i18n %}
{% load hq_shared_tags %}
{% load xforms_extras %}{% if build_errors %}
    <div class="alert alert-warning alert-block">
        {% if not_actual_build %}
            <p>{% trans "Errors making a new version:" %}</p>
        {% else %}
            <p>{% trans "Build Failed!" %}</p>
        {% endif %}
        <ul class="unstyled" id="build-errors">
            {% for error in build_errors %}
                <li>
                    <i class="icon icon-exclamation-sign"></i>
                    <span>
                        {% case error.type "blank form" %}
                            {% if not error.message %}
                                Blank form
                            {% endif %}
                            {% include "app_manager/partials/form_error_message.html" %}
                        {% case "invalid xml" %}
                            {% if not error.message %}
                                If you don't know why this happened, please report an issue.
                            {% endif %}
                            {% include "app_manager/partials/form_error_message.html" %}
                        {% case "validation error" %}
                            {{ error.validation_message|linebreaksbr }} in form
                            {% include "app_manager/partials/form_error_message.html" %}
                        {% case "no form links" %}
                            {% blocktrans %}
                            Link to other form is selected, but no form links have been provided.
                            {% endblocktrans %}
                            {% include "app_manager/partials/form_error_message.html" %}
                        {% case "bad form link" %}
                            {% blocktrans %}
                            Link to other form is selected, but we don't recognize the form you provided.
                            {% endblocktrans %}
                            {% include "app_manager/partials/form_error_message.html" %}
                        {% case "no ref detail" %}
                            Module
                            <a href="{% url "view_module" domain app.id error.module.id %}">{{ error.module.name|trans:langs }}</a>
                            uses referrals but doesn't have
                            detail screens configured for referrals.
                        {% case "no case detail" %}
                            Module
                            <a href="{% url "view_module" domain app.id error.module.id %}">{{ error.module.name|trans:langs }}</a>
                            uses cases but doesn't have
                            detail screens configured for cases.
                        {% case "no product detail" %}
                            Module
                            <a href="{% url "view_module" domain app.id error.module.id %}">{{ error.module.name|trans:langs }}</a>
                            uses CommCare Supply products but doesn't have
                            detail screens configured for products.
                        {% case "invalid id key" %}
                            Module
                            <a href="{% url "view_module" domain app.id error.module.id %}">{{ error.module.name|trans:langs }}</a>
                            has an incorrectly formatted ID key ({{ error.key }}).
                            Make sure your key has only letters, numbers, space characters, underscores, and dashes.
                        {% case "no modules" %}
                            This application has no modules.
                        {% case "no forms" %}
                            Module
                            <a href="{% url "view_module" domain app.id error.module.id %}">{{ error.module.name|trans:langs }}</a>
                            has no forms.
                        {% case "no forms or case list" %}
                            Module
                            <a href="{% url "view_module" domain app.id error.module.id %}">{{ error.module.name|trans:langs }}</a>
                            has no forms or case list.
                        {% case "no case type" %}
                            Module
                            <a href="{% url "view_module" domain app.id error.module.id %}">{{ error.module.name|trans:langs }}</a>
                            uses cases but doesn't have a
                            case type defined.
                        {% case "case list form not registration" %}
                            {% url "view_module" domain app.id error.module.id as module_url %}
                            {% url "view_form" domain app.id error.module.id error.form.id as form_url %}
                            {% blocktrans with module_name=error.module.name|trans:langs form_name=error.form.name|trans:langs %}
                            You have selected form <a href="{{ form_url }}">{{ form_name }}</a>
                            as the case registration form for the <a href="{{ module_url }}">{{ module_name }}</a> module.
                            This form is not a registration form. You needs to select a form which opens a case and
                            does not update an existing case. Please select a different form.
                            {% endblocktrans %}
                        {% case "case list form missing" %}
                            {% url "view_module" domain app.id error.module.id as module_url %}
                            {% blocktrans with module_name=error.module.name|trans:langs %}
                            The form you have selected as the case registration form for the
                            <a href="{{ module_url }}">{{ module_name }}</a> module does not exist.
                            Please select another form.
                            {% endblocktrans %}
                        {% case "report config ref invalid" %}
                            {% url "view_module" domain app.id error.module.id as module_url %}
                            {% blocktrans with module_name=error.module.name|trans:langs %}
                            There are references to reports that are deleted in the
                            <a href="{{ module_url }}">{{ module_name }}</a> module.
                            You may re-save the module to delete them.
                            {% endblocktrans %}
                        {% case "module filter has xpath error" %}
                            {% url "view_module" domain app.id error.module.id as module_url %}
                            {% blocktrans with module_name=error.module.name|trans:langs %}
                            Module Filter has syntax errors in the
                            <a href="{{ module_url }}">{{ module_name }}</a> module.
                            {% endblocktrans %}
                        {% case "form filter has xpath error" %}
                            {% url "view_module" domain app.id error.module.id as module_url %}
                            {% url "view_form" domain app.id error.module.id error.form.id as form_url %}
                            {% blocktrans with module_name=error.module.name|trans:langs form_name=error.form.name|trans:langs %}
                            Display Condition has syntax errors
                            in the <a href="{{ form_url }}">{{ form_name }}</a> form
                            in the <a href="{{ module_url }}">{{ module_name }}</a> module.
                            {% endblocktrans %}
                        {% case "all forms in case list module must load the same cases" %}
                            {% url "view_module" domain app.id error.module.id as module_url %}
                            {% url "view_form" domain app.id error.module.id error.form.id as form_url %}
                            {% blocktrans with module_name=error.module.name|trans:langs form_name=error.form.name|trans:langs %}
                            The <a href="{{ form_url }}">{{ form_name }}</a> form in the <a href="{{ module_url }}">{{ module_name }}</a>
                            module loads different case types from the other forms in the module. All forms in a module that
                            has a case registration form selected must load the same case types.
                            {% endblocktrans %}
                        {% case "case list module form must require case" %}
                            {% url "view_module" domain app.id error.module.id as module_url %}
                            {% url "view_form" domain app.id error.module.id error.form.id as form_url %}
                            {% blocktrans with module_name=error.module.name|trans:langs form_name=error.form.name|trans:langs %}
                            The <a href="{{ form_url }}">{{ form_name }}</a> form in the <a href="{{ module_url }}">{{ module_name }}</a>
                            module must update a case. All forms in a module that has a case registration form selected must update a case.
                            {% endblocktrans %}
                        {% case "case list module form can only load parent cases" %}
                            {% url "view_module" domain app.id error.module.id as module_url %}
                            {% url "view_form" domain app.id error.module.id error.form.id as form_url %}
                            {% blocktrans with module_name=error.module.name|trans:langs form_name=error.form.name|trans:langs %}
                            The <a href="{{ form_url }}">{{ form_name }}</a> form in the <a href="{{ module_url }}">{{ module_name }}</a>
                            module can only load or update a single case and its parents. All forms in a module that has a case registration form
                            selected can only update a single case and its parents.
                            {% endblocktrans %}
                        {% case "case list module form must match module case type" %}
                            {% url "view_module" domain app.id error.module.id as module_url %}
                            {% url "view_form" domain app.id error.module.id error.form.id as form_url %}
                            {% blocktrans with module_name=error.module.name|trans:langs form_name=error.form.name|trans:langs %}
                            The <a href="{{ form_url }}">{{ form_name }}</a> form in the <a href="{{ module_url }}">{{ module_name }}</a>
                            module loads a case of a different type to the module. All forms in a module that has a case registration form
                            selected must load a case of the same type as the module.
                            {% endblocktrans %}
                        {% case "all forms in case list module must have same case management" %}
                            {% url "view_module" domain app.id error.module.id as module_url %}
                            {% url "view_form" domain app.id error.module.id error.form.id as form_url %}
                            {% blocktrans with module_name=error.module.name|trans:langs form_name=error.form.name|trans:langs expected_tag=error.expected_tag %}
                            The <a href="{{ form_url }}">{{ form_name }}</a> form in the <a href="{{ module_url }}">{{ module_name }}</a>
                            module loads a case with a different case tag to the other forms in the module.
                            All forms in a module that has a case registration form selected must use the same case tag.
                            Expected case tag: <strong>{{ expected_tag }}</strong>
                            {% endblocktrans %}
                        {% case "forms in case list module must use modules details" %}
                            {% url "view_module" domain app.id error.module.id as module_url %}
                            {% url "view_form" domain app.id error.module.id error.form.id as form_url %}
                            {% blocktrans with module_name=error.module.name|trans:langs form_name=error.form.name|trans:langs %}
                            The <a href="{{ form_url }}">{{ form_name }}</a> form in the <a href="{{ module_url }}">{{ module_name }}</a>
                            module uses a details screen from another module. All forms in a module that has a case
                            registration form selected must use the details screen from that module.
                            {% endblocktrans %}
                        {% case "invalid filter xpath" %}
                            {% if error.filter %}
                                Case List has invalid filter xpath <code>{{ error.filter }}</code> in module
                            {% else %}
                                Case List has blank filter in module
                            {% endif %}
                            <a href="{% url "view_module" domain app.id error.module.id %}">{{ error.module.name|trans:langs }}</a>
                        {% case "invalid sort field" %}
                            {% if error.field %}
                                Case List has invalid sort field <code>{{ error.field }}</code> in module
                            {% else %}
                                Case List has blank sort field in module
                            {% endif %}
                            <a href="{% url "view_module" domain app.id error.module.id %}">{{ error.module.name|trans:langs }}</a>
                        {% case "invalid tile configuration" %}
                            The case list in module
                            <a href="{% url "view_module" domain app.id error.module.id %}">{{ error.module.name|trans:langs }}</a>
                            has an invalid case tile configuration. Reason: {{ error.reason }}
                        {% case "no source module id" %}
                            Shadow module
                            <a href="{% url "view_module" domain app.id error.module.id %}">{{ error.module.name|trans:langs }}</a>
                            doesn't have a source module specified.
                        {% case "no parent select id" %}
                            Module
                            <a href="{% url "view_module" domain app.id error.module.id %}">{{ error.module.name|trans:langs }}</a>
                            uses parent case selection but doesn't have a parent
                            module specified.
                        {% case "parent cycle" %}
                            The app's parent child case selection graph contains a cycle.
                        {% case "root cycle" %}
                            The app's parent child module graph contains a cycle.
                        {% case "unknown root" %}
                            A module points to an unknown Parent Module.
                        {% case "invalid location xpath" %}
                            Case List has invalid location reference <code>{{ error.column.field_property}}</code>.
                            Details: {{ error.details }}
                            <a href="{% url "view_module" domain app.id error.module.id %}">{{ error.module.name|trans:langs }}</a>
                        {% case "subcase has no case type" %}
                            Child case specifies no module
                            in form {% include "app_manager/partials/form_error_message.html" %}
                        {% case "form error" %}
                            One or more forms are invalid: check all your forms for error messages.
                        {% case "missing languages" %}
                            {% include "app_manager/partials/form_error_message.html" %} missing languages:
                            {% for lang in error.missing_languages %}
                                {{ lang }}
                            {% endfor %}
                        {% case "duplicate xmlns" %}
                            You have two forms with the xmlns "{{ error.xmlns }}"
                        {% case "update_case uses reserved word" %}
                            Case Update uses reserved word "{{ error.word }}"
                            {% if error.case_tag %} for action "{{ error.case_tag }}"{% endif %}
                            {% if not not_actual_build %}in form {% include "app_manager/partials/form_error_message.html" %}{% endif %}
                        {% case "update_case word illegal" %}
                            Case Update "{{ error.word }}" should start with a letter and only contain letters, numbers, '-', and '_'
                            {% if error.case_tag %} for action "{{ error.case_tag }}"{% endif %}
                            {% if not not_actual_build %}in form {% include "app_manager/partials/form_error_message.html" %}{% endif %}
                        {% case "case_name required" %}
                            Every case must have a name. Please specify a value for the name property under
                            "Save data to the following case properties" {% if error.case_tag %} for action "{{ error.case_tag }}"{% endif %}
                            {% if not not_actual_build %}in form {% include "app_manager/partials/form_error_message.html" %}{% endif %}
                        {% case "path error" %}
                            {% if error.path %}
                                The case management in form {% include "app_manager/partials/form_error_message.html" %}
                                references a question that no longer exists: "{{ error.path }}". It is likely that
                                this question has been renamed or deleted. Please update or delete this question
                                reference before you make a new version.
                            {% else %}
                                {% trans "You're loading or saving a case property but have not chosen a question from the form. Please choose a question from the dropdown next to the case property." %}
                            {% endif %}
                        {% case "multimedia case property not supported" %}
                            Multimedia case property "{{ error.path }}" is not supported on apps on or before v2.5
                        {% case "remote error" %}
                            Remote Error:
                        {% case "empty lang" %}
                            One of your languages is empty. Check your <a href="{% url "view_app" domain app.id %}">app settings</a>.
                        {% case "missing parent tag" %}
                            A subcase is referencing a parent case tag that does not exist: "{{ error.case_tag }}"
                            {% if not not_actual_build %}in form {% include "app_manager/partials/form_error_message.html" %}{% endif %}
                        {% case "subcase repeat context" %}
                            The subcase "{{ error.case_tag }}" is in a different repeat context to its parent "{{ error.parent_tag }}"
                            {% if not not_actual_build %}in form {% include "app_manager/partials/form_error_message.html" %}{% endif %}
                        {% case "auto select key" %}
                            The auto-select case action is missing the "{{ error.key_name }}" value
                            {% if not not_actual_build %}in form {% include "app_manager/partials/form_error_message.html" %}{% endif %}
                        {% case "auto select source" %}
                            The auto-select case action is missing the "{{ error.source_name }}" value
                            {% if not not_actual_build %}in form {% include "app_manager/partials/form_error_message.html" %}{% endif %}
                        {% case "auto select case ref" %}
                            The case tag referenced in the auto-select expression of "{{ error.case_tag }}" was not found
                            {% if not not_actual_build %}in form {% include "app_manager/partials/form_error_message.html" %}{% endif %}
                        {% case "no case type in action" %}
                            The form action "{{ error.case_tag }}" does not have a case type selected
                            {% if not not_actual_build %}in form {% include "app_manager/partials/form_error_message.html" %}{% endif %}
                        {% case "filtering without case" %}
                            The form has filtering enabled but no cases are being loaded (excluding auto-loaded cases)
                            {% if not not_actual_build %}in form {% include "app_manager/partials/form_error_message.html" %}{% endif %}.
                        {% case "error" %}
                            <p>Details: {{ error.message }}</p>
                        {% case "subscription" %}
                            Your application uses a feature that is not available in your current subscription. You
                            can <a href="{% url 'domain_select_plan' domain %}">change your subscription</a>, or
                            remove the feature as follows.
                        {% else %}
                            Unknown error: {{ error.type }}
                            <p>Details: {{ error }}</p>
                        {% endcase %}
                        {# And then show the optional `message` regardless #}
                        <span>{{ error.message }}</span>
                    </span>
                </li>
            {% endfor %}
        </ul>
        <p class="help-inline">
            <small>
            {% if not_actual_build %}
                {% trans "Build errors prevent you from building your application in the Release Manager." %}
            {% endif %}
            {% trans "For more information on build errors, please see" %}
            <a href="https://confluence.dimagi.com/display/commcarepublic/Errors+Building+an+Application" target="_blank">
                {% trans "Errors Building an Application" %}
            </a>
            </small>
        </p>
    </div>
{% endif %}
