{% load xforms_extras %}
{% load hq_shared_tags %}
{% load i18n %}
<div class="form-group">
    <label class="control-label">
        {% trans LABEL %}
        <span class="hq-help-template"
              data-title="{% trans LABEL %}"
              data-content="{% trans DESC %}"
        ></span>
    </label>
    <div class="controls">
        <select type="text" name="{{ SLUG }}-show" data-value="{% if case_list.show %}true{% else %}false{% endif %}">
            <option value="false">Don't Show</option>
            <option value="true">Show</option>
        </select>
        <span id="{{ SLUG }}-label">
            with label: {% input_trans case_list.label langs cssClass='form-control' %}
        </span>
        <span class="help-inline" id="case_list_label_error" style="display: none;">
            {% trans "Case list requires a label" %}
        </span>
        <script>
            $(function () {
                function updateCaseListLabelError() {
                    var label_text = $('#{{ SLUG }}-label input').val();
                    var show = $('[name="{{ SLUG }}-show"]').val();
                    if (!label_text.length && show === 'true') {
                        $(this).closest('.form-group').addClass('has-error');
                        $('#case_list_label_error').css('display', 'inline');
                    } else {
                        $(this).closest('.form-group').removeClass('has-error');
                        $('#case_list_label_error').css('display', 'none');
                    }
                }
                function updateCaseListLabel() {
                    $(this).next()[$(this).val() === 'true' ? 'show' : 'hide']();
                    $('#{{ SLUG }}-media')[$(this).val() === 'true' ? 'show' : 'hide']();
                    updateCaseListLabelError.call(this);
                }
                $('#{{ SLUG }}-label input').attr('name', '{{ SLUG }}-label').removeClass('wide');
                $('[name="{{ SLUG }}-show"]').change(updateCaseListLabel).each(updateCaseListLabel);

                $('#{{ SLUG }}-label input').on('textchange', updateCaseListLabelError);
            });
        </script>
    </div>
</div>
<div id="{{ SLUG }}-media">
    {% include "app_manager/partials/nav_menu_media.html" with ICON_LABEL="Icon" AUDIO_LABEL="Audio" qualifier="case_list-menu_item_" %}
</div>
