{% load xforms_extras %}
{% load i18n %}

<div>
  <div class="form-group">
    <label class="control-label col-sm-2">
      {% trans "Custom Icon" %}
      <span
        class="hq-help-template"
        data-title="{% trans "Sort Properties" %}"
        data-content="{% blocktrans %}
          Please add text body or a xpath function. Text or the result of the xpath function will appear as a badge next to the icon for the case list.
        {% endblocktrans %}"
      >
      </span>
    </label>
    <div class="col-sm-2">
      <select class="form-control">
        <option value="text">
          {% trans "Text Body" %}
        </option>
        <option value="xpath">
          {% trans "XPath Function" %}
        </option>
      </select>
    </div>
    <div class="col-sm-4">
      <input class="form-control" name="custom_icon_text_body" id="custom_icon_text_body"
             value="{{ custom_icon.text|trans:langs }}" placeholder="{% trans "Text Body" %}"
      >
      <input class="form-control" name="custom_icon_xpath" id="custom_icon_xpath"
             value="{% if custom_icon.xpath %}{{ custom_icon.xpath }}{% endif %}" style="display: none"
             placeholder="{% trans "XPath Function" %}">
    </div>
  </div>
</div>
