{% load i18n %}
{% load xforms_extras %}
{% load hq_shared_tags %}
<div class="tab-pane" id="visit-scheduler">
    {% if form.source %}
    <form class="form-horizontal">
        <div data-bind="saveButton: saveButton"></div>
        <!--ko with: formSchedule -->
        <fieldset>
            <legend>{% trans "Schedule Anchor Date" %}</legend>
            <div class="controls">
                <input type="text" id="anchor" placeholder="Anchor" data-bind="value: phase.anchor">
            </div>
        </fieldset>
        <fieldset>
            <legend>{% trans "Form Relevancy Window" %}</legend>
            <div class="control-group">
                <div class="controls">
                    {% trans "Show this form " %}
                    <input type="text" class="input-mini" data-bind="numericValue: relevancy.starts"/>
                    {% trans "days" %}
                    <select data-bind="value: relevancy.starts_type">
                        <option value="before">{% trans "before the anchor date" %}</option>
                        <option value="after">{% trans "after the anchor date" %}</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox inline">
                        <input type="checkbox"
                               data-bind="checked: relevancy.enableFormExpiry,
                                          enable: allowExpiry">
                        {% trans "Hide this form " %}
                    </label>
                    <input type="text" class="input-mini"
                           data-bind="numericValue: relevancy.expires,
                                      enable: (relevancy.enableFormExpiry() && allowExpiry())"/>
                    {% trans "days" %}
                    <select data-bind="value: relevancy.expires_type,
                                       enable: (relevancy.enableFormExpiry() && allowExpiry())">
                        <option value="before">{% trans "before the anchor date" %}</option>
                        <option value="after">{% trans "after the anchor date" %}</option>
                    </select>
                    <span class="label label-info" data-bind="visible: !allowExpiry()">
                        {% trans "Forms can only be hidden if there are no transition or termination conditions" %}
                    </span>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{% trans "Transitions" %}</legend>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: transition">
                        {% trans "Transition to the next form" %}
                    </label>
                    <div data-bind="template: {
                    name: 'case-config:condition',
                    data: {condition: transition_condition, config: $data},
                    }"></div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox"  data-bind="checked: terminate">
                        {% trans "Terminate the schedule" %}
                    </label>
                    <div data-bind="template: {
                    name: 'case-config:condition',
                    data: {condition: termination_condition, config: $data},
                    }"></div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>{% trans "Visit Schedule" %}</legend>
            <div data-bind="foreach: visits">
                <div class="control-group">
                    <label class="control-label">
                        <a href="#" data-bind="
                            click: $parent.removeVisit">
                            <i class="icon-remove"></i>
                        </a>
                        {% trans "Visit" %} <span data-bind="text: $index() + 1"/>:
                    </label>
                    <div class="controls">
                        <input type="text" class="input-mini" data-bind="numericValue: due"/>
                        {% trans "days" %}
                        <select data-bind="value: type">
                            <option value="before">{% trans "Before the anchor date" %}</option>
                            <option value="after">{% trans "After the anchor date" %}</option>
                        </select>
                        {% trans "and up to" %}
                        <input type="text" class="input-mini" data-bind="numericValue: late_window"/>
                        {% trans "days late" %}
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn" data-bind="click: addVisit">
                        <i class="icon-plus"></i>
                        {% trans "Add Fixed Visit" %}
                    </button>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox"  data-bind="checked: hasPostSchedule">
                        {% trans "Schedule recurring visit after the last fixed visit" %}
                    </label>
                    <div data-bind="visible: hasPostSchedule">
                        <input type="text" class="input-mini" data-bind="numericValue: post_schedule_increment"/>
                        {% trans "days after previous visit" %}
                    </div>
                </div>
            </div>
        </fieldset>
        <!--/ko-->
    </form>
    {% else %}
        <p class="alert alert-warning">
            {% trans "You have not created a form yet. Create a form in order to view and edit Case Management." %}
        </p>
    {% endif %}
</div>
