{% load i18n %}

<div data-bind="foreach: { data: graphConfig.currentCharts, as: 'chart' }">
    <br/>
    <p>
        {% trans 'Chart Title' %}: <span data-bind="text: chart.title"></span>
    </p>
    <p>
        <span>{% trans 'Graph type' %}:</span>
        <select type="text" data-bind="
            options: report.graphConfig.allGraphTypes,
            value: report.graphConfig.getCurrentGraphConfig(chart.chart_id).graph_type
        "></select>
    </p>
    <p>
        {% trans 'Configuration' %}:
        <div data-bind="foreach: { data: report.graphConfig.getCurrentGraphConfig(chart.chart_id).config.keyValuePairs, as: 'keyValuePair' }">
            <p>
                <input type="text" data-bind="value: keyValuePair.key">
                <i class="icon-arrow-right"></i>
                <input type="text" data-bind="value: keyValuePair.value">
                <i class="fa fa-remove icon-remove icon-blue" style="cursor: pointer;" data-bind="click: keyValuePair.remove"></i>
            </p>
        </div>
        <button class="btn" data-bind="click: report.graphConfig.getCurrentGraphConfig(chart.chart_id).config.addConfig">
            <i class="icon-plus"></i>
            {% trans "Add Configuration Item" %}
        </button>
    </p>
    <div data-bind="foreach: { data: report.graphConfig.getCurrentGraphConfig(chart.chart_id).chart_series, as: 'series' }">
        <p>
            {% trans 'Series Configuration' %}:
            <span data-bind="text: series"></span>
            <div data-bind="foreach: { data: report.graphConfig.getCurrentGraphConfig(chart.chart_id).series_configs[series].keyValuePairs, as: 'keyValuePair' }">
                <p>
                    <input type="text" data-bind="value: keyValuePair.key">
                    <i class="icon-arrow-right"></i>
                    <input type="text" data-bind="value: keyValuePair.value">
                    <i class="fa fa-remove icon-remove icon-blue" style="cursor: pointer;" data-bind="click: keyValuePair.remove"></i>
                </p>
            </div>
            <button class="btn" data-bind="click: report.graphConfig.getCurrentGraphConfig(chart.chart_id).series_configs[series].addConfig">
                <i class="icon-plus"></i>
                {% trans "Add Series Configuration Item" %}
            </button>
        </p>
    </div>
    <div data-bind="subscribeGraphs: report.graphConfig.addSubscribersToSaveButton()"></div>
</div>
