<div id="graph_configuration_modal" class="hide">

    <div class="modal hide fade graph-config">

        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Wooooo</h3>
        </div>

        <div class="modal-body" style="max-height:372px; overflow-y: scroll;">

            <form class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="graphType">Graph Type</label>
                <div class="controls">
                    <select id="graphType">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
              </div>
            </form>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" data-dismiss="modal">Save</button>
        </div>
    </div>

</div>