{% load xforms_extras %}
{% load hq_shared_tags %}
{% load i18n %}

<form class="form-horizontal save-button-form" action="{% url "corehq.apps.app_manager.views.edit_module_attr" domain app.id module.id 'all' %}">
    {% csrf_token %}
    <div class="save-button-holder clearfix"></div>
    <fieldset>
        <legend>{% trans "Basic" %}</legend>
        {% include "app_manager/partials/module_view_case_type.html" %}
        <div class="form-group">
            <label class="control-label col-sm-2">
                {% trans "Label for Cases" %}
                <span class="hq-help-template"
                      data-title="{% trans "Label for Cases" %}"
                      data-content="{% trans "This label will appear at the top of the phone's case select screen." %}"
                ></span>
            </label>
            <div class="col-sm-4">
                <input type="text" name="case_label" value="{{ module.case_label|trans:langs }}" class="form-control" />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>{% trans "Advanced" %}</legend>
        {% block case_management_advanced_fields %}
        {% include 'app_manager/partials/case_list_setting.html' with LABEL="Case List Menu Item" DESC="An item in the menu that lets you browse the case list without moving on to fill out a form." SLUG="case_list" case_list=module.case_list %}
        {% include 'app_manager/partials/case_list_form_setting.html' %}
        {% if module.module_type == 'basic' and request.project.survey_management_enabled %}
            {% include 'app_manager/partials/case_list_setting.html' with LABEL="Task List" DESC="Whether to have an item in the menu that lets you see all of your delegated tasks. Only makes sense if you're using a delegation workflow." SLUG="task_list" case_list=module.task_list %}
        {% endif %}
        {% endblock case_management_advanced_fields %}
    </fieldset>
</form>
