{% load hq_shared_tags %}
{% load i18n %}
{% if request|feature_preview_enabled:"MODULE_FILTER" %}
<div class="form-group" id="module-filter">
    <label class="col-lg-2 control-label">
        {% trans "Module Filter" %}
    </label>
    <div class="col-lg-4 commcare-feature" data-since-version="2.20">
        <input type="text"
            class="form-control"
            placeholder="{% trans "XPath expression" %}"
            name="module_filter"
            {% if ko_value %}
                data-bind="xpathValidator: {{ ko_value }}"
            {% else %}
                data-bind="xpathValidator: xpath"
            {% endif %}
        />
    </div>
</div>
{% if not ko_value %}
<script>
$(function () {
    $('#module-filter').koApplyBindings({xpath: {{ value|JSON }} || ''});
});
</script>
{% endif %}
{% endif %}
