{% load i18n %}
{% if multimedia_state.has_media %}
    <div class="tab-pane">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#multimedia-download-tab" data-toggle="tab">Download</a></li>
                <li><a href="#multimedia-upload-tab" data-toggle="tab">Bulk Upload</a></li>
                <li><a href="#multimedia-references-tab" data-toggle="tab">Reference Checker</a></li>
            </ul>
            <div class="spacer"></div>
            <div class="tab-content">
                <div id="multimedia-download-tab" class="tab-pane active">
                    {% include "hqmedia/partials/multimedia_zip_notice.html" with include_modal=True%}
                </div>
                <div id="multimedia-upload-tab" class="tab-pane">
                    this is the upload tab
                </div>
                <div id="multimedia-references-tab" class="tab-pane">
                    this is the references tab
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-info">
        {% blocktrans %}
            This application does not contain any multimedia references.
        {% endblocktrans %}
    </div>
{% endif %}
