html, body{
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.left-menu {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: solid 1px #9d9d9d;
    font-size: 14px;
    padding-right: 0;
    padding-left: 0;
    color: #004ebc;
    background: #ffffff;
}

.left-menu li {
    padding: 10px;
}

.left-menu li.active {
    background-color: #d3d3d3;
    border-left: 4px solid #004ebc;
}

.logo {
    vertical-align: middle;
    margin: 15px auto;
    width: 190px;
}

ul {
  list-style-type: none;
}

.light-grey {
    color: #9d9d9d;
}

.navbar-nav > li {
    float: left;
    border-left: solid 1px #9d9d9d;
    padding: 10px;
    width: 75px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

li.no-padding {
    padding: 0;
}

li.auto-width {
    width: auto;
}

.main-container {
    height: auto;
    position: absolute;
    right: 0;
}

.program-overview {
    padding: 30px;
}

.program-overview > .row {
    margin-bottom: 30px;
}

.no-padding {
    padding: 0;
}

.indicator {
    background: #ffffff;
    text-align: center;
    padding: 10px;
}

.indicator-bottom {
    text-align: center;
    color: white;
    padding: 10px;
}

.main-value {
    font-size: 35px;
}

.second-value {
    font-size: 20px;
}

.line {
    width: 80px;
    margin: 0 auto;
}

.line > hr {
    margin-bottom: 0;
    margin-top: 0;
    border-top: 1px solid #9c9c9c;
}

.shadow {
    box-shadow: 0 0 5px 0 #00000036;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
    border-radius: 0;
    margin-bottom: 0;
}
