{% load i18n %}
<header>
  <div class="row-fluid">
    <div class="span12">
      <div class="alert alert-warning" data-bind="visible: hasCaseHistoryTable()">
        {% blocktrans %}
          Case history exports are no longer available.
          They will be removed when you save this export.
          Please contact {{ SUPPORT_EMAIL }} if this change is affecting your project
        {% endblocktrans %}
      </div>
      <h3>{{ terminology.page_header }}</h3>
      <p>{{ terminology.help_text }}</p>
      <hr/>
    </div>
  </div>
</header>
