{% load crispy_forms_tags %}
{% load i18n %}
{% load hq_shared_tags %}

<div class="modal fade" id="setFeedFiltersModal">
  <div class="modal-dialog">
    <form name="feedFiltersForm" class="form form-horizontal" data-bind="submit: commitFilters">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">{% trans 'Close' %}</span>
          </button>
          <h4 class="modal-title">{% trans "Filter Feed" %}</h4>
        </div>

        <div class="modal-body" data-bind="validationOptions: {errorMessageClass: 'help-block'}">
          <div data-bind="if: hasLocationRestrictions()">
            {% trans "This export is limited to the following locations:" %}
            <ul data-bind="foreach: locationRestrictions">
              <li data-bind="text: $data"></li>
            </ul>
          </div>
          {% crispy export_filter_form %}
          <div class="alert alert-danger" role="alert" data-bind="visible: formSubmitErrorMessage">
            <span data-bind="text: formSubmitErrorMessage"></span>
            <span data-bind="visible: !formSubmitErrorMessage()">{% trans "There was an unknown error saving the filters" %}</span>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="disabled: isSubmittingForm">
            {% trans 'Cancel' %}
          </button>
          <button type="submit" class="btn btn-primary" data-bind="visible: !isSubmittingForm(), disable: disableSubmit">
            {% trans "Save filters"%}
          </button>
          <button class="btn btn-default" disabled data-bind="visible: isSubmittingForm()">
            {% trans "Saving..." %}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
