{% load crispy_forms_tags %}
{% load i18n %}
{% load hq_shared_tags %}
{% load djangular_tags %}
{% load humanize %}

            {% if model_type == "case" %}
            {% angularjs %}
            <td>
                <h4>
                    {{ export.case_type }}
                </h4>
            </td>
            {% endangularjs %}
            {% endif %}

            {% if has_edit_permissions %}
            {% angularjs %}
            <td>
                <div ng-if="export.can_edit">
                    <div ng-if="isLocationSafeForUser(export)">
                        <a href="{{ export.editUrl }}" class="btn btn-default">
                            <i class="fa fa-pencil"></i>
                            <span ng-show="!export.isDailySaved">{% trans 'Edit' %}</span>
                            <span ng-show="export.isDailySaved">{% trans 'Edit Columns' %}</span>

                        </a>
                    </div>
                </div>
                <div ng-if="!export.can_edit">
                    <div ng-if="isLocationSafeForUser(export)">
                        <a class="btn btn-default disabled">
                            <i class="fa fa-pencil"></i>
                            <span ng-show="!export.isDailySaved">{% trans 'Edit' %}</span>
                            <span ng-show="export.isDailySaved">{% trans 'Edit Columns' %}</span>

                        </a>
                    </div>
                </div>
            </td>
            <td>
                <div ng-if="isLocationSafeForUser(export)">
                    <a href="{% angularjs %}{{ export.copyUrl }}{% endangularjs %}" class="btn btn-default">
                        <span>{% trans 'Copy' %}</span>
                    </a>
                </div>
            </td>

            {% endangularjs %}
            {% endif %}
            <td>
                <a href="{% angularjs %}{{ export.downloadUrl }}{% endangularjs %}"
                   ng-show="!export.isDailySaved"
                   class="btn btn-primary"
                   ng-click="sendExportAnalytics()"
                >
                    {{ export_type_caps }}
                </a>
                {% if has_edit_permissions %}
                <a class="btn btn-default"
                   ng-show="export.isDailySaved"
                   href="#setFeedFiltersModal"
                   data-toggle="modal"
                   ng-click="setFilterModalExport(export)"
                   ng-if="isLocationSafeForUser(export)"
                >
                    {% trans "Edit Filters" %}
                </a>
                {% endif %}
            </td>
            <td ng-show="export.emailedExport">
                {% angularjs %}
                <a class="btn btn-default"
                        ng-disabled="export.emailedExport.savingAutoRebuildChange"
                        data-toggle="modal"
                        data-target="#modalEnableDisableAutoRefresh-{{ export.id }}-{{ export.emailedExport.groupId }}">
                    <span ng-show="!export.isAutoRebuildEnabled">{% trans "Enable" %}</span>
                    <span ng-show="export.isAutoRebuildEnabled">{% trans "Disable" %}</span>
                </a>
                {% endangularjs %}
            </td>
            {% if allow_bulk_export %}
            {% angularjs %}
            <td>
                <div class="checkbox checkbox-table-cell">
                    <label>
                        <input type="checkbox"
                               class="bulk-checkbox"
                               ng-model="export.addedToBulk"
                               ng-change="updateBulkStatus()"
                               id="add-to-bulk-{{ export.id }}" />
                    </label>
                </div>
            </td>
            {% endangularjs %}
            {% endif %}

            {% angularjs %}
            <td>
                <div ng-if="export.sharing == 'private'">
                    {% trans 'Private' %}
                </div>
                <div ng-if="export.sharing == 'export_only'">
                    {% trans 'Export Only' %}
                </div>
                <div ng-if="export.sharing == 'edit_and_export'">
                    {% trans 'Edit & Export' %}
                </div>
            </td>
            {% endangularjs %}
        </tr>
    </tbody>
