@preview-navbar-height: 40px;

.navbar-formplayer {
  background-color: @cc-brand-mid;
  min-height: @preview-navbar-height;
  color: white;
  margin-bottom: 0;
  border-bottom: none;

  .navbar-nav {
    float: left;
    margin: 0 -10px;
  }
  .navbar-right {
    float: right;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    color: white;
    line-height: @preview-navbar-height;
    padding: 13px 10px;
    font-size: 1.4rem;
    .transition(background 1s);

    &:link, &:focus, &:visited, &:hover {
      color: white;
      text-decoration: none;
    }

    &:hover {
      background-color: @cc-brand-low;
    }
  }
}
