@webforms-container-height: 374px;
@webforms-header-height: 40px;
@webforms-nav-height: 30px;

.webforms {
  position: relative;
}

.webforms-navigation-container {
  position: relative;
}

.webforms-scrollable-container {
  max-height: @webforms-container-height;
  height: @webforms-container-height;
  position: relative;
}

.webforms-scrollable-container .page-header {
  display: none;
}

.webforms > .row {
  margin: 0;
}
.webforms > .row > .col-sm-12 {
  padding: 0;
}
.webforms .widget {
  margin-right: 0;
}

.webforms .q {
  background-color: white;
  margin: 0;
  padding: 20px 3px;
  box-sizing: border-box;
  min-height: @webforms-container-height;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  display: none;
}

.webforms form {
  margin: 0;
}

.webforms form > div {
  position: relative;
}

.webforms .form-actions {
  display: none;
  position: absolute;
  top: -(@webforms-nav-height+1);
  left: 34px;
  height: 30px;
  margin: 0;
  padding: 0;
  > div {
    padding: 0;
  }
  .submit {
    background-color: @cc-att-pos-mid;
    width: 216px;
    border: none;
    height: @webforms-nav-height;
    .border-top-radius(0);
    .border-bottom-radius(0);
    .transition(background 1s);
    &:hover {
      background-color: @cc-att-pos-low;
    }
  }
}

.webforms-nav {
  height: @webforms-nav-height;
  background-color: @cc-bg;
  padding: 0 8px;
  margin: 0 -6px;
  box-sizing: border-box;
  width: 262px;
  position: absolute;
  top: -@webforms-nav-height;

  .webforms-nav-btn {
    border: none;
    padding: 9px;
    margin: 0;
    color: @cc-brand-mid;
    .border-top-radius(0);
    .border-bottom-radius(0);
    .transition(1s background);
    &:focus {
      outline: none;
      background-color: transparent;
      &:hover {
        background-color: @cc-neutral-hi;
      }
    }
  }

  .webforms-nav-prev {
    float: left;
  }
  .webforms-nav-next {
    float: right;
  }

  .progress {
    position: absolute;
    width: 180px;
    top: 6px;
    left: 40px;
    background-color: @cc-neutral-hi;
    .box-shadow(none);
    .border-top-radius(0);
    .border-bottom-radius(0);
  }
}

.webforms-header {
  height:  @webforms-header-height;
  background-color: @cc-brand-mid;
  margin: 0;
  margin-left: 30px;
  padding: 0 10px;
  width: 155px;
  box-sizing: border-box;
  position: absolute;
  top: -(@webforms-header-height + @webforms-nav-height);
  z-index: @zindex-navbar;
  border-bottom: none;

  h1 {
    margin: 0;
    line-height: @webforms-header-height;
    font-size: 12px;
    font-weight: 400;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.webforms-container-submit {
  overflow: visible;
}
