{% load i18n %}
{% load hq_shared_tags %}
{% trans "Valid Values &amp; Formats" %}
<span
  class="hq-help-template"
  data-title="{% trans_html_attr 'Valid values or format' %}"
  data-content="
    {% trans_html_attr 'When importing data, CommCare will only save rows with cells that match the listed values or format.' %}
    {% if mirroring_enabled %}
        {% trans_html_attr 'Cases being created or updated in different project spaces may have different valid values.' %}
    {% endif %}
    ">
</span>
