.smiley-report {
  font-size: 18px;
  text-align: center;
  border: 1px solid black;
  padding: 0px 30px;
  margin-top: 40px;
  margin-bottom: 60px;
}
.smiley-report h2 {
  margin-top: 40px;
}
.smiley-report .week-total {
  font-size: 60px;
  width:100%;
  padding: 25px 10px;
}
.smiley-report .icon-caption {
  font-size: 20px;
  margin: 10px;
}
svg {
  display: block;
  height: 400px;
  min-width: 100px;
}
