{% load hq_shared_tags %}{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CommCare HQ Map</title>
	{% compress css %}
        <link type="text/css" rel="stylesheet" media="all" href="{% new_static 'style/lib/bootstrap-3.2.0/dist/css/bootstrap.min.css' %}"/>
        <link type="text/css" rel="stylesheet" media="all" href="{% new_static 'reports/css/leaflet/leaflet.css' %}" />
    {% endcompress %}
    <style>
        #map { height: 800px; }
        .map-info {
            padding: 6px 8px;
            background: white;
            background: rgba(255,255,255,0.8);
            border-radius: 5px;
        }
        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }
        .legend {
            line-height: 18px;
            color: #555;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }
    </style>
</head>
<body>
	<div class="container-fluid">
		{% block main_content %}
            <h1>Incoming Forms by country <small>This should update in real time. Also check out the <a href="{% url 'dimagisphere_charts' %}" target="_blank">graph</a></small></h1>
            <div id="map"></div>
            <div id="controls" class="pull-right">Simulate:
                <button id="controlButton" type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
            </div>
		{% endblock main_content %}
	</div>
    {% compress js %}
        <script type="text/javascript" src="{% new_static 'jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% new_static 'style/lib/bootstrap-3.2.0/dist/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% new_static 'js/ws4redis.js' %}"></script>
        <script type="text/javascript" src="{% new_static 'reports/javascripts/leaflet.js' %}"></script>
        <script type="text/javascript" src="{% new_static 'hqadmin/js/dimagisphere_helper.js' %}"></script>
    {% endcompress %}
    {% block script_panel %}
        <script type="text/javascript">
jQuery(document).ready(function($) {
    var ws4redis = WS4Redis({
        uri: '{{ WEBSOCKET_URI }}form-feed?subscribe-broadcast',
        receive_message: receiveMessage,
        heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });

    function addDataToMap(msgObj) {
        if (dimagisphere.addData(msgObj)) {
            colorAll();
            // this removes from active after a bit of time
            window.setTimeout(function () {
                dimagisphere.formData.recentFormsByCountry[msgObj.country] -= 1;
            }, 1000);
        }
    }

    // receive a message though the Websocket from the server
    function receiveMessage(msg) {
        addDataToMap(JSON.parse(msg));
    }

    var countriesGeo;
    // A lot of the styling work here is modeled after http://leafletjs.com/examples/choropleth.html
    var map = L.map('map').setView([0, 0], 3)
    var mapId = 'mapbox.dark';
    // todo: move to config somewhere
    var accessToken = 'pk.eyJ1IjoiY3p1ZSIsImEiOiJjaWgwa3U5OXIwMGk3a3JrcjF4cjYwdGd2In0.8Tys94ISZlY-h5Y4W160RA';
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        maxZoom: 10,
        id: mapId,
        accessToken: accessToken
    }).addTo(map);

    function getColor(featureId) {
        // courtesy of http://colorbrewer2.org/
        var colors = ['#edf8fb','#b2e2e2','#66c2a4','#2ca25f','#006d2c'];
        var count = dimagisphere.formData.totalFormsByCountry[featureId];
        if (!count) {
            return colors[0];
        }
        var activeCount = dimagisphere.formData.recentFormsByCountry[featureId];
        if (!activeCount) {
            var pct = count / dimagisphere.formData.maxFormsByCountry;
            var index = Math.min(Math.floor(pct * colors.length), colors.length - 1);

            return colors[index];
        }
        else {
            var activeColors = ['#fef0d9','#fdcc8a','#fc8d59','#e34a33','#b30000'];
            var activeIndex = Math.min(activeCount, activeColors.length - 1);
            return activeColors[activeIndex]
        }
    }

    function getOpacity(featureId) {
        if (dimagisphere.formData.totalFormsByCountry[featureId]) {
            return .9;
        } else {
            return 0;
        }
    }

    function style(feature) {
        return {
            fillColor: getColor(feature.properties.name),
            weight: 2,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: getOpacity(feature.properties.name)
        };
    }

    // highlights
    function highlightFeature(e) {
        var layer = e.target;
        layer.setStyle({
            weight: 4,
            color: '#002c5f',
            dashArray: ''
        });
        if (!L.Browser.ie && !L.Browser.opera) {
            layer.bringToFront();
        }
        info.update(layer.feature.properties);
    }

    function resetHighlight(e) {
        countriesGeo.resetStyle(e.target);
        info.update();
    }

    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight
        });
    }

    // info control
    var info = L.control();
    info.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'map-info');
        this.update();
        return this._div;
    };

    // method that we will use to update the control based on feature properties passed in
    info.update = function (props) {
        function _getInfoContent(countryName) {
            var formCount = dimagisphere.formData.totalFormsByCountry[countryName];
            var message = formCount ? formCount + ' forms' : 'no data yet';
            return '<b>' + countryName + '</b>: ' + message;
        }
        this._div.innerHTML = (props ? _getInfoContent(props.name) : 'Hover over a country');
    };
    info.addTo(map);

    // todo: should probably be getting this from somewhere else and possibly not on every page load.
    $.getJSON('https://raw.githubusercontent.com/dimagi/world.geo.json/master/countries.geo.json', function (data) {
        countriesGeo = L.geoJson(data, {style: style, onEachFeature: onEachFeature}).addTo(map);
    });

    function colorAll() {
        if (countriesGeo !== undefined) {
            countriesGeo.setStyle(style);
            map.removeControl(legend);
            legend.addTo(map);
        }
    }

    // update all every 5 seconds in case no activity (this is just to clear active state)
    window.setInterval(colorAll, 5000);

    // add a legend
    var legend = L.control({position: 'bottomleft'});

    var createLegend = function (map) {
        var div = L.DomUtil.create('div', 'info legend'),
            // todo: move these out into shared variables with the getColor function
            colors = ['#edf8fb','#b2e2e2','#66c2a4','#2ca25f','#006d2c'],
            activeColors = ['#fef0d9','#fdcc8a','#fc8d59','#e34a33','#b30000'];

        var activeGrades = activeColors.map(function(e, i) {
            return i;
        });

        // todo: consider removing these everywhere? or bumping the values up by 1?
        // remove the 0 grade and color because they are never used and would be inaccurate in a legend.
        activeGrades.shift();
        activeColors.shift();

        // get the upper bounds for each bucket
        var grades = colors.map(function(e, i) {
            var bound = dimagisphere.formData.maxFormsByCountry * (i+1) / colors.length;
            return Math.max(0, (i < colors.length -1 && Math.floor(bound) === bound) ? bound - 1 : Math.floor(bound));
        });

        var indicesToRemove = [];
        colors = colors.filter(function(elem, index) {
            if (grades[index] <= 0 || (index > 0 && grades[index] == grades[index-1])) {
                indicesToRemove.push(index);
                return false;
            } else {
                return true;
            }
        });

        grades = grades.filter(function(elem, index) {
            return indicesToRemove.indexOf(index) <= -1;
        });

        div.innerHTML += '<p>Recent Forms</p>';

        // loop through our intervals and generate a label with a colored square for each interval
        for (var i = 0; i < activeGrades.length; i++) {
            div.innerHTML +=
                '<i style="background:' + activeColors[i] + '"></i> ' +
                activeGrades[i] + (activeGrades[i + 1] ? '<br>' : "+");
        }

        div.innerHTML += '<p>All Forms Since Opening</p>' +
                         '<i style="background:' + 'black' + '"></i> ' + '0' + '<br>';

        // loop through our intervals and generate a label with a colored square for each interval
        for (var i = 0; i < grades.length; i++) {
            div.innerHTML += '<i style="background:' + colors[i] + '"></i> ';
            if (grades[i-1] !==  undefined) {
                if (grades[i-1] +1 < grades[i]) {
                    div.innerHTML += (grades[i-1] + 1) + '&ndash;'
                }
            } else if (grades[i] > 1) {
                div.innerHTML += '1&ndash;'
            }
            div.innerHTML += grades[i] + '<br>';
        }

        return div;
    };

    legend.onAdd = createLegend;
    legend.addTo(map);

    // simulation controls
    var simulationOn = false;
    var controlButton = $('#controlButton');
    function setPauseButton() {
        controlButton.children('span').removeClass('glyphicon-play').addClass('glyphicon-pause');
    }
    function setPlayButton() {
        controlButton.children('span').removeClass('glyphicon-pause').addClass('glyphicon-play');
    }
    function simulateForms() {
        if (simulationOn) {
            addDataToMap(dimagisphere.generateRandomItem());
            window.setTimeout(simulateForms, 1200);
        }
    }
    controlButton.click(function () {
        if (!simulationOn) {
            simulationOn = true;
            setPauseButton()
            simulateForms();
        } else {
            simulationOn = false;
            setPlayButton();
        }
    });
});
</script>
	{% endblock %}
</body>
</html>
