from corehq.apps.cleanup.tests.util import ModelAttrEqualityHelper
from {{models_path}} import {{class_name}}
from {{models_path}} import SQL{{class_name}}


class Test{{class_name}}ModelsAttrEquality(ModelAttrEqualityHelper):

    def test_have_same_attrs(self):
        couch_attrs = self.get_cleaned_couch_attrs({{class_name}})
        sql_attrs = self.get_sql_attrs(SQL{{class_name}})
        self.assertEqual(couch_attrs ^ sql_attrs, set())

    couch_only_attrs = {*[
        # removed attrs
        # renamed attrs
        # not used attrs
    ]}

    sql_only_attrs = {*[
        # new attrs
        # renamed attrs
        # auto generated attrs
        # Django 5.2 will auto generate get_next_by_FOO and get_previous_by_FOO methods for non-nullable DateTimeFields
        # https://docs.djangoproject.com/en/5.2/ref/models/instances/#django.db.models.Model.get_next_by_FOO
        # We don't want to test these, so we add them to the sql_only_attrs manually
        # eg. 'get_next_by_time', 'get_previous_by_time',
    ]}
