# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/corehq/apps/analytics/ @orangejenny
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/styleguide/ @orangejenny

/corehq/apps/accounting/ @nickpell
/corehq/apps/smsbillables/ @nickpell

/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/motech/ @kaapstorm

/custom/aaa/ @emord
