# https://help.github.com/en/articles/about-code-owners

/custom/aaa/ @emord

/static/ @orangejenny
/templates/ @orangejenny

/corehq/apps/analytics/ @orangejenny
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/styleguide/ @orangejenny
