version: 2
updates:
- package-ecosystem: pip
  directory: "/requirements"
  schedule:
    interval: daily
    time: "10:00"
  open-pull-requests-limit: 7
  labels:
  - product/invisible
  # Focus on major versions only
  # Todo: remove once we're in steady-state on major versions
  ignore:
    - dependency-name: "*"
      update-types:
        - "version-update:semver-patch"
        - "version-update:semver-minor"

- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "10:00"
  open-pull-requests-limit: 5
  labels:
  - product/invisible
  - dependencies/javascript
  # Focus on major versions only
  # Todo: remove once we're in steady-state on major versions
  ignore:
    - dependency-name: "*"
      update-types:
        - "version-update:semver-patch"
        - "version-update:semver-minor"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
  labels:
  - product/invisible
