.detail-screen-table {
    display: inline-block;
}
.detail-screen-table th {
    border-top-width: 0;
}
.filter-form .ui-autocomplete-input {
    margin-left: 26px;
    margin-right: 6px;
}
.detail-screen-table td {
    word-wrap: break-word;
}
.detail-screen-table th, .detail-screen-table td {
    vertical-align: middle;
}

.detail-screen-table th.detail-screen-checkbox {
    text-decoration: underline;
    cursor: pointer;
}
.detail-screen-table .detail-screen-checkbox {
    width: 30px;
}
.detail-screen-table .detail-screen-icon {
    width: 21px;
}
.detail-screen-table .detail-screen-model {
    width: 70px;
    padding-left: 0;
    padding-right: 0;
}
.detail-screen-table .detail-screen-field {
    width: 160px;
}
.table > tbody.slim {
    border-top-width: 0px;
}
