.detail-screen-table th {
    border-top-width: 0;
}

.detail-screen-table td {
    word-wrap: break-word;
}
.detail-screen-table th, .detail-screen-table td {
    vertical-align: middle;
}

.detail-screen-table th.detail-screen-checkbox {
    text-decoration: underline;
    cursor: pointer;
}
.detail-screen-table .detail-screen-checkbox {
    width: 30px;
}
.detail-screen-table .detail-screen-icon {
    width: 21px;
}
.detail-screen-table .detail-screen-model {
    width: 70px;
    padding-left: 0;
    padding-right: 0;
}
.detail-screen-table .detail-screen-field {
    width: 160px;
}
.detail-screen-table .detail-screen-suggestion {
    color: #888;
    cursor: pointer;
    border: 1px solid transparent;
}
.detail-screen-table .detail-screen-suggestion:hover {
    color: inherit;
    background-color: #EEE;
}
.detail-screen-table .detail-screen-columns tr {
    background-color: #EEE;
}
