/*
   from here: https://github.com/kilink/ghdiff/blob/fc471d1b0368d03ca69478979872e7f109122962/src/ghdiff.py#L15-L48
*/
.diff {
    border: 1px solid #cccccc;
    background: none repeat scroll 0 0 #f8f8f8;
    font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
    font-size: 12px;
    line-height: 1.4;
    white-space: normal;
    word-wrap: break-word;
}
.diff div:hover {
    background-color:#ffc;
}
.diff .control {
    background-color: #eaf2f5;
    color: #999999;
}
.diff .insert {
    background-color: #ddffdd;
    color: #000000;
}
.diff .insert .highlight {
    background-color: #aaffaa;
    color: #000000;
}
.diff .delete {
    background-color: #ffdddd;
    color: #000000;
}
.diff .delete .highlight {
    background-color: #ffaaaa;
    color: #000000;
}
