/* http://stackoverflow.com/questions/10169432/how-can-i-change-the-default-width-of-a-twitter-bootstrap-modal-box */
.modal.graph-config {
    width: 750px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    /* TODO: Can we use less for some variable action here? */
    margin-left: -375px;
}

.annotations table .btn {
    margin-bottom: 9px;
}
.configuration form {
    margin-bottom: 9px;
}
.config-controls {
    margin-bottom: 9px;
}

.annotations td {
    padding: 2px;
}

.modal.graph-config .form-horizontal .control-label {
    /* This is the width of the widest label plus 16. Might make more sense to compute
       this with js, or choose a slightly larger value. */
    width: 94px;
}
.modal.graph-config .form-horizontal .controls {
    /* This should be the width of .modal.graph-config .form-horizontal .control-label
       plus 20. Again, probably makes more sense to use a less variable. */
    margin-left: 114px;
}
.modal.graph-config .series .control-group:last-of-type {
    border-bottom: 1px solid #e5e5e5;
}
.modal.graph-config .series .control-group:last-of-type .controls > a {
    margin-bottom: 10px;
}

.configuration .property-name {
    display: inline-block;
    /* This width is intended to match the width+padding+border of the
       input-small class. Surely there is a DRYer way to do this... */
    width: 104px;
}
