{% load hq_shared_tags %}
<script src='{% static 'hqadmin/js/nvd3_charts_helper.js' %}' type='text/javascript'></script>
<script type="text/javascript">
    $inventory_filter = $('#inventory_filter');
    $inventory_filter.createDefaultDateRangePicker();
    $('#inventory_filter_btn').on('click', function(e) {
        e.preventDefault();
        $('.hq-loading').fadeIn();

        $(this).prop('disabled', true);
        var dates = $($inventory_filter).val().split($inventory_filter.getDateRangeSeparator());
        $.ajax({
            type: 'GET',
            datatype: 'json',
            url: '{% url 'inventory_managment' domain %}',
            data: {
                startdate: dates[0],
                enddate: dates[1],
                location_id: '{{ location_id }}'
            },
            success: function(response) {
                $(line_chart_id + ' svg').empty();
                line_chart_data = response;
                $('#inventory_filter_btn').removeAttr('disabled');
                $('.hq-loading').fadeOut();

                d3.select(line_chart_id + ' svg')
                        .datum(response)
                        .transition().duration(500).call(line_chart);
                show_hide_line_chart_data();
            },
            error: function() {
            }
        });
    });

    $stockout_filter = $('#stockouts_filter');
    $stockout_filter.createDefaultDateRangePicker();
    $('#stockouts_filter_btn').on('click', function(e) {
        e.preventDefault();
        $('.hq-loading').fadeIn();

        $(this).prop('disabled', true);
        var dates = $($stockout_filter).val().split($stockout_filter.getDateRangeSeparator());
        $.ajax({
            type: 'GET',
            datatype: 'json',
            url: '{% url 'stockouts_product' domain %}',
            data: {
                startdate: dates[0],
                enddate: dates[1],
                location_id: '{{ location_id }}'
            },
            success: function(response) {

                $(line_chart_id + ' svg').empty();
                $.each(response, function( index, value ) {
                    $.each(value.values, function( id, v ) {
                        v.x = Date.parse(v.x);
                    });
                });

                line_chart_data = response;
                $('#stockouts_filter_btn').removeAttr('disabled');
                $('.hq-loading').fadeOut();

                d3.select(line_chart_id + ' svg')
                        .datum(response)
                        .transition().duration(500).call(line_chart);
                show_hide_line_chart_data();

            },
            error: function() {
            }
        });
    });

    nv.addGraph(function() {
        var chart_config = {{ chart.config_dict|JSON }};
        {% if chart.data_needs_formatting %}
            line_chart_data = formatDataForLineGraph({{ chart.data|JSON }});
        {% else %}
            line_chart_data = {{ chart.data|JSON }};
        {% endif %}
        line_chart_id = '#{{ chart_id }}';

        $(line_chart_id).show();

        line_chart = nv.models.lineChart();

        line_chart.xAxis.axisLabel({{ chart.x_axis.label|JSON }});
        {% if chart.x_axis.format %}
            line_chart.xAxis.tickFormat(d3.format({{ chart.x_axis.format|JSON }}));
        {% else %}
            {% if chart.x_axis_uses_dates %}
                line_chart.xAxis.tickFormat(function(d){return d3.time.format.utc('%b %d' + linebreak_txt + '%Y')(new Date(d));});
            {% endif %}
        {% endif %}

        //Modify x-values to date-objects and set tickFormat
        {% if chart.x_axis.dateFormat %}
            var tickValues = [];
            for (i=0 ; i<line_chart_data.length; i++){
                single_line_chart_data = line_chart_data[i].values;
                for (j=0; j<single_line_chart_data.length; j++){
                    date = single_line_chart_data[j].x;
                    single_line_chart_data[j].x = new Date(date).getTime();
                    if (i ===0) {
                        tickValues.push(new Date(date).getTime());
                    }
                }
            }
            line_chart.xAxis.tickFormat(function(d) {return d3.time.format({{ chart.x_axis.dateFormat|JSON }})(new Date(d)); })
            line_chart.xAxis.tickValues(tickValues);
        {% endif %}

        line_chart.yAxis.axisLabel({{ chart.y_axis.label|JSON }});
        {% if chart.y_axis.format %}
            line_chart.yAxis.tickFormat(d3.format({{ chart.y_axis.format|JSON }}));
        {% endif %}

        {% if chart.forceY %}
            line_chart.forceY({{ chart.forceY|JSON }});
        {% endif %}

        line_chart.margin(chart_config.margin);
        line_chart.tooltips(chart_config.tooltips);

        for (var property in line_chart.legend.dispatch) {
            line_chart.legend.dispatch[property] = function() { };
        }

        d3.select(line_chart_id + ' svg')
                .datum(line_chart_data)
                .transition().duration(500).call(line_chart);

        nv.utils.windowResize(line_chart.update);

        var updateLineBreaks = function() {
            d3.selectAll(line_chart_id + ' g.nv-x.nv-axis g text').each(insertLinebreaks);
        };

        {% if chart.x_axis_uses_dates %}
            // hacks for adding line breaks whenever the graphs are redrawn
            updateLineBreaks();
            $(document).on('click', line_chart_id + ' .nv-series', function(){
                updateLineBreaks();
            });
            nv.utils.windowResize(function(e) {
                line_chart.update(e);
                updateLineBreaks();
            });
        {% endif %}

        show_hide_line_chart_data();
        return line_chart;
    });
</script>
