.form-container {
  background-color: white;
  min-height: calc(100vh - $webforms-nav-height + $webforms-breadcrumb-height);
  box-sizing: border-box;
  padding: 0 10px;

  .page-header {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
  .page-header h1 {
    padding: 10px 0 15px;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: $cc-neutral-mid;
    margin-top: 0;
  }
}

.form-container .gr {
  background-color: desaturate(lighten($cc-brand-hi, 8), 40);
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid desaturate($cc-brand-hi, 30);
  border-top: 3px solid desaturate($cc-brand-hi, 30);
}

.form-container .gr.gr-no-children {
  background-color: transparent;
  border-bottom: none;
  border-top: none;
}

.form-container .gr-header legend {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.page-footer {
  padding: 14px 8px 7px;
}

.form-single-question {
  padding-top: 0px;
}

.form-container .form-actions {
  background-color: transparent;
  border-top: none;
  padding-top: 0;

  .btn {
    width: 100%;
    font-size: 16px;
    transition: all .5s;
  }
}

.form-container {
  .loading {
    right: 12px;
    font-size: 14px;
    top: 2px;
  }
}

.q {
  padding: 10px 0;
  label {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.q.required {
  transition: all .5s;
  margin-bottom: 0;
}

.q.required.on {
  background-color: $cc-att-neg-hi;
  border: 10px solid $cc-att-neg-mid;
  border-bottom: none;
  label {
    margin-left: 0;
    margin-right: 0;
  }
}

.form-group-required-label {
  opacity: 0;
  transition: all .5s;
}

.form-group-required-label.on {
  opacity: 100;
  font-size: 10px;
  background-color: $cc-att-neg-mid;
  color: white;
  width: auto;
  line-height: 14px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 6px 10px 7px;
  text-align: left;
  margin-top: 0;
  border: none;
}

.q .help-block {
  font-size: 11px;
  &:before {
    content: "\f05a";
    font-family: 'FontAwesome';
    display: inline-block;
    padding-right: 5px;
  }
}
