.btn-formnav-submit {
  transition: width $transition-speed;
  width: $preview-phone-width - 46px;
  text-transform: uppercase;
  padding: 8px 10px;
  border: none;
  transition: all $transition-speed;

  border-radius: 0;
}

.preview-tablet-mode {
  .formnav-container {
    width: $preview-tablet-width;
  }
  .btn-formnav-submit {
    width: $preview-tablet-width - 46px;
  }
}
