{% extends "mocha/bootstrap3/base.html" %}
{% load hq_shared_tags %}

{% block dependencies %}
    <script type="text/javascript" src="{% new_static 'knockout/dist/knockout.js' %}"></script>
    <script src="{% new_static 'locations/ko/location_types.js' %}"></script>
{% endblock %}

{% block fixtures %}
    <script src="{% new_static 'locations/spec/data/locations_data.js' %}"></script>
{% endblock %}

{% block mocha_tests %}
    <script src="{% new_static 'locations/spec/types_spec.js' %}"></script>
{% endblock %}

