{% load i18n %}
{% load hq_shared_tags %}

<script>
    $(function () {
        var id = {{ id|JSON }},
            adjustHeights = {{ adjust_heights|JSON }};

        if (!adjustHeights) {
            return;
        }

        // make horizontally adjacent dls look aligned like a table
        $("#" + id).one('inview', function () {
            
            var $rowContainer = $(this),
                maxHeights = [];

            // get max height of each row
            $rowContainer.children().children().children("dl").each(function () {
                $(this).children().each(function (i, el) {
                    maxHeights[i] = Math.max(maxHeights[i] || 0, $(el).height());
                });
            });

            // set height on all cells in each row
            _.map(maxHeights, function (val, i) {
                $rowContainer.find(".case-properties-table > dl > " + 
                                   ":nth-child(" + (i+1) + ")").css({
                    height: val + "px"
                });
            });

            // make sure tables with fewer rows than the tallest table are the
            // same height as it
            var maxHeight = 0;
            $rowContainer.find(".case-properties-table").each(function () {
            console.log("foo", $(this), $(this).height());
                maxHeight = Math.max(maxHeight, $(this).height());
                
            });
            console.log(id, "maxHeight", maxHeight);
                $rowContainer.find(".case-properties-table").css({
                height: maxHeight + "px"
            });

        });
    });
</script>

<div class="property-table-row" id="{{ id }}">
    {% for table_name, columns in tables %}
    <div class="property-table-container">

        {% if table_name %}
        <div class="table-tab">
            {{ table_name }}
        </div>
        {% endif %}

        <div class="case-properties-table well
            {% with table_count=tables|length column_count=columns|length %}
            {% if not put_loners_in_wells and not table_name and table_count == 1 and column_count == 1 %} 
                well-standalone
            {% endif %}
            {% endwith %}">
            {# todo: make work with either tables or dls, specify which with kwarg #}
            {# (requires transforming dl columns to table rows and handling colspan)} #}
            {# <table class="table table-bordered case-properties-table"> #}

            {% for column in columns %}
            <dl>
                {% for expr, name, value in column %}
                {% if name %}
                <dt title="{{ expr }}">
                    {{ name }}
                </dt>
                <dd>
                    {{ value }}
                </dd>
                {% else %} {# empty row #}
                <dt></dt><dd></dd>
                {% endif %}
                {% endfor %}
            </dl>
            {% empty %}
            <dl>
                <dt>
                    {% trans "No data" %}
                </dt>
                <dd>
                    <span class="muted">
                        {% trans "No properties found." %}
                    </span>
                </dd>
            </dl>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>
    {% endfor %}
</div>
