{% load i18n %}
{% load xform_tags %}
{% load i18n %}
{% load timezone_tags %}
{% load case_tags %}
{% load hq_shared_tags %}
<script src="{% static "case/js/lib/jquery.inview.js" %}"></script>

<style type="text/css">
    .hq-generic-report {
        padding: 10px;
    
    }
    dl {
        margin-bottom: 0px;
        display: inline-block;
    }

    dl:not(:last-child) {
        margin-right: 38px;
    }

    .property-table-container {
        float: left;
        margin-bottom: 18px;
        margin-right: 18px;
    
    }

    /* partially lifted from bootstrap docs */
    .table-tab {
        top: -26px;
        left: 0px;
        display: inline-block;
        width: auto;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: bold;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    
    .case-properties-table > dl {
        word-wrap: break-word;
        word-break: break-all;
    }

    .case-properties-table > dl {
        float: left;
        width: 210px;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 100%;
    }

    .case-properties-table > dl:not(:last-child) {
        margin-right: 20px;
    }

    .case-properties-table > dl dt {
        margin-bottom: 5px;
    }

    .case-properties-table > dl dd:not(:last-child) {
        margin-bottom: 20px;
    }

</style>

<div id="report-content">
<div id="tabbed-content-container" class="row-fluid">
    <div class="row-fluid">
        {% render_tables default_properties %}
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#case-details" data-toggle="tab">{% trans "Case Properties" %}</a></li>
        <li><a href="#case-history-tab" data-toggle="tab">{% trans "Case History" %}</a></li>
        {% if case.referrals %}
        <li><a href="#case-referrals" data-toggle="tab">{% trans "Referrals" %}</a></li>
        {% endif %}
        {% if case.all_indices %}
        <li><a href="#case-related" data-toggle="tab">{% trans "Related Cases" %}</a></li>
        {% endif %}
    {% if case.attachments %}
        <li><a href="#case-attachments" data-toggle="tab">{% trans "Attachments" %}</a></li>
    {% endif %}
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="case-details">
            <div class="row-fluid">
                {% render_tables dynamic_properties %}
            </div>
        </div><!-- end case-details tab -->
    {% if case.referrals %}
        <div class="tab-pane" id="case-referrals">
            <h2>Referrals</h2>
            <table class="table table-striped case_history">
                <thead>
                <tr>
                    <th>Date Opened</th>
                    <th>Type</th>
                    <th>Date Modified</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for referral in case.referrals %}
                    <tr>
                        <td>{% utc_to_timezone referral.opened_on timezone %}</td>
                        <td>{{ referral.type }}</td>
                        <td>{% utc_to_timezone referral.modified_on timezone %}</td>
                        <td>{{ referral.closed|yesno:"closed,open" }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="no_data">No referrals</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div> <!-- end case-referrals tab -->
    {% endif %}
    {% if case.all_indices %}
        <div class="tab-pane" id="case-related">
            <table class="table table-striped case_history">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Relation</th>
                    <th>Type</th>
                    <th>Date Opened</th>
                    <th>Date Modified</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for case_index in case.all_indices %}
                    <tr>
                        <td class="case_ref"
                            data-caseid="{{ case_index.referenced_id }}">{{ case_index.referenced_case.name }}</td>
                        <td>{{ case.name }}'s {{ case_index.is_reverse|yesno:"Child, Parent" }}</td>
                        <td><code>{{ case_index.referenced_case.type }}</code></td>
                        <td>{{ case_index.referenced_case.opened_on }}</td>
                        <td>{{ case_index.referenced_case.modified_on }}</td>
                        <td>{{ case_index.referenced_case.closed|yesno:"closed,open" }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="no_data">No related cases</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div> <!-- end case-related tab -->
    {% endif %}
    {% if case.attachments %}
        <div class="tab-pane" id="case-attachments">
            <ul>
            {% for form_id, filename in case.attachments %}
                {% if not forloop.first %}<br>{% endif %}
                <li>
                <a href="{% url xform_attachment form_id filename %}">{{ filename }}</a>
                </li>
            {% empty %}
                <li>No Attachments</li>
            {% endfor %}
            </ul>
        </div> <!-- end case-attachments tab -->
    {% endif %}
    <div class="tab-pane" id="case-history-tab">
        <div class="span4">
        <ul data-bind="foreach: $root.form_type_facets">
            <li>
                <strong><span data-bind="text: form_name"></span></strong>:
                <span data-bind="text: form_count"></span>
            </li>
        </ul>


        <div class="hq-loading" data-bind="visible: $root.data_loading">Loading <img src="/static/hqwebapp/img/ajax-loader.gif" alt="loading indicator"></div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th class="span1">{% trans "Received" %}</th>
                <th class="span1">{% trans "Form" %}</th>
                <th class="span1">{% trans "User" %}</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: xforms">
                <tr data-bind='click: $root.clickRow, css: { info: $data.id() == $root.selected_xform_doc_id() }'>
                    <td>
                        <span data-bind="text: received_on"></span>
                    <td>
                        <span data-bind="text: form_type"></span><br>
                    </td>

                    <td>
                        <span data-bind="text: username"></span><br>
                    </td>
                </tr>
            </tbody>
        </table>
            <div class="row-fluid dataTables_control">
                    <div class="dataTables_info">
                        <span data-bind="text: $root.page_start_num() + '-' + $root.page_end_num() + ' of ' + $root.total_rows()"></span>
                    </div>
                    <div class="dataTables_length">
                        <select id="page_size_select" size="1" class="input-mini" data-bind="options: pagination_options, value: $root.page_size"></select> <span>per page</span>
                    </div>

                    <div class="pagination pagination-right" data-bind="visible: $root.page_count() > 1">
                        <ul>
                            <li>
                                <button class="btn btn-small" type="button" data-bind="enable: $root.disp_page_index() > 1, click: $root.prevPage">«</button>
                            </li>
                            <li class="active">
                                <select size="1" class="input-mini" data-bind="options: all_pages(), value: $root.disp_page_index"></select>
                            </li>
                            <li>
                                <button class="btn btn-small" type="button" data-bind="enable: $root.page_end_num() < $root.total_rows(), click: $root.nextPage">»</button>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="span6">
            <div id="xform_data_panel"></div>
            </div>
{#        <h2>Xform goes here</h2>#}
{#        <div data-bind="visible: $root.xform_view, template: { name: 'xform-template', foreach: $root.selected_xforms }"></div>#}
{#        </div>#}
{#        <script type="text/html" id="xform-template">#}
{#        <h2>Hello XForm</h2>#}
{#        <h3 data-bind="text: name"></h3>#}
{#        <span data-bind="text: 'XForm ID:' + id()"></span><br>#}
{#        <span data-bind="text: 'User:' + username()"></span><br>#}
{#        <span data-bind="text: 'user_id:' + userID()"></span><br>#}
{#        <span data-bind="text: 'form type:' + form_type()"></span><br>#}
{#        <span data-bind="text: 'xmlns:' + xmlns()"></span><br>#}
{#        <span data-bind="text: 'received_on:' + received_on()"></span><br>#}
{#        <span data-bind="text: 'timestart:' + timeStart()"></span><br>#}
{#        <span data-bind="text: 'timeend:' + timeEnd()"></span><br>#}
{#        <span data-bind="text: 'case_id:' + case_id()"></span><br>#}
{#        <span data-bind="text: 'device_id:' + deviceID()"></span><br>#}
{#        <div class="form-data-block" data-bind="html: get_form_data()"></div>#}
{#        </script>#}

        <script type="text/javascript">

        function format_date(isodatestring) {
            if (isodatestring == "" || isodatestring == null) {
                return 'present';
            }
            //parse nad format the date timestamps - seconds since epoch into date object
            var date = new Date(isodatestring.split('+')[0]);
            // hours part from the timestamp
            var hours = date.getHours();
            // minutes part from the timestamp
            var minutes = date.getMinutes();
            // seconds part from the timestamp
            var seconds = date.getSeconds();
            if (seconds < 10) {
                var second_str = "0" + seconds;
            } else {
                var second_str = seconds;
            }

            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();

            //return  year + '/' + month + '/' + day + ' ' + hours + ':' + minutes + ':' + second_str;
            //return  year + '/' + month + '/' + day;
            return  year + '-' + month + '-' + day + ' ' + hours + ":" + minutes;

        }

        function format_user(username) {
            if (username === undefined || username == null) {
                return "---"
            }
            else {
                return username.split('@')[0];
            }
        }
        function recursiveRender(obj, depth) {
            var ret = '';
            for (var k in obj) {
                if (typeof obj[k] == "object") {
                    ret = ret + "<dl class='dl-horizontal'>" + "<h3 class='push" + depth + "'>" + k + "</h3>" + recursiveRender(obj[k], depth + 1) + "</dl>";
                }
                else {
                    ret = ret + "<dt>" + k + "</dt><dd>" + obj[k] + "</dd>";
                }
            }
            return ret;
        }


        function XFormDataModel(data) {
                var self = this;
                self.id = ko.observable(data['_id']);
                self.case_id = ko.observable(data.case_id); //helper populated
                self.xmlns = ko.observable(data.xmlns);
                self.domain = ko.observable(data.domain);
                self.app_id = ko.observable(data.app_id);
                self.received_on = ko.observable(format_date(data.received_on));

                self.timeStart = ko.observable(format_date(data.form.meta.timeStart));
                self.timeEnd = ko.observable(format_date(data.form.meta.timeEnd));
                self.userID = ko.observable(data.form.meta.userID);
                self.username = ko.observable(format_user(data.form.meta.username));
                self.deviceID = ko.observable(data.form.meta.deviceID);
                self.form_type = ko.observable(data.form['#type']);
                self.form_data = ko.observable(data.form);

                self.get_form_data = function() {
                    return "<dl class='dl-horizontal'>" + JSON.stringify(self.form_data(), function(key,value) {
                        if (typeof(value) == "object") {
                            return "<dt><h3>" + key + "</h3></dt><dd>" + recursiveRender(value, 0) + "</dd>";
                        } else {
                            return "<dt>" + key + "</dt><dd>" + value + "</dd>";
                        }
                    }) + "</dl>";
                };
            };

            function FormTypeFacetModel(data) {
                var self = this;
                //{"form_type_facets": {"_type": "terms", "total": 854, "terms": [{"count": 605, "term": "dots_form"}, {"count": 168, "term": "data"}, {"count": 75, "term": "progress_note"}, {"count": 6, "term": "bloodwork"}], "other": 0, "missing": 0},
                self.form_name = ko.observable(data.term);
                self.form_count = ko.observable(data.count);
            };

            function FormDateHistogram(data) {
                var self = this;
                self.es_time = ko.observable(data.time);
                self.form_count = ko.observable(data.count);
            };

            function XFormListViewModel() {
                var self = this;

                self.pagination_options = [10,25,50,100];

                self.xforms = ko.observableArray([]);
                self.page_size = ko.observable(10);
                self.disp_page_index = ko.observable(1);
                self.total_rows = ko.observable(0);
                self.page_count = ko.observable(0);
                self.selected_xform_idx = ko.observable(-1);
                self.selected_xform_doc_id = ko.observable("");
                self.selected_xforms = ko.observableArray([]);

                self.form_type_facets = ko.observableArray([]);
                self.form_recv_facets = ko.observableArray([]);

                self.data_loading = ko.observable(false);

                var api_url = "/a/{{ case.domain }}/api/v0.1/xform_es/";


                //based upon criteria, get totals + facets?
                //then populate observableArray and set pagination limits

                self.xform_query = function () {
                    //elastic query based upon case id
                    var id_query = self.xform_id_query();
                    return id_query;
                    //todo once the xform index is updated with embedded case properties
                    //var start_num = self.disp_page_index() || 1;
                    //return {
                        //"query": {
                            //"filtered": {
                                //"filter": {
                                    //"and": [
                                        //{"term": {"domain.exact": "{{ case.domain }}"}},
                                        //{"term": {"doc_type": "xforminstance"}},
                                    //]
                                //},
                                //"query": {
                                    //"query_string": {
                                        //"query": "(form.case.case_id:{{ case.get_id }} OR form.case.@case_id:{{ case.get_id }})"
                                    //}
                                //}
                            //}
                        //},
                        //"size": self.page_size(),
                        //"from": (start_num - 1) * self.page_size(),
                        //"sort": [{"received_on": "desc"}]
                    //};
                };

                self.xform_id_query = function () {
                    //hacky query based upon xform_ids due to nested case properties not being indexed in pillowtop at the moment

                    var start_num = self.disp_page_index() || 1;
                    var start_range = (start_num - 1) * self.page_size();
                    var actions = {{ case_actions }};
                    var end_range = start_range + self.page_size();
                    if (end_range > {{ case.xform_ids|length }}) {
                        end_range = {{ case.xform_ids|length }};
                    }
                    var xform_ids = {{ case.xform_ids|safe }};

                    return {
                        "filter": {
                            "ids": {
                                "values": _.map(_.range(start_range, end_range),
                                                    function(idx) {
                                                        return xform_ids[idx];
                                                    })
                            }
                        },
                        "from": 0,
                        "size": self.page_size(),
                        "sort": [{"received_on": "desc"}]
                    };
                };


                self.stats_query = function () {
                    var q = self.xform_query();
                    q["facets"] = {
                        "received_facets": {
                            "date_histogram": {
                                "field": "received_on",
                                "interval": "day"
                            }
                        }, "form_type_facets": {
                            "terms": {
                                "field": "form.#type"
                            }
                        }
                    }
                    q['size'] = 0;
                    q['from'] = 0;
                    return q;
                };


                self.get_xform_data = function(xform_id) {
                    //method for getting individual xform via GET
                    $.ajax({
                        "type": "GET",
                        "url": "/a/{{ case.domain }}/reports/case_data/{{ case.get_id }}/" + xform_id + "/",
                        "success": function(data) {
                            $("#xform_data_panel").html(data);
                            //$("#xform_data_panel").html('<h2>selected ' + xform_id + "</h2>");
                        },
                        "error": function(data) {
                            console.log("get xform error");
                            console.log(data);
                        },
                        "complete": function(data) {
                        }
                    })
                };

                self.run_es_query = function(query, success_cb) {
                    //generic caller for ES query
                    self.data_loading(true);
                    $.ajax({
                        "type": "POST",
                        "url":  api_url,
                        "data": ko.toJSON(query),
                        "success": function(data) {
                            success_cb(data);
                        }, //end success
                        "error": function(data) {
                            console.log("Error");
                            console.log(data);
                        },
                        "complete": function(data){
                            {#                        self.is_loading(false);#}
                            self.data_loading(false);
                        }
                    });
                };


                self.xform_history_cb = function(data) {
                    //callback for rendering the xforms list
                    //todo until indexing is fixed for nested case blocks
                    //self.total_rows(data['hits']['total']);
                    self.total_rows({{ case.xform_ids|length }});
                    self.page_count(Math.ceil(self.total_rows()/self.page_size()));
                    var mapped_xforms = $.map(data['hits']['hits'], function (item) {
                        return new XFormDataModel(item['_source']);
                    });
                    self.xforms(mapped_xforms);
                    self.selected_xform_idx(-1);
                };

                self.stats_data_cb = function(data) {
                    var term_facets_mapped = $.map(data['facets']['form_type_facets']['terms'], function (item) {
                        return new FormTypeFacetModel(item);
                    });
                    self.form_type_facets(term_facets_mapped);
                    var recv_facets_mapped = $.map(data['facets']['received_facets']['entries'], function (item) {
                        return new FormDateHistogram(item);
                    });
                    self.form_recv_facets(recv_facets_mapped);

                    nv.addGraph(function () {
                        var chart = nv.models.multiBarChart();

                        chart.xAxis
                                .tickFormat(function (d) {
                                    return d3.time.format('%x')(new Date(d))
                                });


                        chart.yAxis.tickFormat(d3.format('.1f'));

                        var chart_data = function() {
                            var start_date = new Date(self.form_recv_facets()[0].es_time());
                            var end_date = new Date(self.form_recv_facets()[self.form_recv_facets().length - 1].es_time());
                            var ms_delta = end_date - start_date;
                            var retdata = [];

                            for (var i = 0; i < self.form_recv_facets().length; i++) {
                                var item = self.form_recv_facets()[i];
                                if (retdata.length == 0) {
                                    retdata.push({ x:item.es_time(), y:item.form_count()});
                                    //retdata.push({x:item.es_time(), y: item.form_count(), size: item.form_count(), shape: 'circle'});
                                }
                                else {
                                    var last_time = retdata[retdata.length - 1].x;
                                    var last_time_dt = new Date(last_time);
                                    var curr_time = new Date(item.es_time());
                                    var d = (curr_time - last_time) / 86400000;
                                    if (d > 1) {
                                        for (var j = 1; j <= d; j++) {
                                           //fill in blank dates
                                           retdata.push({x:last_time+(j*86400000), y: 0});
                                           //retdata.push({x:last_time+(j*86400000), y: item.form_count(), size: 0, shape: 'square'});
                                        }
                                    }
                                    retdata.push({x:item.es_time(), y:item.form_count()});
                                    //retdata.push({x:item.es_time(), y: item.form_count(), size: item.form_count(), shape: 'circle'});
                                }
                            }

                            return {
                            key: "submissions",
                            values: retdata
                        }};
                        d3.select('#submit_chart svg')
                                .datum([chart_data()]).transition().duration(500).call(chart);

                        nv.utils.windowResize(chart.update);

                        return chart;
                    });


                };


                //main function data collection - entry point if you will
                //self.run_es_query(self.stats_query(), self.stats_data_cb);
                self.run_es_query(self.xform_query(), self.xform_history_cb);

                self.nextPage = function() {
                    self.disp_page_index(self.disp_page_index() + 1);
                    self.run_es_query(self.xform_query(), self.xform_history_cb);
                };

                self.prevPage = function() {
                    self.disp_page_index(self.disp_page_index() - 1);
                    self.run_es_query(self.xform_query(), self.xform_history_cb);
                };

                self.clickRow = function(item) {
                    $("#xform_data_panel").html("<img src='/static/hqwebapp/img/ajax-loader.gif' alt='loading indicator' />");
                    var idx = self.xforms().indexOf(item);

                    self.get_xform_data(self.xforms()[idx].id());
                    self.selected_xform_idx(idx);
                    self.selected_xform_doc_id(self.xforms()[idx].id());
                    if (idx > -1) {
                        self.selected_xforms([]);
                        self.selected_xforms.push(self.xforms()[self.selected_xform_idx()]);
                    }
                };

                self.page_start_num = ko.computed(function() {
                    var start_num = self.disp_page_index() || 1;
                    return ((start_num - 1) * self.page_size()) + 1;
                });

                self.page_end_num = ko.computed(function() {
                    var start_num = self.disp_page_index() || 1;
                    var end_page_num = ((start_num - 1) * self.page_size()) + self.page_size();
                    if (end_page_num > self.total_rows()) {
                        return self.total_rows();
                    }
                    else {
                        return end_page_num;
                    }
                });


                self.page_size_changed = self.page_size.subscribe(function () {
                    self.run_es_query(self.xform_query(), self.xform_history_cb);
                });

                self.disp_page_index_changed = self.disp_page_index.subscribe(function () {
                    self.run_es_query(self.xform_query(), self.xform_history_cb);
                });


                self.all_pages = function() {
                    return _.range(1, self.page_count()+1);
                };

                self.xform_view = ko.computed(function () {
                    return self.selected_xform_doc_id() !== undefined;
                });

                self.row_highlight = ko.computed(function() {
                    //hitting next page will not disappear the xform display just remove the highlight
                    if (self.selected_xform_idx() == -1) {
                        return false;
                    } else  {
                        if (self.selected_xforms[0] !== undefined) {
                            return self.selected_xform_doc_id() === self.selected_xforms()[0].id();
                        } else {
                            return true;
                        }
                    }
                });
            };

            ko.applyBindings(new XFormListViewModel(), $("#xform-list-block")[0]);
        </script>
    </div> <!-- end case-history tab -->
    </div>
</div> {# end tabbed-content-container div #}
</div> {# end report-container #}

