{% load hq_shared_tags %}
{% load i18n %}

<p>
  <button class="btn btn-default" data-bind="click: addField" type="button">
    <i class="fa fa-plus"></i>
    {% trans "Add a Field" %}
  </button>
</p>
<div class="panel panel-default">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th class="col-sm-1"></th>
      <th class="col-sm-3">
        {% blocktrans with entity_string=view.entity_string %}
          {{ entity_string }} Property
        {% endblocktrans %}
        <span class="hq-help-template"
              data-title="{% blocktrans with entity_string=view.entity_string %}{{ entity_string }} Property{% endblocktrans %}"
              data-content="{% blocktrans %}
                              The unique ID you can use to reference this property
                              in the application builder. The property may not
                              contain spaces.
                            {% endblocktrans %}">
        </span>
      </th>
      <th class="col-sm-3">
        {% trans "Label" %}
        <span class="hq-help-template"
              data-title="{% trans "Label" %}"
              data-content="{% blocktrans with entity_string=view.entity_string|lower %}
                              The field label that users will see when adding or editing
                              a {{ entity_string }} in CommCare HQ.
                            {% endblocktrans %}">
        </span>
      </th>
      <th class="col-sm-1">
        {% trans "Required" %}
        <span class="hq-help-template"
              data-title="{% trans "Required" %}"
              data-content="{% blocktrans with entity_string=view.entity_string|lower %}
                              A value for this field must be provided when creating or
                              editing a {{ entity_string }}.  Bulk import will fail
                              unless this field is provided.
                            {% endblocktrans %}">
        </span>
      </th>
      <th class="col-sm-3">
        {% if request|request_has_privilege:"REGEX_FIELD_VALIDATION" or couch_user.is_superuser %}
          {% trans "Validation" %}
          <span class="hq-help-template"
                data-title="{% trans "Validation" %}"
                data-content="{% blocktrans %}
                                Specify a means of validating user input to this field.
                                You can provide a drop-down list of choices or specify
                                a regular expression to be applied to the input. For
                                example, ^[1-9]{10}$ will match only 10 character
                                numeric input.
                              {% endblocktrans %}">
          </span>
        {% else %}
          {% trans "Choices" %}
          <span class="hq-help-template"
                data-title="{% trans "Choices" %}"
                data-content="{% blocktrans %}
                                Provides a drop-down list of choices for this field
                                instead of free text entry.
                              {% endblocktrans %}">
          </span>
        {% endif %}
      </th>
      <th class="col-sm-1">{% trans "Delete" %}</th>
      {% if is_managed_by_upstream_domain %}
      <th class="col-sm-1"></th> {# Linked #}
      {% endif %}
    </tr>
    </thead>
    <tbody data-bind="sortable: data_fields">
    <tr data-bind="attr: {'data-order': _sortableOrder}">
      <td>
        <i class="fa-solid fa-up-down sortable-handle"></i>
      </td>
      <td>
        <input class="form-control" type="text" data-bind="value: slug, attr: { 'readonly': !isEditable() }"/>
      </td>
      <td>
        <input class="form-control" type="text" data-bind="value: label, attr: { 'readonly': !isEditable() }"/>
      </td>
      <td>
        <input type="checkbox" data-bind="checked: is_required, attr: { 'disabled': !isEditable() }"/>
      </td>
      <td>

        {% if request|request_has_privilege:"REGEX_FIELD_VALIDATION" or couch_user.is_superuser %}
          <div class="btn-group btn-group-separated validation-options">
            <button data-bind="css: {active: !validationMode()},
                            attr: { 'disabled': !isEditable() },
                            click: function () {validationMode(undefined)}"
                 class="btn btn-default btn-xs">
              {% trans "None" %}
            </button>
            <button data-bind="css: {active: validationMode() === 'choice'},
                            attr: { 'disabled': !isEditable() },
                            click: function () {validationMode('choice')}"
                 class="btn btn-default btn-xs">
              {% trans "Choices" %}
            </button>
            <button data-bind="css: {active: validationMode() === 'regex'},
                            attr: { 'disabled': !isEditable() },
                            click: function () {validationMode('regex')}"
                 class="btn btn-default btn-xs">
              {% trans "Regex" %}
            </button>
          </div>
        {% endif %}

        <div data-bind="visible: validationMode() === 'choice'">
          <button data-bind="click: addChoice, attr: { 'disabled': !isEditable() }"
                  type="button" class="btn btn-default btn-xs">
            <i class="fa fa-plus"></i> {% trans "Add Choice" %}
          </button>
          <ul data-bind="sortable: choices" class="list-unstyled validation-list">
            <li data-bind="attr: {'data-order': _sortableOrder}">
              <div class="input-group">
                <span class="input-group-addon">
                  <span data-bind="if: $parent.isEditable">
                    <i class="fa-solid fa-up-down sortable-handle"></i>
                  </span>
                  <span data-bind="ifnot: $parent.isEditable">
                    <i class="fa-solid fa-up-down"></i>
                  </span>
                </span>
                <input class="form-control" type="text" data-bind="value: value, attr: { 'disabled': !$parent.isEditable() }"/>
                <div class="input-group-btn">
                  <button type="button"
                     class="btn btn-danger"
                     data-bind="click: $parent.removeChoice, attr: { 'disabled': !$parent.isEditable() }">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>

        {% if request|request_has_privilege:"REGEX_FIELD_VALIDATION" or couch_user.is_superuser %}
          <ul data-bind="visible: validationMode() === 'regex'"
              class="list-unstyled validation-list">
            <li><input data-bind="value: regex, attr: { 'disabled': !isEditable() }" class="form-control" type="text"
                       placeholder="{% trans "Regular Expression" %}"/></li>
            <li><input data-bind="value: regex_msg, attr: { 'disabled': !isEditable() }" class="form-control" type="text"
                       placeholder="{% trans "Validation Message" %}"/></li>
          </ul>
        {% endif %}

      </td>
      <td>
        <a type="button"
           class="btn btn-danger"
           data-toggle="modal"
           data-bind="click: $root.setModalModel, attr: { 'href': deleteLink, 'disabled': !isEditable() }"
        >
          <i class="fa fa-times"></i> {% trans "Delete" %}
        </a>
      </td>
      <!-- ko if: $root.hasLinkedData -->
      <td>
        <span data-bind="if: upstream_id"><i class="fa fa-link"></i></span>
      </td>
      <!-- /ko -->
    </tr>
    </tbody>
  </table>
</div>
