{% extends "formplayer-common/base.html" %}
{% load hq_shared_tags %}
{% load compress %}
{% load statici18n %}

{% block css %}

{% if less_debug %}
<link type="text/less"
      rel="stylesheet"
      media="all"
      href="{% static 'preview_app/less/preview_app.debug.less' %}"/>

{% else %}
{% compress css %}
<link type="text/less"
      rel="stylesheet"
      media="all"
      href="{% static 'preview_app/less/preview_app.less' %}"/>
{% endcompress %}
{% endif %}

{% endblock %}

{% block body %}
{% block csrf_token_block %}
    <input id="csrfTokenContainer" type="hidden" value="{{ csrf_token }}">
{% endblock %}
{% analytics_ab_test 'kissmetrics.data_feedback_loop_feb2018' ab_test %}
<section id="case-crumbs" style="width: 800px"></section>
<section id="cases"></section>
<div id="menu-container">
    <div id="formplayer-progress-container"></div>
    <section id="cloudcare-notifications" class="notifications-container"></section>
    <div id="restore-as-region"></div>
    <div id="breadcrumb-region"></div>
    <div class="scrollable-container dragscroll menu-scrollable-container">
      <div id="menu-region" class="content menu-content"></div>
      <small id="version-info"></small>
    </div>
    <div class="scrollable-container dragscroll form-scrollable-container">
      <section id="webforms" data-bind="
          template: {
              name: 'form-fullform-ko-template',
              afterRender: afterRender
          }">
      </section>
    </div>
    {% if request.couch_user.can_edit_data %}
    <section id="cloudcare-debugger" data-bind="
        template: {
            name: 'instance-viewer-ko-template',
            afterRender: adjustWidth
        }
    "></section>
    {% endif %}
</div>
{% endblock %}

{% block js %}
<script src="{% static 'app_manager/js/app_manager_utils.js' %}"></script>
<script src="{% static 'cloudcare/js/preview_app/preview_app.js' %}"></script>
{% endblock %}

{% block js-inline %}
<script>
    window.GMAPS_API_KEY = '{{ maps_api_key|safe }}'; // maps api is loaded on-demand
    hqImport('cloudcare/js/preview_app/preview_app').start({
        apps: [{{ app|JSON }}],
        language: "{{ request.user.language|default:'en' }}",
        username: "{{ request.user.username  }}",
        domain: "{{ request.domain }}",
        formplayer_url: "{{ formplayer_url }}",
        singleAppMode: true,
        phoneMode: true,
        oneQuestionPerScreen: !{{ request.couch_user.is_dimagi|JSON }},
        allowedHost: "{{ request.get_host }}",
        environment: {{ environment|JSON }},
        {% if request.couch_user.can_edit_data %}
        debuggerEnabled: true,
        {% endif %}
    });
    $('.dragscroll').on('scroll', function () {
      $('.form-control').blur();
    });
    // Adjust for those pesky scrollbars
    _.each($('.scrollable-container'), function (sc) {
      var scrollWidth = $(sc).prop('offsetWidth') - $(sc).prop('clientWidth');
      $(sc).addClass('has-scrollbar-'+scrollWidth);
    });
</script>
{% endblock %}
