{% extends "style/bootstrap2/base_mobile.html" %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "CommCareHQ Registration" %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans "CommCareHQ Registration" %}</h1>
</div>

{% if invitation.already_registered %}
<div>
    <p>
        {% blocktrans with odk_url=invitation.odk_url %}
        Thank you for registering. To complete CommCare installation you will have to:
        <ol>
            <li>Install CommCare.</li>
            <li>Install a CommCare Application for collecting data.</li>
        </ol>

        Please do the following:
        <ol>
            <li>Please <a target="_blank" href="{{ google_play_store_url }}">click here</a> to go to the Google Play store, and then download and install CommCare.</li>
            <li><strong>After</strong> installing CommCare, <a target="_blank" href="{{ odk_url }}">click here</a> to install the Application for collecting data.</li>
        </ol>
        {% endblocktrans %}
    </p>
</div>
{% elif invitation.expired %}
<div>
    <p>
        {% blocktrans %}
        Your registration invitation has expired. Please contact your administrator.
        {% endblocktrans %}
    </p>
</div>
{% elif not can_add_extra_mobile_workers %}
<div>
    <p>
        {% blocktrans %}
        ERROR: Cannot register another user because this project has exceeded its user
        limit. Please contact your administrator.
        {% endblocktrans %}
    </p>
</div>
{% else %}
<div id="registration-form">
    {% crispy form %}
</div>
{% endif %}

{% endblock %}

{% block mobile-logout %}{% endblock %}
