{% extends base_template %}
{% load i18n %}
{% block title %}{% trans "Single Submission" %}{% endblock %}
{% block content %}
<div class="attachmentsblock">
   	<h3>Attachments</h3>
   	
   	{%if attachments %}
	   	<ul>
	   	{% for attach in attachments %}
	   		<li>
	   		<a href="{% url receiver.views.single_attachment attach.id%}"> Attachment {{attach.id}}</a>
	   		</li>
	   	{% endfor %}
	   	</ul>
   	{%else%}
   		No Attachments
   	{% endif %}
   	</div>

<h2>{% trans "Submission Information" %}</h2>
    <ul>  
    
    
	   	<li>
	   		{% trans "Submission ID:" %} {{submission_item.id}}   		
	   	</li>
	   	
	   	<li>
	   		{% trans "IP Address:" %} {{submission_item.submit_ip}}   		
	   	</li>
	   	
	   	<li>
	   		{% trans "Checksum:" %} {{submission_item.checksum}}   		
	   	</li>
	   	
	   	
	   	<li>
	   		{% trans "Transaction ID:" %} {{submission_item.transaction_uuid}}   		
	   	</li>
	   	
	   	<li>
	   		{% trans "Bytes Received:" %} {{submission_item.bytes_received}}   		
	   	</li>
	   	<li>
	   		<a href="{%url receiver.views.single_submission submission_item.id %}?get_original">{% trans "Raw File Submission" %}</a>   		
	   	</li>	   	
	   	<li>{% trans "Raw Header: " %}
	   	<ul>
	   		{% for head, val in processed_header.items %}
	   		<li><strong>{{head}}:</strong> {{val}}</li>
	   		
	   		{% endfor %}
	   	</ul>
	   	
	   	</li>
   	</ul>   	

   	
{% endblock %}
