# top-most EditorConfig file
root = true

[*]
# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true

indent_style = space
indent_size = 4

[*.html]
indent_size = 2

[*.less]
indent_size = 2

[Makefile]
indent_style = tab

[isort]
multi_line_output=3
include_trailing_comma=true
known_django=django
known_exsubmodules=auditcare,casexml,couchexport,couchforms,dimagi,fluff,phonelog,pillow_retry,pillowtop,soil,toggle
known_first_party=corehq,custom
sections=FUTURE,STDLIB,DJANGO,THIRDPARTY,EXSUBMODULES,FIRSTPARTY,LOCALFOLDER
