*.pyc
*~
local.ini*
localsettings*
!localsettings.example.py
.settings/*
.project
.pydevproject
.idea
xforms/*
data/*
submissions/*
export/*
bad/*
rapidsms-django.log*
rapidsms.log*
*.log
CommCare.ja*
startover.sh
celery.db
*.sql
tmp.sh
/resource_versions.py
/loadtest/results/*
/loadtest/localsettings.py
/staticfiles/*
*.db
\#*\#
.DS_Store
app_builder_live_test/*/
dump.rdb