*.pyc
*~
*.swp
/local.ini*
/localsettings*
/loadtest/test_scripts/localsettings.py
!localsettings.example.py
.settings/
.project
.pydevproject
.idea
xforms/
/data/
submissions/
/export/
/bower_components
bad/
*.log*
CommCare.ja*
startover.sh
celery.db
*.sql
tmp.sh
/resource_versions.py
/loadtest/results/
/loadtest/localsettings.py
/loadtest/config.cfg
/staticfiles/
*.db
\#*\#
.DS_Store
app_builder_live_test/*/
app_builder_live_test/*-performance.txt
dump.rdb
**/less/*.css
/staticmedia*
.transifexrc
python_env

submodules/formdesigner
submodules/vellum/Vellum

ptop*.txt
ptop*.json

/.coverage
/coverage-report

# Sphinx
docs/_build
celerybeat-schedule

# compiled translations
/locale/*/*/*.mo
