[submodule "submodules/couchforms-src"]
	path = submodules/couchforms-src
	url = git://github.com/dimagi/couchforms.git
[submodule "submodules/couchexport-src"]
	path = submodules/couchexport-src
	url = git://github.com/dimagi/couchexport.git
[submodule "submodules/djangocouch-src"]
	path = submodules/djangocouch-src
	url = git://github.com/dimagi/djangocouch.git
[submodule "submodules/dimagi-utils-src"]
	path = submodules/dimagi-utils-src
	url = git://github.com/dimagi/dimagi-utils.git
[submodule "submodules/couchlog-src"]
	path = submodules/couchlog-src
	url = git://github.com/dimagi/couchlog.git
[submodule "submodules/auditcare-src"]
	path = submodules/auditcare-src
	url = git://github.com/dimagi/auditcare.git
[submodule "submodules/commcare-translations"]
	path = submodules/commcare-translations
	url = git://github.com/dimagi/commcare-translations.git
[submodule "submodules/formtranslate-src"]
	path = submodules/formtranslate-src
	url = git://github.com/dimagi/formtranslate.git
[submodule "submodules/langcodes"]
	path = submodules/langcodes
	url = git://github.com/dimagi/langcodes.git
[submodule "submodules/casexml-src"]
	path = submodules/casexml-src
	url = git://github.com/dimagi/casexml.git
[submodule "submodules/touchforms-src"]
	path = submodules/touchforms-src
	url = git://github.com/dimagi/touchforms.git
[submodule "submodules/django-digest-src"]
	path = submodules/django-digest-src
	url = git://github.com/dimagi/django-digest.git
[submodule "submodules/python-digest"]
	path = submodules/python-digest
	url = git://github.com/dimagi/python-digest.git
[submodule "submodules/formdesigner"]
	path = submodules/formdesigner
	url = git://github.com/dimagi/Vellum.git
[submodule "submodules/django-soil-src"]
	path = submodules/django-soil-src
	url = git://github.com/dimagi/django-soil.git
[submodule "submodules/hutch-src"]
	path = submodules/hutch-src
	url = git://github.com/dimagi/hutch.git
[submodule "submodules/pillowtop-src"]
	path = submodules/pillowtop-src
	url = git://github.com/dimagi/pillowtop.git
[submodule "submodules/couchdbkit-aggregate"]
	path = submodules/couchdbkit-aggregate
	url = git://github.com/dimagi/couchdbkit-aggregate.git
[submodule "submodules/freddy"]
	path = submodules/freddy
	url = git://github.com/dimagi/freddy.git
[submodule "submodules/fluff-src"]
	path = submodules/fluff-src
	url = git://github.com/dimagi/fluff.git
[submodule "submodules/ctable-src"]
	path = submodules/ctable-src
	url = git://github.com/dimagi/ctable.git
[submodule "submodules/django-no-exceptions"]
	path = submodules/django-no-exceptions
	url = git://github.com/dimagi/django-no-exceptions.git
[submodule "submodules/toggle"]
	path = submodules/toggle
	url = https://github.com/dimagi/toggle.git
[submodule "submodules/django-prbac-src"]
	path = submodules/django-prbac-src
	url = git://github.com/dimagi/django-prbac.git
[submodule "submodules/xml2json"]
	path = submodules/xml2json
	url = git://github.com/dimagi/xml2json.git
[submodule "corehq/apps/style/static/style/lib/bootstrap-3.2.0"]
	path = corehq/apps/style/static/style/lib/bootstrap-3.2.0
	url = https://github.com/twbs/bootstrap.git
[submodule "corehq/apps/style/static/style/lib/fontawesome-4.1.0"]
	path = corehq/apps/style/static/style/lib/fontawesome-4.1.0
	url = https://github.com/FortAwesome/Font-Awesome.git
