[submodule "submodules/core-hq-src"]
	path = submodules/core-hq-src
	url = git://github.com/dimagi/core-hq.git
[submodule "submodules/rapidsms-src"]
	path = submodules/rapidsms-src
	url = git://github.com/dimagi/rapidsms.git
[submodule "submodules/couchforms-src"]
	path = submodules/couchforms-src
	url = git://github.com/dimagi/couchforms.git
