[submodule "submodules/couchforms-src"]
	path = submodules/couchforms-src
	url = git://github.com/dimagi/couchforms.git
[submodule "submodules/commcare-translations"]
	path = submodules/commcare-translations
	url = git://github.com/dimagi/commcare-translations.git
[submodule "submodules/langcodes"]
	path = submodules/langcodes
	url = git://github.com/dimagi/langcodes.git
[submodule "submodules/casexml-src"]
	path = submodules/casexml-src
	url = git://github.com/dimagi/casexml.git
[submodule "submodules/touchforms-src"]
	path = submodules/touchforms-src
	url = git://github.com/dimagi/touchforms.git
[submodule "submodules/django-digest-src"]
	path = submodules/django-digest-src
	url = git://github.com/dimagi/django-digest.git
[submodule "submodules/python-digest"]
	path = submodules/python-digest
	url = git://github.com/dimagi/python-digest.git
[submodule "submodules/couchdbkit-aggregate"]
	path = submodules/couchdbkit-aggregate
	url = git://github.com/dimagi/couchdbkit-aggregate.git
[submodule "submodules/django-no-exceptions"]
	path = submodules/django-no-exceptions
	url = git://github.com/dimagi/django-no-exceptions.git
[submodule "submodules/xml2json"]
	path = submodules/xml2json
	url = git://github.com/dimagi/xml2json.git
[submodule "corehq/apps/hqmedia/static/hqmedia/MediaUploader"]
	path = corehq/apps/hqmedia/static/hqmedia/MediaUploader
	url = git://github.com/dimagi/MediaUploader.git
[submodule "corehq/apps/prelogin"]
	path = corehq/apps/prelogin
	url = https://github.com/dimagi/commcarehq-prelogin.git
[submodule "deployment/commcare-hq-deploy"]
	path = deployment/commcare-hq-deploy
	url = https://github.com/dimagi/commcare-hq-deploy.git
