*.pyc
*.pyo
*~
*.swp
*.swo
/local.ini*
/localsettings*
/loadtest/test_scripts/localsettings.py
!localsettings.example.py
.settings/
.project
.pydevproject
.idea
xforms/
/data/
submissions/
/formplayer_build
/export/
/bower_components
bad/
*.log*
/CommCare.ja*
startover.sh
celery.db
tmp.sh
/resource_versions.py
/loadtest/results/
/loadtest/localsettings.py
/loadtest/config.cfg
/staticfiles/
*.db
\#*\#
.DS_Store
app_builder_live_test/*/
app_builder_live_test/*-performance.txt
dump.rdb
**/less/*.css
/staticmedia*
.transifexrc
python_env
python_env-3.6
services
KEEP_UNTIL__*
formplayer.properties
formplayer.jar

submodules/formdesigner
submodules/vellum/Vellum

ptop*.txt
ptop*.json

/.coverage
/coverage-report

# Sphinx
docs/_build
celerybeat-schedule

# compiled translations
/locale/*/*/*.mo
.grunt
node_modules/
/sharedfiles/
docker/data
*.lock
fab/config.py
