# https://github.com/timothycrosley/isort/wiki/isort-Settings
[settings]
multi_line_output=3
include_trailing_comma=true

known_django=django
sections=FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
