{
    "plugins": ["prettier-plugin-jinja-template"],
    "overrides": [
        {
            "files": [
                "*.html"
            ],
            "options": {
                "parser": "jinja-template"
            }
        }
    ],
    "tabWidth": 2
}
