language: python
sudo: required
branches:
  only:
    - master
env:
  matrix:
    - TEST=javascript
    # need node installs for app_manager.XpathValidatorTest
    - TEST=python NOSE_DIVIDED_WE_RUN=05 JS_SETUP=yes
    - TEST=python NOSE_DIVIDED_WE_RUN=6a JS_SETUP=yes
    - TEST=python NOSE_DIVIDED_WE_RUN=bf JS_SETUP=yes
    - TEST=python-sharded
before_install:
  # get newer version of docker-compose for variable substitution in compose files
  - curl -L https://github.com/docker/compose/releases/download/1.5.2/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv -v docker-compose /usr/local/bin/
install:
  - mkdir -p $TRAVIS_BUILD_DIR/docker-volumes
  - pip install coverage coveralls
before_script:
  - docker version
  - docker-compose version
script: "scripts/docker test --noinput --stop --verbosity=2 --divide-depth=1"
after_success:
  # create symlink so coverage report can find source files
  - sudo ln -s $(pwd) /mnt/commcare-hq-ro
  - coverage report
  - coveralls
services:
  - docker
