language: python
python:
  - "2.7"
env:
  global:
    - CFLAGS=-O0
    - COUCHDB_USER=""
    - COUCHDB_PW=""
    - TRAVIS_INSTALL="y"
  matrix:
    - TEST_RUNNER=testrunner.GroupTestRunnerCatchall
    - TEST_RUNNER=testrunner.GroupTestRunner0
branches:
  only:
    - master
before_install:
  - "curl http://localhost:5984/"  # print couch info
  - "uname -a"
  - "lsb_release -a"
install:
  - "sudo apt-get install moreutils libblas-dev liblapack-dev"
  - "function download-zip() { wget $1 -O temp.zip; unzip temp.zip; rm temp.zip; }"
  - "download-zip https://www.dropbox.com/s/ig7nl3mgu7um6gh/virtualenv.zip?dl=0"
  - "mv virtualenv ~/virtualenv"
  - "source ~/virtualenv/bin/activate"
  - "time (bash -e scripts/uninstall-requirements.sh | ts)"
  # set env variables for couch username/password, used by install.sh, to blank
  - "time (bash -e .travis/quietly-run-install.sh | ts)"
  - "curl -X PUT http://localhost:5984/commcarehq_test"  # this is an auth test
  - "time (pip install --exists-action w -r requirements/requirements.txt --use-mirrors --timeout 60)"
  - "time (bash -e .travis/misc-setup.sh | ts)"
  - "cp .travis/localsettings.py localsettings.py"
  - "pip install coverage unittest2 mock --use-mirrors"
script: "coverage run manage.py test --noinput --failfast --traceback --testrunner=$TEST_RUNNER"
after_success:
  - coverage report
  - coveralls
services:
  - postgresql
  - couchdb
  - rabbitmq
  - elasticsearch
  - memcache
  - redis-server
