language: python
group: edge
branches:
  only:
    - master
env:
  jobs:
    - TEST=python NOSE_DIVIDED_WE_RUN=05 JS_SETUP=yes
    - TEST=python NOSE_DIVIDED_WE_RUN=6a JS_SETUP=yes
    - TEST=python NOSE_DIVIDED_WE_RUN=bf JS_SETUP=yes
    - TEST=python-sharded-and-javascript JS_SETUP=yes
  global:
    - REUSE_DB=true  # can't drop the citus DB since it's the postgres database
#    - JS_TEST_EXTENSIONS=icds_reports
    # TRAVIS_HQ_USERNAME
    - secure: "LuT0vvsY6RjlEX8Gje74Xl0jcuEfaiN/fOOXpfZd1tf8zC3Xd9E8mNn5vlup/3PBBBv1yIAUmw9LTc03ifWBGzaazqIVAgTfgBoW7XAd8G/lx0/eeZFqheSdpP8wSZwn72Z/XrIhQczFCreZRJHlZA9GopRv7Lfs1SfNEbnMoac="
    # TRAVIS_HQ_PASSWORD
    - secure: "GmJzDwP60bUWKzIWnhg4j8TkA/IQsM5Ulx+frkPkrZmLnmLZN5K6cWqruZLl/mB6VFvnuGNBwaYq5ADMD8LpIt8LYlmHZ/zOaE04ti3rOvaOHxG+ncMkloeeke+82ismFZsI/X15F4yawUKR74lnAS5u8BfY2P+Jqko1D+15WKg="
    # DATADOG_API_KEY
    - secure: "IDSCI7WXoTowmqcPM6Ip5I8iNu+utvLgzhpuI55Imi0kT6DEgqhYmRzHGY2AfSNKlhClYiGSGzWfqub3/0KyxXSkJB7VcqPQR6CToRfR9zgnu92e9yqmOwMsi5wXxQ0ZRt8l2Oh+WiTtLjGwkD3bvUAHDq2fk9bU7aE03562MTE="
    # DATADOG_APP_KEY
    - secure: "fMA0EchlDhjjKn7oo451vfOhYSJyvm4cL+qi46nx4EbPNhYhBafz8uplgrTodSJccLohioRWsu2HAxN/oAOIp4fWzomnGXCe5c/M4dGTqo5CksOG95C9kkGsaq8xyhYRGplI9iCQHwGbjipvEbtg0n2lfirlLV+DHhNGzDCCM78="
    # DOCKER_USERNAME
    - secure: "YJYYdkYEzN33IwHGMhFy8NIKy5fm3IjCSngwYSLTF2wwmtVTdDSObQbRwvU8zN7aziAbyYvfDQjrQZ+XG8q7RhcirqBkV8Odvzc+OxyRqw2m5Rmr6IU/Cjdja5BXuKuZBlmNmh0fzZguH7EwteAh8lKwzPs+05WCbjZ2cA5YupE="
    # DOCKER_PASSWORD
    - secure: "P6wHEvcVIStEeWPVyS7DY5dEEhCTxMlQ0K6e35Q/4tj1kBvrVMquCs1r5i6TWSpVSYrEePvMabqRljShpyKJhjSJCyP4BkqXVsu9VWpI29qROEZeIGMxu2X80LfpPsvxhZeQ9dGtIUyUgSRxgwnSNI1m8Tzk8vptuDD3bX26NCQ="
before_install:
  # get newer version of docker-compose for variable substitution in compose files
  - curl -L https://github.com/docker/compose/releases/download/1.23.2/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv -v docker-compose /usr/local/bin/
install:
  - mkdir -p $TRAVIS_BUILD_DIR/docker-volumes
before_script:
  - docker version
  - docker-compose version
script:
  # workaround for env vars
  - export TRAVIS_HQ_USERNAME=$TRAVIS_HQ_USERNAME
  - export TRAVIS_HQ_PASSWORD=$TRAVIS_HQ_PASSWORD
  - export DATADOG_API_KEY=$DATADOG_API_KEY
  - if [[ "$DOCKER_USERNAME" && "$DOCKER_PASSWORD" ]]; then echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin; fi
  - scripts/docker test --noinput --stop --verbosity=2 --divide-depth=1 --with-timing --threshold=10 --max-test-time=29
after_success:
  # create symlink so artifacts are available
  - sudo ln -s $(pwd) /mnt/commcare-hq-ro
services:
  - docker
