language: python
python:
 - "2.6"
install:
 - "time bash -e .travis/quietly-run-install.sh"
 - "time python .travis/download-requirements-in-parallel.py requirements/requirements.txt requirements/dev-requirements.txt"
 - "time pip install -r requirements/requirements.txt -r requirements/dev-requirements.txt"
 - "cp .travis/localsettings.py localsettings.py"
script: python manage.py test --noinput
services:
 - postgresql
 - couchdb
 - rabbitmq
 - elasticsearch
 - memcache
