language: python
sudo: false
cache: pip
python:
  - "2.7"
env:
  global:
    - CFLAGS=-O0
    - COUCHDB_USER=""
    - COUCHDB_PW=""
    - TRAVIS_INSTALL="y"
  matrix:
    - TEST_RUNNER=testrunner.GroupTestRunnerCatchall
    - TEST_RUNNER=testrunner.GroupTestRunner0
branches:
  only:
    - master
before_install:
  - "curl http://localhost:5984/"  # print couch info
  - "uname -a"
  - "lsb_release -a"
addons:
  apt:
    packages:
    - moreutils
    - libblas-dev
    - liblapack-dev
install:
  - "git clone https://github.com/dimagi/commcarehq-venv.git"
  - "cp -r commcarehq-venv/hq_env/* ~/virtualenv/"
  - "source ~/virtualenv/bin/activate"
  - "bash -e scripts/uninstall-requirements.sh"
  # set env variables for couch username/password, used by install.sh, to blank
  - "bash -e .travis/quietly-run-install.sh"
  - "curl -X PUT http://localhost:5984/commcarehq_test"  # this is an auth test
  - "time (pip install --exists-action w -r requirements/requirements.txt --use-mirrors --timeout 60)"
  - "bash -e .travis/misc-setup.sh"
  - "cp .travis/localsettings.py localsettings.py"
  - "pip install coverage unittest2 mock --use-mirrors"
script: "coverage run manage.py test --noinput --traceback --testrunner=$TEST_RUNNER"
after_success:
  - coverage report
  - coveralls
services:
  - postgresql
  - couchdb
  - redis-server
notifications:
  slack:
    secure: QROh5w8THwXzuj2fDB3GujwwGyHd1O5wPkZ2qUzNofbpQhOLK+Ayul/UPSmJuUtlTgtip6sBwrtI0E7ujRLyWIa9EJMMfiGdM8wr+Y1w08P6LbDqlmj8dGhUZznWb7rptJ2GeTx6jp4a6MUpc9LfKJMbDZ2Ro5Qe1jdp9wx1zdw=
