import os

# Postgres config
DATABASE_ENGINE = 'postgresql_psycopg2'
DATABASE_NAME = 'commcarehq'
DATABASE_USER = 'postgres'
DATABASE_PASSWORD = '*****'
DATABASE_HOST = ''
DATABASE_PORT = '5432'

DJANGO_LOG_FILE = "/var/log/datahq/datahq.django.log"
LOG_SIZE = 1000000
LOG_LEVEL   = "DEBUG"
LOG_FILE    = "/var/log/datahq/datahq.log"
LOG_FORMAT  = "[%(name)s]: %(message)s"
LOG_BACKUPS = 256 # number of logs to keep

filepath = os.path.abspath(os.path.dirname(__file__))
STATIC_ROOT = os.path.join(filepath, 'staticmedia') #if you so wish to have your staticroot be defined here - this is necessary for staticfiles to merge all the static media from the management command.

####### Couch Forms ######
COUCH_SERVER_ROOT = 'localhost:5984'
COUCH_USERNAME = ''
COUCH_PASSWORD = ''
COUCH_DATABASE_NAME = 'commcarehq'

BITLY_LOGIN = 'dimagi'
BITLY_APIKEY = '*****'

EMAIL_LOGIN="user@gmail.com"
EMAIL_PASSWORD="******"
EMAIL_SMTP_HOST="smtp.gmail.com"
EMAIL_SMTP_PORT=587

JAR_SIGN = dict(
    key_store = "/PATH/TO/KEY_STORE",
    key_alias = "KEY",
    store_pass = "*****",
    key_pass = "*****",
)


# Link to XForm Editor
# in the future we will possible allow multiple
EDITOR_URL = 'http://localhost:8011/xep/initiate/'
XFORMPLAYER_URL = 'http://localhost:8888/play_remote/'

# A back door for phones that can't do SSL to access HQ through http
INSECURE_URL_BASE = "http://submit.mysite.com"