[project]
	description = A server-side tool to help manage community health workers, written in Django
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Simon Kelly (snopoke)
[access "refs/for/refs/*"]
	read = group user/Simon Kelly (snopoke)
	push = group user/Simon Kelly (snopoke)
	label-Code-Review = -2..+2 group user/Simon Kelly (snopoke)
	label-Verified = -1..+1 group user/Simon Kelly (snopoke)
	rebase = group user/Simon Kelly (snopoke)
	removeReviewer = group user/Simon Kelly (snopoke)
	submit = group user/Simon Kelly (snopoke)
[access "refs/heads/*"]
	read = group user/Simon Kelly (snopoke)
	create = group user/Simon Kelly (snopoke)
	push = +force group user/Simon Kelly (snopoke)
	pushMerge = group user/Simon Kelly (snopoke)
[access "refs/tags/*"]
	push = +force group user/Simon Kelly (snopoke)
	pushTag = group user/Simon Kelly (snopoke)
	pushSignedTag = group user/Simon Kelly (snopoke)
