BeautifulSoup
couchdbkit==0.5.7
celery==2.4.5
decorator==3.3.2
django==1.3
django-celery==2.2.4
django-kombu==0.9.1
django-staticfiles==1.0.1
djtables==0.1.1
Fabric==1.3.3
gunicorn==0.12.0
lxml==2.3
mocker==1.1
openpyxl==1.2.3
psycopg2==2.4.1
pygooglechart==0.3.0
python-dateutil==1.5
python-memcached==1.47
pytz==2011b
south
tropo-webapi-python==0.1.3
unidecode
xlutils==1.4.1