Django >= 1.2

####
#source HG checkouts because pypi version is broken
hg+http://bitbucket.org/akoha/django-digest

###
#python libraries
pytz
psycopg2
gunicorn #use with nginx
couchdbkit
lxml
#fabric

###
#dimagi code
dimagi-utils

###
#django projects
django-debug-toolbar
django-tracking
django-autofixture
south

