.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr) min-content 5px;
    grid-template-rows: repeat(6, 1fr) min-content 5px;
    background-color: #fff;
    color: #685c53;
    border-color: #685c53;
}

.box {
  border-color: #685c53;
  color: #685c53;
  font-size: 100%;
}