.app-icon {
    text-shadow: 1px 1px 1px #000;
    font-size: 150px;
    cursor: pointer;
    height: 150px;
}

.module-icon {
    height: 100px;
    font-size: 100px;
}

.start-app-icon {
    color: #ff8400;
}

.incomplete-icon {
    color: #ff8400;
}

.sync-icon {
    color: #47b700;
}
