/* Small screens will have these styles, mainly used written for preview mode */
@media (max-width: 768px) {
  h2, h3 {
    margin-top: 14px;
    margin-bottom: 6px;
  }

  h3 {
    font-size: 16px;
  }

  h2 {
    font-size: 20px;
  }

  .app-icon {
    height: 75px;
    font-size: 75px;
  }

  .module-icon {
    height: 30px;
    font-size: 30px;
  }
}
