{% extends "reports/base_template.html" %}
{% load compress %}
{% load hq_shared_tags %}
{% load i18n %}

{% block js %}{{ block.super }}
  <script src="{% static 'nvd3/lib/d3.v3.js' %}"></script>
  <script src="{% static 'nvd3/nv.d3.js' %}"></script>
  <script src="{% static 'champ/js/knockout/select2-binding.js' %}"></script>
  <script src="{% static 'champ/js/knockout/prevision_vs_achievement_graph.js' %}"></script>
  <script src="{% static 'champ/js/knockout/prevision_vs_achievement_table.js' %}"></script>
  <script src="{% static 'champ/js/knockout/service_uptake.js' %}"></script>
  <script src="{% static 'champ/js/base.js' %}"></script>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}

  <link type="text/css" rel="stylesheet" media="all" href="{% static 'nvd3/src/nv.d3.css' %}">
  <style>
    .bubble {
      border: 1px solid;
      border-radius: 10px;
      padding: 5px;
      background: #f3f2f2;
      margin: 0 auto;
    }
    .ui-select-match > .btn-default {
      background-color: #ffffff;
    }
    .ui-select-multiple > div {
      margin: 0 12px;
    }
  </style>
{% endblock %}
