{% extends "hqadmin/hqadmin_base_report.html" %}
{% load hq_shared_tags %}

{% block js-inline %} {{ block.super }}
    <script>
    $(function () {
        var domain_data = {{ domain_data|JSON }};
        var doc_type_data = {{ doc_type_data|JSON }};
        var addGraph = function (data, divId) {
            nv.addGraph(function() {
                var chart = nv.models.discreteBarChart()
                    .x(function(d) { return d.label })
                    .y(function(d) { return d.value })
                    .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
                    .tooltips(false)        //Don't show tooltips
                    .showValues(true)       //...instead, show the bar value right on top of each bar.
                ;
                d3.select('#' + divId + ' svg')
                  .datum(data)
                  .call(chart);
                nv.utils.windowResize(chart.update);
                return chart;
            });
        };
        addGraph([domain_data], 'domain-info');
        addGraph([doc_type_data], 'doc-type-info');
    });
    </script>
{% endblock js-inline %}

{% block reportcontent %}
    <div class="well well-sm">
        <form class="form-inline">
            Showing the last <input type="text" class="form-control" name="changes" value="{{ count }}"> couch changes.
                <input type="submit" class="btn btn-primary" value="Update">
        </form>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Recent changes by domain
            </h3>
        </div>
        <div class="panel-body">
            <div id="domain-info">
                <svg style='height:200px'> </svg>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Recent changes by doc type
            </h3>
        </div>
        <div class="panel-body">
            <div id="doc-type-info">
                <svg style='height:200px'> </svg>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Full change list
                <a class="btn btn-xs btn-default"
                   href="{% url 'download_recent_changes' %}?changes={{ count }}">download</a>
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Doc Type</th>
                        <th>Date modified (guess)</th>
                        <th>id</th>
                        <th>rev</th>
                    </tr>
                </thead>
                <tbody>
                    {% for change in recent_changes %}
                        <tr>
                            <td>{{ change.domain }}</td>
                            <td>{{ change.doc_type }}</td>
                            <td>{{ change.date }}</td>
                            <td>{{ change.id }}</td>
                            <td>{{ change.rev }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
