{% extends "hqadmin/hqadmin_base_report.html" %}
{% load hq_shared_tags %}
{% load hqstyle_tags %}
{% load i18n %}

{% block view-tabs %}
{% endblock %}

{% block js %}{{ block.super }}
    <script src="{% static 'reports/js/reports.config.js' %}"></script>
    <script src="{% static 'reports/js/reports.util.js' %}"></script>
    <script src="{% static 'reports/js/reports.async.js' %}"></script>
{% endblock %}

{% block js-inline %}{{ block.super }}
    <script src="{% static 'appstore/js/facet_sidebar.js' %}"></script>
    {% include "reports/standard/partials/report_loader.html" %}
{% endblock %}

{% block page_navigation %}
    {{ block.super }}
    <hr />
    {% url "admin_report_dispatcher" facet_report.slug as search_url %}
    <h4 class="text-hq-nav-header">{{ facet_report.facet_title }}</h4>
    {% include 'appstore/partials/sidebar.html' with search_name="es_search" search_for=facet_report.search_for %}
{% endblock %}
