{% extends "hqadmin/hqadmin_base_report.html" %}
{% load i18n %}
{% load compress %}
{% load hq_shared_tags %}

{% block js %}{{ block.super }}
    {% compress js %}
        <script src="{% static 'hqwebapp/js/urllib.js' %}"></script>
        <script src="{% static 'hqadmin/js/management-commands.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block report-title %}{% trans "Management Commands" %}{% endblock %}

{% block reportcontent %}
    {% registerurl "run_management_command" %}
    <div class="spacer"></div>
    <h2>Run a Management Command:</h2>
    <div class="form-inline well">
        <select id="command-select" class="form-control" style="width: 50%;">
            {% for command in commands %}
                <option value="{{ command.1 }}">{{ command.0 }}</option>
            {% endfor %}
        </select>
        <button id="cmd-btn" class="btn btn-primary">{% trans "Run" %} <span id="command-name"></span></button>
    </div>
    <div id="cmd-resp" class="alert alert-info hide"></div>
{% endblock %}
