{% extends "hqadmin/hqadmin_base_report.html" %}
{% block report-title %}Message Logs Across All Domains{% endblock %}
{% block reportcontent %}
<table class="datatable">
<thead>
    <tr>
        <th>Domain</th>        
        <th>Incoming Messages</th>
        <th>Outgoing Messages</th>
        <th>Total Messages</th>
    </tr>
</thead>
<tbody>
{% for domain in domains %}
    <tr>
        <td><a href="{% url default_report domain.name %}">{{ domain.name }}</a></td>
        <td>{{ domain.sms_incoming }}</td>
        <td>{{ domain.sms_outgoing }}</td>
        <td>{{ domain.sms_total }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}