{% extends "hqwebapp/full_screen.html" %}
{% load hq_shared_tags %}

{% block title %}Doc {{ doc_id }} ({{ doc_type }}){% endblock %}

{% block js %}{{ block.super }}
  {% requirejs_main 'hqadmin/js/raw_doc' %}
{% endblock %}


{% block content %}
  {% initial_page_data 'all_databases' all_databases %}
  <div class="container-fluid">
    <div class="spacer"></div>
    <div class="row">
      <div class="col-xs-3">
        <form method="GET" action="" id="doc-form"><!-- don't .form-horizontal, because this page has a non-standard layout where .form-horizontal ruins the left margin -->
          <div class="form-group">
            <select class="form-control hqwebapp-select2"
                    data-bind="options: allDatabases, optionsText:'dbName', optionsValue: 'dbValue'"
                    name="db_name">
            </select>
          </div>
          <div class="form-group">
            <input name="id" class="form-control" type="search" value="{{ doc_id }}" placeholder="Enter a doc id" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary form-control" type="submit">
                <i class="fa fa-search"></i>
                Search
            </button>
          </div>
        </form>

        {% if doc_id %}
          <p>
            <span class="label label-default">database: {{ dbname }}</span>
            <span class="label label-default">doc_type: {{ doc_type }}</span>
            <span class="label label-default">domain: {{ domain }}</span>
          </p>

          {% if multiple_results %}
            Document found in multiple databases
            <ul>
                {% for db in db_results %}
                  {% if db.result == "found" %}{#and db.dbname != dbname %}#}
                    <li>
                      <a href="{% url "raw_doc" %}?id={{ doc_id }}&db_name={{ db.dbname }}">
                        {{ db.dbname }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
            </ul>
          {% endif %}
        {% endif %}

        <p>
          <a href="{% url 'global_quick_find' %}?q={{ doc_id }}">
            <img src="{% static 'hqwebapp/images/commcare-flower.png' %}" alt="CommCare" witdth="14px" height="14px" title="Open in HQ" />
            Open in HQ
          </a>
        </p>
        <p>
          <a href="{% url 'doc_in_es' %}?id={{ doc_id }}" target="_blank" title="Search in ES">
            <i class="fa fa-search"></i>
            Search in ES
          </a>
        </p>
        <p>
          <a href="{% url "raw_doc" %}?id={{ doc_id }}&db_name={{ selected_db }}&raw=true" title="Load raw json doc">
            <i class="fa fa-code"></i>
            Raw JSON
          </a>
        <p>
      </div>

      <div class="col-xs-9">
        {% if doc_id %}
          {% if errors %}
            <p>Error messages:</p>
            <div class="row">
              <div class="col-sm-12">
                  {% for message in errors %}
                    <div class="alert alert-margin-top fade in alert-danger">
                      {{ message }}
                    </div>
                  {% endfor %}
              </div>
            </div>
          {% endif %}
          <div>
            <pre id="doc-element" data-doc="{% html_attr doc %}"></pre>
          </div>
          {% if raw_data %}
          <div>
            <h3>Additional Raw Data:</h3>
            <pre>{{ raw_data }}</pre>
          </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
