{#{% extends "hqwebapp/two_column.html" %}#}
{#{% extends "appstore/appstore_base.html" %}#}
{% extends "hqadmin/hqadmin_base_report.html" %}
{% load hq_shared_tags %}
{% load hqstyle_tags %}
{% load i18n %}

{#{% block tabs %}#}
{#    {% url project_stats as search_url %}#}
{#    <ul class="nav">#}
{#        {% include 'appstore/partials/search_input.html' with search_name="search" search_for="projects..." %}#}
{#    </ul>#}
{#{% endblock %}#}

{% block store-header %}
    Stats
{% endblock %}

{% block view-tabs %}
{% endblock %}

{% block sidebar %}
    {% include 'appstore/partials/sidebar.html' %}
{% endblock %}

{#{% block results-display %}#}
{#{% extends "hqadmin/hqadmin_base_report.html" %}#}
{% block report-title %}Statistics{% endblock %}
{% block precontent %}
    <h4> # project spaces: {{ domains|length }}</h4>
    <h4> # cases: {{ num_cases }}</h4>
    <h4> # forms: {{ num_forms }}</h4>
    <h4> # web users: {{ num_web_users }}</h4>
    <h4> # mobile users: {{ num_mob_users }}</h4>
{% endblock %}
{% block reportcontent %}
    <table class="datatable table table-striped">
        <thead>
        {{ headers.render_html|safe }}
        </thead>
        <tbody>
        {% for domain in domains %}
            <tr>
                <td><a href="{% url reports_home domain.name %}">{{ domain.display_name }}</a></td>
                <td>{{ domain.web_users }}
                    <span title="{{ domain.web_users }}"></span>
                </td>
                <td>{{ domain.commcare_users }}
                    <span title="{{ domain.commcare_users }}"></span></td>
                <td>{{ domain.cases }}
                    <span title="{{ domain.cases }}"></span></td>
                <td>{{ domain.forms }}
                    <span title="{{ domain.forms }}"></span></td>
                <td>{{ domain.admins|join:", " }}</td>
            </tr>
        {% empty %}
            No results were found for your query.
        {% endfor %}
        </tbody>
    </table>
{% endblock %}