{% extends "hqadmin/hqadmin_base_report.html" %}
{% load hq_shared_tags %}
{% load i18n %}
{% load humanize %}

{% block js-inline %} {{ block.super }}
    <script>
        function format_date(datestring) {
            //parse and format the date timestamps - seconds since epoch into date object
            var date = new Date(datestring * 1000);
            // hours part from the timestamp
            var hours = date.getHours();
            // minutes part from the timestamp
            var minutes = date.getMinutes();
            // seconds part from the timestamp
            var seconds = date.getSeconds();
            if (seconds < 10) {
                var second_str = "0"+ seconds;
            } else {
                var second_str = seconds;
            }

            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();

            return  year + '/' + month + '/' + day + ' ' + hours + ':' + minutes + ':' +  second_str;

        }

        function number_fix(num) {
            if (num !== null) {
                if (num.toFixed) {
                    return num.toFixed(2)
                }
                if (num.toPrecision) {
                    return num.toPrecision(2);
                }
                return num;
            }
        }

        function RefreshableViewModel(url, model, interval, sort_by) {
            var self = this;
            self.error = ko.observable();
            self.models = ko.observableArray();
            self.autoRefresh = ko.observable(false);
            self.loading = ko.observable(false);
            self.timer = null;
            self.interval = interval;

            self.autoRefresh.subscribe(function (newVal) {
                if (newVal) {
                    self.refresh();
                } else {
                    self.clearTimer();
                }
            });

            self.clearTimer = function () {
                if (self.timer) {
                    clearTimeout(self.timer);
                    self.timer = null;
                }
            };

            self.refresh = function () {
                self.clearTimer();
                self.loading(true);
                $.getJSON(url, function (data) {
                    self.error(null);
                    var objects = _(data).map(function (item) {
                        return new model(item);
                    });
                    if (sort_by) {
                        objects = _(objects).sortBy(function (x) { return x[sort_by]; })
                    }
                    self.models(objects);
                    if (self.autoRefresh()) {
                        self.timer = setTimeout(self.refresh, self.interval);
                    }
                })
                .fail(function (jqxhr, textStatus, error) {
                    var err = 'Unknown server error';
                    try {
                        err = JSON.parse(jqxhr.responseText).error;
                    } catch (e) {}
                    self.error("Error: " + err);
                    self.autoRefresh(false);
                    self.timer = null;
                })
                .always(function (){
                    self.loading(false);
                });
            };
        }

        function ActiveTaskModel(data) {

            this.pid = ko.observable(data.pid);
            this.type = ko.observable(data.type);
            this.database = ko.observable(data.database);
            this.progress = ko.observable(data.progress + "%");
            this.design_document = ko.observable(data.design_document);
            this.started_on = ko.observable(format_date(data.started_on));
            this.updated_on = ko.observable(format_date(data.updated_on));
            this.total_changes = ko.observable(data.total_changes);
            this.changes_done = ko.observable(data.changes_done);
            this.progress_contribution = ko.observable(data.progress_contribution);
        }

        function DesignDocModel(data) {
            var self = this;
            self.design_document = ko.observable(data.design_document);
            self.details_id = self.design_document() + '_details';
            var tasks = _(data.tasks).map(function (task) {
                return new ActiveTaskModel(task);
            });
            self.tasks = ko.observableArray(tasks);

            self.showDetails = function () {
                $('#' + self.details_id).toggle();
            };
        }

        function CeleryTaskModel(data) {
            var self = this;
            this.name = ko.observable(data.name);
            this.uuid = ko.observable(data.uuid);
            this.state = ko.observable(data.state);
            this.received = ko.observable(format_date(data.received));
            this.started = ko.observable(format_date(data.started));
            this.timestamp = ko.observable(format_date(data.timestamp));
            this.succeeded = ko.observable(format_date(data.succeeded));
            this.retries = ko.observable(data.retries);
            this.args = ko.observable(data.args);
            this.kwargs = ko.observable(data.kwargs);
            this.runtime = ko.observable(number_fix(data.runtime));

            this.toggleArgs = function () {
                $('#' + self.uuid()).toggle();
            }
        }

        function PillowOperationViewModel(pillow_model, operation) {
            var self = this;
            self.pillow_model = pillow_model;
            self.operation = operation;
            self.title = operation + ' for ' + pillow_model.name();

            self.go = function () {
                self.pillow_model.perform_operation(operation);
            }
        }

        function PillowProgress(name, db_offset, seq) {
            var self = this;
            self.name = name;
            self.db_offset = db_offset;
            self.seq = seq;

            self.width = function() {
                return (self.seq * 100) / self.db_offset;
            };

            self.status = function() {
                if (self.width() > 98) {
                    return 'progress-bar-success';
                } else if (self.width() < 50) {
                    return 'progress-bar-danger';
                } else if (self.width() < 75) {
                    return 'progress-bar-warning';
                }
            };
        }

        function PillowModel(pillow) {
            var self = this;
            self.name = ko.observable();
            self.seq_format = ko.observable();
            self.seq = ko.observable();
            self.offsets = ko.observable();
            self.time_since_last = ko.observable();
            self.show_supervisor_info = ko.observable();
            self.supervisor_state = ko.observable();
            self.supervisor_message = ko.observable();
            self.operation_in_progress = ko.observable(false);
            self.progress = ko.observableArray();

            self.update = function (data) {
                self.name(data.name);
                self.seq_format(data.seq_format);
                self.seq(data.seq);
                self.offsets(data.offsets);
                self.time_since_last(data.time_since_last);
                self.show_supervisor_info(!!data.supervisor_state);
                self.supervisor_state(data.supervisor_state||'(unavailable)');
                self.supervisor_message(data.supervisor_message);

                self.progress([]);
                if (self.seq_format() === 'json') {
                    _.each(self.offsets(), function(db_offset, key) {
                        var value;
                        if (self.seq() === null || !self.seq().hasOwnProperty(key)) {
                            value = 0;
                        } else {
                            value = self.seq()[key];
                        }
                        self.progress.push(new PillowProgress(key, db_offset, value));
                    })
                } else {
                    var key = _.keys(self.offsets())[0];
                    self.progress.push(new PillowProgress(key, self.offsets()[key], self.seq()));
                }
            };

            self.update(pillow);

            self.process_running = ko.computed(function () {
                return self.supervisor_state() === 'RUNNING';
            });

            self.start_stop_text = ko.computed(function () {
                return self.process_running() ? '{% trans "Stop" %}' : '{% trans "Start" %}';
            });

            self.disabled = ko.computed(function() {
                return self.operation_in_progress() || (self.supervisor_state() !== 'RUNNING' && self.supervisor_state() !== 'STOPPED');
            });

            self.supervisor_state_css = ko.computed(function() {
                switch (self.supervisor_state()) {
                    case ('(unavailable)'):
                        return '';
                    case ('RUNNING'):
                        return 'label-success';
                    case ('STOPPED'):
                        return 'label-warning';
                    default:
                        return 'label-danger';
                }
            });

            self.checkpoint_status_css = ko.computed(function() {
                var hours = pillow.hours_since_last;
                switch (true) {
                    case (hours <= 1):
                        return 'label-success';
                    case (hours <= 6):
                        return 'label-info';
                    case (hours <= 12):
                        return 'label-warning';
                    default:
                        return 'label-danger';
                }
            });

            self.overall_status = ko.computed(function() {
                var status_combined = self.checkpoint_status_css() + self.supervisor_state_css();
                if (status_combined.indexOf('important') !== -1) {
                    return 'error';
                } else if (status_combined.indexOf('warning') !== -1) {
                    return 'warning';
                } else if (status_combined.indexOf('info') !== -1) {
                    return 'info';
                } else if (status_combined.indexOf('success') !== -1) {
                    return 'success';
                }
            });

            self.show_pillow_dialog = function (operation) {
                var element = $('#pillow_operation_modal').get(0);
                ko.cleanNode(element);
                $(element).koApplyBindings(new PillowOperationViewModel(self, operation));
                $('#pillow_operation_modal').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
            };

            self.reset_checkpoint = function () {
                self.show_pillow_dialog('reset_checkpoint');
            };

            self.start_stop = function () {
                self.show_pillow_dialog(self.process_running() ? 'stop' : 'start');
            };

            self.refresh = function () {
                self.perform_operation('refresh');
            };

            self.perform_operation = function(operation) {
                self.operation_in_progress(true);
                $.post('{% url "pillow_operation_api" %}', {
                    'pillow_name': self.name,
                    'operation': operation
                }, function( data ) {
                    self.operation_in_progress(false);
                    self.update(data);

                    if (!data.success) {
                        alert_user("Operation failed: " + data.operation + " on "
                                + data.pillow_name + ', ' + data.message, 'error');
                    }
                }, "json")
                .fail(function (jqxhr, textStatus, error) {
                    var err = 'Unknown server error';
                    try {
                        err = JSON.parse(jqxhr.responseText).error;
                    } catch (e) {}
                    self.operation_in_progress(false);
                    self.supervisor_state('(unavailable)');
                    self.supervisor_message(err);
                }).always(function() {
                    $('#pillow_operation_modal').modal('hide');
                    $("#" + self.name() +" td").fadeTo( "fast" , 0.5).fadeTo( "fast" , 1);
                });
            }
        }

        function DbComparisons(data) {
            var self = this;
            self.description = data.description;
            self.es_docs = data.es_docs;
            self.couch_docs = data.couch_docs;
            self.sql_rows = data.sql_rows;
        }

        var celeryViewModel = new RefreshableViewModel("{% url "system_ajax" %}?api=flower_poll", CeleryTaskModel, {{ celery_update }});
        {% if is_bigcouch %}
        var couchViewModel = new RefreshableViewModel("{% url "system_ajax" %}?api=_active_tasks", DesignDocModel, {{ couch_update }}, 'design_document');
        {% else %}
        var couchViewModel = new RefreshableViewModel("{% url "system_ajax" %}?api=_active_tasks", ActiveTaskModel, {{ couch_update }});
        {% endif %}
        var pillowtopViewModel = new RefreshableViewModel("{% url "system_ajax" %}?api=pillowtop", PillowModel, {{ couch_update }}, 'name');

        var AutoRefreshModel = function () {
            var self = this;
            self.refreshStatus = ko.observable(false);
            self.refreshStatusText = ko.observable('off');
            self.models = [];

            self.addModel = function (model) {
                self.models.push(model);
            };

            self.toggleRefresh = function () {
                self.refreshStatus(!self.refreshStatus());
                self.refreshStatusText(self.refreshStatus() ? 'on' : 'off');
                $.each(self.models, function (index, model) {
                    model.autoRefresh(self.refreshStatus());
                });
            };

            self.refreshAll = function () {
                $.each(self.models, function (index, model) {
                    model.refresh();
                });
            };
        };

        var autoRefresh = new AutoRefreshModel();
        $(function () {
            $("#celeryblock").koApplyBindings(celeryViewModel);
            $("#couchblock").koApplyBindings(couchViewModel);
            $('#pillowtop-status').koApplyBindings(pillowtopViewModel);
            autoRefresh.addModel(celeryViewModel);
            autoRefresh.addModel(couchViewModel);
            autoRefresh.addModel(pillowtopViewModel);

            autoRefresh.refreshAll();
            $('#autorefresh').koApplyBindings(autoRefresh);
        });

    </script>


{% endblock js-inline %}
{% block reportcontent %}
    <div class="row" style="margin-top: 15px;">
        <div class="col-sm-12">
            {% with deploy_history|first as last_deploy %}
            <div class="alert alert-info">
                Last deployed on {{ last_deploy.date|date:"d M Y" }}
                at {{ last_deploy.date|date:"H:i:s"}} UTC ({{ last_deploy.date|naturaltime}} ago) by {{ last_deploy.user }}
                <br />
                <a href="http://hqcaptain0.internal.commcarehq.org:9999/">Deploy with Captain</a>
            </div>
            {% endwith %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">General Status</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Quick Links</th>
                        <th>Current Worker</th>
                        <th>Redis Status</th>
                        <th>Celery Status</th>
                        <th>Elasticsearch Status</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img src="{% static 'hqwebapp/images/dm.jpg' %}" alt="dan's legacy"></td>
                    <td>
                        <ul>
                            <li><a href="{% url 'view_recent_changes' %}">Recent couch changes</a></li>
                            <li>
                                <div id="autorefresh">
                                    Auto refresh <a href="#" data-bind="click: toggleRefresh, text: refreshStatusText"></a></span>
                                </div>
                            </li>
                            <li>
                                <a href="{% url "raw_couch" %}">Look for a doc in couch</a>
                            </li>
                        </ul>
                    </td>
                    <td><strong>{{ current_system }}</strong></td>
                    <td>
                        {{ redis.success|yesno:"Online,Offline" }}
                        <br>
                        {{ redis.msg }}
                    </td>
                    <td>
                        {{ rabbitmq.msg }} {% if rabbitmq_url %}(<a href="{{ rabbitmq_url }}">Admin</a>){% endif %}
                        <hr>
                        {% trans "Celery Heartbeat " %}
                        {% if heartbeat.success %}
                            <span class="label label-success">OK</span>
                        {% else %}
                            <span class="label label-danger">DOWN</span>
                        {% endif %}
                        <hr>
                        {{ celery_stats|safe }}<br>
                    </td>
                    <td>
                        <dl class="dl-horizontal">
                        <dt>Cluster Status</dt>
                            <dd>
                                {% if cluster_health == "green" %}
                                    <span class="label label-success">Great</span>
                                {% endif %}
                                {% if cluster_health == "yellow" %}
                                    <span class="label label-warning">..aight</span>
                                {% endif %}
                                {% if cluster_health == "red" %}
                                    <span class="label label-danger">Bad</span>
                                {% endif %}
                            </dd>
                            <dt>Index Status</dt>
                            <dd>
                                <a href="{% url "system_ajax" %}?api=stale_pillows" target="_blank">Check (slow!)</a>
                            </dd>
                            <dt>Check ES doc</dt>
                            <dd>
                                <a href="{% url "doc_in_es" %}">Look for a doc in ES</a>
                            </dd>

                        {% for es_status in es_index_status %}
                            {% for k, v in es_status.items %}
                                <dt>{{ k }}</dt>
                                <dd>
                                    {% if v.status %}
                                        <span class="label label-success">OK</span>
                                    {% else %}
                                        <span class="label label-danger">Bad</span>
                                    {% endif %}
                                    {{ v.message }}
                                </dd>
                            {% endfor %}
                        {% endfor %}
                        </dl>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default" id="pillowtop-status">
        <div class="panel-heading">
            <h2 class="panel-title">
                Pillowtop Status
                <small data-bind="if: loading()">
                    <i class="fa fa-refresh fa-spin"></i>
                </small>
                <small data-bind="if: !loading() && !autoRefresh()">
                    <a class="btn btn-default btn-xs" href="#" data-bind="click: refresh"><i class="fa fa-refresh"></i></a>
                </small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="alert alert-danger" data-bind="visible: error, text: error"></div>
            <table class="table table-striped" data-bind="visible: !error()">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Supervisor Status</th>
                        <th>Time since last checkpoint</th>
                        <th>Checkpoint Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: models">
                    <tr data-bind="css: overall_status, attr: {id: name}">
                        <td><code data-bind="text: name"></code></td>
                        <td>
                                <label data-bind="text: supervisor_state, css: supervisor_state_css" class="label"></label>
                                <span data-bind="makeHqHelp: { name: 'Info', description: supervisor_message, format: 'html'}, visible: supervisor_message"></span>
                        </td>
                        <td><label data-bind="text: time_since_last, css: checkpoint_status_css" class="label"></label></td>
                        <td class="col-md-6" data-bind="foreach: progress">
                            <div class="row">
                              <div class="col-sm-4">
                                  <div class="progress">
                                        <div class="progress-bar progress-bar-striped" data-bind="style: {width: width() + '%'}, css: status()"></div>
                                    </div>
                              </div>
                              <div class="col-sm-4">
                                  <span data-bind="text: seq"></span>
                                        / <span data-bind="text: db_offset"></span>
                              </div>
                              <div class="col-sm-4" data-bind="text: name">
                              </div>
                            </div>
                        </td>
                        <td>
                            {% if user_is_support %}
                            <button class="btn btn-default" type="button" data-bind="
                                click: reset_checkpoint,
                                disable: disabled">{% trans "Reset" %}</button>
                            <button class="btn btn-default" type="button" data-bind="
                                click: start_stop,
                                text: start_stop_text,
                                disable: disabled"></button>
                            {% endif %}
                            <button class="btn btn-default" type="button" data-bind="
                                click: refresh">
                                <i class="fa fa-refresh" data-bind="css: {'fa-spin': operation_in_progress}"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% if is_bigcouch %}
    <div class="panel panel-default" id="couchblock">
        <div class="panel-heading">
            <h2 class="panel-title">
                 Couch Tasks
                <small data-bind="if: loading()">
                    <i class="fa fa-refresh fa-spin"></i>
                </small>
                <small data-bind="if: !loading() && !autoRefresh()">
                    <a class="btn btn-xs btn-default" href="#" data-bind="click: refresh"><i class="fa fa-refresh"></i></a>
                </small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="alert alert-danger" data-bind="visible: error, text: error"></div>
            <div class="row" data-bind="visible: !error(), foreach: models">
                <strong data-bind="text: design_document"></strong>
                 (<span data-bind="text: tasks().length"></span>)
                <a href="#" data-bind="click: showDetails"> <i class="fa fa-plus-circle"></i></a>
                <div class="progress" data-bind="foreach: tasks">
                  <div class="progress-bar"  data-bind="style: { width: progress_contribution() + '%'}, css: {'bar-success': ($index() % 2 === 0) }"></div>
                </div>
                <div class="well" data-bind="attr: {id: details_id}, foreach: tasks" style="display: none">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <div class="progress">
                                  <div class="progress-bar"  data-bind="style: { width: progress() + '%'}"></div>
                                </div>
                            </td>
                            <td>
                                <p class="help-inline">
                                    <span data-bind="text: changes_done"></span> of
                                    <span data-bind="text: total_changes"></span>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <em data-bind="text: database"></em>

                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="panel panel-default" id="couchblock">
        <div class="panel-heading">
            <h2 class="panel-title">
                 Couch Tasks
                <small data-bind="if: loading()">
                    <i class="fa fa-refresh fa-spin"></i>
                </small>
                <small data-bind="if: !loading() && !autoRefresh()">
                    <a class="btn btn-xs btn-default" href="#" data-bind="click: refresh"><i class="fa fa-refresh"></i></a>
                </small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="alert alert-danger" data-bind="visible: error, text: error"></div>
            <table class="table table-striped" data-bind="visible: !error()">
                <thead>
                <tr>
                    <th>PID</th>
                    <th>Type</th>
                    <th>DB</th>
                    <th>Design Doc</th>
                    <th>Started</th>
                    <th>Updated</th>
                    <th class="col-sm-2">Progress</th>
                    <th></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: models">
                <tr>
                    <td data-bind="text: pid"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: database"></td>
                    <td data-bind="text: design_document"></td>
                    <td data-bind="text: started_on"></td>
                    <td data-bind="text: updated_on"></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" data-bind="style: {width: progress()}"></div>
                        </div>
                    </td>
                    <td>
                        <p class="help-inline" data-bind="text: total_changes"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <div class="panel panel-default" id="celeryblock">
        <div class="panel-heading">
            <h2 class="panel-title">
                 Celery Monitor <small><a href="{{ celery_flower_url }}">Flower</a> (must be vpn'd in)</small>
                <small data-bind="if: loading()">
                    <i class="fa fa-refresh fa-spin"></i>
                </small>
                <small data-bind="if: !loading() && !autoRefresh()">
                    <a class="btn btn-xs btn-default" href="#" data-bind="click: refresh"><i class="fa fa-refresh"></i></a>
                </small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="alert alert-danger" data-bind="visible: error, text: error"></div>
            <table class="table table-striped" data-bind="visible: !error()">
                <thead>
                <tr>
                    <th>Task Name</th>
                    <th>State</th>
                    <th>Retries</th>
                    <th>Received</th>
                    <th>Started</th>
                    <th>Succeeded</th>
                    <th>Runtime</th>
                    <th>Args</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: models">
                <tr>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: state"></td>
                    <td data-bind="text: retries"></td>
                    <td data-bind="text: received"></td>
                    <td data-bind="text: started"></td>
                    <td data-bind="text: succeeded"></td>
                    <td data-bind="text: runtime"></td>
                    <td>
                        <a href="#" data-bind="click: toggleArgs">Show / Hide args</a>
                        <div data-bind="attr: {id: uuid}" style="display: none">
                            args: <pre><span data-bind="text: args"></span></pre><br>
                            kwargs:<pre><span data-bind="text: kwargs"></span></pre>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% include "hqadmin/partials/deploy_history.html" %}

{% endblock %}

{% block modals %}{{ block.super }}
    {% include "hqadmin/partials/pillow-operation-modal.html" %}
{% endblock %}
