{% extends "hqadmin/hqadmin_base_report.html" %}
{% load hq_shared_tags %}
{% load i18n %}
{% block report-title %}System Info{% endblock %}

{% block js-inline %} {{ block.super }}
    <script>
        function format_date(datestring) {
            //parse and format the date timestamps - seconds since epoch into date object
            var date = new Date(datestring * 1000);
            // hours part from the timestamp
            var hours = date.getHours();
            // minutes part from the timestamp
            var minutes = date.getMinutes();
            // seconds part from the timestamp
            var seconds = date.getSeconds();
            if (seconds < 10) {
                var second_str = "0"+ seconds;
            } else {
                var second_str = seconds;
            }

            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();

            return  year + '/' + month + '/' + day + ' ' + hours + ':' + minutes + ':' +  second_str;

        }

        function number_fix(num) {
            if (num !== null) {
                if (num.toFixed) {
                    return num.toFixed(2)
                }
                if (num.toPrecision) {
                    return num.toPrecision(2);
                }
                return num;
            }
        }

        function ActiveTaskModel(data) {

            this.pid = ko.observable(data.pid);
            this.type = ko.observable(data.type);
            this.database = ko.observable(data.database);
            this.progress = ko.observable(data.progress + "%");
            this.design_document = ko.observable(data.design_document);
            this.started_on = ko.observable(format_date(data.started_on));
            this.updated_on = ko.observable(format_date(data.updated_on));
            this.total_changes = ko.observable(data.total_changes);
        }
        function ActiveTaskListViewModel() {
            // Data
            var self = this;

            self.getTasks = function () {
                $.getJSON("{% url "system_ajax" %}?api=_active_tasks", function (allData) {
                            var mappedTasks = $.map(allData, function (item) {
                                return new ActiveTaskModel(item)
                            });
                            self.couch_tasks(mappedTasks);
                        }
                );
            };
            self.couch_tasks = ko.observableArray(self.getTasks());
            self.refresh = function () {
                self.getTasks();
            }
        }

        //CELERY model declarations
        function CeleryTaskModel(data) {
            this.name = ko.observable(data.name);
            this.uuid = ko.observable(data.uuid);
            this.state = ko.observable(data.state);
            this.received = ko.observable(format_date(data.received));
            this.started = ko.observable(format_date(data.started));
            this.timestamp = ko.observable(format_date(data.timestamp));
            this.succeeded = ko.observable(format_date(data.succeeded));
            this.retries = ko.observable(data.retries);
            this.args = ko.observable(data.args);
            this.kwargs = ko.observable(data.kwargs);
            this.runtime = ko.observable(number_fix(data.runtime));
        }
        function CeleryTaskListViewModel() {
            // Data
            var self = this;

            self.getCeleryTasks = function () {
                $.getJSON("{% url "system_ajax" %}?api=flower_poll", function (allData) {
                            var mappedTasks = $.map(allData, function (item) {
                                return new CeleryTaskModel(item)
                            });
                            self.celery_tasks(mappedTasks);
                        }
                );
            };
            self.celery_tasks = ko.observableArray(self.getCeleryTasks());
            self.refresh = function () {
                self.getCeleryTasks();
            }
        }

        function PillowModel(pillow) {
            var self = this;
            self.name = pillow.name;
            self.seq = pillow.seq;
            self.db_seq = pillow.db_seq;
            self.time_since_last = pillow.time_since_last;
            self.status = (function() {
                var hours = pillow.hours_since_last;
                switch (true) {
                    case (hours <= 1):
                        return 'label-success';
                    case (hours <= 6):
                        return 'label-info';
                    case (hours <= 12):
                        return 'label-warning';
                    default:
                        return 'label-important';
                }
            })();
            self.show_progress = function () {
                    return (self.seq * 100) / self.db_seq <= 99;
            };
        }

        function PillowtopViewModel() {
            var self = this;
            self.pillows = ko.observableArray();
            self.refresh = function () {
                $.getJSON("{% url "system_ajax" %}?api=pillowtop", function (data) {
                    self.pillows(_(_(data).map(function (item) {
                        return new PillowModel(item);
                    })).sortBy(function (pillow) { return pillow.name; }));
                });
            };
            self.refresh();
        }

        var celeryViewModel = new CeleryTaskListViewModel();
        var couchViewModel = new ActiveTaskListViewModel();
        var pillowtopViewModel = new PillowtopViewModel();
        $(function () {
            ko.applyBindings(celeryViewModel, $("#celeryblock").get(0));
            ko.applyBindings(couchViewModel, $("#couchblock").get(0));
            ko.applyBindings(pillowtopViewModel, $('#pillowtop-status').get(0));
            setInterval(function () { celeryViewModel.refresh(); }, {{ celery_update }});
            setInterval(function () { couchViewModel.refresh(); }, {{ couch_update }});
            setInterval(function () { pillowtopViewModel.refresh(); }, {{ couch_update }});
        });

        $(document).on("click", "#reset_pillow_checkpoint_btn", function () {
            var pillowName = $(this).val();
            $(".modal-header h3").text(pillowName);
            $(".modal-body #pillow_name").val(pillowName);
        });
    </script>


{% endblock js-inline %}
{% block reportcontent %}
    <div class="row-fluid">
        {% with deploy_history|first as last_deploy %}
        <span class="label label-info pull-right">Last deployed on {{ last_deploy.date|date:"d M Y" }}
         at {{ last_deploy.date|date:"H:i:s"}} UTC by {{ last_deploy.user }}</span>
        {% endwith %}
    </div>
    <div class="row-fluid">
        <table class="table table-striped">

            <thead>
                <tr>
                    <th></th>
                    <th>Current Worker</th>
                    <th>Memcached Status</th>
                    <th>Redis Status</th>
                    <th>Celery Status</th>
                    <th>Elasticsearch Status</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td><img src="{% static 'hqwebapp/img/dm.jpg' %}" alt="dan's legacy"></td>
                <td><strong>{{ current_system }}</strong></td>
                <td>
                    {{ memcached_status }}
                    <br>
                    {{ memcached_results }}
                </td>
                <td>
                    {{ redis_status }}
                    <br>
                    {{ redis_results }}
                </td>
                <td>
                    {{ rabbitmq_status }} {% if rabbitmq_url %}(<a href="{{ rabbitmq_url }}">Admin</a>){% endif %}
                    <hr>
                    {% trans "Celery Heartbeat " %}
                    {% if heartbeat %}
                        <span class="label label-success">OK</span>
                    {% else %}
                        <span class="label label-important">DOWN</span>
                    {% endif %}
                    <hr>
                    {{ worker_status }}<br>
                </td>
                <td>
                    <dl class="dl-horizontal">
                    <dt>Cluster Status</dt>
                        <dd>
                            {% if cluster_health == "green" %}
                                <span class="label label-success">Great</span>
                            {% endif %}
                            {% if cluster_health == "yellow" %}
                                <span class="label label-warning">..aight</span>
                            {% endif %}
                            {% if cluster_health == "red" %}
                                <span class="label label-important">Bad</span>
                            {% endif %}
                        </dd>
                        <dt>Index Status</dt>
                        <dd>
                            <a href="{% url "system_ajax" %}?api=stale_pillows" target="_blank">Check (slow!)</a>
                        </dd>

                    {% for es_status in es_index_status %}
                        {% for k, v in es_status.items %}
                            <dt>{{ k }}</dt>
                            <dd>
                                {% if v.status %}
                                    <span class="label label-success">OK</span>
                                {% else %}
                                    <span class="label label-important">Bad</span>
                                {% endif %}
                                {{ v.message }}
                            </dd>
                        {% endfor %}
                    {% endfor %}
                    </dl>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row-fluid" id="pillowtop-status">
        <h3>Pillowtop Status</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Time since last checkpoint</th>
                    <th title="seq / db_seq">Reindex Progress</th>
                    <th title="db_seq - seq"># Changes behind</th>
                    <th title="seq / db_seq">Seq / Total Seq</th>
                    <th>Reset pillow checkpoint</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: pillows">
                <tr>
                    <td><code data-bind="text: name"></code></td>
                    <td><label data-bind="text: time_since_last, css: status" class="label"></label></td>
                    <td>
                        <div class="progress progress-striped progress-mini active" data-bind="visible: show_progress()">
                            <div class="bar" data-bind="style: {width: ((seq * 100)/db_seq) + '%'}"></div>
                        </div>
                        <div data-bind="visible: !show_progress()">
                            <span>All caught up</span>
                        </div>
                    </td>
                    <td>
                        <span data-bind="text: db_seq - seq"></span>
                    </td>
                    <td>
                        <span data-bind="text: seq"></span>
                        / <span data-bind="text: db_seq"></span>
                    </td>
                    <td>
                        <a id="reset_pillow_checkpoint_btn" data-bind="value: name" class="btn btn-info pull-right" data-toggle="modal" href="#reset_pillow_checkpoint_modal">
                            {% trans "Reset" %}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row-fluid" id="couchblock">
        <h3>Couch Tasks</h3>
        <table class="table">
            <thead>
            <tr>
                <th>PID</th>
                <th>Type</th>
                <th>DB</th>
                <th>Design Doc</th>
                <th>Started</th>
                <th>Updated</th>
                <th class="span2">Progress</th>
                <th></th>
            </tr>
            </thead>
            <tbody data-bind="foreach: couch_tasks">
            <tr>
                <td data-bind="text: pid"></td>
                <td data-bind="text: name"></td>
                <td data-bind="text: database"></td>
                <td data-bind="text: design_document"></td>
                <td data-bind="text: started_on"></td>
                <td data-bind="text: updated_on"></td>
                <td>
                    <div class="progress progress-striped active">
                        <div class="bar" data-bind="style: {width: progress()}"></div>
                    </div>
                </td>
                <td>
                    <p class="help-inline" data-bind="text: total_changes"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row-fluid" id="celeryblock">
        <h3>Celery Monitor <small><a href="{{ celery_flower_url }}">Flower</a> (must be vpn'd in)</small></h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Task Name</th>
                <th>State</th>
                <th>Retries</th>
                <th>Received</th>
                <th>Started</th>
                <th>Succeeded</th>
                <th>Runtime</th>
                <th>Args</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: celery_tasks">
            <tr>
                <td data-bind="text: name"></td>
                <td data-bind="text: state"></td>
                <td data-bind="text: retries"></td>
                <td data-bind="text: received"></td>
                <td data-bind="text: started"></td>
                <td data-bind="text: succeeded"></td>
                <td data-bind="text: runtime"></td>
                <td>
                    args: <pre><span data-bind="text: args"></span></pre><br>
                    kwargs:<pre><span data-bind="text: kwargs"></span></pre>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row-fluid">
    {% include "hqadmin/partials/deploy_history.html" %}
    </div>
    <div class="row-fluid">
        <h3>Recent Database Changes</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Domain</th>
                <th>Doc Type</th>
                <th>id</th>
                <th>rev</th>
            </tr>
            </thead>
            <tbody>
{% for change in recent_changes %}
            <tr>
                <td>{{ change.domain }}</td>
                <td>{{ change.doc_type }}</td>
                <td>{{ change.id }}</td>
                <td>{{ change.rev }}</td>
            </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block modals %}{{ block.super }}
    {% include "hqadmin/partials/reset-pillow-checkpoint-modal.html" %}
{% endblock %}
