{% extends "hqwebapp/two_column.html" %}
{% load hq_shared_tags %}
{% load i18n %}

{% block title %}
    {% if current_page and section %}
        {% if current_page.title %}
            {{ current_page.title }} :
        {% endif %}
        {{ section.page_name }}
    {% endif %}
    User Administration
{% endblock %}

{% block page_breadcrumbs %}
    <ol id="hq-breadcrumbs" class="breadcrumb breadcrumb-hq-section">
        <li>
            <a href="{% url "authenticate_as" %}"><strong>{% trans "User Administration" %}</strong></a>
        </li>
        <li class="active">
            {% if current_page and current_page.title %}
                {{ current_page.title }}
            {% endif %}
        </li>
    </ol>
{% endblock %}

{% block page_content %}
    <div id="report-content">
        {% block reportcontent %}
        {% endblock %}
     </div>
{% endblock %}