<h3>Select2 vs. Standard Select</h3>
<p>
    You always should use a <code>Select2</code> widget over a standard
    <code>select</code> widget when the options require the user to
    scroll extensively through the select list to find the right option.
    Conversely, it's overkill to use a <code>Select2</code> widget when
    there are only a few options.
</p>
<p>
    You should use a <code>Select2 Async</code> widget when the list of
    data is so long that it is more performant to filter the list first
    before sending the data to the user.
</p>
