{% load i18n %}
{% load hq_shared_tags %}

<table class="table table-striped table-bordered">
    {% if commcare_users %}
        <thead>
        <tr>
            <th></th>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Full Name" %}</th>
            <th>{% trans "Date Registered" %}</th>
            <th>{% trans "Phone" %}</th>
            {% if show_more_columns %}
                <th>{% trans "Forms" %}</th>
                <th>{% trans "Cases" %}</th>
                {% if show_case_sharing %}
                    <th class="help_popover" data-help-key="Case Sharing" data-placement="right">
                        <div>{% trans "Case Sharing" %} <i class="icon icon-question-sign"></i></div>
                    </th>
                {% endif %}
            {% else %}
                <th><a href="?show_more_columns=true">{% trans "More..." %}</a></th>
            {% endif %}
            {% if couch_user.can_edit_commcare_users %}
                <th class="help_popover" data-help-key="Archive User"><div >{% trans "Archive" %} <i class="icon icon-question-sign"></i></div></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for user in commcare_users %}
            {% ifchanged user.is_active %}
                {% if not user.is_active %}
                    <tr>
                        <th colspan="{% if couch_user.can_edit_commcare_users %}8{% else %}6{% endif %}">Archived {% commcare_user %}s</th>
                    </tr>
                {% endif %}
            {% endifchanged %}
            <tr class="{% cycle "odd" "even" %}">

                <td>{{ forloop.counter }}</td>
                <td><a href="{% url user_account domain user.user_id %}">{{ user.raw_username }}</a></td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.date_joined.date }}</td>
                <td>
                    {% if user.phone_numbers %}
                        +{{ user.phone_numbers.0 }}
                        {% if user.phone_numbers.1 %}
                            (and more)
                        {% endif %}
                    {% endif %}
                </td>
                {% if show_more_columns %}
                    <td>{{ user.form_count }}</td>
                    <td>{{ user.case_count }}</td>
                    {% if show_case_sharing %}
                        <td>
                            {% if user.get_case_sharing_groups|length == 1 %}
                                <i class="icon-ok"></i> {{ user.get_case_sharing_groups.0.name }}
                            {% else %}
                                <i class="icon-warning-sign"></i>
                                {% if user.get_case_sharing_groups %}
                                    <span class="label label-warning">Multiple Groups</span>
                                    <ul>
                                        {% for group in user.get_case_sharing_groups %}
                                            <li>{{ group.name }}</li>
                                        {% endfor %}
                                    </ul>
                                    {#                        <div class="btn-group">#}
                                    {#                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">#}
                                    {#                            Select only one group#}
                                    {#                            <span class="caret"></span>#}
                                    {#                            </a>#}
                                    {#                            <ul class="dropdown-menu">#}
                                    {#                                {% for group in user.get_case_sharing_groups %}#}
                                    {#                                    <li><a href="{% url set_commcare_user_group domain %}?user={{ user.user_id }}&group={{ group.name }}">{{ group.name }}</a></li>#}
                                    {#                                {% endfor %}#}
                                    {#                            </ul>#}
                                    {#                        </div>#}
                                {% else %}
                                    <span class="label label-warning">No Groups</span>
                                    {#                            <div class="btn-group">#}
                                    {#                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">#}
                                    {#                                Add to a group#}
                                    {#                                <span class="caret"></span>#}
                                    {#                                </a>#}
                                    {#                                <ul class="dropdown-menu">#}
                                    {#                                    {% for group in groups %}#}
                                    {#                                        <li><a href="{% url set_commcare_user_group domain %}?user={{ user.user_id }}&group={{ group.name }}">{{ group.name }}</a></li>#}
                                    {#                                    {% endfor %}#}
                                    {#                                </ul>#}
                                    {#                            </div>#}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                {% else %}
                    <td><a href="?show_more_columns=true">...</a></td>
                {% endif %}
                {% if couch_user.can_edit_commcare_users %}
                    <td>
                        {% if user.is_active %}
                            <form action="{% url archive_commcare_user domain user.user_id %}" style="display: inline;">
                                <button type="submit" class="btn">Archive</button>
                            </form>
                        {% else %}
                            <form action="{% url unarchive_commcare_user domain user.user_id %}" method="post" style="display: inline;">
                                <button type="submit" class="btn">Unarchive</button>
                            </form>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% else %}
        <tr><td colspan="8">There are no {% commcare_user %}s for this domain.</td></tr>
    {% endif %}
    </tbody>
</table>