{% extends "reports/async/tabular.html" %}
{% load hq_shared_tags %}
{% load report_tags %}
{% load i18n %}
{% block reportcontent %}
    <ul class="nav nav-pills">
        {% block patient-tab-controller %}
            <li {% if view_mode == "info" %}class="active"{% endif %}>
                <a href="{{ pt_root_url }}" >{% trans "Info" %}</a></li>

            <li {% if view_mode == "schedule" %}class="active"{% endif %}>
                <a href="{{ pt_root_url }}&view=schedule" >{% trans "Schedule" %}</a>
            </li>
            {% if patient_doc.is_dot_patient %}
                <li {% if view_mode == "dots" %}class="active"{% endif %}>
                    <a href="{{ pt_root_url }}?view=dots" >{% trans "DOT Adherence" %}</a>
                </li>
            {% endif %}
            <li {% if view_mode == "submissions" %}class="active"{% endif %}>
                <a href="{{ pt_root_url }}&view=submissions" >{% trans "Submissions" %}</a></li>

            <li {% if view_mode == "careteam" %}class="active"{% endif %}>
                <a href="{{ pt_root_url }}&view=careteam" >{% trans "Careteam" %}</a>
            </li>

            {#                        <li {% if view_mode == "careplan" %}class="active"{% endif %}>#}
            {#                            <a href="{% url view_pactpatient patient_doc.get_id 'careplan' %}" data-toggle="tab">{% trans "Care Plan" %}</a>#}
            {#                        </li>#}
            {#                        <li {% if view_mode == "log" %}class="active"{% endif %}>#}
            {#                            <a href="{% url view_pactpatient patient_doc.get_id 'log' %}" data-toggle="tab">{% trans "Change Log" %}</a>#}
            {#                        </li>#}
        {% endblock patient-tab-controller %}
    </ul>
    {{ block.super }}
{% endblock reportcontent %}

{% block js-inline %}
    <script type="text/javascript">
        {% if report_table and report_table.datatables %}
            var reportTables = new HQReportDataTables({
                defaultRows: {{ report_table.default_rows|default:10 }},
                startAtRowNum: {{ report_table.start_at_row|default:0 }},
                showAllRowsOption: {{ report_table.show_all_rows|JSON }},

                {% if report_table.headers.render_aoColumns %}aoColumns: {{ report_table.headers.render_aoColumns|JSON }},{% endif %}
                autoWidth: {{ report_table.headers.auto_width|JSON }},
                {% if report_table.headers.custom_sort %}customSort: {{ report_table.headers.custom_sort|JSON }},{% endif %}

                {% if report_table.pagination.is_on %}
                    ajaxSource: '{{ report_table.pagination.source }}',
                    ajaxParams: {{ report_table.pagination.params|JSON }},
                {% endif %}

                {% if report_table.left_col.is_fixed %}
                    fixColumns: true,
                    fixColsNumLeft: {{ report_table.left_col.fixed.num }},
                    fixColsWidth: {{ report_table.left_col.fixed.width }},
                {% endif %}
            });
            standardHQReport.handleTabularReportCookies(reportTables);
            reportTables.render();
        {% endif %}

        $(function() {
            $('.dataTables_scrollHead').css('overflow', 'visible');
            $('.header-popover').tooltip({
                placement: 'bottom',
            });
        });
    </script>
{% endblock %}
