{% extends "pact/patient/base_patient.html" %}
{% load i18n %}
{% block extrahead %}
    <script type="text/javascript" src="{{STATIC_URL}}carehq/js/djangocookie.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}carehq/js/jquery.timePicker.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}carehq/js/carehq.ajaxform.js"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}shinecarehq/shinecarehq.css" type="text/css">
    <link rel="stylesheet" href="{{STATIC_URL}}carehq/css/jquery.timePicker.css" type="text/css">
    <script>
        $(function () {

            $('#ptabs').tabs();
            $('.editctrl').each(function () {
                $(this).hide();
            });
        });
        function toggle_edit() {
            if ($("#edit_tgl_btn > span.edit_btn_txt").html() == "Edit Patient") {
                $('.editctrl').each(function () {
                    $(this).toggle('drop', {}, 300);
                });
                $("#edit_tgl_btn > span.edit_btn_txt").html("Done Editing");
            } else {
                $('.editctrl').each(function () {
                    $(this).toggle('drop', {}, 300);
                });
                $("#edit_tgl_btn > span.edit_btn_txt").html("Edit Patient");
            }
        }
        function rm_phone_addr(patient_guid, phone_addr, item_idx) {
            var payload = {
                'csrfmiddlewaretoken':getCookie("csrftoken"),
                'patient_guid':patient_guid,
            };

            var remove_url = '';
            if (phone_addr == "phone") {
                remove_url = "{% url remove_phone %}";
                payload['phone_id'] = item_idx;
            } else if (phone_addr == "address") {
                attr_name = 'address';
                var remove_url = "{% url remove_address %}";
                payload['address_id'] = item_idx;
            }
            send_xhr = $.ajax({
                "type":"POST",
                "url":remove_url,
                "data":payload,
                "success":function (data) {
                    location.reload();
                }, //end success
                "error":function (data) {
                    $('body').replaceWith(data.responseText);
//                            alert("Error trying to save form, please try again: " + data);
                }
            });
        }

        function unlink_patient_provider(patient_guid, actor_uuid) {
            var remove_url = "{% url rm_provider_from_patient %}";
            var payload = {
                'csrfmiddlewaretoken':getCookie("csrftoken"),
                'patient_guid':patient_guid,
                'actor_uuid':actor_uuid,
            };

            send_xhr = $.ajax({
                "type":"POST",
                "url":remove_url,
                "data":payload,
                "success":function (data) {
                    location.reload();
                    console.log(data);
                }, //end success
                "error":function (data) {
                    $('body').replaceWith(data.responseText);
//                            alert("Error trying to save form, please try again: " + data);
                }
            });
        }

    </script>
{% endblock extrahead %}

{% block page_crumbs %}
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="#">Patients</a> <span class="divider">/</span></li>
        <li class="active">{{ patient_doc.last_name }}, {{ patient_doc.first_name }}</li>
    </ul>
{% endblock page_crumbs %}
{% block page_header %}
    <div class="row">
        <div class="span12">
            {% block patient_hat %}
                <div class="pull-left">
                    {% block patient_name_display %}
                        <span class="ptpage_fn"> {{ patient_doc.last_name }}, {{ patient_doc.first_name }} ({{ patient_doc.pact_id }})</span>
                    {% endblock patient_name_display %}
                </div>
                <div class="pull-right">
                    {% block hat_actions %}
                        <a class="btn"
                           href="{% url new_xform_interaction patient_doc.case_id "progress_note" %}?override=full">
                            <i class="icon-plus-sign"></i>
                            New Progress Note
                        </a>
                        <a class="btn"
                           href="{% url new_xform_interaction patient_doc.case_id "bloodwork" %}?override=full">
                            <i class="icon-plus-sign"></i>
                            New Bloodwork
                        </a>
                        <a class="btn"
                           href="{% url new_xform_interaction patient_doc.case_id "dot" %}?override=full">
                            <i class="icon-plus-sign"></i>
                            New DOTS
                        </a>

                    {% endblock hat_actions %}
                </div>
            {% endblock patient_hat %}
        </div>
    </div> {# end row for patient_hat #}
{% endblock page_header %}

{% block patient-tab-controller %}
    <li {% if view_mode == "info" %}class="active"{% endif %}>
        <a href="{% url view_pactpatient patient_doc.get_id 'info' %}" data-toggle="tab">{% trans "Info" %}</a></li>
    <li {% if view_mode == "careteam" %}class="active"{% endif %}>
        <a href="{% url view_pactpatient patient_doc.get_id 'careteam' %}" data-toggle="tab">{% trans "Careteam" %}</a>
    </li>
    <li {% if view_mode == "schedule" %}class="active"{% endif %}>
        <a href="{% url view_pactpatient patient_doc.get_id 'schedule' %}" data-toggle="tab">{% trans "Schedule" %}</a>
    </li>

{#    {% if patient_doc.is_dot_patient %}#}
{#     <li {% if view_mode == "dots" %}class="active"{% endif %}>#}
{#        <a href="{% url view_pactpatient patient_doc.get_id 'dots' %}"#}
{#           data-toggle="tab">{% trans "DOT Adherence" %}</a>#}
{#     </li>#}
{#    {% endif %}#}



    <li {% if view_mode == "submissions" %}class="active"{% endif %}>
        <a href="{% url view_pactpatient patient_doc.get_id 'submissions' %}"
           data-toggle="tab">{% trans "Submissions" %}</a></li>

    <li {% if view_mode == "careplan" %}class="active"{% endif %}>
        <a href="{% url view_pactpatient patient_doc.get_id 'careplan' %}" data-toggle="tab">{% trans "Care Plan" %}</a>
    </li>

    <li {% if view_mode == "log" %}class="active"{% endif %}>
        <a href="{% url view_pactpatient patient_doc.get_id 'log' %}" data-toggle="tab">{% trans "Change Log" %}</a>
    </li>
{% endblock patient-tab-controller %}
{% block patient-tab-container %}
    <div id="patient-info-tab" class="ui-tabs-hide">
        <div id="patienteditform" class="modal"></div>
        <!-- end patient info display-->
    </div>


    <div id="patient-careteam-tab">
        <div class="span12">
            <a class="editctrl fg-button ui-state-default fg-button-icon-left ui-corner-all"
               href="javascript:alert('todo')">
                {#                       href="{% url pt_add_provider patient_doc.get_id %}">#}
                <span class="ui-icon ui-icon-circle-plus"></span>
                Add Provider </a>

            {% for prr in careteam_prrs %}
                {#                {% include "carehqapp/network/careteam_listitem.html" %}#}
            {% endfor %}
            {% comment %}
                {% for role, actors in careteam_dict.items %}
                    <div class="span-two-thirds last"><span style="font-size:125%">{{ role.display }}(s)</span></div>
                    {% for actor in actors %}
                        <div class="span-two-thirds last" style="border: 1px solid black;padding: 8px;margin: 4px;">
                            <div class="span7 careteam_name">{{ actor.actordoc.get_name }}</div>
                            <div class="span4 last">{{ actor.actordoc.get_display|title }}</div>
                            &nbsp;
                        </div>
                        &nbsp;
                    {% endfor %}
                {% endfor %}
                {% endcomment %}


        </div>
        &nbsp;
    </div>
    <div id="patient-careplan-tab">
        Careplan goes here
    </div>
{% endblock patient-tab-container %}
