{% extends "organization/base.html" %}
{% load i18n %}
{% load organization_tags %}
{% load dashboard_tags %}
{% block head_title %}{% trans "My Dashboard" %}{% endblock %}
{% block org_content %}
<h2>{%trans "Activity Dashboard"%} :: {{startdate|date}} - {{enddate|date}}</h2>
	{%get_daterange_links%}
	
	<!-- <h3>{%trans "All form activity" %} </h3>
	{% get_dashboard_activity startdate enddate%}--> 
	
	<h3>{%trans "User counts" %}</h3>
	
	
	{% get_dashboard_user_counts startdate enddate %}
{% endblock %}
