{% extends "reports/async/tabular.html" %}
{% load i18n %}
{% load hq_shared_tags %}

{% block js %}
    {{ block.super }}
    <style>
        @page {
            size: A4 landscape;
        }
        tr {
                page-break-inside: avoid;
            }
        @media print {
            .table th, .table td {
                border-right: 1px solid #dddddd;
            }
        }
    </style>
    <script>
        {% if rendered_as == 'print' and not sf %}
            $(function() {
                document.body.style.zoom="80%";
                $('.hq-loading').hide();
            });
        {% endif %}
    </script>
{% endblock js %}

{% block pretable %}

    <h4 class="media-heading">{{ report.report_title }}
        {% for subtitle in report.report_subtitles %}
        <br/><small>{{ subtitle }}</small>
        {% endfor %}
    </h4>
    {% if sf == "sf2" %}
    <div class="row hq-flush-content">
        <div class="span6">
            <table class="table table-striped">
                <tr>
                    <td><strong>Total number of ASHAs under the Facilitator</strong></td>
                    <td>{{ total_under_facilitator }}</td>
                </tr>
                <tr>
                    <td><strong>Total number of ASHAs for whom the functionality checklist was filled</strong></td>
                    <td>{{ total_with_checklist }}</td>
                </tr>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock pretable %}

{% block js-inline %}
    <script>
        function hideFilters(sf) {
            if (sf === "" || sf === 'sf2') {
                $('#fieldset_datespan').css('display', 'block');
                $('#fieldset_year').css('display', 'none');
                $('#fieldset_month').css('display', 'none');
                $('#report_filter_hierarchy_af').parent().parent().css('display', 'block');
                $('#report_filter_hierarchy_block').parent().parent().css('display', 'block');
            } else if (sf === "sf3") {
                $('#fieldset_datespan').css('display', 'none');
                $('#fieldset_year').css('display', 'block');
                $('#fieldset_month').css('display', 'block');
                $('#report_filter_hierarchy_af').parent().parent().css('display', 'block');
                $('#report_filter_hierarchy_block').parent().parent().css('display', 'block');
            } else if (sf === "sf4") {
                $('#fieldset_datespan').css('display', 'none');
                $('#fieldset_year').css('display', 'block');
                $('#fieldset_month').css('display', 'block');
                $('#report_filter_hierarchy_af').parent().parent().css('display', 'none');
                $('#report_filter_hierarchy_block').parent().parent().css('display', 'block');
            } else if (sf === "sf5") {
                $('#fieldset_datespan').css('display', 'none');
                $('#fieldset_year').css('display', 'block');
                $('#fieldset_month').css('display', 'block');
                $('#report_filter_hierarchy_af').parent().parent().css('display', 'none');
                $('#report_filter_hierarchy_block').parent().parent().css('display', 'none');
            }
        }
        $('#report_filter_sf').on('change', function() {
            sf = $(this).select2('data').id;
            hideFilters(sf);
        });
        $('#hq-report-filters').on('change', function() {
            hideFilters(sf);
        });
        sf = $('#report_filter_sf').select2('data').id;
        hideFilters(sf);
    </script>
{% endblock %}