{% extends "reports/async/tabular.html" %}
{% load i18n %}
{% load hq_shared_tags %}

{% block posttable %}
    <button id="print_button" class="btn" onclick="printASHATable()">Print</button>
{% endblock posttable %}

{% block js-inline %}
    <script>
    function printASHATable(){
            var restorepage = $('body').html();
            var printcontent = $('#report_table_asha_functionality_checklist_report').clone();
            $('body').empty().html(printcontent);
            window.print();
            $('body').html(restorepage);
        }
    </script>
{% endblock %}
