/* UNICEF RapidSMS UI
 * vim:set noet:
 * --
 * modules.css
 * --
 * This stylesheet defines the look of "modules",
 * which is a concept stolen from django admin,
 * to break the page into isolated chunks of
 * related links and/or functionality */


