/*******************************************
 ** Main wrapper/body stylings
 *******************************************/

body {  
    background-color: #eeeeee;
}

#inner {
    padding-top: 10px;
    padding-bottom: 10px;  
    /* make it not look ridiculous if there's no content there */
    min-height: 300px;
}

#wrapper {
    width: 83em;
    margin: 0 auto;
    background: #fff;
    
    /* a little pretty for the 10/dec demo */
    -moz-box-shadow: 4px 4px 8px #aaa;
    box-shadow: 4px 4px 8px #aaa;
    margin-top: 0.5em;
    -moz-border-radius-bottomright: 1em;
    -moz-border-radius-bottomleft: 1em;
}

    /* no scaling for ie6 */
    * html #wrapper {
        width: 960px; }

/*******************************************
 ** Links
 *******************************************/

a {  
    text-decoration: none;
}

/* this is how you make something with a javascript action 
   look like our links */
   
.js_link {
	background:transparent;
	color: #000099;
    cursor:pointer;
}

.js_link:hover {
    color: #000000;
}



/*******************************************
 ** Tables
 *******************************************/

/* give our tables a little border */
table {
    border: 1px solid #bbbbbb; 
}
	
/* this puts a scrollable area around a big table, gives it some padding
   and a slightly different background color so it stands out a little
*/

.big-table {
    padding: 5px;
    overflow:auto;
    background-color: #f8f8f8;
}


/* 
   Table/column sort stuff.   
   The class "sorted" defines the color, the position
   of the image, and the padding for the image.  The
   class "ascending" or "descending" defines which image 
   is used.
   So the way to get this to show up in html would be
   <th class="sorted descending">
*/

th.sorted {
    background-color: #b2c8ee;
    background-repeat: no-repeat;
    background-position: right;
    padding-right:15px;
}

th.descending {
    background-image: url("../../webapp/icons/silk/arrow_up.png");
}

th.ascending {
    background-image: url("../../webapp/icons/silk/arrow_down.png");
}

td.sorted, tr.even td.sorted, tr.odd td.sorted  {
    background: #e5fbff;
}

tr.highlight td {
    background-color: #FFFFCC;
}


/*******************************************
 ** Lists
 *******************************************/

ul {
    list-style: none;
}

    
/*******************************************
 ** Forms
 *******************************************/



/*******************************************
 ** Header / login block
 *******************************************/


#header, #footer {
    background: #940025;
    overflow: hidden;
    padding-bottom: 0px;
    position: relative;
    color:white;    
}

#footer {
	padding-top:10px;
    -moz-border-radius-bottomright: 1em;
    -moz-border-radius-bottomleft: 1em;
}


#footer a:link, #footer a:visited {
    color: white;
    font-weight: bold;
}

#header a:link, #header a:visited {
    color: white;
}

#header a:hover, #footer a:hover {
    text-decoration: underline;
}

#branding h1 {
    background: #940025; 
    padding-left: .5em;
    font-size: 28px;
    margin: 18px 0;
    font-weight: normal;
    color: white;
}

#loginblock {
    border:2px solid lightgray;        
    width:400px;
    background-color:#f8f8f8;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#loginblock table {
    margin:auto;
    border:none;
    text-align:center;
}

#currentlogin-block {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2em 10px;
    font-size: 11px;
    text-align: right;
    color: white;    
}



/*******************************************
 ** Region for RapidSMS tab rendering
 *******************************************/
    #tabs,
    #page-tabs {
        position: relative;
        font-size: 13px;
        height: 28px;
        bottom: 0;
        padding: 0;
        margin: 0;
    }
    
    /* global tabs sit on the right,
     * page-specific tabs sit on the
     * left, to draw more attention */
    #tabs      { left: 0; }
    #page-tabs { right: 0;  }
    
        #tabs li,
        #page-tabs li {
            display: block;
            float: left;
            line-height: 28px;
        }
        
        /* 5px spacing between each tab, to match
         * the top gap, since we're using pixel-
         * positioned backgrounds */
        #tabs li      { }
        #page-tabs li { }
    
            #tabs li a,
            #page-tabs li a {
                color: #fff;
                display: block;
                padding: 0 1em;
                border-right: 1px solid #FFF;
            }
            
            #tabs li.active a,
            #page-tabs li.active a,
            #tabs li.active a:hover,
            #page-tabs li.active a:hover {
                
                /* border the same color as the
                 * strip in the header-bg.png */
                background: #fff;
                border-bottom: 0;
                color: #940025;
                font-weight: bold;
                
                /* don't underline links, even when hovering,
                 * so we don't highlight the fact that this
                 * is a link (it's already active)  */
                text-decoration: none;
            }
        
            /* brighten up inactive tabs when hovering */
            #tabs li a:hover,
            #page-tabs li a:hover {
                background: #FFF;
                color: #940025;
            }


/*******************************************
 ** Custom Properties
 *******************************************/

/* We're using notice for links/buttons. Blueprint makes them yellow, but we prefer a 
   more tasteful grey/blue */

.notice {background:#DDEDEE;color:#374445;border-color:#A4B9B9;}
.notice a {color:#374445;}

/* these do some generic stylings of "good" and "bad" things happening */

/* commented out for now, blueprint does a decent job with these
 
.success {
    font-weight: bold;
    color: green;
}

.error {
    font-weight: bold;
    color: red;
}

*/


/*******************************************
 ** Daterange link boxes
 *******************************************/

div.daterange_tabs {
    text-align: center;
    height: 25px;       
}

div.daterange_tabs ul {
    margin: 0;
    margin-right: 30px;
    padding: 0;
    list-style: none;
    line-height: normal;    
    width:auto;  
}

div.daterange_tabs  li {
    float: left;
    border:2px solid gray;
    margin-left: 4px;   
    margin-right: 4px;
}

div.daterange_tabs  a {
    float:left;
    width:8em;
    text-decoration:none;   
    padding:0.2em 0.6em;      
}


/*******************************************
 ** Sub-headings (only used in build manager)
 *******************************************/

/* TODO: (re)move these if they are not globally useful */

#subheading ul
{
    list-style-type: none;
    margin-top: 10px;
    padding: 0px;
    padding-bottom: 7px;
    border-bottom-width: 1px; 
    border-bottom-color: #DADFF9;
    border-bottom-style: solid;
}

#subheading li 
{
    display: inline;
    margin: 0px;
}

#subheading li a
{
    background-color: #DADFF9;
    margin-left: 0px;
    margin-right: 0px;
    border-right-width: 1px; 
    border-right-color: #555555;
    border-right-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#subheading li a:hover
{
    background-color: #E9EDFF;
    border-right-color: #999999;
}


