 
    #dhtmlgoodies_tooltip{
        background-color:#EEE;
        border:1px solid #000;
        position:absolute;
        display:none;
        width: 45em;
        z-index:20000;
        padding:2px;
        font-size:0.9em;
        -moz-border-radius:6px; /* Rounded edges in Firefox */
        font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
    }
    
    #dhtmlgoodies_tooltipShadow{
        position:absolute;
        background-color:#555;
        display:none;
        z-index:10000;
        opacity:0.7;
        filter:alpha(opacity=70);
        -khtml-opacity: 0.7;
        -moz-opacity: 0.7;
        -moz-border-radius:6px; /* Rounded edges in Firefox */
    }