{% extends "app_manager/ng_partials/base_summary_view.html" %}
{% load i18n %}
{% load hq_shared_tags %}
{% load djangular_tags %}

{% block navigation_extra %}
    {% angularjs %}
    <li role="presentation">
        <a ng-click="filterCaseTypes()">{% trans "All Case Types" %}</a>
        <ul>
            <li role="presentation" ng-repeat="caseType in caseTypes" ng-class="typeSearch.name === caseType.name ? 'active' : ''">
                <a ng-click="filterCaseTypes(caseType.name)">{{ caseType.name }}</a>
            </li>
        </ul>
    </li>
    {% endangularjs %}
{% endblock %}

{% block content %}
{% angularjs %}
    <div class="page-header" style="margin-top: 0;">
        <h1 style="font-size: 1.8em;">{% trans "Case Summary" %}</h1>
        <form class="form-inline" role="form" ng-hide="loading">
          <div class="form-group">
            <label class="sr-only" for="property">{% trans "Filter properties" %}</label>
            <input type="text" class="form-control" id="property" placeholder="Filter properties" ng-model="propertySearch.name">
          </div>
        </form>
    </div>
    <div>
        <loading></loading>
        <div class="row-fluid" ng-hide="loading">
            <div ng-repeat="caseType in caseTypes|filter:typeSearch">
                <h3>{{ caseType.name }}</h3>
                <div>
                    <h5>{% trans "Relationships:" %}</h5>
                    <ul>
                        <li ng-repeat="(relationship, case_type) in caseType.relationships">
                            {{ relationship }}: {{ case_type }}
                        </li>
                    </ul>
                    <opener-closer title="Opened by" forms="caseType.opened_by" lang="lang"></opener-closer>
                    <opener-closer title="Closed by" forms="caseType.closed_by" lang="lang"></opener-closer>
                </div>
                <div>
                    <h5>{% trans "Properties" %}</h5>
                    <table class="table" ng-repeat-end>
                        <thead>
                            <th>{% trans "Case Property" %}</th>
                            <th>{% trans "Form" %}</th>
                            <th>{% trans "Load questions" %}</th>
                            <th>{% trans "Save questions" %}</th>
                        </thead>
                        <tbody ng-repeat="property in caseType.properties|filter:propertySearch">
                            <tr ng-repeat="form in property.forms">
                                <td rowspan="{{ property.forms.length }}" ng-if="$first">{{ property.name }}</td>
                                <td>{% verbatim %}{{ getFormName(form.form_id, lang) }}{% endverbatim %}</td>
                                <td><form-questions questions="form.load_questions"></form-questions></td>
                                <td><form-questions questions="form.save_questions"></form-questions></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endangularjs %}
{% endblock %}