{% load i18n %}

<div class="controls translation-controls">
  <div class="checkbox">
    <label>
      <input
        type="checkbox"
        data-bind="checked: translate"
        class="checkboxinput"
      />
      {% trans "Translate this message" %}
    </label>
  </div>
</div>

<div class="controls translation-controls" data-bind="visible: !translate()">
  <div data-bind="richEditor: nonTranslatedMessage"></div>
</div>

<div data-bind="visible: translate(), foreach: translatedMessages">
  <div class="controls translation-controls">
    <label
      >{% trans "Translation" %} (<span data-bind="text: language_code"></span
      >):</label
    >
    <div data-bind="richEditor: html_message"></div>
  </div>
</div>
