{% extends 'hqwebapp/bootstrap5/base_navigation.html' %}
{% load compress %}
{% load hq_shared_tags %}
{% load i18n %}
{% requirejs_main_b5 'dashboard/js/dashboard' %}

{% block stylesheets %}
  {% compress css %}
    <link type="text/scss"
          rel="stylesheet"
          media="all"
          href="{% static 'dashboard/scss/dashboard.scss' %}" />
  {% endcompress %}
{% endblock stylesheets %}

{% block content %}
  {% initial_page_data 'dashboard_tiles' dashboard_tiles %}
  {% registerurl 'dashboard_tile' domain '---' %}
  {% registerurl 'dashboard_tile_total' domain '---' %}
  <div class="container" id="hq-content">
    <h1 class="mb-3 mt-5">
      {% blocktrans with cc_name=commcare_hq_names.COMMCARE_HQ_NAME %}
        Welcome Back to {{ cc_name }}
      {% endblocktrans %}
    </h1>
    {% if is_paused %}
      {% include 'hqwebapp/partials/bootstrap5/paused_plan_notice.html' %}
    {% elif should_show_pending_notice %}
      {% include 'hqwebapp/partials/pending_plan_notice.html' %}
    {% endif %}
    <div id="dashboard-tiles">
      <div class="row" data-bind="foreach: tiles">
        <div class="col-lg-3">
          <div class="card card-dashboard card-dashboard-medium mb-3">
            <div class="card-header">
              <a data-bind="
                               visible: url,
                               text: title,
                               attr: {href: url},
                               popover: {
                                    title: title,
                                    content: helpText,
                                    placement: 'bottom',
                                    trigger: 'hover',
                               },
                           "></a>
              <span data-bind="text: title, visible: !url"></span>
            </div>
            <div class="card-body">

              <!-- Icon in a watermark style, displayed under item list -->
              <i data-bind="css: icon, visible: showBackgroundIcon" class="dashboard-icon dashboard-icon-medium dashboard-icon-bg"></i>

              <!-- Spinner -->
              <i class="fa fa-spinner fa-spin fa-5x" data-bind="visible: showSpinner"></i>

              <!-- List of items, with pagination if there are multiple pages -->
              <!-- ko if: hasItemList() -->
              <div data-bind="visible: showItemList">
                <div class="list-group" data-bind="foreach: items">
                  <div class="list-group-item"
                       data-bind="popover: {
                                            title: description ? name_full : '',
                                            content: description,
                                            placement: 'right',
                                            trigger: 'hover',
                                         }"
                       title="">
                    <a data-bind="attr: {href: url}, text: name"></a>
                  </div>
                </div>

                <pagination data-apply-bindings="false"
                            data-bind="visible: totalItems() > itemsPerPage"
                            params="goToPage: goToPage,
                                    perPage: itemsPerPage,
                                    maxPagesShown: 5,
                                    totalItems: totalItems,
                                    inlinePageListOnly: true"></pagination>
              </div>
              <!-- /ko -->

              <!-- No items to show or there's an error, just show an icon that links -->
              <!-- ko if: showIconLink -->
              <a class="dashboard-link"
                 data-bind="
                                   attr: {href: url},
                                   popover: {
                                       title: title,
                                       content: helpText,
                                       placement: 'top',
                                       trigger: 'hover',
                                   },
                               ">
                <i class="dashboard-icon dashboard-icon-medium" data-bind="css: icon"></i>
              </a>
              <!-- /ko -->

            </div>
          </div>
        </div>
      </div>
      <p class="lead text-center mb-5">
        {% if enterprise_mode %}
          {% blocktrans with cc_name=commcare_hq_names.COMMCARE_NAME %}
            Thanks for using {{ cc_name }}!
          {% endblocktrans %}
        {% else %}
          {% blocktrans %}
            Thanks for using CommCare HQ! If you have questions, suggestions,
            or other thoughts, <br />we invite you to join the discussion on the
            <a href="https://forum.dimagi.com/"
               target="_blank">CommCare User Forum</a>.
          {% endblocktrans %}
        {% endif %}
      </p>
    </div>
  </div>
{% endblock content %}
