{% extends 'dashboard/base.html' %}
{% load i18n %}{% load hq_shared_tags %}

{% block js-inline %}{{ block.super }}
<script>
    $(function () {
        $appstoreLink = $('#appstore-link');
        $helpLink = $('#help-link');
        $newAppLink = $('#new-app-link');

        gaTrackLink($appstoreLink, 'Dashboard', 'Welcome Tile', 'exchange');
        gaTrackLink($helpLink, 'Dashboard', 'Welcome Tile', 'help');
        gaTrackLink($newAppLink, 'Dashboard', 'Welcome Tile', 'app');

        analytics.workflow('Visited new user dashboard');
        analytics.trackWorkflowLink($appstoreLink, 'Clicked Exchange in new user dashboard');
        analytics.trackWorkflowLink($helpLink, "Clicked Help Site in new user dashboard");
        analytics.trackWorkflowLink($newAppLink, "Clicked Applications in new user dashboard");

    });
</script>
{% endblock js-inline %}

{% block dashboard-content %}
<div class="page-header">
    <h1>
        {% if project.commtrack_enabled %}
            {% trans 'Welcome to CommCare Supply' %}
        {% else %}
            {% trans 'Welcome to CommCare HQ' %}
        {% endif %}
         <small>{% trans 'What type of app would you like to build?' %}</small></h1>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-dashboard">
            <div class="panel-heading">
                {% trans 'Survey' %}
            </div>
            <div class="panel-body">
                <p class="text-center"><a href="{% url 'appstore' %}" class="dashboard-link" id="appstore-link">
                    <i class="fcc fcc-survey dashboard-icon dashboard-icon-large"></i>
                    <span class="lead">{% blocktrans %}
                        One-time<br>data collection
                    {% endblocktrans %}</span>
                </a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-dashboard">
            <div class="panel-heading">
                {% trans 'Case Management' %}
            </div>
            <div class="panel-body">
                <p class="text-center">
                    <a href="{% url 'default_new_app' domain %}"
                       class="dashboard-link"
                       id="new-app-link">
                        <i class="fcc dashboard-icon dashboard-icon-large fcc-casemgt"></i>
                        <span class="lead">
                            Track information<br>over time
                        </span>
                   </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-dashboard">
            <div class="panel-heading">{% trans 'Blank Application' %}</div>
            <div class="panel-body">
                <p class="text-center"><a href="http://help.commcarehq.org/"
                      class="dashboard-link"
                      id="help-link"
                      target="_blank">
                    <i class="fcc fcc-blankapp dashboard-icon dashboard-icon-large"></i>
                    <span class="lead">{% blocktrans %}
                        Start from scratch<br>with a blank application
                    {% endblocktrans %}</span>
                </a></p>
            </div>
        </div>
    </div>
</div>
{% endblock dashboard-content %}
