{% extends 'settings/base_template.html' %}
{% load i18n %}
{% load hq_shared_tags %}

{% block js %}{{ block.super }}
<script src="{% static 'commtrack/ko/lmis.js' %}"></script>
{% endblock %}

{% block js-inline %}{{ block.super }}
<script>
    var settings = {{ settings|JSON }};

    $(function () {
        var _post = function (elem, url, options) {
            var options = options || {};
            var success = options.success || "{% trans "Sync Successful" %}";
            var error = options.error || "{% trans "Error!" %}";
            $(elem).prop('disabled', true).html("{% trans "Syncing..." %}");

            $.ajax({
                type: 'POST',
                url: url,
                success: function() {
                    $(elem).html(success);
                },
                error: function() {
                    $(elem).html(error).addClass("btn-danger");
                }
            });
        };
        $("#sync_lmis").click(function() {
            var url = '{% url sync_url domain %}';
            var successMessage = "{% trans "Sync started" %}";
            _post(this, url, {success: successMessage});
        });
    });
</script>
{% endblock %}

{% block page_content %}
    {% if request.couch_user.is_previewer or is_developer %}
    <form id="settings" class="form-horizontal" method="post">
        {% csrf_token %}
        <h3>{{ current_page.page_name }} {% trans "Integration" %}</h3>

        <fieldset>
            <div class="form-group" >
                <label class="control-label col-sm-3 col-md-2" for="source_enabled">
                    {% trans "Enable" %} {{ current_page.page_name }} {% trans "Integration?" %}
                </label>
                <div class="col-sm-9 col-md-8 col-lg-6">
                    <div class="checkbox">
                        <label>
                            <input id="source_enabled" type="checkbox" data-bind="checked: source_config().enabled">
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset data-bind="with: source_config(), visible: source_config().enabled">
            <div class="form-group" >
                <label class="control-label col-sm-3 col-md-2" for="source_url">
                    {% trans "API URL" %}
                </label>
                <div class="col-sm-9 col-md-8 col-lg-6">
                  <input id="source_url" class="form-control" type="text" data-bind="value: url">
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-sm-3 col-md-2" for="source_username">
                    {% trans "Username" %}
                </label>
                <div class="col-sm-9 col-md-8 col-lg-6">
                  <input id="source_username" class="form-control" type="text" data-bind="value: username">
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-sm-3 col-md-2" for="source_password">
                    {% trans "Password" %}
                </label>
                <div class="col-sm-9 col-md-8 col-lg-6">
                  <input id="source_password" class="form-control" type="password" data-bind="value: password">
                </div>
            </div>
            {% if source == 'openlmis' %}
                <div class="form-group" >
                    <label class="control-label col-sm-3 col-md-2" for="source_using_requisitions">
                        {% trans "Use OpenLMIS for Requisitions?" %}
                    </label>
                    <div class="col-sm-9 col-md-8 col-lg-6">
                      <input id="source_using_requisitions" type="checkbox" data-bind="checked: using_requisitions">
                    </div>
                </div>
            {% endif %}
        </fieldset>

        <div class="form-actions">
            <div class="col-sm-9 col-md-8 col-lg-6 col-sm-offset-3 col-md-offset-2">
                <button type="submit" class="btn btn-primary">
                    {% trans "Save Settings" %}
                </button>
            </div>
        </div>

        <input name="json" type="hidden" data-bind="value: json_payload" />
    </form>
    {% block enabled_section %}
        {% if settings.source_config.enabled %}
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <h4>{% trans "Sync with" %} {{ current_page.page_name }}</h4>
                <p>
                    <button class="btn btn-default" id="sync_lmis">
                        {% trans "Sync Now" %}
                    </button>
                </p>
            </div>
        </div>
        {% endif %}
    {% endblock %}
    {% endif %}

{% endblock %}
