#location_tree {
  margin-left: -2em;
  width: 500px;
}

.loc_children {
  /* total indent 2em */
  margin-left: 1.0em;
  border-width: 0 0 0 0.4em;
  padding-left: 0.6em;

  margin-bottom: 1.5em;

  border-style: solid;
  border-color: red;
}

.loc_child {
  margin-top: .5em;
}

.loc_name {
  font-size: 110%;
}

.loc_type {
  color: #777;
  font-variant: small-caps;
  font-weight: bold;
}

.no_children {
  font-style: italic;
}

.loc_edit {
  float: right;
}

.loc_header {
  padding: 2px;
}

.loc_header:hover {
  background-color: #eef;
}
