{% load crispy_forms_tags %}
{% load hq_shared_tags %}
{% load i18n %}

<form class="form form-horizontal" name="user_information" method="post">
    <input type="hidden" name="form_type" value="update-user" />
    <fieldset>
        <legend>{{ edit_user_form_title }}</legend>
        <div class="control-group">
            <label class="control-label">{% trans 'Username' %}</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ couch_user.html_username|safe }}</span>
            </div>
        </div>
        {% crispy form_user_update %}
        {% if data_fields_form.fields or data_fields_form.data %}
            {% crispy data_fields_form %}
        {% endif %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary disable-on-submit" disabled>{% trans 'Update Information' %}</button>
        </div>
    </fieldset>
</form>

{% include 'users/partial/manage_phone_numbers.html' %}

{% if update_form %}
<form id="commtrack_form" class="form form-horizontal" name="" method="post">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="commtrack" />
    <fieldset>
        {% if commtrack_enabled %}
        <legend>{% trans 'CommCare Supply Settings' %}</legend>
        {% else %}
        <legend>{% trans 'Location Settings' %}</legend>
        {% endif %}
        {% include 'hqstyle/forms/basic_fieldset.html' with form=update_form %}
    </fieldset>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary disable-on-submit">{% trans 'Update CommCare Supply Settings' %}</button>
    </div>
</form>
{% endif %}

{% block js-inline %}
<script type="text/javascript">
    $('#id_add_phone_number').on('paste', function (event) {
        var clipboardData = event.clipboardData  ||  event.originalEvent.clipboardData;
        var pasteText = clipboardData.getData("Text");
        var text = pasteText.replace(/\+|\-|\(|\)|\s/g, '');
        if (/^[0-9]*$/.test(text)) {
            $("#phone_number_paste_error").css("display", "none");
            $('#id_add_phone_number').val(text);
        } else {
            $("#phone_number_paste_error").css("display", "inline");
        }
        return false;
    });

    var $userInformationForm = $('form[name="user_information"]');
    $userInformationForm.on("change", null, null, function() {
        $(":submit").prop("disabled", false);
    }).on("input", null, null, function() {
        $(":submit").prop("disabled", false);
    });

    {% if user_type == "mobile" %}
    $("button:submit", $userInformationForm).on("click", function(){
        ga_track_event("Edit Mobile Worker", "Updated user info", "{{couch_user_id|escapejs}}", {
            'hitCallback': function() {
                $userInformationForm.submit();
            }
        });
        return false;
    });
    {% endif %}

</script>
{% endblock %}
