{% load crispy_forms_tags %}
{% load hq_shared_tags %}
{% load i18n %}

<script type="text/javascript">
    $(function() {
        $('.verify-button').tooltip();
        $('#id_language').combobox({
            placeholder: "{% trans 'Select a language...' %}"
        });
    });
</script>

<script type="text/javascript">
    $('#add_phone_number').submit(function() {
        ga_track_event('Edit Mobile Worker', 'Update phone number', '{{ couch_user.couch_id }}', {
            'hitCallback': function () {
                document.getElementById('add_phone_number').submit();
            }
        });
        return false;
    });
</script>
