{% load i18n %}
<div class='all_users'>
	<table class='big_border'>
	<tr><th></th>
		<th>{% trans "Domain Name" %}</th>
		<th></th>
	</tr>
	{% for dom in domains %}
	<tr><td></td>
		<td>{{ dom }}</td>
    	<td><a class="delete_link" href="domain_accounts.html#"></a>
	        <div class="delete_dialog" title="Leave {{ dom }}?">
	            <form  name="delete_domain_membership" action="{% url delete_domain_membership domain couch_user.couch_id dom %}" method="POST">
	                <table>
	                    <tr><td>
	                    Are you sure you want to remove {{ couch_user.web_account.username_html|safe }} from the domain "{{ dom }}"?
	                    </td></tr>
	                </table>
	                <input type="submit" value="Delete" />
	            </form>
	        </div>
    	</td>
	</tr>
	{% endfor %}
	</table>

	<h4>Other Domains</h4>
	<table class='big_border'>
	<tr><th></th>
		<th>{% trans "Domain Name" %}</th>
		<th></th>
	</tr>
	{% for dom in other_domains %}
	<tr><td></td>
		<td>{{ dom }}</a></td>
    	<td><a class="new_link dialog_opener" href="#">Add</a>
	        <div class="dialog" title="Add {{ dom }}?">
	            <form  name="add_domain_membership" action="{% url add_domain_membership domain couch_user.couch_id dom %}" method="POST">
	                <table>
	                    <tr><td>
	                    Are you sure you want to add {{ couch_user.web_account.username_html|safe }} to the domain "{{ dom }}"?
	                    </td></tr>
	                </table>
	                <input type="submit" value="Add" />
	            </form>
	        </div>
    	</td>
	</tr>
	{% endfor %}
	</table>
</div>
