{% load hqstyle_tags %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

<form id="commtrack_form" class="form form-horizontal" name="" method="post">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="commtrack" />
    <fieldset>
        {% if commtrack_enabled %}
        <legend>{% trans 'CommCare Supply Settings' %}</legend>
        {% else %}
        <legend>{% trans 'Organization Settings' %}</legend>
        {% endif %}
        {% bootstrap_form_errors commtrack.update_form %}
        {% include 'hqstyle/forms/basic_fieldset.html' with form=commtrack.update_form %}
    </fieldset>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary disable-on-submit">
          {% if commtrack_enabled %}
          {% trans 'Update CommCare Supply Settings' %}
          {% else %}
          {% trans 'Update Location Settings' %}
          {% endif %}
      </button>
    </div>
</form>
