{% load hqstyle_tags %}
{% load field_tags %}
{% load i18n %}

<form class="form form-horizontal" name="user_details" method="post">
    <input type="hidden" name="form_type" value="basic-info" />
    {% bootstrap_form_errors form %}
    <fieldset>
        <legend>User Information</legend>
        <div class="control-group">
            <label class="control-label">Username</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ couch_user.html_username|safe }}</span>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $('#id_language').combobox({
                    placeholder: "{% trans 'Select a language...' %}"
                });
            });
        </script>
        {% for field in form.visible_fields %}
            <div class="control-group{% if field.errors %} error{% endif %}">
                <label class="control-label" for="{{ field.id }}">{{ field.label }}</label>
                <div class="controls">
                    {% if field|is_checkbox %}
                        <label class="checkbox">
                            {{ field }}
                            {{ field.help_text }}
                        </label>
                    {% else %}
                        {{ field }}
                        {% if field.help_text %}
                            <p class="help-block">
                                <i class="icon icon-info-sign"></i> {{ field.help_text }}
                            </p>
                        {% endif %}
                    {% endif %}
                    {% for error in field.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </fieldset>
    <div class="form-actions"><button type="submit" class="btn btn-primary">Update Information</button></div>
</form>
