{% load hqstyle_tags %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

<form id="commtrack_form" class="form form-horizontal" name="" method="post">
    <input type="hidden" name="form_type" value="commtrack" />
    <fieldset>
        <legend>{% trans 'CommTrack Settings' %}</legend>
        {% bootstrap_form_errors commtrack.update_form %}
        {% include 'hqstyle/forms/basic_fieldset.html' with form=commtrack.update_form %}
    </fieldset>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans 'Update CommTrack Settings' %}</button>
    </div>
</form>

<form class="form form-horizontal"
      method="post"
      action="{% url update_user_data domain couch_user.user_id %}">
    <input name="user-data" id="commtrack-user-data-input" type="hidden" />
    <fieldset>
        <legend>{% trans "CommTrack User Roles" %}</legend>
        <div class="control-group">
            <label class="control-label">{% trans 'Choose Roles' %}</label>
            <div class="controls">
                {% for _, role in commtrack.roles.items %}
                    <label class="checkbox">
                        <input class="user-data-role" type="checkbox"
                            name="{{ role.slug }}" id="{{ role.slug }}"
                            {% if role.selected %}checked="checked"{% endif %}>
                        <strong>{{ role.name }}</strong>
                    </label>
                    <p class="help-block" style="margin-bottom: 20px;">
                        {{ role.description }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            {% trans "Update Roles" %}
        </button>
    </div>
</form>
