{% load menu_tags %}
{% load i18n %}
{% load hq_shared_tags %}
{% load tzmigration %}

<div class="btn-toolbar pull-right">
    <div class="btn-group">
    {% if request.project.organization and request.couch_user.is_web_user and request.can_see_organization %}
        <a href="{% url "orgs_landing" request.project.organization %}" class="btn btn-info">{{ request.project.get_organization.title }}</a>
        {% comment %}TODO: Add a drop-down list of organizations the current user is a member of?{% endcomment %}
    {% endif %}
    </div>

    {% if request.couch_user and request.couch_user.is_web_user %}
    <div id="nav-projects-menu" class="btn-group">
        {% if domain %}

            {% ifequal domain 'public' %}
                <a class="btn btn-project"
                    id="project-button-no-admin"
                    data-title="{% trans 'Settings Not Available' %}"
                    data-placement="bottom"
                    data-html="true"
                    data-content="{% blocktrans %}You can't edit the CommCare HQ Demo Project's settings.{% endblocktrans %}">
                    {% trans 'CommCare HQ Demo Project' %}
                </a>
                <script>
                    $(function () {
                       $('#project-button-no-admin').popover();
                    });
                </script>
            {% else %}
                <a class="btn btn-project{% if is_project_settings %} btn-project-active{% endif %}"
                   href="{% url "domain_settings_default" domain %}">
                    {% if request|tzmigration_status == 'complete' %}
                    <i class="icon-globe" title="New timezone behavior enabled"></i>
                    {% elif request|tzmigration_status == 'in_progress' %}
                    <i class="icon-globe" title="Timezone migration started but not complete"></i>
                    {% else %}
                    <i class="icon-cog"></i>
                    {% endif %}
                    {% if request.project.is_snapshot %}
                        {% blocktrans with request.project.copied_from.display_name as snap_name %}
                            Snapshot of {{ snap_name }}
                        {% endblocktrans %}
                    {% else %}
                        {{ request.project.display_name }}
                    {% endif %}
                </a>
            {% endifequal %}
        {% endif %}
        <a class="btn btn-project dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="icon-hq-flower fcc fcc-flower"></i> {% if not domain %}{% trans 'Select Project' %}{% endif %}
            <span class="caret"></span>
        </a>
        {% if domain %}
            {% domains_for_user request domain %}
        {% else %}
            {% domains_for_user request %}
        {% endif %}
    </div>
    {% endif %}

    <div id="nav-user-menu" class="btn-group">
        <a class="btn btn-primary dropdown-toggle{% if is_my_account_settings %} btn-account-active{% endif %}" data-toggle="dropdown" href="#">
            {% if user.first_name %}
                {{ user.first_name }}
            {% else %}
                {{ user.username }}
            {% endif %}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right nav-list dropdown-blue right-align">
            <li class="nav-header dropdown-header">
                {% if user.first_name %}
                    {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    {{ user.username }}
                {% endif %}
            </li>
            <li class="dropdown-header nav-header nav-header-role">
                {% with request.couch_user.role_label.strip as role %}
                    {% if role %}
                        {{ role }}
                    {% endif %}
                {% endwith %}
            </li>
            <li><a href="{% url "my_account_settings" %}"><i class="icon-user fa fa-user"></i> {% trans 'My Account Settings' %}</a></li>
            {% if domain %}
                <li><a href="{% url "domain_settings_default" domain %}"><i class="icon-cog fa fa-cog"></i> {% trans 'Project Settings' %}</a></li>
            {% endif %}
            <li class="divider"></li>
            <li><a href="{% url "logout" %}"><i class="icon-signout fa fa-sign-out"></i> {% trans 'Sign Out' %}</a></li>
        </ul>
    </div>
</div>
