<ul class="nav" role="menu">
    {% for menu in menu_items %}
        <li {% if menu.css_id %}id="mainmenu-{{ menu.css_id }}"{% endif %}
            class="{% if menu.submenu %}dropdown{% endif %}{% if menu.is_active %} active{% endif %}">
            <a {% if menu.submenu %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}
               href="{{ menu.url }}">
                {{ menu.title }}{% if menu.submenu %} <b class="caret"></b>{% endif %}
            </a>
            {% if menu.submenu %}
                <ul class="dropdown-menu">
                    {% for sub in menu.submenu %}
                        {% if sub.is_second_level %}
                            <li class="dropdown-submenu">
                                <a href="{{ sub.url }}">{{ sub.title }}</a>
                                <ul class="dropdown-menu">
                                {% for second_sub in sub.submenu %}
                                    {% with second_sub as submenu %}
                                        {% include 'hqwebapp/partials/main_submenu.html' %}
                                    {% endwith %}
                                {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            {% with sub as submenu %}
                            {% include 'hqwebapp/partials/main_submenu.html' %}
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>