{% load hq_shared_tags %}

{% if js_entry %}
  <script>
    window.USE_WEBPACK = {{ js_entry|BOOL }};
    console.log("Loaded JS entry point: {{ js_entry }}");
    console.log("Bundles: {{ js_entry|webpack_bundles }}");
    console.log("end of this block");
    console.log("jenny debug: {% jenny_debug %}");
  </script>
  {% for bundle_path in js_entry|webpack_bundles %}
    <script>
        console.log("Writing script tag for {% static bundle_path %}");
    </script>
    <script src="{% static bundle_path %}"></script>
  {% endfor %}
{% else %}
  <script>
    console.log("No JS entry point found");
    console.log("jenny debug: {% jenny_debug %}");
  </script>
{% endif %}
