{% load i18n %}
{% load buildinfo_tags %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
	   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <!-- stylesheets -->
        <link rel="stylesheet" href="{{MEDIA_URL}}/hqwebapp/stylesheets/style.css" />
        {% block stylesheets %}{% endblock %}
        <!-- javascripts (global, app, page) -->        
        <script type="text/javascript" src="/static/webapp/javascripts/jquery-1.3.2.min.js"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
	   <div id="wrapper">
          {% block header %}
          <div id="header">
              <div id="auth">
                 {% if user.is_authenticated %}
                    <p><a href="/accounts/logout/">Log out {{ user.username }}</a></p>
                 {% else %}
                    <p><a href="/accounts/login/">Log in</a></p>
                 {% endif %}
              </div>
              <div id="branding">   
                 <h1 id="site-name">{%trans "CommCare HQ" %}</h1>
              </div>
    
    	      <div id="currentlogin-block">
		          {% if user.is_authenticated %}		
	                  Logged in as <strong>{{user}}</strong> &nbsp;&nbsp;| {%if user.is_superuser %} &nbsp;&nbsp; <a href="/admin/">Admin Site</a> &nbsp;&nbsp; |{% endif %}&nbsp;&nbsp;<a href="{% url django.contrib.auth.views.logout_then_login %}">Logout</a>	        
	              {%else%}
	    	          <a href="{% url django.contrib.auth.views.login %}">Log in</a>
	              {%endif%}
	          </div>
	      </div>
	      {% endblock %}
	    
          <div id="menu">	
		     <ul>
	           <li><a href="/">Dashboard</a></li>
			     <!-- czue - temporarily hiding the reports tab (and false) 
			          until we come up with a logical distinction between 
			          reports and the dashboard -->
               {% if user.is_superuser and False %}
                  <li><a href="{% url organization.views.org_report %}">Reports</a></li>
	           {%endif%}            	
                  <li><a href="{% url organization.views.domain_charts %}">Charts</a></li>
               {% if user.is_superuser %}            
                  <li><a href="{% url receiver.views.show_submits %}">Submissions</a></li>
                  <li><a href="{% url xformmanager.views.register_xform %}">Schemas</a></li>	
			   {%endif%}			
		     </ul>
	      </div>
	      <div id="contentbody">
              {% block content %}{% endblock %} 
          </div>
	  </div>
    {% get_info_block %}
    </body>
</html>