{% extends "hqwebapp/two_column.html" %}
{% load report_tags %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block js-inline %}{{ block.super }}
    <script type="text/javascript">
        $(function() {
            $('.custom_field').change(function() {
                selectField = $(this).prev();

                // check if field is valid for xml

                // TODO: this method seems pretty sketchy, should cleanup
                var value = $(this).val();
                var regx = new RegExp(/^xml/i); 

                value = value.replace(/\s/g, "_"); // space to underscore
                value = value.replace(/[^a-zA-Z0-9_\-]/g, ""); // remove other symbols
                value = value.replace(regx, ""); // remove xml from beginning of string

                $(this).val(value);

                if ($(this).val() != '') {
                    selectField.val('');
                    selectField.attr('disabled', 'disabled');
                } else {
                    selectField.removeAttr('disabled');
                }
            });

            $('.custom_field').change();

            $('#field_form').submit(function() {
                $('[disabled]').each(function() {
                    $(this).removeAttr('disabled');
                });

                $(this).find('input[type=checkbox]').each(function () {
                    $(this).prev().val($(this).is(':checked') ? '1' : '0');
                });

                return true;
            });

            $('#back_button').click(function() {
                history.back();
                return false;
            })
        });
    </script>
{% endblock %}

{% block main_column %}
    <form class="form-horizontal form-report"
          action="{% url corehq.apps.importer.views.excel_commit domain %}"
          method="post"
          id="field_form">
        <input type="hidden" name="named_columns" value="{{named_columns}}" />
        <input type="hidden" name="case_type" value="{{case_type}}" />
        <input type="hidden" name="search_column" value="{{search_column}}" />
        <input type="hidden" name="search_field" value="{{search_field}}" />
        <input type="hidden" name="key_column" value="{{key_column}}" />
        <input type="hidden" name="value_column" value="{{value_column}}" />

        <fieldset>
            <legend>Map columns to case fields</legend>
            <table>
                <tr>
                    <th>
                        Excel data label
                    </th>
                    <th>
                        Case field name
                    </th>
                    <th>
                        or enter a new field name
                    </th>
                    <th>
                        Is this a date field?
                    </th>
                </tr>

                {% for i in excel_fields_range %}
                    <tr>
                        <td>
                            <select name="excel_field[]">
                                <option value=""></option>
                                {% for excel_field in excel_fields %}
                                    <option value="{{excel_field|escape}}">
                                        {{excel_field|escape}}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>

                        <td>
                            <select name="case_field[]">
                                <option value=""></option>
                                {% for case_field in case_fields %}
                                    <option value="{{case_field|escape}}">
                                        {{case_field|escape}}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>

                        <td>
                            <input type="text" name="custom_field[]" class="custom_field" />
                        </td>

                        <td style="text-align:center">
                            <input type="checkbox" />
                        </td>

                        <input type="hidden" name="date_yesno[]" value="0" />
                    </tr>
                {% endfor %}
            </table>
        </fieldset>

        <div class="form-actions">
            <button type="button" class="btn btn-primary btn-large" id="back_button">
                <i class="icon-backward icon-white"></i> Back
            </button>
            <button type="submit" class="btn btn-primary btn-large">
                <i class="icon-forward icon-white"></i> Confirm import
            </button>
        </div>
    </form>
{% endblock %}
