{% extends "hqwebapp/two_column.html" %}
{% load hq_shared_tags %}
{% load report_tags %}
{% load i18n %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block js-inline %}{{ block.super }}
    <script type="text/javascript">
        $(function() {
            function updatePropertyInput() {
                var caseField = $(this).closest('tr').find(".case_field");
                var customField = $(this).closest('tr').find(".custom_field");

                if (this.checked) {
                    var excelField = $(this).closest('tr').find(".excel_field");
                    customField.val(excelField.val().replace(/[^\w\s]/gi, ''));
                    customField.closest('td').removeClass('hide');
                    caseField.closest('td').addClass('hide');
                } else {
                    customField.val('');
                    customField.closest('td').addClass('hide');
                    caseField.closest('td').removeClass('hide');
                }
            }
            $('.new_property').change(updatePropertyInput);
            function removeRow() {
                $(this).closest('tr').remove();
            }

            var allowedCaseProperties = {{ case_fields|JSON }};

            function autofillProperties() {
                // just doing this whole thing off the DOM, though would be a good candidate
                // to port to use more javascript.
                var getExcelField = function ($row) {
                    var select = $row.find('.excel_field')[0]
                    return select.options[select.selectedIndex].text;
                };

                $('table#fieldlist tbody tr').each(function () {
                    var field = getExcelField($(this));
                    if ($.inArray(field, allowedCaseProperties) !== -1) {
                        var $caseSelect = $(this).find('.case_field').first();
                        $caseSelect.val(field);
                    } else {
                        var $newProperty = $(this).find('.new_property').first();
                        $newProperty.prop('checked', true);
                        $newProperty.trigger('change');
                    }
                });
            }

            $('a.remove_row').click(removeRow);

            $('a.add_mapping').click(function() {
                var table = $(this).prev('table');
                var cloned = table.find('tbody tr').first().clone();

                cloned.find('input').val('');
                cloned.find('select').val('');
                cloned.find('input[type=checkbox]').attr('checked', false)
                cloned.find('.remove_row').removeClass('hide');

                cloned.find('.case_field').closest('td').removeClass('hide');
                cloned.find('.custom_field').closest('td').addClass('hide');

                cloned.find('.new_property').change(updatePropertyInput);
                cloned.find('.remove_row').click(removeRow);

                table.find('tr').last().after(cloned);
            });

            $('.custom_field').bind('change, keypress, keydown, keyup', function() {
                // check if field is valid for xml
                // TODO: this method seems pretty sketchy, should cleanup
                var value = $(this).val();
                var regx = new RegExp(/^xml/i); 

                value = value.replace(/\s/g, "_"); // space to underscore
                value = value.replace(/[^a-zA-Z0-9_\-]/g, ""); // remove other symbols
                value = value.replace(regx, ""); // remove xml from beginning of string

                $(this).val(value);
            });

            $('.custom_field').trigger('change');

            $('#field_form').submit(function() {
                $('[disabled]').each(function() {
                    $(this).removeAttr('disabled');
                });

                $(this).find('input.is_date').each(function() {
                    var checked_val = this.checked;
                    $(this).closest('tr').find('input.is_date_field').val(checked_val);
                });

                return true;
            });

            $('#back_button').click(function() {
                history.back();
                return false;
            });

            $('#autofill').click(autofillProperties);
        });
    </script>
{% endblock %}

{% block main_column %}
    {% include 'importer/partials/help_message.html' %}

    <form action="{% url "corehq.apps.importer.views.excel_commit" domain %}"
          method="post"
          id="field_form">
        <input type="hidden" name="named_columns" value="{{named_columns}}" />
        <input type="hidden" name="case_type" value="{{case_type}}" />
        <input type="hidden" name="search_column" value="{{search_column}}" />
        <input type="hidden" name="search_field" value="{{search_field}}" />
        <input type="hidden" name="create_new_cases" value="{{create_new_cases}}" />
        <input type="hidden" name="key_column" value="{{key_column}}" />
        <input type="hidden" name="value_column" value="{{value_column}}" />

        <fieldset>
            <legend>{% trans "Match Excel Columns to Case Properties" %}</legend>
            <table class="table table-condensed" id="fieldlist">
                <thead>
                    <th class="span1"></th>
                    <th>{% trans "Excel Field" %}</th>
                    <th>{% trans "Data Type" %}</th>
                    <th></th>
                    <th>{% trans "Case Property" %}<button type="button" class="btn btn-primary pull-right" id="autofill">{% trans "Auto Fill" %}</button></th>
                    <th></th>
                </thead>
                <tbody>
                    {% for item in excel_fields %}
                    <tr>
                        {% include "importer/partials/excel_field_row.html" %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="add_mapping" href="#">
                <i class="icon-plus"></i> {% trans "Add another matching" %}
            </a>
        </fieldset>

        <div class="form-actions">
            <button type="button" class="btn btn-primary" id="back_button">
                <i class="icon-backward icon-white"></i> {% trans "Back" %}
            </button>
            <button type="submit" class="btn btn-primary">
                <i class="icon-forward icon-white"></i>
                {% trans "Confirm Import" %}
            </button>
        </div>
    </form>
{% endblock %}
