{% extends "style/bootstrap2/two_column.html" %}
{% load report_tags %}
{% load i18n %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block main_column %}
    {% block extrahead %}
        <script type="text/javascript">
            var autoRefresh = '';
            var pollDownloader = function () {
                if ($('#ready_{{ download_id }}').length == 0)
                    {
                        $.get("{% url "importer_job_poll" domain download_id %}", function(data) {
                            $("#display_{{ download_id }}").html(data);
                        });
                    } else {
                        clearInterval(autoRefresh);
                    }
            };
            $(document).ready(function () {
                pollDownloader();
                autoRefresh = setInterval(pollDownloader, 2000);
            });
        </script>
    {% endblock extrahead %}

    <div class="downloader_container" id="display_{{ download_id }}">
        <legend>
            {% trans "Importing your data. This may take some time..." %}
        </legend>
    </div>
{% endblock %}
