.@{css-prefix}-workflow-a:before { content: @var-workflow-a; }
.@{css-prefix}-workflow-b:before { content: @var-workflow-b; }
.@{css-prefix}-workflow-c:before { content: @var-workflow-c; }

.@{css-prefix}-update:before { content: @var-update; }
.@{css-prefix}-register:before { content: @var-register; }
.@{css-prefix}-complete:before { content: @var-complete; }

.@{css-prefix}-arrownext:before { content: @var-arrownext; }

.@{css-prefix}-recordlist-create:before { content: @var-recordlist-create; }
.@{css-prefix}-recordlist-update:before { content: @var-recordlist-update; }
.@{css-prefix}-recordlist-complete:before { content: @var-recordlist-complete; }

.@{css-prefix}-recordlist-branch:before { content: @var-recordlist-branch; }
.@{css-prefix}-recordlist-branch-last:before { content: @var-recordlist-branch-last; }
