<p>
Hi {{ username }},
</p>

<p>
Welcome to CommCare!
</p>

<p>
As a first step, please confirm your email address and activate your new
CommCare project titled, {{ domain }}. You will not be able to use your project
until you have confirmed your email address.
</p>

<p>
{{ registration_link }}
</p>

<p>
Once you have confirmed, our team will be in touch with some helpful tips for
getting started!
</p>

<p>
Cheers,
The CommCare Team
</p>

<p>
Dimagi, Inc.
585 Massachusetts Ave, Suite 4
Cambridge,  MA 02139 United States
</p>
