{% extends "registration/email/fancy_email.html" %}

{% load i18n %}
{% load hq_shared_tags %}


{% block preview_text %}
    {% blocktrans %}
        Dear {{ full_name }}, please activate your CommCare HQ Account!
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <p>
        {% blocktrans %}Dear {{ full_name }},{% endblocktrans %}
    </p>

    <p>
        {% blocktrans %}Welcome to CommCare!{% endblocktrans %}
        {% blocktrans %}Please click the button below to activate your CommCare project <strong>{{ domain }}</strong>.{% endblocktrans %}
        {% if is_mobile_experience %}
            {% blocktrans %}
                CommCare HQ is a powerful tool, and is not optimized for a mobile device.
                For the best experience, please activate CommCare from a laptop or desktop browser.
            {% endblocktrans %}
        {% endif %}
    </p>
    <p style="text-align: center;">
        <a class="btn"
            href="{{ registration_link }}"
            style="color: #ffffff; text-decoration: none; padding: 10px 15px; background-color: #004ebc; border-radius: 5px; font-size: 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; display: inline-block; cursor: pointer;">
            {% trans "Activate CommCare" %}
        </a>
    </p>
    <p>
        {% blocktrans %}
        Once you do this, our team will be in touch with some helpful tips for getting started!
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
        Cheers,<br />
        The CommCare Team
        {% endblocktrans %}
    </p>
{% endblock %}

{% block reason_for_email %}
        {% blocktrans %}
        You received this message because we received a New User request
        <br /> on <a href="http://www.commcarehq.org/"
                     style="color: #685c53; -webkit-text-size-adjust: none; text-decoration: underline; font-weight: normal">
            CommCare HQ</a> with your email address.
        {% endblocktrans %}
{% endblock %}
