{% load menu_tags %}
{% load compress %}
{% load hq_shared_tags %}
{% load i18n %}
<div class="col-xs-2 col-md-2 left-menu">
    <div class="logo">
        <img src="{% static 'reach/images/commcare-logo-small.png' %}">
    </div>
    <div>
        <ul class="nav nav-list" >
            <li class="active">Program Overview</li>
            <li>Unified Beneficiary Report</li>
            <li>report 1</li>
            <li>report 2</li>
            <li>report 3</li>
            <li>report 4</li>
            <li>report 5</li>
        </ul>
    </div>
</div>