// ///////// BEGIN TEMPORARY BOOTSTRAP TRANSITION STYLES /////////
// Temporarily use this for transitional parts of HQ
// Taken from TWBS 2.3.2

.gradientBar(@primaryColor, @secondaryColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
  color: @textColor;
  text-shadow: @textShadow;
  #gradient > .vertical(@primaryColor, @secondaryColor);
  border-color: @secondaryColor @secondaryColor darken(@secondaryColor, 15%);
}

.buttonBackground(@startColor, @endColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
  // gradientBar will set the background to a pleasing blend of these, to support IE<=9
  .gradientBar(@startColor, @endColor, @textColor, @textShadow);
  *background-color: @endColor; /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  .reset-filter();

  // in these cases the gradient won't cover the background, so we override
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    color: @textColor;
    background-color: @endColor;
    *background-color: darken(@endColor, 5%);
  }

  // IE 7 + 8 can't handle box-shadow to show active, so we darken a bit ourselves
  &:active,
  &.active {
    background-color: darken(@endColor, 10%) e("\9");
  }
}

.btn-footer {
  .buttonBackground(lighten(@btn-footer-bg, 5), @btn-footer-bg);
  // Eventually (todo):
  // .button-variant(@btn-footer-color; @btn-footer-bg; @btn-footer-border);
}

.btn-footer-highlight{
  .buttonBackground(lighten(@btn-footer-bg, 30), lighten(@btn-footer-bg, 10));
}

.btn-footer:hover, .btn-footer-highlight:hover {
  .buttonBackground(lighten(@btn-primary-bg, 5), @btn-primary-bg);
}

.btn-project {
  .buttonBackground(lighten(#FF6600, 15%), #FF6600);
}

.btn-group.open .btn-project {
  color: #ffffff;
}

.navbar-hq-main-menu {
  .btn-primary {
    .buttonBackground(desaturate(lighten(@btn-primary-bg, 20), 30), @btn-primary-bg);
  }
}
// ///////// END TEMPORARY BOOTSTRAP TRANSITION STYLES /////////
