@import '../../../style/less/_hq/includes/variables.less';
@import '../../../style/less/_hq/includes/mixins.less';

@form-width: 120px;

@z-index-from-dragged: 800;
@z-index-workflow: 200;
@z-index-form-container: 210;
@z-index-live-preview: 1000;

@z-index-trash: 20;

@appnav-width: 280px;
@appnav-trash-width: 32px;
@appnav-item-height: 48px;
@appnav-secondary-width: 35px;

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

body {
  background: @cc-bg;
  overflow-x: hidden;
}

@import 'includes/navbar';
@import 'includes/appnav';
@import 'includes/appedit';
@import 'includes/popover';
@import 'includes/forms';
@import 'includes/preview';

#workspace {
  box-sizing: border-box;
  width: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  position:relative;
}

.workspace-canvas {
  position: absolute;
  width: 3000px;
  height: 5000px;
}


.initial-help {
  font-size: 3rem;
  line-height: 5rem;
  padding: 20px;
  color: darken(@cc-bg, 50);
}

a:focus {
  outline: none;
  text-decoration: none;
}
