{% extends "hqadmin/hqadmin_base_report.html" %}
{% load hq_shared_tags %}

{% block report-title %}
HQ Chief
{% endblock %}

{% block js %}{{ block.super }}
<script src="{% static 'chief/js/chief.js' %}"></script>
{% endblock %}

{% block reportcontent %}
<div>
<img src="{% static 'chief/img/hq_chief.png' %}" width="300" alt="chief logo" height="70" />
</div>
<hr />

<h3>Current Deploy</h3>
<p>No deploy currently</p>
<a data-toggle="modal" href="#deploy-modal" class="btn">Deploy</a>


<h3>Previous Releases</h3>
<div data-bind="foreach: { data: environments, as: 'environment' }" id="previous-releases">
    <div class="previous-release-table">
        <h5 data-bind="text: environment"></h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Path</th>
                    <th>Rollback</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: $root.releases()[environment]">
                <tr>
                    <td data-bind="text: $data.date"></td>
                    <td data-bind="text: $data.path"></td>
                    <!-- ko if: $index() === 0 -->
                    <td>Current Release</td>
                    <!-- /ko -->
                    <!-- ko if: $index() > 0 -->
                    <td><a>Rollback</a></td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block modals %}{{ block.super }}
<!-- deploy modal -->
<div id="deploy-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Let's do this</h3>
    </div>
    <div class="modal-body">
        <form id="deploy-form" class="form-horizontal" method="POST" action={% url 'chief_deploy' %}>
            <div class="control-group">
                <label class="control-label">Deploy environment</label>
                <div class="controls">
                    {% for env in environments %}
                    <label class="radio">
                        <input
                            type="radio"
                            name="env"
                            data-bind="checked: env"
                            value="{{ env }}">
                        {{ env }}
                    </label>
                    {% endfor %}
                </div>
            </div>
            <div class="control-group" data-bind="visible: !submodules().length">
                <label class="control-label">No submodules to commit</label>
            </div>
            <div class="control-group" data-bind="visible: submodules().length">
                <label class="control-label">Uncommitted Submodules</label>
                <div class="controls" data-bind="foreach: submodules">
                    <label class="radio">
                        <input type="checkbox" name="submodules" data-bind="
                            value: $data,
                            checked: $parent.submodulesToCommit
                            ">
                        <span data-bind="text: $data"></span>
                    </label>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn">Close</a>
        <a class="btn btn-primary" data-bind="click: initiateDeploy">Initiate Deploy</a>
    </div>
</div>
{% endblock %}
