{% extends "hqwebapp/base_section.html" %}
{% load compress %}
{% load i18n %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}

{% requirejs_main 'events/js/add_attendees' %}

{% block page_content %}
{% registerurl 'paginate_possible_attendees' domain %}

  <div id="users-list" class="ko-template">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Mobile Workers' %}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <search-box data-apply-bindings="false"
                        params="value: query,
                                            action: function() { goToPage(1); },
                                            placeholder: '{% trans_html_attr "Search Workers..." %}'"></search-box>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-default pull-right"
                    data-bind="click: function() {  }">
              {% trans 'Mark all as attendees' %}
            </button>
          </div>
        </div>
        <table class="table table-striped table-responsive" style="margin-bottom: 0;" data-bind="visible: showTable">
          <thead>
          <tr>
            <th class="col-xs-3">{% trans "Username" %}</th>
            <th class="col-xs-3">{% trans "First Name" %}</th>
            <th class="col-xs-2">{% trans "Last Name" %}</th>
            <th class="col-xs-2">{% trans "Action" %}</th>
          </tr>
          </thead>
          <tbody data-bind="foreach: users">
          <tr>
            <td data-bind="text: username"></td>
            <td data-bind="text: first_name"></td>
            <td data-bind="text: last_name"></td>
            <td>
              <div data-bind="visible: true">
                <button type="button" class="btn btn-default" data-toggle="modal"
                        data-bind="attr: {'data-target': user_id}">
                  {% trans "Make attendee" %}
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="alert alert-info" data-bind="visible: showLoadingSpinner() && !hasError()">
          <i class="fa fa-spin fa-spinner"></i>
          {% trans "Loading Workers..." %}
        </div>
        <div class="alert alert-danger" data-bind="visible: hasError">
          {% blocktrans %}
            <strong>There was an issue contacting the server.</strong>
            Please check your internet connection.
            If this issue continues, please
            <a href="#modalReportIssue" data-toggle="modal">report an issue</a>.
          {% endblocktrans %}
        </div>
        <pagination data-apply-bindings="false"
                    data-bind="visible: showTable"
                    params="goToPage: goToPage,
                          slug: 'mobile-workers',
                          perPage: itemsPerPage,
                          totalItems: totalItems,
                          onLoad: onPaginationLoad,
                          showSpinner: showPaginationSpinner"
        >
      </pagination>
      </div>
    </div>
  </div>
{% endblock page_content %}
