[% if(casexml.edit) { %]
    <li class="action" id="[%= id %]-action">
        <input type="checkbox" class="action-checkbox" id="[%= id %]" [%= casexml.renderChecked(casexml.actions[action_type]) %]><label for="[%= id %]">[%= label %]</label>
        <div class="config">[%= action_body %]</div>

    </li>
[% } else if(casexml.action_is_active(casexml.actions[action_type])) { %]
    <li class="action">
        [%= label %]
        <div class="config">[%= action_body %]</div>
    </li>
[% } %]