{% extends "hqwebapp/bootstrap5/base_section.html" %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% requirejs_main 'commtrack/js/bootstrap5/products_and_programs_main' %}

{% block page_content %}
  <form class="form" name="product" method="post">
    <legend>{% trans "Product Information" %}</legend>
    {% crispy form %}

    {% if data_fields_form.fields or data_fields_form.data %}
      {% crispy data_fields_form %}
    {% endif %}

    <button type="submit" class="btn btn-primary">
      {% if product.get_id %}
        {% trans 'Update Product' %}
      {% else %}
        {% trans 'Create Product' %}
      {% endif %}
    </button>
  </form>
{% endblock %}
