{% load i18n %}
{% load hq_shared_tags %}
{% load xforms_extras %}

<script type="text/html" id="CommcareSettings.widgets.select">
    <span>
        <span data-bind="if: valueIsLegal()">
            <select class="col-sm-3 form-control" data-bind="
                options: options,
                value: selectedOption,
                optionsText: 'label',
                attr: {disabled: !enabled(), id: inputId}
            "></select>
        </span>
        <span data-bind="if: !valueIsLegal()" >
            <select class="col-sm-3 form-control error" data-bind="
                options: options,
                value: writeSelectedOption,
                optionsText: 'label',
                attr: {disabled: !enabled(), id: inputId},
                optionsCaption: value()
            "></select>
        </span>
    </span>
</script>

<script type="text/html" id="CommcareSettings.widgets.bool">
    <span class="col-sm-3">
        <input type="checkbox"
               data-bind="checked: boolValue, attr: {disabled: !enabled(), id: inputId}"/>
    </span>
</script>

<script type="text/html" id="CommcareSettings.widgets.customProperty">
    <div class="row">
            <div class="col-sm-5">
                <input placeholder="Key" type="text" data-bind="value: key" class="form-control"/>
            </div>
            <div class="col-sm-1 text-center">
                <i class="fa fa-arrow-right"></i>
            </div>
            <div class="col-sm-5">
                <input placeholder="Value" type="text" data-bind="value: value" class="form-control" />
            </div>
            <div class="col-sm-1">
                <button class="btn btn-danger" data-bind="click: $parent.onDestroyCustomProperty">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
    </div>
</script>

<script type="text/html" id="CommcareSettings.widgets.image_uploader">
    <a data-bind="visible: url(), attr: {href: url()}" target="_blank">
        <img data-bind="
            attr: {
                src: thumb_url()
            }
        "/>
    </a>
    <a data-toggle="modal"
       class="btn btn-default"
       data-bind="
        attr: {
            'data-hqmediapath': path,
            href: href
        },
        click: triggerUpload,
        event: {
            mediaUploadComplete: uploadComplete
        }
    ">
        <i class="fa fa-cloud-upload"></i>
        <span data-bind="visible: url()">
            {% trans "Replace Logo" %}
        </span>
        <span data-bind="visible: !url()">
            {% trans "Upload Logo" %}
        </span>
    </a>
    <a class="btn btn-danger"
       data-bind="
           visible: url(),
           click: removeLogo
    ">
        <i class="fa fa-remove"></i>
    </a>
</script>

{% include 'hqmedia/partials/multimedia_js.html' %}

<script type="text/html" id="CommcareSettings.widgets.text">
    <span>
        <input type="text" class="col-sm-6 form-control" data-bind="
            value: visibleValue,
            valueUpdate: 'textchange',
            attr: {disabled: !enabled(), id: inputId}
        " />
    </span>
</script>

<script type="text/html" id="CommcareSettings.widgets.number">
    <span>
        <input type="number" class="col-sm-3 form-control" data-bind="
            value: visibleValue,
            valueUpdate: 'textchange',
            attr: {disabled: !enabled(), id: inputId}
        " />
    </span>
</script>

<script type="text/html" id="CommcareSettings.widgets.textarea">
    <span>
        <textarea type="text" data-bind="value: value, attr: {id: inputId}" class="form-control" />
    </span>
</script>

<script type="text/html" id="CommcareSettings.widgets.password">
    <span>
        <input type="password" data-bind="passwordSetter: visibleValue" class="form-control" />
    </span>
</script>

<script>
    $(function () {
        var CommcareSettings = hqImport('app_manager/js/commcaresettings.js').CommcareSettings;
        CommcareSettings.widgets.text_input = CommcareSettings.widgets.select;
    });
</script>

<script type="text/html" id="CommcareSettings.widgets.text_input">
    <span data-bind="template: 'CommcareSettings.widgets.select'"></span>
    <aside id="custom-keys-help" data-bind="visible: visibleValue() === 'custom-keys'">
        <span>Customize through
            <a href="#" data-bind="click: function () {$('#custom-keys-example').slideToggle()}">{% trans "User Interface Translations" %}</a>.
        </span>
        <div id="custom-keys-example" style="display: none;">
            <h6>Example:</h6>
            <div class="row">
                <div class="col-sm-6">polish.TextField.charactersKey1</div><div class="col-sm-6">.,</div>
                <div class="col-sm-6">polish.TextField.charactersKey2</div><div class="col-sm-6">abc2</div>
                <div class="col-sm-6">polish.TextField.charactersKey3</div><div class="col-sm-6">def3</div>
                <div class="col-sm-6">polish.TextField.charactersKey4</div><div class="col-sm-6">ghi4</div>
                <div class="col-sm-6">polish.TextField.charactersKey5</div><div class="col-sm-6">jkl5</div>
                <div class="col-sm-6">polish.TextField.charactersKey6</div><div class="col-sm-6">mno6</div>
                <div class="col-sm-6">polish.TextField.charactersKey7</div><div class="col-sm-6">pqrs7</div>
                <div class="col-sm-6">polish.TextField.charactersKey8</div><div class="col-sm-6">tuv8</div>
                <div class="col-sm-6">polish.TextField.charactersKey9</div><div class="col-sm-6">wxyz9</div>
                <div class="col-sm-6">polish.TextField.charactersKey0</div><div class="col-sm-6"> 0</div>
            </div>
        </div>
    </aside>
</script>

<inline-edit params="
    value: '{{ app.name|escapejs }}',
    readOnlyClass: 'h3',
    url: '{% url "edit_app_attr" domain app.id 'name' %}',
    placeholder: '{% trans "Untitled App"|escapejs %}',
    postSave: function(data) { return hqImport('app_manager/js/app_manager.js').updateDOM(data.update); },
    rows: 1,
    saveValueName: 'name',
"></inline-edit>
<br />
<inline-edit params="
    value: '{{ app.short_comment|escapejs }}',
    url: '{% url "edit_app_attr" domain app.id 'comment' %}',
    placeholder: '{% trans "Enter app description here"|escapejs %}',
    saveValueName: 'comment',
    readOnlyClass: 'app-comment',
    cols: 50,
"></inline-edit>

<div class="tab-pane" id="commcare-settings">
    {% if app.get_doc_type == 'LinkedApplication' %}
        <p> Your app is at version {{ app.version }}. The master app is at version {{ master_version }}. </p>
        <a class="btn btn-primary"
            href="{% url 'pull_master_app' domain app.id %}">
            {% trans 'Update from Master App' %}
        </a>

    {% else %}
    <br />
    <form class="form-horizontal">
        <div class="clearfix">
            <div class="pull-right">
                <div id="settings-save-btn"></div>
            </div>
        </div>
        <div data-bind="foreach: sections">
            <fieldset data-bind="visible: notEmpty">
                <legend>
                    <a data-toggle="collapse" data-bind="attr: {href: '#' + id}, css: {collapsed: reallyCollapse}">
                        <i class="fa fa-angle-double-down"></i>
                        <span data-bind="text: title"></span>
                    </a>
                </legend>
                <div class="collapse" data-bind="foreach: settings, attr: {id: id}, css: {'in': !reallyCollapse()}">
                    <div class="form-group" data-bind="
                        visible: visible,
                        css: {error: hasError()}
                    ">
                        <div class="col-sm-2 control-label">
                            <label data-bind="html: name, attr: {for: inputId}" class="inner-control-label"></label>
                            <span data-bind="makeHqHelp: { name: name, description: $data.description, format: $data.description_format}, visible: $data.description"></span>
                        </div>
                        <div class="col-sm-4">
                            <span data-bind="template: $data.widget_template || 'CommcareSettings.widgets.' + widget"></span>
                            <p class="help-block" data-bind="visible: disabledButHasValue">
                                <span data-bind="text: $data.disabled_txt"></span>
                                <span data-bind="visible: !$data.disabled_txt">
                                {% blocktrans %}
                                    Oops!
                                    This setting shouldn't be here.
                                    Could you change it to the default
                                    to make it go away?
                                    Sorry about that.
                                {% endblocktrans %}
                                </span>
                            </p>
                        </div>
                        <div class="col-sm-2 control-label">
                            <div class="pull-left">
                                <span class="label label-danger" data-bind="
                                    text: $data.warning || $parents[1].warning,
                                    visible: !$data.valueIsLegal()">
                                </span>
                                <span class="label label-info" data-bind="visible: $data.preview">{% trans "Preview" %}</span>
                                <span data-bind="visible: disabledMessage(), css: {'text-warning': !optionOK(), 'text-success': optionOK}">
                                    <i class="fa" data-bind="css: {'fa-arrow-left': !optionOK(), 'fa-check': optionOK}"></i>
                                    <span data-bind="text: disabledMessage()"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        {% if request|toggle_enabled:"CUSTOM_PROPERTIES" %}
        <fieldset>
            <legend>
                <a
                    data-toggle="collapse"
                    data-bind="
                        attr: { href: '#' + customPropertyType },
                        css: { collapsed: true }
                        ">
                    <i class="fa fa-angle-double-down"></i>
                    <span>{% trans "Custom Properties" %}</span>
                </a>
            </legend>
            <div class="collapse col-sm-6" data-bind="attr: { id: customPropertyType }">
                <div class="custom-property-list" data-bind="
                    foreach: customProperties,
                    as: 'customProperty'
                    ">
                    <div class="form-group container-fluid" data-bind="
                        template: {
                            name: 'CommcareSettings.widgets.customProperty'
                        }
                        ">
                    </div>

                </div>
                <button class="btn btn-default" data-bind="click: onAddCustomProperty">
                    <i class="fa fa-plus"></i>
                    {% trans "Add Custom Property" %}
                </button>
            </div>
        </fieldset>
        {% endif %}
    </form>
    {% endif %}
</div>
