{% load i18n %}

<script type="text/html" id="case-config:condition">
    <!--ko with: condition -->
    <span data-bind="text: $parent.actionType"></span>
    <div data-bind="visible: type() === 'always'">
        <a href="#" data-bind="click: function () {type('if')}"><i class="fa fa-plus"></i> {% trans "Only if the answer to..." %}</a>
    </div>
    <div class="form-inline" data-bind="visible: type() === 'if'">
        <a href="#" data-bind="click: function () {type('always')}">
            <i class="fa fa-remove"></i>
        </a>
        {% trans "Only if the answer to" %}
        <!-- 
            This would normally use .form-control, but it's going to become a select2,
            which adds wonky height & borders on Firefox when it uses .form-control
        -->
        <input type="hidden" data-bind="
            questionsSelect: $root.getQuestions('select select1', false, $parent.config.allow.repeats()),
            value: question,
            optionsCaption: ' '
        "/>
        <select class="form-control" data-bind="
                optstr: [
                    {label:'{% trans "is" %}', value:'='},
                    {label:'{% trans "has selected" %}', value:'selected'},
                    {label:'{% trans "is true" %}', value:'boolean_true'}
                ],
                value: operator"></select>
        <span data-bind="if: $root.getAnswers({question: question()}).length && operator() != 'boolean_true'">
            <select class="form-control" data-bind="
                optstr: $root.getAnswers({question: question()}),
                value: answer"></select>
        </span>
        <span data-bind="if: !$root.getAnswers({question: question()}).length && operator() != 'boolean_true'">
            <input type="text" class="form-control" data-bind="value: answer"/>
        </span>
    </div>
    <!--/ko-->
</script>

<script type="text/html" id="case-config:case-properties:question">
    <!-- 
        This would normally use .form-control, but it's going to become a select2,
        which adds wonky height & borders on Firefox when it uses .form-control
    -->
    <input type="hidden" data-bind="
        questionsSelect: $root.getQuestions('all', false, case_transaction.allow.repeats(), true),
        value: path,
        optionsCaption: ' ',
        event: { change: function(view, e) {
            if (e.target.closest('#case-config-ko')) {
                var action = e.target.closest('.case-preload') ? 'Load' : 'Save';
                ga_track_event('Case Management', 'Form Level', action + ' Property (add/edit)');
            }
        } }
    "/>
    <p class="help-block" data-bind="visible: required() && !path()">{% trans "Required" %}</p>
    <p class="help-block" data-bind="visible: !required() && !path() && key()">{% trans "Not assigned" %}</p>
</script>

<script type="text/html" id="case-config:case-properties:property">
    <span data-bind="visible: !property.required()">
        <input type="text" class="form-control" data-bind="
            valueDefault: property.key,
            default: property.defaultKey,
            casePropertyTypeahead: suggestedProperties,
            event: {
                change: function(){
                    var el = $($element),
                        caretPosition = el.caret();
                    el.val(el.val().replace(/ /g,'_'));
                    if(el.is(':focus')) {
                        el.caret(caretPosition);
                    }
                    return true;
                }
            }
        "/>
    </span>
    <span data-bind="visible: property.required()">
        <code data-bind="text: property.key"></code>
    </span>
</script>

<script type="text/html" id="case-config:case-transaction:case-preload">
    <div class="panel-heading panel-title">{% trans "Load the following case properties into the form" %}</div>
    <table class="table table-condensed" data-bind="visible: case_preload().length">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Case Property" %}</th>
                <th></th>
                <th>{% trans "Question" %}</th>
            </tr>
        </thead>

        <tbody data-bind="foreach: case_preload">
            <tr class="form-group" data-bind="css: {'has-error': validateProperty || validateQuestion}">
                <td class="col-sm-1">
                    <a href="#" data-bind="
                        click: $parent.removePreload,
                        visible: !(isBlank() && $index() === $parent.case_preload().length - 1)">
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
                <td class="col-sm-5">
                    <div data-bind="template: {
                        name: 'case-config:case-properties:property',
                        data: {'property': $data, 'suggestedProperties': case_transaction.suggestedPreloadProperties}
                    }"></div>
                    <p class="help-block" data-bind="html: validateProperty, visible: validateProperty"></p>
                </td>
                <td class="col-sm-1 text-center">
                    <i class="fa fa-arrow-right"></i>
                </td>
                <td class="col-sm-5">
                    <div data-bind="template: 'case-config:case-properties:question'"></div>
                    <p class="help-block" data-bind="html: validateQuestion, visible: validateQuestion"></p>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-body">
        <div class="alert alert-block alert-info" data-bind="visible: !case_preload().length">
            {% trans "No case properties will be loaded" %}
        </div>
        <a href="#" class="firstProperty" data-bind="click: addPreload, visible: !case_preload().length">
            <i class="fa fa-plus"></i>
            {% trans "Load properties" %}
        </a>
    </div>
</script>

<script type="text/html" id="case-config:case-transaction:case-properties">
    <div class="panel-heading panel-title">
        {% trans "Save data to the following case properties" %}
    </div>
    <table class="table table-condensed" data-bind="visible: case_properties().length">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Question" %}</th>
                <th></th>
                <th>{% trans "Case Property" %}</th>
            </tr>
        </thead>

        <tbody data-bind="foreach: case_properties">
            <tr class="form-group" data-bind="css: {'has-error': validate, warning: (!validate() && required() && !path()) || (!validate() && !required() && !path() && key())}">
                <td class="col-sm-1">
                    <a href="#" data-bind="
                        click: $parent.removeProperty,
                        visible: !required() && !(isBlank() && $index() === $parent.case_properties().length - 1)
                    ">
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
                <td class="col-sm-5">
                    <div data-bind="template: 'case-config:case-properties:question'"></div>
                </td>
                <td class="text-center col-sm-1">
                    <i class="fa fa-arrow-right"></i>
                </td>
                <td class="col-sm-5">
                    <div data-bind="template: {
                        name: 'case-config:case-properties:property',
                        data: {property: $data, suggestedProperties: case_transaction.suggestedSaveProperties}
                    }"></div>
                    <p class="help-block" data-bind="html: validate, visible: validate"></p>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-body">
        <div class="alert alert-block alert-info" data-bind="visible: !case_properties().length">
            {% trans "No case properties will be saved" %}
        </div>
        <a href="#" class="firstProperty" data-bind="click: addProperty, visible: !case_properties().length">
            <i class="fa fa-plus"></i>
            {% trans "Save properties" %}
        </a>
    </div>
</script>

<script type="text/html" id="case-config:refresh-form-questions">
    <div style="margin-right: 1em;"
         class="btn btn-success refresh-form-questions pull-right"
         data-bind="click: function(data, event){
                    refreshQuestions('{% url 'get_form_questions' domain app.id %}', '{{module.id}}', '{{form.id}}', event)}">
        <i class="fa fa-refresh"></i>
    </div>
</script>
