{% load xforms_extras %}
{% load url_extras %}
{% load timezone_tags %}
{% load hq_shared_tags %}
{% load timezone_tags %}
{% load i18n %}

<script>
    $(function () {
       $('.hq-help-template').each(function () {
            COMMCAREHQ.transformHelpTemplate($(this), true);
       });
    });
    $(function () {
        var ReleasesMain = hqImport('app_manager/js/releases.js').ReleasesMain;
        var ProfileManager = hqImport('app_manager/js/language-profiles.js').ProfileManager;
        // init releases
        {# The '___' in these urls will later be replaced by an app's _id ReleasesMain's url function #}
        var urls = {
            fetch: '{% url "paginate_releases" domain app.id %}',
            delete: '{% url "delete_copy" domain app.id %}',
            cloudcare: '{% url "cloudcare_get_app" domain '___' %}',
            compare: '{% url "diff" domain '___' '___' %}',
            jad: '{% url "download_jad" domain '___' %}',
            jar: '{% url "download_jar" domain '___' %}',
            ccz: '{% url "download_ccz" domain '___' %}',
            odk: '{% url "odk_install" domain '___' %}',
            odk_media: '{% url "odk_media_install" domain '___' %}',
            source: '{% url "download_index" domain '___' %}',
            summary: '{% url "app_summary" domain '___' %}',
            release: '{% url "release_build" domain app.id '___' %}',
            newBuild: '{% url "save_copy" domain app.id %}',
            revertBuild: '{% url "revert_to_copy" domain app.id %}',
            currentVersion: '{% url "current_app_version" domain app.id %}',
            hubspot_click_deploy: '{% url "hubspot_click_deploy" %}',
            download_zip: '{% url "download_ccz" app.domain '___' %}',
            download_multimedia: '{% url "download_multimedia_zip" app.domain '___' %}',
            application_errors: ('{% url "project_report_dispatcher" app.domain 'application_error' %}'
                                 + '?app={{ app.id }}&version_number=___'),
        };
        var o = {
            urls: urls,
            currentAppVersion: {% if app.version %}{{ app.version }}{% else %}-1{% endif %},
            recipient_contacts: {{ sms_contacts|JSON }},
            download_modal_id: '#download-zip-modal',
            fetchLimit: {{ fetchLimit }},
        };
        var el = $('#releases-table');
        var releasesMain = new ReleasesMain(o);
        _.defer(function(){ releasesMain.getMoreSavedApps(false); });
        el.koApplyBindings(releasesMain);

        var app_langs = {{ app.langs|JSON }};
        var app_profiles = {{ app.build_profiles|JSON }}

        {% if build_profile_access %}
        var profileManager = new ProfileManager(app_profiles, app_langs);
        $('#profiles-tab').koApplyBindings(profileManager);
        {% endif %}
    });

    analytics.workflow('Visited the Release Manager');
</script>
<script>
    $(function () {
        gaTrackLink('a.view-source-files-link', 'App Manager', 'Deploy Type', 'View Source Files');
    });
</script>

{% if build_profile_access %}
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#versions-tab" data-toggle="tab">{% trans "Versions" %}</a></li>
        <li><a href="#profiles-tab" data-toggle="tab">{% trans "Application Profiles" %}</a></li>
    </ul>
    <div class="spacer"></div>
    <div class="tab-content">
        <div id="versions-tab" class="tab-pane active">
{% endif %}
            <div id="releases-table" class="hide" data-bind="css: {hide: false}">
                <div class="alert alert-danger hide" data-bind="visible: brokenBuilds, css: {hide: false}">
                    <p>
                        <i class="fa fa-exclamation-circle"></i>
                        {% blocktrans %}
                            One or more of your versions is broken, please make sure it is
                            not marked as released. Make a new version if needed, and update
                            any live deployments as soon as possible.
                        {% endblocktrans %}
                    </p>
                    <p><small>
                        {% blocktrans %}
                            All new versions should work, so if problems persist, please
                            report the issue.
                        {% endblocktrans %}
                    </small></p>
                </div>
                <button class="btn btn-primary" data-bind="
                    click: function() {
                        analytics.workflow('Clicked Make New Version');
                        return makeNewBuild();
                    },
                    attr: {disabled: !buildButtonEnabled() ? 'disabled' : undefined},
                    css: {disabled: !buildButtonEnabled()}
                ">{% trans 'Make New Version' %}</button>

    <div id="build-errors-wrapper"></div>
    <table class="table">
        <tr>
            <th colspan="2">{% trans "Version" %}</th>
            <th colspan="2">{% trans "Date &amp; Time" %}</th>
            <th>{% trans "CommCare Version" %}</th>
            <th></th>
            <th></th>
            <th>{% trans "Comments" %}</th>
            {% if request|toggle_enabled:"APPLICATION_ERROR_REPORT" %}
                <th>Errors</th>
            {% endif %}
            <th>
                {% trans "Released" %}
                <span class="hq-help-template"
                    data-title="Released"
                    data-content="This is used for automatically updating CommCare applications. If the &quot;Auto-update&quot; setting is set to Daily or Weekly, any application versions that are marked as released will update to the latest released version when checking for updates."
                    data-placement="left"
                ></span>
            </th>
        </tr>
        <tbody data-bind="visible: buildState, css: {hide: false}" class="hide">
            <tr data-bind="visible: buildState() == 'pending', css: {hide: false}" class="hide">
                <td colspan="9">
                    <img src="{% static 'hqwebapp/images/ajax-loader.gif' %}"/>
                    <span class="label label-success">
                        {% trans "Please wait while your CommCare Application builds" %}
                    </span>
                </td>
            </tr>
            <tr data-bind="visible: buildState() == 'error', css: {hide: false}" class="hide">
                <td colspan="9">
                    <div class="alert alert-danger">{% trans "Whoops, that didn't go through. Reload the page and click Make New Version to try again." %}</div>
                </td>
            </tr>
        </tbody>
        <tbody data-bind="css: {hide: false}, template: {
            foreach: savedApps,
            afterAdd: function(elem) { $(elem).hide().fadeIn() },
            beforeRemove: function(elem) { if (elem.nodeType === 1) { $(elem).fadeOut(); } }
        }" class="hide">
            <tr class="build" data-bind="css: {
                'build-released': is_released(),
                'build-unreleased': !is_released(),
                'build-latest-release': id() === $root.latestReleaseId(),
                'error': build_broken
            }">
                <td>
                    <a href="#" class="hide" data-bind="
                        openModal: 'delete-build-modal-template',
                        visible: !_deleteState(),
                        css: {hide: false}
                    ">
                        <i class="fa fa-remove"></i>
                    </a>
                    <div class="pending hide" data-bind="visible: _deleteState() == 'pending', css: {hide: false}">
                        <img src="{% static 'hqwebapp/images/ajax-loader.gif' %}" alt="loading indicator" />
                    </div>

                    <i class="fa fa-exclamation-circle" class="hide" data-bind="
                        visible: _deleteState() == 'error',
                        css: {hide: false}
                    "></i>
                </td>
                <td class="text-nowrap" data-bind="text: version"></td>
                <td class="text-nowrap" data-bind="text: built_on_date"></td>
                <td class="text-nowrap" data-bind="text: built_on_time"></td>
                <td class="text-nowrap">
                    <!--ko if: menu_item_label() -->
                    <span data-bind="text: menu_item_label()"></span>
                    <!--/ko-->
                    <h6 data-bind="if: !built_with.signed()">{% trans "Unsigned Jar" %}</h6>
                </td>
                <td class="text-nowrap">
                    <div class="btn-group">
                        <a class="btn" data-bind="
                            openModal: 'deploy-build-modal-template',
                            css: {'btn-primary': !build_broken(), 'btn-danger': build_broken},
                            click: clickDeploy
                        ">
                            <span class="fa fa-exclamation-circle hide"
                                  data-bind="visible: build_broken, css: {hide: false}">
                            </span>
                            {% trans "Deploy" %}
                        </a>
                    </div>
                </td>
                <td>
                    <button class="btn btn-default hide" data-bind="
                        openModal: 'revert-build-modal-template',
                        visible: version() !== $root.currentAppVersion(),
                        css: {hide: false}
                    ">{% trans "Revert" %}</button>
                </td>
                <td>
                    <b data-bind="text: comment_user_name"></b>
                    <inline-edit params="
                        value: build_comment,
                        rows: 1,
                        placeholder: '{% trans "(Click here to add a comment)"|escapejs %}',
                        url: '{% url "update_build_comment" domain app.id %}',
                        saveParams: {'build_id': id},
                        saveValueName: 'comment',
                        errorMessage:'{% trans "Error updating comment.  Please try again."|escapejs %}',
                    "></inline-edit>
                    {% if request|toggle_enabled:"VIEW_BUILD_SOURCE" %}
                        <h6>
                            {% blocktrans %}
                                View
                                <a data-bind="attr: {href: $root.url('summary', id)}">app summary</a>
                                or
                                <a data-bind="attr: {href: $root.url('source', id)}" class="view-source-files-link">source files</a>
                                <br />
                                <a href="#" class="hide" data-bind="click: function() {
                                        $root.selectingVersion(id());
                                    }, visible: !$root.selectingVersion(),
                                    css: {hide: false}
                                ">
                                    Compare with another version
                                </a>
                                <a href="#" class="hide" data-bind="
                                    visible: $root.selectingVersion() === id(),
                                    click: function() {$root.selectingVersion('')},
                                    css: {hide: false}
                                ">
                                    Cancel
                                </a>
                                <a href="#" class="btn btn-xs btn-success hide"
                                   data-bind="
                                        attr: {href: $root.url('compare', $root.selectingVersion(), id())},
                                        visible: $root.selectingVersion() && $root.selectingVersion() != id(),
                                        css: {hide: false}
                                    ">
                                    Compare
                                </a>
                            {% endblocktrans %}
                        </h6>
                    {% endif %}
                </td>
                {% if request|toggle_enabled:"APPLICATION_ERROR_REPORT" %}
                <td>
                    <a data-bind="text: num_errors,
                                  attr: {href: $root.url('application_errors', version())}" />
                </td>
                {% endif %}
                <td class="build-is-released">
                    <div data-bind="starred: is_released, click: $root.toggleRelease"></div>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td colspan="9">
                    <div data-bind="visible: fetchState() === 'pending', css: {hide: false}" class="hide">
                        <img src="{% static 'hqwebapp/images/ajax-loader.gif' %}"/>
                    </div>
                    <div data-bind="visible: fetchState() === 'error', css: {hide: false}" class="hide">
                        <div class="alert alert-danger">
                            {% trans "Whoops, we couldn't get those versions for you. Could you try that again?" %}
                        </div>
                    </div>
                    <div data-bind="visible: fetchState() !== 'pending' && !doneFetching(), css: {hide: false}" class="hide">
                        <a href="#" class="btn btn-default btn-block" data-bind="click: function() { getMoreSavedApps(true); }">
                            {% trans "View More" %}
                        </a>
                    </div>
                    <div data-bind="visible: doneFetching() && !savedApps().length, css: {hide: false}" class="hide">
                        <div class="alert alert-info">
                            {% trans 'Use the <strong>Make New Version</strong> button to create and deploy the latest version of your application' %}
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <script type="text/html" id="delete-build-modal-template">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{% trans "Delete Version?" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "Are you sure you want to delete this version" %} (<span data-bind="text: version"></span>)?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</a>
                    <a class="btn btn-danger" href="#" data-bind="click: $root.deleteSavedApp" data-dismiss="modal">{% trans "Delete Version" %}</a>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="revert-build-modal-template">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{% trans "Revert to Version?" %}</h4>
                </div>
                <div class="modal-body">
                    <div class='alert alert-danger' data-bind="visible: !vellum_case_management()">
                        {% blocktrans %}
                            This version uses an outdated form of case management.
                            We advise against reverting back to this version.
                        {% endblocktrans %}
                    </div>
                    <p>{% blocktrans %}
                     Are you sure you want to revert to version <span data-bind="text: version"></span>?</p>
                    {% endblocktrans %}
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</a>
                    <a href="#" class="btn btn-danger" data-bind="click: $root.revertSavedApp" data-dismiss="modal">{% trans "Revert" %}</a>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="deploy-build-modal-template">
        {% include 'app_manager/v1/partials/releases_deploy_modal.html' %}
    </script>
            </div>
{% if build_profile_access %}
        </div>
        <div id="profiles-tab" class="tab-pane">
            {% include 'app_manager/v1/partials/build_profiles.html' %}
        </div>
     </div>
</div>
{% endif %}

<!-- Async Download Modals -->
{% include 'app_manager/v1/partials/download_async_modal.html' with element_id='download-zip-modal' %}
