{% extends 'public/base.html' %}
{% load i18n %}
{% load hq_shared_tags %}
{% load crispy_forms_tags_b3 %}
{% load djangular_tags %}

{% block js %}
<script type="text/javascript" src="{% new_static 'style/lib/ui-select/dist/select.js' %}"></script>
<script type="text/javascript" src="{% new_static 'public/js/hq_public_contact.ng.js' %}"></script>
{% endblock js %}

{% block js-uncompressed %}
<script type="text/javascript">
$(function () {
    $('.flower-home [data-toggle="tooltip"]').tooltip();
});
(function (angular, undefined) {
    'use strict';
    var contactApp = angular.module('contactApp', [
        'hq.public.contact'
    ]);
    contactApp.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
    }]);
    contactApp.config(["djangoRMIProvider", function(djangoRMIProvider) {
        djangoRMIProvider.configure({% djng_current_rmi %});
    }]);
}(window.angular));
</script>
{% endblock %}

{% block stylesheets %}
<link type="text/css"
      rel="stylesheet"
      media="all"
      href="{% new_static 'style/lib/ui-select/dist/select.min.css' %}" />
{% endblock stylesheets %}

{% block content %}
{% include 'public/_sections/home/lead.html' %}
<div class="bg-static-fixed bg-home-main"></div>
<section class="section section-aside">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="well well-lightcool well-blockquote" style="margin-top: 70px;">
                    <p class="lead">
                        {% blocktrans %}
                        Used in over 40 countries, CommCare is the most widely
                        adopted, technically advanced,
                        <br class="visible-sm visible-md visible-lg" />
                        and evidence-based mobile
                        platform for low-resource settings.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'public/_sections/home/build.html' %}
<div class="bg-static-fixed bg-home-first"></div>
{% include 'public/_sections/home/use.html' %}
<div class="bg-static-fixed bg-home-second"></div>
{% include 'public/_sections/home/track.html' %}
<div class="bg-static-fixed bg-home-third"></div>
{% include 'public/_sections/home/analyze.html' %}
<div class="bg-static-fixed bg-home-fourth"></div>
{% include 'public/_sections/home/about_dimagi.html' %}
{% endblock content %}

{% block modals %}
<div id="contactDimagi"
     class="modal fade" ng-app="contactApp">
    <div class="modal-dialog"
         ng-controller="contactFormValidationController">
        <form id="contact-dimagi-form"
              name="contactDimagi"
              class="form form-horizontal"
              novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans 'Close' %}</span></button>
                    <h3 class="modal-title">
                        {% trans "Contact Dimagi" %}
                    </h3>
                </div>
                <div class="modal-body">
                    {% crispy_b3 contact_form %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock modals %}
