/*- self-clearing floats ----------*/
/*- LET'S GET STARTED!
----------------------------------------------------------------------*/
.hq-oldstyle {
  /* to prevent flicker */

  display: none;
}
.hq-oldstyle .dataTables_filter label,
.hq-oldstyle .dataTables_length label {
  color: #ffffff;
  font-weight: bold;
}
.hq-oldstyle .dataTables_filter {
  float: right;
  line-height: 20px;
}
.hq-oldstyle .dataTables_length {
  padding-left: 10px;
  padding-top: 5px;
}
.hq-oldstyle .dataTables_length label {
  margin-bottom: 0;
}
.hq-oldstyle .dataTables_paginate {
  float: right;
  margin-top: 5px;
}
.hq-oldstyle {
  /*.dropdown {*/

  /*display: block;*/

  /*background-color: white;*/

  /*border: 1px solid #ccc;*/

  /*position: absolute;*/

  /*padding: 0 1em;*/

  /*.dropdown:hover {*/

  /*background-color: #8867B1;*/

  /*}*/

  /* Inline Help */

}
.hq-oldstyle .ie-warning {
  text-align: center;
  border-bottom: 1px solid #F00;
  background-color: #FBB;
  padding: 1em;
}
.hq-oldstyle .shadow {
  -moz-box-shadow: 0 0 8px #bbc;
  -webkit-box-shadow: 0 0 8px #bbc;
  box-shadow: 0 0 8px #bbc;
}
.hq-oldstyle .sortable {
  sortable: auto;
}
.hq-oldstyle .no-bottom-border {
  border-bottom: 1px solid white !important;
}
.hq-oldstyle #shield > div {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  width: 450px;
  margin: 20px auto;
}
.hq-oldstyle abbr {
  cursor: help;
}
.hq-oldstyle #help {
  color: #555;
  float: left;
}
.hq-oldstyle #help > * {
  margin-right: 20px;
}
.hq-oldstyle #title-bar {
  border-left: none;
  border-right: none;
  border-top: none;
}
.hq-oldstyle .padded {
  padding: 1em;
}
.hq-oldstyle #form-tabs {
  padding: 0 !important;
  margin-bottom: 3em;
  /* to avoid flicker!!*/

  display: none;
}
.hq-oldstyle #forms {
  padding: 0;
}
.hq-oldstyle #title-bar {
  padding: 1em;
}
.hq-oldstyle #modules-header {
  text-align: center;
}
.hq-oldstyle form table td {
  padding: .25em;
}
.hq-oldstyle form table {
  margin: 1em;
}
.hq-oldstyle #title-bar {
  min-height: 30px;
}
.hq-oldstyle .page-title {
  text-align: center;
  font: bold 18px Helvetica, Arial, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
.hq-oldstyle #edit {
  float: right;
}
.hq-oldstyle #empty {
  padding: 1em;
}
.hq-oldstyle .message {
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
}
.hq-oldstyle .message a {
  font-weight: bold !important;
  text-decoration: underline !important;
}
.hq-oldstyle .block {
  margin: 1em;
  border: 1px solid #eaeaff;
  background-color: #fafaff;
}
.hq-oldstyle input[disabled] {
  background-color: #DDD !important;
  border: 1px solid #CCC;
}
.hq-oldstyle .code {
  font-family: monospace !important;
}
.hq-oldstyle #version {
  height: 22px;
}
.hq-oldstyle .drag_handle {
  width: 16px;
  cursor: move;
}
.hq-oldstyle .ui-tabs {
  position: static !important;
}
.hq-oldstyle .user_username {
  color: #000;
  font-weight: normal;
}
.hq-oldstyle .user_domainname {
  color: #555;
  font-size: .8em;
}
.hq-oldstyle .hidden {
  display: none;
}
.hq-oldstyle .help-text {
  border: 1px solid #eaeaff;
  background-color: #fff;
  padding: 20px !important;
  position: absolute;
  margin-top: 10px;
}
.hq-oldstyle .help-text p {
  text-align: justify;
  margin: 5px 0 5px 0;
}
.hq-oldstyle .ui-icon {
  float: left;
}
.hq-oldstyle img.ui-icon {
  display: inline;
  float: none;
}
.hq-oldstyle .dialog {
  display: none;
}
.hq-oldstyle .caution {
  font-variant: small-caps;
  font-weight: bold;
  text-decoration: underline;
}
.hq-oldstyle .current-datetime {
  text-decoration: underline;
  color: #000;
}
.hq-oldstyle .time-notice {
  text-align: center;
  border: 1px solid #CFC;
  color: #575;
  background: #EFE;
  padding: .5em;
  width: 500px;
  margin: 1em auto;
}
