{% load i18n %}
{% load proptable_tags %}
{% load timezone_tags %}
{% load hq_shared_tags %}
{% load case_tags %}

{# standalone template, js files included at bottom #}
<script>
    var CASE_DETAILS = {};
    CASE_DETAILS.xform_api_url = "{{ xform_api_url }}";
    CASE_DETAILS.xform_ids = {{ case.xform_ids|JSON }};
    CASE_DETAILS.xform_ajax_url = "{% url 'case_form_data' case.domain case.case_id 'placeholder-form-id' %}".replace('placeholder-form-id/', '');
    CASE_DETAILS.timezone_offset = {{ timezone_offset }};
</script>

<div id="report-content">
<div id="tabbed-content-container">
    <div class="row">
        <div class="col-sm-12">
            {% render_tables default_properties default_properties_options %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs" style="margin-bottom: 10px;">
                {% if dynamic_properties %}
                <li class="active"><a href="#properties" data-toggle="tab">{% trans "Case Properties" %}</a></li>
                {% endif %}
                <li {% if not dynamic_properties %}class="active"{% endif %}><a href="#history" data-toggle="tab">{% trans "Case History" %}</a></li>
                {% if case.has_indices %}
                <li><a href="#related" data-toggle="tab">{% trans "Related Cases" %}</a></li>
                {% endif %}
            {% if case.case_attachments %}
                <li><a href="#case-attachments" data-toggle="tab">{% trans "Attachments" %} ({{ case.case_attachments|length }})</a></li>
            {% endif %}
            {% if ledgers %}
                <li><a href="#case-ledgers" data-toggle="tab">{% trans "Ledger Sections" %}</a></li>
            {% endif %}
            </ul>

            <div class="tab-content">
                {% if dynamic_properties %}
                <div class="tab-pane active" id="properties">
                    <div class="row-fluid">
                        {% render_tables dynamic_properties dynamic_properties_options %}
                    </div>
                </div><!-- end properties tab -->
                {% endif %}

                {% if case.has_indices %}
                <div class="tab-pane" id="related">
                    {% render_case_hierarchy case case_hierarchy_options %}
                </div>
                {% endif %}

                {% if case.case_attachments %}
                <div class="tab-pane" id="case-attachments">
                    {% include "case/partials/case_attachments.html" %}
                </div> <!-- end case-attachments tab -->
                {% endif %}

                {% if ledgers %}
                <div class="tab-pane" id="case-ledgers">
                {% if show_transaction_export %}
                    <a href="{% url 'export_case_transactions' case.domain case.case_id %}" class="pull-right">{% trans "download complete transaction history" %}</a>
                {% endif %}
                {% for section_id, product_map in ledgers.items %}
                    <h1>{% blocktrans %}Section: {{ section_id }}{% endblocktrans %}</h1>
                    <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{% trans "Product" %}</th>
                            <th>{% trans "Balance" %}</th>
                            <th>{% trans "Last Updated" %}</th>
                        </tr>
                    </thead>
                    {% for product_name, stock_state in product_map %}
                    <tr>
                        <td>{{ product_name }}</td>
                        <td>{{ stock_state.stock_on_hand }}</td>
                        {% if stock_state and stock_state.last_modified_form_id %}
                        <td><a href="{% url 'render_form_data' case.domain stock_state.last_modified_form_id %}">{{ stock_state.last_modified_date }}</a></td>
                        {% else %}
                        <td>{% trans "No transaction found" %}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </table>
                {% endfor %}
                </div> <!-- end case-ledgers tab -->
                {% endif %}

                <div class="tab-pane {% if not dynamic_properties %}active{% endif %} row" id="history">
                    <div class="col-sm-5 dataTables_wrapper">
                        <ul data-bind="foreach: $root.form_type_facets">
                            <li>
                                <strong><span data-bind="text: form_name"></span></strong>:
                                <span data-bind="text: form_count"></span>
                            </li>
                        </ul>
                        <div class="hq-loading" data-bind="visible: $root.data_loading">
                            {% trans "Loading" %}
                            <img src="/static/hqwebapp/images/ajax-loader.gif" alt="loading indicator"></div>
                        <table class="table table-striped datatable table-hover">
                            <thead>
                            <tr>
                                <th class="col-sm-2">{% trans "Received" %} ({{ tz_abbrev }})</th>
                                <th class="col-sm-2">{% trans "Form" %}</th>
                                <th class="col-sm-2">{% trans "User" %}</th>
                            </tr>
                            </thead>
                            <tbody data-bind="foreach: xforms">
                                <tr data-bind='click: $root.clickRow, css: { info: $data.id() == $root.selected_xform_doc_id() }'>
                                    <td>
                                        <span data-bind="text: received_on"></span>
                                    <td>
                                        <span data-bind="text: readable_name"></span>
                                    </td>
                                    <td>
                                        <span data-bind="text: username"></span>
                                        <div class="pull-right"><i class="fa fa-chevron-right"></i></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="dataTables_control">
                            <div class="dataTables_info">
                                <span data-bind="text: $root.page_start_num() + '-' + $root.page_end_num() + ' / ' + $root.total_rows()"></span>
                            </div>
                            <div class="dataTables_length">
                                <select id="page_size_select" class="form-control" data-bind="options: pagination_options, value: $root.page_size"></select> <span>/ {% trans "page" %}</span>
                            </div>

                            <div class="pull-right" data-bind="visible: $root.page_count() > 1">
                                <ul class="pagination">
                                    <li>
                                        <button class="btn btn-sm btn-default" type="button" data-bind="enable: $root.disp_page_index() > 1, click: $root.prevPage">«</button>
                                    </li>
                                    <li class="active">
                                        <select class="form-control" data-bind="options: all_pages(), value: $root.disp_page_index"></select>
                                    </li>
                                    <li>
                                        <button class="btn btn-sm btn-default" type="button" data-bind="enable: $root.page_end_num() < $root.total_rows(), click: $root.nextPage">»</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div id="xform_data_panel"></div>
                    </div>
                </div> <!-- end case-history tab -->
            </div>

        </div>
    </div>

</div> {# end tabbed-content-container div #}
</div> {# end report-container #}

<script src="{% static "hqwebapp/js/lib/bootstrap-tab-hashes.js" %}"></script>
<script src="{% static "hqwebapp/js/lib/jquery.cachedAjax.js" %}"></script>
<script src="{% static "case/js/case_details.js" %}"></script>
