body {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#map {
    height: 100%;
}

.map-info {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
    width: 80px; /* todo: check that this works for the number of projects present and anticipated, and probably change it to min-width*/
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legend p {
    margin-bottom: 0;
}

.padding {
    height: 5px;
}

.modal-body {
    min-height: 300px;
}

.center {
    text-align: center;
}

.modal-content.show-table .project-info {
    display: none;
}

.modal-content.show-project-info .table {
    display: none;
}

.modal-header.row {
    margin-right: 0;
    margin-left: 0;
}

.wrapper {
    display: inline-block;
    height: 100%;
}

.map-wrapper {
    width: 80%;
}

.main-content {
    height: 600px;
}

