h1 {
    font-size: 2em;
    text-align: center;
}
h2 {
    font-size: 1.5em;
    padding:  1em 1em 0em;
    text-align: left;
}
.datatable {
    width: 100%;
}
#main_container {
    padding: 0;
}
#report_header {
    padding: 10px;
}
#paramSelectorForm p {
    padding: 5px 0 5px 0;
}
#title-bar {
    background-color: #EEE;
    border-bottom: 1px solid #CCC;
}

#report-content {
    padding: 1em 0;
}
form {
    padding: 0em 2em 1em;
}
form .selected-date {
    font-size: 1.5em;
    float: right;
    line-height: 32px;
}
input.date-picker {
    width: 100px;
    text-align: center;
}
.username {
    text-decoration: underline;
}