.appmanager-content {
  display: none;
  position: relative;
}

.appmanager-loading-container {
  position: relative;
}

.appmanager-loading {
  display: block;
  position: absolute;
  font-size: 4rem;
  width: 100px;
  height: 100px;
  left: 50%;
  color: fadeOut(@cc-text, 40);
  margin-left: -50px;
}

.appmanager-loading-nav {
  top: 30px;
}

