.@{fcc-css-prefix} {
  display: inline-block;
  font-family: 'CommCareHQFontRegular';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
