@import "../../lib/bootstrap-3.2.0/less/variables.less";

@font-size-base:  12px;
@icon-font-path:  "../lib/bootstrap-3.2.0/fonts/";

@brand-primary: #1557a2;

@navbar-height:                           60px;
@navbar-default-bg:                       #F4F4F4;

@navbar-footer-height:            45px;
@navbar-footer-link-color:        mix(darken(#ffffff, 10), @brand-primary, 90);
@navbar-footer-link-color-hover:  @gray-lighter;
@navbar-footer-button-color:      #474747;

@btn-footer-color:  #ffffff;
@btn-footer-bg:     #474747;
@btn-footer-border: #cccccc;

@breadcrumb-separator: '>';
