.debugger {
  width: 800px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: @zindex-cloudcare-debugger;
  background-color: white;
  overflow: hidden;

  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.debugger .debugger-content {
  overflow-y: auto;
  margin-top: 12px;
  padding: 10px;
  padding-bottom: 0;
}

.debugger-updating {
  #debugger-form-data, #debugger-xml-instance {
    opacity: 0.5;
  }
}


.debugger.debugger-minimized {
  height: 30px;
  overflow-y: hidden;
}

.debugger.debugger-maximized {
  height: 400px;
}

.debugger .debugger-state {
  cursor: pointer;
}

.debugger-code {
  font-family: monospace;
}

.debugger-navbar {
  border-radius: 0px;
  border: none;
  background-color: @cc-bg;
}

.debugger-tab-title {
  line-height: 18px;
  color: white;
  background-color: @cc-brand-low;
  border-bottom: #ddd solid 4px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 6px;
  cursor: pointer;
  .debugger-title {
    text-transform: uppercase;
    font-size: 11px;
  }

  &:hover {
    background-color: darken(@cc-brand-low, 5);
  }

  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.debugger .query-container:hover {
  cursor: pointer;
}
