{% extends 'hqwebapp/bootstrap5/base_section.html' %}
{% load compress %}
{% load hq_shared_tags %}
{% load i18n %}
{% js_entry "campaign/js/dashboard" %}

{% block title %}
  {% trans "Campaign Dashboard" %}
{% endblock %}

{% block page_content %}
  {% initial_page_data 'mapbox_access_token' mapbox_access_token %}
  {% registerurl 'api_cases_with_gps' request.domain %}
  {% initial_page_data 'map_report_widgets' map_report_widgets %}
  {% initial_page_data 'gauge_widgets' gauge_widgets %}
  {% initial_page_data 'domain' domain %}

  {# From userreports/bootstrap5/base.html #}
  {% initial_page_data 'left_col_fixed_width' report_table.left_col.fixed.width %}
  {% initial_page_data 'left_col_fixed_num' report_table.left_col.fixed.num %}
  {% initial_page_data 'left_col_is_fixed' report_table.left_col.is_fixed %}
  {% initial_page_data 'ajax_method' method %}
  {% initial_page_data 'custom_sort' headers.custom_sort %}
  {% initial_page_data 'render_aoColumns' headers.render_aoColumns %}
  {% initial_page_data 'header_auto_width' headers.auto_width %}
  {% initial_page_data 'table_show_all_rows' report_table.show_all_rows %}
  {% initial_page_data 'table_start_at_row' report_table.start_at_row|default:0 %}
  {% initial_page_data 'table_default_rows' report_table.default_rows|default:10 %}
  {% initial_page_data 'report_slug' report.slug %}
  {% initial_page_data 'MAPBOX_ACCESS_TOKEN' MAPBOX_ACCESS_TOKEN %}
  {% initial_page_data 'map_config' report.spec.map_config %}
  {% initial_page_data 'created_by_builder' report.spec.report_meta.created_by_builder %}
  {% initial_page_data 'charts' report.spec.charts %}
  {% initial_page_data 'url' url %}

  {# From userreports/bootstrap5/configurable_report.html #}
  {% registerurl 'add_report_config' domain %}{# Used by reports/js/bootstrap5/base.js #}
  {% initial_page_data 'builder_report_type' report.spec.report_meta.builder_report_type %}
  {% initial_page_data 'report_builder_events' report_builder_events %}
  {% initial_page_data 'default_config' default_config %}
  {% initial_page_data 'report_configs' report_configs %}
  {% initial_page_data 'has_datespan' report.has_datespan %}
  {% initial_page_data 'datespan_filters' datespan_filters %}
  {% initial_page_data 'daterangepicker-show-clear' 'true'%}
  {% if request.datespan %}
    {% initial_page_data 'startdate' datespan.startdate|date:"Y-m-d" %}
    {% initial_page_data 'enddate' datespan.enddate|date:"Y-m-d" %}
  {% endif %}
  {% initial_page_data 'type' report.type %}
  {% initial_page_data 'js_options' js_options %}
  {% initial_page_data 'override_report_render_url' True %}

  <div id="delete-widget-alert" class="alert alert-success d-none">
    {% trans "Widget has been deleted successfully!" %}
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>{% trans "Campaign Dashboard" %}</h1>
    <div>
      {% include "campaign/partials/add_widget_button.html" %}
      <button id="print-to-pdf" class="btn btn-info">
        <i class="fa fa-file-pdf me-1"></i>
        {% trans "Export to PDF" %}
      </button>
    </div>
  </div>
  <div id="pdf-export-error" class="alert alert-danger d-none">
    {% blocktrans %}
      There was an error while exporting to PDF! Please try again, and contact
      support if the issue persists.
    {% endblocktrans %}
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="nav-item">
      <a
        class="nav-link active"
        role="tab"
        data-bs-toggle="tab"
        href="#cases-tab-content"
      >
        {% trans "Cases" %}
      </a>
    </li>
    <li>
      <a
        class="nav-link"
        role="tab"
        data-bs-toggle="tab"
        href="#mobile-workers-tab-content"
      >
        {% trans "Mobile Workers" %}
      </a>
    </li>
  </ul>
  <div class="spacer"></div>
  <div class="tab-content">
    <div class="tab-pane active" id="cases-tab-content" role="tabpanel">
      <!-- Cases tab content -->
      <!-- Gauges Section -->
      <div class="row">
        <div id="gauges-container-cases">
          {% for widget in gauge_widgets.cases %}
            {% include 'campaign/partials/dashboard_gauge.html' %}
          {% endfor %}
        </div>
      </div>
      <div class="spacer"></div>
      <!-- Report and Map Section -->
      <div class="row">
        <div id="map-reports-container-cases">
          {% for widget in map_report_widgets.cases %}
            {% if widget.widget_type == 'DashboardMap' %}
              {% include 'campaign/partials/dashboard_map.html' %}
            {% elif widget.widget_type == 'DashboardReport' %}
              {% include 'campaign/partials/dashboard_report.html' %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="tab-pane" id="mobile-workers-tab-content">
      <!-- Users tab content -->
      <!-- Gauges Section -->
      <div class="row">
        <div id="gauges-container-mobile-workers">
          {% for widget in gauge_widgets.mobile_workers %}
            {% include 'campaign/partials/dashboard_gauge.html' %}
          {% endfor %}
        </div>
      </div>
      <div class="spacer"></div>
      <!-- Report and Map Section -->
      <div class="row">
        <div id="map-reports-container-mobile-workers">
          {% for widget in map_report_widgets.mobile_workers %}
            {% if widget.widget_type == 'DashboardMap' %}
              {% include 'campaign/partials/dashboard_map.html' %}
            {% elif widget.widget_type == 'DashboardReport' %}
              {% include 'campaign/partials/dashboard_report.html' %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% include "campaign/partials/widget_modal.html" %}
  {% include "campaign/partials/delete_widget_confirmation_modal.html" %}
{% endblock page_content %}

{% block modals %}
  {% include "hqwebapp/htmx/error_modal.html" %}
  {{ block.super }}
{% endblock modals %}
