URL_HOST = "https://example.com"
URL_ROOT = URL_HOST + "/a/{{ DOMAIN }}"
PERSISTENCE_DIRECTORY = "/path/to/www/data/touchforms"

# If you want to test with https on a proxy
# that doesn't have a valid cert, uncomment the following lines

# from jython_ssl import SSLContext, TRUST_ALL_CONTEXT
# SSLContext.setDefault(TRUST_ALL_CONTEXT)

USES_POSTGRES = True
POSTGRES_TABLE = "formplayer_session"

POSTGRES_DATABASE = {
        'HOST': 'localhost',
        'PORT': '5432',
        'NAME': 'hqdev',
        'USER': 'django',
        'PASSWORD': 'django',
        #'SSL': True,  //only uncomment if your Postgres DB requires SSL connection
        'PREPARE_THRESHOLD': 0, # only used for postgres bouncer
}
