@import "app";
@import "variables";

.chartView {
  .shadow;
  .bg-white;
  .mx-auto;
  .float-unset;
  .p-3;
  .rounded-border;
  max-height: ~"calc(100vh - 170px)";
  min-height: 170px;
  overflow: auto;
}

.mapView {
  .shadow;
  .bg-white;
  .mx-auto;
  .float-unset;
  .p-3;
  .rounded-border;
  height: ~"calc(100vh - 170px)";
  overflow: auto;
}

.location-names {
  .font-montserrat;
  .font-weight-600;
  .font-16;
  .mb-3;
  color: #0047CC;
}

a:active, a:hover, a:focus {
  .font-montserrat;
  .font-weight-600;
  .font-16;
  // .mb-3;  // removed to prevent back button jumping - need to see where this is actually needed
  color: #0047CC;
  text-decoration: none;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: ~"calc(100% - (.5rem * 2))";
}

// legend styling
.map-kpi-outer {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.map-kpi {
  padding: 10px;
  background-color: rgb(0, 98, 115) !important;
  border-radius: 10px;
  color: #ffffff;
}

.map-kpi .row {
  margin-left: 0;
  margin-right: 0;
}

.map-legend-title {
  margin-bottom: 5px;
}

.map-legend-color {
    width: 25px;
    height: 25px;
}

// maps and charts popup handling. modified from datamaps css.
.locPopup, .chartPopup {
  position: absolute;
  z-index: @zindexMapsPopup;
  pointer-events: inherit !important;  // nvd3 disables pointer-events on some shared classes
}

.locPopup .hoverinfo {
  background-color: rgba(255, 255, 255, 0.9);
}

.chartPopup .hoverinfo {
  background-color: rgba(255, 255, 255, 1);
  padding: .25em;
}

.locPopup .secondary-location-selector {
  background-color: white;
  box-shadow: 1px 1px 5px #888;
}

.locPopup .secondary-location-selector .modal-header {
    padding: 5px;
}

.locPopup .secondary-location-selector .modal-body {
    display: grid;
}

.locPopup .secondary-location-selector .modal-body button {
    margin: 0 0 8px 0;
}

// nvd3 chart customizations

// reduce font size of x-axis labels
.nvd3 text {
  font-size: 10px;
}

// reduce width of tooltip and wrap text if overflows
.chartPopup .hoverinfo {
  width: 150px !important;
  white-space: normal;
  word-break: break-all;
}

.chartPopup {
  color: black;
  margin-left: -40px;
  background: rgba(255,255,255, 0.8);
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 4px;
}

//adjusting margin of tooltip to prevent it from going off screen
.nvtooltip {
  width: 135px !important;
  white-space: normal;
  word-break: break-all;
}

//by default labels and vertical lines opacity is made 0 instead of
// wrapping when label is long to avoid overlap
#mobile-bar-chart text, #mobile-bar-chart line, #mobile-line-chart text, #mobile-line-chart line {
  opacity: 1 !important;
}

#mobile-bar-chart .nv-x .nv-axis text, #mobile-line-chart .nv-x .nv-axis text {
  fill: @blueColor;
}

#mobile-bar-chart .nv-y .nv-axis text, #mobile-line-chart .nv-y .nv-axis text {
  fill: @oliveColor;
}

.blue-dot {
  background: @blueColor;
}

.olive-dot {
  background: @oliveColor;
}

.label-representation-dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  .mr-2;
}
.pse-photo-submission {
  height: 125px;
  width: 125px;
  border: 1px solid black;
}
