@import "app";

@nav-menu-width: 300px;

.sideNavigation {
  .dark-background;
  .h-100vh;
  .position-fixed;
  padding-bottom: 2rem;
  padding-top: 2rem;
  left: -(@nav-menu-width);
  z-index: 1000;
  width: @nav-menu-width;
  transition: all 0.4s;
}

.navigation-font {
  .font-weight-600;
  .font-16;
  .font-montserrat;
  .text-white;
  .pt-3;
  .pb-3;
}

.menu-options {
  .d-flex;
  .align-items-center;
  .mb-3;
  .pl-3;
  .pr-3;
}
.menu-options:hover, .close-icon:hover {
  background-color: #363c51!important;
}
.close-icon {
  .position-absolute;
  width: 15px;
  top: 15px;
  right: 15px;
}
#nutrition, #reach, #demographics, #infrastructure {
  overflow: auto;
}
.sub-links:active, .sub-links:hover, .sub-links:focus, .sub-links {
  .text-white;
  text-decoration: none;
  .d-block;
  .w-100
}
.active-mobile-link {
  background: #363c51;
  border-right: 4px solid #00a8c6;
}
.navigation-menu-height {
  overflow: auto;
  padding-bottom: 150px;
  height: ~"calc(100vh - 100px)";
}
