

// Z-Indices

// chosen to match datamaps:
// https://github.com/markmarkoh/datamaps/blob/e11c513a23e1a7b836fee0605d478dc9ca176151/src/js/datamaps.js#L804
@zindexMapsPopup: 10001;
@zindexSortPopup: 1;


// colors
@blueColor: #1342BA;
@oliveColor : #BB9612;
