@import "functions";
@import "commcarehq/variables";
@import "variables";
@import "variables-dark";

.dc-diff-view {
  font-family: $font-family-monospace;
  letter-spacing: 1px;
}

.dc-diff-before,
.dc-diff-after {
  border: 1px solid white;
  margin: $spacer *.13;
  padding-right: $spacer *.5;
  vertical-align: middle;

  &::before {
    display: inline-block;
    color: $white;
    line-height: 12px;
    padding: $spacer *.25 $spacer *.5;
  }
}

.dc-diff-before {
  background-color: $red-100;
  border-color: $red-500;

  &::before {
    background-color: $red-500;
    content: "-";
  }
}

.dc-diff-after {
  background-color: $green-100;
  border-color: $green-500;

  &::before {
    background-color: $green-500;
    content: "+";
  }
}

.dc-inline-edit-block {
  display: block;
  background-color: transparent;
  cursor: text;
  transition: background-color .5s ease-in-out;
  position: relative;
  padding: $spacer * 0.5;
  margin: $spacer * -0.5;

  .dc-inline-edit-action {
    position: absolute;
    right: 0;
    top: calc(50% - 12px);
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }

  .dc-inline-edit-action-text {
    background-color: $white;
    padding: $spacer * .25;
    white-space: nowrap;
    $_offset: $spacer * .6;
    top: calc(50% - $_offset);
    right: $spacer * 0.25;
    font-size: 10px;
    line-height: $spacer * .75;
    text-transform: uppercase;
    font-weight: bold;
  }

  &:hover {
    background-color: rgba(0, 0, 0, .06);
  }

  &:hover .dc-inline-edit-action {
    display: block;
    opacity: 1;

    &.dc-inline-edit-action-text {
      opacity: 1;
    }
  }
}
