{% load i18n %}
{% blocktrans %}
  <p>
    Hello {{ old_user_name }},
  </p>
  <p>
    Your card is no longer being used for autopayment on the account {{billing_account_name}}.
  </p>
  <p>
    A card belonging to <strong><a href="mailto:{{ new_user }}">{{new_user}}</a></strong> is being used instead. If this is expected, you do not have to take any further action, and this card will be used to pay monthly invoices and will be charged on the invoice due date. If this change is unexpected, you can view and alter the credit card information at any time by navigating to your <a href="{{ billing_info_url }}">Billing Information</a> page.
  </p>
  <p>
    Thank you for using CommCare. If you have any questions, please don't hesitate to contact <a href="mailto:accounting@dimagi.com">commcarehq-support@dimagi.com</a>.
  </p>
  <p>
    Best Regards,
  </p>
  <p>
    The CommCare HQ Team<br/>
    www.commcarehq.org
  </p>
  <p>
    Statement From: CommCare HQ and the corporation Dimagi, Inc. 585 Massachusetts Ave, Ste 3, Cambridge, MA 02139 USA
  </p>

{% endblocktrans %}
