{% extends "layout.html" %}
{% block page_imports %}
    {% include "imports/jquery-ui.html" %}
    {% include "imports/datatables.html" %}
{% endblock %}
{% block page_javascripts %}
    <script type="text/javascript">
        // datatable configuration.
        $(document).ready(function() {
            $('.datatable').dataTable({
                "bJQueryUI": true,
                "aaSorting": [[ 3, "desc" ]],
            });
        }); 
    </script>
{% endblock %}
{% block content %}

<table class="datatable">
<thead>
    <tr>
        <th>CHW</th>
        <th>Clinic</th>
        <th># syncs</th>
        <th>Last sync</th>
    </tr>
</thead>
<tbody>
{% for row in sync_data %}
    <tr>
        <td><a href="{% url "phone_sync_logs_for_chw" row.chw.get_id %}">{{ row.chw.formatted_name }}</a></td>
        <td>{{ row.chw.current_clinic_display }}</td>
        <td>{{ row.value }}</td>
        <td>{{ row.last_sync.date }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}