{% extends 'world_vision/multi_report.html' %}
{% load static %}

{% block reporttable %}
    {% if report.needs_filters %}
        {% include 'reports/bootstrap3/partials/description.html' %}
    {% else %}
        <div class={{ report.slug }}>
        {% for reports_list in reports %}
            <div class="row col-md-12">
                {% if rendered_as != 'print' %}
                    {% with report_table=reports_list.0.report_table %}
                        <div class="panel-group" id="accordion_{{ report_table.slug }}">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse"
                                   data-parent="#accordion_{{ report_table.slug }}"
                                   href="#collapse_{{ report_table.slug }}">
                                    <i id="collapse_icon_{{ report_table.slug }}" class="fa fa-chevron-down"></i>
                                    <span style="font-size: 16px;">{{ report_table.title }}<br/><small>{{ subtitle1 }}</small><br/><small>{{ subtitle2 }}</small></span>
                                </a>
                            </div>
                            <div id="collapse_{{ report_table.slug }}" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    {% for report in reports_list %}
                                        {% include 'world_vision/partials/horizontal_report_table.html' with counter=parent.forloop.counter report_table=report.report_table charts=report.charts chart_span=report.chart_span %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <script>
                            $('#collapse_{{ report_table.slug }}').on('hide.bs.collapse', function () {
                                $("#collapse_icon_{{ report_table.slug }}").removeClass("fa-chevron-down").addClass("fa-chevron-up");
                            });

                            $('#collapse_{{ report_table.slug }}').on('show.bs.collapse', function () {
                                $("#collapse_icon_{{ report_table.slug }}").removeClass("fa-chevron-up").addClass("fa-chevron-down");
                            });
                        </script>
                    {% endwith %}
                {% else %}
                    {% for report in reports_list %}
                        {% include 'world_vision/partials/horizontal_report_table.html' with counter=parent.forloop.counter report_table=report.report_table charts=report.charts chart_span=report.chart_span %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}
