{% extends 'reports/filters/bootstrap3/base.html' %}
{% load hq_shared_tags %}
{% load i18n %}
{% block filter_content %}
    <div class="form-inline">
            <label for="{{ css_id }}_startdate" class="sub-label">{% trans 'From' %}</label>
            <input type="text"
                   id="{{ css_id }}_startdate"
                   name="{% ifnotequal slug 'datespan' %}{{ slug }}_{% endifnotequal %}startdate"
                   class="date-picker form-control"
                   value="{{ datespan.startdate }}">

            <button id="{{ css_id }}_startdate_clear_button" class="btn btn-default" type="button"><i class="fa fa-close"></i></button>

            <label for="{{ css_id }}_enddate" class="sub-label" style="margin-left:10px;">{% trans 'To' %}</label>
            <input type="text"
                   id="{{ css_id }}_enddate"
                   name="{% ifnotequal slug 'datespan' %}{{ slug }}_{% endifnotequal %}enddate"
                   class="date-picker form-control"
                   value="{{ datespan.enddate }}">
            <button id="{{ css_id }}_enddate_clear_button"  type="button" class="btn btn-default"><i class="fa fa-close"></i></button>
            <span class="help-inline" style="margin-left:10px;">
                {% if timezone %}
                {% blocktrans %}This report's timezone is {{ timezone }}.{% endblocktrans %}
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
{% block filter_js %}
{% ifequal slug 'datespan'  %}
<script type="text/javascript">
    $(function () {
        $(standardHQReport.filterAccordion).trigger('hqreport.filter.datespan.startdate', '');
        $(standardHQReport.filterAccordion).trigger('hqreport.filter.datespan.enddate', '');

        $('#{{ css_id }}_startdate_clear_button').click(
            function(){
                $('#{{ css_id }}_startdate').val('');
        });
        $('#{{ css_id }}_enddate_clear_button').click(
            function(){
                $('#{{ css_id }}_enddate').val('');
        });
    });
</script>
{% endifequal %}
{% endblock %}
