{% extends 'world_vision/multi_report.html' %}
{% load static %}


{% block reporttable %}
{% if report.needs_filters %}
    {% include 'reports/bootstrap3/partials/description.html' %}
{% else %}
    <div class={{ report.slug }}>
        <div class="row col-md-12">
            <div class="col-md-4">
                {% include 'world_vision/partials/report_table.html' with counter=1 report_table=reports.mother_registration_details.report_table charts=reports.mother_registration_details.charts chart_span=reports.mother_registration_details.chart_span %}
            </div>
            <div class="col-md-4">
                {% include 'world_vision/partials/report_table.html' with counter=2 report_table=reports.closed_mother_cases_breakdown.report_table charts=reports.closed_mother_cases_breakdown.charts chart_span=reports.closed_mother_cases_breakdown.chart_span %}
            </div>
            <div class="col-md-4">
                {% include 'world_vision/partials/report_table.html' with counter=3 report_table=reports.pregnant_mother_by_trimester.report_table charts=reports.pregnant_mother_by_trimester.charts chart_span=reports.pregnant_mother_by_trimester.chart_span %}
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-4">
                {% include 'world_vision/partials/report_table.html' with counter=4 report_table=reports.ante_natal_care_service_overview_extended.report_table charts=reports.ante_natal_care_service_overview_extended.charts chart_span=reports.ante_natal_care_service_overview_extended.chart_span %}
            </div>
            <div class="col-md-4">
                {% include 'world_vision/partials/report_table.html' with counter=5 report_table=reports.postnatal_care_overview.report_table charts=reports.postnatal_care_overview.charts chart_span=reports.postnatal_care_overview.chart_span %}
            </div>
            <div class="col-md-4">
                {% include 'world_vision/partials/report_table.html' with counter=6 report_table=reports.Cause_of_maternal_deaths.report_table charts=reports.Cause_of_maternal_deaths.charts chart_span=reports.Cause_of_maternal_deaths.chart_span %}
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-4">
                {% include 'world_vision/partials/report_table.html' with counter=7 report_table=reports.delivery_place_details.report_table charts=reports.delivery_place_details.charts chart_span=reports.delivery_place_details.chart_span %}
            </div>
            <div class="col-md-4">
                {% include 'world_vision/partials/report_table.html' with counter=8 report_table=reports.delivery_live_birth_details.report_table charts=reports.delivery_live_birth_details.charts chart_span=reports.delivery_live_birth_details.chart_span %}
            </div>
            <div class="col-md-4">
                {% include 'world_vision/partials/report_table.html' with counter=9 report_table=reports.child_registration_details.report_table charts=reports.child_registration_details.charts chart_span=reports.child_registration_details.chart_span %}
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-4">
                {% include 'world_vision/partials/report_table.html' with counter=10 report_table=reports.closed_child_cases_breakdown.report_table charts=reports.closed_child_cases_breakdown.charts chart_span=reports.closed_child_cases_breakdown.chart_span %}
            </div>
            <div class="col-md-4">
                {% include 'world_vision/partials/report_table.html' with counter=11 report_table=reports.immunization_overview.report_table charts=reports.immunization_overview.charts chart_span=reports.immunization_overview.chart_span %}
            </div>
            <div class="col-md-4">
                {% include 'world_vision/partials/report_table.html' with counter=12 report_table=reports.children_deaths.report_table charts=reports.children_deaths.charts chart_span=reports.children_deaths.chart_span %}
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-4">
                {% include 'world_vision/partials/report_table.html' with counter=13 report_table=reports.children_birth_weights_1.report_table charts=reports.children_birth_weights_1.charts chart_span=reports.children_birth_weights_1.chart_span %}
                {% include 'world_vision/partials/report_table.html' with counter=14 report_table=reports.children_birth_details_2.report_table charts=reports.children_birth_details_2.charts chart_span=reports.children_birth_details_2.chart_span %}
            </div>
            <div class="col-md-4">
                {% include 'world_vision/partials/report_table.html' with counter=15 report_table=reports.children_feeding_details.report_table charts=reports.children_feeding_details.charts chart_span=reports.children_feeding_details.chart_span %}
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-4">
                {% include 'world_vision/partials/report_table.html' with counter=16 report_table=reports.Child_health_indicators.report_table charts=reports.Child_health_indicators.charts chart_span=reports.Child_health_indicators.chart_span %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}