{% load i18n %}
{% load hq_shared_tags %}
<div class="form-group">
        <label class="control-label col-sm-2">
            {% trans "Display Condition" %}
            <span class="hq-help-template"
                  data-title="{% trans "Display Condition" %}"
                  data-content="{% blocktrans %}The form will not appear in this module's form menu unless this condition is met. Read more on the <a target='_blank' href='https://confluence.dimagi.com/display/commcarepublic/Form+Display+Conditions'>Help Site</a>.{% endblocktrans %}"
            ></span>
        </label>
        <div id="form-filter" class="col-sm-4 row">
            <div data-bind="valueOrNoneUI: {
                value: formFilter,
                allowed: formFilterAllowed,
                messages: errorMessages,
            }">
            </div>
        </div>
    </div>
