{% load hq_shared_tags %}
{% load i18n %}

<div id="ko-tabs-push-content" class="ko-template">
  <h3>{% trans "Push Content" %}</h3>
  <p>
    {% blocktrans %}
      Prepare a new release by selecting which data models you would like to push to the selected downstream project spaces.<br/>
      <a href="#" target="_blank">Learn more</a> about pushing release content with linked projects.
    {% endblocktrans %}
  </p>
  <div class="spacer"></div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 col-md-2 control-label">
        {% trans "Models" %}
      </label>
      <div class="col-sm-9 col-md-10 controls">
        <select multiple class="form-control"
                data-bind="selectedOptions: modelsToRelease,
                           multiselect: {
                               selectableHeaderTitle: '{% trans_html_attr "All content" %}',
                               selectedHeaderTitle: '{% trans_html_attr "Content to release" %}',
                               searchItemTitle: '{% trans_html_attr "Search content" %}',
                          }">
          {% for model in view_data.master_model_status %}
            <option value="{% html_attr model %}">{{ model.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 col-md-2 control-label">
        {% trans "Projects" %}
      </label>
      <div class="col-sm-9 col-md-10 controls">
        <select multiple class="form-control"
                data-bind="selectedOptions: domainsToRelease,
                           multiselect: {
                               selectableHeaderTitle: '{% trans_html_attr "All projects" %}',
                               selectedHeaderTitle: '{% trans_html_attr "Projects to release to" %}',
                               searchItemTitle: '{% trans_html_attr "Search projects" %}',
                          }">
          {% for link in view_data.linked_domains %}
            {% if not linked_domain.is_remote %}
              <option value="{{ link.linked_domain }}">{{ link.linked_domain }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 col-md-2 control-label" for="build-apps">
        {% trans "Rebuild Applications" %}
      </label>
      <div class="col-sm-9 col-md-10 controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: buildAppsOnRelease" />
          {% trans "Create and release new build for apps" %}
        </label>
      </div>
    </div>
    <div class="form-actions">
      <div class="col-sm-offset-3 col-md-offset-2 controls col-sm-9 col-md-8 col-lg-6">
        <button type="button" class="btn btn-primary" data-bind="click: createRelease, enable: enableReleaseButton">
          <i class="fa fa-refresh fa-spin icon-refresh icon-spin" data-bind="visible: releaseInProgress"></i>
          {% trans "Create Release" %}
        </button>
      </div>
    </div>
  </form>
</div>
