{% load hq_shared_tags %}
{% load i18n %}

<script type="text/template" id="query-view-item-template">
  <% if (contentTag !== 'td') { %><td><% } %>
  <<%- contentTag %>
    class="<% if (contentTag === 'td') { %>col-sm-6 <% } %>query-caption
           <% if (required) { %> required<% } %>">
    <div class="d-flex justify-content-between">
      <label class="form-label fw-bold" for="<%- text ? text : "" %>">
        <%- text ? text : "" %>
      </label>
      <% if (typeof hint !== "undefined" && hint !== null) { %>
      <div class="hq-help" data-bs-toggle="popover">
        <a href="#" tabindex="-1" title="<%- text ? text : "" %>" data-bs-content="<%- hint ? hint : "" %>">
          <i class="fa fa-question-circle icon-question-sign" tabindex="0"></i>
        </a>
      </div>
      <% } %>
    </div>
  </<%- contentTag %>>
  <<%- contentTag %>
    class="<% if (contentTag === 'td') { %>col-sm-6 <% } else { %>input-group-sm <% } %>query-input-group">

    <% if (input == "select1") { %>
    <select class="query-field form-select hqwebapp-select2<% if (errorMessage) { %> is-invalid<% } %>"
            data-receive="<%- receive %>"<% if (required) { %> aria-required="true"<% } %>>
        <option value=""></option>
        <% for (let key in itemsetChoicesDict) { %>
        <option value="<%- key %>" <% if (value === String(key)) { %>selected<% } %>>
            <%- itemsetChoicesDict[key] %>
        </option>
        <% } %>
    </select>

    <% } else if (input == "select") { %>
    <select multiple
            class="query-field form-select hqwebapp-select2<% if (errorMessage) { %> is-invalid<% } %>"
            data-receive="<%- receive %>"<% if (required) { %> aria-required="true"<% } %>>
        <% for (let key in itemsetChoicesDict) { %>
        <option value="<%- key %>" <% if (value && value.indexOf(String(key)) > -1) { %>selected<% } %>>
            <%- itemsetChoicesDict[key] %>
        </option>
        <% } %>
    </select>

    <% } else if (input === "date") { %>
    <div class="input-group">
      <input id="<%- text ? text : "" %>"
             type="text"
             class="date query-field form-control<% if (errorMessage) { %> is-invalid<% } %>"
             value="<%- value %>"
             <% if (required) { %> aria-required="true"<% } %>>
      <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
    </div>

    <% } else if (input === "daterange") { %>
    <input id="<%- text ? text : "" %>"
           type="text"
           class="daterange query-field form-control<% if (errorMessage) { %> is-invalid<% } %>"
           value="<%- value %>"
           <% if (required) { %> aria-required="true"<% } %>>

    <% } else if (input === "checkbox") { %>
    <fieldset multiple
              class="query-field<% if (errorMessage) { %> is-invalid<% } %>"
              id="<%- text ? text : "" %>" <% if (required) { %> aria-required="true"<% } %>>
      <legend class="sr-only"><%- text ? text : "" %></legend>
      <% for (let key in itemsetChoicesDict) { %>
      <div class="form-check">
        <input type="checkbox"
               value="<%- key %>"
               <% if (value && value.indexOf(String(key)) !== -1) { %>checked<% } %>
               id="<%- text ? text : "checkbox" %>-<%- key %>"
               class="form-check-input<% if (errorMessage) { %> is-invalid<% } %>">
        <label class="form-check-label" for="<%- text ? text : "checkbox" %>-<%- key %>">
          <%- itemsetChoicesDict[key] %>
        </label>
      </div>
      <% } %>
    </fieldset>

    <% } else if (input == "address") { %>
    <!-- ARIA live region for highlighted geocoder values, populated via javascript -->
    <div role="region" aria-live="polite" class="sr-only" id="<%- id %>_mapbox-sr"></div>
    <div class="query-field" value="<%- value %>" id="<%- id %>_mapbox" data-address="<%- id %>">
    </div>

    <% } else { %>

    <input id="<%- text ? text : "" %>"
           type="text"
           class="query-field form-control<% if (errorMessage) { %> is-invalid<% } %>"
           value="<%- value %>"
           data-receive="<%- receive %>"
           <% if (required) { %> aria-required="true"<% } %>>
    <% } %>

    <% if (errorMessage) { %> <div class="invalid-feedback"> <%- errorMessage || "" %> </div> <% } %>
    <% if (allow_blank_value) { %>
      <div class="form-check">
        <input type="checkbox" class="form-check-input search-for-blank" <% if (searchForBlank) { %>checked<% } %> id="<%- id %>_allow_blank">
        <label class="form-check-label" for="<%- id %>_allow_blank">
          {% trans "Include results where '<%- text %>' is blank" %}
        </label>
      </div>
    <% } %>

  </<%- contentTag %>>
  <% if (contentTag !== 'td') { %></td><% } %>
</script>
