{% extends "users/users_base.html" %}
{% load i18n %}
{% block user-view %}
<div class='all_users'>
        <table class='big_border'>
            {% for group in all_groups %}
                <tr>
                    <th>{% if forloop.first %}{% trans "Groups" %}:{% endif %}</th>
                    <td><a href="{% url group_members domain group.name %}">{{ group.name }}</a></td>
                    <td>
                        <a class="delete_link" href="#"></a>
                        <div class="delete_dialog" title="Delete {{ group.name }}?">
                          <form  name="delete_group" action="{% url delete_group domain group.get_id %}" method="POST">
                              <table>
                                  <tr><td>
                                  Are you sure you want to delete the group: "{{ group.name }}"?
                                  </td></tr>
                              </table>
                              <input type="submit" value="Delete" />
                          </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th>{% trans "Add New Group" %}:</th>
				<td>
                    <form name="add_group" method="POST" action="{% url add_group domain %}">
                        <input type="text" name="group_name"></input>
                        <input type="submit" class="small" value="Add"/>
                    </form>
                </td>
				<td></td>
			</tr>
        </table>
</div>
{% endblock %}

