{% extends "groups/all_groups.html" %}
{% load i18n %}
{% load hq_shared_tags %}

{% block head %} {{ block.super }}
    <style type="text/css">
        .group-bubble {
            margin: .3em 0 .8em;
        }
    </style>
{% endblock %}

{% block js-inline %}{{ block.super }}
    <script type="text/javascript">
        $(function () {
            var i, j, index,
                wrapper = $('#non-members'),
                users = wrapper.find(' > *'),
                nCols = 3,
                nNames = Math.ceil(users.length*1.0/nCols),
                col;
            for (i = 0; i < nCols; i += 1) {
                col = $('<div/>').addClass('user-bubbles').appendTo(wrapper);
                for (j = 0; j < nNames; j += 1) {
                    index = i * nNames + j;
                    if (index < users.length) {
                        users.slice(index, index + 1).appendTo(col);
                    }
                }
            }
        });
    </script>
{% endblock %}

{% block subsection-title %}
    <li>
        <a href="{% url all_groups domain %}">Groups</a> <span class="divider">&gt;</span>
    </li>
    <li class="active">
        <a href="#">Editing Group "{{ group.name }}"</a>
    </li>
{% endblock %}

{% block groups_indicator %}
    <ul class="nav nav-list">
        <li class="active"><a href="#">Editing "{{ group.name }}"</a></li>
    </ul>
{% endblock %}

{% block group-info %}
<div class="row-fluid">
    <div class="span12">
        <h2>Group "{{ group.name }}" {% if group.case_sharing %} (Case Sharing){% endif %}</h2>
        <div class="btn-toolbar">
            <a href="#editGroupSettings" class="btn" data-toggle="modal"><i class="icon icon-pencil"></i> Edit Settings</a>
            <form name="delete_group" style="margin-right: 45px;" class="pull-right" action="{% url delete_group domain group.get_id %}" method="post">
                <button class="btn btn-danger" type="submit"><i class="icon icon-white icon-remove"></i> Delete Group "{{ group.name }}"</button>
            </form>
        </div>

        <div class="modal hide fade" id="editGroupSettings">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Edit Settings for Group "{{ group.name }}"</h3>
            </div>
            <form class="form form-horizontal" method="post" action="{% url edit_group domain group.get_id %}">
                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label" for="group-name-input">Group Name</label>
                        <div class="controls">
                            <input type="text" value="{{ group.name }}" name="name" id="group-name-input" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="group-case-sharing-input">Case Sharing</label>
                        <div class="controls">
                            <select class="input-small" name="case_sharing" id="group-case-sharing-input" data-value="{{ group.case_sharing|BOOL }}">
                                <option value="true">On</option>
                                <option value="false">Off</option>
                            </select>
                            <p class="help-block">Whether users within this group will share cases with other members of this group</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="group-reporting-input">Reporting</label>
                        <div class="controls">
                            <select class="input-small" name="reporting" id="group-reporting-input" data-value="{{ group.reporting|BOOL }}">
                                <option value="true">On</option>
                                <option value="false">Off</option>
                            </select>
                            <p class="help-block">Whether this group's name will appear in the group filter list for reports</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}

{% block group-view %}
    <div class="row-fluid">
        <div class="span6" id="members">
            <h3>{% commcare_user %}s in Group</h3>
            <div class="well">
                {% for member in members %}
                    <form class="group-bubble" name="leave_group" action="{% url leave_group domain group.get_id member.user_id %}" method="post">
                        <input type="hidden" name="redirect_url" value="group_members" />
                        <button type="submit" class="btn btn-primary"><i class="icon icon-white icon-minus"></i> {{ member.raw_username }}</button>
                    </form>
                {% endfor %}
            </div>
        </div>
        <div class="span6" id="non-members">
            <h3>Available {% commcare_user %}s</h3>
            <div class="well">
                {% for nonmember in nonmembers %}
                    <form class="group-bubble" name="join_group" action="{% url join_group domain group.get_id nonmember.get_id %}" method="post">
                        <input type="hidden" name="redirect_url" value="group_members" />
                        <button type="submit" class="btn btn-success"><i class="icon icon-white icon-plus"></i> {{ nonmember.raw_username }}</button>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

