{% extends "buildmanager/base.html" %}
{% load i18n %}
{% block title %}{% trans "Builds for Project: " %}{{ project }}{% endblock %}
{% block buildmanager_content %}
<h2>{% trans "Project" %} {{project.name}}</h2>
<p>{{project.description}} <a href="{{project.get_buildURL}}">(View on Build Server)</a></p>
{% if latest_build %}
   <b>Latest Released Build:</b>
       <a href="{% url buildmanager.views.show_latest_build project.id %}">view</a> |   
       <a href="{{latest_build.get_jar_downloadurl}}">download jar</a> | 
       <a href="{{latest_build.get_jad_downloadurl}}" onmouseout="hideTooltip()" onmouseover="showTooltip(event,'{{latest_build.get_jad_contents}}');return false">download jad</a>
   <br>        
{% endif %}
<br>
{% if build_map %}
    {% include "buildmanager/partials/project_builds.html" %}
{% endif %}
{% endblock %}