@font-path: "/static/app_manager/less/font";
@css-prefix: wf;
@inverse: #ffffff;
@font-family: 'WorkflowFontRegular';
@font-name: 'workflowfont-regular';
@version: '1.1';

@var-workflow-a: "\f000";
@var-workflow-b: "\f001";
@var-workflow-c: "\f002";
@var-update: "\f003";
@var-register: "\f004";
@var-complete: "\f005";
@var-arrownext: "\f006";

@var-recordlist-create: "\f007";
@var-recordlist-update: "\f008";
@var-recordlist-complete: "\f009";

@var-recordlist-branch: "\f00a";
@var-recordlist-branch-last: "\f00b";
