<table class="datatable"  width="100%">
	<thead>
		<tr>
			<th><a href="">Username</a></th>
			<th><a href="">Phone number</a></th>
			<th><a href="">Type</a></th>
			<th><a href="">Time</a></th>
			<th><a href="">Message</a></th>
		</tr>
	</thead>

	<tbody>{% if messagelog %}
		{% for message in messagelog %}
		<tr>
            <td>{{ message.username }}</td>
			<td>{{ message.phone_number }}</td>
			<td>{% if message.direction == "I" %}Received
				{% else %}Sent
				{% endif %}
			</td>
			<td>{{ message.date|date:"D, M d, G:i:s" }}</td>
			<td>{{ message.text }}</td>
		</tr>
		{% endfor %}
		{% else %}
		<tr class="no-data">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>No messages yet.</td>
		</tr>
		{% endif %}
	</tbody>
</table>
