{% load hq_shared_tags %}
{% load i18n %}

<div id="map-widget-{{ widget.id }}" class="paginated-map-widget mb-4">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">{{ widget.title }}</h5>
      {% include "campaign/partials/edit_widget_button.html" with widget_type='map' %}
    </div>

    <!-- TODO: This needs pagination support -->
    <div class="card-body p-0">
      <div id="error-alert-{{ widget.id }}" class="alert alert-danger d-none">
        {% blocktrans %}
          Something went wrong while loading this widget! Please try again.
        {% endblocktrans %}
      </div>
      <div class="row g-0">
        <!-- Left Column: Filter Space -->
        <div class="col-md-4 border-end">
          <div id="map-widget-filters-{{ widget.id }}" class="p-3">
            {% include "reports/standard/partials/bootstrap5/filter_panel.html" %}
          </div>
        </div>

        <!-- Right Column: Map -->
        <div class="col-md-8">
          <div class="position-relative">
            <div
              id="map-container-{{ widget.id }}"
              data-case-type="{{ widget.case_type }}"
              data-gps-prop="{{ widget.gps_prop_name }}"
              class="map-container"
              style="height:500px"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Popup for map markers -->
<script type="text/html" id="select-case">
  <small data-bind="html: getItemType()"></small>
  <div class="form-check">
    <label
      class="form-check-label"
      data-bind="html: $data.link, attr: {for: selectCssId}"
    ></label>
  </div>
</script>
