{% load crispy_forms_tags %}
{% load i18n %}

{% if show_success %}
  <div class="alert alert-success alert-dismissable" role="alert">
    {% blocktrans %}
      Saved! Reloading, please wait..
    {% endblocktrans %}
    <button
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="{% trans Close %}"
    ><span aria-hidden="true">&times;</span></button>
  </div>
{% endif %}

<form
  hq-hx-action="save_widget"
  hx-post="{{ request.path_info }}"
  hx-target="#widget-form"
  hx-swap="innerHTML"
  hx-vals='{
    "widget_type": "{{ widget_type }}",
    "widget_id": "{{ widget.id }}"
  }'
  hx-disabled-elt="find input[type='submit']"
>
  {% crispy widget_form %}
</form>
