<li class="action" id="[%= id %]-action">
    <label for="[%= id %]">
        <input type="checkbox" class="action-checkbox" id="[%= id %]" [%= casexml.renderChecked(casexml.actions[action_type]) %]>
        [%= label %]
    </label>
    <div class="well">[%= action_body %]</div>

</li>
