[% if(questions.length) { %]
    <ul class="list-unstyled">
        <li>
                Requires
                [%= renderOptions([
                    {value: "none", label: "neither a case nor a referral"},
                    {value: "case", label: "just a case"},
                    {value: "referral", label: "a case and a referral"}
                ], requires, 'requires', false) %]
        </li>
        [% if(requires == "none") { %]
            [%= renderAction("open_case", "Opens a case") %]
        [% } %]
        [%= renderAction("update_case", "Updates the case") %]
        [% if(requires != "none") { %]
            [%= renderAction("case_preload", "Loads data from the case") %]
            [%= renderAction("close_case", "Closes the case") %]
        [% } %]
        [% if(requires != "referral") { %]
            [%= renderAction("open_referral", "Opens a referral") %]
        [% } %]
        [% if(requires == "referral") { %]
            [%= renderAction("update_referral", "Updates the referral") %]
            [%= renderAction("referral_preload", "Loads data from the referral") %]
            [%= renderAction("close_referral", "Closes the referral") %]
        [% } %]
    </ul>
[% } else { %]
    <p class="warning">
        Your form has no usable questions for Case & Referral configuration.
    </p>
[% } %]
