[% if(questions.length) { %]
    <ul class="unstyled">
        <li>
                Requires
                [%= renderOptions([
                    {value: "none", label: "no case"},
                    {value: "case", label: "a case"}
                ], requires(), 'requires', false) %]
        </li>

        [% if(requires() == "none") { %]
            [%= renderAction("open_case", "Opens a case") %]
        [% } %]

        [% if(requires() != "none") { %]
            [%= renderAction("case_preload", "Loads data from the case") %]
        [% } %]

        [%= renderAction("update_case", "Updates the case") %]

        [% if(requires() != "none") { %]
            [%= renderAction("close_case", "Closes the case") %]
        [% } %]
    </ul>
[% } %]