
[% if(condition && condition.type == "if") { %]
    <div class="condition">
        <input type="checkbox" name="if" [% if(condition && condition.type == "if") { %]checked="true"[% } %] />
        if
        <span>
             the answer to
            [%= casexml.renderOptions(casexml.getQuestions('select1'), condition.question, 'condition-question') %]
            is
            [%= casexml.renderOptions(casexml.getAnswers(condition), condition.answer, 'condition-answer', false) %]
        </span>
    </div>
[% } %]
