[% if(casexml.edit) { %]
    <select name="[%= name %]">
        [% if(allowNull) { %]<option></option>[% } %]
        [% options.forEach(function(o){ %]
            <option value='[%= o.value %]' title='[%= casexml.escapeQuotes(o.label) %]'
                    [% if(value == o.value) { %]selected='true'[% } %]>
                [%= casexml.truncateLabel(o.label) %]
            </option>;
        [% }); %]
    </select>
[% } else { %]
    [% options.forEach(function(o){ %]
        [% if(value == o.value) { %]
            <span class="no-edit-select">[%= o.label %]</span>
        [% } %]
    [% }); %]
[% } %]