<table>
    <tr>
        <th class="span4">Question</th>
        <th class="span4">Case Property</th>
        <th></th>
    </tr>

    [% _(casexml.sortByQuestions(map, keyType === 'nodeset' ? 'keys' : 'values')).each(function (pair) { %]
        [%
            var nodeset = keyType === "nodeset" ? pair[0] : pair[1];
            var propertyName = keyType === "nodeset" ? pair[1] : pair[0];
        %]
        <tr class="action-update">
            <td>
                [%= casexml.renderOptions(casexml.getQuestions("all"), nodeset, 'action-update-value') %]
            </td>
            <td>
                [%
                    var value = nodeset.split('/');
                    value = value[value.length-1];
                %]
                <input class="code" type="text" name="action-update-key" value="[%= propertyName || value %]" />
            </td>
            <td>
                [% if (propertyName === "") { %]
                    <span class="invalid">Can't be blank</span>
                [% } else if (!/^[a-zA-Z][\w_-]*(\/[a-zA-Z][\w_-]*)*$/.test(propertyName)) { %]
                    <span class="invalid">Must start with letter and contain only letters, numbers, '-', and '_': "[%= propertyName %]"</span>
                [% } else if (reservedWords.indexOf(propertyName) !== -1) { %]
                    <span class="text-error"><strong>[%= propertyName %]</strong> is a reserved word</span>
                [% } else if (propertyName === 'name') { %]
                    <span class="label">The Case's Name</span>
                [% } else if (propertyName !== value && showSuggestion) { %]
                    <span class="">[%= value %]?</span>
                [% } %]
            </td>
        </tr>
    [% }); %]
    <tr class="action-update">
        <td>
            [%= casexml.renderOptions(casexml.getQuestions("all"), "", 'action-update-value') %]
        </td>
        <td><input class="code" type="text" name="action-update-key" /></td>
    </tr>
</table>
