{% load i18n %}
{% load hq_shared_tags %}

<div class="panel panel-appmanager">
  <div class="panel-body">
    <table class="table table-profiles">
      <thead>
      <tr class="row form-group">
        <th>{% trans "Version Number" %}</th>
        <th>{% trans "Update Type" %}</th>
        <th>{% trans "Time" %}</th>
        <th>{% trans "User" %}</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row" style="height:20px;">
        <td class="col-sm-3">
          213
        </td>
        <td class="col-sm-3">
          Released
        </td>
        <td class="col-sm-3">
          Aug 18 1999
        </td>
        <td class="col-sm-3">
          pverma@dimagi.com
        </td>
      </tr>
      <tr class="row">
        <td class="col-sm-3">
          213
        </td>
        <td class="col-sm-3">
          Released
        </td>
        <td class="col-sm-3">
          Aug 18 1999
        </td>
        <td class="col-sm-3">
          pverma@dimagi.com
        </td>
      </tr>
      <tr class="row">
        <td class="col-sm-3">
          213
        </td>
        <td class="col-sm-3">
          Released
        </td>
        <td class="col-sm-3">
          Aug 18 1999
        </td>
        <td class="col-sm-3">
          pverma@dimagi.com
        </td>
      </tr>
      <tr class="row">
        <td class="col-sm-3">
          213
        </td>
        <td class="col-sm-3">
          Released
        </td>
        <td class="col-sm-3">
          Aug 18 1999
        </td>
        <td class="col-sm-3">
          pverma@dimagi.com
        </td>
      </tr>
      <tr class="row">
        <td class="col-sm-3">
          213
        </td>
        <td class="col-sm-3">
          Released
        </td>
        <td class="col-sm-3">
          Aug 18 1999
        </td>
        <td class="col-sm-3">
          pverma@dimagi.com
        </td>
      </tr>
      <tr class="row">
        <td class="col-sm-3">
          213
        </td>
        <td class="col-sm-3">
          Released
        </td>
        <td class="col-sm-3">
          Aug 18 1999
        </td>
        <td class="col-sm-3">
          pverma@dimagi.com
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>