{% load hq_shared_tags %}
{% load i18n %}
<div id="releases-table" class="hide" data-bind="css: {hide: false}">
  <div class="alert alert-danger hide" data-bind="visible: brokenBuilds, css: {hide: false}">
    <p>
      <i class="fa fa-exclamation-circle"></i>
      {% blocktrans %}
        One or more of your versions is broken, please make sure it is
        not marked as released. Make a new version if needed, and update
        any live deployments as soon as possible.
      {% endblocktrans %}
    </p>
    <p>
      <small>
        {% blocktrans %}
          All new versions should work, so if problems persist, please report the issue.
        {% endblocktrans %}
      </small>
    </p>
  </div>
  <p class="pull-right auto-release-notes" data-bind="visible: savedApps().length || onlyShowReleased()">
    <a href="#" data-bind="click: toggleLimitToReleased"><span data-bind="visible: !onlyShowReleased()">{% trans 'Show only released versions' %}</span></a>
    <span data-bind="visible: onlyShowReleased()">
            {% trans 'Released versions only' %}
        </span>
    <a href="#" data-bind="click: toggleLimitToReleased, visible: onlyShowReleased()" class="btn btn-default btn-xs">{% trans 'show all' %}</a>

    <span class="hq-help-template"
          data-title="Released Versions"
          data-container="body"
          data-content="Mark versions as Released for automatically updating CommCare applications. If the Auto-Update app setting is set to Daily or Weekly, any application versions that are marked as Released will update to the latest Released version automatically. When the user clicks 'Update App' from mobile, the latest Released version will be downloaded."
          data-placement="left">
        </span>
  </p>
  <p>
    {% if can_view_app_diff %}
      <a class="btn btn-default" data-bind="
                attr: {href: compareUnbuiltChangesUrl},
                visible: savedApps().length,
                click: function () { return trackClick('Compare App Versions: Clicked Version Preview'); }
                ">
        <i class="fa-solid fa-right-left"></i>
        {% trans "Preview" %}
      </a>
    {% endif %}
    {% if user.is_superuser %}
      <a class="btn btn-default" href="{% url "app_build_timings" %}?app_id={{ app.id }}" target="_blank">
        <i class="fa-regular fa-clock"></i>
        {% trans "Timing" %}
      </a>
    {% endif %}
    <button class="btn btn-primary" data-bind="
            click: function() {
              trackClick('Clicked Make New Version');
              return makeNewBuild();
            },
            attr: {disabled: !buildButtonEnabled() ? 'disabled' : undefined},
            css: {disabled: !buildButtonEnabled()}">
      <i class="fa fa-spin fa-spinner" data-bind="visible: buildState() === 'pending'"></i>
      {% trans 'Make New Version' %}
    </button>
  </p>

  <div id="build-errors-wrapper"></div>
  <div class="alert alert-warning" data-bind="visible: depCaseTypes().length" id="deprecated-case-types-warning">
    <p>
      <i class="fa fa-warning"></i>
      {% blocktrans %}
        The new application build contains the following deprecated case types:
      {% endblocktrans %}
    </p>
    <ul id="deprecated-case-types-list" data-bind="foreach: depCaseTypes">
      <li data-bind="text: $data"></li>
    </ul>
    <p>
      {% blocktrans %}
        For more information on deprecated case types, see the following
        <a target="_blank" href="https://confluence.dimagi.com/display/commcarepublic/Deprecating+Case+Types+and+Case+Properties+using+Data+Dictionary">documentation</a>.
      {% endblocktrans %}
    </p>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-9">
      <search-box data-apply-bindings="false"
                  params="value: buildComment,
                          action: function() { goToPage(1); },
                          placeholder: '{% trans_html_attr "Version or comment" %}'"></search-box>
    </div>
  </div>

  <div class="alert alert-danger hide"
       data-bind="visible: buildState() == 'error', css: {hide: false}">
    <span data-bind="visible: buildErrorCode() === 403">
      {% trans "Sorry, you don't have permission to do this action!" %}
    </span>
    <span data-bind="visible: buildErrorCode() !== 403, text: errorMessage">
    </span>
  </div>

  <h4 id="loading" class="hide"
      data-bind="visible: showLoadingSpinner(), css: {hide: false}">
    <i class="fa fa-spin fa-spinner"></i>
    {% trans "Loading versions..." %}
  </h4>

  <div class="alert alert-danger hide"
       data-bind="visible: fetchState() === 'error', css: {hide: false}">
    {% trans "An error occurred while fetching versions. Reload the page to try again." %}
  </div>

  <div class="releases-container"
       data-bind="css: {hide: false},
                    template: {foreach: savedApps}" >

    <div class="panel panel-release"
         data-bind="css: {
                'build-released': is_released(),
                'build-unreleased': !is_released(),
                'build-latest-release': version() === $root.latestReleasedVersion(),
                'error': build_broken
            }">
      <div class="panel-heading">
        {% if request|toggle_enabled:"SUPPORT" %}
          <div class="release-trash-container">
            <a href="#"
               class="hide release-remove"
               data-bind="openModal: 'delete-build-modal-template',
                                  visible: !_deleteState(),
                                  css: {hide: false}">
              <i class="fa-regular fa-trash-can"></i>
            </a>
            <div class="pending hide" data-bind="visible: _deleteState() == 'pending', css: {hide: false}">
              <i class="fa fa-spin fa-spinner"></i>
            </div>
            <i class="fa fa-exclamation-circle hide"
               data-bind="visible: _deleteState() == 'error',
                                  css: {hide: false}"></i>
          </div>
        {% endif %}
        <div class="build-is-released">
          <!--ko if: is_released() == 'error' -->

          <span class="label label-danger">{% trans "Could not update" %}</span>

          <!--/ko-->
          <!--ko if: is_released() != 'error' -->

          <span class="label label-info"
                data-bind="visible: version() === $root.latestReleasedVersion()">{% trans "Latest" %}</span>

          <i class="fa fa-spin fa-refresh hide js-release-waiting"></i>
          <div class="btn-group">
            <button type="button"
                    class="btn btn-xs"
                    data-bind="click: $root.toggleRelease,
                                attr: {disabled: !showReleaseOperations()},
                                           css: {
                                              'active': is_released(),
                                              'btn-primary': is_released(),
                                              'btn-default': !is_released(),
                                           }">
              {% trans "Released" %}
            </button>
            <button type="button"
                    class="btn btn-xs btn-default"
                    data-bind="click: $root.toggleRelease,
                                attr: {disabled: !showReleaseOperations()},
                                           css: {
                                              'active': !is_released(),
                                              'btn-primary': !is_released(),
                                              'btn-default': is_released(),
                                           }">
              {% trans "In Test" %}
            </button>
          </div>

          <!--/ko-->
        </div>
        <h4 class="panel-release-title">
          <strong>{% trans "Version" %} <span data-bind="text: version"></span></strong>
          <span data-bind="if: doc_type() == 'LinkedApplication'">
            (<a data-bind="text: upstream_app_name(), attr: {href: upstream_app_url()}"></a>
              v<span data-bind="text: upstream_version"></span>)
          </span>
          |
          <span data-bind="text: built_on_date"></span> <span data-bind="text: built_on_time"></span> {% trans 'by' %}
          <span data-bind="text: comment_user_name"></span>
          <!--ko if: menu_item_label() -->
          {% trans "with CommCare v." %}
          <span data-bind="text: menu_item_label()"></span>
          <!--/ko-->
          <span data-bind="if: !built_with.signed()">{% trans "Unsigned Jar" %}</span>
        </h4>
      </div>
      <div class="panel-body">
        <div class="comment-container">
          <inline-edit params="
                  value: build_comment,
                  iconClass: 'fa fa-comment',
                  rows: 1,
                  placeholder: '{% trans "(Click here to add a comment)"|escapejs %}',
                  url: '{% url "update_build_comment" domain app.id %}',
                  saveParams: {'build_id': id},
                  saveValueName: 'comment',
                  errorMessage:'{% trans "Error updating comment.  Please try again."|escapejs %}',
                  disallow_edit: {{ request.couch_user.can_edit_apps|yesno:"false,true" }},
              "></inline-edit>
        </div>
      </div><!-- .panel-body -->
      <div class="panel-footer clearfix">
        {% if can_view_app_diff %}
          <a class="btn btn-default" data-bind="
                    attr: {href: $parent.reverse(
                            'app_form_summary_diff',
                            $parent.previousBuildId($index()),
                            $data.id())
                          },
                    click: function () {
                        return trackClick('Compare App Versions: Clicked View Changes');
                    }
                    visible: $parent.previousBuildId($index())">
            <i class="fa-solid fa-right-left"></i>
            {% trans "View Changes" %}
          </a>
        {% endif %}
        <button class="btn btn-default hide"
                data-bind="
                             openModal: 'revert-build-modal-template',
                             visible: version() !== $root.currentAppVersion(),
                             css: {hide: false}">
          <i class="fa fa-recycle"></i>
          {% trans "Revert to this Version" %}
        </button>
        <span class="pull-right">
          <a class="btn"
             data-bind="
                    openModal: 'deploy-build-modal-template',
                    css: {'btn-primary': !build_broken(), 'btn-danger': build_broken},
                    click: clickDeploy
                    ">
              <span class="fa fa-exclamation-circle hide"
                    data-bind="visible: build_broken, css: {hide: false}">
              </span>
              {% trans "Publish" %}
          </a>
        </span>
      </div><!-- .panel-footer -->
    </div><!-- .panel-release -->
  </div> <!-- .releases-container -->

  <pagination data-apply-bindings="false"
              params="goToPage: goToPage,
                      perPage: fetchLimit,
                      slug: 'releases-table',
                      totalItems: totalItems,
                      onLoad: onPaginationLoad,
                      showSpinner: showPaginationSpinner"></pagination>

  <script type="text/html" id="delete-build-modal-template">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{% trans "Delete Version?" %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans "Are you sure you want to delete this version" %} (<span data-bind="text: version"></span>)?</p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</a>
          <a class="btn btn-danger" href="#" data-bind="click: $root.deleteSavedApp" data-dismiss="modal">{% trans "Delete Version" %}</a>
        </div>
      </div>
    </div>
  </script>
  <script type="text/html" id="revert-build-modal-template">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{% trans "Revert to Version?" %}</h4>
        </div>
        <div class="modal-body">
          <div class='alert alert-danger' data-bind="visible: !vellum_case_management()">
            {% blocktrans %}
              This version uses an outdated form of case management.
              We advise against reverting back to this version.
            {% endblocktrans %}
          </div>
          <p>{% blocktrans %}
            Are you sure you want to revert to version <span data-bind="text: version"></span>?</p>
          {% endblocktrans %}
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</a>
          <a href="#" class="btn btn-danger" data-bind="click: $root.revertSavedApp" data-dismiss="modal">{% trans "Revert" %}</a>
        </div>
      </div>
    </div>
  </script>
  <script type="text/html" id="deploy-build-modal-template">
    {% include 'app_manager/partials/releases/releases_deploy_modal.html' %}
  </script>
</div><!-- #releases-table -->
