#main_container {
    padding: 0;
}

table.edit_single_user {
    margin: 1em;
    text-align: left;
}

table.user_data {
	margin: 1em;
}

table.user_data th {
    text-align: right;
}

table.user_data td {
    text-align: left;
}

div#error_msg {
    text-align: right;
    color: red;
}

div#status_msg {
    text-align: center;
    vertical-align: middle;
    color: black;
    background-color: #fff;
    opacity: .8;
    position: absolute;
    z-index: 100;
    font-size: 2em;
    padding: 2em;
}

.all_users {
}

/*.all_users a{
    color: blue;
    font-weight: bold;
}*/

.all_users .big_border{
    margin: 15px;
}

tr.odd {
    background-color: #eef;
}
tr.even {
    background-color: #fff;
}
tr.same_as_last td {
    text-indent: 2em;
    font-size: .8em;
}

form th {
    text-align: left;
}
