{% extends "hqwebapp/bootstrap5/base_section.html" %}
{% load hq_shared_tags %}

{% js_entry 'hqcase/js/explode_cases' %}

{% block page_content %}
  {% registerurl "users_select2_options" domain %}

  <div id="explode" class="ko-template">
    <h1>Explode Cases 💣</h1>
    <h2><small>Use at your own risk 🙃</small></h2>
    <div class="row">
      <div class="col-md-12">
        <p>This feature multiplies all the cases in a user's restore by <code>factor</code>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card border-warning mb-3">
          <div class="card-header text-bg-warning">Warning!</div>
          <div class="card-body">
            The case exploder will multiply all cases in the user's restore  by the explode factor entered below. So, for example, if you're exploding a test user with 20 cases, and set the factor to be 200, it will actually give you <strong>4,000</strong> cases, NOT 200. Be careful! For this reason, it's best to create a new test user with only one case to explode.
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <form class="form" action="" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label class="form-label" for="explode-user_id">User</label>
                <select id="explode-user_id"
                        name="user_id"
                        class="input form-control report-filter-single-option-paginated"
                        data-bind="value: user_id"
                        placeholder="Select a User"></select>
              </div>
              <div class="mb-3" id="explode-factor-input">
                <label class="form-label" for="explode-factor">Factor</label>
                <input class="form-control" id="explode-factor" data-bind="value: factor, css: {
                    'is-invalid': factor() < 2 || factor() >= 150
                }" name="factor" />
                <span id="factor-warning" class="text-warning" data-bind="visible: factor() >= 10 && factor() <= 150">
                                    Wowza! You are multiplying by a large factor! Are you sure you want to do this?
                                </span>
                <span id="factor-error" class="invalid-feedback" data-bind="visible: factor() > 150">
                                    That number is too high! Please try smaller increments to get to the number of cases you require.
                                </span>
              </div>
              <button type="submit" class="btn btn-outline-danger"
                      data-bind="attr: {disabled: !user_id() || factor() < 2 || factor() > 150 }">Explode Cases</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% if request|toggle_enabled:"SYNC_SEARCH_CASE_CLAIM" %}
    <div id="delete-exploded">
      <h1>Delete exploded cases</h1>
      <h2><small>Delete all cases created by previous explosions</small></h2>
      <p>Find this ID on one of your exploded cases under the property 'cc_explosion_id'</p>
      <form class="form" action="" method="POST">
        {% csrf_token %}
        <div class="row g-2 align-items-center">
          <div class="col-md-3">
            <input class="form-control" id="explosion_id" name="explosion_id" type="text" placeholder="cc_explosion_id" />
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-outline-danger">
                <i class="fa-regular fa-trash-can"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  {% endif %}
  </div>
{% endblock %}
