.icon-row {
  display: flex;
  align-items: center;

  .fa-stack {
    font-size: 1.5em;

    > .fa-stack-2x {
      opacity: 7.5%;
    }
    > .fcc.fa-stack-1x {
      line-height: unset;
    }
  }
}
