# https://github.com/maxtepkeev/architect/pull/52
architect
# https://github.com/django-nose/django-nose/pull/228
django-nose
feedparser
pycrypto
restkit
http-parser
zeep
cython
django-celery
numpy
ConcurrentLogHandler
xhtml2pdf
celery  # Remove once we are back to regular celery releases
