.mother_report .table-nonfluid, .child_report .table-nonfluid{
   width: 55%;
}

.mother_report .table tr td:nth-child(1), .child_report .table tr td:nth-child(1) {width:150px;}
.mother_report .table tr td:nth-child(n + 2), .child_report .table tr td:nth-child(n + 2) {width:100px;}

.mother_report table, .child_report table {
    display: inline-block;
    float: left;
    margin-bottom: 30px;
}

.mother_report .row ~ table, .child_report .row ~ table {
    margin-top: 200px;
    display: inline-block;
}

.accordion-inner {
    width: 100%;
}
.mother_report table + .row, .mother_report .row + .row, .child_report table + .row, .child_report .row + .row {
    width: 45%;
    float:right;
    display: inline-block;
}

svg {
    overflow: visible;
}

.mother_child_report .table-nonfluid {
    width: 30%;
}

.mother_child_report table, .mother_child_report .row {
    width: 30%;
    margin-left: 10px;
    margin-bottom: 5px;
    float:left;
    display: inline-block;
}
