svg {
    overflow: visible;
}



.nv-controlsWrap, .fa-question-circle, .accordion-heading, br, .hq-help {
    display: none;
}

th {
    font-weight: bold;
}

td {
    font-size: small !important;
}

.mother_child_report table, .mother_child_report > .row {
    margin-left: 0.5cm;
    margin-bottom: 5px;
    float:left;
    display: inline-block;
    page-break-inside: avoid;
}

.mother_report  > .row, .mother_report .table-nonfluid,
.child_report > .row, .child_report .table-nonfluid{
    display: inline-block;
    float: left;
    page-break-inside: avoid;
}

.child_report > .row {
    margin-right: 2cm;
}

@page {
    size: A4 landscape;
    margin: 4.5mm;
}

body {
    margin: 0;
}

#loadingReportIssueModal {
    display: none;
}

.row:after {
    clear:both;
}

.col-md-12 {
    width: 100%;
    float: left;
}

.col-md-4 {
    width: 33.3333%;
    float: left;
}

.col-md-6 {
    width: 50%;
    float: left;
}

.col-md-8 {
    width: 66.666%;
    float: left;
}

.chart {
    width: 8cm;
}
