.table {
    border: 1px solid @tableBorder;
    max-width: 12em;
    th, td{
        line-height: 1.5em;
        padding: 0;
    }
    &.datatable th,
    &.datatable td {
        padding: .15em .5em;
    }
    th a, 
    td a {
        display: block;
        padding: .15em .5em;
    }
    tbody {
        tr:hover {
            th, th:first-child,
            td, td:first-child {
                background-color: lighten(@blueDark, 50);
                a:hover {
                    text-decoration: none;
                }
            }
        }
        tr:nth-child(odd):hover {
            th, th:first-child,
            td, td:first-child {
                background-color: darken(@tableBackgroundHover, 5);
            }
        }
    }

    thead {
        th {
            background-color: lighten(@blueDark, 20);
            color: @white;
        }
        th:nth-child(even) {
            background-color: @blueDark;
        }
    }
}

