/*!
 * CommCare HQ Style
 * Built on Twitter Bootstrap (thanks @mdo and @fat)
 *
 * Copyright 2012 Dimagi, Inc
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img,
.google-maps img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
html,
body {
  height: 100%;
}
/*!
 * CommCare HQ Style
 * Built on Twitter Bootstrap (thanks @mdo and @fat)
 *
 * Copyright 2012 Dimagi, Inc
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.table-pricing {
  width: 940px;
}
.table-pricing thead h1 {
  font-size: 15.6px;
}
.table-pricing thead th,
.table-pricing thead td {
  background-color: #f6f7f9;
  text-align: left;
}
.table-pricing thead td {
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
}
.table-pricing thead th:last-child {
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
}
.table-pricing thead .col-edition {
  padding: 0;
  width: 112px;
}
.table-pricing thead .col-edition .tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.table-pricing thead .col-edition .tooltip.top .tooltip-arrow {
  border-top-color: #ffffff;
}
.table-pricing thead .col-edition .tooltip-inner {
  font-size: 11.700000000000001px;
  border: 4px solid #ffffff;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  font-weight: normal;
  text-align: left;
}
.table-pricing thead .edition-heading {
  z-index: 800;
  padding: 20px 0;
  width: 130px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border: 4px solid #ffffff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  vertical-align: middle;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
}
.table-pricing thead .edition-heading span {
  display: block;
  font-size: 15.6px;
}
.table-pricing thead .edition-heading .corner-icon {
  color: #ffffff;
  position: absolute;
  top: 4px;
  right: 5px;
}
.table-pricing thead .col-edition-community .edition-heading,
.table-pricing thead .col-edition-community .tooltip-inner {
  background-color: #1e559e;
  background-color: #2363b8;
  background-image: -moz-linear-gradient(top, #266cc9, #1e559e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#266cc9), to(#1e559e));
  background-image: -webkit-linear-gradient(top, #266cc9, #1e559e);
  background-image: -o-linear-gradient(top, #266cc9, #1e559e);
  background-image: linear-gradient(to bottom, #266cc9, #1e559e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff266cc9', endColorstr='#ff1e559e', GradientType=0);
}
.table-pricing thead .col-edition-standard .edition-heading,
.table-pricing thead .col-edition-standard .tooltip-inner {
  background-color: #46a546;
  background-color: #57b357;
  background-image: -moz-linear-gradient(top, #62bc62, #46a546);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62bc62), to(#46a546));
  background-image: -webkit-linear-gradient(top, #62bc62, #46a546);
  background-image: -o-linear-gradient(top, #62bc62, #46a546);
  background-image: linear-gradient(to bottom, #62bc62, #46a546);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62bc62', endColorstr='#ff46a546', GradientType=0);
}
.table-pricing thead .col-edition-pro .edition-heading,
.table-pricing thead .col-edition-pro .tooltip-inner {
  background-color: #285d28;
  background-color: #317331;
  background-image: -moz-linear-gradient(top, #378137, #285d28);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#378137), to(#285d28));
  background-image: -webkit-linear-gradient(top, #378137, #285d28);
  background-image: -o-linear-gradient(top, #378137, #285d28);
  background-image: linear-gradient(to bottom, #378137, #285d28);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff378137', endColorstr='#ff285d28', GradientType=0);
}
.table-pricing thead .col-edition-advanced .edition-heading,
.table-pricing thead .col-edition-advanced .tooltip-inner {
  background-color: #f56200;
  background-color: #fb7318;
  background-image: -moz-linear-gradient(top, #ff7e29, #f56200);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7e29), to(#f56200));
  background-image: -webkit-linear-gradient(top, #ff7e29, #f56200);
  background-image: -o-linear-gradient(top, #ff7e29, #f56200);
  background-image: linear-gradient(to bottom, #ff7e29, #f56200);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff7e29', endColorstr='#fff56200', GradientType=0);
}
.table-pricing thead .col-edition-enterprise .edition-heading,
.table-pricing thead .col-edition-enterprise .tooltip-inner {
  background-color: #70829a;
  background-color: #8291a6;
  background-image: -moz-linear-gradient(top, #8e9caf, #70829a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8e9caf), to(#70829a));
  background-image: -webkit-linear-gradient(top, #8e9caf, #70829a);
  background-image: -o-linear-gradient(top, #8e9caf, #70829a);
  background-image: linear-gradient(to bottom, #8e9caf, #70829a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8e9caf', endColorstr='#ff70829a', GradientType=0);
}
.table-pricing tbody {
  postion: relative;
}
.table-pricing tbody th {
  text-align: left;
  font-weight: normal;
  font-size: 13px;
}
.table-pricing tbody td {
  font-size: 13px;
  padding: .5em 1em;
}
.tbody-feature-details tr:first-child th,
.tbody-feature-details tr:first-child td {
  padding-top: 45px;
}
.th-feature-section {
  color: #70829a;
  vertical-align: top;
}
.th-feature-section > h2 {
  position: relative;
  margin: 0;
  font-weight: normal;
  font-size: 15.6px;
}
.th-feature-section > h2 > a {
  font-size: 20px;
  display: block;
  position: absolute;
  left: -10px;
  top: -45px;
  padding-left: 10px;
  line-height: 35px;
  height: 35px;
  background-color: #ffffff;
  width: 950px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.th-feature-section > h2 > a i {
  font-size: 14.3px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -3px;
}
.th-feature-section > h2 > a .learn-more {
  color: #70829a;
  display: none;
}
.th-feature-section > h2 > a:hover {
  text-decoration: none;
}
.th-feature-section > h2 > a:hover .learn-more {
  display: inline;
}
.col-edition {
  text-align: center;
}
.col-edition .icon-minus {
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.col-edition-community {
  color: #1e559e;
  background-color: #e0e9f4;
}
.col-edition-standard {
  color: #285d28;
  background-color: #d8dfd8;
}
.col-edition-pro {
  color: #204b20;
  background-color: #a9dba9;
}
.col-edition-advanced {
  color: #eb5e00;
  background-color: #ffe4b3;
}
.col-edition-enterprise {
  color: #59697e;
  background-color: #e7eaee;
}
.table-pricing tbody .th-feature {
  padding: 10px 15px;
}
.table-pricing tbody .th-feature,
.table-pricing tbody td:first-child,
.table-pricing tbody .th-feature-section {
  background-color: #f6f7f9;
}
.table-pricing tbody tr:nth-child(even) .th-feature {
  background-color: #ffffff;
}
.table-pricing tbody tr:nth-child(even) .col-edition-community {
  background-color: #ecf1f8;
}
.table-pricing tbody tr:nth-child(even) .col-edition-standard {
  background-color: #e0e6e0;
}
.table-pricing tbody tr:nth-child(even) .col-edition-pro {
  background-color: #b4dfb4;
}
.table-pricing tbody tr:nth-child(even) .col-edition-advanced {
  background-color: #ffeac2;
}
.table-pricing tbody tr:nth-child(even) .col-edition-enterprise {
  background-color: #f0f2f5;
}
.table-pricing tfoot td {
  border-top: 1px solid #f6f7f9;
  vertical-align: top;
}
.table-pricing tfoot td > div {
  height: 20px;
  background-color: #f6f7f9;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-left-radius: 20px;
}
.table-pricing tfoot .col-edition {
  padding: 20px 0;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
}
.table-pricing tfoot .col-edition > span {
  display: none;
}
.table-pricing tfoot .col-edition-community {
  color: #1e559e;
  background-color: #e0e9f4;
}
.table-pricing tfoot .col-edition-standard {
  color: #285d28;
  background-color: #d8dfd8;
}
.table-pricing tfoot .col-edition-pro {
  color: #204b20;
  background-color: #a9dba9;
}
.table-pricing tfoot .col-edition-advanced {
  color: #eb5e00;
  background-color: #ffe4b3;
}
.table-pricing tfoot .col-edition-enterprise {
  color: #59697e;
  background-color: #e7eaee;
}
.pricing-footnotes {
  width: 950px;
  list-style: none;
  margin: 10px 0;
  font-size: 11.700000000000001px;
  background-color: #f6f7f9;
  padding: 10px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.pricing-footnotes li {
  margin: 10px 20px;
}
.table-pricing .select-plan {
  border: 1px solid #a9b3c2;
}
.table-pricing .select-plan input[type="radio"] {
  margin-top: -1px;
}
.table-pricing .select-plan td:first-child {
  background-color: #ffffff;
}
.table-pricing .blank-row td,
.table-pricing .blank-row th {
  padding: 4px 0;
}
