{% extends "xformmanager_base.html" %}
{% load i18n %}
{% block title %}Are you sure?{% endblock %}
{% block mgr_content %}

<h3 class="error">{% trans "Sorry, this XForm has problems that prevent it from being registered with CommCare HQ." %}
<br><br>
It contains the following problems:
{{ errors|linebreaks }}
</h3>

{% if exception.help_text  %}
<h3 class="notice">TIP: 
{{ exception.help_text }}
</h3>
{% endif %}
<a href="{% url xformmanager.views.home %}">back to registration page</a>
{% endblock %}

