// Only webapps
#breadcrumb-region .breadcrumb-nav {
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  height: $breadcrumb-height-cloudcare;

  .breadcrumb {
    box-shadow: none;
    background-color: unset;
    padding: 0 0 0 $grid-gutter-width / 2;
    margin-bottom: 0;
    flex-grow: 1;

    .breadcrumb-item {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      &::before {
        color: $cc-neutral-hi;
      }
    }
  }
}

@media print {
  #breadcrumb-region {
    position: static;
  }

  #breadcrumb-region .breadcrumb,
  .breadcrumb-form-container .breadcrumb {
    font-size: 12px;
    margin-bottom: 0px;
    padding-left: 33px;
  }
}
