.formnav-container {
  background-color: white;
  height: 45px;
  margin-top: -16px;
}

.btn-formnav {
  font-size: 2.2rem;
}

.btn-formnav-submit {
  transition: width 1s;
  width: 80%;
  text-transform: uppercase;
  padding: 9px 10px;
  border: none;
  float: right;
  font-size: 1.9rem;

  transition: all 1s;

  border-radius: 0;
}
