#menu-region {
  background: transparent;
}

#menu-region .module-menu-container,
#menu-region .module-case-list-container {
  background-color: white;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
  margin-bottom: 2rem;
}

#menu-region .module-menu-container {
  padding-bottom: 6px;
}

.persistent-menu-toggle {
  color: white;
  background-color: $cc-brand-low;
  padding: $spacer / 2;
}

.persistent-menu-image {
  height: 2em;
  width: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.persistent-menu {
  ul {
    padding-left: $spacer;
    padding-top: $spacer / 2;
  }

  > ul {  // top level list only
    padding-left: 0;
    padding-top: 0;
  }
}
