.@{fcc-css-prefix}-flower:before { content: @fcc-var-flower; }

.@{fcc-css-prefix}-@{fcc-fd-css-prefix}-text:before { content: @fcc-var-fd-text; }
.@{fcc-css-prefix}-@{fcc-fd-css-prefix}-numeric:before { content: @fcc-var-fd-numeric; }
.@{fcc-css-prefix}-@{fcc-fd-css-prefix}-data:before { content: @fcc-var-fd-data; }
.@{fcc-css-prefix}-@{fcc-fd-css-prefix}-variable:before { content: @fcc-var-fd-variable; }
.@{fcc-css-prefix}-@{fcc-fd-css-prefix}-single-select:before { content: @fcc-var-fd-single-select; }
.@{fcc-css-prefix}-@{fcc-fd-css-prefix}-multi-select:before { content: @fcc-var-fd-multi-select; }
.@{fcc-css-prefix}-@{fcc-fd-css-prefix}-decimal:before { content: @fcc-var-fd-decimal; }
.@{fcc-css-prefix}-@{fcc-fd-css-prefix}-long:before { content: @fcc-var-fd-long; }
.@{fcc-css-prefix}-@{fcc-fd-css-prefix}-datetime:before { content: @fcc-var-fd-datetime; }
.@{fcc-css-prefix}-@{fcc-fd-css-prefix}-audio-capture:before { content: @fcc-var-fd-audio-capture; }
.@{fcc-css-prefix}-@{fcc-fd-css-prefix}-android-intent:before { content: @fcc-var-fd-android-intent; }
