/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'CommCareHQFontRegular';
  src: ~"url('@{fcc-font-path}/commcarehqfont-regular.eot?v=@{fcc-version}')";
  src: ~"url('@{fcc-font-path}/commcarehqfont-regular.eot?#iefix&v=@{fcc-version}') format('embedded-opentype')",
       ~"url('@{fcc-font-path}/commcarehqfont-regular.woff?v=@{fcc-version}') format('woff')",
       ~"url('@{fcc-font-path}/commcarehqfont-regular.ttf?v=@{fcc-version}') format('truetype')",
       ~"url('@{fcc-font-path}/commcarehqfont-regular.svg?v=@{fcc-version}#CommCareHQFontRegular') format('svg')";
  font-weight: normal;
  font-style: normal;
}
