@fcc-font-path: "/static/style/font";
@fcc-css-prefix: fcc;
@fcc-fd-css-prefix: fd;
@fcc-inverse: #ffffff;
@fcc-font-family: 'CommCareHQFontRegular';
@fcc-version: '1.0';

// Icon Characters for General HQ
@fcc-var-flower: "\f000";

// Icon Characters for Form Designer
@fcc-var-fd-text: "\f001";
@fcc-var-fd-numeric: "\f002";
@fcc-var-fd-data: "\f003";
@fcc-var-fd-variable: "\f005";
@fcc-var-fd-single-select: "\f006";
@fcc-var-fd-multi-select: "\f007";
@fcc-var-fd-decimal: "\f008";
@fcc-var-fd-long: "\f009";
@fcc-var-fd-datetime: "\f00a";
@fcc-var-fd-audio-capture: "\f00b";
@fcc-var-fd-android-intent: "\f00c";
