version: '3'
web:
  build:
    context: .
    dockerfile: "${DOCKERFILE}"
  environment:
    COMMCAREHQ_BOOTSTRAP: "yes"
    DEPENDENT_SERVICES: "COUCH:5984 POSTGRES:5432 REDIS:6379 KAFKA:9092 ELASTICSEARCH:9200 RIAKCS:9980"
    DOCKER_HQ_OVERLAY: "${DOCKER_HQ_OVERLAY}"
  privileged: true  # allows mount inside container
  command: [runserver]
  links:
    - postgres
    - couch
    - redis
    - elasticsearch
    - kafka
    - riakcs
  expose:
    - 8000
  ports:
    - "8000:8000"
  volumes:
    - ..:/mnt/commcare-hq-ro:ro
    - hqservice-lib:/mnt/lib

formplayer:
  extends:
    file: hq-compose.yml
    service: formplayer
  environment:
    DEPENDENT_SERVICES: "COUCH:5984 POSTGRES:5432 REDIS:6379"
    WEB_HOST: "web"
  links:
    - postgres
    - couch
    - redis
  expose:
    - 8010
  ports:
    - "8010:8010"

postgres:
  extends:
    file: hq-compose-services.yml
    service: postgres

couch:
  extends:
    file: hq-compose-services.yml
    service: couch

redis:
  extends:
    file: hq-compose-services.yml
    service: redis

elasticsearch:
  extends:
    file: hq-compose-services.yml
    service: elasticsearch

kafka:
  extends:
    file: hq-compose-services.yml
    service: kafka

riakcs:
  extends:
    file: hq-compose-services.yml
    service: riakcs
