postgres:
  extends:
    file: hq-compose.yml
    service: postgres
  ports:
    - "5432:5432"

couch:
  extends:
    file: hq-compose.yml
    service: couch
  ports:
    - "5984:5984"

couch16:
  extends:
    file: hq-compose.yml
    service: couch16
  ports:
    - "5000:5984"

redis:
  extends:
    file: hq-compose.yml
    service: redis
  ports:
    - "6379:6379"

elasticsearch:
  build: .
  dockerfile: Dockerfile_es
  command: elasticsearch --cluster.name=${ES_CLUSTER_NAME}
  environment:
    ES_CLUSTER_NAME: ES_CLUSTER_NAME
    ES_JAVA_OPTS: "-Des.script.engine.groovy.inline.aggs=true -Des.script.engine.groovy.inline.search=true"
  ports:
    - "9200:9200"
  volumes:
    - ${DATA_VOLUME_PREFIX}elasticsearch:/usr/share/elasticsearch/data

kafka:
  extends:
    file: hq-compose.yml
    service: kafka
  environment:
    ADVERTISED_HOST: ${KAFKA_ADVERTISED_HOST_NAME}
  ports:
    - "2181:2181"
    - "9092:9092"

riakcs:
  extends:
    file: hq-compose.yml
    service: riakcs
  ports:
    - "9980:9980"
