version: '2.3'

services:
  web:
    build:
      context: .
      dockerfile: "${DOCKERFILE}"
    environment:
      COMMCAREHQ_BOOTSTRAP: "yes"
      DEPENDENT_SERVICES: "couch:5984 postgres:5432 redis:6379 elasticsearch2:9200 minio:9980 kafka:9092"
      DOCKER_HQ_OVERLAY: "${DOCKER_HQ_OVERLAY}"
      DOCKER_HQ_OVERLAYFS_CHMOD: "${DOCKER_HQ_OVERLAYFS_CHMOD}"
      DOCKER_HQ_OVERLAYFS_METACOPY: "${DOCKER_HQ_OVERLAYFS_METACOPY}"
    privileged: true  # allows mount inside container
    command: [runserver]
    links:
      - postgres
      - couch
      - redis
      - elasticsearch2
      - elasticsearch5
      - kafka
      - zookeeper
      - minio
    expose:
      - 8000
    ports:
      - "8000:8000"
    volumes:
      - ..:/mnt/commcare-hq-ro:ro
      - ${VOLUME_PREFIX}lib:/mnt/lib

  formplayer:
    extends:
      file: hq-compose.yml
      service: formplayer
    environment:
        COMMCARE_HOST: "http://web:8000"
    links:
      - postgres
      - redis
    ports:
      - "8080:8080"
      - "8081:8081"

  postgres:
    extends:
      file: hq-compose-services.yml
      service: postgres

  couch:
    extends:
      file: hq-compose-services.yml
      service: couch

  redis:
    extends:
      file: hq-compose-services.yml
      service: redis

  elasticsearch2:
    extends:
      file: hq-compose-services.yml
      service: elasticsearch2

  elasticsearch5:
    extends:
      file: hq-compose-services.yml
      service: elasticsearch5

  zookeeper:
    extends:
      file: hq-compose-services.yml
      service: zookeeper

  kafka:
    extends:
      file: hq-compose-services.yml
      service: kafka

  minio:
    extends:
      file: hq-compose-services.yml
      service: minio
