version: '2.3'

volumes:
  shared_files: {}

# x-anchors are ignored by Docker, are used for DRYness here
x-commcarehq_base: &commcarehq_base
  image: commcarehq_incl:latest
  environment: &environment_base
    COMMCAREHQ_BOOTSTRAP: "yes"
  privileged: true  # allows mount inside container
  depends_on:
    postgres:
      condition: service_healthy
    couch:
      condition: service_healthy
    redis:
      condition: service_healthy
    elasticsearch5:
      condition: service_healthy
    kafka:
      condition: service_healthy
    zookeeper:
      condition: service_started
    minio:
      condition: service_healthy
  volumes:
    - shared_files:/sharedfiles

services:
  config:
    <<: *commcarehq_base
    command: 'docker/init-hq.sh'

  web:
    <<: *commcarehq_base
    command: './manage.py runserver 0.0.0.0:8000'
    expose:
      - 8000
    ports:
      - "8000:8000"

  celery:
    <<: *commcarehq_base
    command: 'celery -A corehq worker -l info'

  pillowtop:
    <<: *commcarehq_base
    environment:
      <<: *environment_base
      KAFKA_ADVERTISED_HOST_NAME: kafka
    command: './manage.py run_ptop --pillow-key=core --processor-chunk-size=1'

  formplayer:
    extends:
      file: hq-compose.yml
      service: formplayer
    environment:
        COMMCARE_HOST: "http://web:8000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8080:8080"
      - "8081:8081"

  postgres:
    extends:
      file: hq-compose-services.yml
      service: postgres

  couch:
    extends:
      file: hq-compose-services.yml
      service: couch

  redis:
    extends:
      file: hq-compose-services.yml
      service: redis

  elasticsearch5:
    extends:
      file: hq-compose-services.yml
      service: elasticsearch5

  zookeeper:
    extends:
      file: hq-compose-services.yml
      service: zookeeper

  kafka:
    extends:
      file: hq-compose-services.yml
      service: kafka
    depends_on:
      zookeeper:
        condition: service_started

  minio:
    extends:
      file: hq-compose-services.yml
      service: minio
