version: '2.3'

services:
  formplayer:
    extends:
      file: hq-compose.yml
      service: formplayer
    depends_on:
      - postgres
      - redis
    expose:
      - 8080
    ports:
      - "8080:8080"
      - "8081:8081"

  postgres:
    extends:
      file: hq-compose.yml
      service: postgres
    ports:
      - "5432:5432"

  couch:
    extends:
      file: hq-compose.yml
      service: couch
    ports:
      - "5984:5984"

  redis:
    extends:
      file: hq-compose.yml
      service: redis
    ports:
      - "6379:6379"

  elasticsearch5:
    extends:
      file: hq-compose.yml
      service: elasticsearch5
    command: elasticsearch
    environment:
      ES_CLUSTER_NAME: ${ES_CLUSTER_NAME}
    ports:
      - "9200:9200"

  kafka:
    extends:
      file: hq-compose.yml
      service: kafka
    ports:
      - "9092:9092"

  zookeeper:
    extends:
      file: hq-compose.yml
      service: zookeeper
    ports:
      - "2181:2181"

  minio:
    extends:
      file: hq-compose.yml
      service: minio
    ports:
      - "9980:9980"
      - "9981:9981"
