version: '2.3'

services:
  web:
    build:
      context: .
      dockerfile: "${DOCKERFILE}"
    environment:
      COMMCAREHQ_BOOTSTRAP: "yes"
      DEPENDENT_SERVICES: "couch:5984 postgres:5432 redis:6379 kafka:9092 elasticsearch:9200 minio:9980"
      DOCKER_HQ_OVERLAY: "${DOCKER_HQ_OVERLAY}"
    privileged: true  # allows mount inside container
    command: [runserver]
    links:
      - postgres
      - couch
      - redis
      - elasticsearch
      - kafka
      - minio
    expose:
      - 8000
    ports:
      - "8000:8000"
    volumes:
      - ..:/mnt/commcare-hq-ro:ro
      - ${VOLUME_PREFIX}lib:/mnt/lib

  formplayer:
    extends:
      file: hq-compose.yml
      service: formplayer
    environment:
      WEB_HOST: "web"
    links:
      - postgres
      - couch
      - redis
    expose:
      - 8010
    ports:
      - "8010:8010"

  postgres:
    extends:
      file: hq-compose-services.yml
      service: postgres

  couch:
    extends:
      file: hq-compose-services.yml
      service: couch

  redis:
    extends:
      file: hq-compose-services.yml
      service: redis

  elasticsearch:
    extends:
      file: hq-compose-services.yml
      service: elasticsearch

  kafka:
    extends:
      file: hq-compose-services.yml
      service: kafka

  minio:
    extends:
      file: hq-compose-services.yml
      service: minio
