.define-case-type-modal {
  .modal-header {
    border-bottom: 1px solid lightgray;
  }

  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .control-label {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
  }

  .fa {
    padding-top: 5px;
  }

  .new-case-type-dropdown-container {
    width: 55%;
  }

  .modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0px;
  }

  .select2-selection__placeholder {
    color: @gray !important;
  }
}
