{% extends 'hqwebapp/base_section.html' %}
{% load i18n %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}

{% requirejs_main 'telerivet/js/telerivet_setup' %}

{% block page_content %}
{% initial_page_data 'form_name' finalize_gateway_form.name.value %}
{% initial_page_data 'form_set_as_default' finalize_gateway_form.set_as_default.value %}
{% initial_page_data 'gateway_list_url' gateway_list_url %}
{% initial_page_data 'request_token' request_token %}
<div id="telerivet-setup" class="ko-template">
    <div data-bind="visible: start">
        {% include "telerivet/partials/start.html" %}
    </div>
    <div data-bind="visible: step1">
        TODO: step1<br>
        {% include "telerivet/partials/step1.html" %}
    </div>
    <div data-bind="visible: step2">
        TODO: step2<br>
        {% include "telerivet/partials/step2.html" %}
    </div>
    <div data-bind="visible: step3">
        TODO: step3<br>
        {% include "telerivet/partials/step3.html" %}
    </div>
    <div data-bind="visible: finish">
        TODO: finish<br>
        {% include "telerivet/partials/finish.html" %}
    </div>
</div>
{% endblock %}
