{% extends "app_manager/v2/app_view.html" %}
{% load xforms_extras %}
{% load hq_shared_tags %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "Publish" %} -
    {% if app.name %}
        {{ app.name|html_name }}
    {% else %}
        {% trans 'Applications' %}
    {% endif %}
{% endblock %}

{% block js %}{{ block.super }}
    <script src="{% static "app_manager/js/app_view_release_manager.js" %}"></script>
{% endblock js %}

{% block js-inline %}{{ block.super }}
{% endblock %}

{% block app_view_tabs %}
  {% initial_page_data 'app_id' app.id %}
  {% initial_page_data 'app_version' app.version %}
  {% initial_page_data 'application_profile_url' application_profile_url %}
  {% initial_page_data 'build_profiles' app.build_profiles %}
  {% initial_page_data 'fetch_limit' fetchLimit %}
  {% initial_page_data 'intro_only' intro_only %}
  {% initial_page_data 'langs' app.langs %}
  {% initial_page_data 'latest_build_id' latest_build_id %}
  {% initial_page_data 'sms_contacts' sms_contacts %}
  {% registerurl "app_data_json" app.domain '---' %}
  <div class="tab-pane" id="releases">
    {% include "app_manager/v2/partials/releases.html" %}
  </div>
{% endblock app_view_tabs %}
