{% extends 'style/base.html' %}
{% load xforms_extras %}
{% load url_extras %}
{% load hq_shared_tags %}
{% load i18n %}
{% load compress %}
{% load djangular_tags %}

{% block title %}{% trans "App Summary" %}{% endblock %}

{% block page_breadcrumbs %}{% endblock %}

{% block stylesheets %}{{ block.super }}

  {% include 'app_manager/v2/partials/apps_stylesheets.html' %}

  {% if less_debug %}
    <link type="text/less"
          rel="stylesheet"
          media="all"
          href="{% static 'app_manager/less/summary.debug.less' %}" />
    {% else %}
    {% compress css %}
        <link type="text/less"
              rel="stylesheet"
              media="all"
              href="{% static 'app_manager/less/summary.less' %}" />
    {% endcompress %}
  {% endif %}

{% endblock stylesheets %}

{% block js %}{{ block.super }}
    <script src="{% static 'app_manager/js/app_summary.ng.js' %}"></script>
{% endblock js %}

{% block js-inline %} {{ block.super }}
    <script>
        $(function () {
          hqLayout.utils.setIsAppbuilderResizing(true);
        });
        (function (angular, undefined) {
            'use strict';

            var summaryApp = angular.module('summaryApp', ['ngRoute', 'summaryModule']);
            summaryApp.config(['$httpProvider', function($httpProvider) {
                $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
                $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
            }]);
            summaryApp.config(["djangoRMIProvider", function(djangoRMIProvider) {
                djangoRMIProvider.configure({% djng_current_rmi %});
            }]);

            summaryApp.constant('summaryConfig', {
                staticRoot: '{{ STATIC_URL }}',
                vellumTypes: {{ VELLUM_TYPES|JSON }},
                formNameMap: {{ form_name_map|JSON }},
                appLangs: {{ langs|JSON }},
                caseDownloadURL: '{% url 'download_case_summary' domain app_id %}',
                formDownloadURL: '{% url 'download_form_summary' domain app_id %}',
                appDownloadURL: '{% url 'download_app_summary' domain app_id %}',
                appSettingsURL: '{% url "app_settings" domain app_id %}',
                appHomeURL: '{% url "view_app" domain app_id %}',
                appName: '{{ app_name }}',
            });

            summaryApp.config(['$routeProvider', function($routeProvider) {
                $routeProvider.
                    when('/forms', {
                        templateUrl: '{% url 'ng_template' domain 'form_summary_view_v2' %}',
                        controller: 'FormController'
                    }).
                    when('/cases', {
                        templateUrl: '{% url 'ng_template' domain 'case_summary_view_v2' %}',
                        controller: 'CaseController'
                    }).
                    otherwise({
                        redirectTo: '/forms'
                    });
            }]);
        }(window.angular));
    </script>
{% endblock %}

{% block content %}
    <div ng-app="summaryApp">
          <ng-view></ng-view>
    </div>
{% endblock content %}
