{% extends 'hqwebapp/base_section.html' %}
{% load url from future %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block js %} {{ block.super }}
    <script src="{% static 'accounting/js/credits-tab.js' %}"></script>
{% endblock %}

{% block js-inline %} {{ block.super }}
 <script>
    $( "#id_start_date" ).datepicker({ dateFormat: "yy-mm-dd" });
    $( "#id_end_date" ).datepicker({ dateFormat: "yy-mm-dd" });
    $( "#id_delay_invoice_until" ).datepicker({ dateFormat: "yy-mm-dd" });
</script>
{% endblock %}

{% block main_column %}

    {% if subscription %}
    <ul class="nav nav-tabs" id="user-settings-tabs">
        <li class="active"><a href="#subscription" data-toggle="tab">{% trans "Subscription" %}</a></li>
        <li><a href="#credits" data-toggle="tab">{% trans "Credits" %}</a></li>
        <li><a href="#actions" data-toggle="tab">{% trans "Permanent Actions" %}</a></li>
    </ul>
    {% endif %}

    <div class="tab-content">

        <div class="tab-pane active" id="subscription">
            <form class="form form-horizontal" method="post">
                {% crispy form %}
            </form>
        </div>

        {% if subscription %}
        <div class="tab-pane" id="credits">
            {% include 'accounting/credits_tab.html' %}
        </div>

        <div class="tab-pane" id="actions">
            <form class="form form-horizontal" method="post">
                {% crispy cancel_form %}
            </form>
        </div>
        {% endif %}

    </div>

{% endblock %}

{% block modals %} {{ block.super }}

{% endblock %}
