{% extends 'style/base_section.html' %}
{% load crispy_forms_tags %}
{% load hq_shared_tags %}

{% block js %}{{ block.super }}
    <script src="{% static 'accounting/js/accounting.billing_info_handler.js' %}"></script>
{% endblock %}

{% block js-inline %}{{ block.super }}
    <script type="text/javascript">
        var domain_handler = new AsyncSelect2Handler('domain');
        domain_handler.init();
    </script>
{% endblock %}

{% block page_content %}
    {% crispy trigger_form %}
{% endblock %}
