<p>
  Hey,
</p>

<p>
  I noticed that your project space {{ domain_name }} has had a lot of submissions.
  I'm emailing you because you are a web user on the project with a Dimagi email
  address, and I'm really curious what kind of project I'm hosting. 
</p>

<p>
  If this is a test project space, go to the project settings page {{ settings_link }} and
  change the "test project" setting to "test" and I'll stop bothering you.
</p>

<p>
  If this project space does represent a new real project, let me know by updating
  a few of my settings as described on the 
  <a href="https://confluence.dimagi.com/pages/viewpage.action?pageId=18908393">wiki</a>.
</p>

<p>
  Thanks for all you do!
</p>

<p>
  Love, <br />
  CommCareHQ
</p>

