<p>
  Hey,
</p>

<p>
  I'm emailing you because I noticed that you work for Dimagi, and you're a
  member of project space {{ domain_name }}. {{ domain_name }} has had a lot of
  submissions lately.
</p>

<p>
  If this is a test project space, go to the internal project settings page
  {{ settings_link }} and change the "Real Project" setting to "Test" and I'll
  stop bothering you.
</p>

<p>
  If this project space does represent a new real project, let me know by
  updating Country, Sector, Subsector, Organization, and Notes. You can read
  more about this email on the wiki here:
  <a href="https://confluence.dimagi.com/pages/viewpage.action?pageId=18908393">
    https://confluence.dimagi.com/pages/viewpage.action?pageId=18908393
  </a>
</p>

<p>
  Thanks! <br />
  CommCareHQ
</p>
