<p>Hi!</p>
<p>You've received a request from <strong>{{ requestee.username }}</strong> to add the project <strong>{{ dom }}</strong> to the organization <strong>{{ org.title }}</strong>.</p>
<p>To accept this request, visit <a href="http://{{ url_base }}{% url orgs_landing org.name %}">the {{ org.title }} organization's landing page</a>.
   If you are unable to click the link, copy and paste the following url into your browser. http://{{ url_base }}{% url orgs_landing org.name %}</p>
<p>If you think you have received this by mistake, you can go ahead and ignore this email. To find out more about CommCareHQ visit http://www.commcarehq.org/.</p>
<p>Thanks for using our site!</p>
<p>-The CommCareHQ team</p>
