.login-block article h1 {
    font-size: 2em;
}
.login-block article p {
    font-size: 1em;
    text-align: left;
    padding: .5em 0;
}
.login-block article p.helptext,
.login-block article form .errorlist li{
    font-size: 11px;
    padding: .2em 0;
}
.login-block article form {
    padding: 1em 0;
}
.login-block article form > div{
    display: inline-block;
    width: 110px;
    margin-right: 10px;
    vertical-align: middle;
}
.login-block article form div.tos {
    width: inherit;
    display: block;
    margin: .5em 0;
    text-align: right;
}
.login-block article form label {
    font-size: 1.25em;
    font-weight: bold;
    display: block;
}
.login-block article li form label {
    font-size: 1em;
}
.login-block article li form label[for="id_tos_confirmed"] {
    display: inline;
    padding-left: 1em;
}
.login-block article form label[for="id_email"] {
    padding-top: 1.3em;
}
.login-block article form input[type="text"],
.login-block article form input[type="password"]{
    -moz-border-radius: .35em;
    -webkit-border-radius: .35em;
    border-radius: .35em;
    
    font-size: 1.2em;
    line-height: 28px;
    height: 28px;
    display: -moz-inline-stack;
    display: inline-block;
    width: 200px;
    margin: .5em 0;
    vertical-align: middle;
}
.login-block article form input[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 1.5em;
    text-align: center;
}
.login-block article form input.sign-up {
    width: 109px;
}
.login-block article ol {
    padding-top: 1em;
}
.login-block article > ol > li {
    list-style: decimal outside;
    margin-left: 2em;
}
.login-block article li .errorlist li{
    text-align: left;
    width: inherit;
}
.login-block article li form input.create-domain {
    width: 177px;
}