{% extends 'hqwebapp/two_column.html' %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load compress %}

{% block title %}{% trans "Edit Configuration" %}{% endblock %}

{% requirejs_main 'dhis2/js/dhis2_entity_config' %}

{% block page_content %}
{% initial_page_data 'case_configs' case_configs %}

<script type="text/html" id="case-config-template">
    <fieldset>
        <div class="col-sm-8">&nbsp;</div>
        <div class="col-sm-4">
            <button type="button"
                    class="btn btn-danger"
                    data-bind="click: $root.removeCaseConfig">{% trans "Remove" %}</button>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 col-md-2 requiredField">
                {% trans "Case config" %}<span class="asteriskField">*</span>
            </label>
            <div class="controls col-sm-9 col-md-8 col-lg-6">
                <textarea name="oCaseConfig"
                          class="jsonwidget form-control"
                          required=""
                          data-bind="value: oCaseConfig"></textarea>
            </div>
        </div>
    </fieldset>
    <div class="spacer"></div>
</script>

<form id="dhis2-entity-config"
      class="form-horizontal"
      method="post"
      data-bind="submit: submit">
    <div data-bind="template: {
                        name: 'case-config-template',
                        foreach: oCaseConfigs,
                        as: 'caseConfig',
                        afterRender: initCaseConfigTemplate
                    }"></div>
    <div data-bind="visible: isError()">
        <pre data-bind="text: errorMessage()" class="alert message-alert alert-danger"></pre>
        <p>
          Common JSON syntax errors (Placeholder from jsonlint.com) class="alert message-alert alert-danger"
          <br>
          - Expecting 'STRING' - You probably have an extra comma at the end of your collection. Something like { "a": "b", }
          <br>
          - Expecting 'STRING', 'NUMBER', 'NULL', 'TRUE', 'FALSE', '{', '[' - You probably have an extra comma at the end of your list. Something like: ["a", "b", ]
          <br>
          - Enclosing your collection keys in quotes. Proper format for a collection is { "key": "value" }
          <br>
          - Make sure you follow JSON's syntax properly. For example, always use double quotes, always quotify your keys, and remove all callback functions.
        </p>
    </div>
    <p>
        <button type="button"
                class="btn btn-primary"
                data-bind="click: addCaseConfig">
            <i class="fa fa-plus"></i>
            {% trans "Add case config" %}
        </button>
    </p>

    <div class="form-actions">
        <div class="col-sm-offset-3 col-md-offset-2 controls col-sm-9 col-md-8 col-lg-6">
            <button type="submit" class="btn btn-primary">{% trans "Update DHIS2 Tracked Entity configuration" %}</button>
        </div>
    </div>
</form>
{% endblock %}
