{% load xforms_extras %}
{% load hq_shared_tags %}
{% load i18n %}

{% if app.advanced_app_builder or module.case_list_form.form_id %}

  <div id="case-list-form">
      <div class="form-group">
          <label class="col-sm-2 control-label">
              {% trans "Registration Form Accessible from Case List" %}
              <span class="hq-help-template"
                    data-title="{% trans "Registration Form Accessible from Case List" %}"
                    data-content="{% blocktrans %}Minimize duplicate registrations by including a registration form in the application's list of cases. Read more on the <a href='https://help.commcarehq.org/display/commcarepublic/Minimize+Duplicates'>Help Site</a>.{% endblocktrans %}"
              ></span>
          </label>
          <div class="col-sm-4" data-bind="visible: caseListForm() || allowed, css: { 'has-error': formMissing() || !allowed}">
              <select class="form-control" data-bind="value: caseListForm">
                {% if case_list_form_options.form.form_id not in case_list_form_options.options.keys %}
                    <option value="{{ case_list_form_options.form.form_id }}" selected>{% trans "Unknown Form (missing)" %}</option>
                {% endif %}
                {% for id, name in case_list_form_options.options.items %}
                    <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
              </select>
              <input type="hidden" name="case_list_form_id" data-bind="value: caseListForm" />
              <div data-bind="visible: formMissing()" class="help-block">
                  {% trans "Error! The selected form does not exist." %}
              </div>
          </div>
          <div class="col-sm-8 alert alert-info" data-bind="visible: !allowed && !caseListForm()">
              {% blocktrans %}
                  Registration forms are only available from the case list when all of the following are true:
                  <ol>
                    <li>The registration form is in a different menu</li>
                    <li>Every form in the menu updates or closes the case</li>
                    <li>The case list does not have parent case selection configured.</li>
                    <li>The module's "Menu Mode" is configured as "Display module and then forms".</li>
                  </ol>
              {% endblocktrans %}
          </div>
      </div>
      <div class="form-group" id="case_list_form-label">
          <label class="col-sm-2 control-label">
              {% trans "Label for Case List Registration" %}
          </label>
          <div class="col-sm-4">
              {% input_trans module.case_list_form.label langs input_name='case_list_form_label' %}
          </div>
      </div>
  </div>
  <div id="case_list_media">
      {% include "app_manager/v2/partials/nav_menu_media.html" with item=multimedia.case_list_form qualifier='case_list_form_' ICON_LABEL="Registration Form Icon" AUDIO_LABEL="Registration Form Audio" %}
  </div>

{% endif %}
