{% load i18n %}
{% load xforms_extras %}
{% load hq_shared_tags %}

<div class="appmanager-page-actions">
  {% if can_preview_form %}
    {% include 'app_manager/v2/partials/app_preview_toggle.html' %}
  {% endif %}
</div>
<div class="appmanager-edit-title">
  {% with postSave="function(data) { var appManager = hqImport('app_manager/js/app_manager.js'); appManager.updatePageTitle(data.update['.variable-module_name']); return appManager.updateDOM(data.update);}" %}
  {% if module.is_surveys %}
      {% inline_edit_trans module.name langs edit_name_url saveValueName='name' containerClass='h3' iconClass='fa fa-folder-open' postSave=postSave %}
  {% else %}
      {% inline_edit_trans module.name langs edit_name_url saveValueName='name' containerClass='h3' iconClass='fa fa-bars' postSave=postSave %}
  {% endif %}
  {% endwith %}
</div>

<div class="appmanager-edit-description">
<inline-edit params="
    name: 'comment',
    id:'comment-id',
    value: '{{ module.comment|escapejs }}',
    placeholder: 'Enter {% if not module.is_surveys %}case list{% endif %} description here',
    url: '{% url "edit_module_attr" domain app.id module.id 'comment' %}',
    saveValueName: 'comment',
    cols: 50,
"></inline-edit>
<br />

<div id="build_errors"></div>
