{% load i18n %}

<script type="text/template" id="user-data-template">
  <div class="module-table-case-detail-wrapper">
    <table class="table module-table module-table-case-detail">
      <tbody>
        <tr>
          <th>{% trans "Name" %}</th>
          <td><%- user.first_name + ' ' + user.last_name %></td>
        </tr>
        <% if (user.location) { %>
        <tr>
          <th>{% trans "Organization" %}</th>
          <td><%- user.location.name %></td>
        </tr>
        <tr>
          <th>{% trans "Organization Type" %}</th>
          <td><%- user.location.location_type %></td>
        </tr>
        <% } %>
        <tr>
          <th>{% trans "Date Registered" %}</th>
          <td><%- user.dateRegistered %></td>
        </tr>
        <% _.each(user.customFields, function(value, key) { %>
        <% if (!key.startsWith('commcare_') && !key.startsWith('commtrack') && value) { %>
        <tr>
          <th><%- key %></th>
          <td><%- value %></td>
        </tr>
        <% } %>
        <% }) %>
      </tbody>
    </table>
  </div>
</script>
