<section class="hq-styleguide-article">
    <header class="page-header">
        <h1 id="form-controls">Form Controls</h1>
    </header>
    <p class="lead">
        Use this section to see what controls are available for Crispy Forms.
    </p>
    <h2 id="controls-selects">Selects</h2>
    <p>
        HQ supports a few types of <code>&lt;select&gt;</code> widgets.
        The main difference between a <code>select</code> widget and a
        <code>typeahead</code> widget, is that a <code>select</code> widget
        requires that a choice is made from only the options it provides, but
        a <code>typeahead</code> may suggest options but will otherwise accept
        any input.
    </p>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="{% url 'ex_controls_demo' %}" class="btn btn-primary pull-right">View Example</a>
            <ul class="nav nav-tabs" id="FormOverviewTabs" role="tablist">
                <li class="active">
                  <a href="#controls-selects-definitions" role="tab" data-toggle="tab">Definitions</a>
                </li>
                <li>
                  <a href="#controls-best_practices" role="tab" data-toggle="tab">Best Practices</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="controls-selects-definitions">
                    <div class="panel-body">
                        {% include 'styleguide/_includes/forms/controls/selects-definitions.html' %}
                    </div>
                </div>
                <div class="tab-pane fade in active" id="controls-best_practices">
                    <div class="panel-body">
                        {% include 'styleguide/_includes/forms/controls/selects-best_practices.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
