/*-  BASE STYLES
----------------------------------------------------------------------*/

/*- self-clearing floats ----------*/

#main:after, .mod:after, #edit:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*- fluid images and objects ----------*/

img,
object,
embed {max-width: 100%;}


/*- optional vanity styles ----------*/
/*
::selection {background: #c80000;}
::-moz-selection {background: #c80000;}

img::selection {background: transparent;}
img::-moz-selection {background: transparent;}

@media only screen and (max-device-width: 480px) {

	html {-webkit-text-size-adjust: none}
	a {-webkit-tap-highlight-color: rgba(200,0,0,0.4);}

}*/

/*- Paul Irish's Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ ----------*/

@font-face {
  font-family: 'Graublau Web';
  src: url('GraublauWeb.eot');
  src: local('☺'),
         url('GraublauWeb.woff') format('woff'), url('GraublauWeb.ttf') format('truetype');
}


/*- LET'S GET STARTED!
----------------------------------------------------------------------*/

td, th, caption {
    padding: 4px 10px 4px 5px;
}

li {
    list-style: none;
}

.shadow {
	-moz-box-shadow: 0px 0px 8px #bbc;
	-webkit-box-shadow: 0px 0px 8px #bbc;
	box-shadow: 0px 0px 8px #bbc;
}
h1,h2,h3,h4,h5,h6 {
    text-shadow: #96989B 0px 0px 4px;
}

a {
    color: #0067B1;
    text-decoration: none;
}
a:hover {
    color: #0067B1;
    text-decoration: underline;
}

body {
	background-color: #f5f5ff;
	color: #000;
	font: normal 12px Helvetica, Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

abbr {
	cursor: help;
}

.fixed-width {
    width: 1000px;
    margin: auto;
}
#logo {
    float: left;
    background: url('../img/commcare-logo.png') no-repeat scroll 0 0 transparent;
    width: 350px;
    height: 70px;
    text-indent: -10000%;
}
ul#top-nav{
    list-style-type: none;
    border-collapse: collapse;
    font-size: 1.2em;
}
ul#top-nav li {
    display: inline;
}
header {
    padding: 10px 0;
    height: 70px;
    background-color: #fff;
}
.bottom-shadow {
    height: 8px;
    border-top: 1px solid #eee;
    /*background: url('../img/shadow-bottom.png') repeat-x scroll 0 0 transparent;    */
    /*background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #f5f5ff),
        color-stop(.75, #888888),
        color-stop(1, rgb(0,0,0))
    );
    background: -moz-linear-gradient(
        center bottom,
        #f5f5ff 0%,
        rgb(0,0,0) 100%
    );*/
}
    header nav ul {
        float: right;
        padding-top: 0px;
        padding-bottom: 0;
        margin: 0;
    }
        header nav li {
            padding: 0 11px 0 6px;
            font-weight: normal;
            font-size: 1.2em;
            text-shadow: #96989B 0px 0px 3px;
            border-right: 1px solid #96989B;
            margin: 0;
        }
        header nav li:last-child {
            border-right: none;
            padding-right: 0px;
        }
    header #logged-in {
        clear: right;
        float: right;
        margin-top: 10px;
        padding: 0;
    }
#main {
    margin-top: 40px;
}
#main > div {
}
#app_name {
    padding: 0 1em;
}

#main_container {
    border: 0;
    background-color: #fff;
}

#title-bar {
    border-left: none;
    border-right: none;
    border-top: none;
}

.container {
    padding: 1em;
}

#form-tabs {
    padding: 0px !important;
    margin-bottom: 3em;
}
#forms {
    padding: 0px;
}
#title-bar {
    padding: 1em;
}
#modules {
    width: 200px;
    padding: 1em;
}
#modules-header {
    text-align: center;
}
#modules h2 {
    padding: .25em;
}
#modules ul li{
    padding: .25em;
    padding-left: 2em;
    list-style: none;
}
#modules > ul > li > div {
    padding: .25em;
}
#modules ul {
    margin-bottom: 1em;
}
#modules h2.selected {
    background-color: #ccc;
    border: 1px solid #bbb;
}
#modules div.selected {
    background-color: #ccc;
    border: 1px solid #bbb;
}
#modules ul.selected {
    background-color: #eee;
}
#modules li.selected {
    background-color: #ccc;
    border: 1px solid #bbb;
}

/* make join #modules and #form-view horizontally */
#modules-form-view-wrapper {
    display: table;
    width: 100%;
}
#modules, #form-view {
    display: table-cell;
    border-top: none;
}
#form-view {
    border: none;
    padding: 1em;
}
#modules {
    border-left: none;
    border-bottom: none;
}

form table td {
    padding: .25em;
}
form table {
    margin: 1em;
}
#title-bar {
    min-height: 30px;
}

.page-title {
	text-align: center;
	font: bold 18px Helvetica, Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}


#choose-application {
    float: left;
    display: table;
}
#choose-application > div >* {
    float:left;
}
#choose-application > div > p {
    height: 40px;
}
#edit {
    float: right;
}
#empty {
    padding: 1em;
}
.message {
    text-align: center;
    padding: 1em;
}
.warning {
    font-style: italic;
    text-indent: 1em;
    margin-left: 1em;
}

.block {
    margin: 1em;
}
table.config {
    margin: 1em;
    width: 100%;
    
}
table.config td, table.config, th {
    padding: 0em 1em;
}
table.config th {
    text-align: left;
}
#form-view h3{
    text-align: center;
}

input[type='text'], input[type='password'] {
    border: 1px solid #ccc;
    background-color: #f5f5ff;
    width: 100px;
    margin: 1px;
    padding: 2px;
}

input.wide {
    width: 400px;
}
.code {
    font-family: monospace !important;
}
#langs {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1em;
}
#version {
    height: 22px;
}

.dropdown {
    display: block;
    background-color: white;
    border: 1px solid #ccc;
    position: absolute;
    padding: 0 1em;
}
.dropdown:hover {
    background-color: #8867B1;
}