#photos-list {
  width: 600px;
}

.photo-thumb {
  padding: 5px;
  float: left;
}

.photo-fullsize {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style:solid;
  border-width:15px;
  border-color:#f0f0f0;
}

#id_comment {
  width: 600px;
  height: 100px;
}