{% load i18n %}
{% load xforms_extras %}
{% load hq_shared_tags %}

{# For APP BUILDER PROTOTYPE use only #}

<a id="view_form_{{ module.unique_id }}_{{ form.unique_id }}_sidebar"
  {% if form.no_vellum %}
   href="{% url "view_form" domain app.id form.unique_id %}"
  {% else %}
   href="{% url "form_source" domain app.id form.unique_id %}"
  {% endif %}
   data-moduleid="{{ module.id }}"
   data-formid="{{ form.id }}"
   data-category="App Builder"
   data-action="Open Form"
   data-label="Edit Pen"
   class="appnav-title
          track-usage-link
          {% if not form.no_vellum %}appnav-title-secondary {% endif %}
          appnav-responsive">
  <i class="drag_handle appnav-drag-icon"></i>
  <i
    {% if form.get_action_type == 'open' %}
      class="fcc fcc-app-createform appnav-primary-icon appnav-primary-icon-lg"
    {% elif form.get_action_type == 'close' %}
      class="fcc fcc-app-completeform appnav-primary-icon appnav-primary-icon-lg"
    {% elif form.get_action_type == 'update' %}
      class="fcc fcc-app-updateform appnav-primary-icon appnav-primary-icon-lg"
    {% elif form.form_type == 'shadow_form' %}
      class="fa fa-moon-o appnav-primary-icon"
    {% else %}
      class="fa fa-file-o appnav-primary-icon"
    {% endif %}
      title="{{ form.get_icon_help_text }}"
      data-toggle="tooltip"
      data-placement="right"
      data-container="body"
  >
  </i>
  <span {% if form == selected_form %}class="variable-form_name"{% endif %}>
        {{ form.name|html_trans_prefix:langs }}
    </span>
</a>
