#case-list-menu-header{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: white;
  @media (max-width: @screen-sm-max) {
    min-height: 70px;
  }
  h1 {
    padding-left: 0px;
  }
}
