#case-list-menu-header{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: white;
  @media (max-width: @screen-sm-max) {
    min-height: 70px;
  }
  h1 {
    padding-left: 0px;
  }
}

#case-list-search-controls {
  background-color: @cc-bg;
  margin: 0 5px 5px 5px;
  display: flex;
  justify-content: space-between;
    #case-list-sort-by-btn {
      background-color: transparent;
    }
}

#select-all-tile-checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#select-all-tile-checkbox-label {
  font-weight: normal;
}

.select-row-checkbox-div {
  margin: 10px 10px 10px 10px;
  float: left;
}
