.case-list-menu-header {
  padding-top: 3 * @space-high-density;
  padding-left: 3 * @space-high-density;
  padding-right: 2 * @space-high-density;
  padding-bottom: @space-high-density;
  background: white;

  @media (max-width: @screen-sm-max) {
    min-height: 8 * @space-high-density;
  }

  h1 {
    margin-bottom: 0;
    padding: 0;

    @media (max-width: @screen-sm-max) {
      padding-top: @space-high-density / 2;
    }
  }
}

.case-list-header-actions {
  margin-top: -@space-high-density;
  @media (max-width: @screen-sm-max) {
    margin-top: 0;
  }

  .btn {
    margin-left: @space-high-density;
  }
}

#case-list-search-controls {
  background-color: @cc-bg;
  margin: @space-high-density;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

#case-list-sort-by-btn {
  background-color: transparent;
}

#select-all-tile-checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#select-all-tile-checkbox-label {
  font-weight: normal;
}

.select-row-checkbox-div {
  margin: 10px 10px 10px 10px;
  float: left;
}

.collapsed-tile-content {
  height: 100px;
  overflow-y: clip;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.show-more {
  text-align: center;
  font-size: large;
}

.sticky {
  position: sticky !important;
  z-index: 1; // keep sticky elements on top of case list
  &-header {
    top: 32px; // header scrolls excess padding under breadcrumbs
  }
  &-map {
    top: 46px; // map sits directly against breadcrumbs
  }
}

// todo should this be a re-usable class? only used for case list right now
.btn-circle {
  border-radius: 50%;
  aspect-ratio: 1;
}

#scroll-to-bottom {
  position: fixed;
  z-index: @zindex-formplayer-scroll-to-bottom;
  bottom: 45px;
  left: calc(100vw - 80px);
}

.case-tile-container {
  background: transparent !important;
  > div {
    background: white;
    margin-bottom: 20px;
    display: grid;
    container-type: inline-size;
  }

  #persistent-case-tile .persistent-sticky .webapp-markdown-output {
    img {
      max-height: 100%;
      max-width: 100%;
    }

    h1,h2,h3 {
      margin-top: 0px
    }
  }
}

@media screen {
  .case-tile-container {
    position: sticky;
    top: @breadcrumb-height-cloudcare;
    z-index: @zindex-persistent-tile-cloudcare;

    #persistent-case-tile .persistent-sticky {
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid @cc-neutral-hi;
    }
  }
}

@media print {
  .case-tile-container {
    > div {
      margin-bottom: 0px;
    }
    > div:not(:empty) {
      border-bottom: 1px dashed black;
    }
  }
}

.list-cell-wrapper-style {
  background-color: @cc-bg;
  border-collapse: collapse;
  border-radius: 11px;
  container-type: inline-size;
  margin: @space-high-density;
  transition: background 0.6s ease-in-out;
  vertical-align: top;

  a {
    color: @cc-brand-mid;
  }

  .module-icon,
  .webapp-markdown-output img {
    max-height: 100%;
    max-width: 100%;
  }

  &:hover {
    background-color: darken(@cc-bg, 5);
  }
}

.list-grid-style {
  // You are searching in the wrong place, dear grasshopper.
  // The styles are GENERATED in html (yikes!!) with the template id of "cell-layout-style-template"
}

#menu-region .module-menu-container,
#menu-region .module-case-list-container {

  .false-padding-border-right {
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: @space-high-density;

    @media (max-width: @screen-sm-max) {
      border-left-color: transparent;
      border-left-style: solid;
      border-left-width: @space-high-density;
    }

  }

  // todo: determine appropriate nesting
  #module-case-list-map {
    height: calc(~"100vh - 65px");

    @media (max-width: @screen-sm-max) {
      height: 25vh;
    }

    .marker-pin {
      text-align: center;
      /* Horizontally center the text (icon) */
      line-height: 12px;
      /* Vertically center the text (icon) */
      color: @call-to-action-hi;
      text-shadow: -1px 0 @call-to-action-low, 0 1px @call-to-action-low, 1px 0 @call-to-action-low, 0 -1px @call-to-action-low;
    }
  }



  .highlighted-case {
    border-style: solid;
    border-color: @cc-brand-mid;
  }

  .case-tile-group{
    margin: 10px;
    padding: 10px 0;

    .group-data{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    .group-rows{
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }
    .group-row{
      background-color: white;
      width: 95%;
    }
  }
}

@media print {
  #menu-region .module-menu-container,
  #menu-region .module-case-list-container {
    #module-case-list-container__results-container {
      grid-template-columns: [tiles] 1fr !important;
    }

    .list-cell-wrapper-style {
      border: 1px solid @cc-bg;
      break-inside: avoid;
    }
  }
}
