body {
  overflow-x: hidden;
  background-color: @cc-bg;
}

.cloudcare-home-content {
  padding: 0 0 2rem;
}


#hq-footer {
  display: none;
}

#case-list-menu-header{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: white;
  @media (max-width: @screen-sm-max) {
    min-height: 70px;
  }
  h1 {
    padding-left: 0px;
  }
}

.page-header {
  border-bottom: none;
  padding: 14px 8px 7px;
  margin: 0;
  h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: @cc-neutral-mid;
    padding-left: 1.5rem;
    font-weight: bold;
    margin-top: 0px;
  }
}

.page-footer {
  padding: 14px 8px 7px;
}

.page-header-apps {
  padding-left: 2px;
}

.page-header-apps h1 {
  padding-left: 0;
}

#content-container {
  background: transparent;
}

#case-list-search-controls {
  background-color: @cc-bg;
  margin: 0 5px 5px 5px;
  display: flex;
  justify-content: space-between;
    #case-list-sort-by-btn {
      background-color: transparent;
    }
}

#select-all-tile-checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#select-all-tile-checkbox-label {
  font-weight: normal;
}

.select-row-checkbox-div {
  margin: 10px 10px 10px 10px;
  float: left;
}

@media print {
  * {
    visibility: collapse;
  }

  .print-container, .print-container * {
    visibility: visible;
  }

  .noprint-sub-container {
    display: none !important;
  }

  #cloudcare-main {
    padding: 0px;
  }

  video {
    border: 1px solid #ddd;
  }
}

.collapsed-tile-content {
  height: 100px;
  overflow-y: clip;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.show-more {
  text-align: center;
  font-size: large;
}
