#menu-region {
  background: transparent;
}

#menu-region .module-menu-container,
#menu-region .module-case-list-container {
  background-color: white;
  .box-shadow(0 0 10px 2px rgba(0,0,0,.1));
  margin-bottom: 2rem;

  #module-case-list-map {
    height: calc(~"100vh - 65px");

    @media (max-width: @screen-sm-max) {
      height: 25vh;
    }

    .marker-pin {
      text-align: center;
      /* Horizontally center the text (icon) */
      line-height: 12px;
      /* Vertically center the text (icon) */
      color: @call-to-action-hi;
      text-shadow: -1px 0 @call-to-action-low, 0 1px @call-to-action-low, 1px 0 @call-to-action-low, 0 -1px @call-to-action-low;
    }
  }
}

#menu-region .module-menu-container {
  padding-bottom: 6px;
}

@media print {
  #menu-region .module-menu-container,
  #menu-region .module-case-list-container {
    #module-case-list-container__results-container {
      grid-template-columns: [tiles] 1fr !important;
    }

    .list-cell-wrapper-style {
      border: 1px solid @cc-bg;
    break-inside: avoid;
    }
  }
}

#case-list-menu-header div button {
  margin-left: 12px;
}
