#menu-region {
  background: transparent;
}

#menu-region .module-menu-container,
#menu-region .module-case-list-container {
  background-color: white;
  .box-shadow(0 0 10px 2px rgba(0,0,0,.1));
  margin-bottom: 2rem;
}

#menu-region .module-menu-container {
  padding-bottom: 6px;
}
