h1 {
    font-size: 2em;
    text-align: center;
}
#scheduled-reminders-container {
    margin: 10px;
}
table.calendar {
    margin: auto;
}
table.calendar td {
    border: 1px solid #BBB;
}
.scheduled-reminders {
    width: 100%;
}
.scheduled-reminders li {
    background-color: #CCF;
    border: 1px solid #AAF;
    margin: 2px;
    padding: 2px;
}
.calendar-today {
    background-color: #EEE;
}
.calendar-past {
    background-color: #FDD;
}
.calendar-cell {
    min-height: 100px;
}
.date-header {
    color: #888;
    text-align: center;
}
.time-header {
    color: #888;
}
#main_container {
    padding: 10px;
}