/*- self-clearing floats ----------*/


/*- LET'S GET STARTED!
----------------------------------------------------------------------*/

.hq-oldstyle {
    /* to prevent flicker */
    display: none;
}

.hq-oldstyle {
    .dataTables_filter label,
    .dataTables_length label{
        color: #ffffff;
        font-weight: bold;
    }
    .dataTables_filter {
        float: right;
        line-height: 20px;
    }
    .dataTables_length {
        padding-left: 10px;
        padding-top: 5px;
        label {
            margin-bottom: 0;
        }
    }
    .dataTables_paginate {
        float: right;
        margin-top: 5px;
    }
}

.hq-oldstyle {
    .ie-warning {
        text-align: center;
        border-bottom: 1px solid #F00;
        background-color: #FBB;
        padding: 1em;
    }

    .shadow {
        -moz-box-shadow: 0 0 8px #bbc;
        -webkit-box-shadow: 0 0 8px #bbc;
        box-shadow: 0 0 8px #bbc;
    }

    .sortable {
        sortable: auto;
    }

    .no-bottom-border {
       border-bottom: 1px solid white !important;
    }


    #shield > div {
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
        width: 450px;
        margin: 20px auto;
    }

    abbr {
        cursor: help;
    }

    #help {
        color: #555;
        float: left;
    }
    #help > * {
        margin-right: 20px;
    }

    #title-bar {
        border-left: none;
        border-right: none;
        border-top: none;
    }

    .padded {
        padding: 1em;
    }
    #form-tabs {
        padding: 0 !important;
        margin-bottom: 3em;
        /* to avoid flicker!!*/
        display: none;
    }
    #forms {
        padding: 0;
    }


    #title-bar {
        padding: 1em;
    }
    #modules-header {
        text-align: center;
    }

    form table td {
        padding: .25em;
    }
    form table {
        margin: 1em;
    }
    #title-bar {
        min-height: 30px;
    }

    .page-title {
        text-align: center;
        font: bold 18px Helvetica, Arial, Verdana, sans-serif;
        margin: 0;
        padding: 0;
    }

    #edit {
        float: right;
    }
    #empty {
        padding: 1em;
    }
    .message {
        text-align: center;
        padding: 1em;
        margin-bottom: 1em;
    }
    .message a {
        font-weight: bold !important;
        text-decoration: underline !important;
    }
    .block {
        margin: 1em;
        border: 1px solid #eaeaff;
        background-color: #fafaff;
    }

    input[disabled] {
        background-color: #DDD !important;
        border: 1px solid #CCC;
    }
    .code {
        font-family: monospace !important;
    }
    #version {
        height: 22px;
    }

    .drag_handle {
        width: 16px;
        cursor: move;
    }

    .ui-tabs {
        position: static !important;
    }

    /*.dropdown {*/
        /*display: block;*/
        /*background-color: white;*/
        /*border: 1px solid #ccc;*/
        /*position: absolute;*/
        /*padding: 0 1em;*/
    /*}*/
    /*.dropdown:hover {*/
        /*background-color: #8867B1;*/
    /*}*/

    .user_username {
        color: #000;
        font-weight: normal;
    }

    .user_domainname {
        color: #555;
        font-size: .8em;
    }

    .hidden {
        display: none;
    }

    /* Inline Help */
    .help-text {
        border: 1px solid #eaeaff;
        background-color: #fff;
        padding: 20px !important;
        position: absolute;
        margin-top: 10px;
    }
    .help-text
        p {
            text-align: justify;
            margin: 5px 0 5px 0;
        }

    .ui-icon {
        float: left;
    }

    img.ui-icon {
        display: inline;
        float: none;
    }

    .dialog {
        display: none;
    }

    .caution {
        font-variant: small-caps;
        font-weight: bold;
        text-decoration: underline;
    }

    .current-datetime {
        text-decoration: underline;
        color: #000;
    }

    .time-notice {
        text-align: center;
        border: 1px solid #CFC;
        color: #575;
        background: #EFE;
        padding: .5em;
        width: 500px;
        margin: 1em auto;
    }
}