{% load hq_shared_tags %}

{# todo: fix template to properly inherit from filters/base.html #}
<label class="control-label {{ css_label_class }}">{{ control_name }}</label> {# this is wrong, see filters/single_option.html for a proper implementation #}
<div class="{{ css_field_class }}">
  <div data-bind="foreach: selected_path" style="display: inline-block;">
    <select class="form-control" data-bind="options: children, optionsText: 'display_name', value: selected_child"></select>
  </div>
  <img id="loc_ajax" src="{% static 'formplayer/img/loading_small.gif' %}" style="display: none;">
</div>
<input name="location_id" type="hidden" data-bind="value: selected_locid" />

<script type="text/javascript">

    var LOAD_LOCS_URL = '{{ api_root }}';
    var REQUIRED = {{ required }}

    $.when(
        $.getScript("{% static 'locations/js/location_drilldown.async.js' %}"),
        $.getScript("{% static 'intrahealth/js/intrahealth_loc_drilldown.async.js' %}")
    ).done(function () {
        var locs = {{ locations|safe }};
        var selected = '{{ loc_id }}';
        var hierarchy = {{ hierarchy|JSON }};

        var model = new LocationSelectViewModel(hierarchy, false, null, false, IntrahealthLocModel);
        $('#group_{{ control_slug }}').koApplyBindings(model);
        model.load(locs, selected);
    });

</script>

