@import '../../../style/less/includes-3/variables';

@font-size-extra-large:           ceil((@font-size-base * 1.4));
@line-height-extra-large:         1.6;
@padding-extra-large-vertical:    14px;
@padding-extra-large-horizontal:  20px;

@border-radius-extra-large:       8px;
@input-border-radius-extra-large: @border-radius-extra-large;

//** Large `.form-control` height
@input-height-extra-large:        (ceil(@font-size-extra-large * @line-height-extra-large) + (@padding-extra-large-vertical * 2) + 2);
