{% load i18n %}
{% load crispy_forms_tags %}

<div id="add-filter-form-container">
  {% if show_success %}
    <div
        class="alert alert-success alert-dismissible fade show"
        role="alert"
    >
      {% blocktrans %}
        Added filter!
      {% endblocktrans %}
      <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="{% trans "Close" %}"
      ></button>
    </div>
  {% endif %}

  <form
      hx-post="{{ request.path_info }}"
      hx-target="#add-filter-form-container"
      hx-swap="outerHTML"
      hx-disabled-elt="find button"
  >
    {% crispy filter_form %}
  </form>
</div>
