@import "../../hqwebapp/scss/commcarehq/variables";
@import "../../hqwebapp/scss/commcarehq/mixins";

/**
These are the styles shared across both PREVIEW and the FULL PAGE WEB APP
version of FORMPLAYER
**/

@import "formplayer-common/mixins";

@import "formplayer-common/config";
@import "formplayer-common/navigation";
@import "formplayer-common/notifications";
@import "formplayer-common/grid";
@import "formplayer-common/paginate";
@import "formplayer-common/appicon";
@import "formplayer-common/case";
@import "formplayer-common/request";
@import "formplayer-common/module";
@import "formplayer-common/version";
@import "formplayer-common/form";
@import "formplayer-common/formnav";
@import "formplayer-common/markdown-table";
@import "formplayer-common/address";
@import "formplayer-common/query";
@import "formplayer-common/webforms";

@import "debugger/debugger";
