
.webforms {
  max-width: 800px;
  font-family: sans-serif;
}

#sync-container {
  padding-top: 9px;
}

#sync-container #sync-button {
  margin-bottom: 3px;
  margin-top: 3px;
}

.debugger {
  width: 800px;
  position: fixed;
  z-index: 10;
  bottom: 0;
  background-color: white;

  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.debugger .debugger-content {
  overflow-y: auto;
  margin-top: 12px;
  height: 300px;
  height: 335px;
  padding: 5px;
  padding-bottom: 0;
}

.debugger.debugger-minimized {
  height: 30px;
}

.debugger.debugger-maximized {
  height: 400px;
}

.debugger .debugger-state {
  cursor: pointer;
}

.debugger-code {
  font-family: monospace;
}

.debugger-tab-title {
  font-size: 14px;
  line-height: 18px;
  color: white;
  background-color: #004ebc;
  border-bottom: #ddd solid 4px;
  padding: 6px;
  cursor: pointer;

  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.debugger-tab-title:hover {
  background-color: #0060E6;
}

/* Override default nprogress bar color to match CommCareHQ */
#nprogress .bar {
  background: #004ebc;
}

#nprogress .peg {
  box-shadow: 0 0 10px #004ebc, 0 0 5px #004ebc;
}

video {
  max-width: 400px;
}

.ix {
  display: none;
}

.widget-container {
  position: relative;
}

.widget {
  margin-right: 20px;
}

.loading {
  position: absolute;
  right: 0px;
  line-height: 30px;
  font-size: 18px
}

.error-message {
  font-weight: bold;
}

input:invalid {
  color: #b94a48;
  border-color: #b94a48;
}


.required .caption::before {
  content: '*';
  font-weight: bold;
  color: #c0392b;
  margin: 0 3px;
  right: 0;
  position: absolute;
}

.caption {
  font-weight: normal;
}

.dirty .widget {
    background-color: lightblue;
}

.map {
  width: 400px;
  height: 250px;
  background: #eee;
  max-width: none !important;
}

.coordinate {
  font-weight: bold;
  width: 8em;
}

.wait {
  margin: auto;
  padding-top: 60px;
  max-width: 200px;
  color: #bbb;
  font-size: 24pt;
  line-height: 28pt;
}
