{% load i18n %}

<div class="modal fade"
     id="cta-form-start-trial">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans 'Close' %}</span></button>
        <h3 class="modal-title">
          {% trans "Request a CommCare Professional trial" %}
        </h3>
      </div>
      <div class="modal-body form-horizontal">

        {# Hubspot Form #}
        <div class="form form-horizontal"
             id="get-trial-cta-form-content"></div>
        
        {# Schedule Call Choices #}
        <div id="callback-options" hidden>
          <h1 class="text-center">Choose how to get started</h1>
          <p>
            Starting your trial requires a brief call with our team to set up your CommCare project space. Please choose if you prefer us to call you back ASAP, or if you would like to book a  time for the call?
          </p>
          <div class="text-center">
            <button type="button" class="btn btn-primary">Book a call</button>
            <button type="button" class="btn btn-primary">Get a callback</button>
          </div>
        </div>

        {# Schedule Once Demo #}
        <div id="get-trial-cta-calendar-content" style="display: none;">
          <p>
            {% blocktrans %}
              Book a time with us to review your needs and get your customized
              CommCare trial setup.
            {% endblocktrans %}
          </p>
          <div id="SOIDIV_CommCareTrial"
               data-so-page="CommCareTrial"
               data-style="border: 1px solid #d8d8d8; min-width: 290px; max-width: 900px;"
               data-psz="11"></div>
        </div>

      </div>
    </div>
  </div>
</div>
