{% extends "hqwebapp/bootstrap5/base_section.html" %}
{% load i18n %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}

{% requirejs_main_b5 "motech/js/connection_settings_detail" %}

{% block page_content %}
  {% registerurl "test_connection_settings" domain %}

  <h2>{% trans "Add Connection Settings" %}</h2>
  <div class="spacer"></div>

  {% crispy form %}  {# todo B5: check crispy #}

  {# crispy.CSS_ACTION_CLASS to match the "Test Connection" button #}
  <div class="col-sm-12 col-md-8 col-lg-8 col-xl-6
              offset-md-4 offset-lg-4 offset-xl-2">
    <div id="test-connection-result"
         class="text-success d-none"></div>
  </div>

{% endblock %}
