{% extends "hqwebapp/two_column.html" %}
{% load report_tags %}
{% load i18n %}

{% block page_breadcrumbs %}
    <ol id="hq-breadcrumbs" class="breadcrumb breadcrumb-hq-section">
        <li>
            <a href="{% url "data_interfaces_default" domain %}"><strong>{% trans "Data" %}</strong></a>
        </li>
        <li>
            {% trans "Import Cases from Excel" %}
        </li>
        <li class="active">
            {% trans "Importing Cases..." %}
        </li>
    </ol>
{% endblock %}

{% block page_content %}
    {% block extrahead %}
        <script>
            var autoRefresh = '';
            var pollDownloader = function () {
                if ($('#ready_{{ download_id }}').length == 0)
                    {
                        $.get("{% url "importer_job_poll" domain download_id %}", function(data) {
                            $("#display_{{ download_id }}").html(data);
                        });
                    } else {
                        clearInterval(autoRefresh);
                    }
            };
            $(function () {
                pollDownloader();
                autoRefresh = setInterval(pollDownloader, 2000);
            });
        </script>
    {% endblock extrahead %}

    <div class="downloader_container" id="display_{{ download_id }}">
        <legend>
            {% trans "Importing your data. This may take some time..." %}
        </legend>
    </div>
{% endblock %}
