{% extends "style/two_column.html" %}
{% load hq_shared_tags %}
{% load report_tags %}
{% load i18n %}

{% block js %}{{ block.super }}
<script src="{% static 'fast-levenshtein/levenshtein.js' %}"></script>
<script src="{% static 'case_importer/js/excel_fields.js' %}"></script>
{% endblock %}
{% block js-inline %}{{ block.super }}
    <script>
        $(function() {
            var excelfields = hqImport('case_importer/js/excel_fields');
            var excelFields = {{ excel_fields|JSON }};
            var caseFieldSpecs = {{ case_field_specs|JSON }};
            var excelFieldRows = excelfields.ExcelFieldRows(excelFields, caseFieldSpecs);
            $('#excel-field-rows').koApplyBindings(excelFieldRows);

            function autofillProperties() {
                excelFieldRows.autoFill();
            }

            $('#js-add-mapping').click(function(e) {
                excelFieldRows.addRow();
                e.preventDefault();
            });

            $('.custom_field').on('change, keypress, keydown, keyup', function() {
                var original_value = $(this).val();
                var value = excelfields.sanitizeCaseField(original_value);
                if (value !== original_value) {
                    $(this).val(value);
                }
            });

            $('#field_form').submit(function() {
                $('[disabled]').each(function() {
                    $(this).prop('disabled', false);
                });

                return true;
            });

            $('#back_button').click(function() {
                history.back();
                return false;
            });

            $('#autofill').click(autofillProperties);

            $('#back_breadcrumb').click(function(e) {
                e.preventDefault();
                history.back();
                return false;
            });
        });
    </script>
{% endblock %}

{% block page_breadcrumbs %}
    <ol id="hq-breadcrumbs" class="breadcrumb breadcrumb-hq-section">
        <li>
            <a href="{% url "data_interfaces_default" domain %}"><strong>{% trans "Data" %}</strong></a>
        </li>
        <li>
            <a href="#" id="back_breadcrumb">{% trans "Import Cases from Excel" %}</a>
        </li>
        <li class="active">
            {% trans "Matchings" %}
        </li>
    </ol>
{% endblock %}

{% block page_content %}
    {% include 'case_importer/partials/help_message.html' %}

    <form action="{% url "excel_commit" domain %}"
          method="post"
          id="field_form"
          class="form-horizontal">
          {% csrf_token %}
        <input type="hidden" name="case_type" value="{{case_type}}" />
        <input type="hidden" name="search_column" value="{{search_column}}" />
        <input type="hidden" name="search_field" value="{{search_field}}" />
        <input type="hidden" name="create_new_cases" value="{{create_new_cases}}" />

        <fieldset>
            <legend>{% trans "Match Excel Columns to Case Properties" %}</legend>
            <table class="table table-condensed" id="fieldlist">
                <thead>
                    <th class="span1"></th>
                    <th>{% trans "Excel Field" %}</th>
                    <th></th>
                    <th>{% trans "Case Property" %}<button type="button" class="btn btn-primary btn-xs pull-right" id="autofill">{% trans "Set to default" %}</button></th>
                    <th></th>
                </thead>
                <tbody id="excel-field-rows" class="ko-template">
                    {% include "case_importer/partials/excel_field_rows.html" %}
                </tbody>
            </table>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    {% trans "Modify" %}
                </label>
                <div class="col-sm-6">
                    <a id="js-add-mapping" class="btn btn-default" href="#">
                        <i class="fa fa-plus"></i> {% trans "Add another matching" %}
                    </a>
                </div>
            </div>
        </fieldset>

        <div class="form-actions">
            <div class="col-sm-offset-3">
                <button type="button" class="btn btn-primary" id="back_button">
                    <i class="fa fa-backward"></i> {% trans "Back" %}
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-forward"></i>
                    {% trans "Confirm Import" %}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
