{% load i18n %}
<script type="text/javascript">
    $(function () {
        {% trans "Welcome to the App Builder" as step1_title %}
        {% trans "Click 'Next' for a quick introduction to this page." as step1_content %}

        {% trans "Edit a form" as step2_title %}
        {% trans "Build and edit form questions and logic in our easy Form Builder." as step2_content %}

        {% trans "Deploy your App" as step3_title %}
        {% trans "Click here to install your app on a mobile device." as step3_content %}

        {% trans "Happy App Building!" as step4_title %}
        {% trans 'For more advice, tutorials, and answers to questions, please checkout our <a href="http://help.commcarehq.org/">Help Site</a>.' as step4_content %}

        var form_tour = new Tour({
            name: '{{ request.guided_tour.slug }}',
            orphan: true,  // needed due to the async nature of the app manager
            steps: [
                {
                    element: 'h1.page-header .breadcrumb',
                    title: "{{ step1_title|escapejs }}",
                    content: "{{ step1_content|escapejs }}",
                    placement: 'bottom'
                },
                {
                    element: '#edit_label',
                    title: "{{ step2_title|escapejs }}",
                    content: "{{ step2_content|escapejs }}",
                    onShown: function () {
                        $('#edit_label').addClass('btn-success').removeClass('btn-primary');
                    },
                    onHide: function () {
                        $('#edit_label').removeClass('btn-success').addClass('btn-primary');
                    }
                },
                {
                    element: '#tour-deploy-link',
                    title: "{{ step3_title|escapejs }}",
                    content: "{{ step3_content|escapejs }}",
                    onShown: function () {
                        $('#tour-deploy-link').parent().addClass('active');
                    },
                    onHide: function () {
                        $('#tour-deploy-link').parent().removeClass('active');
                    }
                },
                {
                    element: 'h1.page-header',
                    title: "{{ step4_title|escapejs }}",
                    content: '{{ step4_content|escapejs }}',
                    html: true,
                    placement: 'bottom'
                }
            ],
            onEnd: TourUtils.getEndTourAsync('{{ request.guided_tour.endUrl }}'),
            template: TourUtils.getCustomTemplate()
        });
        form_tour.setCurrentStep(0);
        form_tour.init(true);
        form_tour.start(true);
    });
</script>
