{% extends 'tour/config/report_builder_tour.html' %}
{% block steps %}
[
    {
        path: '{{ request.guided_tour.dashboard_url }}',
        element: '*[slug="reports"] .panel-heading',
        title: gettext("NEW! Build Your Own Reports!"),
        content: gettext("Build real-time graphs and indicator reports for your project"),
        placement: 'bottom'
    },
    {
        // TODO: Show this regardles of if they have seen the first step or not
        path: '{{ request.guided_tour.reports_home_url }}',
        element: '#create-new-report-left-nav',
        title: gettext("Add A Report"),
        content: gettext("Click here to add your own custom reports to your project."),
        placement: 'right'
    }

]
{% endblock %}
