{% load hq_shared_tags %}
<section class="hq-styleguide-article">
    <header class="page-header">
        <h1 id="z_index">Handling Z-Index</h1>
    </header>
    <p class="lead">
        Disorganized z-indices lead to highly visible bugs.
    </p>
    <p>
        Z-index gives you control over the stacking order of elements. The challenge is that
        it acts like a global variable and, like any global variable, gets hard to keep track of.
        HQ deals with this as best as it can, by declaring numeric z-index values as variables in
        <a href="https://github.com/dimagi/commcare-hq/blob/master/corehq/apps/hqwebapp/static/hqwebapp/less/_hq/includes/variables.less">variables.less</a>
        and using the variables in other LESS files. This isn't perfect, but it at least gives us
        one place to define HQ-specific absolute z-index values - which also need to play nicely
        with Bootstrap's z-index list.
    </p>
    <p>
        Most z-index issues arise from not having a good handle on all of the different values
        used in an application, but there are a few other complexities that occasionally cause problems:
        <ul>
            <li>
                Stacking levels: Z index isn't the only aspect of element stacking. Stacking is also affected
                by element positioning and floating.
                <a href="http://vanseodesign.com/css/css-stack-z-index/">
                    "Natural" stacking order, from top to bottom:
                </a>
                <ul>
                    <li>Positive z-index</li>
                    <li>z-index auto or 0</li>
                    <li>Inline elements</li>
                    <li>Floated elements</li>
                    <li>Block-level elements</li>
                    <li>Negative z-index</li>
                    <li>Background</li>
                </ul>
            </li>
            <li>
                Stacking context: Z-index isn't strictly global, it acts within a stacking context. There's a
                global context but may also be sub-contexts within that. The most common of these is that an
                element with a non-auto z-index creates a stacking context. This is intuitive: if you set a modal
                to <code>z-index: 9999</code>, you don’t have to set the z-index on all of its children to 1000,
                they just come along for the ride. But there are other properties that also create new stacking
                contexts where you might not expect it. <code>position: fixed</code> is one, translucent elements
                is another.
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context">
                    The others are pretty obscure.
                </a>
            </li>
        </ul>
    </p>
</section>
