{% extends 'app_manager/v1/managed_app.html'%}
{% load xforms_extras %}
{% load hq_shared_tags %}
{% load i18n %}

{% block head %}{{ block.super }}
    {% if include_fullstory %}
        {% include 'analytics/fullstory.html' %}
    {% endif %}
    {% if not vellum_debug %}
        <link href="{% static "app_manager/js/vellum/style.css" %}" type="text/css" rel="stylesheet"/>
    {% elif vellum_debug == "dev-min" %}
        <link href="{% static 'formdesigner/_build/style.css' %}" type="text/css" rel="stylesheet"/>
    {% endif %}
{% endblock %}

{% block js %}{{ block.super }}
    <script src="{% static 'moment/moment.js' %}"></script>
    <script src="{% static 'requirejs/require.js' %}"></script>
    <script src="{% static 'app_manager/js/forms/app_notifications.js' %}"></script>
    <script src="{% static 'js/ws4redis.js' %}"></script>
    <script src="{% static 'app_manager/js/forms/form_designer.js' %}"></script>
{% endblock %}

{% block js-inline %}{{ block.super }}
    {% if request.guided_tour %}{% include request.guided_tour.template %}{% endif %}
{% endblock %}

{% block title %}{{ form.name|clean_trans:langs }}{% endblock %}

{% block form-view %}
    {% initial_page_data 'CKEDITOR_BASEPATH' CKEDITOR_BASEPATH|static %}
    {% initial_page_data 'days_since_created' request.couch_user.days_since_created %}
    {% initial_page_data 'guided_tour' request.guided_tour %}
    {% initial_page_data 'requirejs_args' requirejs_args %}
    {% initial_page_data 'requirejs_url' requirejs_url|static %}
    {% initial_page_data 'notification_options' notification_options %}
    {% initial_page_data 'vellum_debug' vellum_debug %}
    {% initial_page_data 'vellum_options' vellum_options %}
    <div id="formdesigner" class="clearfix"></div>
{% endblock %}

{% block column_style %}hq-flush-content{% endblock %}
