{% extends "app_manager/v1/form_view_base.html" %}
{% load xforms_extras %}
{% load hq_shared_tags %}
{% load i18n %}

{% block js_extra %}
    <script src="{% static 'app_manager/js/case-config-ui-advanced.js' %}"></script>
    <script src="{% static 'app_manager/js/visit-scheduler.js' %}"></script>
{% endblock %}

{% block js-inline %}{{ block.super }}
<script>
    var initial_page_data = hqImport("hqwebapp/js/initial_page_data.js").get;

    if (initial_page_data('has_form_source')) {
        var CaseConfig = hqImport('app_manager/js/case-config-ui-advanced.js').CaseConfig,
            caseConfig = new CaseConfig(_.extend({}, initial_page_data("case_config_options"), {
            home: $('#case-config-ko'),
            requires: ko.observable(initial_page_data("form_requires")),
        }));
        caseConfig.init();
 
        if (initial_page_data("schedule_options")) {
            var VisitScheduler = hqImport('app_manager/js/visit-scheduler.js');
            var visitScheduler = new VisitScheduler.Scheduler(_.extend({}, initial_page_data("schedule_options"), {
                home: $('#visit-scheduler'),
            }));
            visitScheduler.init();
        }
    }
</script>
{% endblock %}

{% block case_management_content %}
    {% initial_page_data 'has_form_source' form.source|yesno:"1," %}
    {% initial_page_data 'schedule_options' schedule_options %}
    {% include 'app_manager/v1/partials/case_config_advanced.html' %}
{% endblock %}
