{% load i18n %}
<table>
    <tr>
        <th>{% trans "Edit" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Domain" %}</th>
        <th>{% trans "Start" %}</th>
        <th>{% trans "End" %}</th>
        <th>{% trans "Delete" %}</th>
    </tr>
    {% for prescription in prescriptions %}
        <tr>
            <td><a href="{% url edit_prescription prescription.get_id %}">edit</a></td>
            <td>{{ prescription.type }}</td>
            <td>{{ prescription.domain }}</td>
            <td>{{ prescription.start }}</td>
            <td>{{ prescription.end }}</td>
            <td>
                <form action="{% url delete_prescription prescription.get_id %}" method="post">
                    <input type="submit" value="delete">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

<a href="{% url add_prescription %}">Add Prescription</a>