/* this is included in cloudcare/preview_app.html */

@import "../../cloudcare/scss/formplayer-common/mixins";

$transition-speed: .5s;

@import "preview_app/variables";
@import "preview_app/datepicker";
@import "preview_app/notifications";
@import "preview_app/scrollable";
@import "preview_app/navigation";
@import "preview_app/grid";
@import "preview_app/appicon";
@import "preview_app/breadcrumbs";
@import "preview_app/module";
@import "preview_app/form";
@import "preview_app/formnav";
@import "preview_app/debugger";
@import "preview_app/case-tile";
