@import '../../hqwebapp/less/_hq/includes/variables.less';
@import '../../hqwebapp/less/_hq/includes/mixins.less';

/* this is included in cloudcare/preview_app.html */

@import "preview_app/mixins";

@transition-speed: .5s;

@import "preview_app/base";
@import "preview_app/variables";
@import "preview_app/notifications";
@import "preview_app/scrollable";
@import "preview_app/navigation";
@import "preview_app/grid";
@import "preview_app/appicon";
@import "preview_app/menu";
@import "preview_app/breadcrumb";
@import "preview_app/module";
@import "preview_app/form";
@import "preview_app/formnav";
@import "preview_app/case";
@import "preview_app/datepicker";
@import "preview_app/panels";
@import "preview_app/debugger";
