@import '../../style/less/includes-3/variables.less';
@import '../../style/less/includes-3/mixins.less';

@panel-dashboard-border: darken(@navbar-default-bg, 5);
@panel-dashboard-header-bg: @navbar-default-bg;

.dashboard-icon {
  @icon-size: 220px;
  width: @icon-size;
  height: @icon-size;
  margin: @grid-gutter-width/2 auto;
  display: block;
  background-position: 0px 0px;
}

.dashboard-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.dashboard-link,
.dashboard-button {
  &:hover,
  &:focus {
    text-decoration: underline;
    outline: none;
    .dashboard-icon {
      background-position: 0px -220px;
    }
  }
}

.dashboard-icon-exchange {
  background-image: url('../img/icon-large-exchange.png');
}

.dashboard-icon-applications {
  background-image: url('../img/icon-large-applications.png');
}

.dashboard-icon-help {
  background-image: url('../img/icon-large-help.png');
}

.dashboard-icon-commtrack {
  background-image: url('../img/icon-large-commtrack.png');
}

.panel-dashboard {
  .panel-variant(@panel-dashboard-border; @navbar-default-color; @panel-dashboard-header-bg; @panel-dashboard-border);

  .panel-heading {
    font-weight: bold;
    font-size: @font-size-large;
  }

  .panel-body {
    text-align: center;
  }
}
