$icomoon-font-family: "commcarehq-font" !default;
$icomoon-font-path: "/static/hqwebapp/font" !default;

$fcc-flower: unquote('"\\f000"');
$fcc-applications: unquote('"\\f00e"');
$fcc-commtrack: unquote('"\\f00f"');
$fcc-reports: unquote('"\\f012"');
$fcc-data: unquote('"\\f013"');
$fcc-users: unquote('"\\f014"');
$fcc-settings: unquote('"\\f015"');
$fcc-help: unquote('"\\f016"');
$fcc-exchange: unquote('"\\f017"');
$fcc-messaging: unquote('"\\f018"');
$fcc-chart-report: unquote('"\\f020"');
$fcc-form-report: unquote('"\\f021"');
$fcc-user-report: unquote('"\\f022"');
$fcc-datatable-report: unquote('"\\f023"');
$fcc-piegraph-report: unquote('"\\f024"');
$fcc-survey: unquote('"\\f025"');
$fcc-casemgt: unquote('"\\f026"');
$fcc-blankapp: unquote('"\\f027"');
$fcc-globe: unquote('"\\f034"');
$fcc-app-createform: unquote('"\\f035"');
$fcc-app-updateform: unquote('"\\f036"');
$fcc-app-completeform: unquote('"\\f037"');
$fcc-app-biometrics: unquote('"\\f038"');
$fcc-fd-text: unquote('"\\f001"');
$fcc-fd-numeric: unquote('"\\f002"');
$fcc-fd-data: unquote('"\\f003"');
$fcc-fd-variable: unquote('"\\f005"');
$fcc-fd-single-select: unquote('"\\f006"');
$fcc-fd-multi-select: unquote('"\\f007"');
$fcc-fd-decimal: unquote('"\\f008"');
$fcc-fd-long: unquote('"\\f009"');
$fcc-fd-calculation: unquote('"\\f004"');
$fcc-fd-datetime: unquote('"\\f00a"');
$fcc-fd-audio-capture: unquote('"\\f00b"');
$fcc-fd-android-intent: unquote('"\\f00c"');
$fcc-fd-signature: unquote('"\\f00d"');
$fcc-fd-multi-box: unquote('"\\f010"');
$fcc-fd-single-circle: unquote('"\\f011"');
$fcc-fd-hash: unquote('"\\f019"');
$fcc-fd-external-case: unquote('"\\f028"');
$fcc-fd-external-case-data: unquote('"\\f029"');
$fcc-fd-expand: unquote('"\\f030"');
$fcc-fd-collapse: unquote('"\\f031"');
$fcc-fd-case-property: unquote('"\\f032"');
$fcc-fd-edit-form: unquote('"\\f033"');
