{% extends base_template %}
{% block content %}
<div id="main_container">
    <div id="domain_forwarding" class="ui-widget ui-corner-all">
        <h2 id="header" class="ui-widget-header ui-corner-top">Configure Domain Forwarding</h2>
        <div id="content" class="ui-widget-content">
			<form method="post">
			<table>
			    {{form.as_table}}
			    <tr><td></td><td><input type="submit" value="Start Forwarding" /></td></tr>
			</table>
        </form>
        </div>
    </div>
</div>
{% endblock %}