{% extends "users/users_base.html" %}
{% load i18n %}

{% block subsection-title %}
    <li>
        <a href="{% url domain_forwarding domain %}">Data Forwarding</a>
    </li>
{% endblock %}

{% block user-view %}
    {% for cls, form_repeaters in repeaters %}
    <div style="padding-bottom:2em;">
        <h2>Forward {% if cls == "CaseRepeater" %}Cases{% else %}Form{% if cls == "ShortFormRepeater" %} Stub{% endif %}{% endif %}:</h2>
        {% if form_repeaters %}
            <table class="table table-striped table-bordered">
            {% if form_repeaters %}
            <thead>
                <tr>
                    <th class="span6">
                        Url
                    </th>
                    <th class="span6">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
            {% endif %}
            {% for repeater in form_repeaters %}
                {% include "domain/admin/repeater_row.html" %}
            {% endfor %}
            </tbody>
            </table>
        {% else %}
            <p>You haven't configured any urls to forward to yet.</p>
        {% endif %}
        <a class="btn btn-success" href="{% url add_repeater domain cls %}"><i class="icon icon-white icon-plus"></i> Add a forwarding location</a>
    </div>
    {% endfor %}
{% endblock %}