{% extends "hqwebapp/base_section.html" %}
{% load i18n %}
{% load hq_shared_tags %}

{% block page_content %}
  <div class="row">
    <div class="col-sm-6">
      <p>
        {% blocktrans %}
          Feature Preview lets you turn on features that we are still actively developing and are not quite ready yet.
          Please only enable a feature if you are sure that you need it in your project and that you understand how to use it.
          Preview features will often require more technical expertise than usual.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
          We would love to get your feedback as we continue to develop these features!
          Please let us know how it goes by reporting any problems through the "Report an Issue" button,
          which you can find under the question mark in the navigation bar.
        {% endblocktrans %}
      </p>
      <div class="alert alert-info">
        {% blocktrans %}
          Looking for something that used to be here?
          <br><br>
          The feature flags
          <strong>Conditional ID Mapping in Case List</strong>,
          <strong>Custom Calculations in Case List</strong>,
          <strong>Custom Single and Multiple Answer Questions</strong>, and
          <strong>Icons in Case List</strong> are now add-ons for individual apps. To turn them on,
          go to the application's settings and choose the <strong>Add-Ons</strong> tab.
        {% endblocktrans %}
      </div>
      <br/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">{% trans "Update previews" %}</button>
        <table class="table table-striped">
          <thead>
          <th class="col-sm-3">{% trans "Feature Name" %}</th>
          <th>{% trans "Description" %}</th>
          <th>{% trans "Enable" %}</th>
          </thead>
          <tbody>
          {% for feature, enabled in features %}
            <tr>
              <td>{{ feature.label }}</td>
              <td>
                {{ feature.description|safe }}<br/>
                {% if feature.help_link %}
                  <a href="{{ feature.help_link }}" target="_blank">{% trans "More information" %}</a>
                {% endif %}
              </td>
              <td>
                <input type="checkbox" name="{{ feature.slug }}" {% if enabled %}checked{% endif %}/>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
{% endblock %}
