{% extends "users/users_base.html" %}
{% load hq_bootstrap_tags %}
{% load i18n %}

{% block js-inline %}
{{ block.super }}
<script type="text/javascript">
    $(function(){
        $("#id_project_type").focus(function() {
            $.getJSON('{% url autocomplete_categories %}', function(results) {
                $("#id_project_type").typeahead({ source: results,
                               items: 8
                           }).
                attr("autocomplete", "off");
            });
        });
    });
</script>
{% endblock %}

{% block subsection-title %}
    <li class="active">
        <a href="#">Global Settings</a>
    </li>
{% endblock %}

{% block user-view %}
    <form class="form-horizontal" method="post">
        {% bootstrap_form_errors form %}
        {% bootstrap_fieldset form "Project Settings" %}
{% if user_sees_meta %}
        {% bootstrap_form_errors metadata_form %}
        {% bootstrap_fieldset metadata_form "Project Details" %}
{% endif %}
        <div class="form-actions"><button type="submit" class="btn btn-primary">Update Project Settings</button></div>
    </form>
{% endblock %}>