{% extends "users/users_base.html" %}
{% load hqstyle_tags %}
{% load hq_shared_tags %}
{% load i18n %}

{% block js %} {{ block.super }}
<script type="text/javascript" src="{% static 'domain/js/media_manager.js' %}"></script>
<script type="text/javascript">ko.applyBindings(new MediaManager({{ media|JSON }}, {{ licenses|JSON }}));</script>
{% endblock %}

{% block subsection-title %}
<li class="active">
    <a href="#">Multimedia Sharing</a>
</li>
{% endblock %}

{% block user-view %}
<form method="post">
    <fieldset>
        <legend>Change Multimedia Sharing Settings</legend>
        <p>
            Multimedia shared below will show up in projects shared on CommCare Exchange and in the list of available multimedia for others to use.
        </p>
    <table class="table table-striped table-bordered table-condensed hqtable-vcentered">
        <thead>
            <tr>
                <td>
                    Type
                </td>
                <td>
                    Preview
                </td>
                <td>
                    Shared?<br />
                    Check all
                    <input type="checkbox" data-bind="checked: allShared" />
                </td>
                <td>
                    Tags
                </td>
                <td>
                    License<br />
                    {% include "domain/partials/license_explanations.html" %}
                </td>
            </tr>
        </thead>
        <tbody data-bind="foreach: media">
            <tr>
                <td data-bind="text: type"></td>
                <td class="span3">
                <div data-bind="if: image">
                    <a data-bind="attr: {href: url}" class="thumbnail" target="_blank"><img data-bind="attr: {src: url}" /></a>
                </div>
                <div data-bind="if: audio || other">
                    <a data-bind="attr: {href: url}" class="btn btn-primary" target="_blank">Listen in a new window</a>
                </div>
                </td>
                <td><input type="checkbox" data-bind="checked: shared, attr: {name: m_id + '_shared'}" /></td>
                <td><input type="text" data-bind="value: tags, enable: shared, attr: {name: m_id + '_tags'}" placeholder="Space-separated tags" /></td>
                <td><select data-bind="options: $root.licenses, optionsText: 'name', optionsValue: 'code', value: license, enable: shared, attr: {name: m_id + '_license'}"></select>
                    <br />
                    <a data-toggle="modal" href="#license-explanations">More information...</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-actions"><button type="submit" class="btn btn-primary">Update media sharing settings</button></div>
    </fieldset>
</form>
{% endblock %}>