{% extends "settings/bootstrap2/base_template.html" %}
{% load hqstyle_tags %}
{% load hq_shared_tags %}
{% load i18n %}

{% block main_column %}
    <div class="form-horizontal" method="post">
        <fieldset>
            {% if languages|length > 0 %}
                {% if applications|length > 0 %}
                    <legend>{% trans 'Project Overview' %}</legend>
                {% endif %}
                <div class="control-group">
                    <label class="control-label">{% trans 'Languages Used' %}</label>
                    <div class="controls">
                        <p>{{ languages }}</p>
                    </div>
                </div>
            {% endif %}
            {% if applications|length > 0 %}
                <div class="control-group">
                    <label class="control-label">{% trans 'Applications' %}</label>
                    <div class="controls">
                        <ul class="nav nav-pills nav-stacked">
                            {% for app in applications %}
                                <li><a href="{% url "corehq.apps.app_manager.views.view_app" domain app.id %}">{{ app.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </fieldset>
    </div>
{% endblock %}
