{% load i18n %}
<tr>
    <td>{{ repeater.url }}
        {% if repeater.white_listed_case_types %}
            <br/>Case Types: {{ repeater.white_listed_case_types|join:", " }}
        {% endif %}
    </td>
    <td>{{ repeater.get_pending_record_count }}</td>
    <td>{{ repeater.get_failure_record_count }}</td>
    <td>{{ repeater.get_cancelled_record_count }}</td>
    <td>{{ repeater.get_success_record_count }}</td>
    <td>
        {% if repeater.is_case_repeater %}
        <a class="btn btn-default" href="{% url 'edit_case_repeater' domain repeater.get_id %}">
        {% elif repeater.is_form_repeater %}
        <a class="btn btn-default" href="{% url 'edit_form_repeater' domain repeater.get_id %}">
        {% else %}
        <a class="btn btn-default" href="{% url 'edit_repeater' domain repeater.get_id %}?repeater_type={{ cls }}">
        {% endif %}
            {% trans "Edit"%}
        </a>
        <a
            class="btn btn-default"
            href="
            {% url 'domain_report_dispatcher' domain 'repeat_record_report' %}?repeater={{ repeater.get_id }}"
            >
            {% trans "View forwarded records" %}
        </a>
        <a class="btn btn-danger" href="#stop_forwarding_{{ repeater.get_id }}" data-toggle="modal"><i
                class="fa fa-remove"></i> {% trans "Stop Forwarding" %}</a>

        <div class="modal fade" id="stop_forwarding_{{ repeater.get_id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{% trans "Stop Forwarding" %}</h4>
                    </div>
                    <form name="drop_repeater" action="{% url 'drop_repeater' domain repeater.get_id %}"
                          method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p>
                                {% blocktrans with repeater.url as repeat_url %}
                                    Are you sure you want to stop forwarding to: {{ repeat_url }}?
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" data-dismiss="modal" class="btn btn-default">{% trans 'Cancel' %}</a>
                            <button type="submit" class="btn btn-danger"><i
                                    class="fa fa-remove"></i> {% trans 'Stop Forwarding' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </td>
</tr>
