{% load i18n %}
<tr>
    <td>{{ repeater.url }}</td>
    <td>
        <a class="btn btn-danger" href="#stop_forwarding_{{ repeater.get_id }}" data-toggle="modal"><i
                class="icon icon-white icon-remove"></i> {% trans "Stop Forwarding" %}</a>

        <div class="modal fade" id="stop_forwarding_{{ repeater.get_id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">{% trans "Stop Forwarding" %}</h3>
                    </div>
                    <form name="drop_repeater" action="{% url 'drop_repeater' domain repeater.get_id %}"
                          method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p>Are you sure you want to stop forwarding to: {{ repeater.url }}?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" data-dismiss="modal" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-danger"><i
                                    class="fa fa-remove"></i> Stop Forwarding
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </td>
</tr>
