{% extends "hqwebapp/bootstrap5/base_section.html" %}
{% load hq_shared_tags %}
{% load i18n %}

{% requirejs_main_b5 'commtrack/js/sms' %}

{% block page_content %}
  {% initial_page_data "settings" settings %}
  {% initial_page_data "other_sms_codes" other_sms_codes %}
  <form id="settings" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>{% trans 'Stock Actions' %}</legend>
      <div class="{% css_field_class %}">
        {% include "domain/admin/commtrack_action_table.html" %}
        <button type="button" class="btn btn-outline-primary float-end" data-bind="click: new_action">
          <i class="fa fa-plus"></i> {% trans "New Action" %}
        </button>
      </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">
      {% trans "Save Settings" %}
    </button>

    <input name="json" type="hidden" data-bind="value: json_payload" />
  </form>
{% endblock %}
