{% load hq_shared_tags %}

<!--
This file uses jquery-ui.js. When you include this in any of your templates, there might be a jquery-ui and bootstrap conflict that will result in console errors and some broken UI. Make sure you resolve such errors by one of following methods
1. Order jquery-ui first and bootstrap latter (http://stackoverflow.com/a/13539923)
2. If 1 is not possible put jquery-ui in the body, bootstrap in the head (HQ's bootstrap3/base.html follows this)
-->

{# touchforms includes #}
<link rel="stylesheet" href="{% new_static 'jquery-ui/themes/base/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% new_static 'nprogress/nprogress.css' %}">
<link rel="stylesheet" href="{% new_static 'formplayer/style/webforms.css' %}">
<script src="{% new_static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% new_static 'nprogress/nprogress.js' %}"></script>
<script src="{% new_static 'formplayer/script/vendor/shortcut.js' %}"></script>
<script src="{% new_static 'formplayer/script/vendor/markdown-it-4.2.0.min.js' %}"></script>
<script src="{% new_static 'formplayer/script/vendor/ba-tiny-pubsub.min.js' %}"></script>
<script src="{% new_static 'formplayer/script/vendor/purify.js' %}"></script>
<script src="{% new_static 'formplayer/script/webformsession.js' %}"></script>
<script src="{% new_static 'formplayer/script/formnav-all.js' %}"></script>
<script src="{% new_static 'formplayer/script/entrycontrols_full.js' %}"></script>
<script src="{% new_static 'formplayer/script/fullform-ui.js' %}"></script>
<script src="{% new_static 'formplayer/script/utils.js' %}"></script>
<script src="{% new_static "cloudcare/js/util.js" %}"></script>
<script src="{% new_static 'cloudcare/js/touchforms-inline.js' %}"></script>

{% include 'formplayer/fullform-ui/templates.html' %}
