
DATABASES = {
    'default': {       
        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': '',       
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.        
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

DJANGO_LOG_FILE = "/var/log/datahq/datahq.django.log"
LOG_SIZE = 1000000
LOG_LEVEL   = "DEBUG"
LOG_FILE    = "/var/log/datahq/datahq.log"
LOG_FORMAT  = "[%(name)s]: %(message)s"
LOG_BACKUPS = 256 # number of logs to keep


####### Receiver Settings #######
ROOT_DATA_PATH = "/data"
RECEIVER_SUBMISSION_PATH=ROOT_DATA_PATH + "/submissions"
RECEIVER_ATTACHMENT_PATH=ROOT_DATA_PATH + "/attachments"
RECEIVER_EXPORT_PATH=ROOT_DATA_PATH

####### XFormManager Settings #######
XFORMS_SCHEMA_PATH=ROOT_DATA_PATH + "/schemas"
XFORMS_EXPORT_PATH=ROOT_DATA_PATH
XFORMS_FORM_TRANSLATE_JAR="/var/django_sites/datahq/lib/form_translate.jar"

