@import "../../hqwebapp/scss/commcarehq/variables";
@import "../../hqwebapp/scss/commcarehq/variables_bootstrap3";
@import "../../hqwebapp/scss/commcarehq/mixins";

/* This file is included only by apps_base.html */

@import "includes/variables";
@import "includes/corehq_overrides";
@import "includes/navigation";
@import "includes/form_editing";
@import "includes/deploy";
@import "includes/content";
@import "includes/case_tile_preview";
@import "includes/popover";
@import "includes/savebtn";
@import "includes/panel";
@import "includes/table";
@import "includes/diff";
@import "includes/new_module_modal";
