.col-hq-sidebar {
  background-color: #f4f4f4;
  padding: 0;
  padding-bottom: 20px;
}

.nav-hq-sidebar {
  &.nav > li {
    a {
      padding: 3px 20px;
    }
    > a:hover {
      background-color: #dbdbdb;
    }
  }
  &.nav li.active {
    > a, > a:link, > a:visited, > a:hover {
      background-color: @brand-primary;
      color: #ffffff;
    }
  }
  &.nav > li li a {
    padding-left: 30px;
  }
}


.page-actions-toolbar {
  padding: 0px 15px;
}

.nav-hq-sidebar .nav-input {
  padding: 3px 20px;
}

.nav-main-icon {
  font-size: 1.7em;
  line-height: 0.7em;
}
