.hq-datatable-container {
  .dataTables_length,
  .dataTables_info {
    display: inline-block;
    padding-right: 10px;
  }
}

.table tr.active a:not(.btn) {
  color: #ffffff;
}

table.table-properties {
  tbody.add-prop {
    background-color: @cc-bg;
  }
}
