{% extends base_template %}

{% block head %}
    <script src="{{ STATIC_URL }}translations/js/translations.js"></script>
    <script>
        $(function () {
            var $translation_ui = $("#translations_ui");
            mk_translation_ui({
                translations: {{ translations_json|safe }},
                url: "{% url set_translation %}",
                doc_id: "{{ doc_id }}",
                lang: "{{ lang }}",
                $home: $translation_ui
            });
            COMMCAREHQ.initBlock($translation_ui);
        });
    </script>
    <style>
        input[type="text"] {
            width: 500px;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="main_container">
        <div id="translations_ui"></div>
    </div>
{% endblock %}