{% load hq_shared_tags %}

{% if record.percent and record.percent < 100 %}
  <div
    class="progress"
    role="progressbar"
    aria-label="{% trans_html_attr 'Cleaning progress' %}"
    aria-valuenow="{{ record.percent }}"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      style="width: {{ record.percent }}%"
    >
      {{ record.percent }}%
    </div>
  </div>
{% else %}
  <span class="badge text-bg-{{ record.status_class }}">
    {{ record.status_text }}
  </span>
{% endif %}
