{% extends "layout.html" %}
{% load i18n %}
{% block title_suffix %} - Commcare HQ{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{MEDIA_URL}}/hq/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="{{MEDIA_URL}}/hq/stylesheets/blueprint/print.css" type="text/css" media="print">
<!--[if lt IE 8]><link rel="stylesheet" href="{{MEDIA_URL}}/hq/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link type="text/css" rel="stylesheet" href="/static/backends/stylesheets/global.css" />
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/hq/stylesheets/style.css" />
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/hq/stylesheets/modules.css" />
{% block hq-stylesheets %}
{% endblock %}
{% block page_stylesheets %}
{% endblock %}
{% endblock %}
{% block auth %}
{% include "hq/partials/header.html" %}
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="/">[INTEL] {%trans "CommCare HQ" %}</a></h1>
{% endblock %}
{% block footer %}
{% include "hq/partials/footer.html" %}
{% endblock %}
