{% load hq_shared_tags %}
{% load i18n %}

<script id="grid-template" type="text/template">

    <div>
        <h1>{% trans "Applications" %}</h1>
    </div>

    <div class="row">
        <div class="grid-item col-sm-4 formplayer-request">
          <div class="js-incomplete-sessions-item appicon appicon-incomplete">
            <i class="ff ff-incomplete-bg appicon-icon appicon-icon-bg" aria-hidden="true"></i>
            <i class="ff ff-incomplete-fg appicon-icon appicon-icon-fg" aria-hidden="true"></i>
            <h3 class="appicon-title-double-line">{% trans "Incomplete Forms" %}</h3>
          </div>
        </div>

        <div class=" grid-item col-sm-4formplayer-request">
          <div class="js-sync-item appicon appicon-sync">
            <i class="ff ff-sync appicon-icon" aria-hidden="true"></i>
            <h3 class="appicon-title-single-line">{% trans "Sync" %}</h3>
          </div>
        </div>

        <div class="application-container">

        </div>

    </div>
</script>

<script id="single-app-template" type="text/template">
  <div class="container container-appicons">
    <div class="row">
        <div class="grid-item col-xs-6 col-sm-4 formplayer-request">
          <div class="js-start-app appicon appicon-start">
            <i class="ff ff-start-bg appicon-icon appicon-icon-bg" aria-hidden="true"></i>
            <i class="ff ff-start-fg appicon-icon appicon-icon-fg" aria-hidden="true"></i>
            <h3 class="appicon-title-single-line">{% trans "Start" %}</h3>
          </div>
        </div>
        <div class=" grid-item col-xs-6 col-sm-4 formplayer-request">
          <div class="js-incomplete-sessions-item appicon appicon-incomplete">
            <i class="ff ff-incomplete-bg appicon-icon appicon-icon-bg" aria-hidden="true"></i>
            <i class="ff ff-incomplete-fg appicon-icon appicon-icon-fg" aria-hidden="true"></i>
            <h3 class="appicon-title-double-line">{% trans "Incomplete Forms" %}</h3>
          </div>
        </div>
        <div class="grid-item col-xs-6 col-sm-4 formplayer-request">
          <div class="js-sync-item appicon appicon-sync">
            <i class="ff ff-sync appicon-icon" aria-hidden="true"></i>
            <h3 class="appicon-title-single-line">{% trans "Sync" %}</h3>
          </div>
        </div>
    </div>
  </div>
</script>


<script id="row-template" type="text/template">
    <h3><%- name %></h3>
    <img class="app-icon" src="{% static 'cloudcare/images/cc_flower.png' %}"/>
</script>
