{% load hq_shared_tags %}
{% load i18n %}

<script type="text/template" id="settings-template">
  <div class="module-menu-container module-menu-bar-offset">
      <div class="page-header menu-header">
          <h1 class="page-title">Settings</h1>
      </div>
      <table class="table module-table">
          <tbody>
              <tr>
                  <th>Use one question per screen</th>
                  <td><input class="js-one-question-per-screen" type="checkbox" data-size="mini" /></td>
              </tr>
              <tr>
                  <th>Set the application language</th>
                  <td>
                    <select class="form-control js-lang">
                      <% _.each(langs, function(lang) { %>
                      <option <% if (lang === displayOptions.language) { %>selected<% } %>>
                        <%= lang %>
                      </option>
                      <% }) %>
                    </select>
                  </td>
              </tr>
          </tbody>
      </table>
      <div class="page-footer">
          <button class="btn btn-success js-done">
              <i class="fa fa-check"></i>&nbsp;Done
          </button>
      </div>
  </div>
</script>
