{% load hq_shared_tags %}

<script type="text/template" id="restore-as-view-template">
    <div class="module-menu-container">
        <div class="page-header menu-header">
            <h1 class="page-title">Login as user</h1>
        </div>
        <table class="table module-table">
            <tbody>
            </tbody>
        </table>
        <nav>
            <ul class="pagination pagination-lg">
                <!-- Render Previous button -->
                <li>
                    <% if (page === 1) { %>
                  <a class="js-user-previous disabled">
                    <% } else { %>
                  <a class="js-user-previous">
                    <% } %>
                    <span>&laquo;</span>
                  </a>
                </li>

                <!-- Render page buttons -->
                <% for (var i = 0; i < totalPages; i++) { %>
                    <% if (i + 1 === page) { %>
                    <li class="active"><a><%= i + 1 %></a></li>
                    <% } else { %>
                    <li><a><%= i + 1 %></a></li>
                    <% } %>
                <% } %>

                <!-- Render Next buttons -->
                <li>
                <% if (page === totalPages) { %>
                  <a class="js-user-next disabled">
                <% } else { %>
                  <a class="js-user-next">
                <% } %>
                    <span>&raquo;</span>
                  </a>
                </li>
            </ul>
        </nav>
    </div>
</script>

<script type="text/template" id="user-row-view-template">
    <td class="module-column module-column-icon">
        <div class="module-icon-container">
            <i class="fa fa-user module-icon" aria-hidden="true"></i>
        </div>
    </td>
    <td class="module-column module-column-name">
        <h3>
            <b><%= username %></b>
            <span><%= first_name + ' ' + last_name %></span>
        </h3>
    </td>
</script>
