h4.media-heading {
    background-color: #000000;
    color: #FFFFFF;
    padding: 0.3125em;
    margin-bottom: 0 !important;
    text-align: center;
}

.row_chart > div, .row_chart_all > div, .row_chart > ul.stats  {
    border: 1px solid lightslategray;
    margin-bottom: 10px;
    background-color: #EFEDED;
}

.module ul,
.module li {
    margin: 0;
    padding: 0;
    list-style: none;
}

tr:nth-child(n+2) {
    white-space: nowrap;
}

.module ul {
    padding: 0 0.5em 1em;
    margin: 0 0;
    overflow-y: auto;
    overflow-x: auto;
}

.module li {
    display: block;
    border: 1px solid #ddd;
    margin-top: 0.5em;
    padding: 0.5em;
}

.module li:first-child {
    margin-top: 0;
}

.module li div.meta,
.module li div.caption {
    font-size: 1.5em;
}

.module li div.report {
    font-size: 2.6em;
    line-height: 1.2;
    border-bottom: 1px dotted #eee;
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
}

.nv-pieChart .nv-legendWrap {
    display: none;
}

#group_location_async select {
    width: 200px;
}

#group_location_async .form-inline {
    padding-left: 10px;
}

#report_filter_filter_by_program > div {
    padding-left: 0 !important;
}
