.row_chart {
    border: 1px solid lightslategray;
    width: 45%;
    float: left;
    margin: 20px;
}

.row_chart_all {
    border: 1px solid lightslategray;
    float: left;
    width: 90%;
    margin: 20px;
}

.module ul,
.module li {
    margin: 0;
    padding: 0;
    list-style: none;
}

tr:nth-child(n+2) {
    white-space: nowrap;
}

.module ul {
    padding: 0.5em;
    padding-top: 0;
    margin: 0.5em 0;
    overflow-y: auto;
    overflow-x: auto;
}

.module li {
    display: block;
    border: 1px solid #ddd;
    margin-top: 0.5em;
    padding: 0.5em;
}

.module li:first-child {
    margin-top: 0; }

.module li div.meta,
.module li div.caption {
    font-size: 1.5em;
}

.module li div.report {
    font-size: 2.6em;
    line-height: 1.2;
    border-bottom: 1px dotted #eee;
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
}

#report_table_product_selection_pane tr {
    width: 50%;
    display: inline-block;
    font-size: 10px;
}

#report_table_product_selection_pane tr:last-child {
    width: 100%;
}

#report_table_product_selection_pane td {
    padding: 0;
}

.nv-pieChart .nv-legendWrap {
    display: none;
}

h4.media-heading {
    background-color: #000000;
    color: #FFFFFF;
    padding: 0.3125em;
    margin-bottom: 0 !important;
    text-align: center;
}

.row_chart {
    height: 530px;
}

.row_chart > div, .row_chart_all > div {
    background-color: #f8f8f8;
    margin-left: 0 !important;
}

#report_table_rr_status {
    width: 100% !important;
}

.dataTables_scrollHeadInner, .dataTable {
    width: 100% !important;
}