{% extends "hqwebapp/base_section.html" %}
{% load compress %}
{% load hq_shared_tags %}
{% load i18n %}

{% requirejs_main "data_dictionary/js/data_dictionary" %}

{% block stylesheets %}{{ block.super }}
  {% compress css %}
  <link type="text/less"
        rel="stylesheet"
        media="all"
        href="{% static 'data_dictionary/less/data_dictionary.less' %}" />
  {% endcompress %}
{% endblock %}

{% block page_navigation %}
  <h2 class="text-hq-nav-header">{% trans "Data Dictionary" %}</h2>
  <ul class="nav nav-hq-sidebar">
    <!-- ko foreach: caseTypes -->
    <li data-bind="css: { active: $data.name == $root.activeCaseType() }">
      {# navigation handle by URL hash #}
      <a data-bind="text: $data.name, attr: {href: $data.url}"></a>
    </li>
    <!-- /ko -->
    <li>
      <a href="#" data-bind="openModal: 'create-case-type'">
        <i class="fa fa-plus"></i>
        {% trans "Add Case Type" %}
      </a>
    </li>
  </ul>

  <script type="text/html" id="create-case-type">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{% trans "Create a new Case Type" %}</h4>
        </div>
        <form class="form-horizontal" id="create-case-type-form"
                style="margin: 0; padding: 0"
                action="{% url "create_case_type" domain %}"
                method="post"
                data-bind="submit: submitCreate"
        >
            {% csrf_token %}
            <div class="modal-body">
              <fieldset>
                <div class="form-group" data-bind="css: {'has-error': nameChecked() && !nameValid()}">
                  <label for="name" class="col-xs-12 col-sm-4 col-md-4 col-lg-2 control-label">
                    {% trans "Name" %}
                  </label>
                  <i class="fa" data-bind="
                     visible: nameChecked(),
                     css: {
                         'fa-check': nameValid(),
                         'text-success': nameValid(),
                         'fa-remove': !nameValid(),
                         'text-danger': !nameValid(),
                     }
                  "></i>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 controls">
                    <input type="text" name="name" class="form-control" required data-bind="textInput: name"/>
                    <span class='help-block' data-bind="visible: nameChecked() && !nameValid()">
                      {% trans "A case type with this name already exists." %}
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="description" class="col-xs-12 col-sm-4 col-md-4 col-lg-2 control-label">
                      {% trans "Description" %}
                  </label>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 controls">
                    <textarea name="description" class="form-control"></textarea>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="modal-footer">
              <a href="#" data-dismiss="modal" class="btn btn-default" data-bind="
                css: {disabled: formCreateCaseTypeSent()},
                attr: {disabled: formCreateCaseTypeSent()}
              ">{% trans 'Cancel' %}</a>
              <button type="submit" class="btn btn-primary" data-bind="
                css: {disabled: formCreateCaseTypeSent() || !nameValid()},
                attr: {disabled: formCreateCaseTypeSent() || !nameValid()}
              ">
                <i class="fa fa-plus" data-bind="
                   css: {
                       'fa-plus': !formCreateCaseTypeSent(),
                       'fa-refresh': formCreateCaseTypeSent,
                       'fa-spin': formCreateCaseTypeSent
                   }
                "></i>
                {% trans "Create Case Type" %}
              </button>
            </div>
          </form>
      </div>
    </div>
</script>
{% endblock %}

{% block page_content %}
  {% registerurl 'data_dictionary_json' domain %}
  {% registerurl 'update_case_property' domain %}
  {% initial_page_data 'typeChoices' question_types %}
  {% initial_page_data 'fhirResourceTypes' fhir_resource_types %}
  <div data-bind="saveButton: saveButton, visible: $root.activeCaseType()"></div>
  <div class="row">
    <div class="col-md-12">
      <h3 data-bind="text: $root.activeCaseType()"></h3>
      {% if fhir_integration_enabled %}
        <div class="form-inline" data-bind="visible: fhirResourceTypes().length">
          {% trans "FHIR Resource Type" %}
          <select class="form-control"
                  data-bind="options: fhirResourceTypes,
                             optionsCaption: '{% trans_html_attr 'Select a resource type' %}',
                             value: fhirResourceType,
                             disable: removefhirResourceType,
                            ">
          </select>
          <!-- ko if: fhirResourceType() && !removefhirResourceType() -->
          <button data-bind="click: removeResourceType" class="btn btn-danger btn-sm">{% trans "Clear" %}
          </button>
          <!-- /ko -->
          <!-- ko if: removefhirResourceType() -->
          <button data-bind="click: restoreResourceType" class="btn btn-default btn-sm">{% trans "Restore" %}
          </button>
          <!-- /ko -->
        </div>
        <br />
      {% endif %}
      <a class="btn btn-info" id="download-dict" href="{% url "export_data_dictionary" domain %}">
        <i class="fa fa-cloud-download"></i>
        {% trans "Export to Excel" %}
      </a>
      <a class="btn btn-default" href="{% url "upload_data_dict" domain %}">
        <i class="fa fa-cloud-upload"></i>
        {% trans "Import from Excel" %}
      </a>
      <div  data-bind="visible: $root.activeCaseType()">
      <button data-bind="click: $root.showDeprecated, visible: !showAll()" class="btn btn-default pull-right">{% trans "Show Deprecated Properties" %}</button>
      <button data-bind="click: $root.hideDeprecated, visible: showAll" class="btn btn-default pull-right">{% trans "Hide Deprecated Properties" %}</button>
      <table id="data-dictionary-table" class="table">
        <thead>
        <th></th>
        <th>{% trans "Case Property" %}</th>
        <th>{% trans "Data Type" %}</th>
        <th>{% trans "Description" %}</th>
        {% if fhir_integration_enabled %}
          <th>{% trans "FHIR Resource Property Path" %}</th>
        {% endif %}
        <th>
          {% trans "Valid Values &amp; Formats" %}
          <span
            class="hq-help-template"
            data-title="{% trans 'Valid values or format' %}"
            data-content="{% trans 'Only import rows with cells that match the listed values or formats' %}">
          </span>
        </th>
        <th></th>
        </thead>
        <tbody data-bind="sortable: casePropertyList">
        <!-- ko if: isGroup -->
        <tr class="active">
          <td><i class="fa" data-bind="css: { 'fa-plus-square': !expanded(), 'fa-minus-square': expanded() }, click: $root.toggleGroup"></i></td>
          <td data-bind="text: name ? name : 'No Group'"></td>
          <td>{% trans "Case Property Group" %}</td>
          <td></td>
          <td></td>
          <td></td>
          {% if fhir_integration_enabled %}
            <td></td>
          {% endif %}
        </tr>
        <!-- /ko -->
        <!-- ko if: !isGroup -->
        <tr data-bind="visible: expanded() && (!deprecated() || $root.showAll()), attr: {'data-order': _sortableOrder}">
          <td class="sortable-handle">
            <i class="fa fa-arrows-v"></i>
          </td>
          <td data-bind="text: name"></td>
          <td>
            <select class="form-control"
                    data-bind="
                                options: $root.availableDataTypes,
                                optionsCaption: 'Select a data type',
                                optionsText: 'display',
                                optionsValue: 'value',
                                value: dataType,
                            "></select>
          </td>
          <td>
                            <textarea class="form-control vertical-resize" data-bind="
                              value: $data.description,
                              rows: 1,
                              placeholder: '{% trans "Click here to add a description" %}',
                            "></textarea>
          </td>
          {% if fhir_integration_enabled %}
          <td class="fhir-path">
            <input class="form-control" data-bind="value: $data.fhirResourcePropPath, disable: removeFHIRResourcePropertyPath"></input>
            <!-- ko if: fhirResourcePropPath() && !removeFHIRResourcePropertyPath() -->
            <i data-bind="click: removePath" class="fa fa-close"></i>
            <!-- /ko -->
            <!-- ko if: removeFHIRResourcePropertyPath() -->
            <i data-bind="click: restorePath" class="fa fa-undo"></i>
            <!-- /ko -->
          </td>
          {% endif %}
          <td>
            <div data-bind="visible: canHaveAllowedValues()">
              <div data-bind="jqueryElement: $allowedValues"></div>
            </div>
            <div data-bind="visible: dataType() === 'date'" class="help-block">
              {% trans "YYYY-MM-DD" %}
            </div>
          </td>
          <td>
            <!-- ko if: !deprecated() -->
            <i data-bind="click: deprecateProperty" class="fa fa-archive"></i>
            <!-- /ko -->
            <!-- ko if: deprecated() -->
            <i data-bind="click: restoreProperty" class="fa fa-undo"></i>
            <!-- /ko -->
          </td>
        </tr>
        <!-- /ko -->
        </tbody>
      </table>
      <form class="form-inline">
        <input class="form-control" placeholder="Case Property" data-bind="value: newPropertyName">
        <button class="btn btn-default" data-bind="click: $root.newCaseProperty">
          <i class="fa fa-plus"></i>
          {% trans "Add Case Property" %}
        </button>
      </form>
      <br />
      <form class="form-inline">
        <input class="form-control" placeholder="Group Name" data-bind="value: newGroupName">
        <button class="btn btn-default" data-bind="click: $root.newGroup">
          <i class="fa fa-plus"></i>
          {% trans "Add Case Property Group" %}
        </button>
      </form>
      </div>
      <p class="help-block">
        {% url 'generate_data_dictionary' domain as refresh_url %}
        {% blocktrans %}
        Missing properties or case types? <a href="{{ refresh_url }}" target="_blank">Click to sync</a>
        (opens in a new tab, may be slow...)
        {% endblocktrans %}
      </p>
      <div data-bind="hidden: $root.caseTypes().length > 0">
        <button class="btn btn-primary" data-bind="openModal: 'create-case-type'">
          <i class="fa fa-plus"></i>
          {% trans "Add a new Case Type" %}
        </button>
      </div>
    </div>
  </div>
{% endblock %}
