{% extends "reports/tabular.html" %}
{% load compress %}
{% load i18n %}
{% load hq_shared_tags %}

{% block page_title %}
    {{ current_page.page_name }}
{% endblock page_title %}

{% block reportcontent %}
<div>
  <span>
    {% blocktrans %}
      Use this page to manage GPS data associated with Cases or Mobile workers.
    {% endblocktrans %}
  </span>
</div>
<br>

<ul id="tabs-list" class="nav nav-tabs">
  <li data-bind="click: onclickAction" class="active"><a data-toggle="tab" href="#tabs-cases">{% trans 'Update Case Data' %}</a></li>
  <li data-bind="click: onclickAction"><a data-toggle="tab" href="#tabs-users">{% trans 'Update Mobile Worker Data' %}</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="tabs-cases">
    {% include 'gps_capture.html' with data_type='case' %}
  </div>

  <div class="tab-pane fade" id="tabs-users">
    {% include 'gps_capture.html' with data_type='user' %}
      <div class="module-banner alert alert-info">
        <span>
          {% blocktrans %}
            To create new Mobile Workers navigate to the Mobile Workers page under the Users tab.
          {% endblocktrans %}
          <a href="{% url 'mobile_workers' domain %}">
            {% blocktrans %}
            Navigate there.
            {% endblocktrans %}
          </a>
        </span>
      </div>
  </div>
</div>
<div id="geospatial-map" style="height: 500px"></div>
{% endblock %}
