{% load i18n %}

<div
  class="modal fade"
  id="review-assignment-results"
  tabindex="-1"
  aria-labelledby="reviewAssignmentLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewAssignmentLabel">
          {% trans 'Review Assignment Results' %}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          {% blocktrans %}
            All potential cases for each mobile worker will be pre-selected and
            de-selecting a case will remove it from final assignments once the
            "Assign" button is clicked.
          {% endblocktrans %}
        </p>
        <div class="row g-3">
          <div class="col-lg-6">
            <label class="form-label"> {% trans 'Assignment Status' %} </label>
            <select class="form-select" data-bind="value: assignedFilter">
              <option value="all">{% trans 'Show All' %}</option>
              <option value="assigned">{% trans 'Assigned Only' %}</option>
              <option value="unassigned">{% trans 'Unassigned Only' %}</option>
            </select>
          </div>
          <div class="col-lg-6">
            <label class="form-label">
              {% trans 'Select mobile worker for case assignment' %}
            </label>
            <select
              class="form-select"
              type="text"
              id="user-assignment-select"
              data-bind="value: selectedUserId"
            ></select>
          </div>
        </div>
        <div style="overflow-y: auto; max-height: 40vh" class="mt-3">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="col-sm-3">
                  <span>{% trans 'Select' %}</span>
                  <button
                    class="btn btn-sm btn-outline-secondary ms-1"
                    data-bind="click: toggleSelectAll(true)"
                  >
                    {% trans 'All' %}
                  </button>
                  <button
                    class="btn btn-sm btn-outline-secondary ms-1"
                    data-bind="click: toggleSelectAll(false)"
                  >
                    {% trans 'None' %}
                  </button>
                </th>
                <th>{% trans "Case Name" %}</th>
                <th>{% trans "Potential Mobile Worker" %}</th>
                <th>{% trans "Mobile Worker Primary Location" %}</th>
              </tr>
            </thead>
            <tbody data-bind="foreach: caseDataPage">
              <tr data-bind="css: { 'table-active': isSelected }">
                <td>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      data-bind="checked: isSelected"
                    />
                  </div>
                </td>
                <td data-bind="text: $data.caseName"></td>
                <td data-bind="text: $data.assignedUsername"></td>
                <td data-bind="text: $data.assignedUserPrimaryLocName"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination
          data-apply-bindings="false"
          params="goToPage: goToPage,
                  slug: 'assigned-cases',
                  perPage: itemsPerPage,
                  totalItems: totalItems"
        >
        </pagination>
      </div>
      <div class="modal-footer">
        <div class="row g-3 align-items-center w-100">
          <div class="col-sm-4">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="relatedCasesCheck"
                data-bind="checked: includeRelatedCases"
              />
              <label class="form-check-label" for="relatedCasesCheck">
                {% trans 'Include related cases' %}
              </label>
            </div>
          </div>
          <div class="col-sm-8 text-end">
            <button
              class="btn btn-outline-primary"
              data-bind="click: assignUserToCases, attr: { disabled: !hasCheckedRows() }"
            >
              <span data-bind="visible: selectedUserId">
                {% trans 'Assign Cases' %}
              </span>
              <span data-bind="visible: !selectedUserId()">
                {% trans 'Unassign Cases' %}
              </span>
            </button>
            <button class="btn btn-info" data-bind="click: exportAssignments">
              {% trans 'Export' %}
            </button>
            <button
              class="btn btn-primary"
              data-bs-dismiss="modal"
              data-bind="click: finishAssignment"
            >
              {% trans 'Finish' %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
