{% extends "reports/tabular.html" %}
{% load hq_shared_tags %}
{% load report_tags %}
{% load i18n %}
{% block reportcontent %}
  {# hacky mchack - since we're inheriting from tabular, i'm just repeating myself here with the hat here #}
  <div>
    {% block patient_hat %}
      <h2>
        {{ patient_doc.pactid}}  <small>{{ patient_doc.last_name }},  {{ patient_doc.first_name }}</small>
      </h2>
    {% endblock patient_hat %}
  </div>
  <ul class="nav nav-pills">
    {% block patient-tab-controller %}
      <li {% if view_mode == "info" %}class="active"{% endif %}>
        <a href="{{ pt_root_url }}" >{% trans "Info" %}</a></li>

      <li {% if view_mode == "schedule" %}class="active"{% endif %}>
        <a href="{{ pt_root_url }}&view=schedule" >{% trans "Schedule" %}</a>
      </li>
      {% if patient_doc.is_dot_patient %}
        <li {% if view_mode == "dots" %}class="active"{% endif %}>
          <a href="{{ pt_root_url }}?view=dots" >{% trans "DOT Adherence" %}</a>
        </li>
      {% endif %}
      <li {% if view_mode == "submissions" %}class="active"{% endif %}>
        <a href="{{ pt_root_url }}&view=submissions" >{% trans "Submissions" %}</a></li>

      <li {% if view_mode == "careplan" %}class="active"{% endif %}>
        <a href="{{ pt_root_url}}&view=careplan">{% trans "Care Plan" %}</a>
      </li>
    {% endblock patient-tab-controller %}
  </ul>
  {{ block.super }}
{% endblock reportcontent %}
