{% load hq_shared_tags %}
{% load i18n %}
<div data-bind="attr: {id: 'bulk-delete-export-modal'}" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          {% blocktrans %}
              Delete <span data-bind="text: bulkExportDownloadCount()"></span> Selected Exports
            {% endblocktrans %}
        </h4>
      </div>
      <div class="modal-body">
        <p>
          <div data-bind="if: !multipleBulkSelected()">
            {% blocktrans %}
              Are you sure you want to permanently delete this <strong>1 export</strong>:
            {% endblocktrans %}
          </div>
          <div data-bind="if: multipleBulkSelected()">
            {% blocktrans %}
              Are you sure you want to permanently delete these <strong><span data-bind="text: bulkExportDownloadCount()"></span> exports</strong>:
            {% endblocktrans %}
          </div>
          <br>
            <ul data-bind="foreach: bulkDeleteList()">
              <li data-bind="text: name"></li>
            </ul>
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-bind="click: BulkExportDelete" data-dismiss="modal">
          <i class="fa fa-remove"></i>
          {% blocktrans %}
            Delete <span data-bind="text: bulkExportDownloadCount()"></span> Exports
          {% endblocktrans %}
        </button>
        <a href="#" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</a>
      </div>
    </div>
  </div>
</div>
