{% extends "style/base_section.html" %}
{% load hq_shared_tags %}
{% load i18n %}

{% block js-inline %} {{ block.super }}
    <script>
        var upcoming_table = null;
        var past_table = null;

        function delete_broadcast(broadcast_id)  {
            if(confirm("{% trans 'Are you sure you want to delete this broadcast?' %}")) {
                $.ajax({
                    url: "{% url 'list_broadcasts' domain %}",
                    type: "POST",
                    data: {
                        action: "delete_broadcast",
                        broadcast_id: broadcast_id
                    }
                }).done(function(response, textStatus, jqXHR) {
                    upcoming_table.fnDraw();
                });
            }
        }

        $(function() {
            upcoming_table = $("#upcoming-broadcasts-table").dataTable({
                "lengthChange": false,
                "filter": false,
                "sort": false,
                "displayLength": 5,
                "processing": true,
                "serverSide": true,
                "ajaxSource": "{% url 'list_broadcasts' domain %}",
                "fnServerParams": function(aoData) {
                    aoData.push({"name": "action", "value": "list_upcoming"});
                },
                "sDom": "rtp",
                "language": {
                    "emptyTable": "{% trans 'There are no broadcasts to display.' %}",
                    "infoEmpty": "{% trans 'There are no broadcasts to display.' %}",
                    "lengthMenu": "{% trans 'Show _MENU_ broadcasts per page' %}",
                    "processing": '<img src="{% static 'hqwebapp/images/ajax-loader.gif' %}" /> {% trans 'Loading Broadcasts...' %}',
                    "info": "{% trans 'Showing _START_ to _END_ of _TOTAL_ broadcasts' %}",
                    "infoFiltered": "{% trans '(filtered from _MAX_ total broadcasts)' %}"
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "render": function(data, type, full) {
                            return '<a href="' + full[4] + '">' + full[0] + '</a>';
                        }
                    },
                    {
                        "targets": [3],
                        "render": function(data) {
                            return '<button class="btn btn-danger" onClick="delete_broadcast(\'' + data + '\');"> \
                                        {% trans 'Delete' %} \
                                    </button>';
                        }
                    }
                ]
            });
            past_table = $("#past-broadcasts-table").dataTable({
                "lengthChange": false,
                "filter": false,
                "sort": false,
                "displayLength": 5,
                "processing": true,
                "serverSide": true,
                "ajaxSource": "{% url 'list_broadcasts' domain %}",
                "fnServerParams": function(aoData) {
                    aoData.push({"name": "action", "value": "list_past"});
                },
                "dom": "rtp",
                "language": {
                    "emptyTable": "{% trans 'There are no broadcasts to display.' %}",
                    "infoEmpty": "{% trans 'There are no broadcasts to display.' %}",
                    "lengthMenu": "{% trans 'Show _MENU_ broadcasts per page' %}",
                    "processing": '<img src="{% static 'hqwebapp/images/ajax-loader.gif' %}" /> {% trans 'Loading Broadcasts...' %}',
                    "info": "{% trans 'Showing _START_ to _END_ of _TOTAL_ broadcasts' %}",
                    "infoFiltered": "{% trans '(filtered from _MAX_ total broadcasts)' %}"
                },
                "columnDefs": [
                    {
                        "targets": [3],
                        "render": function(data, type, full) {
                            return '<a class="btn btn-primary" href="' + full[5] + '">{% trans "Copy" %}</a>';
                        }
                    }
                ]
            });
        });
    </script>
{% endblock %}

{% block page_content %}
    <div class="btn-group">
        <a href="{% url 'add_broadcast' domain %}" class="btn btn-success">
            <i class="fa fa-plus"></i>
            {% trans 'New Broadcast' %}
        </a>
    </div>
    <h4>{% trans 'Scheduled Broadcasts' %}</h4>
    <div>
        <table id="upcoming-broadcasts-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="col-md-4">{% trans 'When' %}</th>
                    <th class="col-md-4">{% trans 'Recipient(s)' %}</th>
                    <th class="col-md-4">{% trans 'Content' %}</th>
                    <th class="col-md-4">{% trans 'Action' %}</th>
                </tr>
            </thead>
        </table>
    </div>
    <h4 style="clear: both">{% trans 'Previously Sent' %}</h4>
    <div>
        <table id="past-broadcasts-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="col-md-4">{% trans 'When' %}</th>
                    <th class="col-md-4">{% trans 'Recipient(s)' %}</th>
                    <th class="col-md-4">{% trans 'Content' %}</th>
                    <th class="col-md-4">{% trans 'Action' %}</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}
