{% extends "style/base_section.html" %}

{% load hq_shared_tags %}
{% load i18n %}

{% block js %} {{ block.super }}
    <script src="{% static 'reminders/js/reminders.progressbar.js' %}"></script>
    <script src="{% static 'reminders/js/reminders.list.js' %}"></script>
{% endblock %}

{% block js-inline %} {{ block.super }}
    <script>
        var remindersList = new RemindersListModel({{ reminders|JSON }},
            '{% url "reminder_rule_progress" domain %}');
        $('#reminders-list').koApplyBindings(remindersList);
        remindersList.init();

        $(function() {
            $("#reminder-list-table").dataTable({
                "paginateType": "bootstrap",
                "lengthChange": false,
                "filter": true,
                "oLanguage": {"emptyTable": "{% trans 'There are no reminders to display.' %}", "infoEmpty" : ""},
                "sort": true,
                "sorting": [[0, "asc"]],
                "displayLength": 5
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        .label {
            font-size: 100%;
        }
    </style>
{% endblock %}

{% block page_content %}
    <h2>{% trans 'Reminders' %}</h2>
    <div class="btn-group">
        <a href="{% url "create_reminder_schedule" domain %}" class="btn btn-success">
            <i class="fa fa-plus"></i>
            {% trans 'Add Single Event Reminder' %}
        </a>
        <a href="{% url "create_complex_reminder_schedule" domain %}" class="btn btn-success">
            <i class="fa fa-plus"></i>
            {% trans 'Add Multi Event Reminder' %}
        </a>
    </div>
    <div id="reminders-list">
        <div data-bind="template: {
            name: 'reminder-list-template',
            data: {
                reminders: reminders,
            }
        }"></div>
    </div>

    <script type="text/html" id="reminder-list-template">
        <div class="row">
            <div class="col-md-12">
                <table id="reminder-list-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-2">{% trans 'Name' %}</th>
                            <th class="col-md-2">{% trans 'Case Type' %}</th>
                            <th class="col-md-4">{% trans 'Status' %}</th>
                            <th class="col-md-4">{% trans 'Action' %}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: reminders">
                        <tr data-bind="attr: {id: id}">
                            <td><a data-bind="attr: {href: url}"><span data-bind="text: name"></span></a></td>
                            <td data-bind="text: caseType"></td>
                            <td>
                                <div>
                                    <span class="label label-success" data-bind="visible: active">{% trans "Active" %}</span>
                                    <span class="label label-danger" data-bind="visible: !active()">{% trans "Inactive" %}</span>
                                    <span class="label label-default" data-bind="visible: progressBar.in_progress(), text: '{% trans 'Rule is processing: ' %}' + progressBar.progress_pct()"></span>
                                </div>
                            </td>
                            <td>
                                <div style="display: inline;" data-bind="template: {name: 'activate-reminder-template', data: $data}"></div>
                                <div style="display: inline;" data-bind="template: {name: 'deactivate-reminder-template', data: $data}"></div>
                                <div style="display: inline;" data-bind="template: {name: 'delete-reminder-template', data: $data}"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>

    <script type="text/html" id="deactivate-reminder-template">
        <button type="button"
                data-bind="visible: active, event: {
                    click: deactivate
                }"
                class="btn btn-default"
                data-success-text="{% trans 'Deactivate' %}"
                data-loading-text="{% trans 'Deactivating reminder...' %}"
                data-error-text="{% trans 'Error deactivating, try again?' %}"
                data-locked-text="{% trans 'Wait for rule to finish and try again...' %}"
                >
            {% trans 'Deactivate' %}
        </button>
    </script>

    <script type="text/html" id="activate-reminder-template">
        <button type="button"
                data-bind="visible: !active(), event: {
                    click: activate
                }"
                class="btn btn-default"
                data-success-text="{% trans 'Activate' %}"
                data-loading-text="{% trans 'Activating reminder...' %}"
                data-error-text="{% trans 'Error activating, try again?' %}"
                data-locked-text="{% trans 'Wait for rule to finish and try again...' %}"
                >
            {% trans 'Activate' %}
        </button>
    </script>

    <script type="text/html" id="delete-reminder-template">
        <button type="button"
                data-bind="event: {
                    click: function(_, event) {
                        if(confirm('{% trans "Are you sure you want to delete this reminder?" %}')) {
                            $data.del(_, event);
                        }
                    }
                }"
                class="btn btn-danger"
                data-loading-text="{% trans 'Deleting reminder...' %}"
                data-error-text="{% trans 'Error deleting, try again?' %}"
                data-locked-text="{% trans 'Wait for rule to finish and try again...' %}"
                >
            {% trans 'Delete' %}
        </button>
    </script>
{% endblock %}
