
.nav-list > li > a, .nav-list > li > a:hover {
    cursor: pointer;
}

.nav-list > li.disabled > a, .nav-list > li.disabled > a:hover {
    cursor: wait;
}

nav#sessions > ul > li.nav-header {
    color: #6c6c6c;
}

#case-crumbs > .breadcrumb > .active {
    font-weight: 600;
    color: inherit;
}