.app-icon {
    max-height: 150px;
}

.module-icon {
    max-height: 100px;
}

/* Need to override this http://stackoverflow.com/questions/27638228/bootstrap-glyphicons-not-showing */
#case-list-search-button {
    font-size: 4px;
}

.incomplete-icon {
    color: #ff8400;
    text-shadow: 1px 1px 1px #000;
    font-size: 150px;
}

.sync-icon {
    color: #47b700;
    text-shadow: 1px 1px 1px #000;
    font-size: 150px;
}

.formplayer-requester-disabled {
    pointer-events: none;
    opacity: .5;
}