.app-icon {
    max-height: 150px;
}

.module-icon {
    max-height: 100px;
}

body {
    margin: 4px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 60px) min-content 60px;
    grid-template-rows: repeat(6, 60px) min-content 60px;
    background-color: #fff;
    color: #444;
    border-color: #444;
}

.box {
    border-color: #444;
    color: #444;
    font-size: 100%;
}

/* Need to override this http://stackoverflow.com/questions/27638228/bootstrap-glyphicons-not-showing */
#case-list-search-button {
    font-size: 4px;
}
