.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 60px) min-content 60px;
    grid-template-rows: repeat(6, 60px) min-content 60px;
    background-color: #fff;
    color: #685c53;
    border-color: #685c53;
}

.box {
    border-color: #685c53;
    color: #685c53;
    font-size: 100%;
}

/* Need to override this http://stackoverflow.com/questions/27638228/bootstrap-glyphicons-not-showing */
#case-list-search-button {
    font-size: 4px;
}

.app-icon {
    text-shadow: 1px 1px 1px #000;
    font-size: 150px;
    cursor: pointer;
    height: 150px;
}

.module-icon {
    height: 100px;
    font-size: 100px;
}

.start-app-icon {
    color: #ff8400;
}

.incomplete-icon {
    color: #ff8400;
}

.sync-icon {
    color: #47b700;
}

.formplayer-requester-disabled {
    pointer-events: none;
    opacity: .5;
}

.breadcrumb-text {
    cursor: pointer;
}

.formplayer-request {
    cursor: pointer;
}
<<<<<<< HEAD


/* Small screens will have these styles, mainly used written for preview mode */
@media (max-width: 768px) {
    h2, h3 {
        margin-top: 14px;
        margin-bottom: 6px;
    }
    h3 {
        font-size: 16px;
    }
    h2 {
        font-size: 20px;
    }
    .app-icon {
        height: 75px;
        font-size: 75px;
    }
    .module-icon {
        height: 30px;
        font-size: 30px;
    }
}
=======
>>>>>>> master
