.case-container-grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
}

.grid-wrapper {
    grid: subgrid;
    display: grid;
}