{% extends 'reports/async/tabular.html' %}
{% load hq_shared_tags %}
{% load report_tags %}
{% load i18n %}

{% block js-inline %} {{ block.super }}
    <script>
    $.when(
        $.getScript("{% static 'case/js/cheapxml.js' %}"),
        $.getScript("{% static 'case/js/casexml.js' %}"),
        $.getScript("{% static 'data_interfaces/js/case_management.js' %}")
    ).done(function () {
        var OPTIONS = {
            users: {{ users|JSON }},
            groups: {{ groups|JSON }},
            receiverUrl: '{% url "receiver_secure_post" domain %}',
            enddate: '{{ datespan.enddate_param_utc }}',
            webUserID: '{{ request.couch_user.userID }}',
            webUserName: '{{ request.couch_user.username }}',
            form_name: '{%  trans "Case Reassignment (via HQ)" %}'
        };

        var caseManagementModel = new CaseManagement(OPTIONS);
        function applyBindings() {
            var $caseManagement = $('#case-management');
            $caseManagement.koApplyBindings(caseManagementModel);

            $caseManagement.find('a.select-all').click(function () {
                $caseManagement.find('input.selected-commcare-case').prop('checked', true).change();
                return false;
            });

            $caseManagement.find('a.select-none').click(function() {selectNone(); return false;});
            $caseManagement.find('.dataTables_paginate a').mouseup(selectNone);
            $caseManagement.find('.dataTables_length select').change(selectNone);

            function selectNone() {
                $caseManagement.find('input.selected-commcare-case:checked').prop('checked', false).change();
            }
        }

        function applyCheckboxListeners() {
            $('input.selected-commcare-case', '#case-management').on('change', function(event) {
                caseManagementModel.updateCaseSelection({}, event);
            });
        }

        var keepTrying = setInterval(function () {
            if (window.reportTables !== undefined) {
                clearInterval(keepTrying);
                applyBindings();
                applyCheckboxListeners();
                window.reportTables.fnDrawCallback = applyCheckboxListeners;
            }
        }, 1000);

        $('#reassign_owner_select').select2();
    });
    </script>
{% endblock %}

{% block reportcontent %}
    <div id="case-management">
        <div class="row">
            <form class="well form-inline" style="margin: 1em; display: none;" data-bind="submit: updateCaseOwners, caseReassignmentForm: selected_cases">
                    <label for="reassign_owner_type_select" class="inline">{% trans 'Reassign selected cases to' %} </label>
                    <select name="reassign_owner_type"
                            id="reassign_owner_type_select"
                            class="form-control"
                            data-bind="options: owner_types,
                                       grabUniqueDefault: selected_owner_types,
                                       event: {change: changeNewOwnerType}"></select>
                    <label for="reassign_owner_select" class="inline" data-bind="visible: should_show_owners"> {% trans 'named' %} </label>
                    <span data-bind="visible: should_show_owners">
                        <select name="reassign_owner"
                            id="reassign_owner_select"
                            style="width: 300px;"
                            data-bind="grabUniqueDefault: selected_owners,
                                       options: available_owners,
                                       optionsText: 'name',
                                       optionsValue: 'ownerid',
                                       optionsCaption: '{% trans 'Select New Owner...' %}',
                                       event: {change: changeNewOwner}, ic"></select>
                    </span>
                <button type="submit"
                        data-bind="hqbSubmitReady: is_submit_enabled, visible: is_submit_enabled"
                        class="btn btn-default disabled">{% trans 'Reassign' %}</button>
                <button type="button"
                        disabled="disabled"
                        data-bind="visible: !is_submit_enabled()"
                        class="btn btn-default">{% trans 'Reassign' %}</button>
                <div class="help-block" data-bind="visible: is_only_user_reassign">{% trans 'Note: No groups with Case Sharing are available.' %}</div>
            </form>
        </div>
        {{ block.super }}
    </div>
{% endblock %}

{% block modals %} {{ block.super }}
    <div class="modal hide fade" id="caseManagementStatusModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h3>{% trans 'Case Reassignment' %}</h3>
                </div>
                <div class="modal-body">
                    --
                </div>
                <div class="modal-footer">
                    <button id="bug-report-cancel" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
