{% load hq_shared_tags %}
<script type="text/javascript" src="{% static 'hqwebapp/datatables-1.9/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'hqwebapp/datatables-1.9/extras/FixedColumns/media/js/FixedColumns.min.js' %}"></script>
<script type="text/javascript" src="{% static 'hqwebapp/datatables-1.9/js/jquery.dataTables.plugin.bootstrapPagination.js' %}"></script>
<script type="text/javascript" src="{% static 'hqwebapp/datatables-1.9/js/jquery.dataTables.plugins.js' %}"></script>
