{% load i18n %}

<script type="text/html" id="choice-label-entry-ko-template">
  <div class="row">
    <!-- ko foreach: choices -->
      <div data-bind="attr: { 'class': $parent.colStyle }, style: { 'word-wrap': 'break-word' }">
        <!-- ko if: $parent.hideLabel -->
          <input type="radio" data-bind="
                checked: $parent.rawAnswer,
                checkedValue: $index() + 1,
                attr: {
                    id: 'group-' + $parent.entryId + '-choice-' + $index(),
                    'aria-labelledby': $parent.entryId + '-choice-' + $index() + '-sr',
                    name: $parent.entryId,
                    css: { 'is-invalid': $parent.question.hasError() },
                    class: 'group-' + $parent.entryId,
                }
            "/>
        <!-- /ko -->
        <span data-bind="renderMarkdown: $data, class: $parent.hideLabel ? 'sr-only' : '', attr: { id: $parent.entryId + '-choice-' + $index() + '-sr' }"></span>
      </div>
    <!-- /ko -->
    <!-- ko if: hideLabel -->
      <div data-bind="attr: { 'class': colStyle }">
        <button class="btn btn-outline-primary btn-sm" data-bind="click: onClear, fadeVisible: rawAnswer()">
          {% trans "Clear" %}
        </button>
      </div>
    <!-- /ko -->
  </div>
</script>
