{% load i18n %}
{% load hq_shared_tags %}

<script type="text/html" id="form-fullform-ko-template">
  <div class="webforms-nav-container"
       data-bind="css: { 'webforms-nav-single-question': showInFormNavigation }">
    <div class="webforms-nav"
         data-bind="template: { name: 'form-navigation-ko-template' }"></div>
  </div>
  <div class="form-container js-form-container print-container" data-bind="
          css: { 'form-single-question': showInFormNavigation },
      ">

    <div class="page-header">
      <h1 class="title" data-bind="text: title, visible: !showInFormNavigation()"></h1>
    </div>

    <form class="form form-horizontal" data-bind="submit: submitForm">
      <div class="question-container">
        <div class="mb-3" data-bind="template: { name: childTemplate, foreach: $data.children }"/>
      </div>
      {% if environment == "web-apps" %}
        <div class="row" data-bind="visible: erroredQuestions().length > 0">
          <div class="alert alert-danger">
            {% blocktrans %}
              Please correct the answers below before submitting.
              <br>
              You can use the <strong><i class='fa fa-fast-forward'></i> Next Error</strong> button on the left-hand side of the screen to navigate between required fields.
            {% endblocktrans %}
            <ul data-bind="foreach: erroredQuestions">
                <li>
                    <a href="#" data-bind="click: navigateTo, html: caption_markdown() || caption() || question_id() || gettext('Unknown Question')"></a>
                    <span data-bind="visible: serverError, text: serverError"></span>
                    <span data-bind="if: error">
                      <!-- ko text: error --><!-- /ko -->
                    </span>
                    <span data-bind="visible: !serverError() && !error()">
                      {% trans "An answer is required." %}
                    </span>
                </li>
            </ul>
          </div>
        </div>
      {% endif %}
      <div id="submit-button" class="form-actions noprint-sub-container"
           data-bind="
              visible: showSubmitButton,
              css: { 'sticky-submit': isAnchoredSubmitStyle }"
      >
        <div class="col-12 text-center submit">
          <button class="submit btn btn-primary"
                  type="submit"
                  data-bind="enable: enableSubmitButton">
            <i class="fa fa-spin fa-refresh"
               data-bind="visible: !enableSubmitButton(){% if environment == "web-apps" %} && erroredQuestions.length != 0{% endif %}"
            ></i>
            <!-- ko text: submitText --><!-- /ko -->
          </button>
        </div>
      </div>
    </form>
  </div>
  <div data-bind="visible: erroredQuestions().length > 0">
    <div id="next-error" class="btn btn-outline-danger m-2" title="{% trans_html_attr "Jump between required/errored questions" %}" data-bind="click: jumpToErrors">
      <i class='fa fa-fast-forward'></i>
      {% trans "Next Error" %}
    </div>
  </div>
</script>
