{% load i18n %}
{% load hq_shared_tags %}

<script type="text/html" id="sub-group-fullform-ko-template">
  <!-- ko if: isDummy -->
  <div class="mb-1 mr-1">
      <button type="button" class="btn btn-outline-primary add" href="#"
              data-bind="click: newRepeat, text: addChoice"
              id="repeat-add-new">
              <i class="fa fa-plus"></i>
      </button>
  </div>
  <!-- /ko -->
  <!-- ko ifnot: isDummy -->
  <div tabindex="-1" class ="gr" data-bind="
        class: elementTile,
        css: {
          'gr-no-children': $data.children().length === 0,
          'd-none': !$data.hasAnyNestedQuestions(),
          'required-group': !showChildren() && childrenRequired(),
        }">
    <div data-bind="
        css: {
          'card rounded-0': collapsible,
          'group-border': groupBorder,
          'px-2': groupBorder,
        }">
      <fieldset class="gr-header" data-bind="
          css: {
            'card-header': collapsible,
             clickable: collapsible
          },
          attr: collapsible ? {
                  'role': 'button',
                  'aria-expanded': showChildren() ? 'true' : 'false',
                  'aria-labelledby': captionId(),
                  // tab focus only if group is visible
                  'tabindex': isVisibleGroup() ? '0' : '-1'
                } : {
                  'aria-labelledby': captionId(),
                },
          click: toggleChildren,
          event: collapsible ? { keypress: keyPressAction } : {},
          style: {'display': showHeader ? 'block': 'none',
                  'background-color': headerBackgroundColor(),
                  'color': headerBackgroundColor() ? 'white' : ''
          }">
        <div data-bind="ifnot: collapsible">
          <legend>
            <span class="caption webapp-markdown-output"
                  data-bind="
                    html: ko.utils.unwrapObservable($data.caption_markdown) || caption(),
                  "></span>
            <button type="button"
                    class="btn btn-outline-danger del float-end"
                    href="#"
                    aria-label="{% trans_html_attr 'Delete Repeat' %}"
                    data-bind="
                        visible: showDelete,
                        enabled: hasNoPendingAnswer(),
                        click: deleteRepeat
                    "><i class="fa fa-trash-can"></i></button>
          </legend>
        </div>
        <div data-bind="if: collapsible">
          <div class="d-flex align-items-center">
            <div class="collapsible-icon-container">
              <i class="fa" data-bind="
                  css: {'fa-angle-double-right': !showChildren(), 'fa-angle-double-down': showChildren()},
              "></i>
            </div>
            <span class="webapp-markdown-output my-05em-for-hs flex-grow-1" data-bind="html: caption_markdown() || caption(), attr: {id: captionId()}"></span>
            <i class="fa fa-warning text-danger float-end" data-bind="visible: hasError() && !showChildren()"></i>
             <button type="button"
                     class="btn btn-outline-danger del float-end"
                     href="#"
                     aria-label="{% trans_html_attr 'Delete Repeat' %}"
                     data-bind="
                        visible: showDelete,
                        enabled: hasNoPendingAnswer(),
                        click: deleteRepeat
                     "><i class="fa fa-trash-can"></i></button>
          </div>
        </div>
        <span class="ix"></span>
      </fieldset>
        <div data-bind="visible: showChildren">
          <fieldset>
          <legend aria-hidden="true" class="sr-only">{% trans "Question Group" %}</legend>
            <div class="children" data-bind="
                slideVisible: showChildren(),
                template: {
                  name: childTemplate,
                  foreach: $data.children,
                  afterRender: focusNewRepeat,
                },
                css: {
                  'card-body': collapsible,
                }"></div>
          </fieldset>
        </div>
      </div>
  </div>
  <!-- /ko -->
</script>
