.form-with-steps {
  .form-step {
    padding: 20px;
    margin: 10px 0;
    .border-top-radius(5px);
    .border-bottom-radius(5px);
    box-sizing: content-box;
  }
  .form-step fieldset {
    padding: 0.01em 0 0 0;
    > legend {
      border-bottom: none;
      margin-bottom: 0;
      padding: 0;
      display: table;
    }
  }
  .form-step-number {
    margin: 0;
    font-size: 1.2rem;
    padding: 0 0 20px;
  }
  .help-block {
    text-align: left;
  }
}

.form-with-steps-primary {
  .form-step {
    background-color: @cc-brand-mid;
  }
  color: white;
  .form-step fieldset > legend,
  .help-block {
    color: white;
  }
  a, a:visited, a:link {
    color: @cc-brand-hi;
  }
}

.form-with-steps-centered {
  text-align: center;
}

ul.form-step-progress {
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, .25);
  overflow: hidden;
  counter-reset: step;
  text-align: center;
  padding: 40px 0 10px;
  margin-top: 20px;
  .border-top-radius(5px);
  .border-bottom-radius(5px);

  li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    float: left;
    position: relative;
    .transition(background 500ms ease-out);

    &:after {
      content: counter(step);
      counter-increment: step;
      width: 20px;
      line-height: 20px;
      display: block;
      font-size: 10px;
      color: #333;
      background: white;
      .border-top-radius(5px);
      .border-bottom-radius(5px);
      margin: 0 auto 5px auto;
      top: -25px;
      left: 50%;
      margin-left: -10px;
      font-weight: bold;
      position: absolute;
      .transition(background 500ms ease-out);
    }
    &:before {
      content: '';
      height: 2px;
      background: white;
      position: absolute;
      left: -40%;
      top: -15px;
      .transition(background 500ms ease-out);
    }
  }
  li:first-child:before {
    display: none;
  }
  li.active {
    &:before,
    &:after {
      background: @cc-att-pos-mid;
      color: white;
    }
  }
}
