.ocs-widget-container {
  font-size: 1.2em; // widget using em units, so we can scale it with parent element's font size
}

open-chat-studio-widget {
  right: 30px;
  bottom: 50px;
  z-index: 1000;

  //Launch Button
  --button-text-color: @commcare-blue;
  --button-text-color-hover: @commcare-blue;

    // Messages
    --message-user-bg-color: @commcare-blue;
    --message-user-text-color: white;
    --message-assistant-text-color: black;

    // Confirmation Dialog
    --confirmation-button-confirm-bg-color: @commcare-blue;
    --confirmation-button-confirm-bg-hover-color: darken(@commcare-blue, 10);
}
