open-chat-studio-widget {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1000;

  // CSS custom properties
  --button-background-color: white;
  --button-text-color: @commcare-blue;
  --button-text-color-hover: @commcare-blue;
}
