.clickable {
  cursor: pointer;
}

.spacer {
  height: 20px;
  width: 100%;
  display: block;
}

.sr-only {
  display: none;
}

.ko-template {
  display: none;
}

.break-all-words {
    word-break: break-all;
}
