.annotation {
    padding: 4px;
}

.annotation blockquote {
  margin-top: 0px;
  margin-bottom: 0px;
}

#annotation-send {
  text-align: center;  
}

#annotation-send textarea {
  height: 100px; 
  width: 90%;
}
