{% extends "reports/base_template.html" %}

{% block js-inline %}
<script>
$(function() {
   $("#hour-input").val("9"); 
});
</script>
{% endblock %}

{% block main_column %}
    <h2>Schedule a New Email Report</h2>

    {% if configs %}
    <form class="form form-horizontal" method="post" action="">
        <fieldset>
            <legend>What shoud we send you?</legend>
            <div class="control-group">
                <label class="control-label" for="config_id">Saved Report: </label>
                <div class="controls">
                    <select name="config_id" id="config_id">
                        {% for config in configs %}
                        <option value="{{ config.get_id }}">
                            {{ config.name }} ({{ config.report_name }})
                        </option>
                        {% endfor %}
                    </select>
                    <span class="help-inline alert alert-info" style="width: 400px;">
                        Not all built-in reports currently support email delivery, so some of your saved reports may not appear in this list.
                    </span> 
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="hour-input">at: </label>
                <div class="controls">
                    <select name="hour" id="hour-input">
                        {% for hr, display in hours %}
                        <option value="{{hr}}">{{display}}</option>
                        {% endfor %}
                    </select>

                    <span class="help-inline alert alert-info" style="width: 400px;">
                        Sorry, right now all times are in GMT.
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="day-input">on: </label>
                <div class="controls">
                    <select name="day" id="day-input">
                        <optgroup label="Daily...">
                            <option value="all">Every Day</option>
                        </optgroup>
                        <optgroup label="Once a week on...">
                            {% for day, display in days %}
                            <option value="{{day}}">{{display}}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Add Scheduled Report</button>
        </div>
    </form>
    {% else %}
    <div class="alert">
        You need a saved report in order to set up a scheduled email report, but you don't have any.
        
        To create a saved report, navigate to a report, select your desired filters, and click "Save".
    </div>
    {% endif %}
{% endblock %}
