{% extends "users/users_base.html" %}
{% load hqstyle_tags %}

{% block subsection-title %}
    <li class="active">
        <a href="#">Change My Password</a>
    </li>
{% endblock %}

{% block user-view %}
    <form class="form form-horizontal" method="post" action="">
        {% bootstrap_form_errors form %}
        {% bootstrap_fieldset form "Specify New Password" %}
        <div class="form-actions"><button type="submit" class="btn btn-primary">Change Password</button></div>
    </form>
{% endblock %}