{% extends "hqwebapp/bootstrap5/base_section.html" %}
{% load hq_shared_tags %}
{% load i18n %}
{% js_entry "hqwebapp/js/htmx_and_alpine" %}
{% block page_content %}
<div class="container p-5">
  <!--<div>{{data}}</div>-->
  <form x-data="{{ data }}">
    <div class="row mb-4">
      <label class="col-sm-2 control-label" for="role-name">
        Role Name<span class="asteriskField">*</span>
      </label>
      <div class="col-sm-4 controls">
        <input
          x-model="name"
          type="text"
          id="role-name"
          class="form-control"
          pattern="\S.*"
          title='{% trans_html_attr "The name must start with a valid character." %}'
          required />
      </div>
    </div>

    <fieldset class="active">
      <legend>
        <a
          class="accordion-toggle"
          data-bs-toggle="collapse"
          href="#basic-permissions"
          aria-expanded="true"
        >
          <i class="fa fa-angle-double-down"></i>
          Basic
        </a>
      </legend>
      <div id="basic-permissions" class="card-body collapse show">
        <div class="row mb-2">
          <div class="col-sm-1"><strong>Can Edit</strong></div>
          <div class="col-sm-1"><strong>Can View</strong></div>
          <div class="col-sm-10"></div>
        </div>
        <template x-for="area in accessAreas">
          <div
            class="row mb-2"
            x-show="area.showOption"
          >
            <!-- edit checkbox or emdash -->
            <div class="col-sm-1 controls" x-show="area.showEditCheckbox">
              <div class="form-check">
                <input
                  type="checkbox"
                  :id="area.editCheckboxLabel"
                  x-model="area.editPermission"/>
                <label :for="area.editCheckboxLabel">
                  <span class="sr-only" x-text="area.screenReaderEditAndViewText">
                  </span>
                </label>
              </div>
            </div>
            <div class="col-sm-1 controls" x-show="!area.showEditCheckbox">
              <div class="form-check-placeholder">
                <label></label>
              </div>
            </div>

            <!-- view checkbox or emdash-->
            <div class="col-sm-1 controls" x-show="area.showViewCheckbox">
              {# PLACEHOLDER checkbox when editPermission() is true #}
              <div class="form-check" x-show="area.editPermission">
                <input type="checkbox" checked="checked" disabled="disabled" />
                <label>
                  <span class="sr-only" x-text="area.screenReaderViewOnlyText">
                  </span>
                </label>
              </div>
              {# end PLACEHOLDER #}
              {# REAL checkbox that controls viewPermission when editPermission() is false #}
              <div class="form-check" x-show="!area.editPermission">
                <input
                  type="checkbox"
                  :id="area.viewCheckboxLabel"
                  x-model="area.viewPermission"/>
                <label :for="area.viewCheckboxLabel">
                  <span class="sr-only" x-text="area.screenReaderViewOnlyText">
                  </span>
                </label>
              </div>
              {# END REAL checkbox #}
            </div>
            <div class="col-sm-1 controls " x-show="!area.showViewCheckbox">
              <div class="form-check-placeholder">
                <label></label>
              </div>
            </div>
            <div class="col-sm-10" >
              <div x-html="area.text"></div>
              {# PLACEHOLDER checkbox when edit_commcare_users and editPermission is true #}
              <div class="form-check" x-show="permissions.edit_commcare_users && area.editPermission && area.showAllowCheckbox">
                <input type="checkbox" checked="checked" disabled="disabled"/>
                <label x-text="area.allowCheckboxText"></label>
              </div>
              {# end PLACEHOLDER #}
              {# REAL checkbox for allowCheckboxPermission #}
              <div class="form-check" x-show="!permissions.edit_commcare_users && area.editPermission && area.showAllowCheckbox">
                <input type="checkbox"
                  :id="area.allowCheckboxId"
                  x-model="area.allowCheckboxPermission" />
                <label
                  :for="area.allowCheckboxId"
                  x-text="area.allowCheckboxText"></label>
              </div>
              {# end REAL #}
              {# PLACEHOLDER checkbox when showAllowCheckbox is false #}
              <div class="form-check"
                x-show="!area.editPermission && area.showAllowCheckbox">
                <input type="checkbox" disabled="disabled"/>
                <label x-text="area.allowCheckboxText"></label>
              </div>
              {# end PLACEHOLDER #}
            </div>
          </div>
        </template>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        <a
          class="accordion-toggle"
          data-bs-toggle="collapse"
          href="#enterprise-release-management"
          aria-expanded="false"
        >
          <i class="fa fa-angle-double-down"></i>
          Enterprise Release Management
        </a>
      </legend>
      <div id="enterprise-release-management" class="card-body collapse">
      </div>
    </fieldset>

    <fieldset>
      <legend>
        <a
          class="accordion-toggle"
          data-bs-toggle="collapse"
          href="#reports-permissions"
          aria-expanded="false"
        >
          <i class="fa fa-angle-double-down"></i>
          Reports
        </a>
      </legend>
      <div id="reports-permissions" class="card-body collapse">
      </div>
    </fieldset>

    <fieldset>
      <legend>
        <a
          class="accordion-toggle"
          data-bs-toggle="collapse"
          href="#web-apps-permissions"
          aria-expanded="false"
        >
          <i class="fa fa-angle-double-down"></i>
          Web Apps
        </a>
      </legend>
      <div id="web-apps-permissions" class="card-body collapse">
      </div>
    </fieldset>

    <fieldset>
      <legend>
        <a
          class="accordion-toggle"
          data-bs-toggle="collapse"
          href="#other-settings"
          aria-expanded="false"
        >
          <i class="fa fa-angle-double-down"></i>
          Other Settings
        </a>
      </legend>
      <div id="other-settings" class="card-body collapse">
      </div>
    </fieldset>

      <button type="submit" class="btn btn-primary">Save Role</button>
    </div>
  </form>
</div>
{% endblock %}
