{% extends "hqwebapp/bootstrap5/base_section.html" %}
{% load hq_shared_tags %}
{% load i18n %}
{% js_entry 'users/js/edit_role' %}
{% block page_content %}

  {% registerurl "post_user_role" domain %}
  {% initial_page_data "user_roles" user_roles %}
  {% initial_page_data "non_admin_roles" non_admin_roles %}
  {% initial_page_data "can_edit_roles" can_edit_roles %}
  {% initial_page_data "default_role" default_role %}
  {% initial_page_data "tableau_list" tableau_list %}
  {% initial_page_data "profile_list" profile_list %}
  {% initial_page_data "report_list" report_list %}
  {% initial_page_data "can_restrict_access_by_location" can_restrict_access_by_location %}
  {% initial_page_data "landing_page_choices" landing_page_choices %}
  {% initial_page_data "web_apps_choices" web_apps_choices %}
  {% initial_page_data "attendance_tracking_privilege" attendance_tracking_privilege %}
  {% initial_page_data "has_report_builder_access" has_report_builder_access %}
  {% initial_page_data "data_file_download_enabled" data_file_download_enabled %}
  {% initial_page_data "export_ownership_enabled" export_ownership_enabled %}
  {% initial_page_data "data_registry_choices" data_registry_choices %}
  {% initial_page_data "can_edit_linked_data" can_edit_linked_data %}
  {% initial_page_data "commcare_analytics_roles" commcare_analytics_roles %}
  {% initial_page_data "has_restricted_application_access" has_restricted_application_access %}


  <div class="container mx-0">
    <form
      x-data="initRole({{ data }})"
      @submit.prevent="saveRole($data.formData)"
    >
      <div class="row mb-4">
        <label class="col-sm-2 control-label" for="role-name">
          Role Name<span class="asteriskField">*</span>
        </label>
        <div class="col-sm-4 controls">
          <input
            x-model="role.name"
            type="text"
            id="role-name"
            class="form-control"
            pattern="\S.*"
            title="{% trans_html_attr "The name must start with a valid character." %}"
            required
          />
        </div>
      </div>

      <fieldset class="active">
        <legend>
          <a class="accordion-toggle" data-bs-toggle="collapse" href="#access-areas-card">
            <i class="fa fa-angle-double-down"></i>
            {% trans "Area Access" %}
          </a>
        </legend>
        <div id="access-areas-card" class="card-body collapse show">
          <div class="row">
            <div class="col-md-2">{% trans "Can Edit" %}</div>
            <div class="col-md-2">{% trans "Can View" %}</div>
            <div class="col-md-8"></div>
          </div>
          <template x-for="area in accessAreas" :key="area.editCheckboxLabel">
            <div class="row" x-show="area.showOption">
              <div
                class="col-md-2 controls"
                x-show="area.showEditCheckbox"
              >
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    :id="area.editCheckboxLabel"
                    x-model="area.editPermission"
                  />
                  <label
                    class="form-check-label"
                    :for="area.editCheckboxLabel"
                  >
                    <span
                      class="sr-only"
                      x-text="area.screenReaderEditAndViewText"
                    >
                    </span>
                  </label>
                </div>
              </div>
              <div
                class="col-md-2 controls"
                x-show="!area.showEditCheckbox"
              >
                <div class="form-check-placeholder">
                </div>
              </div>
              <div
                class="col-md-2 controls"
                x-show="area.showViewCheckbox"
              >
                {# PLACEHOLDER checkbox when editPermission() is true #}
                <div
                  class="form-check"
                  x-show="area.editPermission"
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    checked="checked"
                    disabled="disabled"
                    :id="area.viewCheckboxLabel + '-disabled'"
                  />
                  <label
                    class="form-check-label"
                    :for="area.viewCheckboxLabel + '-disabled'"
                  >
                    <span
                      class="sr-only"
                      x-text="area.screenReaderViewOnlyText"
                    >
                    </span>
                  </label>
                </div>
                {# end PLACEHOLDER #}
                {# REAL checkbox that controls viewPermission when editPermission() is false #}
                <div
                  class="form-check"
                  x-show="!area.editPermission"
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    :id="area.viewCheckboxLabel"
                    x-model="area.viewPermission"
                  />
                  <label
                    class="form-check-label"
                    :for="area.viewCheckboxLabel"
                  >
                    <span
                      class="sr-only"
                      x-text="area.screenReaderViewOnlyText"
                    >
                    </span>
                  </label>
                </div>
                {# END REAL checkbox #}
              </div>
              <div
                class="col-md-2 controls"
                x-show="!area.showViewCheckbox"
              >
                <div class="form-check-placeholder">
                </div>
              </div>
              <div class="col-md-8 form-label">
                <div x-html="area.text"></div>
                {# PLACEHOLDER checkbox when edit_commcare_users and editPermission() is true #}
                <div
                  class="form-check"
                  x-show="role.permissions.edit_commcare_users && area.editPermission && area.showAllowCheckbox"
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    checked="checked"
                    disabled="disabled"
                    :id="area.allowCheckboxId + '-disabled'"
                  />
                  <label
                    class="form-check-label"
                    x-text="area.allowCheckboxText"
                    :for="area.allowCheckboxId + '-disabled'"
                  ></label>
                </div>
                {# end PLACEHOLDER #}
                {# REAL checkbox for allowCheckboxPermission #}
                <div
                  class="form-check"
                  x-show="!role.permissions.edit_commcare_users && area.editPermission && area.showAllowCheckbox"
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    :id="area.allowCheckboxId"
                    x-model="area.allowCheckboxPermission"
                  />
                  <label
                    class="form-check-label"
                    :for="area.allowCheckboxId"
                    x-text="area.allowCheckboxText"
                  ></label>
                </div>
                {# end REAL #}
                {# PLACEHOLDER checkbox when showAllowCheckbox is false #}
                <div
                  class="form-check"
                  x-show="!area.editPermission && area.showAllowCheckbox"
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    disabled="disabled"
                    :id="area.allowCheckboxId + '-disabled2'"
                  />
                  <label
                    class="form-check-label"
                    :for="area.allowCheckboxId + '-disabled2'"
                    x-text="area.allowCheckboxText"
                  ></label>
                </div>
                {# end PLACEHOLDER #}
              </div>
            </div>
          </template>
        </div>
      </fieldset>

      <fieldset class="active" x-show="erm.visible">
        <legend>
          <a class="accordion-toggle" data-bs-toggle="collapse" href="#erm-card">
            <i class="fa fa-angle-double-down"></i>
            <span x-text="erm.title"></span>
          </a>
        </legend>
        <div id="erm-card" class="card-body collapse show">
          <div
            class="row"
            x-data="erm.access_release_management"
          >
            <div
              class="col-md-4 form-label fw-bold"
              x-text="text"
            ></div>
            <div class="col-md-8 controls">
              <div class="form-check pt-0">
                <input
                  class="form-check-input"
                  type="checkbox"
                  :id="checkboxLabel"
                  x-model="checkboxPermission"
                />
                <label
                  class="form-check-label"
                  :for="checkboxLabel"
                  x-text="checkboxText"
                ></label>
              </div>
            </div>
          </div>

          <div
            class="row"
            x-data="erm.edit_linked_configs"
          >
            <div
              class="col-md-4 form-label fw-bold"
              x-text="text"
            ></div>
            <div class="col-md-8 controls">
              <div class="form-check pt-0">
                <template x-if="erm.access_release_management.checkboxPermission">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    checked
                    disabled
                  />
                </template>
                <template x-if="!erm.access_release_management.checkboxPermission">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    :id="checkboxLabel"
                    x-model="checkboxPermission"
                  />
                </template>
                <label
                  class="form-check-label"
                  :for="checkboxLabel"
                  x-text="checkboxText"
                ></label>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="active">
        <legend>
          <a class="accordion-toggle" data-bs-toggle="collapse" href="#reports-card">
            <i class="fa fa-angle-double-down"></i>
            {% trans "Reports" %}
          </a>
        </legend>
        <div id="reports-card" class="card-body collapse show">
          <template x-for="report in reports">
            <div class="row" x-show="report.visibilityRestraint">
              <div
                class="col-md-4 form-label fw-bold"
                x-text="report.text"
              ></div>
              <div class="col-md-8 controls">
                <div class="form-check pt-0">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    :id="report.checkboxLabel"
                    x-model="report.checkboxPermission"
                  />
                  <label
                    class="form-check-label"
                    :for="report.checkboxLabel"
                    x-text="report.checkboxText"
                  >
                  </label>
                </div>
              </div>
            </div>
          </template>
          <!-- TODO: yarn add @alpinejs/collapse -->
          <div class="row"
            x-show="!reportPermissions.all"
            x-collapse
            x-cloak
          >
            <div class="col-md-4 form-label fw-bold">
              {% trans "Access Specific Reports" %}
            </div>
            <div class="col-md-8 controls">
              <div class="card">
                <div class="card-header">
                  {% trans "Select which reports the role can access:" %}
                </div>
                <div
                  class="card-body"
                >
                  <template x-for="report in reportPermissions.specific">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        x-model="report.value"
                        :id="report.slug + '-checkbox'"
                      />
                      <label
                        class="form-check-label"
                        :for="report.slug + '-checkbox'"
                      >
                        <span
                          x-text="report.name"
                          class="text-break"
                        ></span>
                      </label>
                    </div>
                  </template>
                </div>
              </div>
            </div>
          </div>

          {% if request|toggle_enabled:"EMBEDDED_TABLEAU" %}
            <div
              class="row mt-2"
              x-show="!tableauPermissions.all"
              x-collapse
              x-cloak
            >
              <div class="col-md-4 form-label fw-bold">
                {% trans "Access Specific Tableau Reports" %}
              </div>
              <div class="col-md-8 controls">
                <div class="card">
                  <div class="card-header">
                    {% trans "Select which Tableau reports the role can access:" %}
                  </div>
                  <div class="card-body">
                    <template x-for="report in tableauPermissions.specific">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          x-model="report.value"
                          :id="'tableau-' + report.slug + '-checkbox'"
                        />
                        <label
                          class="form-check-label"
                          :for="'tableau-' + report.slug + '-checkbox'"
                        >
                          <span
                            x-text="report.name"
                            class="text-break"
                          ></span>
                        </label>
                      </div>
                    </template>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </fieldset>


      {% if request|request_has_privilege:"CLOUDCARE" %}
        <fieldset class="active">
          <legend>
            <a class="accordion-toggle" data-bs-toggle="collapse" href="#web-apps-card">
              <i class="fa fa-angle-double-down"></i>
              {% trans "Web Apps" %}
            </a>
          </legend>
          <div id="web-apps-card" class="card-body collapse show">
            <div x-data="webAppsPermissions">
              {% include 'users/partials/select_permission.html' %}
            </div>
          </div>
        </fieldset>
      {% endif %}


      {% if request|toggle_enabled:"DATA_REGISTRY" %}
        <fieldset class="active">
            <legend>
                <a class="accordion-toggle" data-bs-toggle="collapse" href="#data-registry-card">
                    <i class="fa fa-angle-double-down"></i>
                    {% trans "Data Registries" %}
                </a>
            </legend>
            <div id="data-registry-card" class="card-body collapse show">
              <template x-for="p in registryPermissions">
                <div x-data="p">
                  {% include 'users/partials/select_permission.html' %}
                </div>
              </template>
            </div>
        </fieldset>
      {% endif %}

      <div class="border-top my-2"></div>

      <div class="row mb-4">
        <div class="col-sm-2">
          <button type="submit" class="btn btn-primary" :disabled="isSaving" x-cloak>
            <span x-show="!isSaving">{% trans "Save" %}</span>
            <span x-show="isSaving">{% trans "Saving ..." %}</span>
          </button>
        </div>
        <div class="col-sm-10">
          <span class="form-text text-danger" x-text="roleError"></span>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
