{% extends 'users/base_template.html' %}
{# This is for editing information for a CommCareUser #}

{% load crispy_forms_tags %}
{% load hq_shared_tags %}
{% load hqstyle_tags %}
{% load i18n %}

{% block head %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'hqwebapp/js/lib/jquery-ui-datepicker/datepicker-theme/jquery-ui-1.8.17.custom.css' %}" />
    <link rel="stylesheet" href="{% static 'hqwebapp/js/lib/jquery-ui/multiselect/ui.multiselect.css' %}" />
{% endblock %}

{% block js %}{{ block.super }}
    <script src="{% static 'users/js/key_filters.js' %}"></script>
    <script src="{% static 'hqwebapp/js/lib/jquery.textchange.min.js' %}"></script>
    <script src="{% static 'hqwebapp/js/ui-element.js' %}"></script>
    <script src="{% static 'hqwebapp/js/lib/jquery-ui/jquery-ui-1.9.2.multiselect-deps.custom.min.js' %}"></script>
    <script src="{% static 'hqwebapp/js/lib/jquery-ui/multiselect/ui.multiselect.js' %}"></script>
{% endblock %}

{% block js-inline %} {{ block.super }}
{% include 'users/partial/basic_info_js_inline.html' %}
<script>
    $(function () {
        var activeTabCookie = 'active_tab',
                last_active_tab = $.cookie(activeTabCookie);
        if(last_active_tab) {
            $(last_active_tab).addClass('active');
            $('#user-settings-tabs a[href="'+last_active_tab+'"]').parent().addClass('active');
        } else {
            var first_tab = $('#user-settings-tabs a[data-toggle="tab"]').first();
            first_tab.parent().addClass('active');
            $(first_tab.attr('href')).addClass('active');
        }
        $('#user-settings-tabs a[data-toggle="tab"]').on('shown', function (e) {
            $.cookie(activeTabCookie, $(this).attr('href'),
                    {path: '{{ request.path }}',
                    expires: 1});
        });

        $('.reset-password-form').submit(function(){
            $(this).ajaxSubmit({
                url: $(this).attr('action'),
                type: 'POST',
                dataType: 'json',
                success: function (response, status, xhr, form) {
                    form.find('.reset-password-body').html(response.formHTML);
                    if (response.status == "OK") {
                        var $alert = $('<p />')
                                .addClass('alert alert-success')
                                .text("{% trans 'Password changed successfully' %}");
                        form.find('.reset-password-body').prepend($alert);
                        form.find('input').val('');
                        ga_track_event("Edit Mobile Worker", "Reset password", "{{couch_user_id|escapejs}}");
                    }
                },
                error: function (response) {
                    console.log('error');
                }
            });
            return false;
        });
        {% if not is_currently_logged_in_user %}
        $(function () {
            function DeleteUserButtonModel() {
                 var self = this;
                 self.signOff = ko.observable('');
                 self.formDeleteUserSent = ko.observable(false);
                 self.disabled = function () {
                     var understand = self.signOff().toLowerCase() === '{{ couch_user.username|safe }}';
                     return self.formDeleteUserSent() || !understand;
                 };
                 self.submit = function () {
                     if (!self.disabled()) {
                         self.formDeleteUserSent(true);
                         return true;
                     }
                 }
             }
             if ($('#delete_user_{{ couch_user.user_id }}').get(0)) {
                 ko.applyBindings(new DeleteUserButtonModel(), $('#delete_user_{{ couch_user.user_id }}').get(0));
             }

            // Event tracking
            var $deleteModalForm = $("#delete_user_{{ couch_user.user_id }} form");
            $("button:submit", $deleteModalForm).on("click", function(){
                ga_track_event("Edit Mobile Worker", "Deleted User", "{{couch_user.user_id|escapejs}}", {
                    'hitCallback': function() {
                        $deleteModalForm.submit();
                    }
                });
                return false;
            });

        });
        {% endif %}

        // groups form
        $("#id_selected_ids").width(800).height(400).multiselect();

        // "are you sure?" stuff
        var unsavedChanges = false;
        $("#id_selected_ids").change(function () {
            unsavedChanges = true;
        });

        $(window).bind('beforeunload', function () {
            if (unsavedChanges) {
                return "{% trans "Group membership has changed." %}";
            }
        });
        $("#groups").submit(function () {
            $(window).unbind("beforeunload");
        });
    });
</script>
{% endblock %}

{% block main_column %}
    <ul class="nav nav-tabs" id="user-settings-tabs">
        <li><a href="#basic-info" data-toggle="tab">{% trans "Basic" %}</a></li>
        <li><a href="#groups" data-toggle="tab">{% trans "Groups" %}</a></li>
        {% if commtrack_enabled %}
        <li><a href="#commtrack-data" data-toggle="tab">{% trans "CommCare Supply" %}</a></li>
        {% elif uses_locations %}
        <li><a href="#commtrack-data" data-toggle="tab">{% trans "Locations" %}</a></li>
        {% endif %}
        <li><a href="#user-password" data-toggle="tab">{% trans "Password" %}</a></li>
        {% if not is_currently_logged_in_user %}
        <li><a href="#user-permanent" data-toggle="tab">{% trans "Permanent Actions" %}</a></li>
        {% endif %}
    </ul>
    <div class="tab-content" id="settings">
        <div class="tab-pane" id="basic-info">
            {% include 'users/partial/basic_info_form.html' with user_type="mobile"%}
        </div>

        <div class="tab-pane" id="groups">
            <form class="form" action="{% url "update_user_groups" domain couch_user.user_id %}" method='post'>
                <legend>{% trans 'Edit Groups' %}</legend>
                {% if not are_groups %}
                <p>{% blocktrans %}
                    No groups created yet. Go to <a href="{{ groups_url }}">groups configuration</a> to create them.
                   {% endblocktrans %}</p>
                {% else %}
                {% crispy group_form %}
                {% endif %}
            </form>
        </div>
        {% if commtrack %}
        <div class="tab-pane" id="commtrack-data">
            {% include "users/partial/edit_commtrack_user_settings.html" %}
        </div>
        {% endif %}
        <div class="tab-pane" id="user-password">
            <form class="form form-horizontal reset-password-form"
                  action="{% url "change_password" domain couch_user.user_id %}"
                  method="post">
                <fieldset>
                    <legend>{% trans 'Reset Password' %}</legend>
                    <div class="reset-password-body">
                        {% include 'users/partial/reset_password.html' %}
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans 'Reset Password' %}</button>
                </div>
            </form>
        </div>
        {% if not is_currently_logged_in_user %}
        <div class="tab-pane" id="user-permanent">
            <div class="form form-horizontal">
                <fieldset>
                    <legend>{% trans 'Delete Mobile Worker' %}</legend>
                    <div class="alert alert-error">
                        <p><i class="icon-warning-sign"></i> {% trans 'The following action is permanent!' %}</p>
                        <p>
                            <a class="btn btn-danger" href="#delete_user_{{ couch_user.user_id }}" data-toggle="modal">
                                <i class="icon-white icon-trash"></i> {% trans "Delete Mobile Worker" %}
                            </a>
                        </p>
                    </div>
                </fieldset>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block modals %} {{ block.super }}
    {% include 'users/partial/basic_info_modals.html' %}
    {% if not is_currently_logged_in_user %}
    <div id="delete_user_{{ couch_user.user_id }}" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{% blocktrans with couch_user.human_friendly_name as friendly_name %}Delete Mobile Worker {{ friendly_name }}?{% endblocktrans %}
                <small>{% trans "Permanent Action" %}</small>
            </h3>
        </div>
        <form class="form form-horizontal"
              style="margin: 0; padding: 0"
              action="{% url "delete_commcare_user" domain couch_user.user_id %}"
              method="post"
              data-bind="submit: submit">
            <div class="modal-body">
                <p class="alert">
                    <i class="icon-white icon-warning-sign"></i>
                    {% trans "Bad things will happen if you don't read this" %}
                </p>
                <p>
                    {% blocktrans with couch_user.human_friendly_name as friendly_name %}
                    Are you sure you want to permanently delete <strong>{{ friendly_name }}</strong>?
                    {% endblocktrans %}
                </p>
                <p>{% trans "This action:" %}</p>
                <ul>
                    <li>
                        {% blocktrans with couch_user.human_friendly_name as friendly_name %}Will delete {{ friendly_name }}.{% endblocktrans %}
                    </li>
                    <li>{% blocktrans with couch_user.human_friendly_name as friendly_name %}
                        Will delete <strong>all</strong> of {{ friendly_name }}'s form submissions.
                    {% endblocktrans %}</li>
                    <li>{% trans "Is permanent." %}</li>
                </ul>
                <p>
                    {% blocktrans with couch_user.human_friendly_name as friendly_name %}
                    If you ever want to use {{ friendly_name }}'s data in the future, we suggest that you use the <strong>Deactivate User</strong> option
                    <a href="{{ archive_url }}">here</a>.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans with couch_user.username as username %}
                    If even after reading this you decide that you really want
                    to delete this user and all of their data, type <strong>{{ username }}</strong> into the box below.
                    {% endblocktrans %}
                </p>

                <input data-bind="value: signOff, valueUpdate: 'textchange'" />
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">{% trans 'Cancel' %}</a>
                <button type="submit" class="btn btn-danger" data-bind="
                     css: {disabled: disabled()},
                     attr: {disabled: disabled()}
                 ">
                     <i id="delete-user-icon" class="icon-trash" data-bind="
                         css: {
                             'icon-trash': !formDeleteUserSent(),
                             'icon-refresh': formDeleteUserSent,
                             'icon-spin': formDeleteUserSent
                         }
                     "></i>
                     {% trans "Delete Mobile Worker" %}
                 </button>
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}
