{% extends 'users/base_template.html' %}
{# This is for editing information for a CommCareUser #}

{% load crispy_forms_tags %}
{% load hq_shared_tags %}
{% load hqstyle_tags %}
{% load i18n %}

{% block js %}{{ block.super }}
    <script src="{% static 'hqwebapp/js/lib/jquery.textchange.min.js' %}"></script>
    <script src="{% static 'style/js/ui-element.js' %}"></script>
{% if strong_mobile_passwords and not hide_password_feedback %}
    <script src="{% static 'zxcvbn/dist/zxcvbn.js' %}"></script>
    <script src="{% static 'registration/js/password.js' %}"></script>
{% endif %}
{% endblock %}

{% block js-inline %} {{ block.super }}
{% include 'users/partial/basic_info_js_inline.html' %}
<script>
    $(function () {
        var activeTabCookie = 'active_tab',
                last_active_tab = $.cookie(activeTabCookie);
        if(last_active_tab) {
            $(last_active_tab).addClass('active');
            $('#user-settings-tabs a[href="'+last_active_tab+'"]').parent().addClass('active');
        } else {
            var first_tab = $('#user-settings-tabs a[data-toggle="tab"]').first();
            first_tab.parent().addClass('active');
            $(first_tab.attr('href')).addClass('active');
        }
        $('#user-settings-tabs a[data-toggle="tab"]').on('shown', function (e) {
            $.cookie(activeTabCookie, $(this).attr('href'),
                    {path: '{{ request.path }}',
                    expires: 1});
        });

        $('#reset-password-form').submit(function(){
            $(this).ajaxSubmit({
                url: $(this).attr('action'),
                type: 'POST',
                dataType: 'json',
                success: function (response, status, xhr, form) {
                    form.find('#user-password').html(response.formHTML);
                    if (response.status == "OK") {

                        alert_user("{% trans 'Password changed successfully' %}", 'success');
                        ga_track_event("Edit Mobile Worker", "Reset password", "{{couch_user_id|escapejs}}");
                    } else {
                        message = gettext('Password was not changed ');

                        {% if hide_password_feedback %}
                        message += gettext("Password Requirements: 1 special character, " +
                                          "1 number, 1 capital letter, minimum length of 8 characters.");
                        {% endif %}
                    
                        alert_user(message, 'danger');

                    }
                },
                error: function (response) {
                    console.log('error');
                }
            });
            return false;
        });
        {% if not is_currently_logged_in_user %}
        $(function () {
            function DeleteUserButtonModel() {
                 var self = this;
                 self.signOff = ko.observable('');
                 self.formDeleteUserSent = ko.observable(false);
                 self.disabled = function () {
                     var understand = self.signOff().toLowerCase() === '{{ couch_user.username|safe }}';
                     return self.formDeleteUserSent() || !understand;
                 };
                 self.submit = function () {
                     if (!self.disabled()) {
                         self.formDeleteUserSent(true);
                         return true;
                     }
                 }
             }
             if ($('#delete_user_{{ couch_user.user_id }}').get(0)) {
                 $('#delete_user_{{ couch_user.user_id }}').koApplyBindings(new DeleteUserButtonModel());
             }

            // Event tracking
            var $deleteModalForm = $("#delete_user_{{ couch_user.user_id }} form");
            $("button:submit", $deleteModalForm).on("click", function(){
                ga_track_event("Edit Mobile Worker", "Deleted User", "{{couch_user.user_id|escapejs}}", {
                    'hitCallback': function() {
                        $deleteModalForm.submit();
                    }
                });
                return false;
            });

        });
        {% endif %}

        // Groups form
        var multiselect_utils = hqImport('style/js/multiselect_utils');
            multiselect_utils.createFullMultiselectWidget(
                'id_selected_ids',
                django.gettext("Available Groups"),
                django.gettext("Groups with this User"),
                django.gettext("Search Group...")
            );

        // "are you sure?" stuff
        var unsavedChanges = false;
        $("#id_selected_ids").change(function () {
            unsavedChanges = true;
        });

        $(window).on('beforeunload', function () {
            if (unsavedChanges) {
                return "{% trans "Group membership has changed." %}";
            }
        });
        $("#groups").submit(function () {
            $(window).unbind("beforeunload");
        });
    });
</script>
{% endblock %}

{% block page_content %}
    {% if couch_user.is_demo_user %}
    <p class="alert alert-warning">
        {% trans "This user is marked as a demo user.  All forms submitted by this user will be ignored and not appear in reports or data exports" %}
    </p>
    {% endif %}
    <ul class="nav nav-tabs" id="user-settings-tabs" style="margin-bottom: 10px;">
        <li><a href="#basic-info" data-toggle="tab">{% trans "Basic" %}</a></li>
        <li><a href="#groups" data-toggle="tab">{% trans "Groups" %}</a></li>
        {% if commtrack_enabled or uses_locations %}
        <li><a href="#commtrack-data" data-toggle="tab">{% trans "Locations" %}</a></li>
        {% endif %}
        <li><a href="#user-password" data-toggle="tab">{% trans "Password" %}</a></li>
        {% if not is_currently_logged_in_user %}
        <li><a href="#user-permanent" data-toggle="tab">{% trans "Permanent Actions" %}</a></li>
        {% endif %}
    </ul>
    <div class="tab-content" id="settings">
        <div class="tab-pane" id="basic-info">
            {% include 'users/partial/basic_info_form.html' with user_type="mobile"%}
        </div>

        <div class="tab-pane" id="groups">
        {% if needs_to_downgrade_locations %}
            <div>
                <p>
                    {% trans "This project no longer has access to the Organization feature." %}
                    <a href="{% url "downgrade_locations" domain %}">
                        {% trans "Click here to fix this." %}
                    </a>
                </p>
            </div>
        {% else %}
            <form class="form-horizontal" action="{% url "update_user_groups" domain couch_user.user_id %}" method='post'>
                {% if not are_groups %}
                <p>{% blocktrans %}
                    No groups created yet. Go to <a href="{{ groups_url }}">groups configuration</a> to create them.
                    {% endblocktrans %}</p>
                {% else %}
                {% crispy group_form %}
                {% endif %}
            </form>
        {% endif %}
        </div>
        {% if commtrack %}
        <div class="tab-pane" id="commtrack-data">
            {% include "users/partial/edit_commtrack_user_settings.html" %}
        </div>
        {% endif %}
        <div class="tab-pane" id="user-password">
            {% include 'users/partial/reset_password.html' %}
        </div>
        {% if not is_currently_logged_in_user %}
        <div class="tab-pane" id="user-permanent">
            <div class="form form-horizontal">
                <fieldset>
                    <legend>{% trans 'Delete Mobile Worker' %}</legend>
                    <div class="alert alert-danger">
                        <p><i class="fa fa-exclamation-triangle"></i> {% trans 'The following action is permanent!' %}</p>
                        <p>
                            <a class="btn btn-danger" href="#delete_user_{{ couch_user.user_id }}" data-toggle="modal">
                                <i class="fa fa-trash"></i> {% trans "Delete Mobile Worker" %}
                            </a>
                        </p>
                    </div>
                </fieldset>
            </div>
            {% if request|toggle_enabled:"MOBILE_USER_DEMO_MODE" or couch_user.is_demo_user %}
            <div class="alert alert-info">
                <p>
                    <i class="fa fa-info-circle"></i>
                    {% if couch_user.is_demo_user %}
                        {% trans "Turn off demo mode to allow this mobile worker to start sending data to CommCareHQ again." %}
                    {% else %}
                        {% trans "This will mark the mobile worker as a demo user and CommCareHQ will ignore future form submissions from the user." %}
                    {% endif %}
                </p>
                <p>
                    <form class="form form-horizontal"
                          action="{% url "toggle_demo_mode" domain couch_user.user_id %}"
                          method="post">
                        <input type="hidden" name="demo_mode" value="{{ couch_user.is_demo_user|yesno:"no,yes" }}" />
                        {% csrf_token %}
                            <button type="submit" class="btn btn-info">
                                {% if couch_user.is_demo_user %}
                                    <i class="icon-trash"></i>
                                    {% trans 'Turn Off Demo Mode for this Mobile Worker' %}
                                {% else %}
                                    {% trans 'Turn On Demo Mode for this Mobile Worker' %}
                                {% endif %}
                            </button>
                    </form>
                </p>
                {% if couch_user.is_demo_user %}
                <p>
                    <form class="form form-horizontal"
                          action="{% url "reset_demo_user_restore" domain couch_user.user_id %}"
                          method="post">
                          {% csrf_token %}
                            <button type="submit" class="btn btn-default">
                                <i class="icon-refresh"></i>
                                {% trans 'Refresh Demo Mode data' %}
                            </button>
                            {% blocktrans with when=demo_restore_date %}
                                <span> Last refreshed {{ when }}</span>
                            {% endblocktrans %}
                    </form>
                </p>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block modals %} {{ block.super }}
    {% include 'users/partial/basic_info_modals.html' with user_type='mobile' %}
    {% if not is_currently_logged_in_user %}
    <div id="delete_user_{{ couch_user.user_id }}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% blocktrans with couch_user.human_friendly_name as friendly_name %}Delete Mobile Worker {{ friendly_name }}?{% endblocktrans %}
                        <small>{% trans "Permanent Action" %}</small>
                    </h4>
                </div>
                <form class="form-horizontal"
                      style="margin: 0; padding: 0"
                      action="{% url "delete_commcare_user" domain couch_user.user_id %}"
                      method="post"
                      data-bind="submit: submit">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p class="alert alert-warning">
                            <i class="fa fa-exclamation-triangle"></i>
                            {% trans "Bad things will happen if you don't read this" %}
                        </p>
                        <p>
                            {% blocktrans with couch_user.human_friendly_name as friendly_name %}
                            Are you sure you want to permanently delete <strong>{{ friendly_name }}</strong>?
                            {% endblocktrans %}
                        </p>
                        <p>{% trans "This action:" %}</p>
                        <ul>
                            <li>
                                {% blocktrans with couch_user.human_friendly_name as friendly_name %}Will delete {{ friendly_name }}. They will no longer be able to sync or submit any data from their mobile devices.{% endblocktrans %}
                            </li>
                            <li>{% blocktrans with couch_user.human_friendly_name as friendly_name %}
                                Will delete <strong>all</strong> of {{ friendly_name }}'s form submissions.
                            {% endblocktrans %}</li>
                            <li>{% trans "Is permanent." %}</li>
                        </ul>
                        <p>
                            {% blocktrans with couch_user.human_friendly_name as friendly_name %}
                            If you ever want to use {{ friendly_name }}'s data in the future, we suggest that you use the <strong>Deactivate User</strong> option
                                <a href="https://confluence.dimagi.com/display/commcarepublic/Create+and+Manage+CommCare+Mobile+Workers#CreateandManageCommCareMobileWorkers-D.Deactivate(Formerly%22Archive%22)andDeleteMobileWorkers" target="_blank">described here</a>.
                            {% endblocktrans %}
                        </p>
                        <p>
                            {% blocktrans with couch_user.username as username %}
                            If even after reading this you decide that you really want
                            to delete this user and all of their data, type <strong>{{ username }}</strong> into the box below.
                            {% endblocktrans %}
                        </p>

                        <input class="form-control" data-bind="value: signOff, valueUpdate: 'textchange'" />
                    </div>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal" class="btn btn-default">{% trans 'Cancel' %}</a>
                        <button type="submit" class="btn btn-danger" data-bind="
                             css: {disabled: disabled()},
                             attr: {disabled: disabled()}
                         ">
                             <i id="delete-user-icon" class="fa fa-trash" data-bind="
                                 css: {
                                     'fa-trash': !formDeleteUserSent(),
                                     'fa-refresh': formDeleteUserSent,
                                     'fa-spin': formDeleteUserSent
                                 }
                             "></i>
                             {% trans "Delete Mobile Worker" %}
                         </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
