{% extends "users/users_base.html" %}
{% load hq_shared_tags %}
{% load hqstyle_tags %}

{% block web_users_indicator %}
<ul class="nav nav-list">
    <li class="active"><a href="#">Invite {% hq_web_user %}</a></li>
</ul>
{% endblock %}

{% block subsection-title %}
    <li>
        <a href="{% url web_users domain %}">{% hq_web_user %}s</a> <span class="divider">&gt;</span>
    </li>
    <li class="active">
        <a href="#">Invite {% hq_web_user %} to Project</a>
    </li>
{% endblock %}

{% block user-view %}
    <form class="form form-horizontal" method="post" action="">
        {% bootstrap_form_errors registration_form %}
        {% bootstrap_fieldset registration_form "Information for the person you would like to invite to your project" %}
        <div class="form-actions"><button type="submit" class="btn btn-primary">Send Invite</button></div>
    </form>
{% endblock %}