{% extends 'hqwebapp/bootstrap3/base_section.html' %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% js_entry_b3 'users/js/invite_web_user' %}

{% block page_content %}
  {% initial_page_data 'custom_fields_slugs' custom_fields_slugs %}
  {% initial_page_data 'custom_fields_profiles' custom_fields_profiles %}
  {% initial_page_data 'custom_fields_profile_slug' custom_fields_profile_slug %}
  {% registerurl "check_sso_trust" domain %}

  <div id="invite-web-user-form"
       class="ko-template">
    {% crispy registration_form %}
  </div>
{% endblock %}
