{% extends "style/bootstrap2/two_column.html" %}
{% load hq_shared_tags %}
{% load i18n %}

{% block title %}{% trans "Settings &amp; Users" %}{% endblock %}

{% block js %} {{ block.super }}
    <script type="text/javascript" src="{% static 'hqwebapp/js-custom/hq.legacy.js' %}"></script>
{% endblock %}
{% block js-inline %} {{ block.super }}
    <script type="text/javascript">
        $(function () {
            var path = '{{ request.path }}';
            COMMCAREHQ.initBlock($('.hq-content'));
            $('#users-main-nav li a').each(function(e) {
                if ($(this).attr('href') == path) {
                    $(this).parent().addClass('active');
                }
            });
            $('.hq-help-template').each(function () {
                COMMCAREHQ.transformHelpTemplate($(this), false);
            });
            $('.hq-help').hqHelp();
            var activeTabCookie = 'active_tab',
                last_active_tab = $.cookie(activeTabCookie);
            if(last_active_tab) {
                $(last_active_tab).addClass('active');
                $('#project-settings-tabs a[href="'+last_active_tab+'"]').parent().addClass('active');
            } else {
                var first_tab = $('#project-settings-tabs a[data-toggle="tab"]').first();
                first_tab.parent().addClass('active');
                $(first_tab.attr('href')).addClass('active');
            }
            $('#project-settings-tabs a[data-toggle="tab"]').on('shown', function (e) {
                $.cookie(activeTabCookie, $(this).attr('href'),
                        {path: '{{ request.path }}',
                        expires: 1});
            });
        });
    </script>
{% endblock %}

{% block page-title %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url "users_default" domain %}"><strong>{% trans "Settings &amp; Users" %}</strong></a> <span class="divider">&gt;</span>
        </li>
        {% block subsection-title %}
        {% endblock %}
    </ul>
{% endblock %}

{% block main_column %}
    {% block user-view %}
        <p class="message">Click on the menu to the left to edit your settings.</p>
    {% endblock %}
    {% if error %}
        <div id="error_msg">
            {{ error }}
        </div>
    {% endif %}
{% endblock %}
