{% extends "users/users_base.html" %}
{% load i18n %}
{% block user-view %}
    <h1>Web Users</h1>
	<table class='big_border'>
	<tr><th></th>
		<th>{% trans "E-mail" %}</th>
		<th>{% trans "Role" %}</th>
        <th>{% trans "Name" %}</th>
		<th>{% trans "Phone Numbers" %}</th>
        <th>{% trans "Remove" %}</th>
	</tr>
	{% for user in web_users %}
	<tr><td></td>
		<td>
            <a href="{% url user_account domain user.couch_id %}">
                {{ user.html_username|safe }}
            </a>
        </td>
		<td>{{ user.role_label }}</td>
		<td>{{ user.first_name }} {{ user.last_name }}</td>
		<td>
			{% if user.phone_numbers %}
				+{{ user.default_phone_number }}
				{% if user.phone_numbers.1 %}
					(and more)
				{% endif %}
			{% else %}{% endif %}
		</td>
        <td>
            <form action="{% url remove_web_user domain user.user_id %}">
                <a href="#" class="submit"><div class="ui-icon ui-icon-closethick"></div></a>
            </form>
        </td>
	</tr>
	{% endfor %}
	</table>
    <div>
        <a class="new_link" href="{% url invite_web_user domain %}">Web User</a>
    </div>
{% endblock %}

