/*-  BASE STYLES
----------------------------------------------------------------------*/

/*- self-clearing floats ----------*/

#main:after, .mod:after, #edit:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*- fluid images and objects ----------*/

img,
object,
embed {max-width: 100%;}


/*- optional vanity styles ----------*/
/*
::selection {background: #c80000;}
::-moz-selection {background: #c80000;}

img::selection {background: transparent;}
img::-moz-selection {background: transparent;}

@media only screen and (max-device-width: 480px) {

	html {-webkit-text-size-adjust: none}
	a {-webkit-tap-highlight-color: rgba(200,0,0,0.4);}

}*/

/*- Paul Irish's Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ ----------*/

@font-face {
  font-family: 'Graublau Web';
  src: url('GraublauWeb.eot');
  src: local('☺'),
         url('GraublauWeb.woff') format('woff'), url('GraublauWeb.ttf') format('truetype');
}


/*- LET'S GET STARTED!
----------------------------------------------------------------------*/

html {overflow-y: scroll;}

.ie-warning {
    text-align: center;
    border-bottom: 1px solid #F00;
    background-color: #FBB;
    padding: 1em;
}
td, th, caption {
    padding: 5px;
    vertical-align: top;
}

li {
    list-style: none;
}

.shadow {
	-moz-box-shadow: 0px 0px 8px #bbc;
	-webkit-box-shadow: 0px 0px 8px #bbc;
	box-shadow: 0px 0px 8px #bbc;
}
h1,h2,h3,h4,h5,h6 {
    /*text-shadow: #96989B 0px 0px 4px;*/
}

.sortable {
    sortable: auto;
}

a, .ui-widget-content a {
    color: #0067B1;
    text-decoration: none;
}
a:hover {
    color: #0067B1;
    text-decoration: underline;
}

a.new_link {
    color: #aaa !important;
}

body {
	color: #000;
	font: normal 12px Helvetica, Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}
#bug-report-bar, #bug-report-body {
    background-color: #FFF;
    position: absolute;
    border-bottom: 1px solid #96989B;
    border-right: 1px solid #96989B;
    padding: 10px;
}
.no-bottom-border {
   border-bottom: none !important;
}
#bug-report-bar {
    z-index: 1001;
}

#bug-report-body {
    z-index: 1000;
    display: none;
    text-align: left;
    border-top: 1px solid #96989B;
}
#bug-report-body p {
    text-align: center;
    font-size: 1.5em;
}

a#bug-report-toggle {
    font-size: 1.25em;
    text-align: center;
    color: #000;
    font-weight: bold;
    display: block;
}
.link-underline {
    text-decoration: underline;
}

#bug-report-form {
    width: 400px;
    margin: auto;
    color: #FFF;
}
#bug-report-message {
    height: 10em;
}
#bug-report-form label[for="bug-report-message"] {
    color: #888;
}

#bug-report-form input,
#bug-report-form textarea {
    border:  1px solid #0067B1;
}
#bug-report-form label {
    color: black;
}

#bug-report-message {
    width: 100%;
}

#bug-report-buttons {
    text-align: right;
}

#wrapper {
    background-color: #f5f5ff;
    padding-bottom: 60px;
    min-height: 600px;
}
abbr {
	cursor: help;
}

.fixed-width {
    width: 1000px;
    margin: auto;
}
#logo {
    float: left;
    /*background: url('../img/commcarehq-logo.png') no-repeat scroll 0 0 transparent; width: 450px; height: 70px;*/
    /*background: url('../img/monstertruck-cc-logo.png') no-repeat scroll 0 0 transparent; width: 462px; height: 95px;*/
    /*background: url('../img/monstertruck-overlap.png') no-repeat scroll 0 0 transparent; width: 462px; height: 95px;*/
    margin-top: 2px;
    /*background: url('../img/hq-stamp-tilt.png') no-repeat scroll 0 0 transparent; width: 462px; height: 130px;*/
    background: url('../img/HQ-Blue-2.png') no-repeat scroll 0 0 transparent; width: 462px; height: 130px;
    text-indent: -10000%;
}
ul#top-nav{
    list-style-type: none;
    border-collapse: collapse;
    font-size: 1.2em;
}
ul#top-nav li {
    display: inline;
}
header {
    padding: 5px 0;
    /* curly hq */
    /*height: 70px;*/
    /* monstertruck hq */
    height: 95px;
    background-color: #fff;
    border-bottom: 1px solid #eee;

}

    header nav ul {
        float: right;
        padding-top: 3px;
        padding-bottom: 0;
        margin: 0;
    }
        header nav li {
            padding: 0 11px 0 6px;
            font-weight: normal;
            font-size: 1.2em;
            /*text-shadow: #96989B 0px 0px 3px;*/
            border-right: 1px solid #96989B;
            margin: 0;
        }
        header nav li:last-child {
            border-right: none;
            padding-right: 0px;
        }
        header nav .active a {
            color: black;
        }
    header #logged-in {
        clear: right;
        float: right;
        margin-top: 4em;
        padding: 0;
    }


footer {
    padding: 10px 0;
    border-top: 1px solid #ddd;
}
    #copyright {
        color: #555;
        text-align: right;
    }
    #help {
        color: #555;
        float: left;
    }

#main {
    margin-top: 40px;
    /* to prevent flicker */
    display: none;
}
#main > div {
}

#main_container {
    border: 0;
    background-color: #fff;
    padding: 0px;
}

#title-bar {
    border-left: none;
    border-right: none;
    border-top: none;
}

.container {
    padding: 1em;
}
.padded {
    padding: 1em;
}
#form-tabs {
    padding: 0px !important;
    margin-bottom: 3em;
    /* to avoid flicker!!*/
    display: none;
}
#forms {
    padding: 0px;
}
#title-bar {
    padding: 1em;
}
.sidebar {
    width: 200px;
    padding: 1em;
}
.sidebar a {
    color: #222;
}
.sidebar a:hover {
    color: #0067B1;
    text-decoration: underline;
}
#modules-header {
    text-align: center;
}
.sidebar h2 {
    padding: .25em;
}
.sidebar ul li{
    padding: .25em;
    padding-left: 1.5em;
    list-style: none;
}
.sidebar > ul > li > div {
    padding: .25em;
}
.sidebar ul {
    margin-bottom: 1em;
}
.sidebar h2.selected {
    background-color: #ccc;
    border: 1px solid #bbb;
}
.sidebar div.selected {
    background-color: #ccc;
    border: 1px solid #bbb;
}
.sidebar ul.selected {
    background-color: #eee;
}
.sidebar li.selected {
    background-color: #ccc;
    border: 1px solid #bbb;
}

/* make join .sidebar and .next-to-sidebar horizontally */
.sidebar-wrapper {
    display: table;
    width: 100%;
}
.sidebar, .next-to-sidebar {
    display: table-cell;
    border-top: none;
    vertical-align: top;
}
.next-to-sidebar {
    border: none;
    padding: 1em;
}
.sidebar {
    border-left: none;
    border-bottom: none;
}

form table td {
    padding: .25em;
}
form table {
    margin: 1em;
}
#title-bar {
    min-height: 30px;
}

.page-title {
	text-align: center;
	font: bold 18px Helvetica, Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

#edit {
    float: right;
}
#empty {
    padding: 1em;
}
.message {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}
.message a {
    font-weight: bold !important;
    text-decoration: underline !important;
}
.warning {
    font-style: italic;
    text-indent: 1em;
    margin-left: 1em;
}

.block {
    margin: 1em;
    border: 1px solid #eaeaff;
    background-color: #fafaff;
}
table.config {
    margin: 1em;
    /*width: 100%;*/
    
}
table.config td, table.config, th {
    padding: 5px;
}
table.config th {
    text-align: left;
}
.next-to-sidebar h3{
    text-align: center;
}
.next-to-sidebar {
    position: relative;
}

input[type='text'], input[type='password'] {
    width: 200px;
    margin: 1px;
    padding: 2px;
}
input[type='text'].url {
    min-width: 500px;
}

input.short {
    width: 50px;
}

input[type='text'], input[type='password'], textarea {
    border: 1px solid #ccc;
    background-color: #f5f5ff;
}

input.wide {
    width: 400px;
}
.code {
    font-family: monospace !important;
}
#langs {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1em;
}
#version {
    height: 22px;
}

.drag_handle {
    width: 16px;
    cursor: move;
}

.ui-tabs {
    position: static !important;
}

/*.dropdown {*/
    /*display: block;*/
    /*background-color: white;*/
    /*border: 1px solid #ccc;*/
    /*position: absolute;*/
    /*padding: 0 1em;*/
/*}*/
/*.dropdown:hover {*/
    /*background-color: #8867B1;*/
/*}*/

.user_username {
    color: #000;
    font-weight: normal;
}

.user_domainname {
    color: #555;
    font-size: .8em;
}

th {
    color: #555;
    font-weight: normal;
}

.hidden {
    display: none;
}

/* Inline Help */
.help-text {
    border: 1px solid #eaeaff;
    background-color: #fff;
    padding: 20px !important;
    position: absolute;
    margin-top: 10px;
}
.help-text
    p {
        text-align: justify;
        margin: 5px 0 5px 0;
    }

.ui-icon {
    float: left;
}

.dialog {
    display: none;
}

.caution {
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: underline;
}