/*-  BASE STYLES
----------------------------------------------------------------------*/

/*- self-clearing floats ----------*/

#main:after, .mod:after, #edit:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*- fluid images and objects ----------*/

img,
object,
embed {max-width: 100%;}


/*- optional vanity styles ----------*/
/*
::selection {background: #c80000;}
::-moz-selection {background: #c80000;}

img::selection {background: transparent;}
img::-moz-selection {background: transparent;}

@media only screen and (max-device-width: 480px) {

	html {-webkit-text-size-adjust: none}
	a {-webkit-tap-highlight-color: rgba(200,0,0,0.4);}

}*/

/*- Paul Irish's Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ ----------*/

@font-face {
  font-family: 'Graublau Web';
  src: url('GraublauWeb.eot');
  src: local('☺'),
         url('GraublauWeb.woff') format('woff'), url('GraublauWeb.ttf') format('truetype');
}


/*- LET'S GET STARTED!
----------------------------------------------------------------------*/

html {
   overflow-y: scroll;
}

.ie-warning {
    text-align: center;
    border-bottom: 1px solid #F00;
    background-color: #FBB;
    padding: 1em;
}
td, th, caption {
    padding: 5px;
    vertical-align: top;
}

li {
    list-style: none;
}

.shadow {
	-moz-box-shadow: 0 0 8px #bbc;
	-webkit-box-shadow: 0 0 8px #bbc;
	box-shadow: 0 0 8px #bbc;
}

.sortable {
    sortable: auto;
}

a, .ui-widget-content a {
    color: #0067B1;
    text-decoration: none;
}
a:hover {
    color: #0067B1;
    text-decoration: underline;
}

a.new_link {
    color: #aaa !important;
}

body {
	color: #000;
    background-color: #ffffff;
	font: normal 12px Helvetica, Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

.no-bottom-border {
   border-bottom: 1px solid white !important;
}

#bug-report-button {
    z-index: 1002;
    cursor: pointer;
}

#shield > div {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    width: 450px;
    margin: 20px auto;
}
#bug-report-body {
    display: none;
}

#bug-report-body p {
    text-align: center;
    font-size: 1.5em;
}

.link-underline {
    text-decoration: underline;
}

#bug-report-form {
    width: 400px;
    margin: auto;
    color: #FFF;
}
#bug-report-message {
    height: 10em;
}
#bug-report-form label[for="bug-report-message"] {
    color: #888;
}

#bug-report-form input,
#bug-report-form textarea {
    border:  1px solid #0067B1;
}
#bug-report-form label {
    color: black;
}

#bug-report-message {
    width: 100%;
}

#bug-report-buttons {
    text-align: right;
}

abbr {
	cursor: help;
}

.fixed-width #main,
.fixed-width header hgroup,
.fixed-width header nav,
.fixed-width header #logged-in span{
    width: 960px;
    margin: auto;
    position: relative;
}

body:before {
    content: "";
    position: absolute;
    width: 100%;
}
header {
    font-size: 12px;
    height: 55px;
    position: relative;
    margin-bottom: 50px;
    background-color: #F1F1F1;
}
header h1 {
    position: absolute;
    z-index: 0;
    margin:  10px 0 10px;
}
header h1 a {
    display: block;
}
header h1 img {
    width: 230px;
    height: 35px;
}
header nav .header-button {
    display: block;
    float: right;
    padding:  .5em 1em;
    font-size: 16px;
    background-color: #919396;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    margin-top: 10px;
    text-decoration: none;
}
header nav a.header-button,
header nav a:visited.header-button {
    color: #ffffff;
}
header nav a:hover.header-button {
    background-color: #0468B1;
    text-decoration: none;
}
header nav ul {
    position: absolute;
    right: 0;
    top: 10px;
    float: right;
    padding-top: 3px;
    padding-bottom: 0;
    margin: 0;
    z-index: 1;
    list-style-type: none;
    font-size: 1.2em;
}
header nav li {
    padding-left: 10px;
    font-weight: normal;
    font-size: 1.2em;
    margin: 0;
    float: left;
}
header nav li:last-child {
    border-right: none;
    padding-right: 0;
}
header nav li a {
    display: block;
    padding: .3em .5em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}
header nav li a,
header nav li a:visited{
    color: #787A7D;
}
header nav li a:hover {
    text-decoration: none;
    background-color: #919396;
}
header nav li.active a,
header nav li a:hover {
    color: #ffffff;
}
header nav li.active a {
    background-color: #0468B1;
}
header #logged-in {
    width: 100%;
    padding: 0;
    background-color: #919396;
    color: #ffffff;
    position:absolute;
    bottom: -24px;
    height: 24px;
}
header #logged-in span {
    text-align: right;
    display: block;
    padding-top: 2px;
}
header #logged-in a {
    display: inline-block;
    padding: .2em .35em;
    background-color: #ffffff;
    -moz-border-radius: .35em;
    -webkit-border-radius: .35em;
    border-radius: .35em;
    font-weight: bold;
    margin-left: 1em;
    border: 1px solid #919396;
}
header #logged-in a,
header #logged-in a:visited {
    color: #787A7D;
}
header #logged-in a:hover {
    background-color: #787A7D;
    color: #ffffff;
    text-decoration: none;
    border-color: #ffffff;
}
body:after {
    content: "";
    display: block;
    width: 100%;
    z-index: 4;
    -moz-box-shadow: 0 0 8px #bbc;
	-webkit-box-shadow: 0 0 8px #bbc;
	box-shadow: 0 0 8px #bbc;
}
footer, body:after {
    background-color: white;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    height: 17px;
}
footer {
    width: 1000px;
    left: 50%;
    margin-left: -500px;
    z-index: 5;
}
#copyright {
    color: #555;
    text-align: right;
}
#help {
    color: #555;
    float: left;
}
#help > * {
    margin-right: 20px;
}

#main {
    margin-top: 40px;
    /* to prevent flicker */
    display: none;
    margin-bottom: 60px;
}
#main > div {
}

#main_container {
    border: 0;
    background-color: #fff;
    padding: 0;
}

#title-bar {
    border-left: none;
    border-right: none;
    border-top: none;
}

.container {
    padding: 1em;
}
.padded {
    padding: 1em;
}
#form-tabs {
    padding: 0 !important;
    margin-bottom: 3em;
    /* to avoid flicker!!*/
    display: none;
}
#forms {
    padding: 0;
}
#title-bar {
    padding: 1em;
}
.sidebar {
    width: 200px;
    padding: 1em;
}
.sidebar a {
    color: #222;
}
.sidebar a:hover {
    color: #0067B1;
    text-decoration: underline;
}
#modules-header {
    text-align: center;
}
.sidebar h2 {
    padding: .25em;
}
.sidebar ul li{
    padding: .25em;
    padding-left: 1.5em;
    list-style: none;
}
.sidebar > ul > li > div {
    padding: .25em;
}
.sidebar ul {
    margin-bottom: 1em;
}
.sidebar h2.selected {
    background-color: #ccc;
    border: 1px solid #bbb;
}
.sidebar div.selected {
    background-color: #ccc;
    border: 1px solid #bbb;
}
.sidebar ul.selected {
    background-color: #eee;
}
.sidebar li.selected {
    background-color: #ccc;
    border: 1px solid #bbb;
}

/* make join .sidebar and .sidebar + * horizontally */
.sidebar-wrapper {
    display: table;
    width: 100%;
}
.sidebar, .sidebar + * {
    display: table-cell;
    border-top: none;
    vertical-align: top;
}
.sidebar + * {
    border: none;
    padding: 1em;
}
.sidebar {
    border-left: none;
    border-bottom: none;
}

form table td {
    padding: .25em;
}
form table {
    margin: 1em;
}
#title-bar {
    min-height: 30px;
}

.page-title {
	text-align: center;
	font: bold 18px Helvetica, Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

#edit {
    float: right;
}
#empty {
    padding: 1em;
}
.message {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}
.message a {
    font-weight: bold !important;
    text-decoration: underline !important;
}
.warning {
    font-style: italic;
    text-indent: 1em;
    margin-left: 1em;
}

.block {
    margin: 1em;
    border: 1px solid #eaeaff;
    background-color: #fafaff;
}
table.config {
    margin: 1em;
    /*width: 100%;*/

}
table.config td, table.config, th {
    padding: 5px;
}
table.config th {
    text-align: left;
}
.sidebar + * h3{
    text-align: center;
}
.sidebar + * {
    position: relative;
}

input[type='text'], input[type='password'] {
    width: 200px;
    margin: 1px;
    padding: 2px;
}
input[type='text'].url {
    min-width: 500px;
}

input.short {
    width: 50px;
}

input[type='text'], input[type='password'], textarea {
    border: 1px solid #ccc;
    background-color: #f5f5ff;
}

input.wide {
    width: 400px;
}
.code {
    font-family: monospace !important;
}
#langs {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1em;
}
#version {
    height: 22px;
}

.drag_handle {
    width: 16px;
    cursor: move;
}

.ui-tabs {
    position: static !important;
}

/*.dropdown {*/
    /*display: block;*/
    /*background-color: white;*/
    /*border: 1px solid #ccc;*/
    /*position: absolute;*/
    /*padding: 0 1em;*/
/*}*/
/*.dropdown:hover {*/
    /*background-color: #8867B1;*/
/*}*/

.user_username {
    color: #000;
    font-weight: normal;
}

.user_domainname {
    color: #555;
    font-size: .8em;
}

th {
    color: #555;
    font-weight: normal;
}

.hidden {
    display: none;
}

/* Inline Help */
.help-text {
    border: 1px solid #eaeaff;
    background-color: #fff;
    padding: 20px !important;
    position: absolute;
    margin-top: 10px;
}
.help-text
    p {
        text-align: justify;
        margin: 5px 0 5px 0;
    }

.ui-icon {
    float: left;
}

.dialog {
    display: none;
}

.caution {
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: underline;
}

.current-datetime {
    text-decoration: underline;
    color: #000;
}

.time-notice {
    text-align: center;
    border: 1px solid #CFC;
    color: #575;
    background: #EFE;
    padding: .5em;
    width: 500px;
    margin: 1em auto;
}