.clear_hack { clear:both; }

#main { margin-top:0px;}


body {font-size:100%;font-family:"Calibri", Arial, Helvetica, sans-serif;}

#tagline {
    text-align: center;
    width: 100%;
    font-size: 140%;
    padding: 0;
    margin: 0 0 .5em 0; 
}

#subtagline {
    text-align: center;
    width: 100%;
    color: #555;
    margin: 0; 
}

.subheading {
    font-size: 120%;
    color: #0466b1;
    margin: .8em 0 0 1.2em;
}

ul.summary {
    margin: 0;
    padding: 0 0 .2em 2.4em;
}

ul.summary li {
    font-size: 80%;
    padding: .3em 0 .3em 0;
}

li {list-style-type:square;}

hr {
	clear: both;
    height: 1px;
    margin: .2em auto .2em auto; 
    width: 95%;	
}

img {
    margin: auto;
    max-height: 200px;
    max-width: 95%;
}

.col-1 img {
    margin: 1em auto auto 1em;
}

.col-3 img {
    margin: 1em 1em auto auto;
}

.col-2 img {
	margin: 1em -1em auto .8em;
}

.attention {
    font-size: 120%;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    line-height: 2em;
}

/* HT: https://github.com/ubuwaits/css3-buttons/tree/gh-pages/css */

button.try {
  background: #36518f;
  background: -moz-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #8c9cbf), color-stop(0.5, #546a9e), color-stop(0.5, #36518f), color-stop(1, #3d5691));
  border: 1px solid #172d6e;
  border-bottom: 1px solid #0e1d45;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 1px 0 0 #b1b9cb;
  -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
  box-shadow: inset 0 1px 0 0 #b1b9cb;
  color: #fff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 0 8px 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000f4d;
  width: 150px;
  float: right;
  margin: 0 1.5em 1em 1.5em; 
}

button.try:hover {
  background: #2f477d;
  background: -moz-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #7f8dad), color-stop(0.5, #4a5e8c), color-stop(0.5, #2f477d), color-stop(1, #364c80));
  cursor: pointer;
}

button.try:active {
  -moz-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 #fff;
  box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 #fff;
  cursor: pointer;
}
