
/*-  CSS "libraries"
----------------------------------------------------------------------*/
@import url("reset.css");


@import url("https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/redmond/jquery-ui.css");
/*@import url("../custom-theme/jquery-ui-1.8.5.custom.css");*/
/*@import url("../superTabs/superTabs.css");*/

/*-  Core, patch-free design
----------------------------------------------------------------------*/
@import url("core.css");

/*-  Browser-specific patches
----------------------------------------------------------------------*/
/*\*//*/
@import url("patches/mac-ie5.css");
/**/