.property-table-container {
    float: left;
    margin-right: 18px;
}

.inherit-float {
    float: inherit !important;
}

/* partially lifted from bootstrap docs */
.table-tab {
    top: -26px;
    left: 0px;
    display: inline-block;
    width: auto;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
}

.form-case-changes ul {
    list-style-type: none;
}

.form-case-changes ul li {
    margin: 0;
}

.form-case-changes > dl {
    word-wrap: break-word;
    word-break: break-all;
    float: left;
    width: 210px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 100%;
}

.form-case-changes > dl:not(:last-child) {
    margin-right: 20px;
}

.form-case-changes > dl dt {
    margin-bottom: 5px;
}

.form-case-changes > dl dd {
    margin-bottom: 20px;
}

.well-loner {
    background-color: inherit;
    border: inherit;
    box-shadow: inherit;
    padding-top: 0;
}

.well-loner dl {
    width: auto;
    max-width: 300px;
}

.case-property-table {
    table-layout: fixed;
    width: auto;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.case-property-table th:nth-child(odd) {
    text-align: right;
    width: 80px;
}

.case-property-table td:nth-child(even) {
    width: 160px;
}

.case-property-table a {
    display: block;
}

.case-property-name i{
    display: none;
}

.case-property-name:hover i{
    display: inline-block;
}

#case-properties-modal table tbody tr td{
    word-break: break-word;
}

.case-property-table tbody {
    word-wrap: break-word;
    word-break: break-word;
}
