{% extends "domain/bootstrap5/base_change_plan.html" %}
{% load crispy_forms_tags %}
{% load hq_shared_tags %}
{% load i18n %}

{% js_entry 'domain/js/confirm_billing_info' %}

{% block form_content %}
  {% initial_page_data "plan" plan %}
  {% initial_page_data "stripe_public_key" stripe_public_key %}
  {% registerurl "cards_view" domain %}

  <p class="lead text-center">
    {% blocktrans with plan.name as p%}
      You are about to subscribe to the <strong>{{ p }} Software Plan</strong>.<br/>
      Please update your billing information below before continuing.
    {% endblocktrans %}
  </p>
  <form
    autocomplete="off"
    class="form form-horizontal"
    method="post"
    x-data="requiredBillingDetails({{ is_autopay_required|BOOL }})"
  >

    <div class="card card-modern-gray card-form-only mb-3" id="billing-info">
      <div class="card-body">
        {% crispy billing_account_info_form %}
        {% if downgrade_email_note %}
          <input type="hidden" name="downgrade_email_note" value="{{ downgrade_email_note }}" />
        {% endif %}
      </div>
    </div>

    <div class="card card-modern-gray card-form-only mb-3" id="card-manager">
      <div class="card-body">
        <div
          id="manage-autopay-container"
          hx-get="{{ request.path_info }}"
          hq-hx-action="select_autopay_method"
          hx-trigger="load, refreshCards"
        >
          <div class="htmx-indicator mb-3 fs-4">
            <i class="fa-solid fa-spinner fa-spin"></i> {% trans "Loading autopay cards, please wait..." %}
          </div>
        </div>
        {% include "domain/partials/new_stripe_card_alpinejs.html" with card_container_id="manage-autopay-container" card_button_class="btn-outline-primary" %}
      </div>
    </div>

    <div class="card card-modern-gray card-form-only">
      <div class="card-body">
        <fieldset>
          <legend>{% trans "Confirmation" %}</legend>
          <div>
            <div
              class="alert alert-warning"
              x-show="showAutopayAndInfoRequiredNotice"
              x-cloak=""
            >
              <i class="fa fa-warning"></i>
              {% blocktrans %}
                Please complete the Basic Information section and select a card
                for autopay before continuing.
              {% endblocktrans %}
            </div>

            <div
              class="alert alert-warning"
              x-show="showAutopayRequiredNotice"
              x-cloak=""
            >
              <i class="fa fa-warning"></i>
              {% blocktrans %}
                Please provide an autopay card before continuing.
              {% endblocktrans %}
            </div>

            <div
              class="alert alert-warning"
              x-show="showBillingInfoRequiredNotice"
              x-cloak=""
            >
              <i class="fa fa-warning"></i>
              {% blocktrans %}
                Please complete the Basic Information section before continuing.
              {% endblocktrans %}
            </div>

            <div
              class="alert alert-info"
              x-show="showAutopayConfirmNotice"
              x-cloak=""
            >
              {% if is_annual_plan %}
                {% blocktrans %}
                  By subscribing to this <strong>annual subscription</strong>, I acknowledge that
                  the autopay card above will be charged on a monthly basis for any on-demand fees (excess users, SMS).
                {% endblocktrans %}
                <p class="mt-2 mb-0">
                  {% blocktrans %}
                    A separate annual invoice for the product cost will be generated and sent to the contact emails above.
                    This invoice must be paid within {{ days_date_due_annual }} days or the subscription will be paused.
                    The selected autopay card will not be automatically charged to pay this invoice&mdash;it must be paid directly.
                  {% endblocktrans %}
                </p>
              {% else %}
                {% blocktrans %}
                  By subscribing to this monthly subscription, I acknowledge that my autopay card will be charged on a monthly basis.
                {% endblocktrans %}
              {% endif %}
            </div>

            {% if is_annual_plan %}
              <div
                class="alert alert-info"
                x-show="showAnnualConfirmNotice"
                x-cloak=""
              >
                {% blocktrans %}
                   By subscribing to this <strong>annual subscription</strong>, I acknowledge that I understand an
                   annual invoice for the product cost will be generated and sent to the contact emails above.
                   This invoice must be paid within {{ days_date_due_annual }} days or the subscription will be paused.
                {% endblocktrans %}
                <p class="mt-2 mb-0">
                  {% blocktrans %}
                    I also acknowledge that by not selecting an autopay card, I must manually pay for any on-demand fees
                    (excess users, SMS) on a monthly basis or the subscription will be paused.
                  {% endblocktrans %}
                </p>
              </div>
            {% endif %}

          </div>

          <div class="px-2 pt-2">
            <a href="{{ cancel_url }}" class="btn btn-outline-primary">
              {% trans "Cancel" %}
            </a>
            <button
              type="submit"
              class="btn btn-primary"
              :disabled="isSubmitDisabled"
            >
              {% trans "Subscribe to Plan" %}
            </button>
          </div>
        </fieldset>
      </div>
    </div>

  </form>
{% endblock form_content %}
