{% extends "domain/bootstrap5/base_change_plan.html" %}
{% load crispy_forms_tags %}
{% load hq_shared_tags %}
{% load i18n %}

{% js_entry 'domain/js/confirm_billing_info' %}

{% block form_content %}
  {% initial_page_data "plan" plan %}
  {% initial_page_data "stripe_public_key" stripe_public_key %}
  {% registerurl "cards_view" domain %}

  <p class="lead text-center">
    {% blocktrans with plan.name as p%}
      You are about to subscribe to the <strong>{{ p }} Software Plan</strong>.<br/>
      Please update your billing information below before continuing.
    {% endblocktrans %}
  </p>
  <form autocomplete="off" class="form form-horizontal" method="post">

    <div class="card card-modern-gray card-form-only mb-3" id="billing-info">
      <div class="card-body">
        {% crispy billing_account_info_form %}
        {% if downgrade_email_note %}
          <input type="hidden" name="downgrade_email_note" value="{{ downgrade_email_note }}" />
        {% endif %}
      </div>
    </div>

    <div class="card card-modern-gray card-form-only mb-3" id="card-manager">
      <div class="card-body">
        <div
          id="manage-autopay-container"
          hx-get="{{ request.path_info }}"
          hq-hx-action="select_autopay_method"
          hx-trigger="load, refreshCards"
        >
          <div class="htmx-indicator mb-3 fs-4">
            <i class="fa-solid fa-spinner fa-spin"></i> {% trans "Loading autopay cards, please wait..." %}
          </div>
        </div>
        {% include "domain/partials/new_stripe_card_alpinejs.html" with card_container_id="manage-autopay-container" card_button_class="btn-outline-primary" %}
      </div>
    </div>

    <div class="card card-modern-gray card-form-only">
      <div class="card-body">
        <fieldset>
          <legend>{% trans "Confirmation" %}</legend>
          <div class="px-2 pt-3">
            <a href="{{ cancel_url }}" class="btn btn-outline-primary">
              {% trans "Cancel" %}
            </a>
            <button type="submit" class="btn btn-primary">
              {% trans "Subscribe to Plan" %}
            </button>
          </div>
        </fieldset>
      </div>
    </div>

  </form>
{% endblock form_content %}
