{% extends "settings/base_template.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block main_column %}
<form action="" method="post" class="form form-horizontal">
    <p class="lead">
        {% blocktrans %}
        Yes, add me as an Admin for this Project's Billing Account.
        {% endblocktrans %}
    </p>
    <ul>
        <li>
            {% blocktrans %}
            You will be able to make payments via credit card to add credits
            or pay for statements on behalf of this account.
            {% endblocktrans %}
        </li>
        <li>
            {% url 'domain_update_billing_info' domain as billing_info_url %}
            {% blocktrans %}
            You will show up in the list of Billing Admins in the
            <a href="{{ billing_info_url }}">
                Billing Contact Info
            </a>
            page, which will be viewable by other billing admins of this account.
            {% endblocktrans %}
        </li>
    </ul>
    <form class="form-actions">
        <button type="submit" class="btn btn-primary">
            {% trans 'Join as Billing Admin for project' %} {{ domain }}
        </button>
    </form>
</form>
{% endblock %}
