{% extends "reports/base_template.html" %}
{% load hq_shared_tags %}
{% load compress %}
{% load i18n %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}"
/>{% endblock stylesheets %}

{% compress js %}
{% block js %}{{ block.super }}
<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror/mode/xml/xml.js' %}"></script>
<script src="{% static 'codemirror/mode/javascript/javascript.js' %}"></script>
{% endblock js %}
{% endcompress %}

{% block js-inline %}{{ block.super }}
<script>
    $(document).ready(function() {
        var codeMirror = null;
        $('#view-record-payload-modal').on('shown.bs.modal', function(event) {
            var recordData = $(event.relatedTarget).data(),
                $modal = $(this);

            $.get("{% url 'repeat_record' domain %}", { record_id: recordData.recordId })
                .success(function(data) {
                    var $payload = $modal.find('.payload'),
                        contentType = data.content_type,
                        mode = 'xml';

                    if (contentType === 'text/xml') {
                        mode = 'xml';
                    } else if (contentType === 'application/json') {
                        mode = { name: 'javascript', json: true };
                    }

                    if (codeMirror === null) {
                        codeMirror = CodeMirror($payload[0], {
                            value: data.payload,
                            mode: mode,
                            readOnly: true,
                            lineNumbers: true,
                            lineWrapping: true
                        });
                        codeMirror.refresh();
                    } else {
                        codeMirror.setValue(data.payload);
                    }

                })
                .fail(function(data) {
                    var defaultText = gettext('Failed to fetch payload'),
                        errorMessage = data.responseJSON ? data.responseJSON.error : null;

                    $modal.find('.modal-body').text(errorMessage || defaultText)
                });
        });

        $('#view-record-payload-modal').on('hide.bs.modal', function(event) {
            if (codeMirror) {
                codeMirror.setValue('');
            }
        });

        $('#report-content').on('click', '.resend-record-payload', function() {
              var $btn = $(this),
                  recordId = $btn.data().recordId;
              $btn.disableButton();

              $.post("{% url 'repeat_record' domain %}", { record_id: recordId })
                  .success(function(data) {
                      $btn.removeSpinnerFromButton();
                      if (data.success) {
                          $btn.text(gettext('Success!'));
                          $btn.addClass('btn-success');
                      } else {
                          $btn.text(gettext('Failed'));
                          $btn.addClass('btn-danger');
                          $('#payload-error-modal').modal('show');
                          $('#payload-error-modal .error-message').text(data.failure_reason);
                      }

                  })
                  .fail(function(data) {
                      $btn.removeSpinnerFromButton();
                      $btn.text(gettext('Failed to send'));
                      $btn.addClass('btn-danger');
                  });
          });
    });
</script>
{% endblock js-inline %} {% block modals %}{{ block.super }}
<!-- View Repeat Record Modal -->
<div class="modal fade" id="view-record-payload-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{% trans "Payload" %}</h4>
            </div>
            <div class="modal-body">
                <div class="payload"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  {% trans "Close" %}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for repeat resend errors -->
<div class="modal fade" id="payload-error-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{% trans "Payload Error" %}</h4>
            </div>
            <div class="modal-body">
                <div class="error-message"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  {% trans "Close" %}
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock modals %}
