{% extends "domain/base_change_plan.html" %}
{% load hq_shared_tags %}
{% load i18n %}
{% load menu_tags %}

{% requirejs_main 'accounting/js/pricing_table' %}

{% block form_content %}
  {% initial_page_data 'editions' editions %}
  {% initial_page_data 'planOptions' plan_options %}
  {% initial_page_data 'currentPlan' current_edition %}
  {% initial_page_data 'is_renewal' is_renewal %}
  {% initial_page_data 'start_date_after_minimum_subscription' start_date_after_minimum_subscription %}
  {% initial_page_data 'subscription_below_minimum' subscription_below_minimum %}
  {% initial_page_data 'next_subscription_edition' next_subscription_edition %}
  {% initial_page_data 'invoicing_contact_email' INVOICING_CONTACT_EMAIL %}
  {% initial_page_data 'current_price' current_price %}
  {% initial_page_data 'is_price_discounted' is_price_discounted %}
  {% registerurl 'email_on_downgrade' domain %}

  <p class="lead text-center">
    {{ lead_text }}
    <a href="{% prelogin_url 'public_pricing' %}" target="_blank">
      {% trans "Learn More" %}
    </a>
  </p>

  <section id="plans" class="ko-template">

    <p class="switch-label text-center">
      {% trans "Pay Monthly" %}
      <label class="switch">
        <input type="checkbox" id="pricing-toggle" data-bind="{checked: oShowAnnualPricing}">
        <span class="slider round slider-blue slider-blue-on"></span>
      </label>
      {% trans "Pay Annually" %}
    </p>

    <p class="text-center">
      {% blocktrans %}
        Save close to 20% when you pay annually.
      {% endblocktrans %}
    </p>

    <p class="refund-text text-center"
       data-bind="css: oRefundCss">
      <i class="fa fa-check"></i>
      <a href="https://dimagi.com/terms/latest/tos/"
         class="check-icon blue">
        {% trans '90 day refund policy' %}
      </a>
    </p>

    <div class="select-plan-row">
      <!-- ko foreach: oPlanOptions -->
      <div class="select-plan-col">
        <a href="#"
           class="tile"
           data-bind="css: oCssClass, click: selectPlan">
          <h3 data-bind="text: oName"></h3>
          <p class="pricing-type"
             data-bind="text: oPricingTypeText, css: oPricingTypeCssClass"></p>

          <p class="plan-price" data-bind="text: oDisplayPrice"></p>
          <p class="plan-monthly-label">
            {% trans "monthly" %}
            <span data-bind="visible: oDisplayDiscountNotice">({% trans 'discounted' %})</span>
          </p>
          <p class="plan-desc" data-bind="text: oDescription"></p>

          <p class="plan-downgrade-notice text-warning"
             data-bind="visible: oShowDowngradeNotice">
            <i class="fa fa-warning"></i>
            {% blocktrans %}
              This plan will be downgrading to
              <span data-bind="text: oNextPlan"></span> on
              <span data-bind="text: oNextDate"></span>.
            {% endblocktrans %}
          </p>

          <p class="plan-downgrade-notice text-warning"
             data-bind="visible: oShowPausedNotice">
            <i class="fa fa-warning"></i>
            {% blocktrans %}
              This plan will be pausing on<br />
              <span data-bind="text: oNextDate"></span>.
            {% endblocktrans %}
          </p>

          <div class="btn btn-current"
               data-bind="visible: oIsCurrentPlan">
            {% trans "Current Plan" %}
          </div>

          <div class="btn btn-select"
               data-bind="visible: !oIsCurrentPlan()">
            {% trans "Select Plan" %}
          </div>
        </a>
      </div>
      <!-- /ko -->
    </div>

    <div data-bind="visible: !oIsCurrentPlanCommunity() && !oIsNextPlanPaused() && !oIsCurrentPlanPaused()">
      <a href="#"
         class="tile tile-paused"
         data-bind="click: selectPausedPlan, css: oPausedCss">
        <h4 class="text-center">
          {% blocktrans %}
            Pause Subscription
          {% endblocktrans %}
        </h4>
        <p>
          {% blocktrans %}
            What happens after you pause?
          {% endblocktrans %}
        </p>
        <ul>
          <li>
            {% blocktrans %}
              You will lose access to your project space, but you will be
              able to re-subscribe anytime in the future.
            {% endblocktrans %}
          </li>
          <li>
            {% blocktrans %}
              You will no longer be billed.
            {% endblocktrans %}
          </li>
        </ul>
      </a>
    </div>

    <div class="alert {% if can_domain_unpause %}alert-info{% else %}alert-danger{% endif %} text-center"
         data-bind="visible: oIsCurrentPlanPaused">
      <p class="lead">
        {% if can_domain_unpause %}
          <i class="fa-regular fa-circle-pause"></i>
          {% blocktrans %}
            Your subscription is currently paused.
          {% endblocktrans %}
        {% else %}
          {% url 'domain_billing_statements' domain as url_statements %}
          <i class="fa fa-warning"></i>
          {% blocktrans %}
            Your subscription is currently paused because you have
            <a href="{{ url_statements }}">past-due invoices</a>.
          {% endblocktrans %}
            <br />
          {% blocktrans %}
            You will not be allowed to un-pause your project until
            these invoices are paid.
          {% endblocktrans %}
        {% endif %}
      </p>
    </div>

    <div class="alert alert-warning text-center"
         data-bind="visible: oIsNextPlanPaused">
      <i class="fa fa-warning"></i>
      {% blocktrans %}
        Your subscription will be pausing on
        <span data-bind="text: oStartDateAfterMinimumSubscription"></span> unless
        you select a different plan above.
      {% endblocktrans %}
    </div>

    <div class="alert alert-warning text-center"
         style="margin-top: 20px;"
         data-bind="visible: oIsNextPlanDowngrade">
      <i class="fa fa-warning"></i>
      {% blocktrans %}
        Your subscription will be downgrading to
        <span data-bind="text: oNextSubscription"></span> on
        <span data-bind="text: oStartDateAfterMinimumSubscription"></span> unless
        you select a different plan above.
      {% endblocktrans %}
    </div>

    <div class="community-plan-notice alert alert-info text-center"
         data-bind="visible: oIsCurrentPlanCommunity">
      <p class="lead">
        {% blocktrans %}
          You are currently on the FREE CommCare Community plan.
        {% endblocktrans %}
      </p>
    </div>

    <form
      {% if is_renewal %}
        action="{% url 'domain_subscription_renewal_confirmation' domain %}"
      {% else %}
        action="{% url 'confirm_selected_plan' domain %}"
      {% endif %}
        class="form"
        id="select-plan-form"
        method="post"
        data-bind="visible: oShowNext"
        style="display: none;"
        action="{% url 'confirm_selected_plan' domain %}">
      {% csrf_token %}
      {% if is_renewal %}
        <input type="hidden" name="from_plan_page" value="true">
      {% endif %}

      {% if can_domain_unpause %}
        <input type="hidden" name="plan_edition" data-bind="value: oSelectedPlan">
        <div class="text-center plan-next">
          <button type="submit"
                  class="btn btn-primary btn-lg"
                  data-bind="click: openMinimumSubscriptionModal, disable: oIsSubmitDisabled">
            {% trans 'Next' %}
          </button>
        </div>
      {% else %}
        <div class="text-center plan-next">
          <button type="button"
                  class="btn btn-primary btn-lg"
                  disabled="disabled">
            {% trans 'Next' %}
          </button>
        </div>
      {% endif %}
    </form>

    <form action="{% url 'annual_plan_request_quote' domain %}"
          data-bind="visible: !oShowNext()">
      {% csrf_token %}
      <input type="hidden" name="plan_edition" data-bind="value: oSelectedPlan">
      <div class="text-center plan-next">
        <button class="btn btn-primary btn-lg" data-bind="click: contactSales">
          {% trans 'Talk to Sales' %}
        </button>
      </div>
    </form>

  </section>
{% endblock %}

{% block modals %}{{ block.super }}
  <div class="modal fade" id="modal-minimum-subscription">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">{% trans "Close" %}</span>
          </button>
          <h4 class="modal-title">Downgrading?</h4>
        </div>
        <div class="modal-body">
          <br><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Dismiss" %}</button>
          <button type="button" class="btn btn-danger" data-bind="click: submitDowngradeForm">{% trans "Continue" %}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
