{% extends "settings/base_template.html" %}
{% load crispy_forms_tags %}
{% load hq_shared_tags %}
{% load i18n %}

{% block js %}{{ block.super }}
    <script src="{% static 'accounting/js/accounting.billing_info_handler.js' %}"></script>
    <script src="https://js.stripe.com/v2/"></script>
    <script
            src="{% static 'accounting/js/accounting.stripe_card_manager.js' %}"></script>
{% endblock %}

{% block js-inline %}{{ block.super }}
    <script>
        hqImport('accounting/js/accounting.billing_info_handler.js').initBillingContactInfoHandler();
    </script>
    <script>
     Stripe.setPublishableKey('{{ stripe_public_key }}');
     var cardManager = new StripeCardManager({
         cards: {{ cards|JSON }},
         url: '{{ card_base_url }}',
     });
     $("#card-manager").koApplyBindings(cardManager);

     $("#show_emails").click(function() {
        $('#emails-text').show();
        $(this).parent().hide();
     });

    </script>
{% endblock %}

{% block page_content %}
    <div id="billing-info">
        {% crispy billing_account_info_form %}
    </div>
    <div id="card-manager">
        {% include 'domain/stripe_cards.html' %}
    </div>
{% endblock %}
