{% extends "settings/bootstrap2/base_template.html" %}
{% load crispy_forms_tags %}
{% load hq_shared_tags %}
{% load i18n %}

{% block js %}{{ block.super }}
    <script src="{% static 'select2-3.4.5-legacy/select2.min.js' %}"></script>
    <script src="{% static 'style/ko/knockout_bindings.ko.js' %}"></script>
    <script src="{% static 'style/lib/knockout_plugins/knockout_mapping.ko.min.js' %}"></script>
    <script src="{% static 'accounting/js/accounting.billing_info_handler.js' %}"></script>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript"
            src="{% static 'accounting/ko/accounting.stripe_card_manager.js' %}"></script>
{% endblock %}

{% block head %}{{ block.super }}
    <link href="{% static 'select2-3.4.5-legacy/select2.css' %}" rel="stylesheet"/>
{% endblock %}

{% block js-inline %}{{ block.super }}
    <script>
        var billingInfoHandler = new BillingContactInfoHandler(
            "{% trans "Please enter a valid email." %}"
        );
        billingInfoHandler.init();
    </script>
    <script type="text/javascript">
     Stripe.setPublishableKey('{{ stripe_public_key }}');
     var cardManager = new StripeCardManager({
         cards: {{ cards|JSON }},
         url: '{{ card_base_url }}',
     });
     $("#card-manager").koApplyBindings(cardManager);
    </script>
{% endblock %}

{% block main_column %}
    <div id="billing-info">
        {% crispy billing_account_info_form %}
    </div>
    <div id="card-manager">
        {% include 'domain/stripe_cards.html' %}
    </div>
{% endblock %}
