{% load menu_tags %}
{% load compress %}
{% load hq_shared_tags %}
{% load i18n %}

<div class="selected-filters">
    <div class="selected-filters-block">
        <i class="fa fa-2x fa-calendar selected-filters-icon"></i>
        <div class="selected-box">
            <span data-bind="text: postData.selectedYear"></span>
        </div>
        <div class="selected-box">
            <span data-bind="text: reachUtils.monthName(postData.selectedMonth())"></span>
        </div>
        <div class='vertical-line' data-bind="visible: postData.selectedBeneficiaryType() !== null">
            <i class="fa fa-2x fa-smile-o selected-filters-icon"></i>
            <div class="selected-box">
                <span data-bind="text: reachUtils.toTitleCase(postData.selectedBeneficiaryType())"></span>
                <button data-bind="click: function() { localStorage.showModal(true); filters['beneficiary-type-filter'].resetFilters(); }" type="button" class="close">&times;</button>
            </div>
        </div>
    </div>
    <div class="selected-filters-block">
        <i class="fa fa-2x fa-map-marker selected-filters-icon"></i>
        <!-- ko foreach: {data: localStorage.locationHierarchy, as: 'location'} -->
            <div class="selected-box" data-bind="css: { hide: location.hideName() }">
                <span data-bind="text: location.locationName"></span>
                <button data-bind="css: { hide: location.isDisabled() }, click: function() { location.setDefaultOption(); }" type="button" class="close">&times;</button>
            </div>
        <!-- /ko -->
    </div>
</div>