{% extends 'hqwebapp/two_column.html' %}
{% block main_column %}
<h2>Global stats</h2>
<table class="table table-striped">
    <thead>
        <tr role="row">
            <th>Object</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        <tr role="row">
            <td>Entities that report stock</td>
            <td>{{ entities_reported_stock }}</td>
        </tr>
        {% for location_type in location_types %}
            <tr role='row'>
                <td>{{ location_type.location_type__name }}</td>
                <td>{{ location_type.location_type__count }}</td>
            </tr>
        {% endfor %}
        <tr role='row'>
            <td>Contacts</td>
            <td>{{ contacts }}</td>
        </tr>
        <tr role='row'>
            <td>Web Users</td>
            <td>{{ web_users }}</td>
        </tr>
        <tr role='row'>
            <td>Admin web users</td>
            <td>{{ web_users_admins }}</td>
        </tr>
        <tr role='row'>
            <td>Read only web users</td>
            <td>{{ web_users_read_only }}</td>
        </tr>
        <tr role='row'>
            <td>Products</td>
            <td>{{ products }}</td>
        </tr>
        <tr role='row'>
            <td>Product stocks</td>
            <td>{{ product_stocks }}</td>
        </tr>
        <tr role='row'>
            <td>Stock transactions</td>
            <td>{{ stock_transactions }}</td>
        </tr>
        <tr role='row'>
            <td>Inbound messages</td>
            <td>{{ inbound_messages }}</td>
        </tr>
        <tr role='row'>
            <td>Outbound messages</td>
            <td>{{ outbound_messages }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
