{% extends "reports/async/tabular.html" %}
{% load hq_shared_tags %}
{% load report_tags %}
{% load i18n %}

{% block js %}{{ block.super }}
    <script src="{% static 'ewsghana/report_links.js' %}"></script>
{% endblock %}

{% block reportcontent %}
    {% if report.slug|safe == 'stock_summary_report' or report.slug|safe == 'cms_rms_summary_report' %}
        <h2 style="background-color: black; color: white">{{ title }}</h2>
    {% endif %}
    {% if subtitle %}
        {{ subtitle }}
    {% endif %}
{% block pretable %}
    {% if not report.needs_filters %}
        {% if rendered_as == 'print' %}
        <div class="row">
            <div class="span10">{% now "d M Y" %}</div>
        </div>
        <div class="row">
            <div class="span10">
                <h3 class="media-heading">{{ title }}<br/></h3>
            </div>
        </div>
        {% endif %}
    {% endif %}
    {% if charts %}
        <div class="row">
            {% for chart in charts %}
            <div id='chart_{{ report.slug }}_{{ forloop.counter }}' class="span{{ chart_span }} hide">
                {% if chart.title %}<h4 style="text-align: center;">{{ chart.title }}</h4>{% endif %}
                <svg style='height: {{ chart.height }}px'> </svg>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block reporttable %}
{% if report.needs_filters %}
    {% include 'reports/standard/partials/description.html' %}
{% else %}
    <style>
        .nvd3.nv-pie path {
            stroke-width: 0px !important;
            stroke-opacity: 0 !important;
        }

        {% if rendered_as == "email" %}
            td {
                border: 1px solid black;
            }
        {% elif rendered_as != 'print' %}
            .firstreport, .inventory_chart {
                width: 68%;
                float: left;
            }
            .fpr_tables {
                width: 100%;
                display: inline-block;
            }

            .other_reports, .selection_pane {
                width: 30%;
                margin-bottom: 20px;
                float: right;
            }

            #report_table_legend {
                margin-top: -20px;
            }
        {% endif %}
        {% if report.slug == "reporting_page" and rendered_as != 'print' %}
            .report:nth-of-type(2), .report:nth-of-type(3), .report:last-of-type, .report:nth-last-of-type(2) {
                display: inline-table !important;
                width: 48% !important;
            }
            .row, table {
                width: 100%;
            }
            .report:first-of-type tbody {
                max-height: 300px;
                overflow-y: auto;
                overflow-x: hidden;
                display: inline-block;
                width: 100%;
            }
            .report:first-of-type tr {
                width: 100%;
                display: inline-table;
            }
        {% elif report.slug == "stock_status" and rendered_as != 'print'%}
            .product-selection-pane {
                float: right !important;
                width: 30%;
            }
            .report:nth-of-type(n+2) {
                float: left !important;
                width: 68%;
            }
        {% elif report.slug == "dashboard_report"%}
            .report:nth-of-type(n+2) {
                float: left;
                width: 50%;
            }
        {% endif %}

        #report_table_product_selection_pane tr {
            width: 50%;
            display: inline-block;
            font-size: 10px;
        }

        #report_table_product_selection_pane tr.program {
            width: 60%;
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
        }
        #report_table_product_selection_pane tr.program td {
            border: 0;
        }

        #report_table_product_selection_pane tr:last-child {
            width: 100%;
        }

        #report_table_product_selection_pane td {
            padding: 0;
        }
    </style>
    {% for thisreport in reports %}
        {% if thisreport.rendered_content %}
            {{ thisreport.rendered_content }}
        {% elif split %}
            {% if forloop.counter == 1 %}
                <div class="fpr_tables">
                    <div class="firstreport">
                        <h4 class="media-heading">{{ thisreport.report_table.title }}<br/><small>{{ subtitle1 }}</small><br/><small>{{ subtitle2 }}</small></h4>
                        {% include 'ewsghana/partials/report_table.html' with report_table=thisreport.report_table charts=thisreport.charts chart_span=thisreport.chart_span show_table=thisreport.show_table%}
                        <br/>
                    </div>
                    <div class="other_reports">
            {% elif forloop.revcounter == 2 %}
                    </div>
                </div>
                <div class="inventory_chart">
                    <h4 class="media-heading">{{ thisreport.report_table.title }}<br/><small>{{ subtitle1 }}</small><br/><small>{{ subtitle2 }}</small></h4>
                    {% if thisreport.report_table.slug == 'inventory_management' %}
                        <div class="row" style="margin: 0 !important">
                            <form>
                                <div style="display: inline-block">
                                    <input type="text" id="inventory_filter" class="date-range-picker" value="{{ datespan.enddate|add_days:-30|date:'Y-m-d' }} to {{ datespan.enddate|date:'Y-m-d' }}" />
                                    <button style="margin-bottom: 9px;" id="inventory_filter_btn" class="filters btn">Apply</button>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    {% include 'ewsghana/partials/report_table.html' with report_table=thisreport.report_table charts=thisreport.charts chart_span=thisreport.chart_span show_table=thisreport.show_table%}
                    <br/>
                </div>
            {% elif  forloop.last%}
                <div class="selection_pane">
                    <h4 class="media-heading">{{ thisreport.report_table.title }}<br/><small>{{ subtitle1 }}</small><br/><small>{{ subtitle2 }}</small></h4>
                    {% include 'ewsghana/partials/report_table.html' with report_table=thisreport.report_table charts=thisreport.charts chart_span=thisreport.chart_span show_table=thisreport.show_table%}
                </div>
            {% else %}
                <h4 class="media-heading">{{ thisreport.report_table.title }}<br/><small>{{ subtitle1 }}</small><br/><small>{{ subtitle2 }}</small></h4>
                {% include 'ewsghana/partials/report_table.html' with report_table=thisreport.report_table charts=thisreport.charts chart_span=thisreport.chart_span show_table=thisreport.show_table%}
                <br/>
            {% endif %}
        {% else %}
            <span class="report">
                {% if thisreport.report_table.slug == 'mos_product' %}
                    <div style="font-size: 14px; margin-bottom: 10px;">
                        For any facility which has not reported stock on a product within the set date range,
                        that product's MOS value will appear blank in the Current MOS by Product
                        table and will have that product listed under "No stock data" in the Product Availability graph.
                    </div>
                {% endif %}
                <h4 class="media-heading">{{ thisreport.report_table.title }}<br/><small>{{ subtitle1 }}</small><br/><small>{{ subtitle2 }}</small></h4>
                {% if thisreport.report_table.slug == 'stockouts_product' %}
                    <div class="row" style="margin: 0 !important">
                        <form>
                            <div style="display: inline-block">
                                <input type="text" id="stockouts_filter" class="date-range-picker" value="{{ datespan.enddate|add_days:-90|date:'Y-m-d' }} to {{ datespan.enddate|date:'Y-m-d' }}" />
                                <button style="margin-bottom: 9px;" id="stockouts_filter_btn" class="filters btn">Apply</button>
                            </div>
                        </form>
                    </div>
                {% endif %}
                {% include 'ewsghana/partials/report_table.html' with report_table=thisreport.report_table charts=thisreport.charts chart_span=thisreport.chart_span show_table=thisreport.show_table%}
            </span>
        {% endif %}
    {% endfor %}

{% endif %}
{% endblock %}
{% block posttable %}{% endblock %}
{% endblock %}

{% block js-inline %}
    {% for thisreport in reports %}
        {% for chart in thisreport.charts %}
            {% with id1=forloop.counter|stringformat:"s" id2=forloop.parentloop.counter|stringformat:"s" slug=report.slug %}
                {% include chart.template_partial with chart=chart chart_id='chart_'|add:slug|add:'_'|add:id2|add:id1 %}
            {% endwith %}
        {% endfor %}
    {% endfor %}

    <script>
        var report_filters = {{ r_filters | JSON }};
        var fpr_filters = {{ fpr_filters | JSON }};

        function toggleFilters(array, is_visible) {
            $.each( array, function( index, value ) {
                if(is_visible) $('#fieldset_' + value).show();
                else $('#fieldset_' + value).hide();
            });
        }

        function show_hide_filters() {
            setTimeout(function() {
                var selected = $('#group_location_async select:last-child option:selected').text();
                if (selected === 'All') {
                    toggleFilters(fpr_filters, false);
                    toggleFilters(report_filters, true);
                } else {
                    toggleFilters(report_filters, false);
                    toggleFilters(fpr_filters, true);
                }
            }, 100);
        }

        $('body').on('change', function(){
            show_hide_filters();
        });

        $('#apply-filters').on('click', function() {
           multibar_chart_data = undefined;
           line_chart_data = undefined;
        });

        show_hide_filters();
        $('tr:has(div.program)').addClass('program').attr('align', 'center');
    </script>
    <script>
        var report_slug = "{{ report.slug | safe }}";
        if ( report_slug === 'stock_summary_report' || report_slug === 'cms_rms_summary_report') {
            $('.dataTables_filter').remove();
        }
    </script>
    <script>
        function updateExportButton() {
            var button = $("#export-report-excel");
            if ({{ split|yesno:"true,false" }}) {
                button.text("Export Table to Excel");
                button.css('display', 'inline-block');
            } else if ({{ exportable|yesno:"true,false" }}){
                button.text("Export Table(s) to Excel");
                button.css('display', 'inline-block');
            } else {
                button.css('display', 'None');
            }
        }

        function updateEmailButton() {
            var email_button = $("#email-report");
            if ({{ emailable|yesno:"true,false" }}){
                email_button.css('display', 'inline-block');
            } else {
                email_button.css('display', 'None');
            }
        }
        $("#apply-filters").on('click', function(){
            updateExportButton();
            updateEmailButton();
        });
        updateExportButton();
        updateEmailButton();
        $(".dataTables_filter").css('display', 'none');

        $('.row div').append(
            '<div class="desc" style="width: 100%; text-align: center; margin-top: -1cm; margin-bottom: 1cm"></div>'
        );
    </script>
    <script>
        var slugs = {{ slugs | JSON }};
        add_report_links(slugs);
    </script>
{% endblock %}
