.show-focus {
  &:hover, &:focus {
    box-shadow: 0px 0px 5px rgba(.5, .5, .5, .5);
  }
}

.registry-inlines {
  .read-write {
    .form-group {
        margin-left: 8px;
    }
  }
}

.registry-form-container {
  margin-top: 8px;
  margin-left: 8px;
}
