{% load i18n %}
{% load hq_shared_tags %}
<tr>
    <td>{{ repeater.name }}
        {% if repeater.white_listed_case_types %}
            <br/>Case Type: {{ repeater.white_listed_case_types|join:", " }}
        {% endif %}
    </td>
    <td>
        <a href="{% url 'domain_report_dispatcher' domain report %}?repeater={{ repeater.repeater_id }}&amp;record_state=PENDING">
            {{ state_counts[repeater.id][State.Pending] }}
        </a>
    </td>
    <td>
        <a href="{% url 'domain_report_dispatcher' domain report %}?repeater={{ repeater.repeater_id }}&amp;record_state=FAIL">
            {{ state_counts[repeater.id][State.Fail] }}
        </a>
    </td>
    <td>
        <a href="{% url 'domain_report_dispatcher' domain report %}?repeater={{ repeater.repeater_id }}&amp;record_state=CANCELLED">
            {{ state_counts[repeater.id][State.Cancelled] }}
        </a>
    </td>
    <td>
        <a href="{% url 'domain_report_dispatcher' domain report %}?repeater={{ repeater.repeater_id }}&amp;record_state=SUCCESS">
            {{ state_counts[repeater.id][State.Success] }}
        </a>
    </td>
    <td>
        <a class="btn btn-default" href="{% url 'edit_repeater' domain repeater.form_class_name repeater.repeater_id %}">
        {% trans "Edit"%}
        </a>
        <a
            class="btn btn-default"
            href="
            {% url 'domain_report_dispatcher' domain report %}?repeater={{ repeater.repeater_id }}"
            >
            {% trans "View records" %}
        </a>
        {% if repeater.is_paused %}
        <a class="btn btn-default" href="#resume_forwarding_{{ repeater.repeater_id }}" data-toggle="modal"><i
                class="fa fa-toggle-right"></i> {% trans "Resume" %}</a>

        <div class="modal fade" id="resume_forwarding_{{ repeater.repeater_id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{% trans "Resume Forwarding" %}</h4>
                    </div>
                    <form name="resume_repeater" action="{% url 'resume_repeater' domain repeater.repeater_id %}"
                          method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p>
                                {% blocktrans with repeater.name as name %}
                                    Are you sure you want to resume forwarding to: "{{ name }}" ?
                                    <br/>
                                    All records enqueued for this forwarder with be triggered
                                    once forwarding is resumed.
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" data-dismiss="modal" class="btn btn-default">{% trans 'Cancel' %}</a>
                            <button type="submit" class="btn btn-default"><i
                                    class="fa fa-toggle-right"></i> {% trans 'Resume Forwarding' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <a class="btn btn-default" href="#pause_forwarding_{{ repeater.repeater_id }}" data-toggle="modal"><i
                class="fa fa-pause"></i> {% trans "Pause" %}</a>

        <div class="modal fade" id="pause_forwarding_{{ repeater.repeater_id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{% trans "Pause Forwarding" %}</h4>
                    </div>
                    <form name="pause_repeater" action="{% url 'pause_repeater' domain repeater.repeater_id %}"
                          method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p>
                                {% blocktrans with repeater.name as name %}
                                    Are you sure you want to pause forwarding to: "{{ name }}" ?
                                    <br/>
                                    Please note that new records would get enqueued but would get triggered
                                    only when forwarding is resumed.
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" data-dismiss="modal" class="btn btn-default">{% trans 'Cancel' %}</a>
                            <button type="submit" class="btn btn-default"><i
                                    class="fa fa-pause"></i> {% trans 'Pause Forwarding' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% if type_info.has_config and user_can_configure %}
        <a class="btn btn-default" href="{% url 'config_repeater' domain type_info.class_name repeater.repeater_id %}">
            {% trans "Configure" %}
        </a>
        {% endif %}
        <a class="btn btn-danger" href="#delete_{{ repeater.repeater_id }}" data-toggle="modal"><i
                class="fa fa-remove"></i> {% trans "Delete" %}</a>

        <div class="modal fade" id="delete_{{ repeater.repeater_id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{% trans "Delete Configuration" %}</h4>
                    </div>
                    <form name="drop_repeater" action="{% url 'drop_repeater' domain repeater.repeater_id %}"
                          method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p>
                                {% blocktrans with repeater.name as name %}
                                    Are you sure you want to delete the configuration for: {{ name }} ?
                                    <br/><br />
                                    Historical data forwarding records will not be deleted, but no new records will be
                                    forwarded, and this configuration will no longer appear on this page.
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" data-dismiss="modal" class="btn btn-default">{% trans 'Cancel' %}</a>
                            <button type="submit" class="btn btn-danger"><i
                                    class="fa fa-remove"></i> {% trans 'Delete' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </td>
</tr>
