.col-xs-pull-right {
  @media (max-width: @screen-xs-max) {
    float: right;
    clear: right;
  }
}

.col-xs-pull-left {
  @media (max-width: @screen-xs-max) {
    float: left;
    clear: left;
  }
}

.row-padded-sm {
  @media (min-width: @screen-sm-min) {
    margin-bottom: 20px;
  }
}

.row-padded-md {
  @media (min-width: @screen-md-min) {
    margin-bottom: 20px;
  }
}
