.section {
  width: 100%;
  padding: @grid-gutter-width 0;
}

.section-lead {
  height: 550px;
}

.section-default {
  background-color: #ffffff;
}

.section-primary {
  background-color: @cc-brand-mid;
  h1, p {
    color: #ffffff;
  }
}
