@keyframes attention-wiggle {
  0% { transform: rotate(0deg) translate(0, 0px); }
  20% { transform: rotate(2deg) translate(-1px, 0); }
  30% { transform: rotate(3deg) translate(0, -1px); }
  50% { transform: rotate(0deg) translate(0, 0); }
  60% { transform: rotate(-2deg) translate(-2px, 0); }
  80% { transform: rotate(-3deg) translate(0, -2px); }
  100% { transform: rotate(-1deg) translate(0, 0); }
}
