.breadcrumb-hq-section {
  font-size: 14px;
  padding: 6px 20px 6px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 0px;
}

.breadcrumb-mobile {
  padding-left: 8px;

  li:first-child {
    font-weight: bold;
  }
}
