.card-modern-gray {
  border: none;
  background-color: lighten($cc-bg, 3);

  .card-header {
    padding: 0;
    a:hover, a:link, a:focus {
      text-decoration: none;
    }
    a {
      display: block;
      padding: 15px 15px;
      transition: background-color 1s;
      &:hover {
        background-color: $cc-bg;
      }
    }
    .hq-help {
      a {
        padding: 0;
        display: inline-block;
      }
      line-height: 0;
      margin: 0;
      i {
        font-size: 18px;
        margin-bottom: -3px;
      }
    }
  }

  .card-title-nolink {
    padding: 15px 15px;
    border-bottom: 1px solid $cc-bg;
  }

  .collapsing {
    overflow: hidden;
  }

  legend {
    padding: 15px 15px;
    border-bottom: 1px solid $cc-bg;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid $cc-bg;
    margin-bottom: 20px;
  }

  .ms-list {
    background-color: white;
  }

  .ms-container .ms-selectable, .ms-container .ms-selection {
    background-color: transparent;
  }
}


.card-form-only {
  legend {
    padding-left: 10px;
    padding-right: 10px;
  }
  legend:first-child {
    padding-top: 0;
  }
  fieldset {
    padding-bottom: 20px;

    > p {
      padding-left: 10px;
    }
  }
}

.row .card-body,
.card-body .row {
  margin-right: 0;
  margin-left: 0;
}

.card-group .card-modern-gray {
  border-radius: 0;
}

.card-with-form {
  legend {
    font-size: $font-size-base * 1.5;
  }

  .form-actions {
    margin-bottom: 0;
  }

  .field-control-offset {
    @extend .offset-sm-4, .offset-md-3, .offset-lg-2, .col-12, .col-sm-8, .col-md-9, .col-lg-10;
    padding-left: $grid-gutter-width / 2;
  }

  .form-actions .field-control:first-child {
    padding-left: $grid-gutter-width / 2;
  }

}
