.form-hide-actions .form-actions {
  display: none;
}

.form-ko-validation {
  .validationMessage {
    display: block;
    padding-top: 8px;
    color: $cc-att-neg-low;
    font-weight: bold;
  }
}

.help-block,
p.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: lighten($cc-text, 25%);
}