.label-lg {
  font-size: 14px;
  line-height: 32px;
}

.label-md {
  font-size: 12px;
  line-height: 28px;
}

.label-plan {
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  background-color: $cc-dark-cool-accent-low;
}

.label-plan-enterprise {
  background-color: $cc-neutral-mid;
}

.label-plan-advanced {
  background-color: $cc-dark-cool-accent-mid;
}

.label-plan-pro {
  background-color: $cc-light-cool-accent-mid;
}

.label-plan-standard {
  background-color: $cc-att-pos-mid;
}

.label-plan-community {
  background-color: $cc-dark-cool-accent-mid;
}

.label-flag {
  display: block;
  line-height: 1.4rem;
  font-size: 1rem;
  margin: 15px 0 5px;
  padding: 10px;
  white-space: normal;
}
.label-flag-disabled {
  margin: 25px 0;

}
table .label-flag {
  max-width: 100px;
}
