.ql-snow .ql-picker.ql-font .ql-picker-label[data-value]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value]::before {
  content: attr(data-value) !important;
}
.ql-editor {
  height: 250px;
}

.ql-toolbar {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.ql-container {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ql-picker-label {
  overflow: hidden;
}
