.hq-datatable-container {
  .dataTables_length,
  .dataTables_info {
    display: inline-block;
    padding-right: 10px;
  }
}

.table tr.active a:not(.btn) {
  color: #ffffff;
}

.sortable-handle {
  cursor: move;
}

.table-editprops {

  table-layout: fixed;

  .select2-container {
    width: 100% !important;
  }

  thead > tr {
    background-color: $cc-bg;
    border: none;
    > th {
      border: none;
      font-size: 11px;
      text-transform: uppercase;
    }
    .hq-help {
      float: right;
      line-height: 13px;
      display: block;
      [class*='fa-'] {
        font-size: 18px;
      }
    }
  }

  tbody > tr > td {
    border: none;
    > i {
      margin-top: 10px;
    }
    > .sortable-handle {
      margin-top: 0;
    }
    code {
      margin-top: 5px;
      display: inline-block;
    }
    > .property-name > span {
      display: block;
      padding-top: 7px;
      margin: 0;
    }
    .help-block {
      margin-bottom: 0;
    }

  }

  tbody > tr {
    &:nth-child(even) {
      background-color: $cc-bg;
    }
  }
}

.table-editprops-format {
  min-width: 100px;
}
.table-editprops-filterval {
  min-width: 115px;
}

.table thead tr th.orderable {
  position: relative;
  padding: 0;

  a {
    display: block;
    background-color: $blue-800;
    color: $white;
    padding: 0.5rem 0.5rem;
  }
  &:nth-child(odd) a {
    background-color: $blue-700;
  }

  &::before,
  &::after {
    position: absolute;
    display: block;
    right: 10px;
    line-height: 9px;
    font-size: .8em;
    color: $white;
    opacity: 0.3;
  }

  &::before {
    bottom: 50%;
    content: "▲" / "";
  }

  &::after {
    top: 50%;
    content: "▼" / "";
  }

  &.asc::before {
    opacity: 1.0;
  }
  &.desc::after {
    opacity: 1.0;
  }
}

.table thead tr th.select-header {
  width: 28px;
  background-color: $blue-800;

  &:nth-child(odd) {
    background-color: $blue-700;
  }
}


.table tbody tr td .inline-edit-block {
  display: block;
  background-color: transparent;
  transition: background-color .5s ease-in-out;
  position: relative;

  .inline-edit-button {
    position: absolute;
    right: 0;
    top: calc(50% - 12px);
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }

  &:hover {
    background-color: $gray-200;
    &:nth-child(odd) {
      background-color: $gray-300;
    }
  }

  &:hover .inline-edit-button {
    display: block;
    opacity: 1;
  }
}

.table tbody tr.table-primary td .inline-edit-block {
  &:hover {
    background-color: $blue-100;
    &:nth-child(odd) {
      background-color: $blue-200;
    }
  }
}
