{% extends 'reports/filters/single_option.html' %}

{% block filter_js %}
    {{ block.super }}

    <script type="text/javascript">
    $(function () {
        $("fieldset .helptext").each( function (index, data) {
            console.log(data.textContent);
        $(this).parent().prev("label").append(
                '<a href="#" class="hq-help"><i class="icon-question-sign" data-toggle="popover" data-content="'
                        + data.textContent + '"></i></a>');
        $(this).remove();
    });

    $("i[data-toggle='popover']").popover({
        template: '<div class="popover popover-medium"><div class="arrow"></div><div class="popover-inner"><div class="popover-content"><p></p></div></div></div>',
        placement: 'top'
    });

    });
</script>
{% endblock %}
