{% extends "hqwebapp/bootstrap5/base_section.html" %}
{% load compress %}
{% load i18n %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}

{% js_entry 'events/js/event_attendees' %}

{% block page_title %}
  {{ current_page.title }}
{% endblock %}

{% block page_content %}
  {% registerurl 'paginated_attendees' domain %}
  {% registerurl 'attendees_config' domain %}
  {% registerurl 'event_attendees' domain %}
  {% registerurl 'convert_mobile_workers' domain %}

  <p>
    {% blocktrans %}
    Known potential attendees who can be invited to participate in Attendance
    Tracking Events.
    {% endblocktrans %}
  </p>

  <div class="btn-toolbar mb-2 ko-template" id="attendee-actions">
      <button type="button"
              class="btn btn-primary me-2"
              data-bs-toggle="modal"
              data-bs-target="#new-attendee-modal"
              data-bind="click: initializeAttendee">
        <i class="fa fa-plus"></i> {% trans "Create Potential Attendee" %}
      </button>

      <a id="mobileWorkerAttendeeButton" class="btn btn-outline-primary" href="{% url 'convert_mobile_workers' domain %}">
        <i class="fa"></i>{% trans "Enable Mobile Worker Attendees" %}
      </a>
  </div>

  <div class="modal fade" id="new-attendee-modal">
    <div class="modal-dialog">
      <form novalidate data-bind="submit: submitNewAttendee">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">{% trans "Create Potential Attendee" %}</h3>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="{% trans 'Close' %}"
            ></button>
          </div>
          <div class="modal-body" data-bind="if: stagedAttendee">
            <div data-bind="with: stagedAttendee">
              {% crispy new_attendee_form %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-outline-primary"
                    data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
            <button type="submit"
                    class="btn btn-primary"
                    data-bind="enable: allowSubmit">{% trans "Create" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card border-info ko-template mb-3"
       id="new-attendees-list"
       data-bind="visible: newAttendees().length">
    <div class="card-header text-bg-info pt-3">
      <h5 class="card-title">{% trans 'New Potential Attendees' %}</h5>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-sm-9">{% trans "Name" %}</th>
            <th class="col-sm-3">{% trans "Status" %}</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: newAttendees">
          <tr data-bind="attr: { class: 'table-'+ creationStatus() }">
            <td>
              <i class="fa fa-user"></i>
              <strong data-bind="text: name"></strong>
            </td>
            <td>
              <div
                data-bind="visible: creationStatus() === $root.STATUS_CSS.PENDING"
              >
                <i class="fa fa-circle-notch fa-spin"></i>
                {% trans 'Pending...' %}
              </div>
              <div
                data-bind="visible: creationStatus() === $root.STATUS_CSS.SUCCESS"
              >
                <span class="text-success">
                  <i class="fa fa-check"></i> {% trans 'NEW' %}
                </span>
              </div>
              <div
                data-bind="visible: creationStatus() === $root.STATUS_CSS.ERROR"
              >
                <span class="text-danger">
                  <i class="fa-solid fa-triangle-exclamation"></i>
                  {% trans "ERROR" %}
                  <!-- ko text: creationError --><!--/ko-->
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="attendees-list" class="ko-template">
    <div class="card mb-3">
      <div class="card-header pt-3">
        <h5 class="card-title">{% trans 'Potential Attendees' %}</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <search-box data-apply-bindings="false"
                        params="value: query,
                                action: function() { goToPage(1); },
                                placeholder: '{% trans_html_attr "Search attendees..." %}'"></search-box>
          </div>
        </div>
        <table
          class="table table-striped table-responsive mb-0"
          data-bind="visible: showTable"
        >
          <thead>
          <tr>
            <th class="col-sm-12">{% trans "Name" %}</th>
          </tr>
          </thead>
          <tbody data-bind="foreach: attendees">
          <tr>
            <td>
              <a data-bind="attr: {href: case_id}">
                <span data-bind="text: name"></span>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="alert alert-info"
             data-bind="visible: showLoadingSpinner() && !hasError()">
          <i class="fa fa-spin fa-spinner"></i>
          {% trans "Loading potential attendees ..." %}
        </div>
        <div class="alert alert-danger" data-bind="visible: hasError">
          {% blocktrans %}
            <strong>There was an issue contacting the server.</strong>
            Please check your internet connection.
            If this issue continues, please
            <a href="#modalReportIssue" data-bs-toggle="modal">report an issue</a>.
          {% endblocktrans %}
        </div>
        <div class="alert alert-info" data-bind="visible: showProjectHasNoAttendees">
          {% blocktrans %}
            You currently have no potential attendees.
          {% endblocktrans %}
        </div>
        <div class="alert alert-info" data-bind="visible: showNoAttendees">
          {% blocktrans %}
            No matching potential attendees found.
          {% endblocktrans %}
        </div>
        <pagination data-apply-bindings="false"
                    data-bind="visible: showTable"
                    params="goToPage: goToPage,
                            slug: 'mobile-workers',
                            perPage: itemsPerPage,
                            totalItems: totalItems,
                            onLoad: onPaginationLoad,
                            showSpinner: showPaginationSpinner"></pagination>
      </div>
    </div>
  </div>
{% endblock page_content %}
