.login-block {
    border: 1px solid #ccc;
    background-color: #fff;
    margin: auto;
    width: 350px;
    padding: 1.5em;
    
    -moz-box-shadow: 0 0 8px #bbc;
	-webkit-box-shadow: 0 0 8px #bbc;
	box-shadow: 0 0 8px #bbc;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.login-block p {
    font-size: .8em;
    text-align: center;
}

.login-block h1 {
    font-size: 1.2em;
    text-align: center;
}

.login-block form {
    padding: 10px;
}

.login-block .helptext {
    font-size: .8em;
    color: #888;
}

.login-block input[type="text"],
.login-block input[type="password"] {
    width: 150px;
}

.login-block form table {
    margin: auto;
}

.login-block .field_error {
    font-size: .8em;
    background-color: #faa;
}

.helptext {
    font-size: .8em;
}

.errorlist li {
    width: 150px;
    color: red;
    font-size: .8em;
}