.border-right {
    border-right: 1px solid #dcdcdc;
}

.center {
    text-align: center;
}

.details-table {
    box-shadow: 2px 2px 5px 0 #00000036;
    background: #ffffff;
}

.filter-title {
    text-align: left;
    color:#004ebc;
}

.filters-details {
    padding: 20px;
    background-color: #ffffff;
    color: #004ebc;
}

.form-group,.modal-header {
    text-align:left;
}

.indicator {
    background:#fff;
    text-align:center;
    padding:10px;
}

.indicator-bottom {
    text-align:center;
    color:#FFF;
    padding:10px;
}

.left-menu {
    height:100%;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    overflow-x:hidden;
    border-right:solid 1px #9d9d9d;
    font-size:14px;
    padding-right:0;
    padding-left:0;
    color:#004ebc;
    background:#fff;
}

.left-menu li {
    padding:10px;
}

.left-menu li.active {
    background-color:#d3d3d3;
    border-left:4px solid #004ebc;
}

.light-grey {
    color:#9d9d9d;
}

.line {
    width:80px;
    margin:0 auto;
}

.line > hr {
    margin-bottom:0;
    margin-top:0;
    border-top:1px solid #9c9c9c;
}

.logo {
    vertical-align:middle;
    width:190px;
    margin:15px auto;
}

.logo > img {
    width: 100%;
}

.main-container {
    height:auto;
    position:absolute;
    right:0;
}

.main-value {
    font-size:35px;
}

.modal-footer {
    text-align:center;
}

.nav > li > a:hover {
    background:none;
}

.nav-item {
    width: 33.33%;
    text-align: center;
}

.nav-link {
    padding: 15px;
    background: #004ebc14;
}

.nav-item.active {
    background-color: #ffffff;
    color: #004ebc;
}

.nav-tabs {
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #004ebc;
    cursor: default;
    background-color: inherit;
    border: none;
    border-bottom-color: transparent;
    box-shadow: 2px 2px 5px 0 #00000036;
}

.navbar-default {
    background-color:#fff;
    border-radius:0;
    margin-bottom:0;
    border-color:#e7e7e7;
}

.navbar-nav > li {
    float:left;
    border-left:solid 1px #9d9d9d;
    width:75px;
    display:inline-block;
    vertical-align:middle;
    text-align:center;
    padding:10px;
}

.no-margin {
    margin: 0 !important;
}

.padding-15 {
    padding: 15px !important;
}

.pagination {
    margin: 0;
}

.main-title {
    background-color: #004ebc;
    color: #ffffff;
}

.secondary-title {
    padding: 10px;
    color: #004ebc;
    background: #ffffff;
    border: 1px solid #dcdcdc;
}

.pointer {
    cursor:pointer;
}

.right {
    float: right;
}

.report-content {
    padding:30px;
}

.report-content > .row {
    margin-bottom:30px;
}

.required {
    color:#ce0500;
}

.row-content {
   border: 1px solid #ddd;
}

.second-value {
    font-size:20px;
}

.select2-container {
    display:block!important;
    width:100%!important;
}

.selected-box {
    padding: 10px;
    background: #ffffff;
    box-shadow: 0 0 5px 0 #00000036;
    min-width: 150px;
    margin: 5px;
    display: inline-block;
}

.selected-filters {
    padding: 30px 30px 0 30px;
}

.selected-filters-block > div, .selected-filters-block > [css*='selected-box'], .selected-filters-block > i {
    display: inline-block;
}

.selected-filters-icon {
    width: 30px;
    text-align: center;
    vertical-align: middle;
    color: #004ebc;
}

.sorting_asc:after, .sorting_desc:after, .sorting:after {
    float: right !important;
    color: #ffffff;
}

.sorting_asc, .sorting_desc, .sorting {
    background-color: #004ebc;
    color: #ffffff;
}

.shadow {
    box-shadow:0 0 5px 0 #00000036;
}

.table-item {
    padding: 15px;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    min-height: 60px;
    line-height: 28px;
}

.table-item div {
    vertical-align:middle;
}

.table_info {
    text-align: right;
}

.table_pagination {
    display: inline-block;
    margin: auto;
}

.text-middle {
    vertical-align: text-bottom;
}

.wrapper {
    display:flex;
    width:100%;
    align-items:stretch;
}

.vertical-line {
    border-left: 1px solid #9d9d9d;
    margin-left: 10px;
    padding-left: 20px;
}

html,body {
    background:#f5f5f5;
    margin:0;
    padding:0;
}

label {
    margin-bottom: 0;
}

li.auto-width {
    width:auto;
}

li.no-padding,.no-padding,.nav > li > a {
    padding:0;
}

ul {
    list-style-type:none;
}

tr, th {
    text-align: center;
}