{% extends base_template %}

{#################################################################################################################}

{% block title %}
     password rese confirm{% endblock title %}

{#################################################################################################################}

{% block hq-stylesheets %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/domain/stylesheets/sfb.css?version=3"/>
{% endblock hq-stylesheets %}

{#################################################################################################################}
      
{% block content %}

<hr class="space"/>
<hr class="space"/>


{% if validlink %}
<div class="prepend-2"><h3><strong>Enter your new password</strong></h3></div>
<hr class="space"/>
<!-- Form -->  
<div class="span-11 clear" style="margin-left:auto; margin-right:auto; float:none">
<form class="sfb" name="form" method="post" action="">
<h3>Reset password</h3>
{% if form.non_field_errors %}
  <div class="non_field_errors">
  {{ form.non_field_errors }}
  </div>
{% endif %}

{% for field in form.visible_fields %}
  {% if field.errors %}
    <div class="field_errors">
    {{field.errors}}
    </div>
  {% endif %}
  <div class="span-4 clear"> <div style="float:right;">
  {{ field.label_tag }}
  </div></div>
  <div class="span-3">
  {{ field }}
  </div>
{% endfor %}
  
<div style="text-align: center"><button type="submit">Submit</button></div>
</form>
</div>
<!-- Form -->  

{% else %}

<div class="prepend-2 clear">
<h3>Password reset unsuccessful</h3>
<h4>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</h4>
</div>

{% endif %}


{% endblock content %}     