{% extends base_template %}

{#################################################################################################################}

{% block title %}
 password reset requested{% endblock title %}

{#################################################################################################################}

{% block content %}
<hr class="space"/>
<hr class="space"/>
<div class="prepend-2">
<h3><strong>Password reset successful</strong></h3>
<h4>We've emailed instructions for resetting your password to the email address you submitted. You should be receiving it shortly.</h4>
<hr class="space"/>
<h4><a href="{% url homepage %}">Homepage</a></h4>
</div>
{% endblock content %}

{#################################################################################################################}    
