#breadcrumb-region {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: $zindex-navbar-cloudcare;
}

#breadcrumb-region .breadcrumb-item, .single-app-view .breadcrumb-item {
    cursor: pointer;
}

#breadcrumb-region .breadcrumb,
.single-app-view .breadcrumb,
.breadcrumb-form-container .breadcrumb {
  background-color: $cc-brand-mid;
  border-radius: 0;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
  border: none;

  .breadcrumb-item {
    color: white;

    &:before {
      content: '\f054';
      font-family: 'FontAwesome';
    }

    a {
      color: white;
    }
  }
  .breadcrumb-item:first-child {
    &:before {
      display: none;
    }
  }
}

#breadcrumb__menu-dropdown {
    cursor: pointer;
}
