{% extends "hqwebapp/partials/bootstrap3/bulk_upload.html" %}
{% load hq_shared_tags %}
{% load i18n %}

{% block prerequisites %}
  <li>
    <p>
      {% trans "Include only paths where the multimedia file is missing?" %}
      <select-toggle data-apply-bindings="false"
                     params="name: 'only_missing',
                             id: 'only_missing',
                             value: only_missing,
                             options: [{
                               id: 'false',
                               text: '{% html_attr _('All Paths') %}',
                             }, {
                               id: 'true',
                               text: '{% html_attr _('Only Missing Paths') %}'
                             }]"></select-toggle>
    </p>
  </li>
{% endblock prerequisites %}
