{% load hq_shared_tags %}
{# This is fine as an inline script; multimedia needs to be reworked to work with RequireJS so we can deal with this config at that time #}
<script>
  YUI_config = {
    combine: false,
    fetchCSS: false,
    base: "//{{ request.get_host }}/",
    loaderPath: "static/hqmedia/MediaUploader/yui-loader.js"
  }
</script>
<script src="{% static 'hqmedia/MediaUploader/yui-base.js' %}"></script>
<script src="{% static 'hqmedia/MediaUploader/yui-uploader.js' %}"></script>
<script src="{% static 'hqmedia/MediaUploader/hqmedia.upload_controller.js' %}"></script>
