{% extends "hq/base.html" %}
{% load i18n %}
{% load dashboard_tags %}
{% load mainreport_tags %}

{% block title %}{% trans "My Dashboard" %}{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{MEDIA_URL}}/graphing/flot/jquery.js"></script> 
    <script type="text/javascript" src="{{MEDIA_URL}}/graphing/flot/jquery.flot.js"></script>
{% endblock %}
{% block org_content %}

<h2>{%trans "Activity Dashboard"%} :: {% ifequal startdate enddate %}
                                        {{startdate|date}}
                                      {% else %}
                                        {{startdate|date}} - {{enddate|date}}
                                      {% endifequal%}</h2>
{% get_daterange_links view_name %}	
<br>
<h3>{%trans "Forms Submitted" %}</h3>	
{% get_dashboard_user_counts user.selected_domain startdate enddate %}
{% endblock %}
