{% extends "scheduling/create_schedule_base.html" %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block js %}{{ block.super }}
  {% if request|toggle_enabled:"RICH_TEXT_EMAILS" %}
    <script src="{% static 'ckeditor5/build/ckeditor5-dll.js' %}"></script>
    <script src="{% static '@ckeditor/ckeditor5-editor-classic/build/editor-classic.js' %}"></script>
    <script src="{% static '@ckeditor/ckeditor5-autoformat/build/autoformat.js' %}"></script>
    <script src="{% static '@ckeditor/ckeditor5-basic-styles/build/basic-styles.js' %}"></script>
    <script src="{% static '@ckeditor/ckeditor5-block-quote/build/block-quote.js' %}"></script>
    <script src="{% static '@ckeditor/ckeditor5-essentials/build/essentials.js' %}"></script>
    <script src="{% static '@ckeditor/ckeditor5-font/build/font.js' %}"></script>
    <script src="{% static '@ckeditor/ckeditor5-heading/build/heading.js' %}"></script>
    <script src="{% static '@ckeditor/ckeditor5-html-support/build/html-support.js' %}"></script>
    <script src="{% static '@ckeditor/ckeditor5-horizontal-line/build/horizontal-line.js' %}"></script>
    <script src="{% static '@ckeditor/ckeditor5-image/build/image.js' %}"></script>
    <script src="{% static '@ckeditor/ckeditor5-indent/build/indent.js' %}"></script>
    <script src="{% static '@ckeditor/ckeditor5-link/build/link.js' %}"></script>
    <script src="{% static '@ckeditor/ckeditor5-list/build/list.js' %}"></script>
    <script src="{% static '@ckeditor/ckeditor5-paste-from-office/build/paste-from-office.js' %}"></script>
    <script src="{% static '@ckeditor/ckeditor5-restricted-editing/build/restricted-editing.js' %}"></script>
    <script src="{% static '@ckeditor/ckeditor5-alignment/build/alignment.js' %}"></script>
  {% endif %}
  {% requirejs_main 'scheduling/js/conditional_alert_main' %}
{% endblock %}

{% block stylesheets %}{{ block.super }}
  <style>
    .nav-tabs li.has-error a, .nav-tabs li.has-error a:focus, .nav-tabs li.has-error a:hover {
      background-color: #f2dede;
    }
    .nav-tabs li.has-error.active a, .nav-tabs li.has-error.active a:focus, .nav-tabs li.has-error.active a:hover {
      border-left: 2px solid #b88;
      border-top: 2px solid #b88;
      border-right: 2px solid #b88;
    }
    .tab-pane {
      margin-top: 15px;
    }
  </style>
{% endblock %}

{% block page_content %}{{ block.super }}
  {% initial_page_data 'all_case_properties' all_case_properties %}
  {% initial_page_data 'read_only_mode' read_only_mode %}
  {% initial_page_data 'rule_name' rule_name %}

  <p class="lead">
    {{ current_page.page_name }}
  </p>

  {% if help_text %}
    <p class="help-block">
      {{ help_text }}
    </p>
  {% endif %}

  {% if is_system_admin %}
    <p class="help-block alert alert-info">
      <i class="fa fa-info-circle"></i>
      {% blocktrans %}
        Since you are a Superuser, you will see additional options. See
        <a target="_blank" href="https://confluence.dimagi.com/display/commcarepublic/Conditional+Alerts+-+Superuser+Options">Superuser Options</a>
        for more information.
      {% endblocktrans %}
    </p>
  {% endif %}
  {% include 'data_interfaces/partials/case_rule_criteria.html' with form=criteria_form %}

  <div class="row">
    <div class="col-sm-12">
      {% if read_only_mode %}
        {% if criteria_form.requires_system_admin_to_edit or schedule_form.requires_system_admin_to_edit %}
          <p class="alert alert-warning">
            {% trans "NOTE: A system administrator is required to edit this alert." %}
          </p>
        {% endif %}
      {% endif %}
      {% include 'scheduling/partials/custom_event_templates.html' %}
      <form id="conditional-alert-form" class="form form-horizontal main-form" method="POST" action="#">
        <ul class="nav nav-tabs">
          <li id="basic-nav" class="{% if not criteria_form_active and not schedule_form_active %}active{% endif %}">
            <a href="#basic" data-toggle="tab">{% trans "Basic Information" %}</a>
          </li>
          <li id="rule-nav" class="{% if criteria_form.errors %}has-error{% endif %} {% if criteria_form_active %}active{% endif %} {% if new_rule %}hidden{% endif %}">
            <a href="#rule" data-toggle="tab">{% trans "Rule Criteria" %}</a>
          </li>
          <li id="schedule-nav" class="{% if schedule_form.errors %}has-error{% endif %} {% if schedule_form_active %}active{% endif %} {% if new_rule %}hidden{% endif %}">
            <a href="#schedule" data-toggle="tab">{% trans "Schedule & Recipients" %}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane {% if not criteria_form_active and not schedule_form_active %}active{% endif %}" id="basic">
            <div class="row">
              <div class="panel-body" id="conditional-alert-basic-info-panel">
                {% crispy basic_info_form %}
                {% include 'scheduling/partials/conditional_alert_continue.html' with click_event="handleBasicNavContinue" enable_when="basicTabValid" %}
              </div>
            </div>
          </div>
          <div class="tab-pane {% if criteria_form_active %}active{% endif %}" id="rule">
            <div class="row">
              <div class="panel-body" id="rule-criteria-panel">
                {% crispy criteria_form %}
                {% include 'scheduling/partials/conditional_alert_continue.html' with click_event="handleRuleNavContinue" enable_when="ruleTabValid" %}
              </div>
            </div>
          </div>
          <div class="tab-pane {% if schedule_form_active %}active{% endif %}" id="schedule">
            <div class="panel-body">
              {% include 'scheduling/partials/schedule_form.html' %}
            </div>
            {% include 'scheduling/partials/conditional_alert_save.html' %}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
