{% extends base_template %}

{#################################################################################################################}

{% block title %}
     domain registration request{% endblock title %}

{#################################################################################################################}

{% block hq-stylesheets %}

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/domain/stylesheets/sfb.css?version=3"/>
<link rel="stylesheet" href="{{MEDIA_URL}}/domain/javascripts/nyroModal/styles/nyroModal.css" type="text/css" media="screen" /> 
<script type="text/javascript" src="{{MEDIA_URL}}/domain/javascripts/nyroModal/js/jquery.nyroModal-1.5.5.pack.js"></script> 

{% endblock hq-stylesheets %}

{#################################################################################################################}           
{% block content %}

<script type="text/javascript">
$(function() {
  $.nyroModalSettings({
    height:500,
    width:700
  });
});
</script>

<hr class="space"/>
<hr class="space"/>

<!-- Registration request form -->  
<div class="span-11" style="margin-left:auto; margin-right:auto; float:none">
<form class="sfb clear" name="form" method="post" action="{% url domain_registration_request kind=kind %}">
<h3>Request a new domain</h3>
{% if form.non_field_errors %}
  <div class="non_field_errors">
  {{ form.non_field_errors }}
  </div>
{% endif %}

{% for field in form.visible_fields %}
  {% if field.errors %}
    <div class="field_errors">
    {{field.errors}}
    </div>
  {% endif %}
  {% ifnotequal field.name 'tos_confirmed' %}
  <div class="span-4 clear"> <div style="float:right;">
  {{ field.label_tag }}
  </div></div>
  <div class="span-2">
  {{ field }}
  </div>
  {%else%}
  <label for="id_tos_confirmed" style="width:300px">I have read and agree to the <a href="{%url tos%}" class="nyroModal" target="_blank">Terms of Service</a></label>
  <input id="id_tos_confirmed" type="checkbox" name="tos_confirmed" style="width:30px; margin:4px 5px 30px 5px;"/>
  {% endifnotequal %}
{% endfor %}
  
<button type="submit">Submit</button>
</form>
</div>
<!-- Registration request form -->  

{% endblock content %}     