// Extends and Modifies Twitter Bootstrap's button groups

.btn .caret {
  margin-left: 5px;
}

.btn-project {
    .caret {
        border-top-color: @white;
        .opacity(75);
    }
}

.btn-new-app {
  width: 100%;
  min-height: 200px;
  font-size: 22pt;
  line-height: normal;
}
