.ui-datepicker-title {color: #000000}

@media (max-width: 768px) {
  .controls .span2 {width: 100% !important;}
  .controls .span3 {width: 100% !important;}
  .controls .span4 {width: 100% !important;}
  .controls .span5 {width: 100% !important;}
  .controls .span5 {width: 100% !important;}
  .controls .span6 {width: 100% !important;}
  .select2-drop-mask {width: 100% !important;}
  .form-horizontal .form-actions {padding-left: 20px;}
  .form-horizontal .controls {margin-left: 120px;}
  .form-horizontal .control-label {width: auto}

}
