{% load i18n %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}

<h2>{% trans "Step 1. Download Telerivet App" %}</h2>
<ol>
    <li>
        <p>
            {% blocktrans %}
            If you have not already done so, create an account at <a target="_blank" href="https://www.telerivet.com">www.telerivet.com</a>.
            Be sure to give your Telerivet project a name:
            {% endblocktrans %}
        </p>
        <p>
            <img class="img-fluid img-thumbnail" src="{% static 'telerivet/img/update_project_name.png' %}" />
        </p>
    </li>
    <li>
        <p>
            {% blocktrans %}
            On your Android phone, go to <a target="_blank" href="https://telerivet.com/gateway">telerivet.com/gateway</a> and download the Telerivet Gateway App.</li>
            {% endblocktrans %}
        </p>
    </li>
    <li>
        <p>
            {% blocktrans %}
            Open the Telerivet App on your Android phone. Log in and follow the instructions to connect the App to your Telerivet project.
            {% endblocktrans %}
        </p>
    </li>
</ol>
<div class="form-actions">
    <button class="btn btn-primary col-md-2" data-bind="click: nextStep">
        {% trans "Continue" %} &raquo;
    </button>
</div> 
