{% load i18n %}

<div class="alert alert-primary py-1">
  <div
    class="badge rounded-pill bg-light text-dark shadow-sm fs-5 m-2 py-2 px-3"
  >
    <span class="fi fi-{{ server_display.country_code }}"></span>
    {% blocktrans with server_display.hr_name as server_location %}
      {{ server_location }}
      Cloud
    {% endblocktrans %}
  </div>
  <br />
  <p class="small mb-2">
    {% blocktrans with server_display.hr_name as server_location %}
      Your project will be hosted on the <b>{{ server_location }} Cloud</b>
      server.
      <br />
      Looking to create an account on another cloud?
      <a href="#" data-bind="click: previousStep">
        <b>Click here to go back</b></a
      >.
    {% endblocktrans %}
  </p>
</div>
