{% extends "reports/tabular.html" %}
{% load hq_shared_tags %}
{% load i18n %}

{% block reportcontent %}

{% block reporttable %}
{% if report.needs_filters %}
    {% include 'reports/partials/description.html' %}
{% else %}
    {% if export_only %}
      <h2>{% blocktrans %}This report is available <i><b>only for export</b></i>{% endblocktrans %}</h2>
    {% else %}
        {% for data_provider in data_providers %}
          <br/>
          <h4 class="media-heading">{{ data_provider.title }}</h4>
          {% include 'inddex/partials/report_table.html' with report_table=data_provider %}
          <br/>
        {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}

{% endblock %}
