{% extends "style/bootstrap3/base_section.html" %}
{% load hq_shared_tags %}

{% block js %} {{ block.super }}
    <script src="{% new_static 'commtrack/ko/location_bulk_upload_file.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            gaTrackLink($('#download_link'), 'Organization Structure', 'Bulk Import', 'Download');
            gaTrackLink($("button[type='submit']"), 'Organization Structure', 'Bulk Import', 'Upload');
        });
    </script>
{% endblock %}

{% block page_content %}
    {% include "locations/manage/partials/bulk_upload.html" %}
{% endblock %}
