{% extends "style/base_section.html" %}
{% load hq_shared_tags %}
{% block js %} {{ block.super }}
    <script src="{% static 'commtrack/js/location_bulk_upload_file.js' %}"></script>
{% endblock %}
{% block js-inline %} {{ block.super }}
    <script>
        $(function() {
            gaTrackLink($('#download_link'), 'Organization Structure', 'Bulk Import', 'Download');
            $("button[type='submit']").click(function() {
               ga_track_event('Organization Structure', 'Bulk Import', 'Upload');
            });
        });
    </script>
{% endblock %}

{% block page_content %}
    {% include "locations/manage/partials/bulk_upload.html" %}
{% endblock %}
