{% load i18n %}
{% load hq_shared_tags %}

<div id="location_tree" class="w-50 ms-n3">
  <div data-bind="template: { name: 'location-template', if: root, data: root }"></div>
</div>

<style>
.loc_header {
  border-color: #ddd;
  &:hover {
    background-color: #eef;
  }
}
</style>

<script type="text/html" id="location-template">
  <div class="loc_section">
    <!-- header bar -->
    <div class="mb-2 clearfix loc_header" data-bind="if: name() != '_root', css: {'border-bottom': name() != '_root'}">
      <div class="float-end" data-bind="if: can_edit()" id="button-template">
        {% if not show_inactive %}
          <a class="btn btn-primary"
             data-bind="attr: { href: loc_edit_url(uuid()) }">
            {% if view_only %}
              <i class="fa-solid fa-eye"></i>
              {% trans "View" %}
            {% else %}
              <i class="fa fa-edit"></i>
              {% trans "Edit" %}
            {% endif %}
          </a>
        {% endif %}
        {% if not view_only %}
          {% if show_inactive %}
            <button class="btn btn-outline-primary"
                    data-bind="click: function(data, event) { unarchive_loc(event.currentTarget, uuid()) }, visible: show_archive_action_button">
              <i class="fa fa-archive"></i>
              {% trans "Unarchive" %}
            </button>
          {% else %}
            <button class="btn btn-outline-primary"
                    data-bind="click: function(data, event) { archive_loc(event.currentTarget, name(), uuid()) }, visible: show_archive_action_button">
              <i class="fa fa-archive"></i>
              {% trans "Archive" %}
            </button>
          {% endif %}
          <button class="btn btn-outline-danger"
                  data-bind="click: function(data, event) { delete_loc(event.currentTarget, name(), uuid()) }, visible: show_archive_action_button">
            <i class="fa-regular fa-trash-can"></i>
            {% trans "Delete" %}
          </button>
        {% endif %}
      </div>

      <!-- want to make entire row clickable, but overrides click on 'edit' button -->
      <div class="pt-1" data-bind="click: toggle, css: { clickable: can_have_children() }">
          <!-- ko if: can_have_children -->
              <!-- ko if: !expanded() -->
                <i class="fa-solid fa-square-plus fa-lg"></i>
              <!-- /ko -->
              <!-- ko if: expanded()==true -->
                <i class="fa-solid fa-square-minus fa-lg"></i>
              <!-- /ko -->
              <!-- ko if: expanded()=='semi' -->
                <i class="fa-regular fa-square-plus fa-lg"></i>
              <!-- /ko -->
          <!-- /ko -->
        <span class="loc_name fs-5" data-bind="text: name"></span>
        <span class="badge text-bg-secondary text-capitalize" data-bind="text: type"></span>
      </div>
    </div>

    <!-- child content -->
    <div class="loc_children mb-4 ms-2 ps-2 border-4" data-bind="visible: expanded, style: { borderColor: 'rgba(0, 0, 255, ' + Math.min(.08 * depth, .5) + ')', borderLeftStyle: 'solid' }">

      <!-- ajax spinner -->
      <div class="loc_section loc_child" data-bind="visible: children_status() == 'loading'">
        <i class="fa fa-spin fa-spinner"></i> Loading&hellip;
      </div>

      <!-- ajax content -->
      <div data-bind="fadeVisible: children_status() == 'loaded' || children_status() == 'semi_loaded'">

        <!-- child entries -->
        <div data-bind="foreach: children">
          <div class="loc_child" data-bind="template: { name: 'location-template' }"></div>
        </div>

        <!-- 'no children' message -->
        <div class="loc_child alert alert-info mt-1" data-bind="visible: children().length == 0, text: no_children_caption"></div>

      </div>

      {% if not show_inactive and not view_only %}
        <!-- create child button -->
        <!-- ko if: can_edit() -->
        <a class="btn btn-primary loc_child"
           data-bind="attr: { href: new_loc_url() + '?parent=' + (uuid() || '') },
                                click: new_location_tracking">
          <i class="fa fa-plus"></i> <span data-bind="text: new_child_caption"></span>
        </a>
        <!-- /ko -->
      {% endif %}
    </div>
  </div>
</script>

{% block modals %}
  {% if not is_view_only %}
    <div class="modal fade" id="delete-location-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{% trans "Delete Location:" %} <span data-bind="text: name" /></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans_html_attr "Close" %}"></button>
          </div>
          <div class="modal-body">
            <p>
              {% blocktrans %}
                <strong>Warning!</strong> Deleting a location is permanent. There is no way to undo this action.
                This will also delete all child locations. If you are sure you would like to delete these
                <span data-bind="text: count"></span> locations, please type
                <strong><span data-bind="text: count"></span></strong> in the box below.
              {% endblocktrans %}
            </p>
            <input class="form-control" data-bind="value: signOff, valueUpdate: 'input'" />
          </div>
          <div class="modal-footer">
            <button data-bs-dismiss="modal" class="btn btn-outline-primary">{% trans "Cancel" %}</button>
            <button data-bind="click: delete_fn, css: {disabled: !(signOff() == count)}" class="btn btn-outline-danger">{% trans "Delete" %}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="archive-location-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{% trans "Archive Location:" %} <span data-bind="text: name" /></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans_html_attr "Close" %}"></button>
          </div>
          <div class="modal-body">
            <p>
              {% blocktrans %}
                <strong>Warning!</strong> Archiving a location will unassign any users
                which were associated with that location.  You can unarchive this
                location at any point, but you will have to reassign the users
                manually.
              {% endblocktrans %}
            </p>
          </div>
          <div class="modal-footer">
            <button data-bs-dismiss="modal" class="btn btn-outline-primary">{% trans "Cancel" %}</button>
            <button data-bind="click: archive_fn" class="btn btn-outline-danger">{% trans "Archive" %}</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock modals %}
