{% extends "settings/base_template.html" %}
{% load i18n %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}

{% block head %} {{ block.super }}
    <link rel="stylesheet" href="{% static 'hqwebapp/js/lib/jquery-ui-datepicker/datepicker-theme/jquery-ui-1.8.17.custom.css' %}" />
    <link rel="stylesheet" href="{% static 'hqwebapp/js/lib/jquery-ui/multiselect/ui.multiselect.css' %}" />
{% endblock %}

{% block js %}{{ block.super }}
    <script src="{% static 'hqwebapp/js/ui-element.js' %}"></script>
    <script src="{% static 'hqwebapp/js/lib/jquery-ui/jquery-ui-1.9.2.multiselect-deps.custom.min.js' %}"></script>
    <script src="{% static 'hqwebapp/js/lib/jquery-ui/multiselect/ui.multiselect.js' %}"></script>
{% endblock %}

{% block js-inline %}{{ block.super }}
    <script type="text/javascript">
        $(function () {
            $("#id_selected_ids").width(800).height(400).multiselect();
        });
    </script>
{% endblock %}

{% block main_column %}
<div class="row-fluid">
    <form class="form disable-on-submit" id="edit_products" action="" method='post'>
        <legend>{% trans 'Specify Products Per Location' %}</legend>
        {% crispy products_per_location_form %}
    </form>
</div>
{% endblock %}
