{% extends "hqmedia/uploader_base.html" %}
{% load hq_shared_tags %}
{% load i18n %}

{% block page_content %}

    <p class="lead">{{ current_page.page_name }}</p>

    {% blocktrans %}
        <h3>Download Paths</h3>
        <div class="help-block">
            Download a file containing each unique multimedia path in this application
            and the places where that path is referenced.
        </div>
    {% endblocktrans %}

    <a class="btn btn-primary" href="{% url 'download_multimedia_paths' domain app.id %}">
        <i class="fa fa-cloud-download"></i>
        {% trans "Download Paths" %}
    </a>

{% endblock %}
