{% extends base_template %}
{% load hq_shared_tags %}
{% load multimedia_tags %}
{% block head %}{{ block.super }}
    {% include "imports/jqmodal.html" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}hqmedia/css/media_upload.css"/>
{% endblock %}
{% block js %}{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}hqmedia/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}hqmedia/js/jquery.form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}hqmedia/js/jquery.progressbar.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}hqmedia/js/hqmedia_upload.js"></script>
<script type="text/javascript">
    $().ready(function () {

        // Audio
        var _jplayer = $("#jquery_jplayer"),
            _jplayer_is_playing = false,
            _jplayer_trigger = $(".Audiofile a.view_media"),
            _jplayer_play_text = "Play",
            _jplayer_stop_text = "Stop";

        _jplayer.jPlayer({
            swfPath: "{{ STATIC_URL }}hqmedia/js",
            supplied: "mp3",
            wmode: "window",
            error: function(e) {
                console.log("jPlayer error", e);
            },
            ready: function(e) {
                _jplayer_trigger.click(function(e) {
                    if (_jplayer_is_playing && $(this).text() == _jplayer_stop_text) {
                        _jplayer.jPlayer("stop");
                    } else {
                        _jplayer.jPlayer("setMedia", {
                            mp3: $(this).attr("href")
                        });
                        _jplayer_is_playing = true;
                        _jplayer.jPlayer("play");
                        _jplayer_trigger.find('span').text(_jplayer_play_text);
                        $(this).find('span').text(_jplayer_stop_text);
                    }
                    return false;
                }).find('span').text(_jplayer_play_text);
            },
            ended: function(e) {
                stopPlayingAudio();
            },
            pause: function(e) {
                stopPlayingAudio();
            }
        });
        function stopPlayingAudio() {
            _jplayer_is_playing = false;
            _jplayer_trigger.find('span').text(_jplayer_play_text);
        }

        // Upload & View image modal
        $("#imageView").jqm( {
            trigger: ".Imagefile a.view_media"
        });
        $("#uploadFileView").jqm( {
            trigger: "a.upload_media",
            onHide: hideUploadForm
        });
        $(".Imagefile a.view_media").click(function(e) {
            var form_path = $(this).parent().parent().data('form-path'),
                image_src = $(this).attr('href');
            $("#imageView h2").text("Viewing Image for path "+form_path);
            $("#imageView img").attr('src', image_src);
            return false;
        });

        var progress_bar = $("#hqmedia_progressbar"),
            hqupload_form = $("form#hqmedia_upload");

        $("a.upload_media").click(function(e) {
            progress_bar.parent().hide();
            progress_bar.progressBar(0);
            $('#hqmedia_upload_status').hide();
            hqupload_form.resetForm();
            hqupload_form.find('.error').text('');
            hqupload_form.find("input[type='submit']").show();
            hqupload_form.find("input[type='button']").val('Cancel');
            hqupload_form.parent().find(".uploaded").hide();
            var form_path = $(this).parent().parent().data("form-path"),
                media_type = $(this).parent().parent().data("media-type"),
                reference_id = $(this).parent().parent().attr('id'),
                replace_file = $(this).data("replace-file"),
                action_text = $(this).text(),
                guid = guidGenerator();
            $('#id_multimedia_upload_action').val(replace_file === true);
            $('#id_multimedia_form_path').val(form_path);
            $('#id_multimedia_class').val(media_type);
            $('#id_old_reference').val(reference_id);
            hqupload_form.find(".hqmedia_upload_id").val(guid);
            hqupload_form.find('input[type="submit"]').val(action_text);
            if(media_type == "CommCareImage" && replace_file === true) {
                hqupload_form.parent().find(".original img").attr("src", $(this).parent().parent().find('a.view_media').attr('href'));
                hqupload_form.parent().find(".original").show();
            }else
                hqupload_form.parent().find(".original").hide();
            hqupload_form.parent().find("h2").text(action_text+" for path "+form_path);
            return false;
        });
        function hideUploadForm(e) {
             hqupload_form.parent().find(".original img").attr("src", "");
        }

        // Upload progress handling
        var hqUpload;
        hqUpload = new HQMediaUpload({
            submit_url: '{% url multimedia_upload domain 'file' app.get_id %}',
            progress_checker_url: '{% url hqmedia_upload_progress domain %}',
            process_checker_url: '{% url hqmedia_upload_success domain %}',
            static_url: '{{ STATIC_URL }}',
            process_complete_fn: uploadComplete
        });
        hqUpload.listenForUploads();

        function uploadComplete(data) {
            hqupload_form.find("input[type='button']").val('Close');
            for(var ref_id in data) {
                var container = $("#"+ref_id);
                var view_action = container.find("a.view_media"),
                    upload_action = container.find("a.upload_media"),
                    status_icon = container.find("img.indicator");
                var media_type = view_action.parent().parent().data("media-type").replace("CommCare", "");
                if(view_action.hasClass('inactive')) {
                    view_action.removeClass('inactive');
                    upload_action.find('span').text("Replace "+media_type);
                    upload_action.attr('data-replace-file', 'true');
                    view_action.attr('href', data[ref_id]);
                    status_icon.attr('src', "{% static 'hqmedia/img/checkmark.png' %}");
                }else {
                    view_action.attr('href', data[ref_id]);
                }
                if (media_type == "Image") {
                    var uploaded_image = hqupload_form.parent().find(".uploaded");
                    uploaded_image.find('img').attr('src', data[ref_id]);
                    uploaded_image.fadeIn();
                }
            }
        }

        // Hide/show list of references
        $('.scary-settings').each(function () {
            var $scarySettings = $(this).addClass('ui-corner-bottom'),
                $toggleBar = $(this).prev(".scary-settings-toggle").addClass('ui-corner-top'),
                $toggleLink = $toggleBar.find('a'),
                hidden = true;
            function setHidden(h) {
                var closedIcon = 'ui-icon-triangle-1-e',
                    openedIcon = 'ui-icon-triangle-1-s',
                    openedClass = 'scary-settings-toggle-open';
                if (hidden != h) {
                    $scarySettings.slideToggle();
                } else if (hidden) {
                    $scarySettings.hide();
                }
                hidden = h;
                if (hidden) {
                    $toggleBar.find('.ui-icon').addClass(closedIcon).removeClass(openedIcon);
                    $toggleBar.removeClass(openedClass, 1000);
                } else {
                    $toggleBar.find('.ui-icon').addClass(openedIcon).removeClass(closedIcon);
                    $toggleBar.addClass(openedClass);
                }
            }
            setHidden(hidden);
            $toggleLink.click(function () {
                setHidden(!hidden);
                return false;
            });
        });

    });
</script>
{% endblock %}
{% block content %}
<div id="main_container">
    <div class="padded multimedia">
        <nav class="breadcrumbs">
            <ul>
                <li><a href="{% url view_app domain app.get_id %}">Application "{{ app.name }}"</a></li>
                <li>Multimedia Map</li>
            </ul>
        </nav>
        <h1>Multimedia Map for Application "{{ app.name }}"</h1>
        {% include "hqmedia/partials/multimedia_zip_notice.html" %}
        <h2>Upload a ZIP of files</h2>
        <p>Use this option to quickly upload all of the multimedia files for your application.</p>
        <p><a class="button upload-zip" href="{% url multimedia_upload domain 'zip' app.get_id %}">Upload ZIP</a></p>
        <h2>Manage Multimedia</h2>
        <p>Upload or replace multimedia files one at a time linked by your application.</p>
        <h3 class="scary-settings-toggle"><a href="#"><span class="ui-icon"></span>Image Reference List</a></h3>
        <div class="scary-settings">
            {% if multimedia.images.items %}
                <ul>
                {% for form_path, image in multimedia.images.items %}
                    {% render_multimedia_map form_path "image" image %}
                {% endfor %}
                </ul>
            {% else %}
                The CommCare application "{{ app.name }}" does not contain any image references.
            {% endif %}
        </div>
        <h3 class="scary-settings-toggle"><a href="#"><span class="ui-icon"></span>Audio Reference List</a></h3>
        <div class="scary-settings">
            {% if multimedia.audio.items %}
                <ul>
                {% for form_path, sound in multimedia.audio.items %}
                    {% render_multimedia_map form_path "audio" sound %}
                {% endfor %}
                </ul>
            {% else %}
                The CommCare application "{{ app.name }}" does not contain any audio references.
            {% endif %}
        </div>
    </div>
</div>
<div class="jqmWindow" id="imageView">
    <a href="#" class="jqmClose">Close</a>
    <h2>Viewing Image for path</h2>
    <img src="" alt="currently selected image" />
</div>
<div id="jquery_jplayer"></div>
<div class="jqmWindow" id="uploadFileView">
    <a href="#" class="jqmClose">Close</a>
    <h2>Upload Media</h2>
    <div class="original">
        <p>Image currently referenced:</p>
        <p><img src="" alt="Currently Referenced Image" /></p>
    </div>
    <form id="hqmedia_upload" action="{% url multimedia_upload domain 'file' app.get_id %}?{{ progress_id_varname }}=foobar" method="post" enctype="multipart/form-data">
        <fieldset>
            <ul>
            {% for field in fileform.visible_fields %}
                <li>{{ field.label_tag }}{{ field }}</li>
                <li class="error" id="errors_{{ field.name }}">{{ field.errors }}</li>
            {% endfor %}
            </ul>
        </fieldset>
        {% for field in fileform.hidden_fields %}
            {{ field }}
        {% endfor %}
        <input type="hidden" class="hqmedia_upload_id" value="" />
        <input type="submit" value="Upload File" /><input type="button" value="Cancel" class="button jqmClose" />
        <div id="hqmedia_upload_status"></div>
        <div>Upload progress: <span id="hqmedia_progressbar"></span></div>
    </form>
    <div class="uploaded">
        <p>Uploaded Image:</p>
        <p><img src="" alt="recently uploaded image" /></p>
    </div>
</div>
{% endblock %}