{% extends "hqmedia/uploader_base.html" %}
{% load hq_shared_tags %}
{% load i18n %}

{% block title %}{% trans 'Multimedia Map' %}{% endblock title %}

{% block stylesheets %}{{ block.super }}
    <style type="text/css">
        .media-totals-list {
            margin: 0;
            padding: 0;
        }

        .media-totals {
            list-style-type: none;
        }

        .media-type-icon,
        .media-status-icon {
            font-size: 22px;
        }

        .media-status-icon .media-status-warning {
            color: #ff8400;
        }
        .media-status-icon .media-status-ok {
            color: #47b700;
        }
    </style>
{% endblock %}

{% block js %} {{ block.super }}
    <script src="{% static 'style/js/main.js' %}"></script>
    <!-- todo add the media player back in -->
    <script src="{% static 'hqmedia/js/jquery.jplayer.min.js' %}"></script>
    <script src="{% static 'hqmedia/js/hqmedia.reference_controller.js' %}"></script>
    <script src="{% static 'app_manager/js/download_async_modal.js' %}"></script>
{% endblock %}

{% block js-inline %} {{ block.super }}
    <script>
        var reference_controller = new MultimediaReferenceController(
            {{ references|JSON }},
            {{ object_map|JSON }},
            {{ totals|JSON }}
        );
        reference_controller.render();
        $("#multimedia-reference-checker").koApplyBindings(reference_controller);

        $('.preview-media').tooltip();
    </script>
    {% url "download_multimedia_zip" domain app.get_id as media_url%}
    {% include 'app_manager/partials/download_async_modal.html' with element_id='multimedia-zip-modal' %}
    {% include 'app_manager/partials/download_async_modal_inline.html' with element_id='multimedia-zip-modal' download_url=media_url%}
{% endblock %}

{% block page_name %}
    {% trans 'Multimedia Reference Checker' %}
{% endblock %}

{% block page_breadcrumbs %}
    <ol id="hq-breadcrumbs" class="breadcrumb breadcrumb-hq-section">
        <li>
            <a href="{% url "view_app" domain app.get_id %}"><strong>{% trans 'Application' %} "{{ app.name }}"</strong></a>
        </li>
        <li class="active">
            <a href="{% url "hqmedia_references" domain app.get_id %}">
                {% trans 'Multimedia Reference Checker' %}
            </a>
        </li>
    </ol>
{% endblock %}

{% block page_content %}
<div id="multimedia-reference-checker">

    <div class="row">
        <div class="col-sm-7">
            {% if totals|length %}
                <p>
                    {% blocktrans %}
                        You can manage multimedia by uploading files <strong>individually</strong> below.
                    {% endblocktrans %}
                    {% blocktrans %}
                        Alternatively, you can upload files in <strong>bulk</strong> using
                    {% endblocktrans %}
                    <a href="{% url "hqmedia_bulk_upload" domain app.get_id %}">
                        {% trans 'Multimedia Bulk Upload' %}.
                    </a>
                </p>
                <p>
                    <a href="#" class="btn btn-default" data-bind="click: toggleMissingRefs, text: toggleRefsText"></a>
                </p>
            {% else %}
                <div class="alert alert-info">
                    {% blocktrans %}This application references no multimedia.{% endblocktrans %}
                </div>
            {% endif %}
        </div>
        <div class="col-sm-5">
            {% if totals|length %}
            <div class="well">
                <p>
                    <a class="btn btn-primary"
                        href="#multimedia-zip-modal"
                        data-toggle="modal"
                        onclick="download_application_zip()">
                        <i class="fa fa-download"></i> {% trans 'Download ZIP' %}
                    </a>
                </p>
                <ul class="media-totals-list" data-bind="foreach: totals">
                    <li class="media-totals" data-bind="event: {refMediaAdded: $parent.incrementTotals}">
                        <i data-bind="attr: {class: icon_class}"></i>
                        <span data-bind="text: matched"></span>/<span data-bind="text: totals"></span>
                        <span data-bind="text: media_type"></span> {% trans 'References' %}
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    {% if totals|length %}

    <article class="panel panel-default" id="mm-reference-list">
    <!-- ko foreach: modules -->
        <div class="panel-heading">
            <h3 class="panel-title">
                <a class="accordion-toggle"
                     data-toggle="collapse"
                     data-parent="#mm-reference-list"
                     data-bind="attr: { href: '#' + id }">
                    <i class="fa fa-angle-double-down"></i> <span data-bind="text: name"></span>
                </a>
            </h3>
        </div>
        <div class="panel-body collapse in"
             data-bind="attr: { id: id }">
            <div class="accordion-inner">
                <p>{% trans 'Showing all media in ' %} '<span data-bind="text: name"></span>'.</p>
                <div class="accordion" data-bind="attr: { id: id + '-ModuleRefs' }">
                    {% include "hqmedia/partials/reference_table.html" with ref_type="active_menu_references" show_refs="showMenuRefs" parent_accordion="ModuleRefs" this_accordion="ModuleMenuRefs" title="Menu References" %}
                </div>
                <!-- ko foreach: forms -->
                    <div data-bind="visible: showForm">
                        <h4>{% trans 'Form' %}: <span data-bind="text: name"></span></h4>
                        <div class="accordion" data-bind="attr: { id: id + '-FormRefs' }">
                            {% include "hqmedia/partials/reference_table.html" with ref_type="active_menu_references" show_refs="showMenuRefs" parent_accordion="FormRefs" this_accordion="FormMenuRefs" title="Menu References" %}
                            {% include "hqmedia/partials/reference_table.html" with ref_type="active_images" show_refs="showImageRefs" parent_accordion="FormRefs" this_accordion="FormImageRefs" title="Image References" %}
                            {% include "hqmedia/partials/reference_table.html" with ref_type="active_audio" show_refs="showAudioRefs" parent_accordion="FormRefs" this_accordion="FormAudioRefs" title="Audio References" %}
                            {% include "hqmedia/partials/reference_table.html" with ref_type="active_video" show_refs="showVideoRefs" parent_accordion="FormRefs" this_accordion="FormVideoRefs" title="Video References" %}
                        </div>
                    </div>
                <!-- /ko -->
            </div>
        </div>
    <!-- /ko -->
    </article>

    <script type="text/html" id="image-preview-template">
        <img data-bind="attr: { src: thumb_url }" />&nbsp;&nbsp;
        <a target="_blank"
           class="btn btn-default preview-media"
           data-bind="attr: { href: url }"
           data-toggle="tooltip" data-title="{% trans 'Opens image in new tab' %}.">{% trans 'View Larger' %}</a>
    </script>

    <script type="text/html" id="audio-preview-template">
        <a target="_blank"
           class="btn btn-default preview-media"
           data-bind="attr: { href: url }"
           data-toggle="tooltip" data-title="{% trans 'Opens file in new tab' %}.">{% trans 'Hear Audio' %}</a>
    </script>

    <script type="text/html" id="video-preview-template">
        <a target="_blank"
           class="btn btn-default preview-media"
           data-bind="attr: { href: url }"
           data-toggle="tooltip" data-title="{% trans 'Opens file in new tab' %}.">{% trans 'View Video' %}</a>
    </script>

    {% for uploader in uploaders %}
        {% include 'hqmedia/partials/multimedia_uploader.html' %}
    {% endfor %}

    <div id="jquery_jplayer"></div>
    {% endif %}
</div>

{% endblock %}
