{% extends "hqwebapp/centered.html" %}
{% load hq_shared_tags %}
{% load i18n %}

{% block js %} {{ block.super }}
    <script type="text/javascript" src="{% static 'hqmedia/js/swfobject.js' %}"></script>
    <script type="text/javascript" src="{% static 'hqmedia/yui/3.9.1/yui/yui-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'hqmedia/js/hqmedia.upload_controller.js' %}"></script>
{% endblock %}

{% block js-inline %} {{ block.super }}
    <script type="text/javascript">
        var uploaders_available = {
            'bulk': HQMediaBulkUploadController,
            'file': HQMediaFileUploadController
        };
        {% for uploader in uploaders  %}
            var {{ uploader.name }}_controller = new uploaders_available['{{ uploader.uploader_type }}'] (
                '{{ uploader.name }}',
                '{{ uploader.media_type }}',
                {
                    fileFilters: {{ uploader.supported_files|JSON }},
                    uploadURL: '{{ uploader.destination }}',
                    processingURL: '{{ uploader.processing_url }}',
                    swfURL: '{% static 'hqmedia/yui/assets/flashuploader.swf' %}',
                    isMultiFileUpload: {{ uploader.is_multi_file|yesno:"true,false" }},
                    {% if uploader.queue_template %}queueTemplate: '{% filter escapejs %}{% include uploader.queue_template %}{% endfilter %}',{% endif %}
                    {% if uploader.status_template %}statusTemplate: '{% filter escapejs %}{% include uploader.status_template %}{% endfilter %}',{% endif %}
                    {% if uploader.details_template %}detailsTemplate: '{% filter escapejs %}{% include uploader.details_template %}{% endfilter %}',{% endif %}
                    {% if uploader.errors_template %}errorsTemplate: '{% filter escapejs %}{% include uploader.errors_template %}{% endfilter %}',{% endif %}
                    {% if uploader.existing_file_template %}existingFileTemplate: '{% filter escapejs %}{% include uploader.existing_file_template %}{% endfilter %}',{% endif %}
                    uploadParams: {{ uploader.upload_params|JSON }},
                    licensingParams: {{ uploader.licensing_params|JSON }}
                });
            {{ uploader.name }}_controller.init();
        {% endfor %}
    </script>
{% endblock %}
