<table>
    <thead>
        <th>Id</th>
        <th>Something Else</th>
        <th>Log ID</th>
        <th>Method</th>
        <th>URL</th>
        <th>Date and time</th>
        <th>IP Address</th>
        <th>User</th>
    </thead>
    {% for download in downloads %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>id!{{download.id}}</td>
            <td>{{download.type}}</td>
            {% with download.log as request_log %}
                {% include "requestlogger/partials/single_log_cells.html" %}
            {% endwith %}
        </tr>
    {% endfor %}
</table>