/* these are the dynamic chart menus */

div.submenu {
    margin-left: 0px;
    height: 25px;
}



.chartblock {
}

.chartblock ul {
    list-style:none;
}

.chartblock h1 {
    font-style:bold;
    font-size:13px;
}

.chartblock h3 {
    font-style:bold;
    font-size:11px;
}


.chartblock h4{
    float:left;
}

.chartblock li {
    float:left;
    padding-left:5px;
}

/* This line cancels out the default 100% with defined by the blueprint.
   We don't want our legend looking ridiculously wide. */
.legend table {
    width: inherit;
}

/* This can be used to change the size of the x-axis labels, but this 
   really needs to be done on a chart-by-chart basis, so right now it
   does nothing */
.tickLabel { font-size: 100% }
