{% extends base_template %}
{% load i18n %}

{% block title %}
    {% trans "Home-Based Care Monthly Report" %}
{% endblock %}

{% block content %}
    <table>
    <thead>
    <tr>
        <th>New</th>
        <th>New and Continuing</th>
        <th>HIV+</th>
        <th>HIV-</th>
        <th>HIV?</th>
        <th>CTC with ARVs</th>
        <th>CTC, no ARVs</th>
        <th>No CTC</th>
        <th>Deaths</th>
        <th>Transfers</th>
        <th>Continuing</th>
        <th>No Need</th>
        <th>Opted Out</th>
    </tr>
    </thead>
    <tr><td>{{ p.new }}</td>
        <td>{{ p.continuing|add:p.new }}</td>
        <td>{{ p.hiv_pos }}</td>
        <td>{{ p.hiv_neg }}</td>
        <td>{{ p.hiv_unk }}</td>
        <td>{{ p.ctc_arv }}</td>
        <td>{{ p.ctc_non_arv }}</td>
        <td>{{ p.ctc_no_reg }}</td>
        <td>{{ p.deaths }}</td>
        <td>{{ p.transfers }}</td>
        <td>{{ p.continuing }}</td>
        <td>{{ p.no_need }}</td>
        <td>{{ p.opted_out }}</td>

    </tr>
    </table>
{% endblock %}

