{% extends "reports/async/default.html" %}
{% load i18n %}

{% comment %}

    The styles are included in each element rather than in the <style> tag to improve consistency for the emailed HTML report.

{% endcomment %}

{% block reportcontent %}
    <table class="datatable table table-striped">
        <thead>
            <tr>
                <th style="white-space: nowrap;">Patient ID</th>
                <th>Total No Response</th>
                <th>Total Indicated</th>
                <th>Total Pending</th>
                {% for date in report_data.date_list %}
                    <th>{{ date }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% if not report_data.data.items %}
            <tr>
                <td colspan="4">No Data</td>
                <td colspan="{{ report_data.date_list|length }}"></td>
            </tr>
        {% endif %}
        {% for id, info in report_data.data.items %}
        <tr>
            <td style="white-space: nowrap;">{{ info.recipient.name }}</td>
            <td style="{% if info.total_no_response > 0 %}background-color: #F33; font-weight: bold;{% endif %}">{{ info.total_no_response }}</td>
            <td >{{ info.total_indicated }}</td>
            <td >{{ info.total_pending }}</td>
            {% for date in info.dates %}
                {% if date.not_sent %}
                    <td>not indicated</td>
                {% else %}
                    {% if date.ok %}
                        <td>OK</td>
                    {% else %}
                        {% if date.no_response %}
                            <td style="background-color: #F33;">No Response</td>
                        {% else %}
                            <td>pending</td>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
