.navbar {
    margin-top: .2em;
    margin-bottom: .3em;
}

.navbar .brand {
    line-height: 1em;
    padding: .2em .3em .15em .6em;
}

.navbar .page-title {
    line-height: .85em;
    float: left;
    display: block;
    font-size: 20px;
    font-weight: 200;
    color: @navbarBrandColor;
    text-shadow: 0 1px 0 @navbarBackgroundHighlight;
}

.navbar .nav {
    li > a{
        font-size: .6em;
        padding: 0.45em 1em 0.4em;
    }
}