<form action="#" class="form-horizontal" method="post">
  <fieldset>
    <legend>Basic Information</legend>
    <div class="form-group">
      <label for="id_normal_input" class="col-xs-12 col-sm-4 col-md-4 col-lg-2 control-label">
        Normal Input
      </label>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 controls">
        <input type="text" name="normal_input" class="form-control" id="id_normal_input" />
      </div>
    </div>
    <div class="form-group">
      <label for="id_hint_input" class="col-xs-12 col-sm-4 col-md-4 col-lg-2 control-label">
        Hint Text
      </label>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 controls">
        <input type="text" name="hint_input" class="form-control" placeholder='This is a hint' id="id_hint_input" />
      </div>
    </div>
    <div class="form-group">
      <label for="id_disabled_input" class="col-xs-12 col-sm-4 col-md-4 col-lg-2 control-label text-muted">
        Disabled Input
      </label>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 controls">
        <input type="text" name="disabled_input" class="form-control" disabled id="id_disabled_input" />
      </div>
    </div>
    <div class="form-group has-error">
      <label for="id_error_input" class="col-xs-12 col-sm-4 col-md-4 col-lg-2 control-label">
        Error Input
      </label>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 controls">
        <input type="text" name="error_input" class="form-control" id="id_error_input" />
        <span class='help-block'>This is an error message.</span>
      </div>
    </div>
  </fieldset>
  <div class="form-actions">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-sm-offset-4 col-md-offset-4 col-lg-offset-2 controls">
      <button class="btn btn btn-primary" type="submit">Save</button>
      <a href="#" class="btn btn-default">Cancel</a>
    </div>
  </div>
</form>
