<div id="inline-edit-example">
  <inline-edit data-apply-bindings="false" params="
        value: text,
        url: url,
        rows: 1,
        placeholder: gettext('Click here to add a comment'),
        errorMessage: gettext('Error updating comment. Please try again.'),
    "></inline-edit>
</div>

<script>
  $(function () {
    var inlineEditExample = function () {
      var self = {};

      self.text = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.';

      // This should be a real url, either hard-coded in the django template or registered with the
      // registerurl template tag and then feteched here using initial_page_data.js's reverse.
      self.url = '';

      return self;
    };

    $("#inline-edit-example").koApplyBindings(inlineEditExample());
  });
</script>
