{% extends login_template %}

{#################################################################################################################}

{% block title %}
password change complete
{% endblock title %}

{#################################################################################################################}

{% block login-content %}
<div class="row">
    <div class="page-header">
        <h1>Password Reset Successful</h1>
    </div>
    <p>Your password was successfully changed.</p>
    <a href="{% url "login" DOMAIN_TYPE %}" class="btn btn-primary">Sign In</a>
</div>
{% endblock %}

{#################################################################################################################}
