{% extends login_template %}

{#################################################################################################################}

{% block title %}Password Reset Complete{% endblock title %}

{#################################################################################################################}

{% block login-content %}
    {% include 'login_and_password/partials/request_complete.html' %}
{% endblock %}

{#################################################################################################################}
