
{% load i18n %}{% autoescape off %}
{% trans "You're receiving this email because you requested a password reset" %}
{% blocktrans %}for your user account at {{ site_name }}{% endblocktrans %}.
{# domain and site_name come from the contrib.sites app (django_sites table). Must set up your site name properly for this email to have proper links in it. OR, you could just edit this template directly #}
{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.username }}

{% trans "Your domains, in case you've forgotten:" %}{%for x in user.domain_membership.all%}{%if not forloop.first%},{%endif%} {{ x.domain }}{% endfor %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
