{% extends login_template %}

{#################################################################################################################}

{% block title %}
     password reset{% endblock title %}

{#################################################################################################################}


{#################################################################################################################}
      
{% block login-content %}
    <h1>Reset password</h1>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    
    <form name="form" method="post" action="{% url password_reset_email %}">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="non_field_errors">
            {{ form.non_field_errors }}
          </div>
        {% endif %}
        <table>
            {% for field in form.visible_fields %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                </tr>
                {% if field.errors %}
                    <tr>
                        <td colspan="2" class="field_error">{{field.errors}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>

    </form>


{% endblock %}