{% extends base_template %}
{% load i18n %}
{% load mainreport_tags %}
{% block javascripts %}
    <script type="text/javascript" src="{{MEDIA_URL}}/graphing/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/hq/javascripts/hideShow.js"></script>
    <!--[if IE]><script language="javascript" type="text/javascript" src="{{MEDIA_URL}}/graphing/flot/excanvas.min.js"></script><![endif]-->
    
    
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/graphing/superfish/superfish.css" media="screen">    
    <script type="text/javascript" src="{{MEDIA_URL}}/graphing/superfish/hoverIntent.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}/graphing/superfish/superfish.js"></script>
    <script type="text/javascript">
		// initialise plugins
		jQuery(function(){
			jQuery('ul.sf-menu').superfish();
		});
	</script>    
    {{ form.media }}
{% endblock %} 
{% block page_stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/graphing/stylesheets/charts.css" />
{% endblock %}
{% block content %}
	
    <div class="submenu">
	<ul class="sf-menu">
		{% include "graphing/inline_graphgroup.html" %}	
	</ul>
    </div>
	{% if thegraph.has_errors %}  
	   <h3 style="color:red; text-align: left; float: left;">Sorry, something went wrong displaying that chart.  Please tell your administrator about this!</h3>
    {% else %}
        {% if thegraph.time_bound  %}
            <br><p>{% get_daterange_links_basic "" thegraph.date_range_list %}</p><br>
        {% endif %}
        <a style="float:right;padding-top:15px;padding-right:20px;" href="{%url graphing.views.view_graph thegraph.id %}?bare&{{ request.META.QUERY_STRING }}">Printable View</a>
        <a style="float:right;padding-top:15px;padding-right:20px;" href="{%url graphing.views.view_graph thegraph.id %}?data&{{ request.META.QUERY_STRING }}">Data View</a>
        <a style="float:right;padding-top:15px;padding-right:20px;" href="{%url graphing.views.view_graph thegraph.id %}?csv&{{ request.META.QUERY_STRING }}">Download Data</a>
        <p>
        {% with thegraph as chart %}
		   {% include "graphing/inline_rawgraph.html" %}
	    {% endwith %}
        </p>
        <p></p><p><br><br><div class="js_link" onclick="hideShow('div.graph_data')">-- show/hide data --</div></p> 
        <div class="graph_data" style="display:none;">
            <br>{% include "graphing/partials/graph_data_table.html" %}
        </div>
    {% endif %}
{%endblock%}
    
