#case-crumbs > .breadcrumb > .active {
    font-weight: 600;
    color: inherit;
}

#case-details > div > .breadcrumb > .active {
    font-weight: 600;
    color: inherit;
}

/* Need to override this http://stackoverflow.com/questions/27638228/bootstrap-glyphicons-not-showing */
/* todo don't use glyphicons */
#case-list-search-button {
    font-size: 4px;
}


