.webforms {
  max-width: 800px;
  font-family: sans-serif;
}

#sync-container {
  padding-top: 9px;

  #sync-button {
    margin-bottom: 3px;
    margin-top: 3px;
  }
}

/* Override default nprogress bar color to match CommCareHQ */
#nprogress {
  .bar {
    background: #4aba32;
    height: 4px;
  }

  .peg {
    box-shadow: 0 0 10px #004ebc, 0 0 5px #004ebc;
  }
}

video {
  max-width: 400px;
}

.ix {
  display: none;
}

.widget-container {
  position: relative;
}

.widget {
  margin-right: 20px;

  button p {
    margin-bottom: 0;
  }
}

.dirty .widget {
    background-color: lightblue;
}

.loading {
  position: absolute;
  right: 0px;
  line-height: 30px;
  font-size: 18px
}

.error-message {
  font-weight: bold;
}

input:invalid {
  color: #b94a48;
  border-color: #b94a48;
}

.required .caption::before,
.required-group .gr-header .caption::before {
  content: '*';
  font-weight: bold;
  color: #c0392b;
  margin: 0 3px;
  float: left;
}

.caption {
  font-weight: normal;
}

.map {
  width: 100%;
  height: 250px;
  background: #eee;
  max-width: none !important;
  isolation: isolate;
}

.widget button p {
  margin-bottom: 0;
}

.widget button h1 {
  margin-top: 7px;
  margin-bottom: 5px;
}

.widget button h2 {
  margin-top: 6.5px;
  margin-bottom: 4.5px;
}

.widget button h3 {
  margin-top: 6px;
  margin-bottom: 4px;
}

.widget button h4 {
  margin-top: 5.5px;
  margin-bottom: 3.5px;
}

.coordinate {
  font-weight: bold;
  width: 8em;
}

.wait {
  margin: auto;
  padding-top: 60px;
  max-width: 200px;
  color: #bbb;
  font-size: 24pt;
  line-height: 28pt;
}
