#opm-logo {
    position: absolute;
    top: 20px;
    right: 20px;
}
#cc-logo {
    position: absolute;
    top: 20px;
    left: 20px;
}
#opm-report {
    min-height: 200px;
}
#opm-report h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 70px;
}

#opm-report h2 {
    font-size: 45px;
    text-align: center;
}

#opm-report-print {
    margin: 0px 30px;
    page-break-after: always;
}
#opm-report-print h1 {
    text-align: center;
    margin: 60px;
}
#opm-report-print h2 {
    text-align: center;
    margin: 40px;
}

#opm-logo-inline {
    display: inline;
    top: 20px;
    right: 20px;
}
