ul.tabs {
    float: left;
    list-style-type: none;
    font-size: 150%;
    padding-left: 0;
}

.tabs li 
{
    display: inline;
    padding-right: 20px;
}

.tabs li.active
{
    font-weight:bold;
}
        
tr.archived td {
    color:grey;
}

tr.inbox td {
    font-weight:bold;
}

#emailform textarea {
    height: 150px;
    width: 300px;
}