{% load i18n %}
<form data-chart="{{ chart_name }}" class="form-inline pull-right reload-graph-form">
    <label for="startdate" class="sub-label">{% trans 'From' %}</label>
    <input type="text" id="startdate" name="startdate" class="date-picker input-small">
    <label for="enddate" class="sub-label">{% trans 'To' %}</label>
    <input type="text" id="enddate" name="enddate" class="date-picker input-small">
    <button type="submit" class="btn btn-info">{% trans "Reload Data" %}</button>
</form>
