
#breadcrumb-region ol.breadcrumb {
  background-color: @cc-brand-mid;
  color: white;
  .border-top-radius(0);
  .border-bottom-radius(0);
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .box-shadow(0 0 5px 2px rgba(0,0,0,.3));
  border: none;
  margin-top: -1px;

  .breadcrumb-text {
    &:before {
      content: '\f054';
      font-family: 'FontAwesome';
      padding: 0 6px 0 12px;
      color: #cccccc;
      font-size: 12px;
      vertical-align: top;
      line-height: 28px;
    }
  }
  .breadcrumb-text:first-child {
    &:before {
      display: none;
    }
  }
}
