.form-container {
  background-color: white;
  .box-shadow(0 0 10px 2px rgba(0,0,0,.1));
  margin-bottom: 2rem;
  margin-top: 20px;
  font-size: 16px;

  .page-header {
    padding-bottom: 30px;
  }
  .loading {
    right: 20px;
  }
  .controls {
    padding-right: 25px;
    padding-top: 3px;
  }
  .form-actions {
    margin-top: 30px;
    background-color: lighten(@cc-brand-hi, 10);
    .border-bottom-radius(0);
  }

  .form-group {
    padding-left: 25px;
    padding-right: 20px;
  }

}

.form-container .form-actions .btn {
  font-size: 20px;
  padding: 13px 24px;
  .transition(all .5s);
}
