{% extends "reports/async/tabular.html" %}
{% load hq_shared_tags %}
{% load report_tags %}
{% load i18n %}

{% block pretable %}
<link rel="stylesheet" href="{% static "opm/css/report.css" %}">
{% if not report.needs_filters %}
    {% if rendered_as == 'print' %}
        <div id="opm-report-print">
            <div>{% now "d M Y" %}</div>
    {% else %}
        <div id="opm-report">
    {% endif %}
            <img id="cc-logo" class="media-object"
            src="{% static 'hqstyle/images/commcare-logo-small.png' %}">
            <div class="pull-right">
                <img id="opm-logo-inline" class="media-object"
                src="{% static 'opm/img/logo.jpg' %}">
            </div>
            <h1 class="media-heading">{{ report.report_title }}</h1>
            <h2 class="media-heading" style="text-align: center"> Bihar Child Support Programme / बिहार बाल समर्थन कार्यक्रम</h2>
            <h4 class="media-heading">
                {% for subtitle in report.report_subtitles %}
                <br/><small>{{ subtitle }}</small>
                {% endfor %}
            </h4>
        </div>
{% endif %}
{% endblock %}

{% block posttable %}
    {% if rendered_as == 'print' %}
        <div style="width: 100%;">
            <div class="media-heading" style="display: block; width: 80%; margin: 0 auto;">
                <div style="width: 30%; float: left;height: 100px; border: 1px solid; margin: 40px auto;">{% trans "Prepared and verified by:" %}</div>
                <div style="width: 30%; float: right;height: 100px; border: 1px solid; margin: 40px auto;">{% trans "Approved by:" %}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}
