{% extends "reports/async/tabular.html" %}
{% load hq_shared_tags %}
{% load report_tags %}
{% load i18n %}

{% block pretable %}
<link rel="stylesheet" href="{% static "opm/css/report.css" %}">
{% if not report.needs_filters %}
    {% if rendered_as == 'print' %}
        <div id="opm-report-print">
            <div>{% now "d M Y" %}</div>
    {% else %}
        <div id="opm-report">
    {% endif %}
            <img id="cc-logo" class="media-object"
            src="{% static 'hqstyle/img/commcare-logo-small.png' %}">
            <h1 class="media-heading">{{ report.report_title }}</h1>
            <div class="pull-right">
                <img id="opm-logo" class="media-object pull-right"
                src="{% static 'opm/img/logo.jpg' %}">
            </div>
            <h4 class="media-heading">
                {% for subtitle in report.report_subtitles %}
                <br/><small>{{ subtitle }}</small>
                {% endfor %}
            </h4>
        </div>
{% endif %}
{% endblock %}

{% block js-inline %} {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            var reportContent = $('#report-content');

            // a bit hackish, but allows to display table content with sticky headers and vertical
            // and horizontal content scrolls, without need to scroll entire page
            $('.DTFC_LeftBodyWrapper').css('height', reportContent.height());
            $('.dataTables_scrollBody').css('height', reportContent.height());
        });

        $(document).ajaxStop(function () {
            // Solution to fix innaprobiate widths of fixed columns
            var widths = [];

            // first fix widths on tbody ...
            $('.DTFC_LeftBodyWrapper thead th').each(
                function(){
                    $(this).css('width', 100);
            });

            // ... now save the actual widths on array
            $('.DTFC_LeftBodyWrapper thead th').each(
                function(){
                    widths.push($(this).width());
            });

            // ... and now update widths on thead
            $('.DTFC_LeftHeadWrapper thead th').each(
                function(i, val){
                    $(this).css('width', widths[i]);
            });

            $('.dataTables_scrollHead').css('width', '100%');
            $('.dataTables_scrollBody').css('width', '100%');
            var elements = $('tfoot td').slice(0,2);
            var $tfoot = $('<tfoot></tfoot>');
            for (var idx = 0; idx < elements.length; idx++) {
                $tfoot.append($(elements[idx]).detach());
            }
            $($('.DTFC_Cloned')[1]).append($tfoot);
        });

    </script>

{% endblock %}