{% extends "reports/base_template.html" %}
{% load hq_shared_tags %}
{% load report_tags %}
{% load i18n %}

{% block stylesheets %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "m4change/css/reports.css" %}">
{% endblock %}

{% block js %}{{ block.super }}
    <script src="{% static 'case/js/cheapxml.js' %}"></script>
    <script src="{% static 'case/js/casexml.js' %}"></script>
    <script src="{% static 'm4change/javascripts/daterangepicker.js' %}"></script>
    <script src="{% static 'm4change/javascripts/mcct_project_review_page_management.js' %}"></script>
    <script src="{% static 'm4change/javascripts/main.js' %}"></script>
{% endblock %}
