<script type="text/template" id="case-list-config-body">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Case list configuration</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form class="header-visibility-form">
              <% _.each(headers, function(header, index) { %>
                  <div class="checkbox">
                      <label>
                          <input
                            type="checkbox"
                              class="header-checkbox"
                              value="<%= index %>"
                              data-index="<%= index %>"
                              <%= headerVisible[index] ? 'checked' : '' %> >
                          <%= header %>
                      </label>
                  </div>
              <% }); %>
            </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary js-save" data-bs-dismiss="modal">Save</button>
      </div>
  </div>
</script>
