<button id="case-list-config-button" class="btn">
    <i class="fa fa-cog" aria-hidden="true"></i>
</button>

<div class="modal fade" id="case-list-config-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Case list configuration</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>

              </form>
            </div>
            <div class="modal-footer">
              <button id="modal-save" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
  </div>
