<script type="text/template" id="case-view-item-template">
  <% if (isMultiSelect ) { %>
    <td class="module-case-list-column-checkbox"><input type="checkbox" class="select-row-checkbox"/></td>
  <% } %>
  <% _.each(data, function(datum, index) { %>
    <% if (!(styles[index].widthHint === 0) && headerModel.isVisible(index)) { %>
      <% if (styles[index].displayFormat === 'Image') { %>
        <td class="module-case-list-column"><img alt="<%- altText[index] %>" class="module-icon" src="<%- resolveUri(datum) %>"/></td>
      <% } else if (styles[index].displayFormat === 'ClickableIcon') { %>
        <td class="module-case-list-column">
          <button class="clickable-icon">
            <img alt="<%- altText[index] %>" class="module-icon" src="<%- resolveUri(datum) %>"/>
            <i class="fa fa-spin fa-spinner d-none"></i>
          </button>
        </td>
      <% } else if (styles[index].displayFormat === 'Markdown') { %>
        <td class="module-case-list-column webapp-markdown-output"><%= renderMarkdown(datum) %></td>
      <% } else if (styles[index].displayFormat === 'Graph') { %>
        <td class="module-case-list-column"><iframe srcdoc="<%- datum %>" height="300" width="300"></iframe></td>
      <% } else { %>
        <td class="module-case-list-column"><%- datum %></td>
      <% } %>
    <% } %>
  <% }); %>
</script>
