{% extends 'reports/standard/base_template.html' %}
{% load url from future %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}

{% block title %}Manage Billing Account{% endblock %}

{% block page-title %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'accounting_default' %}"><strong>Accounting</strong></a> <span class="divider">&gt;</span>
    </li>
    <li>
        {{ parent_link|safe }} <span class="divider">&gt;</span>
    </li>
    <li class="active">
        <a href="#">{{ view_title }} <small>{{ billing_range }}</small></a>
    </li>
    <li>
        <a href="">Manage Billing Account <small>{{ account_name }}</small></a>
    </li>
</ul>
{% endblock %}

{% block main_column %}
    <div class="form-block">
        {% crispy form %}
    </div>

    <div class="form-block">
        <div>Date Created: {{ account.date_created }}</div>
        <div>Account Type: {{ account.account_type }}</div>
        <div>Current Account Balance: {{ account.balance }}</div>
    </div>
{% endblock %}

{% block modals %} {{ block.super }}

{% endblock %}
