{% extends 'reports/standard/base_template.html' %}
{% load url from future %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Manage Billing Account{% endblock %}

{% block page-title %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'accounting_default' %}"><strong>Accounting</strong></a> <span class="divider">&gt;</span>
    </li>
    <li>
        {{ parent_link|safe }} <span class="divider">&gt;</span>
    </li>
    <li class="active">
        <a href="#">{{ view_title }} <small>{{ billing_range }}</small></a>
    </li>
    <li>
        <a href="">Manage Billing Account <small>{{ account_name }}</small></a>
    </li>
</ul>
{% endblock %}

{% block main_column %}

    <ul class="nav nav-tabs" id="user-settings-tabs">
        <li><a href="#account" data-toggle="tab">{% trans "Account" %}</a></li>
        <li><a href="#subscriptions" data-toggle="tab">{% trans "Subscriptions" %}</a></li>
        <li><a href="#credits" data-toggle="tab">{% trans "Credits" %}</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="account">
            <form class="form form-horizontal" method="post">
                {% crispy form %}
            </form>
        </div>

        <div class="tab-pane" id="subscriptions">
            <div>
                <a href="{% url 'new_subscription' account.id %}" class="btn btn-primary" data-toggle="modal" style="margin-left:2px">
                    <i class="icon-white icon-plus">
                        Add New Subscription
                    </i>
                </a>
            </div>

            <div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>{% trans "Project Space" %}</th>
                            <th>{% trans "Software Plan" %}</th>
                            <th>{% trans "Start Date" %}</th>
                            <th>{% trans "End Date" %}</th>
                            <th>{% trans "Currently Active" %}</th>
                            <th>{% trans "Last Invoice" %}</th>
                            <th>{% trans "Delay Invoicing Until" %}</th>
                            <th>{% trans "Creditable Line Items" %}</th>
                            <th>{% trans "Edit" %}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: subscription_list">
                        {% for subscription in subscription_list %}
                            <tr>
                                <td>{{ subscription.subscriber.domain }}</td>
                                <td>{{ subscription.plan.plan.name }}</td>
                                <td>{{ subscription.date_start }}</td>
                                <td>{{ subscription.date_end }}</td>
                                <td>{{ subscription.is_active }}</td>
                                <td>DATA MISSING</td>
                                <td>{{ subscription.date_delay_invoicing }}</td>
                                <td></td>
                                <td><a href="../../subscriptions/{{ subscription.id }}" class="btn">Edit</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane" id="credits">
            Credits go here
        </div>
    </div>

{% endblock %}

{% block modals %} {{ block.super }}

{% endblock %}
