- name: "Auto Update Frequency"
  description: "How often CommCare mobile should attempt to check for a new, released application version."
  id: "cc-autoup-freq"
  values:
    # [value, value name]
    - ['freq-never', 'Never']
    - ['freq-daily', 'Daily']
    - ['freq-weekly', 'Weekly']
  default: "freq-never"
  values_txt: "After login, the application will look at the profile's defined reference for the authoritative location of the newest version. This check will occur with some periodicity since the last successful check based on this property. freq-never disables the automatic check."
  since: "1.3"
  force: true

- name: "Load video files lazily"
  description: "Make OTA app updates skip download for video files at app update time."
  id: "lazy-load-video-files"
  toggle: LAZY_LOAD_MULTIMEDIA
  values:
    - ['true', 'Yes']
    - ['false', 'No']
  default: "false"
  since: "2.50"
  force: true

- disabled: true
  name: "Purge Frequency"
  description: "How often the phone should attempt to purge any cached storage which may have expired"
  id: "purge-freq"
  values:
    - ['0', 'Whenever Possible']
    - ['1', 'Daily']
    - ['7', 'Once a Week']
    - ['15', 'Twice a Month']
    - ['31', 'Once a Month']
  default: "0"
  values_txt: "Any positive integer. Represents period of purging in days."
  force: true

- name: "Days for Review"
  description: "Amount of time previously submitted forms remain accessible in the CommCare app."
  id: "cc-days-form-retain"
  values:
    - ['1', 'Just One Day']
    - ['7', 'One Week']
    - ['31', 'One Month']
    - ['92', 'Three Months']
    - ['365', 'One Year']
    - ['-1', 'Forms are Never Removed']
  default: "-1"
  values_txt: "Any positive integer. Represents period of purging in days." 
  since: "2.8"
  force: true

- name: "Logging Enabled"
  description: "Whether logging of incidents should be activated on the client."
  id: "logenabled"
  values:
    - ['Enabled', 'Enabled']
    - ['Disabled', 'Disabled']
  default: "Enabled"
  group: "log"
  force: true

- name: "Weekly Log Sending Frequency"
  description: "What kind of log transmission the phone should attempt on a weekly basis (submitted to PostURL)"
  id: "log_prop_weekly"
  requires_txt: "Requires logging to be Enabled"
  requires: "{properties.logenabled}='Enabled'"
  commcare_default: "log_never"
  default: "log_short"
  values:
    - ['log_never', 'Never']
    - ['log_short', 'Short']
    - ['log_full', 'Full']
  group: "log"
  force: true

- name: "Daily Log Sending Frequency"
  description: "What kind of log transmission the phone should attempt on a daily basis (submitted to PostURL)"
  id: "log_prop_daily"
  requires_txt: "Logging to be Enabled"
  default: "log_never"
  requires: "{properties.logenabled}='Enabled'"
  values:
    - ['log_never', 'Never']
    - ['log_short', 'Short']
    - ['log_full', 'Full']
  group: "log"
  force: true

- name: "CommCare Home Screen Logo"
  description: "Choose an image to replace the default CommCare Home Screen logo"
  id: "logo_android_home"
  widget: "image_uploader"
  privilege: "commcare_logo_uploader"
  supports_linked_app: true
  force: true

- name: "Login Logo"
  description: "Upload a file to serve as a login logo on Android phones"
  id: "logo_android_login"
  widget: "image_uploader"
  privilege: "commcare_logo_uploader"
  supports_linked_app: true
  force: true

- name: "Demo Logo"
  description: "Upload a file to serve as a demo logo on Android phones"
  id: "logo_android_demo"
  widget: "image_uploader"
  privilege: "commcare_logo_uploader"
  supports_linked_app: true
  force: true

- name: "Web Apps Logo"
  description: "Upload a file to serve as an app logo in Web Apps"
  id: "logo_web_apps"
  widget: "image_uploader"
  privilege: "commcare_logo_uploader"
  supports_linked_app: true
  force: true

- disabled: true
  name: "Server User Registration"
  description: "Whether users registered on the phone need to be registered with the submission server."
  id: "user_reg_server"
  values:
    - ['required', 'Required']
    - ['skip', 'Skip']
  values_txt: "Set to skip if your deployment does not require users to register with the server. Note that this will likely result in OTA Restore and other features being unavailable."
  default: "required"
  force: true

- name: "Auto-Sync Frequency"
  description: "Automatically trigger a two-way sync on a regular schedule"
  id: "cc-autosync-freq"
  values:
    - ['freq-never', disabled]
    - ['freq-daily', 'Daily']
    - ['freq-weekly', 'Weekly']
  default: "freq-never"
  values_txt: "When auto-sync is enabled CommCare will attempt to submit forms and synchronize the user's data after logging in with the frequency chosen."
  since: "2.0"
  force: true

- disabled: true
  name: "OTA Restore Tolerance"
  description: "Whether OTA Restore is tolerant of failures, ambiguity, duplicate registrations, etc (and proceeds as best it can), or whether it fails immediately in these cases."
  id: "restore-tolerance"
  values:
    - ['strict', 'Strict']
    - ['loose', 'Loose']
  default: "loose"
  force: true

- disabled: true
  id: "users"
  type: "features"
  name: "No Users Mode"
  description: "Whether to show the user login screen"
  values:
    - ['true', 'Off']
    - ['false', 'On']
  default: "true"
  group: "sense"
  widget: "bool"
  force: true

- disabled: true
  name: "Loose Media Mode"
  description: "Whether CommCare should search for alternative formats of incompatible media files."
  id: "loose_media"
  values:
    - ['yes', 'Yes']
    - ['no', 'No']
  default: "no"
  values_txt: "When loose media mode is set to yes, CommCare will search for alternative media formats for any media that it cannot play. If CommCare attempts to play a file at jr://file/media/prompt_one.mp3 and mp3 files are not supported, the media directory will be searched for other files named prompt_one with alternative extensions which may be supported, for instance prompt_one.wav, and play that instead."
  since: "1.3"
  force: true

# If cc-content-valid=yes it means the content has already been validated and should not be validated againmenu_
- name: "Multimedia Validation"
  description: "Whether CommCare should validate that all external multimedia is installed before letting the user run the app."
  id: "cc-content-valid"
  values:
    - ['yes', 'No Validation']
    - ['no', 'Validate Multimedia']
  default: "yes"
  values_txt: "If multimedia validation is enabled, CommCare will perform an additional check after installing your app to ensure that all of your multimedia is present on the phone before allowing the app to run. It is recommended for deployment, but will make your app unable to run if multimedia is enabled."
  since: "2.0"
  force: true

- name: "Unsent Form Limit"
  description: "Number of unsent forms on phone before triggering warning text"
  id: "unsent-number-limit"
  values:
    - ['5', '5']
    - ['10', '10']
    - ['20', '20']
    - ['40', '40']
    - ['80', '80']
    - ['160', '160']
  default: "5"
  values_txt: "When the phone has this number of unsynced forms stored locally CommCare will trigger a warning"
  since: "2.1"
  force: true

- name: "Unsynced Time Limit"
  description: "Days allowed without syncing before triggering a warning"
  id: "unsent-time-limit"
  values:
    - ['-1', 'Never']
    - ['1', '1 Day']
    - ['5', '5 Days']
    - ['7', 'One Week']
    - ['14', 'Two Weeks']
    - ['30', 'One Month']
  default: "5"
  values_txt: "When this many days have passed without the user syncing CommCare will trigger a warning"
  since: "2.4"
  force: true

- name: "Saved Forms"
  description: "Choose whether or not mobile workers can view previously submitted forms."
  id: "cc-show-saved"
  values:
    - ['yes', 'Enable']
    - ['no', 'Disable']
  default: "no"
  commcare_default: "yes"
  values_txt: "This will show or hide the 'Saved' button on the CommCare ODK home screen. Turning this off will prevent users from saving forms locally."
  since: "2.11"
  force: true

- name: "Incomplete Forms"
  description: "Choose whether or not to display the 'Incomplete' button on the ODK home screen"
  id: "cc-show-incomplete"
  values:
    - ['yes', 'Enable']
    - ['no', 'Disable']
  default: "no"
  commcare_default: "yes"
  values_txt: "This will show or hide the 'Incomplete' button on the CommCare ODK home screen. Turning this off will prevent users from saving incomplete forms."
  since: "2.11"
  force: true

- name: "Auto-Resize Images"
  description: "Automatically resizes images within forms. Follow 
  <a href='https://dimagi.atlassian.net/wiki/spaces/commcarepublic/pages/2143946731/Images+in+CommCare#Auto-Resize-Images-on-Android'>
  the instructions here</a> to determine which value to use."
  id: "cc-resize-images"
  values:
    - ['full', 'Full Resize']
    - ['half', 'Half Resize']
    - ['width', 'Horizontal Resize']
    - ['none', 'None']
  default: "none"
  values_txt: "This will determine how images you select for your questions will be resized to fit the screen. Horizontal will stretch/compress the image to fit perfectly horizontally while scaling to height to maintain the aspect ratio. Full Resize will try to be clever and find the ideal vertical/horizontal scaling for the screen. Half Resize will do the same but with half the area."
  since: "2.11"
  force: true

- name: "Fuzzy Search"
  description: "Whether searches on the phone will match similar strings. IE: 'Jhon' will match 'John'"
  id: "cc-fuzzy-search-enabled"
  values:
    - ['yes', 'Yes']
    - ['no', 'No']
  default: "yes"
  disabled_default: "no"
  values_txt: "Whether searches can match similar strings"
  since: "2.15"
  force: true

- name: "Log Case Detail Views"
  description: "Whether to log each time a user views case details. May reduce mobile performance."
  id: "cc-log-entity-detail-enabled"
  widget: bool
  default: false
  since: "2.24"
  force: true

- name: "Login Duration"
  description: "Length of time after which you will be logged out automatically"
  id: "cc-login-duration-seconds"
  values:
    - ['86400', '24 hours']
    - ['43200', '12 hours']
    - ['28800', '8 hours']
    - ['7200', '2 hours']
    - ['3600', '1 hour']
    - ['1800', '30 minutes']
    - ['900', '15 minutes']
  default: "86400"
  values_txt: "This will set the amount of time you will remain logged in before automatically being logged out."
  since: "2.21"
  force: true

- name: "Image Compatibility on Multiple Devices"
  description: "When a value is selected, this feature controls the display size of any user-provided image such
  that it will be consistent with the size of the original image file, and consistent across devices. Follow 
  <a href='https://dimagi.atlassian.net/wiki/spaces/commcarepublic/pages/2143946731/Images+in+CommCare#CommCare-Developer-Toolkit-Image-Sizing-with-Multiple-Android-Device-Models'>
  the instructions here</a> to determine which value to use."
  id: "cc-inflation-target-density"
  values:
    - ['120', 'Low Density']
    - ['160', 'Medium Density']
    - ['240', 'High Density']
    - ['320', 'X-High Density']
    - ['480', 'XX-High Density']
    - ['640', 'XXX-High Density']
    - ['none', 'None']
  default: "none"
  since: "2.24"
  force: true

- name: "Default Map Tileset"
  description: "For mobile map displays, chooses a base tileset for the underlying map layer"
  id: "cc-maps-default-layer"
  values:
    - ['normal', 'Normal']
    - ['satellite', 'Satellite']
    - ['terrain', 'Terrain']
    - ['hybrid', 'Hybrid']
  default: "normal"
  since: "2.48"
  force: false

- name: "Enable Text To Speech"
  description: "Adds a text to speech button for all questions to read out the question text aloud."
  id: "cc-enable-tts"
  values:
    - ['yes', 'Yes']
    - ['no', 'No']
  default: "no"
  since: "2.51"
  force: true

- name: "Enable asterisk on required question"
  description: "Adds a red asterisk to denote mandatory questions in a form. This setting only works in mobile."
  id: "cc-label-required-questions-with-asterisk"
  values:
    - ['yes', 'Yes']
    - ['no', 'No']
  default: "no"
  since: "2.49"
  force: true

- id: 'dependencies'
  name: 'Android app dependencies'
  type: 'features'
  privilege: 'app_dependencies'
  description: >
    Prevents mobile workers from using a CommCare app until the Android
    apps that it needs have been installed on the device.
  widget: 'multiSelect'
  values:
    - ['org.commcare.dalvik.reminders', 'CommCare Reminders']
    - ['callout.commcare.org.sendussd', 'CommCare USSD']
    - ['com.dimagi.biometric', 'Biometrics Capture']
    - ['org.rdtoolkit', 'CommCare Toolkit']
    - ['richard.chard.lu.android.areamapper', 'Area Calculator for CommCare']
    - ['org.commcare.respiratory', 'Breath Counter']
    - ['com.simprints.id', 'Simprints ID']
  default: []  # multiSelect default takes a list
  since: '2.54'
  force: true
