- title: 'Data and Sharing'
  id: app-settings-basic
  settings:
    - hq.application_version # App Version (disabled)
    # Application
    - hq.case_sharing  # Case Sharing
    - hq.cloudcare_enabled  # CloudCare
    - hq.use_custom_suite
    - hq.custom_suite
    - hq.custom_base_url
    # RemoteApp
    - hq.profile_url
    - hq.manage_urls

- title: Build Settings
  id: app-settings-general
  collapse: true
  settings:
    - hq.build_spec  # CommCare Version
    - hq.practice_mobile_worker_id # Practice Mobile Worker
    - properties.cc-autoup-freq  # Auto Update Frequency
    - properties.unsent-number-limit  # Unsent Form Limit
    - properties.cc-content-valid  # Multimedia Validation
    - properties.cc-autosync-freq  # Auto-Sync Frequency
    - properties.unsent-time-limit  # Unsynced Time Limit

- title: 'Android Settings'
  id: app-settings-android
  collapse: true
  settings:
    - properties.cc-days-form-retain # Days to Retain for Review
    - properties.cc-show-saved
    - properties.cc-show-incomplete
    - properties.cc-resize-images
    - properties.cc-fuzzy-search-enabled
    - properties.logo_android_home
    - properties.logo_android_login
    - properties.logo_android_demo
    - properties.logo_web_apps
    - hq.auto_gps_capture
    - properties.lazy-load-video-files
    - properties.cc-login-duration-seconds
    - properties.cc-log-entity-detail-enabled
    - properties.cc-inflation-target-density
    - properties.cc-maps-default-layer
    - properties.cc-enable-tts
    - properties.cc-label-required-questions-with-asterisk
    - properties.logenabled  # Logging Enabled
    - hq.use_grid_menus
    - hq.grid_form_menus
    - hq.target_commcare_flavor
    - features.dependencies  # Required Android apps

- title: 'Advanced'
  id: app-settings-advanced
  collapse: true
  settings:
    - properties.log_prop_weekly  # Weekly Log Sending Frequency
    - properties.log_prop_daily  # Daily Log Sending Frequency
    - hq.secure_submissions
    - hq.translation_strategy
    - hq.mobile_ucr_restore_version
    - hq.location_fixture_restore
    - hq.split_screen_dynamic_search

- title: 'Disabled'
  id: app-settings-disabled
  collapse: true
  always_show: false
  settings:
    - properties.purge-freq  # Purge Frequency (disabled)
    - properties.user_reg_server  # Server User Registration (disabled)
    - properties.restore-tolerance  # OTA Restore Tolerance (disabled)
    - features.users  # No Users Mode (disabled)
    - properties.loose_media  # Loose Media Mode (disabled)
