{% extends 'hqwebapp/base_page.html' %}
{% load url from future %}
{% load i18n %}
{% load hq_shared_tags %}
{% load timezone_tags %}

{% block title %}{% trans "Edit Feature Flag: " %}{{ toggle_meta.label }}{% endblock %}

{% block js %}{{ block.super }}
    <script src="{% static 'hqwebapp/js/main.js' %}"></script>
    <script src="{% static 'hqwebapp/js/knockout-bindings.js' %}"></script>
    <script src="{% static 'formdesigner/js/lib/underscore-1.5.2.js' %}"></script>
{% endblock %}

{% block js-inline %}{{ block.super }}
<script>
    $(function () {
        $('.hq-help-template').each(function () {
            COMMCAREHQ.makeHqHelp({
                content: $(this).data('content'),
                title: $(this).data('title')
            }, false).insertAfter(this);
            $(this).remove();
        });
        $('.hq-help').hqHelp();
    });
    $(function(){
        function ToggleView() {
            var self = this;
            self.items = ko.observableArray();

            self.init = function (item_list) {
                self.items.removeAll();
                _(item_list).each(function (item) {
                    self.items.push({
                        value: ko.observable(item)
                    });
                });
            };

            self.addItem = function () {
                self.items.push({
                    value: ko.observable()
                });
                self.change();
            };

            self.removeItem = function (item) {
                self.items.remove(item);
                self.change();
            };

            self.change = function () {
                self.saveButton.fire('change');
            };

            self.saveButton = COMMCAREHQ.SaveButton.init({
                unsavedMessage: "You have unchanged changes",
                save: function () {
                    var items = _.map(self.items(), function (item) {
                        return item.value();
                    });
                    self.saveButton.ajax({
                        type: 'post',
                        url: "{% url "edit_toggle" toggle.slug %}",
                        data: {
                            item_list: JSON.stringify(items)
                        },
                        dataType: 'json',
                        success: function (data) {
                            self.init(data.item_list);
                        }
                    });
                }
            });
        }

        var home = $('#toggle_editing_ko');
        var view = new ToggleView();
        view.init({{ toggle.enabled_users|JSON }});
        ko.applyBindings(view, home.get(0));
        home.on('change', 'input', view.change);
    });
</script>
{% endblock %}

{% block page_content %}
    <div id="toggle_editing_ko">
        <div data-bind="saveButton: saveButton"></div>
        <h4>{% trans "Enabled toggle items" %}</h4>
        {% if toggle_meta.namespaces %}
        <hr/>
        <div>
            {% trans "Available namespaces:" %}
        <span class="hq-help-template"
              data-title="{% trans "Toggle Items" %}"
              data-content="{% trans "Toggle items are usually usernames but can also be namespaced items such as 'domain:somedomain'" %}"></span>
            <ul>
                {% for ns in toggle_meta.namespaces %}
                <li>{{ ns }}</li>
                {% endfor %}
            </ul>
        </div>
        <hr/>
        {% endif %}
        <!-- ko foreach: items -->
        <div class="row">
            <div class="span1">
                <a href="#" class="btn btn-danger" data-bind="click: $parent.removeItem"><i class="icon-trash"></i></a>
            </div>
            <div class="span6">
                <input type="text" data-bind="value: value">
            </div>
        </div>
        <!-- /ko -->
        <button class="btn btn-success" data-bind="click: addItem"><i class="icon-plus"></i> {% trans "Add Item" %}</button>
    </div>
{% endblock %}