// SPRITES
// Glyphs and icons for buttons, nav, and more
// -------------------------------------------


// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="i icon-inbox"></i>.

// For the white version of the  icons, just add the .icon-white class:
// <i class="i icon-inbox icon-white"></i>

.header .icon-white:before {
    content: "\f105";
    color: desaturate(lighten(@blue, 40), 30);
}
.headerSortUp .icon-white:before    { content: "\f102"; color: inherit; }
.headerSortDown .icon-white:before  { content: "\f103"; color: inherit; }

th.header > div {
    cursor: pointer;
}

.hq-help {
    position: relative;
    width: 40px;
    overflow: visible;

    i {
        font-size: 20px;
        line-height: 25px;
        width:25px;
        text-decoration:none;
        position: absolute;
        top: -30%;
        left: @gridGutterWidth/3;
    }
    &:hover i,
    &.on i {
        font-size: 30px;
        text-decoration:none;
        left: @gridGutterWidth/3-2px;
        color: @green;
    }
    .popover {
        color: @textColor;
    }
}
