/* the formplayer modifies the DOM in a very dynamic manner; it doesn't always get along well with static css
 * styles. use them sparingly and be wary. most of these styles should be transitioned to formplayer code.
 */

/* all button styles courtesy of: http://www.colorzilla.com/gradient-editor/ */

#clear-button, .clear-button, #help-button {
  background: #999999; /* old browsers */
  background: -moz-linear-gradient(top, #cccccc 0%, #999999 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#999999)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#999999',GradientType=0 ); /* ie */
}

.rounded {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.shiny-button, .key-button {
  color: #fff;
  background: #111188; /* old browsers */
  background: -moz-linear-gradient(top, #3232B4 0%, #111188 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3232B4), color-stop(100%,#111188)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3232B4', endColorstr='#111188',GradientType=0 ); /* ie */
}

.spacebar {
  background: #cbebff; /* old browsers */
  background: -moz-linear-gradient(top, #cbebff 0%, #a1dbff 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbebff), color-stop(100%,#a1dbff)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbebff', endColorstr='#a1dbff',GradientType=0 ); /* ie */
}

.selected {
  background: #00bbff; /* old browsers */
  background: -moz-linear-gradient(top, #00ccff 0%, #00bbee 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00bbff), color-stop(100%,#0099dd)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbff', endColorstr='#0099dd',GradientType=0 ); /* ie */
}

#back-button, .numpad-button {
  background: #67a9db; /* old browsers */    
  background: -moz-linear-gradient(top, #67a9db 0%, #4587b9 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67a9db), color-stop(100%,#4587b9)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67a9db', endColorstr='#4587b9',GradientType=0 ); /* ie */
}

#home-button {
  background: #dd2233; /* old browsers */
  background: -moz-linear-gradient(top, #dd2233 0%, #bb0011 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd2233), color-stop(100%,#bb0011)); /* webkit */  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd2233', endColorstr='#bb0011',GradientType=0 ); /* ie */
}

#next-button {
  background: #11ab33; /* old browsers */
  background: -moz-linear-gradient(top, #11ab33 0%, #008911 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11ab33), color-stop(100%,#008911)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11ab33', endColorstr='#008911',GradientType=0 ); /* ie */
}

.important {
    color: #e11;
    font-weight: bold;
}