{% extends "style/bootstrap2/base_section.html" %}
{% load crispy_forms_tags %}
{% load hq_shared_tags %}

{% block js %} {{ block.super }}
    <script src="{% static 'style/lib/knockout_plugins/knockout_mapping.ko.min.js' %}"></script>
    <script src="{% static 'style/ko/knockout_bindings.ko.js' %}"></script>
{% endblock %}

{% block js-inline %} {{ block.super }}
    <script type="text/javascript">
        var appToModuleOptions = {{ app_to_module_options|JSON }};
        var moduleToFormOptions = {{ module_to_form_options|JSON }};

        var appId = ko.observable();
        var moduleId = ko.observable();
        var formId = ko.observable();

        var moduleOptions = ko.computed(function() {
            var modules = appToModuleOptions[appId()];
            if(modules && modules.length > 1) {
                return [{
                    text: '{{ module_prompt }}',
                    value: ""
                }].concat(modules);
            }
            return modules;
        });
        var formOptions = ko.computed(function() {
            var forms = moduleToFormOptions[moduleId()];
            if(forms && forms.length > 1) {
                return [{
                    text: '{{ form_prompt }}',
                    value: ""
                }].concat(forms);
            }
            return forms;
        });
        ko.applyBindings({
            appId: appId,
            moduleOptions: moduleOptions,
            formOptions: formOptions
        }, $("#create-export-form").get(0));
    </script>
{% endblock %}

{% block main_column %}
    {% crispy create_export_form %}
{% endblock %}
