{%  extends 'export/export_list.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load hq_shared_tags %}
{% load compress %}
{% load djangular_tags %}

{% block js %}{{ block.super }}
    <script src="{% static 'clipboard/dist/clipboard.min.js' %}"></script>
{% endblock js%}

{% block page_content %}
    {% include 'export/partial/export_list_initial_page_data.html' %}

    <div ng-app="listExportsApp">
        {% include 'export/partial/daily_saved_export_list_controller.html' %}
        {% include 'export/partial/export_list_create_export_modal.html' %}
        {% include 'export/partial/feed_filter_modal.html' %}
    </div>
{% endblock %}
