alembic
architect
attrs>=21.4
beautifulsoup4  # USH - used for rich text messaging emails, and some tests
bleach  # USH - used for rich text messaging emails
bleach[css]  # USH - used for rich text messaging emails
boto3
celery
CommcareTranslationChecker>=0.9.7
cryptography>=42.0
csiphash
css_inline  # USH - used for rich text messaging emails
datadog
ddtrace
decorator==5.1.1  # required by django-digest
defusedxml
diff-match-patch
dimagi-memoized
django-autoslug
django-braces
django-bulk-update
django-celery-results
django-compressor
django-countries
django-crispy-forms
crispy-bootstrap3to5 @ git+https://github.com/dimagi/crispy-bootstrap3to5.git@775b93b8cd8e5312cab4a367409a95b66ce18165
django-cte
django-field-audit
django-formtools
django-oauth-toolkit
django-otp
django-phonenumber-field
django-prbac
django-redis-sessions
django-redis
django-recaptcha
django-statici18n
django-tastypie
django-transfer
django-two-factor-auth @ git+https://github.com/jazzband/django-two-factor-auth.git@16f688bf329526d897a33594ab598bcd3fc8eaae  # waiting for next release after 1.16.0
django-user-agents
django-websocket-redis @ https://raw.githubusercontent.com/dimagi/django-websocket-redis/0.6.0.1/releases/django_websocket_redis-0.6.0.1-py3-none-any.whl
django>=3.2.18,<5.0
djangorestframework
dropbox
elasticsearch5>=5.0.0,<6.0.0
ethiopian-date-converter
eulxml
firebase-admin  # India Division - used for FCM Push Notifications
gevent
google-api-python-client==2.32.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.2.0
greenlet
gunicorn
haversine  # SolTech - Used in Geospatial features
hiredis
httpagentparser
iso8601
Jinja2
jsonfield
jsonobject-couchdbkit
jsonobject>=2.0.0
# jsonpath-ng with support for "wherenot" operator, and building documents
# Upgrade when changes merged upstream
jsonpath-ng @ https://github.com/kaapstorm/python-jsonpath-rw/raw/wherenot+find_or_create/wheel/jsonpath_ng-1.5.2.2-py3-none-any.whl
jsonschema
kafka-python
looseversion
lxml
markdown
oic
pulp  # Used in Geospatial features to solve routing problems - SolTech
openpyxl
packaging
phonenumberslite
pickle5  # For Pythons pre 3.8.3. Can be removed when no environment will ever revert to < 3.8
Pillow
polib
prometheus-client
psycogreen
psycopg2
py-KISSmetrics
pycryptodome>=3.6.6  # security update
PyGithub
python-dateutil
python-imap
pyphonetics
python-magic
pytz
pyjwt
PyYAML
hl7apy
pyzxcvbn
qrcode
quickcache
redis
reportlab
requests_oauthlib
requests_toolbelt
requests
schema
sentry-sdk
sh
# Package has an unfixed issue https://github.com/danthedeckie/simpleeval/issues/90 Can use that once https://github.com/danthedeckie/simpleeval/pull/91 is merged
simpleeval @ git+https://github.com/dimagi/simpleeval.git@d85c5a9f972c0f0416a1716bb06d1a3ebc83e7ec
simplejson
six
socketpool
sqlagg
SQLAlchemy
stripe
suds-py3
text-unidecode
toposort
tropo-webapi-python
turn-python
twilio
werkzeug
xlrd
xlwt
