-r test-requirements.in

fixture==1.5.11
sniffer==0.4.1
psutil>5.1.3  # for memory profiling
django-extensions
ipython==7.16.1
wheel==0.36.2
transifex-client==0.14.2
gnureadline==8.0.0
git-build-branch

# documentation
Sphinx~=4.1.2
sphinx-rtd-theme~=0.5.2
docutils==0.16
sphinxcontrib-django~=0.5
recommonmark
graphviz==0.16

# linting/formatting
flake8
yapf
