-r test-requirements.txt

django-debug-toolbar
line_profiler==1.0
jenkinsapi==0.2.28
fixture==1.5.11
sniffer==0.4.0
psutil==5.1.3  # for memory profiling
django-extensions
ipython==5.2.2
ipdb==0.11
wheel==0.29.0
graphviz==0.7
transifex-client==0.12.4
modernize
gnureadline==6.3.8
pip-tools~=3.0

# documentation
Sphinx~=1.8
sphinx-rtd-theme~=0.3
docutils==0.14
sphinxcontrib-django~=0.3
recommonmark
