django-debug-toolbar
django-devserver
django-coverage
django-redis
guppy
werkzeug
line_profiler
git+git://github.com/dimagi/couchdbkit-debugpanel.git
Fabric==1.4.3
fixture
-e git+git://github.com/dimagi/fakecouch.git#egg=fakecouch
-e git+git://github.com/dimagi/luna.git@1.0.0#egg=luna
