django-debug-toolbar
django-devserver
coverage
guppy
werkzeug
line_profiler
git+git://github.com/dimagi/couchdbkit-debugpanel.git
Fabric==1.4.3

-e git+git://github.com/dimagi/luna.git@1.0.0#egg=luna
fixture