-r base-requirements.in

django-extensions
myst-parser
Sphinx
sphinxcontrib-django
sphinx-rtd-theme

pyOpenSSL # CI builds fail without OpenSSL

urllib3<=1.26.18  # fix doc tests AssertionError: Current app already created
