# This file is meant to be customized for personal development environments.
# Feel free make a copy without the .sample extension to use locally.
#
# requirements/local.txt is in .gitignore so you will not be prompted to (nor
# should you) commit your custom version of that file.
#
# After adding your custom requirements you can run one simple command to keep
# your virtualenv up to date:
#
#   pip-sync requirements/local.txt [--dry-run]

-r dev-requirements.txt

django-debug-toolbar
ipdb==0.11
pdbpp
