-r requirements.in

pip

# Switch back to normal package as soon as flower realease a version > 1.2.0
flower @ git+https://github.com/mher/flower
setproctitle
uWSGI
ipython  # for nicer django shell experience
ndg-httpsclient
pyasn1

# ssl issue
# https://urllib3.readthedocs.io/en/latest/user-guide.html#certificate-verification-in-python-2
pyOpenSSL
cryptography
idna
certifi
