-r requirements.in

pip>=10.0.0

flower==0.9.2
setproctitle==1.2.2
uWSGI==2.0.19.1
ipython==7.16.1
ndg-httpsclient
pyasn1

# ssl issue
# https://urllib3.readthedocs.io/en/latest/user-guide.html#certificate-verification-in-python-2
pyOpenSSL
cryptography
idna
certifi
