restkit==4.2.0
couchdbkit==0.5.7
celery==2.4.5
decorator==3.3.2
django==1.3.1
django-celery==2.2.4
django-crispy-forms==1.2.0
kombu==2.1.8
diff-match-patch==20120106
django-kombu==0.9.1
django-digest==1.13
django-rosetta==0.6.8
django-tastypie==0.9.11
djtables==0.1.1
egenix-mx-base==3.2.5
eulxml==0.18.0
gunicorn==0.15.0
lxml==2.3
mock==0.8.0
mocker==1.1
openpyxl==1.5.6
PIL==1.1.7
phonenumbers==5.1b1
poster==0.8.1
psycopg2==2.4.1
pygooglechart==0.3.0
python-dateutil==1.5
python-magic==0.4.2
python-memcached==1.47
pytz==2011b
requests==1.1.0
south==0.7.3
sorl-thumbnail==11.12
tropo-webapi-python==0.1.3
xlutils==1.4.1
Unidecode==0.04.9
xlrd==0.7.3
simplejson==2.6.1
GitPython==0.3.2.RC1
gitdb==0.5.4
gevent==0.13.8
rawes==0.3.6
numpy==1.6.2
socketpool==0.5.2
markdown==2.2.1

-e git://github.com/dimagi/freddy.git@a6d24d201f3595a6be767f3679547d5de76b344a#egg=freddy

