# needed to build gevent from source
cython==0.23.4
restkit==4.2.2
iso8601==0.1.10
jsonobject==0.7.1
jsonobject-couchdbkit==0.7.4.0
celery==3.1.18
# required by django-digest
decorator==4.0.4
django==1.7.11
django-braces==1.8.1
django-celery==3.1.16
jsonfield==1.0.3
dropbox==2.2.0
defusedxml==0.4.1
diff-match-patch==20120106
django-tastypie==0.13.3
djangorestframework==3.3.1
djtables==0.1.1
elasticsearch==1.9.0
#egenix-mx-base==3.2.8
eulxml==0.18.0
feedparser==5.1.3
ghdiff==0.4
gunicorn==19.4
lxml==3.4.4
kafka-python==0.9.4
mock==0.8.0
openpyxl==2.2.5
Pillow==2.7.0
phonenumberslite==7.1.0
poster==0.8.1
psycopg2==2.6.1
psycogreen==1.0
pycrypto==2.6.1
py-KISSmetrics==1.0.1
https://github.com/dimagi/files/raw/master/python-requirements/pygooglechart-0.3.0.tar.gz
python-dateutil==1.5
python-magic==0.4.10
pytz==2015.6
PyYAML==3.11
requests==2.10.0
suds-jurko==0.6
tropo-webapi-python==0.1.3
xlutils==1.4.1
Unidecode==0.04.18
xlrd==0.7.3
simplejson==2.6.1
sh==1.09
gevent==1.0.2
greenlet==0.4.9
numpy==1.7.1
six==1.10.0
socketpool==0.5.3
markdown==2.2.1
amqp==1.4.7
amqplib==1.0.2
sqlagg==0.7.0
django-redis==4.2
redis==2.10.3
# WeasyPrint==0.20.2
twilio==3.6.4
django-countries==3.3
reportlab==3.0
stripe==1.12.2
django-compressor==1.4
django-angular==0.7.8
Pycco==0.3.0
django-mptt==0.7.4
jsonpath-rw==1.4.0
pip>=6.1.1
git+git://github.com/smartfile/django-transfer.git@6e0dc94c3341c358fca8eb2bf74e23aee3983ec4
Pygments==2.0.2
tinys3==0.1.11
django-two-factor-auth==1.2.2
datadog==0.10.0
django-websocket-redis==0.4.6
django-redis-sessions==0.5.0
django-uuidfield==0.5.0
# required by ctable
SQLAlchemy==1.0.9
alembic==0.6.4
git+git://github.com/dimagi/pyzxcvbn.git#egg=pyzxcvbn
django-statici18n==1.1.5
django-simple-captcha==0.5.1
httpagentparser==1.7.8
boto3==1.2.3
simpleeval==0.8.7
laboratory==0.2.0
ConcurrentLogHandler==0.9.1
github3.py==1.0.0a4
