# Single Sign On (SSO) is an optional app that is configured on a per-environment basis.
# We don't want to force people to install these requirements if they don't
# need to, as they require some additional apt packages.
pyOpenSSL==20.0.1
python3-saml==1.9.0
