-r requirements.in

django-nose @ https://github.com/dimagi/django-nose/raw/fast-first-1.4.6.1/releases/django_nose-1.4.6.1-py2.py3-none-any.whl
fakecouch
nose
nose-exclude
pip-tools>=6.8.0
testil
requests-mock
sqlalchemy-postgres-copy
Faker
flaky
freezegun
radon>=5.0  # v5 no longer depends on flake8-polyfill
coverage
uWSGI
