# https://github.com/maxtepkeev/architect/pull/52
architect
# https://github.com/django-nose/django-nose/pull/228
django-nose
ddtrace
feedparser
pycrypto
restkit
http-parser
msgpack-python
socketpool
