{% extends "pact/chw/pact_chw_profile_base.html" %}
{% load i18n %}

{% block actor-tab-container %}
    <div class="span6">
        <h4>{{ user_doc.first_name }} {{ user_doc.last_name }}</h4>
        <table class="table table-striped table-bordered">
            <tr>
                <th>{% trans "Username" %}</th>
                <td>{{ user_doc.username }}</td>
            </tr>
            <tr>
                <th>{% trans "Phone" %}</th>
                <td>{{ user_doc.phone_number }}</td>
            </tr>
            <tr>
                <th>{% trans "Email" %}</th>
                <td>{{ user_doc.email }}</td>
            </tr>
        </table>
    </div>
    <div class="span8">
    <h4>Patients</h4>
    <table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Pact ID</th>
        <th>Name</th>
        <th>HP Status</th>
        <th>DOT Status</th>
        <th>{# Submits #}</th>
    </tr>

    </thead>
    {% for pt in assigned_patients %}
        <tr>
        <th>{{ pt.pactid }}</th>
        <td>{{ pt.name }}</td>
        <td> {{ pt.hp_status }} </td>

        <td>
            {% if pt.dot_url %}
                <a href="{{ pt.dot_url }}">{{ pt.dot_status }}</a>
            {% else %}
                {{ pt.dot_status }}
            {% endif %}
        </td>
        <td><a href="{{ pt.info_url }}">Profile</a></td>
        </tr>
    {% endfor %}
    </table>

    </div>


{% endblock actor-tab-container %}

