{% extends "cloudcare/base.html" %}
{% load i18n %}
{% load hq_shared_tags %}
{% load compress %}

{% block title %}
    {% if request.couch_user.is_web_user %}
        {% trans "Preview Form" %}
    {% else %}
        {% trans "Formplayer" %}
    {% endif %}
{% endblock %}

{% block head %}
    {{ block.super }}
    {% include "imports/proptable.html" %}
    {% include "imports/fancy-code.html" %}

    <script src="{% static 'datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'datatables/media/js/dataTables.bootstrap.min.js' %}"></script>

{% endblock %}

{% block js %} {{ block.super }}
    {% compress js %}
        <script src="{% static 'json2/json2.js' %}"></script>
        <script src="{% static 'underscore/underscore.js' %}"></script>
        <script src="{% static 'backbone/backbone.js' %}"></script>
        <script src="{% static 'backbone.bootstrap-modal/src/backbone.bootstrap-modal.js' %}"></script>
        <script src="{% static 'backbone.babysitter/lib/backbone.babysitter.js' %}"></script>
        <script src="{% static 'backbone.wreqr/lib/backbone.wreqr.js' %}"></script>
        <script src="{% static 'backbone.marionette/lib/backbone.marionette.js' %}"></script>
        <script src="{% static 'backbone.localStorage/backbone.localStorage.js' %}"></script>
        <script src="{% static 'nprogress/nprogress.js' %}"></script>
        <script src="{% static 'moment/min/moment.min.js' %}"></script>
        <script src="{% static 'cloudcare/js/util.js' %}"></script>
        <script src="{% static 'cloudcare/js/formplayer/app.js' %}"></script>
        <script src="{% static 'cloudcare/js/formplayer/js/apps/config/storage/localstorage.js' %}"></script>
        <script src="{% static 'cloudcare/js/formplayer/js/entities/app_selection.js' %}"></script>
        <script src="{% static 'cloudcare/js/formplayer/js/entities/menu.js' %}"></script>
        <script src="{% static 'cloudcare/js/formplayer/js/apps/cc_apps.js' %}"></script>
        <script src="{% static 'cloudcare/js/formplayer/js/apps/list/list_controller.js' %}"></script>
        <script src="{% static 'cloudcare/js/formplayer/js/apps/list/list_view.js' %}"></script>
        <script src="{% static 'cloudcare/js/formplayer/js/apps/menus/menu_view.js' %}"></script>
        <script src="{% static 'cloudcare/js/formplayer/js/apps/menus/menu_controller.js' %}"></script>
        <script src="{% static 'formplayer/script/vendor/markdown-it-4.2.0.min.js' %}"></script>
        <script src="{% static 'formplayer/script/vendor/purify.js' %}"></script>
        <script src="{% static 'formplayer/script/vendor/ba-tiny-pubsub.min.js' %}"></script>
        <script src="{% static 'formplayer/script/vendor/shortcut.js' %}"></script>
        <script src="{% static 'formplayer/script/webformsession.js' %}"></script>
        <script src="{% static 'formplayer/script/formnav-all.js' %}"></script>
        <script src="{% static 'formplayer/script/entrycontrols_full.js' %}"></script>
        <script src="{% static 'formplayer/script/fullform-ui.js' %}"></script>
        <script src="{% static 'formplayer/script/utils.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block js-inline %} {{ block.super }}
    <script>

        var apps = {{ apps|JSON }};
        var language = "{{ language }}";
        FormplayerFrontend.start(apps, language);
    </script>
{% endblock %}

{% block page_navigation %}
    <div class="nav-input" id="sync-container">
        <button
                class="btn btn-block btn-success"
                type="button"
                id="sync-button">
            {% trans "Sync Data" %}
        </button>
        <small>
            <i class="fa fa-info-circle"></i>&nbsp;
            {% trans "Click to refresh the data and process all recently submitted cases" %}
        </small>
    </div>
    <section id="app-main">
        <nav id="app-list"></nav>
        {% if sessions_enabled %}
            <nav id="sessions"></nav>
        {% endif %}
    </section>
{% endblock %}

{% block page_content %}
    <div id="app-container">
        <div id="main-region" class="container">
            <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we
                start
                it.</p>
        </div>
    </div>

    <div id="cloudcare-main">
        <section id="cloudcare-notifications"></section>
        <section id="case-crumbs" style="width: 800px"></section>
        <section id="cases"></section>
        <section id="webforms" class="webforms" data-bind="template: { name: 'form-fullform-ko-template' }"></section>
        {% if request|toggle_enabled:"INSTANCE_VIEWER" %}
            <section id="cloudcare-debugger" data-bind="
            template: {
                name: 'instance-viewer-ko-template',
                afterRender: adjustWidth
            }
        "></section>
        {% endif %}
    </div>

    <script type="text/template" id="app-select-list">
        <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </script>

    <script type="text/template" id="app-select-list-item">
        <td><%- name %></td>
        <td><%- _id %></td>
    </script>

    <script type="text/template" id="menu-view-list">
        <p><b><%- title %></b></p>
        <thead>
        </thead>
        <tbody>
        </tbody>
    </script>

    <script type="text/template" id="menu-view-item">
        <td><%- displayText %></td>
    </script>

    <script type="text/template" id="case-view-list">
        <p id="title"><b><%- title %></b></p>
        <thead>
        </thead>
        <tbody>
        </tbody>
    </script>

    <script type="text/template" id="case-view-item">
        <td><%- data %></td>
    </script>

    <script type="text/template" id="detail-view-list">
        <p id="title">Case Details</p>
        <tbody>
        </tbody>
    </script>

    <script type="text/template" id="detail-view-item">
        <td><%- header %></td>
        <td><%- data %></td>
    </script>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Case Detail</h4>
                </div>
                <div class="modal-body">
                    <p id="my-modal-body">Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Select</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}