{% extends "reports/async/tabular.html" %}
{% load hq_shared_tags %}

{% block js %} {{ block.super }}
<script type="text/javascript" src="{% static 'adm/js/adm_admin.js' %}"></script>
{% endblock %}

{% block js-inline %} {{ block.super }}
<script type="text/javascript">
    var adm_interface = new ADMAdminControl({
        itemType: '{{ adm_item.type }}',
        formSubmitPath: '/adm/form/',
        formType: '{{ adm_item.form }}'
    });
    adm_interface.init();
</script>
{% endblock %}

{% block reportcontent %}
    <div class="row-fluid">
        <div class="span12">
            <div class="well" style="margin:1em;">
                <h2>Details</h2>
                {{ detailed_description }}
            </div>
        </div>
    </div>
    {{ block.super }}
{% endblock %}

{% block modals %}
    <div class="modal hide fade" id="addADMItemModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3><span class="label label-success">Create New</span> {{ adm_item.type }}</h3>
        </div>
        <form class="form-horizontal" action="" method="post">
            <div class="modal-body" style="overflow-y: visible; max-height: 500px;">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-loading-text="Submitting..."><i class="icon-white icon-plus"></i> Create {{ adm_item.type }}</button>
                <button class="btn" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
    <div class="modal hide fade" id="updateADMItemModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3><span class="label label-info">Update</span> {{ adm_item.type }}</h3>
        </div>
        <form class="form-horizontal" action="" method="post">
            <div class="modal-body" style="overflow-y: visible; max-height: 500px;">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-loading-text="Updating..."><i class="icon-white icon-arrow-up"></i> Update {{ adm_item.type }}</button>
                <button class="btn" data-dismiss="modal">Close</button>
                <button class="btn btn-danger pull-left" type="submit" data-loading-text="Deleting..."><i class="icon-white icon-remove"></i> Delete</button>
            </div>
        </form>
    </div>
{% endblock %}