{% extends "reports/async/tabular.html" %}
{% load hq_shared_tags %}

{% block js %} {{ block.super }}
    <script type="text/javascript" src="{% static 'crud/js/crud.admin.js' %}"></script>
{% endblock %}

{% block js-inline %} {{ block.super }}
    <script type="text/javascript">
        var crud_interface = new CRUDAdminControl({
            itemType: '{{ crud_item.type }}',
            formSubmitPath: '{{ crud_item.url }}',
            formType: '{{ crud_item.form }}',
            {% if hideButton %}hideButton: 1{% endif %} // True is not accepted in JavaScript
        });
        crud_interface.init();
    </script>
{% endblock %}

{% block reportcontent %}
    {% if detailed_description %}
        <div class="row">
            <div class="col-sm-12">
                <div class="well well-sm">
                    <h2>Details</h2>
                    {{ detailed_description }}
                </div>
            </div>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block modals %}
    <div class="modal fade" id="crud_add_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span class="label label-success">Create New</span> {{ crud_item.type }}</h4>
                </div>
                <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                    <div class="modal-body" style="overflow-y: scroll; max-height: 500px;">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="js-crud-add-submit" class="btn btn-primary" data-loading-text="Submitting..."><i class="fa fa-plus"></i> Create {{ crud_item.type }}</button>
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="crud_update_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span class="label label-info">Update</span> {{ crud_item.type }}</h4>
                </div>
                <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                    <div class="modal-body" style="overflow-y: scroll; max-height: 500px;">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-loading-text="Updating..."><i class="fa fa-arrow-up"></i> Update {{ crud_item.type }}</button>
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-danger pull-left" type="submit" data-loading-text="Deleting..."><i class="fa fa-remove"></i> Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
