{% load hq_shared_tags %}
{% load i18n %}

<form
  hx-post="{{ request.path_info }}"
  hq-hx-action="save_expression"
  hx-swap="outerHTML"
  x-data="{ isUnsaved: false }"
  @change="isUnsaved = true;"
  @submit="isUnsaved = false;"
>
  {% if form.instance.pk %}
    <input type="hidden" name="pk" value="{{ form.instance.pk }}" />
  {% endif %}
  <div class="row pb-3">
    <div class="col-2">{{ form.name }}</div>
    <div class="col-8">{{ form.csql }}</div>
    <div class="col-2">
      <button
        type="button"
        class="btn btn-outline-secondary ms-2"
        data-bs-toggle="modal"
        data-bs-target="#customModal"
      >
        <i class="fa-solid fa-filter"></i>
      </button>
      <button
        type="submit"
        class="btn btn-outline-primary"
        x-bind:disabled="!isUnsaved"
      >
        <i class="fa-regular fa-save"></i> {% trans "Save" %}
      </button>
      <button
        class="btn btn-outline-danger"
        hx-post="{{ request.path_info }}"
        hq-hx-action="delete_expression"
        hx-swap="delete"
        hx-target="closest form"
      >
        <i class="fa-regular fa-trash-can"></i> {% trans "Delete" %}
      </button>
    </div>
  </div>
</form>

{% block modals %}
  <div class="modal fade" id="customModal" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h5 class="modal-title" id="customModalLabel">{% trans "Custom Modal" %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="customInput" class="form-label">{% trans "Input" %}</label>
              <input type="text" class="form-control" id="customInput" placeholder="{% trans 'Enter value' %}">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
            <button type="button" class="btn btn-primary">{% trans "Save" %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock modals %}
