.bg-static-fixed {
  background: no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  height: @bg-static-window-height;
  background-color: @cc-text;
}
