.bg-static-fixed {
  background: no-repeat center fixed;

  max-width: 100%;
  height: @bg-static-window-height;
  background-color: @cc-text;
}

.bg-home-main {
  background-image: url('../images/bg-home/bg-home-main-lg.jpg');
  background-position: bottom;
}

.bg-home-first {
  background-image: url('../images/bg-home/bg-home-first-lg.jpg');
  background-position: bottom;
}

.bg-home-second {
  background-image: url('../images/bg-home/bg-home-second-lg.jpg');
  background-position: center;
}

.bg-home-third {
  background-image: url('../images/bg-home/bg-home-fourth-lg.jpg');
  background-position: center;
}

.bg-home-fourth {
  background-image: url('../images/bg-home/bg-home-third-lg.jpg');
  background-position: center;
}
