.graphic {
  margin: 0 auto;
}

.make-graphic(@graphic-size) {
  width: @graphic-size;
  height: @graphic-size;
  background-color: @cc-neutral-mid;
}

.graphic-xl {
  .make-graphic(300px);

  @media (min-width: @screen-sm-min) {
    .make-graphic(207px);
  }

  @media (min-width: @screen-md-min) {
    .make-graphic(300px);
  }

  @media (min-width: @screen-lg-min) {
    .make-graphic(347px);
  }
}

.graphic-lg {
  .make-graphic(220px);

  @media (min-width: @screen-sm-min) {
    .make-graphic(165px);
  }

  @media (min-width: @screen-md-min) {
    .make-graphic(220px);
  }

  @media (min-width: @screen-lg-min) {
    .make-graphic(270px);
  }
}

.graphic-md {
  .make-graphic(180px);

  @media (min-width: @screen-md-min) {
    .make-graphic(180px);
  }

  @media (min-width: @screen-lg-min) {
    .make-graphic(213px);
  }
}

.graphic-sm {
  .make-graphic(140px);

  @media (min-width: @screen-sm-min) {
    .make-graphic(103px);
  }

  @media (min-width: @screen-md-min) {
    .make-graphic(140px);
  }

  @media (min-width: @screen-lg-min) {
    .make-graphic(173px);
  }
}


