.col-xs-pull-right {
  @media (max-width: @screen-xs-max) {
    float: right;
    clear: right;
  }
}

.col-xs-pull-left {
  @media (max-width: @screen-xs-max) {
    float: left;
    clear: left;
  }
}
