.container-welcome {
  position: relative;

  .welcome-container-inner {
    @media (max-width: @screen-sm-max) {
      .lead {
        font-size: @font-size-large;
        line-height: @line-height-base*1.5;
      }
    }
    @media (max-width: @screen-xs-max) {
      .lead {
        font-size: @font-size-base*1.2;
        line-height: @line-height-base*1.2;
      }
    }
    @media (max-width: @screen-xs-min) {
      h1 {
        font-size: @font-size-h1 * .8;
      }
    }
    @media (min-width: @screen-sm-min) {
      margin-top: 85px;
      h1 {
        font-size: @font-size-h1 * .95;
      }
    }
    @media (min-width: @screen-md-min) {
      margin-top: 150px;
      h1 {
        font-size: @font-size-h1 * 1.25;
      }
    }
    @media (min-width: @screen-lg-min) {
      margin-top: 200px;
    }
  }
}

.dimagi-commcare-together {
  background: no-repeat center center url('@{pub-images}/commcare-dimagi/dimagi_commcare-md.png');
  margin: 0 auto;
  width: 300px;
  height: 95px;

  @media (min-width: @screen-sm-min) {
    width: 227px;
    height: 72px;
    background-image: url('@{pub-images}/commcare-dimagi/dimagi_commcare-sm.png');
  }
  @media (min-width: @screen-md-min) {
    width: 300px;
    height: 95px;
    background-image: url('@{pub-images}/commcare-dimagi/dimagi_commcare-md.png');
  }
  @media (min-width: @screen-lg-min) {
    width: 367px;
    height: 116px;
    background-image: url('@{pub-images}/commcare-dimagi/dimagi_commcare-lg.png');
  }
}
