{% extends "reminders/reminders_base.html" %}
{% load hq_shared_tags %}

{% block head %}{{ block.super }}
<style type="text/css">
    .parameter_table {
        width: auto;
        margin-left: 50px;
    }
    .parameter_table tbody tr td {
        padding-right: 10px;
        padding-bottom: 5px;
        vertical-align: top;
    }
    #id_save_button {
        margin-top: 20px;
    }
    .structured_example {
        margin-left: 50px;
        background-color: #EEE;
        border: 1px solid #CCC;
        padding: 5px 5px 5px 5px;
    }
</style>
{% endblock %}

{% block subsection-title %}
    <li>
        <a href="{% url "manage_keywords" domain %}">Keywords</a> <span class="divider">&gt;</span>
    </li>
    {% if keyword.get_id %}
    <li class="active">
        <a href="{% url "edit_keyword" domain keyword.get_id %}">{{ keyword.keyword }}</a>
    </li>
    {% else %}
    <li class="active">
        <a href="{% url "add_keyword" domain %}">New Keyword</a>
    </li>
    {% endif %}
{% endblock %}

{% block js-inline %}{{ block.super }}
<script>
    function KeywordActionsViewModel(initial_values) {
        var self = this;
        self.keyword = ko.observable(initial_values.keyword);
        self.description = ko.observable(initial_values.description);
        self.override_open_sessions = ko.observable(initial_values.override_open_sessions);
        self.sender_content_type = ko.observable(initial_values.sender_content_type);
        self.sender_message = ko.observable(initial_values.sender_message);
        self.sender_form_unique_id = ko.observable(initial_values.sender_form_unique_id);
        self.notify_others = ko.observable(initial_values.notify_others);
        self.other_recipient_type = ko.observable(initial_values.other_recipient_type);
        self.other_recipient_id = ko.observable(initial_values.other_recipient_id);
        self.other_recipient_content_type = ko.observable(initial_values.other_recipient_content_type);
        self.other_recipient_message = ko.observable(initial_values.other_recipient_message);
        self.other_recipient_form_unique_id = ko.observable(initial_values.other_recipient_form_unique_id);
        self.process_structured_sms = ko.observable(initial_values.process_structured_sms);
        self.structured_sms_form_unique_id = ko.observable(initial_values.structured_sms_form_unique_id);
        self.use_custom_delimiter = ko.observable(initial_values.use_custom_delimiter);
        self.delimiter = ko.observable(initial_values.delimiter);
        self.use_named_args = ko.observable(initial_values.use_named_args);
        self.use_named_args_separator = ko.observable(initial_values.use_named_args_separator);
        self.named_args = ko.observableArray((initial_values.named_args.length > 0) ? initial_values.named_args : [{"name" : "", "xpath" : ""}]);
        self.named_args_separator = ko.observable(initial_values.named_args_separator);
        self.restrict_keyword_initiation = ko.observable(initial_values.restrict_keyword_initiation);
        self.allow_initiation_by_case = ko.observable(initial_values.allow_initiation_by_case);
        self.allow_initiation_by_mobile_worker = ko.observable(initial_values.allow_initiation_by_mobile_worker);
        self.example_structured_sms = ko.observable("");
        self.available_forms = {{ form_list|JSON }};
        self.content_type_choices = {{ content_type_choices|JSON }};
        self.recipient_type_choices = {{ recipient_type_choices|JSON }};
        self.recipient_id_choices = ko.observableArray();
        self.groups = {{ groups|JSON }};
        self.addNamedArg = function() {
            self.named_args.push({"name" : "", "xpath" : ""});
            self.updateExampleStructuredSMS();
        };
        self.removeNamedArg = function() {
            if(self.named_args().length == 1) {
                alert("You must have at least one named answer.");
            } else {
                self.named_args.remove(this);
            }
            self.updateExampleStructuredSMS();
        };
        self.updateExampleStructuredSMS = function() {
            var named_args_separator = "";
            if(self.use_named_args_separator() && self.named_args_separator() != null) {
                named_args_separator = self.named_args_separator().toString().trim();
            }
            var delimiter = " ";
            if(self.use_custom_delimiter() && self.delimiter() != null) {
                delimiter = self.delimiter().toString().trim();
            }
            var keyword = (self.keyword() == null) ? "" : self.keyword().toString().trim();
            var example = keyword.toLowerCase();
            if(self.use_named_args()) {
                var toggle = false;
                for(var i = 0; i < self.named_args().length; i++) {
                    toggle = !toggle;
                    var arg_name = self.named_args()[i].name;
                    arg_name = (arg_name == null) ? "" : arg_name.trim().toLowerCase();
                    example += delimiter + arg_name + named_args_separator + (toggle ? "123" : "456");
                }
            } else {
                example += delimiter + "123" + delimiter + "456" + delimiter + "...";
            }
            self.example_structured_sms(example);
            return true;
        };
        self.updateRecipientIdChoices = function() {
            self.recipient_id_choices([]);
            if(self.other_recipient_type() == "USER_GROUP") {
                for(var i = 0; i < self.groups.length; i++) {
                    self.recipient_id_choices.push(self.groups[i]);
                }
            }
        };
        self.updateExampleStructuredSMS();
        self.updateRecipientIdChoices();
    }
    
    $(function(){
        kvm = KeywordActionsViewModel({{ form.current_values|JSON }});
        // FIXME
        ko.applyBindings(kvm);
    });
</script>
{% endblock %}

{% block main_column %}
<form action="" method="post">
    <div>
        <table class="parameter_table">
            <tbody>
                <tr>
                    <td>Keyword</td>
                    <td><input type="text" name="keyword" data-bind="value: keyword, valueUpdate: 'afterkeydown', event: {keyup : updateExampleStructuredSMS}" /></td>
                    <td>{{ form.keyword.errors }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><textarea name="description" data-bind="text: description"></textarea></td>
                    <td>{{ form.description.errors }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h4>Respond to Sender:</h4>
    </div>
    <div>
        <table class="parameter_table">
            <tbody>
                <tr>
                    <td>Send</td>
                    <td><select name="sender_content_type" data-bind="options: content_type_choices, optionsText: 'desc', optionsValue: 'code', value: sender_content_type"></select></td>
                    <td>{{ form.sender_content_type.errors }}</td>
                </tr>
                <tr data-bind="visible: sender_content_type() == 'sms'">
                    <td>Message</td>
                    <td><textarea name="sender_message" data-bind="text: sender_message"></textarea></td>
                    <td>{{ form.sender_message.errors }}</td>
                </tr>
                <tr data-bind="visible: sender_content_type() == 'survey'">
                    <td>Survey</td>
                    <td><select name="sender_form_unique_id" data-bind="options: available_forms, optionsText: 'name', optionsValue: 'code', value: sender_form_unique_id"></select></td>
                    <td>{{ form.sender_form_unique_id.errors }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <input type="checkbox" name="process_structured_sms" data-bind="checked: process_structured_sms, click: updateExampleStructuredSMS" /> Process incoming keyword as a Structured Message
    </div>
    <div data-bind="visible: process_structured_sms">
        <table class="parameter_table">
            <tbody>
                <tr>
                    <td>Survey</td>
                    <td><select name="structured_sms_form_unique_id" data-bind="options: available_forms, optionsText: 'name', optionsValue: 'code', value: structured_sms_form_unique_id"></select></td>
                    <td>{{ form.structured_sms_form_unique_id.errors }}</td>
                </tr>
                <tr>
                    <td>Use Custom Delimiter</td>
                    <td><input type="checkbox" name="use_custom_delimiter" data-bind="checked: use_custom_delimiter, click: updateExampleStructuredSMS" /></td>
                    <td>{{ form.use_custom_delimiter.errors }}</td>
                </tr>
                <tr data-bind="visible: use_custom_delimiter">
                    <td></td>
                    <td><input type="text" name="delimiter" data-bind="value: delimiter, valueUpdate: 'afterkeydown', event: {keyup : updateExampleStructuredSMS}" /></td>
                    <td>{{ form.delimiter.errors }}</td>
                </tr>
                <tr>
                    <td>Use Named Answers</td>
                    <td><input type="checkbox" name="use_named_args" data-bind="checked: use_named_args, click: updateExampleStructuredSMS" /></td>
                    <td>{{ form.use_named_args.errors }}</td>
                </tr>
                <tr data-bind="visible: use_named_args">
                    <td></td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>XPath</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: named_args">
                                <tr>
                                    <td><input type="text" data-bind="value: name, attr: {name : ('named_args.' + $index() + '.name')}, valueUpdate: 'afterkeydown', event: {keyup : updateExampleStructuredSMS}" /></td>
                                    <td><input type="text" data-bind="value: xpath, attr: {name : ('named_args.' + $index() + '.xpath')}" /></td>
                                    <td><span class="btn btn-danger" data-bind="click: removeNamedArg"><i class="icon icon-white icon-remove"></i> Remove</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="btn btn-success" data-bind="click: addNamedArg"><i class="icon icon-white icon-plus"></i> Add Named Answer</span>
                    </td>
                    <td>{{ form.named_args.errors }}</td>
                </tr>
                <tr data-bind="visible: use_named_args">
                    <td>Use Joining Character</td>
                    <td><input type="checkbox" name="use_named_args_separator" data-bind="checked: use_named_args_separator, click: updateExampleStructuredSMS" /></td>
                    <td>{{ form.use_named_args_separator.errors }}</td>
                </tr>
                <tr data-bind="visible: use_named_args() && use_named_args_separator()">
                    <td></td>
                    <td><input type="text" name="named_args_separator" data-bind="value: named_args_separator, valueUpdate: 'afterkeydown', event: {keyup : updateExampleStructuredSMS}" /></td>
                    <td>{{ form.named_args_separator.errors }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="structured_example" data-bind="visible: process_structured_sms">
        <span><strong>Example Structured Message:</strong></span> <span data-bind="text: example_structured_sms"></span>
    </div>
    <div>
        <input type="checkbox" name="notify_others" data-bind="checked: notify_others" /> Notify another person
    </div>
    <div data-bind="visible: notify_others">
        <table class="parameter_table">
            <tbody>
                <tr>
                    <td>Recipient</td>
                    <td><select name="other_recipient_type" data-bind="options: recipient_type_choices, optionsText: 'desc', optionsValue: 'code', value: other_recipient_type, event: {change: updateRecipientIdChoices}"></select></td>
                    <td>{{ form.other_recipient_type.errors }}</td>
                </tr>
                <tr data-bind="visible: other_recipient_type() == 'USER_GROUP'">
                    <td></td>
                    <td><select name="other_recipient_id" data-bind="options: recipient_id_choices, optionsText: 'desc', optionsValue: 'code', value: other_recipient_id"></select></td>
                    <td>{{ form.other_recipient_id.errors }}</td>
                </tr>
                <tr>
                    <td>Send</td>
                    <td><select name="other_recipient_content_type" data-bind="options: content_type_choices, optionsText: 'desc', optionsValue: 'code', value: other_recipient_content_type"></select></td>
                    <td>{{ form.other_recipient_content_type.errors }}</td>
                </tr>
                <tr data-bind="visible: other_recipient_content_type() == 'sms'">
                    <td>Message</td>
                    <td><textarea name="other_recipient_message" data-bind="text: other_recipient_message"></textarea></td>
                    <td>{{ form.other_recipient_message.errors }}</td>
                </tr>
                <tr data-bind="visible: other_recipient_content_type() == 'survey'">
                    <td>Survey</td>
                    <td><select name="other_recipient_form_unique_id" data-bind="options: available_forms, optionsText: 'name', optionsValue: 'code', value: other_recipient_form_unique_id"></select></td>
                    <td>{{ form.other_recipient_form_unique_id.errors }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h4>Advanced Options</h4>
    </div>
    <div>
        <input type="checkbox" name="override_open_sessions" data-bind="checked: override_open_sessions" /> Override open SMS surveys
    </div>
    <div>
        <input type="checkbox" name="restrict_keyword_initiation" data-bind="checked: restrict_keyword_initiation" /> Restrict keyword initiation
        <span data-bind="visible: restrict_keyword_initiation">{{ form.restrict_keyword_initiation.errors }}</span>
        <table class="parameter_table" data-bind="visible: restrict_keyword_initiation">
            <tbody>
                <tr>
                    <td><input type="checkbox" name="allow_initiation_by_case" data-bind="checked: allow_initiation_by_case" /> Allow cases to initiate</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="allow_initiation_by_mobile_worker" data-bind="checked: allow_initiation_by_mobile_worker" /> Allow mobile workers to initiate</td>
                </tr>
            </tbody>
        </table>
    </div>
    <input id="id_save_button" type="submit" class="btn btn-primary" value="Save" />
</form>

{% endblock %}
