{% extends "reminders/reminders_base.html" %}
{% load hq_shared_tags %}

{% block head %}{{ block.super }}

<script language="javascript" type="text/javascript" src="{% static 'hqwebapp/javascripts/jquery-ui/jquery-ui-1.8.16.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'hqwebapp/javascripts/jquery-ui/jquery-ui-redmond-1.8.16.css' %}">

<style type="text/css">
    h2 {
        border-bottom: 1px solid #555;
    }
    #id_schedule_length {
        width: 50px;
    }
    .errorlist ul {
        margin: 0;
        padding: 0;
    }
    div.clickable {
        cursor: pointer;
        font-family: "Courier New";
    }
    span.clickable {
        cursor: pointer;
        font-family: "Courier New";
    }
    
    .tiny {
      width: 20px;
    }
    .short {
      width: 40px;
    }
    .parameter_table {
        width: auto;
        margin-left: 0px;
    }
    .parameter_table tbody tr td {
        padding-right: 5px;
    }
    .language_message {
        vertical-align: top;
    }
    .popover {
        font-size: 12px;
        font-weight: normal;
    }
    .time_type {
        width: 125px;
    }
</style>
{% endblock %}

{% block js-inline %}{{ block.super }}
<script>
    function order_event_table() {
        $("#event_table").find("tr").each(function(i) {
            $(this).find("td").each(function(j) {
                switch(j) {
                    case 0:
                        $(this).find("input").attr("name", "reminder_events." + i + ".day");
                        break;
                    case 1:
                        $(this).find("select").attr("name", "reminder_events." + i + ".time_type");
                        break;
                    case 2:
                        $(this).find("input").attr("name", "reminder_events." + i + ".time");
                        break;
                    case 3:
                        $(this).find("div").each(function(k) {
                            $(this).find(".language").attr("name", "reminder_events." + i + ".messages." + (k + 1) + ".language");
                            $(this).find(".message").attr("name", "reminder_events." + i + ".messages." + (k + 1) + ".text");
                        });
                        break;
                    case 4:
                        $(this).find("select").attr("name", "reminder_events." + i + ".survey");
                        break;
                    case 5:
                        $(this).find("input").attr("name", "reminder_events." + i + ".timeouts");
                        break;
                }
            });
        });
    }
    
    function method_changed() {
        value = $("#id_method").val();
        recipient = $("#id_recipient").val();
        if (value == "sms") {
            $(".for_sms_survey").hide();
            $(".for_sms_callback").hide();
            $(".for_ivr_survey").hide();
            $(".for_sms").show();
        } else if (value == "survey") {
            $(".for_sms_callback").hide();
            $(".for_sms").hide();
            $(".for_ivr_survey").hide();
            $(".for_sms_survey").show();
            if(recipient == "USER" || recipient == "OWNER") {
                $("#id_recipient").val("CASE");
            }
        } else if (value == "callback") {
            $(".for_sms").hide();
            $(".for_sms_survey").hide();
            $(".for_ivr_survey").hide();
            $(".for_sms_callback").show();
            if(recipient == "USER" || recipient == "OWNER") {
                $("#id_recipient").val("CASE");
            }
        } else if (value == "ivr_survey") {
            $(".for_sms").hide();
            $(".for_sms_survey").hide();
            $(".for_sms_callback").hide();
            $(".for_ivr_survey").show();
            if(recipient == "USER" || recipient == "OWNER") {
                $("#id_recipient").val("CASE");
            }
        }
    }
    
    function event_interpretation_changed() {
        value = $("#id_event_interpretation").val();
        if(value == "SCHEDULE") {
            $(".for_offset_based").hide();
            $(".for_schedule_based").show();
        } else {
            $(".for_schedule_based").hide();
            $(".for_offset_based").show();
        }
        enable_advanced_time_changed();
    }
    
    function start_choice_changed() {
        if($("#id_start_choice").val() == "DATE") {
            $("#id_start_date").show();
        } else {
            $("#id_start_date").hide();
        }
    }
    
    function iteration_type_changed() {
        if($("#id_iteration_type").val() == "FIXED") {
            $("#id_max_iteration_count_input").show();
        } else {
            $("#id_max_iteration_count_input").hide();
        }
    }
    
    function start_condition_type_changed() {
        if($("#id_start_condition_type").val() == "CASE_CRITERIA") {
            $(".for_on_datetime").hide();
            $(".for_case_criteria").show();
            if($("#id_recipient").val() == "SURVEY_SAMPLE") {
                $("#id_recipient").val("CASE");
                recipient_changed();
            }
        } else {
            $("#id_method").val("survey");
            $(".for_case_criteria").hide();
            $(".for_on_datetime").show();
            if($("#id_recipient").val() != "SURVEY_SAMPLE") {
                $("#id_recipient").val("SURVEY_SAMPLE");
                recipient_changed();
            }
        }
        method_changed();
        enable_advanced_time_changed();
    }
    
    function recipient_changed() {
        if($("#id_recipient").val() == "SURVEY_SAMPLE") {
            $("#id_sample_id").show();
        } else {
            $("#id_sample_id").hide();
        }
    }
    
    function use_until_changed() {
        if($("#id_use_until").val() == "Y") {
            $("#id_until").show();
        } else {
            $("#id_until").hide();
        }
    }
    
    function enable_advanced_time_changed() {
        if($("#id_enable_advanced_time_choices").is(":checked") && $("#id_start_condition_type").val() == "CASE_CRITERIA" && $("#id_event_interpretation").val() == "SCHEDULE") {
            $(".for_advanced_times").show();
        } else {
            $(".for_advanced_times").hide();
        }
    }
    
    $(function(){
        // Set help text bubbles
        
        var help_text = {
            "Start Offset": "The number of days to wait after the start date before sending the content. This can be a negative number to send any number of days before a given date.",
            "Day": "For schedule-based schedules, this is the day in the schedule on which to send the content (starting with 0).",
            "Time": "For schedule-based schedules, this is the time of day at which to send the content (hh:mm).",
            "Language | Message": "The message to send. Enter the language code in the left-hand box and corresponding message in the right-hand box.",
            "Form": "Select the form to play to the recipient.",
            "Timeouts": "An optional list of timeout intervals in minutes, separated by commas. When sending SMS Surveys, the current question " +
                        "will be resent at each timeout if the survey is not yet completed. When sending SMS with expected callback, the SMS will " +
                        "be resent at each timeout until the last timeout, at which point the callback will be counted as missed.",
            "Days to Wait": "For offset-based schedules, this is the number of days to wait before sending the content.",
            "Time to Wait": "For offset-based schedules, this is the hours and minutes (hh:mm) to wait before sending the content.",
            "Default Language": "When sending SMS, this is the default language code to use when no translation is available for the recipient. A translation must be present in " +
                                "the default language for each message.",
            "Schedule Type": "Use Schedule-based to send at an exact time of day. Use Offset-based to send a certain number of days or hours and minutes later.",
            "Schedule Length": "The length of the schedule. For example, this would be 1 for daily schedules and 7 for weekly schedules.",
            "Days to Wait Before Restarting": "The number of days to wait after the end of one iteration of the schedule and before the beginning of the next iteration.",
            "Until Condition": "Optionally specify a case property which will be used to deactivate this reminder. If the case property is a date, no reminders for that case will go out " +
                               "after that date. Also, if this case property is set to 'OK', the reminder for that case will automatically be deactivated.",
            "Stop": "A reminder will stop sending if its trigger condition is no longer true. Also, you can use the below stop conditions to deactivate a reminder. Whichever of these stop "+
                    "conditions comes first will deactivate an active reminder.",
            "Partial Form Submission": "For SMS Surveys, when this option is enabled, the form will be submitted in its current state on the last survey timeout if it has not yet been completed. For IVR Surveys, "+
                                       "when this option is enabled, the form will be submitted in its current state on disconnect if it has not yet been completed.",
            "Side Effects For Partial Forms": "Only applies when submitting partial forms. If selected, the system will include any case create, update, or close actions when a partial "+
                                              "form submission occurs. If not selected, the system will submit the form on a partial form submission, but ignore any case create, update, or close actions.",
            "Advanced Reminder Time Choices": "Enable this option to specify reminder times in advanced ways, such as specifying the time to send in a case property. This applies only to " +
                                              "schedule-based (not offset-based) schedules.",
            "Time Type": "Use 'Default' to specify the time of day to send (hh:mm). Use 'Case Property' to specify the case property that contains the time of day to send.",
            "Question Retries": "An IVR Survey will only allow this many invalid responses to a question before disconnecting the call."
        };

        $('.help_popover').popover({
            placement: 'top',
            trigger: 'hover',
            title: function () {
                return $(this).attr('data-help-key');
            },
            content: function () {
                return help_text[$(this).attr('data-help-key')];
            }
        });
        
        // Set on change methods
        
        $("#id_method").change(function() {
            method_changed();
        });
        
        $("#id_event_interpretation").change(function() {
            event_interpretation_changed();
        });
        
        $("#id_start_choice").change(function() {
            start_choice_changed();
        });
        
        $(".add_translation").click(function() {
            $(this).parent().clone(true).appendTo($(this).parent().parent());
            $(this).parent().parent().children("div").last().find("input").attr("value","");
            order_event_table();
        });
        
        $(".remove_translation").click(function() {
            if ($(this).parent().parent().children("div").length <= 1) {
                alert("You must have at least one translation for each message.");
            } else {
                $(this).parent().remove();
                order_event_table();
            }
        });
        
        $("#id_iteration_type").change(function() {
            iteration_type_changed();
        });
        
        $("#id_use_until").change(function() {
            use_until_changed();
        });
        
        $(".add_event").click(function() {
            $("#event_table > tbody").children("tr").last().clone(true).appendTo($("#event_table"));
            $("#event_table > tbody").children("tr").last().find("input").attr("value", "");
            order_event_table();
        });
        
        $(".remove_event").click(function() {
            if ($(this).parent().parent().parent().children("tr").length <= 1) {
                alert("You must have at least one event in the schedule.");
            } else {
                $(this).parent().parent().remove();
                order_event_table();
            }
        });
        
        $("#id_start_match_type").change(function() {
            if ($("#id_start_match_type").val() == "ANY_VALUE") {
                $("#id_start_value").hide();
            } else {
                $("#id_start_value").show();
            }
        });
        
        $("#id_start_condition_type").change(function() {
            start_condition_type_changed();
        });
        
        $("#id_start_datetime_date").datepicker({dateFormat : "yy-mm-dd"});
        
        $("#id_recipient").change(function() {
            recipient_changed();
        });
        
        $("#id_enable_advanced_time_choices").change(function() {
            enable_advanced_time_changed();
        });
        
        // Run on change methods
        
        method_changed();
        event_interpretation_changed();
        start_choice_changed();
        iteration_type_changed();
        start_condition_type_changed();
        recipient_changed();
        use_until_changed();
        enable_advanced_time_changed();
    });
</script>
{% endblock %}

{% block reminder_definition_nav %}
<ul class="nav nav-list">
    {% if handler_id %}
    <li class="active"><a href="{% url edit_complex domain handler_id %}">{{ form.nickname.value }}</a></li>
    {% else %}
    <li class="active"><a href="{% url add_complex_reminder_schedule domain %}">New Reminder Definition</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block reminders_content %}
<form action="" method="post">
    <br />
    <table id="reminder_info" class="parameter_table">
        <tbody>
            <tr>
                <td><h4>Name</h4></td>
                <td>{{ form.nickname }}</td>
                <td>{{ form.nickname.errors }}</td>
            </tr>
            <tr>
                <td><h4>Active</h4></td>
                <td>{{ form.active }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <br />
    <h4>Trigger</h4>
    <div class="form-block">
        <div id="case_criteria">
            Trigger
            <select name="start_condition_type" id="id_start_condition_type">
                <option value="CASE_CRITERIA" {% if form.start_condition_type.value == "CASE_CRITERIA" %}selected="selected"{% endif %}>for each case with:</option>
                <option value="ON_DATETIME" {% if form.start_condition_type.value == "ON_DATETIME" %}selected="selected"{% endif %}>on a specific date/time</option>
            </select>
            <br />
            <br />
            <table id="case_criteria_table" class="parameter_table for_case_criteria">
                <tbody>
                    <tr>
                        <td>Case Type</td>
                        <td>{{ form.case_type }}</td>
                        <td>{{ form.case_type.errors }}</td>
                    </tr>
                    <tr>
                        <td>Case Property</td>
                        <td>{{ form.start_property }} {{ form.start_match_type }} <input type="text" name="start_value" id="id_start_value" value="{{ form.start_value.value|default:"" }}" {% if form.start_match_type.value == "ANY_VALUE" %}style="display: none;"{% endif %}/></td>
                        <td>{{ form.start_property.errors }}{{ form.start_value.errors }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h4>Start</h4>
    <div class="form-block">
        <div id="start_date_div">
            <table id="start_date_table" class="parameter_table for_case_criteria">
                <tbody>
                    <tr>
                        <td>Start Date</td>
                        <td>
                            <select name="start_choice" id="id_start_choice">
                                <option value="DATE" {% if form.start_choice.value == "DATE" %}selected="selected"{% endif %}>defined by case property</option>
                                <option value="IMMEDIATELY" {% if form.start_choice.value == "IMMEDIATELY" %}selected="selected"{% endif %}>as soon as it triggers</option>
                            </select>
                            <input type="text" name="start_date" id="id_start_date" value="{{ form.start_date.value|default:"" }}" />
                        </td>
                        <td>{{ form.start_date.errors }}</td>
                    </tr>
                    <tr>
                        <td><div class="help_popover" data-help-key="Start Offset">Start Offset (days) <i class="icon icon-question-sign"></i></div></td>
                        <td>{{ form.start_offset }}</td>
                        <td>{{ form.start_offset.errors }}</td>
                    </tr>
                </tbody>
            </table>
            <table id="datetime_table" class="parameter_table for_on_datetime">
                <tbody>
                    <tr>
                        <td>Date</td>
                        <td><input type="text" name="start_datetime_date" id="id_start_datetime_date" value="{{ form.start_datetime_date.value|default:"" }}" /></td>
                        <td>{{ form.start_datetime_date.errors }}</td>
                    </tr>
                    <tr>
                        <td>Time (GMT)</td>
                        <td><input type="text" name="start_datetime_time" id="id_start_datetime_time" value="{{ form.start_datetime_time.value|default:"" }}" /></td>
                        <td>{{ form.start_datetime_time.errors }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h4>Send</h4>
    <div class="form-block">
        <table class="parameter_table">
            <tbody>
                <tr>
                    <td>Send</td>
                    <td>
                        <select name="method" id="id_method">
                            <option value="sms" class="for_case_criteria" {% if form.method.value == "sms" %}selected="selected"{% endif %}>SMS</option>
                            <option value="survey" class="for_case_criteria for_on_datetime" {% if form.method.value == "survey" %}selected="selected"{% endif %}>SMS survey</option>
                            <option value="ivr_survey" class="for_case_criteria" {% if form.method.value == "ivr_survey" %}selected="selected"{% endif %}>IVR survey</option>
                            <option value="callback" class="for_case_criteria" {% if form.method.value == "callback" %}selected="selected"{% endif %}>SMS expecting callback</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>To</td>
                    <td>
                        <select name="recipient" id="id_recipient">
                            <option value="OWNER" class="for_sms for_case_criteria" {% if form.recipient.value == "OWNER" %}selected="selected"{% endif %}>The case's owner(s)</option>
                            <option value="USER" class="for_sms for_case_criteria" {% if form.recipient.value == "USER" %}selected="selected"{% endif %}>The case's last submitting user</option>
                            <option value="CASE" class="for_case_criteria" {% if form.recipient.value == "CASE" %}selected="selected"{% endif %}>The case</option>
                            <option value="SURVEY_SAMPLE" class="for_on_datetime" {% if form.recipient.value == "SURVEY_SAMPLE" %}selected="selected"{% endif %}>Survey Sample</option>
                        </select>
                        <select name="sample_id" id="id_sample_id">
                            {% for sample in sample_list %}
                                <option value="{{ sample.code }}" {% if form.sample_id.value == sample.code %}selected="selected"{% endif %}>{{ sample.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>{{ form.sample_id.errors }}</td>
                </tr>
                <tr>
                    <td>Frequency</td>
                    <td>
                        <select name="frequency">
                            <option value="ADVANCED">Advanced</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><div class="help_popover" data-help-key="Schedule Type">Schedule Type <i class="icon icon-question-sign"></i></div></td>
                    <td>
                        <select name="event_interpretation" id="id_event_interpretation">
                            <option value="SCHEDULE" {% if form.event_interpretation.value == "SCHEDULE" %}selected="selected"{% endif %}>Schedule-based</option>
                            <option value="OFFSET" {% if form.event_interpretation.value == "OFFSET" %}selected="selected"{% endif %}>Offset-based</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr class="for_sms for_sms_callback">
                    <td><div class="help_popover" data-help-key="Default Language">Default Language <i class="icon icon-question-sign"></i></div></td>
                    <td><input type="text" class="tiny" name="default_lang" id="id_default_lang" value="{{ form.default_lang.value|default:"" }}" /></td>
                    <td>{{ form.default_lang.errors }}</td>
                </tr>
            </tbody>
        </table>
        <br />
        <span>Schedule:</span>
        <br /><br />
        {{ form.events.errors }}
        <table id="event_table" class="table table-bordered parameter_table">
            <thead>
                <tr>
                    <th>
                        <div class="help_popover for_schedule_based" data-help-key="Day">Day <i class="icon icon-question-sign"></i></div>
                        <div class="help_popover for_offset_based" data-help-key="Days to Wait">Days to Wait <i class="icon icon-question-sign"></i></div>
                    </th>
                    <th class="for_advanced_times">
                        <div class="help_popover" data-help-key="Time Type">Time Type <i class="icon icon-question-sign"></i></div>
                    </th>
                    <th>
                        <div class="help_popover for_schedule_based" data-help-key="Time">Time <i class="icon icon-question-sign"></i></div>
                        <div class="help_popover for_offset_based" data-help-key="Time to Wait">Time to Wait <i class="icon icon-question-sign"></i></div>
                    </th>
                    <th class="for_sms for_sms_callback">
                        <div class="help_popover" data-help-key="Language | Message">Language | Message <i class="icon icon-question-sign"></i></div>
                    </th>
                    <th class="for_sms_survey for_ivr_survey">
                        <div class="help_popover" data-help-key="Form">Form <i class="icon icon-question-sign"></i></div>
                    </th>
                    <th class="for_sms_survey for_sms_callback for_ivr_survey">
                        <div class="help_popover" data-help-key="Timeouts">Timeouts <i class="icon icon-question-sign"></i></div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for e in form.events.value %}
                <tr>
                    <td><input type="text" class="short" name="reminder_events.{{ forloop.counter }}.day" value="{{ e.day }}" /></td>
                    <td class="for_advanced_times">
                        <select name="reminder_events.{{ forloop.counter }}.time_type" class="time_type">
                            <option value="DEFAULT" {% if e.time_type != "CASE_PROPERTY" %}selected="selected"{% endif %}>Default</option>
                            <option value="CASE_PROPERTY" {% if e.time_type == "CASE_PROPERTY" %}selected="selected"{% endif %}>Case Property</option>
                        </select>
                    </td>
                    <td><input type="text" class="input-medium" name="reminder_events.{{ forloop.counter }}.time" value="{{ e.time }}" /></td>
                    <td class="for_sms for_sms_callback">
                        {% for message_num, message in e.messages.items %}
                        <div>
                            <input type="text" class="tiny language_message language" name="reminder_events.{{ forloop.parentloop.counter }}.messages.{{ forloop.counter }}.language" value="{{ message.language }}" />
                            <input type="text" class="language_message message" name="reminder_events.{{ forloop.parentloop.counter }}.messages.{{ forloop.counter }}.text" value="{{ message.text }}" />
                            <span class="btn btn-success language_message add_translation"><i class="icon icon-white icon-plus"></i> Add Translation</span>
                            <span class="btn btn-danger language_message remove_translation"><i class="icon icon-white icon-remove"></i> Remove Translation</span>
                        </div>
                        {% empty %}
                        <div>
                            <input type="text" class="tiny language_message language" name="reminder_events.{{ forloop.counter }}.messages.1.language" />
                            <input type="text" class="language_message message" name="reminder_events.{{ forloop.counter }}.messages.1.text" />
                            <span class="btn btn-success language_message add_translation"><i class="icon icon-white icon-plus"></i> Add Translation</span>
                            <span class="btn btn-danger language_message remove_translation"><i class="icon icon-white icon-remove"></i> Remove Translation</span>
                        </div>
                        {% endfor %}
                    </td>
                    <td class="for_sms_survey for_ivr_survey">
                        <div>
                            <select name="reminder_events.{{ forloop.counter }}.survey">
                            {% for f in form_list %}
                                <option value="{{ f.code }}" {% if f.code == e.survey %}selected="selected"{% endif %}>{{ f.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td class="for_sms_survey for_sms_callback for_ivr_survey"><input type="text" class="input-small" name="reminder_events.{{ forloop.counter }}.timeouts" value="{{ e.timeouts }}" /></td>
                    <td><span class="btn btn-danger remove_event"><i class="icon icon-white icon-remove"></i> Remove</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <span class="btn btn-success add_event"><i class="icon icon-white icon-plus"></i> Add Event</span>
        <br />
        <br />
        <table class="parameter_table">
            <tbody>
                <tr>
                    <td>
                        <span class="for_schedule_based help_popover" data-help-key="Schedule Length">Schedule length (days) <i class="icon icon-question-sign"></i> :</span>
                        <span class="for_offset_based help_popover" data-help-key="Days to Wait Before Restarting">Days to wait before restarting schedule <i class="icon icon-question-sign"></i> :</span>
                        {{ form.schedule_length }}
                    </td>
                    <td>{{ form.schedule_length.errors }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4><span class="help_popover" data-help-key="Stop">Stop <i class="icon icon-question-sign"></i></span></h4>
    <div class="form-block">
        <div>
            <table class="parameter_table">
                <tbody>
                    <tr>
                        <td>
                            Repeat the schedule
                            <select name="iteration_type" id="id_iteration_type">
                                <option value="FIXED" {% if form.iteration_type.value == "FIXED" %}selected="selected"{% endif %}>the following number of times:</option>
                                <option value="INDEFINITE" {% if form.iteration_type.value == "INDEFINITE" %}selected="selected"{% endif %}>indefinitely</option>
                            </select>
                            <input type="text" name="max_iteration_count_input" id="id_max_iteration_count_input" class="tiny" value="{{ form.max_iteration_count_input.value|default:"" }}" />
                        </td>
                        <td>{{ form.max_iteration_count.errors }}</td>
                    </tr>
                    <tr class="for_case_criteria">
                        <td>
                            <span class="help_popover" data-help-key="Until Condition">Stop sending using case property <i class="icon icon-question-sign"></i> </span>
                            <select name="use_until" id="id_use_until" style="width: 100px;">
                                <option value="Y" {% if form.use_until.value == "Y" %}selected="selected"{% endif %}>:</option>
                                <option value="N" {% if form.use_until.value == "N" %}selected="selected"{% endif %}>(none)</option>
                            </select>
                            <input type="text" name="until" id="id_until" value="{{ form.until.value|default:"" }}" {% if not form.until.value %}style="display: none;"{% endif %} />
                        </td>
                        <td>{{ form.until.errors }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h4>Advanced Options</h4>
    <div class="form-block">
        <div>
            <table class="parameter_table">
                <tbody>
                    <tr>
                        <td>{{ form.submit_partial_forms }}</td>
                        <td>Submit partial forms <span class="help_popover" data-help-key="Partial Form Submission"><i class="icon icon-question-sign"></i></span></td>
                    </tr>
                    <tr>
                        <td>{{ form.include_case_side_effects }}</td>
                        <td>Include case side effects for partial form submissions <span class="help_popover" data-help-key="Side Effects For Partial Forms"><i class="icon icon-question-sign"></i></span></td>
                    </tr>
                    <tr>
                        <td>{{ form.enable_advanced_time_choices }}</td>
                        <td>Enable advanced reminder time choices <span class="help_popover" data-help-key="Advanced Reminder Time Choices"><i class="icon icon-question-sign"></i></span></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            Retry an IVR Survey question
                            <select name="max_question_retries" id="id_max_question_retries" class="input-mini">
                                {% for k, v in form.fields.max_question_retries.choices %}
                                <option value="{{ k }}" {% if k == form.max_question_retries.value %}selected="selected"{% endif %}>{{ v }}</option>
                                {% endfor %}
                            </select>
                            time(s) before hanging up
                            <span class="help_popover" data-help-key="Max Question Retries"><i class="icon icon-question-sign"></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Submit" />
</form>
{% endblock %}
