{% load i18n %}
<table class="table table-bordered">
    <thead data-bind="with: eventObjects()[0]">
        <th class="span2">{% trans 'Day' %}</th>
        <th class="span2">{% trans 'Time' %}</th>
        <th class="span2" data-bind="visible: isWindowLengthVisible">{% trans 'Window' %}</th>
        <th class="span5" data-bind="visible: isSurveyVisible">{% trans 'Survey' %}</th>
        <th class="span5" data-bind="visible: isMessageVisible">{% trans 'Message' %}</th>
        <th class="span1" data-bind="visible: $parent.isEventDeleteButtonVisible"></th>
    </thead>
    <tbody data-bind="foreach: eventObjects">
        <td>
            <input type="text" class="input-mini" data-bind="value: day_num" />
        </td>
        <td>
            <div data-bind="template: { name: 'event-fire-template', data: $data }"></div>
        </td>
        <td data-bind="visible: isWindowLengthVisible">
            <input type="text"
                   name="time_window_legnth"
                   class="input-mini"
                   data-bind="value: time_window_length" /> {% trans 'minute(s)' %}
        </td>
        <td data-bind="visible: isSurveyVisible">
            <input type="text"
                   name="form_unique_id"
                   data-bind="value: form_unique_id, visible: isSurveyVisible"
                   class="input-xxlarge" />
        </td>
        <td data-bind="visible: isMessageVisible">
            <div data-bind="foreach: messageTranslations">
                <label><strong data-bind="text: languageLabel"></strong></label>
                <textarea rows="2"
                          class="input-xxlarge"
                          data-bind="value: message, valueUpdate: 'keyup'"></textarea>
                <div data-bind="template: { name: 'event-message-length-template' }" style="margin-top: 5px;"></div>
                <hr data-bind="visible: $parent.messageTranslations().length > 1" />
            </div>
        </td>
        <td data-bind="visible: $parent.isEventDeleteButtonVisible">
            <button type="button"
                    class="btn btn-danger">
                <i class="icon-remove"></i>
            </button>
        </td>
    </tbody>
</table>

<p style="padding-top: 0;">
    <button type="button"
            class="btn btn-success"
            data-bind="event: { click: addEvent }">
        <i class="icon-plus"></i> {% trans 'Event' %}</button>
</p>
