{% extends "reminders/survey_base.html" %}

{% block head %}{{ block.super }}

<style type="text/css">
    #survey_list_table {
        width: auto;
        margin-left: 0px;
        min-width: 50%;
    }
</style>

{% endblock %}

{% block survey_content %}
<table id="survey_list_table" class="table table-striped datatable table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Questionnaire</th>
            <th>Sample</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for survey in surveys %}
        <tr>
            <td>{{ survey.name }}</td>
            <td>{{ survey.questionnaire_name }}</td>
            <td>{{ survey.sample.name }}</td>
            <td><a href="{% url edit_survey domain survey.get_id %}"><span class="btn btn-primary">Edit</span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br />
<a href="{% url add_survey domain %}"><span class="btn btn-success"><i class="icon icon-white icon-plus"></i> New Survey</span></a>

{% endblock %}
