[global]
run_time = 30
rampup = 0
results_ts_interval = 10
progress_bar = on
console_logging = off
xml_report = off

[user_group-1]
threads: 50
script: submit_form.py

[user_group-2]
threads: 5
script: ota_restore.py
