{% load i18n %}
<div class="page-header">
    <h1>{% trans "Welcome back to " %}{% if domain %}{{ domain }}{% else %}CommCare HQ{% endif %}!<br />
        <small>
        {% if next %}
            {% trans "You will be transferred to your original destination after you sign in." %}
        {% else %}
            {% trans "Please sign in below to continue." %}
        {% endif %}
        </small>
    </h1>
</div>
<form class="form-horizontal form-login" name="form" method="post" >
    {% csrf_token %}
    {% for global_error in form.non_field_errors %}
    <div class="alert alert-error">
        {{ global_error }}
    </div>
    {% endfor %}
    {% if next %}
        <input name="next" type="hidden" value="{{next}}" />
    {% endif %}
    {% if domain %}
        <input name="domain" type="hidden" value="{{ domain }}"/>
    {% endif %}
    <fieldset>
    {% for field in form.visible_fields %}
        <div class="control-group{% if field.errors %} error{% endif %}">
            <label class="control-label" for="{{ field.id }}">{{ field.label }}</label>
            <div class="controls">
                {{ field }}
                {% for error in field.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
                {% if field.name == "password" %}
                    <p class="help-block">
                        <a href="{% url password_reset_email %}"><i class="icon icon-question-sign"></i> {% trans "Forgot your password?" %}</a>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </fieldset>
    <div class="form-actions"><button tabindex="3" type="submit" class="btn btn-primary btn-large">{% trans "Sign In" %}</button></div>
</form>
<script type="text/javascript">
    $(function () {
        $('#id_username').attr('tabindex', '1');
        $('#id_password').attr('tabindex', '2');
    });
</script>