{% load i18n %}
{% load crispy_forms_tags %}
<div class="page-header">
    <h1>{% trans "Welcome back to " %}{% if hr_name %}{{ hr_name }}{% elif domain %}{{ domain }}{% else %}{{ SITE_NAME }}{% endif %}!<br />
        <small>
        {% if next %}
            {% trans "Looks like your CommCare session has expired. Please log-in again to continue working." %}
        {% else %}
            {% trans "Please sign in below to continue." %}
        {% endif %}
        </small>
    </h1>

    {% if next %}
    <p>
        {% trans "You will be transferred to your original destination after you sign in." %}
    </p>
    {% endif %}
</div>
<form class="form form-horizontal form-login" name="form" method="post">
    {% if next %}
        <input name="next" type="hidden" value="{{next}}" />
    {% endif %}
    {% if domain %}
        <input name="domain" type="hidden" value="{{ domain }}" />
    {% endif %}
    {% crispy form %}
</form>
<script type="text/javascript">
    $(function () {
        $('#id_username').attr('tabindex', '1').focus();
        $('#id_password').attr('tabindex', '2');
    });
</script>
