{% load i18n %}

<button type="button"
        class="btn btn-outline-primary"
        data-bs-toggle="offcanvas"
        data-bs-target="#filterDataOffcanvas">
  <i class="fa-solid fa-filter"></i> {% trans "Filter Data" %}
</button>
<button type="button"
        class="btn btn-outline-primary"
        data-bs-toggle="offcanvas"
        data-bs-target="#configureColumnsOffcanvas">
  <i class="fa-solid fa-table-columns"></i> {% trans "Configure Columns" %}
</button>
<button type="button"
        class="btn btn-outline-primary"
        data-bs-toggle="offcanvas"
        data-bs-target="#editOffcanvas"
        x-data="{ isCleaningAllowed: false }"
        :disabled="!isCleaningAllowed"
        @num-records-selected-changed.camel.window="isCleaningAllowed = $event.detail > 0">
  <i class="fa-solid fa-shower"></i> {% trans "Clean Data" %}
</button>
