{% extends 'style/base_section.html' %}
{% load i18n %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}

{% block stylesheets %} {{ block.super }}
    <link rel="stylesheet" href="{% static 'hqwebapp/js/lib/jquery-ui-datepicker/datepicker-theme/jquery-ui-1.8.17.custom.css' %}" />
{% endblock %}

{% block js %}{{ block.super }}
    <script src="{% static 'sms/js/add_gateway_form_handler.ko.js' %}"></script>
{% endblock %}

{% block js-inline %}{{ block.super }}
    <script>
        var gatewayFormHandler = new AddGatewayFormHandler({
            share_backend: {{ form.give_other_domains_access.value|BOOL }},
            use_load_balancing: {{ use_load_balancing|BOOL }},
            phone_numbers: {{ form.phone_numbers.value|default:'[]'|safe }},
            phone_number_required_text: "{% trans 'You must have at least one phone number.' %}"
        });
        $('#add-gateway-form').koApplyBindings(gatewayFormHandler);
        gatewayFormHandler.init();
    </script>
{% endblock %}

{% block page_content %}
    <div id="add-gateway-form">
        {% crispy form %}
    </div>

    <script type="text/html" id="ko-load-balancing-template">
        <div class="control-group">
            <div class="controls">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{% trans 'Phone Number' %}</th>
                            <th>{% trans 'Action' %}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: phone_numbers">
                        <tr>
                            <td><input type="text" data-bind="value: phone_number" /></td>
                            <td>
                                <button type="button"
                                        class="btn btn-danger"
                                        data-bind="click: $parent.removePhoneNumber">
                                    <i class="fa fa-times"></i> {% trans 'Remove' %}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    {{ form.phone_numbers.errors }}
                </div>
                <input type="hidden"
                       name="phone_numbers"
                       data-bind="value: phone_numbers_json" />
                <button type="button"
                        class="btn btn-success"
                        data-bind="click: addPhoneNumber">
                    <i class="fa fa-plus"></i> {% trans 'Add Phone Number' %}
                </button>
            </div>
        </div>
    </script>
{% endblock %}
