{% extends 'style/bootstrap3/base_section.html' %}
{% load i18n %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}


{% block js-inline %}{{ block.super }}
<script>
    function BackendMapping(prefix, backend_id) {
        'use strict';
        var self = this;
        self.prefix = ko.observable(prefix);
        self.backend_id = ko.observable(backend_id);
    }

    function BackendMapViewModel(initial) {
        'use strict';
        var self = this;

        self.backend_map = ko.observableArray();

        _.map(
            initial.backend_map,
            function(mapping) {
                self.backend_map.push(new BackendMapping(mapping.prefix, mapping.backend_id));
            }
        );

        self.backend_map_json = ko.computed(function() {
            return JSON.stringify(
                _.map(
                    self.backend_map(),
                    function(mapping) {
                        return {'prefix': mapping.prefix(), 'backend_id': mapping.backend_id()};
                    }
                )
            );
        });

        self.addMapping = function() {
            self.backend_map.push(new BackendMapping('', ''));
        };

        self.removeMapping = function() {
            self.backend_map.remove(this);
        };
    }

    $(function(){
        var backendViewModel = new BackendMapViewModel({
            'backend_map': {{ form.backend_map.value|safe }}
        });
        $('#backend-map-form').koApplyBindings(backendViewModel);
    });
</script>
{% endblock %}

{% block page_content %}
    <div id="backend-map-form">
        {% crispy form %}
    </div>

    <script type="text/html" id="ko-template-backend-map">
        <input type="hidden" name="backend_map" data-bind="value: backend_map_json" />
        <table class="table table-bordered table-striped" data-bind="visible: backend_map().length > 0">
            <thead>
                <tr>
                    <th>{% trans "Phone Prefix" %}</th>
                    <th>{% trans "Gateway" %}</th>
                    <th>{% trans "Action" %}</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: backend_map">
                <tr>
                    <td><input type="text"
                               class="form-control"
                               placeholder="{% trans 'Prefix' %}"
                               data-bind="value: prefix" /></td>
                    <td>
                        <select data-bind="value: backend_id" class="form-control">
                            {% for backend in backends %}
                            <option value="{{ backend.pk }}">{{ backend.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><button type="button"
                                class="btn btn-danger"
                                data-bind="click: $parent.removeMapping">
                        <i class="fa fa-remove"></i> {% trans "Remove" %}</button></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success"
                type="button"
                data-bind="click: addMapping">
            <i class="fa fa-plus"></i> {% trans 'Add Mapping' %}
        </button>
    </script>
{% endblock %}
