{% extends 'style/bootstrap3/base_section.html' %}
{% load i18n %}
{% load hq_shared_tags %}
{% load timezone_tags %}
{% load crispy_forms_tags %}

{% block js-inline %}
    <script type="text/javascript">

        $(function(){
            $("#hint_id_recipients").addClass("alert alert-info");
            $("#hint_id_message").addClass("alert alert-info");
            $("#id_message").bind('keyup', function () {
                var max_char = 160,
                        current_count = $(this).val().length,
                        cc_message = "";
                var chars_remaining = max_char - current_count;
                var $char_count = $("#hint_id_message");
                if(chars_remaining < 0)
                    $char_count.addClass("alert-danger").removeClass('alert-info');
                else
                    $char_count.removeClass("alert-danger").addClass('alert-info');
                cc_message = current_count + " character";
                if(current_count != 1)
                    cc_message = cc_message + "s";
                cc_message = cc_message + " (" + max_char + " max)";
                $char_count.text(cc_message);
            });


            $('.sms-typeahead').multiTypeahead({
                source: {{ sms_contacts|JSON }}
            }).focus();

        });
    </script>
{% endblock %}


{% block page_content %}
    {% crispy form %}
{% endblock %}
