{% extends 'style/bootstrap2/two_column.html' %}
{% load i18n %}
{% load hq_shared_tags %}
{% load timezone_tags %}

{% block title %}{% trans "Message History" %}{% endblock %}

{% block js %} {{ block.super }}
    {% block sms-js %}
        {% include "imports/datatables.html" %}
        <script type="text/javascript" src="{% static 'reports/javascripts/config.dataTables.bootstrap.js' %}"></script>
    {% endblock %}
{% endblock %}

{% block js-inline %} {{ block.super }}
    {% block sms-js-inline %}
        <script type="text/javascript">
            $(function(){
                var msgTable = new HQReportDataTables({});
                msgTable.render();
            });
        </script>
    {% endblock %}
{% endblock %}

{% block page-title %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url "sms_default" domain %}"><strong>{% trans "Messaging" %}</strong></a> <span class="divider">&gt;</span>
        </li>
        <li class="active">
            <div id="report-title">{% block page-subtitle %}<a href="{% url "messaging" domain %}">{% trans "Message History" %}</a>{% endblock %}</div>
        </li>
    </ul>
{% endblock %}

{% block main_column %}

    {% include "style/bootstrap2/partials/time_notice.html" %}

    <div class="pull-right" id="datatables_filter_container">

    </div>
    <table class="table table-striped datatable">
        <thead>
        <tr>
            <th><i class="icon-white"></i> {% trans "Username" %}</th>
            <th><i class="icon-white"></i> {% trans "Phone number" %}</th>
            <th><i class="icon-white"></i> {% trans "Type" %}</th>
            <th><i class="icon-white"></i> {% trans "Time" %}</th>
            <th><i class="icon-white"></i> {% trans "Message" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messagelog %}
            <tr>
                <td>{{ message.username }}</td>
                <td>{{ message.phone_number }}</td>
                <td>{% if message.direction == "I" %}{% trans "Received" %}
                {% else %}{% trans "Sent" %}
                {% endif %}
                </td>
                <td>{% utc_to_timezone message.date timezone %}</td>
                <td>{{ message.text }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
