{% extends 'hqwebapp/bootstrap5/base_paginated_crud.html' %}
{% load i18n %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}

{% js_entry "sms/js/gateway_list" %}

{% block pagination_header %}

  {% if extra_backend_mappings %}
    <p>
      <i class="fa fa-info-circle"></i>
      {% blocktrans %}
        You are seeing this notice because your project defines some custom behavior for outbound SMS
        when choosing a gateway for a destination mobile number. The following mobile prefixes
        are mapped to their corresponding gateway backends for routing outbound SMS traffic:
      {% endblocktrans %}
    </p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans "Phone Prefix" %}</th>
          <th>{% trans "Gateway Backend Name" %}</th>
        </tr>
      </thead>
      <tbody>
      {% for prefix, backend_name in extra_backend_mappings.items %}
        <tr>
          <td>{{ prefix }}</td>
          <td>{{ backend_name }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% if is_system_admin %}
      <p class="text-danger">
        <i class="fa fa-info-circle"></i>
        {% blocktrans %}
          See comments under SQLMobileBackendMapping in the code for how to administer this.
        {% endblocktrans %}
      </p>
    {% endif %}
  {% endif %}

{% endblock %}

{% block pagination_footer %}
  <div class="help-block">
    {% blocktrans %}
      * Before using this gateway to send messages internationally, please test that it works for each network provider in your desired countries.
      International text messages sent from this gateway may not be delivered in all countries.
    {% endblocktrans %}
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      {% crispy initiate_new_form %}
    </div>
  </div>
{% endblock %}

{% block pagination_templates %}
  <script type="text/html" id="gateway-template">
    <td class="col-md-4">
      <a data-bind="if: editUrl, attr: {href: editUrl}"><span data-bind="text: name"></span></a>
      <!--ko ifnot: editUrl --><span data-bind="text: name"></span><!-- /ko -->
    </td>
    <td class="col-md-4" data-bind="text: description"></td>
    <td class="col-md-4" data-bind="text: supported_countries"></td>
    <td class="col-md-2">
      <button type="button"
              class="btn btn-outline-primary refresh-list-confirm text-nowrap"
              data-loading-text="{% trans 'Setting as default...' %}">{% trans 'Set As Default' %}</button>  {# todo B5: stateful button #}
    </td>
    <td class="col-md-2">
      <!-- ko if: canDelete -->
      <a data-bind="attr: {href: '#' + deleteModalId }"
         class="btn btn-outline-danger"
         data-bs-toggle="modal"><i class="fa fa-times"></i> {% trans 'Delete' %}</a>
      <div class="modal fade" data-bind="attr: {id: deleteModalId}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">
                {% blocktrans %}Delete the SMS Gateway '<span data-bind="text: name"></span>'{% endblocktrans %}
              </h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans_html_attr "Close" %}"></button>
            </div>
            <div class="modal-body">
              <p>{% blocktrans %}Are you sure you want to delete the SMS Gateway '<span data-bind="text: name"></span>'?</p>{% endblocktrans %}
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-outline-danger delete-item-confirm">
                <i class="fa fa-times"></i> {% trans "Delete" %}
              </a>
              <a href="#" data-bs-dismiss="modal" class="btn btn-outline-primary">{% trans "Cancel" %}</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /ko -->
      <!-- ko if: isGlobal --><span class="badge text-bg-secondary"><i class="fa fa-info-circle"></i> {% trans 'Global Gateway' %}</span><!-- /ko -->
      <!-- ko if: isShared --><span class="badge text-bg-secondary"><i class="fa fa-info-circle"></i> {% trans 'Shared Gateway' %}</span><!-- /ko -->
    </td>
  </script>

  <script type="text/html" id="gateway-deleted-template">
    <td class="col-md-4" data-bind="text: name"></td>
    <td class="col-md-4" data-bind="text: description"></td>
    <td class="col-md-4" data-bind="text: supported_countries"></td>
    <td class="col-md-4" colspan="2">
      {% trans 'DELETED' %}
    </td>
  </script>

  <script type="text/html" id="gateway-default-template">
    <td class="col-md-4">
      <a data-bind="if: editUrl, attr: {href: editUrl}"><span data-bind="text: name"></span></a>
      <!--ko ifnot: editUrl --><span data-bind="text: name"></span><!-- /ko -->
    </td>
    <td class="col-md-4" data-bind="text: description"></td>
    <td class="col-md-4" data-bind="text: supported_countries"></td>
    <td class="col-md-2"><span class="badge text-bg-info">{% trans 'DEFAULT GATEWAY' %}</span></td>
    <td class="col-md-2">
      <button type="button"
              class="btn btn-outline-danger refresh-list-confirm"
              data-loading-text="{% trans 'Removing from default...' %}">{% trans 'Remove As Default' %}</button>  {# todo B5: stateful button #}
    </td>
  </script>

  <script type="text/html" id="gateway-automatic-template">
    <td class="col-md-8" colspan="3"><em data-bind="text: name"></em></td>
    <td class="col-md-4" colspan="2"><span class="badge text-bg-info">{% trans 'DEFAULT GATEWAY' %}</span></td>
  </script>
{% endblock %}


