{% extends 'hqwebapp/bootstrap5/base_paginated_crud.html' %}
{% load i18n %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}

{% js_entry "sms/js/gateway_list" %}

{% block pagination_footer %}
  <div class="help-block">
    {% blocktrans %}
      * Before using this gateway to send messages internationally, please test that it works for each network provider in your desired countries.
      International text messages sent from this gateway may not be delivered in all countries.
    {% endblocktrans %}
  </div>
  <div class="row" style="margin-top: 50px;">  {# todo B5: inline-style #}
    <div class="col-md-12">
      {% crispy initiate_new_form %}  {# todo B5: crispy #}
    </div>
  </div>
{% endblock %}

{% block pagination_templates %}
  <script type="text/html" id="gateway-template">
    <td class="col-md-4">
      <a data-bind="attr: {href: editUrl}"><span data-bind="text: name"></span></a>
    </td>
    <td class="col-md-4" data-bind="text: description"></td>
    <td class="col-md-4" data-bind="text: supported_countries"></td>
    <td class="col-md-2">
      <a data-bind="attr: {href: '#' + deleteModalId }"
         class="btn btn-outline-danger"
         data-bs-toggle="modal"><i class="fa fa-times"></i> {% trans 'Delete' %}</a>
      <div class="modal fade" data-bind="attr: {id: deleteModalId}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>  {# todo B5: css-close #}
              <h4 class="modal-title">
                {% blocktrans %}Delete the SMS Gateway '<span data-bind="text: name"></span>'{% endblocktrans %}
              </h4>
            </div>
            <div class="modal-body">
              <h2><strong>{% trans "READ THIS IMPORTANT NOTICE CAREFULLY BEFORE CONTINUING" %}</strong></h2>
              <p>{% blocktrans %}Deleting a global gateway causes all gateway mapping references to it to be deleted as well,
                including default gateway settings for all domains that reference this gateway. Only proceed if you are confident
                you understand the repercussions of this irreversible action.{% endblocktrans %}</p>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-outline-danger delete-item-confirm">
                <i class="fa fa-times"></i> {% trans "Delete" %}
              </a>
              <a href="#" data-bs-dismiss="modal" class="btn btn-outline-primary">{% trans "Cancel" %}</a>
            </div>
          </div>
        </div>
      </div>
    </td>
  </script>

  <script type="text/html" id="gateway-deleted-template">
    <td class="col-md-4" data-bind="text: name"></td>
    <td class="col-md-4" data-bind="text: description"></td>
    <td class="col-md-4" data-bind="text: supported_countries"></td>
    <td class="col-md-4">{% trans 'DELETED' %}</td>
  </script>
{% endblock %}
