{% extends 'sms/add_backend.html' %}
{% load i18n %}

{% block js-inline %}{{ block.super }}
<script>
    var param_counter = 0;
    
    function add_param(nm, val) {
        $("#id_additional_params").append('<tr> \
                <td><input type="text" name="additional_params.'+param_counter+'.name" value="'+nm+'" /></td> \
                <td><input type="text" name="additional_params.'+param_counter+'.value" value="'+val+'" /></td> \
                <td><span id="id_remove_record_'+param_counter+'" class="btn btn-danger"><i class="icon icon-white icon-remove"></i> {% trans "Remove" %}</span></td> \
            </tr>');
        $("#id_remove_record_"+param_counter).click(function(){
            $(this).parent().parent().remove();
        });
        param_counter++;
    }
    
    $(function(){
        {% for pair in form.additional_params.value %}
        add_param("{{ pair.name }}", "{{ pair.value }}");
        {% endfor %}
        
        $("#id_add_parameter").click(function() {
            add_param("", "");
        });
    });
</script>
{% endblock %}

{% block backend_specific %}
<h4>{{ backend_generic_name }} {% trans "Settings" %}</h4>
<div class="form-block">
    <table>
        <tbody>
            <tr>
                <td><label for="id_url">{% trans "URL" %}</label></td>
                <td>{{ form.url }}</td>
                <td>{{ form.url.errors }}</td>
            </tr>
            <tr>
                <td><label for="id_method">{% trans "HTTP Request Method" %}</label></td>
                <td>{{ form.method }}</td>
                <td>{{ form.method.errors }}</td>
            </tr>
            <tr>
                <td><label for="id_message_param">{% trans "Message Parameter" %}</label></td>
                <td>{{ form.message_param }}</td>
                <td>{{ form.message_param.errors }}</td>
            </tr>
            <tr>
                <td><label for="id_number_param">{% trans "Phone Number Parameter" %}</label></td>
                <td>{{ form.number_param }}</td>
                <td>{{ form.number_param.errors }}</td>
            </tr>
            <tr>
                <td><label for="id_include_plus">{% trans "Include '+' in Phone Number" %}</label></td>
                <td>{{ form.include_plus }}</td>
                <td>{{ form.include_plus.errors }}</td>
            </tr>
        </tbody>
    </table>
</div>
<h4>{% trans "Additional HTTP Parameters" %}</h4>
<div class="form-block">
    {{ form.additional_params.errors }}
    <table style="width: auto;" class="table table-striped table-bordered datatable">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Value" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="id_additional_params"></tbody>
    </table>
    <div>
        <span id="id_add_parameter" class="btn btn-success"><i class="icon icon-white icon-plus"></i> {% trans "Add Parameter" %}</span>
    </div>
</div>
{% endblock %}
