div.login-block {
    border: 1px solid #ccc;
    background-color: #fff;
    margin: auto;
    width: 200px;
    padding: 1.5em;
}
.login-block p {
    font-size: .8em;
    text-align: center;
}

.login-block h1 {
    font-size: 1.2em;
    text-align: center;
}

.login-block form {
    padding: 5px;
}
.login-block form table {
    margin: auto;
}

.login-block .field_error {
    font-size: .8em;
    background-color: #faa;

.helptext {
    font-size: .8em;
}
