{% extends "soil/base.html" %}
{% load hq_shared_tags %}
{% load i18n %}

{% js_entry "soil/js/file_download" %}

{% block title %}
  {% trans "File Downloader" %}
{% endblock title %}

{% block extrahead %}
    {{ block.super }}
    {% include "hqwebapp/partials/webpack.html" %}
{% endblock %}

{% block content %}
  <h2>{% trans "Preparing download. This may take some time..." %}</h2>
  <div class="downloader_container" id="display_{{ download_id }}"
       data-download-id="{{ download_id }}"
       data-url="{% url 'ajax_job_poll' download_id %}"></div>
{% endblock content %}
