h1 {
    font-size: 2em;
    text-align: center;
}

.datatable {
    width: 100%;
}

#main_container {
    padding: 0;
}
#report_header {
    padding: 10px;
}
#paramSelectorForm p {
    padding: 5px 0 5px 0;
}
#title-bar {
    background-color: #EEE;
    border-bottom: 1px solid #CCC;
}
#title-bar > ul {
    display: table-row;
    position: absolute;
}
#title-bar > ul > li {
    border-right: 1px solid #CCC;
    padding: 0 .5em;
    display: table-cell;
}
#title-bar > ul > li:last-child {
    border-right: none;
}
input.date-picker {
    width: 100px;
    text-align: center;
}
.username {
    text-decoration: underline;
}
#ufilter, #datespan, #select_form {
    display: block;
}

fieldset.report-field {
    display: inline-block;
    padding: .25em 20px 0.25em 90px;
    position: relative;
    min-width: 200px;
}

fieldset.report-field legend {
    font-weight: 800;
    position: absolute;
    left: 0;
}
fieldset.report-field legend:after {
    content: ':';
}

tfoot td {
    border-top: 1px solid #333333;
    font-weight: bold;
}