<div class="row">
    {% if not report_table.chart_only %}
        <div class="col-md-6">
            <div class="col-md-8">
                {% include 'world_vision/partials/table.html' with report_table=report_table %}
            </div>
        </div>
    {% endif %}

    {% if charts and not report_table.table_only %}
        <div class="col-md-6">
            {% for chart in charts %}
                {% include 'world_vision/partials/chart.html' with chart=chart report=report_table counter=forloop.counter %}
            {% endfor %}
        </div>
    {% endif %}
</div>

{% include 'world_vision/partials/report_table_script.html' %}
