{% load hq_shared_tags %}
{% load report_tags %}
{% load i18n %}

{% if report_table.accordion_start and not report_table.is_mixed_report %}
    <div class="accordion" id="accordion_{{ report_table.slug }}">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{ report_table.slug }}" href="#collapse_{{ report_table.slug }}">
            <i id="collapse_icon_{{ report_table.slug }}" class="icon-chevron-down"></i>
            <span style="font-size: 16px;">{{ thisreport.report_table.title }}<br/><small>{{ subtitle1 }}</small><br/><small>{{ subtitle2 }}</small></span>
          </a>
        </div>
        <div id="collapse_{{ report_table.slug }}" class="accordion-body collapse in">
            <div class="accordion-inner">
{% endif %}

        {% if not report_table.chart_only %}
            <table id="report_table_{{ report_table.slug }}" class="table table-nonfluid datatable" {% if pagination.filter %} data-filter="true"{% endif %}
                    >
                <thead>
                    {%  if report_table.headers.complex %}
                        {{ report_table.headers.render_html|safe }}
                    {% else %}
                        <tr>
                            {% for header in report_table.headers %}
                                <th {% if not report_table.pagination.is_on %}data-sort="{{ header.sort_type }}" data-sortdir="{{ header.sort_direction }}"{% endif %} {% if header.css_class %}class="{{ header.css_class }}"{% endif %}>
                                    <i class="icon-white"></i>
                                    {% if header.html %}{{ header.html }}{% else %}{{ header|linebreaksbr }}{% endif %}
                                    {% if header.help_text %}
                                        <i class="icon-white icon-question-sign header-tooltip" title="{{ header.help_text }}"></i>
                                    {% endif %}
                                </th>
                            {% endfor %}
                        </tr>
                    {% endif %}
                </thead>
                <tbody>
                {% block tabular-body %}
                {% if report_table.pagination.is_on %}
                    <tr>
                        <td colspan="{{ report_table.headers.header|length }}" class="dataTables_empty">
                            {% trans "Fetching additional data, please wait..." %}
                        </td>
                    </tr>
                {% endif %}
                {% for row in report_table.rows %}
                    <tr>
                        {% for col in row %}
                            {% include 'world_vision/partials/tabular_cell.html' %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                {% endblock %}
                </tbody>
                {% if report_table.total_row and report_table.rows %}
                    <tfoot>
                    <tr>
                        {% for col in report_table.total_row %}
                            <td>{% if col.html != None %}{{ col.html|safe }}{% else %}{{ col|safe }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                    </tfoot>
                {% endif %}
            </table>
        {% endif %}

        {% if charts and not report_table.table_only %}
            {% for chart in charts %}
            <div class="row">
                {% if chart.title %}<h4 style="text-align: center; font-size: smaller">{{ chart.title }}</h4>{% endif %}
                <div id='chart_{{ report.slug }}_{{ forloop.parentloop.counter }}{{ forloop.counter }}' class="span6 hide" style="width: 80%">
                    <svg style='height: {{ chart.height }}px; width: 100%'> </svg>
                </div>
            </div>
            {% endfor %}

        {% endif %}

    {% if report_table.accordion_end and not report_table.is_mixed_report %}
        </div>
    </div>
</div>
{% endif %}
{% if rendered_as != "print" %}
    <script type="text/javascript">
        $(function () {
            $('.hq-help-template').each(function () {
                COMMCAREHQ.transformHelpTemplate($(this), true);
            });
            $('#collapse_{{ report_table.slug }}').on('shown', function () {
               $("#collapse_icon_{{ report_table.slug }}").removeClass("icon-chevron-down").addClass("icon-chevron-up");
            });

            $('#collapse_{{ report_table.slug }}').on('hidden', function () {
               $("#collapse_icon_{{ report_table.slug }}").removeClass("icon-chevron-up").addClass("icon-chevron-down");
            });
        });
        {% if report_table and report_table.datatables %}
            var dataTablesDom = "frt<'row-fluid dataTables_control'<'span5'il><'span7'p>>";

            var params = {
                    sDom: dataTablesDom,
                    "sPaginationType": "bootstrap",
                    iDisplayLength: 10,
                    iDisplayStart: 0,
                    sScrollX: "100%"
                };

            var id = '#report_table_{{ report_table.slug }}';
            var datatable = $(id).dataTable(params);

           {% if report_table.fix_column %}
                new FixedColumns(datatable, {
                   iLeftColumns: 1,
                   iLeftWidth: 130
                });
           {% endif %}
        {% endif %}
        $("body").change(function() {
            $(".nv-legendWrap").attr("transform", "translate(200,-25)");
        });
    </script>
{% endif %}
