{% load hq_shared_tags %}
{% load report_tags %}
{% load i18n %}

{% if not report_table.chart_only %}
    {% include 'world_vision/partials/table.html' with report_table=report_table %}
{% endif %}

{% if charts and not report_table.table_only %}
    {% for chart in charts %}
        <div class="row">
            {% include 'world_vision/partials/chart.html' with chart=chart report=report_table parent_counter=counter counter=forloop.counter %}
        </div>
    {% endfor %}
{% endif %}

{% include 'world_vision/partials/report_table_script.html' %}
