#appedit {
  display: inline-block;
  vertical-align: top;
  background-color: white;
  .box-shadow(0 0 15px 5px rgba(0,0,0,.3));
  margin-top: -60px;
  position: relative;
  margin-bottom: 20px;
  .transition(width 1s);
}

.appedit-title {
  padding: 20px;
  border-bottom: 1px solid @cc-bg;

  > h2 {
    font-size: 1.2rem;
    margin: 0;
    line-height: 19px;
    text-transform: uppercase;
  }

}

.appedit-content {
  padding: 20px;
  padding-right: 30px;
}
