.nabvbar-brand {
  background-color: @cc-brand-low;
  min-height: 40px;
  margin-bottom: 0;
  border: none;

  .navbar-text {
    color: white;
    text-transform: uppercase;
    margin-top: 8.5px;
    margin-bottom: 7.5px;
    font-size: 1.4rem;
  }
}

.navbar-app-settings {
  background-color: @cc-brand-mid;
  margin-bottom: 0;
  height: 79px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 31px;
  border: none;

  .navbar-edit {
    color: white;
    cursor: pointer;
    width: @appnav-width + 10;
    font-size: 1.4rem;
    line-height: 48px;
    padding: 0 @appnav-trash-width;
    background-color: transparent;
    .transition(all .5s);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover,
    &.active {
      text-decoration: none;
      background-color: @cc-brand-low;
    }
  }
}
