/* has to be more specific than the existing rule */
#xform-source .syntaxhighlighter {
  overflow: visible !important;
}

.config {
  position: relative;
}

#xform-source-opener {
  cursor: pointer;
}

/* full-screen-width modal for editing form source */
.xml-source .modal-dialog {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  margin: 0;
  width: auto;

  textarea {
    font-family: monospace;
    height: 400px;
    width: 95%;
  }
}

.casexml ul {
  margin-left: 15px;
}

// Width of dropdown list when selecting a question from case management
.bigdrop {
  width: 600px !important;
}

// Visit scheduler
.nested-fieldset {
  margin-left: 50px;

  .form-inline {
    margin-left: 50px;
  }
}
