#logo-top-left {
    text-align: left;
    height: 135px;
}

#logo-title {
    text-align: center;
    height: 135px;
}

#logo-title:not(.buttons) h4 {
    font-size: 20pt;
    line-height: 20pt;
    margin-top: 50px;
}

#logo-title.buttons h4 {
    font-size: 20pt;
    line-height: 20pt;
    margin-top: 15px;
}

#logo-top-right {
    text-align: right;
    height: 135px;
}

#logo-top img {
    height: 96px;
    padding: 15px;
}

#logo-bottom div {
    text-align: center;
    margin: 25px 0;
}

#logo-bottom img {
    height: 96px;
}

.buttons .popover {
    width: 350px;
}
