{% extends "orgs/orgs_landing.html" %}
{% load i18n %}

{% block js-inline %}{{ block.super }}
<script>
    $(function () {
        $('.delete-team-btn').on('click', function() {
            $('#deleting-team-id').val($(this).attr('data-team_id'));
            $('#deleting-team-name').text($(this).attr('data-team'));
            $('#delete-team-modal').modal({show: true});
            return false;
        });
    });
</script>
{% endblock %}

{% block carded-content %}
<table data-provides="rowlink" class="table table-striped" style="border-collapse:collapse">
{% for team in teams %}
    <tr><td style="border-top: none;">
        <a href="{% url orgs_team_members org.name team.get_id %}"><strong>{{ team.name }}</strong></a>
        {% if admin %}
            <div class="btn-toolbar pull-right" style="margin: 0;">
                <a href="{% url orgs_team_members org.name team.get_id %}" class="btn">
                    <i class="icon icon-pencil"></i> {% trans "Edit Team" %}
                </a>
                <a href="#" class="btn btn-danger delete-team-btn" data-team="{{ team.name }}" data-team_id="{{ team.get_id }}">
                    <i class="icon icon-white icon-remove"></i> {% trans "Delete Team" %}
                </a>
            </div>
        {% endif %}
    </td></tr>
{% endfor %}
</table>

{% if admin %}
    <form class="form-horizontal" method="post" action="{% url orgs_add_team org.name %}">
        <div class="well well-small">
            <div class="input-append">
                <input name="team" id="team" type="text" placeholder="New Team Name" />
                <button type="submit" id="add_team_btn" class="btn btn-info disable-on-submit">
                    <i class="icon-plus"></i> {% trans "Add Team" %}
                </button>
            </div>
        </div>
    </form>
{% endif %}
{% endblock %}

{% block org-modals %}
{% if admin %}
    <div id="edit-team-modal" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{% trans "Change Team Name" %}</h3>
        </div>
    </div>
    <div id="delete-team-modal" class="modal hide fade">
        <form class="form-inline" style="margin: 0;" action="{% url delete_team org.name %}" method="post">
            <div class="modal-body">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Delete team <em><span id="deleting-team-name"></span></em> from {{ org.title }}?</h3>
                <input type="hidden" id="deleting-team-id" name="team_id" value="" />
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">{% trans "Cancel" %}</a>
                <button type="submit" class="btn btn-danger disable-on-submit">{% trans "Delete Team" %}</button>
            </div>
        </form>
    </div>
{% endif %}
{% endblock %}
