{% load menu_tags %}
{% load cache %}
{% load compress %}
{% load hq_shared_tags %}

<!DOCTYPE html>
    {% include 'style/includes/analytics_google.html' %}
    {% include 'style/includes/analytics_pingdom.html' %}
    {% include 'style/includes/analytics_kissmetrics.html' %}
    {% include 'style/includes/analytics_hubspot.html' %}
</html>

<script>

    /**
     * This object provides a light wrapper around the KISSmetrics API.
     * If we choose to use additional tracking services in the future, these
     * functions can be added to to call those APIs as well.
     *
     * At some point we might also want to migrate our Google Analytics usage
     * into this object. But, right now we are mostly tracking different sorts
     * of things with KISSmetrics than we are with Google Analytics.
     *
     * This API (mostly) mirrors that of the Segment analytics.js library.
     * (https://segment.com/docs/libraries/analytics.js/)
     * That (free) library provides a unified API for many many analytics services.
     * However, using it without configuration via a segment account is not well
     * documented. Since this object provides a compatible API, it should be easy
     * to switch back to Segment if we decide to do that in the future.
     *
     * There are important difference to note however:
     * - In this library, the track function executes its callback after the
     *   event has successfully been tracked. In analytics.js the callback is
     *   executed after a short timeout.
     * - In this library, trackLink accepts a selector as its first argument,
     *   in analytics.js the arg must be a DOM element or jQuery object.
     * - In this library, trackLink prevents the default action of the link
     *   until after the event has been successfully tracked. In analytics.js
     *   the default action is only delayed by a short timeout.
     */
    window.analytics = {

        /**
         * Set the identity of the person using the site.
         * userId is optional, if you just want to set traits for the current
         * user, call this function with a single object argument. ex:
         *
         *    analytics.identify({'is_super_user': False});
         *
         * @param {string} [userId]
         * @param {object} [traits] - Dictionary of properties about the user.
         */
        identify: function(userId, traits) {
            // Figure out if a user id was provided
            if (typeof userId === 'object'){
                if (traits === undefined){
                    // the first and only argument passed was traits
                    traits = userId;
                    userId = null;
                } else {
                    // uh-oh... can't tell what the first argument was intended to be.
                    throw "Unexpected argument types"
                }
            }
            // Record identity
            if (userId !== null) {
                _kmq.push(['identify', userId]);
            }
            if (traits !== undefined){
                _kmq.push(['set', traits]);
            }
        },

        /**
         * Track an event.
         * @param {string} event - Event name
         * @param {object} [properties] - Dictionary of properties to set along with the event.
         * @param {function} [callback] - A Callback to be executed after the event has been successfully tracked.
         */
        track: function(event, properties, callback) {
            if (properties === undefined){
                properties = {};
            }
            var args = ["record", event, properties];
            if (callback !== undefined){
                args.push(callback);
            }
            _kmq.push(args);
        },

        /**
         * Track an event when the given element is clicked.
         * Uses a callback to ensure that the request to the analytics services
         * completes before the default click action happens. This is useful if
         * the link would otherwise navigate away from the page.
         * @param {(Element|jQuery object|string)} element - The element (or a selector) whose clicks you want to track.
         * @param {string} event - The name of the event
         * @param {object} [properties] - Dictionary of properties to set along with the event.
         */
        trackLink: function(element, event, properties) {
            var self = this;
            if (properties === undefined){
                properties = {};
            }
            trackLinkHelper(element, function (cb) {self.track(event, properties, cb);});
        }
    };

    {% if request.couch_user %}
        analytics.identify(
            '{{ request.couch_user.username }}',
            {is_dimagi: {{ request.couch_user.is_dimagi|BOOL }} }
        );
    {% endif %}
    {% if ANALYTICS_CONFIG.HQ_INSTANCE %}
        analytics.identify({'hq_instance': '{{ANALYTICS_CONFIG.HQ_INSTANCE}}'});
    {% endif %}

</script>
