{% load hq_shared_tags %}
<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-form/jquery.form.js' %}"></script>
<script type="text/javascript" src="{% static 'underscore/underscore.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/underscore-mixins.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.cookie/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/hq_extensions.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.rmi/jquery.rmi.js' %}"></script>

