{% load hq_shared_tags %}
{% load compress %}

{% compress js %}
<script src="{% static 'knockout/dist/knockout.js' %}"></script>
<script src="{% static 'style/lib/knockout_plugins/knockout_mapping.ko.min.js' %}"></script>
<script src="{% static 'style/js/knockout_bindings.ko.js' %}"></script>

<!--
    Required for inline edit widget. Also used by cloudcare, but included
    here instead because ko.html is basically a global include.
-->
<script src="{% static 'DOMPurify/dist/purify.min.js' %}"></script>

<script src="{% static 'style/js/components/inline_edit.js' %}"></script>
<script src="{% static 'style/js/components/inline_edit_v2.js' %}"></script>
<script src="{% static 'style/js/components.ko.js' %}"></script>
{% endcompress %}
