{% load menu_tags %}
{% load i18n %}
{% load hq_shared_tags %}

<ul class="nav navbar-nav navbar-right">
    {% if request.project.organization and request.couch_user.is_web_user and request.can_see_organization %}
    <li>
        <a href="{% url "orgs_landing" request.project.organization %}">
            {{ request.project.get_organization.title }}
        </a>
    </li>
    {% endif %}

    {% if request.couch_user and request.couch_user.is_web_user %}
    <li class="dropdown{% if is_project_settings %} active{% endif %}">
        {% if domain %}
            {% ifequal domain 'public' %}
                <a id="project-no-admin"
                    href="#"
                    data-title="{% trans 'Settings Not Available' %}"
                    data-placement="bottom"
                    data-html="true"
                    data-content="{% blocktrans %}You can't edit the CommCare HQ Demo Project's settings.{% endblocktrans %}">
                    {% trans 'CommCare HQ Demo Project' %}
                </a>
                <script>
                    $(function () {
                       $('#project-no-admin').popover();
                    });
                </script>
            {% else %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {% if request.project.is_snapshot %}
                        {% blocktrans with request.project.copied_from.display_name as snap_name %}
                            Snapshot of {{ snap_name }}
                        {% endblocktrans %}
                    {% else %}
                        {{ request.project.display_name }}
                    {% endif %}
                    <span class="caret"></span>
                </a>
            {% endifequal %}
        {% else %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans 'Select Project' %}
                <span class="caret"></span>
            </a>
        {% endif %}
        {% if domain %}
            {% domains_for_user request domain %}
        {% else %}
            {% domains_for_user request %}
        {% endif %}
    </li>
    {% endif %}
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% if user.first_name %}
                {{ user.first_name }}
            {% else %}
                {{ user.username }}
            {% endif %}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">
                {% if user.first_name %}
                    {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    {{ user.username }}
                {% endif %}
            </li>
            {% with request.couch_user.role_label.strip as role %}{% if role %}
                <li class="dropdown-header">
                    {{ role }}
                </li>
            {% endif %}{% endwith %}
            <li>
                <a href="{% url "my_account_settings" %}">
                    <i class="fa fa-cog"></i> {% trans 'Account Settings' %}
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{% url "logout" %}">
                    <i class="fa fa-sign-out"></i> {% trans 'Sign Out' %}
                </a>
        </ul>
    </li>

</ul>
