{% load hq_shared_tags %}
<script src="{% static 'style/js/ui_elements/ui-element-langcode-button.js' %}"></script>
<script src="{% static 'style/js/ui_elements/ui-element-input.js' %}"></script>
<script src="{% static 'style/js/ui_elements/ui-element-checkbox.js' %}"></script>
<script src="{% static 'style/js/ui_elements/ui-element-input-map.js' %}"></script>
<script src="{% static 'style/js/ui_elements/ui-element-key-val-list.js' %}"></script>
<script src="{% static 'style/js/ui_elements/ui-element-key-val-mapping.js' %}"></script>
<script src="{% static 'style/js/ui_elements/ui-element-select.js' %}"></script>
<script src="{% static 'style/js/ui-element.js' %}"></script>
