.nav-hq-sidebar {
  font-size: 13px;
  line-height: 18px;
}

.text-hq-nav-header {
  margin-bottom: 6px;
}

.nav > li > a {
  color: @cc-brand-low;
}

.nav-hq-sidebar li.divider {
    height: 1px;
    margin: 8px 10px;
    overflow: hidden;
    background-color: white;
    border-top: 1px solid @cc-neutral-hi;
}
