{% extends base_template %}
{% block head %}
{#        <script src="{{ STATIC_URL }}hqwebapp/js/ejs.min.js"></script>#}
        <script src="{{ STATIC_URL }}hqwebapp/js/lib/sugar.js"></script>
        <script src="{{ STATIC_URL }}cleanup/js/jsontable.js"></script>
        <script>
            $(function(){
                var renderCode = (function(code){
                    return "<code>" + code + "</code>";
                });
                var none_selected_str = "<p>(None Selected)</p>";
                var state = {
                    get_url: function(){
                        return '{% url corehq.apps.cleanup.views.submissions_json domain %}' +
                                '?group=' + encodeURIComponent(JSON.stringify(this.get_group())) +
                                '&userID=' + encodeURIComponent(JSON.stringify(this.get_userID())) +
                                '&limit=' + encodeURIComponent(this.get_limit()) +
                                '&username__exclude=' + encodeURIComponent(this.get_username__exclude());
                    },
                    get_group: function(){
                        return !($("#dont_group").is(':checked'));
                    },
                    get_userID: function(){
                        return $("#use_userID").is(':checked') ? $("#userID").val() : null;
                    },
                    get_limit: function(){
                        return $("#limit").val();
                    },
                    get_username__exclude: function(){
                        return $("#username__exclude").val();
                    },

                    reload: function(){
                        $("#case_report").html("Loading...");
                        $("#result_info").html("");
                        $("#selected").html(none_selected_str);
                        $.get(this.get_url(), function(data){
                            $("#case_report").html("Processing...");
                            var data = JSON.parse(data);
                            //var report = _.jsonreport(JSON.stringify(data.results));
                            state.table = new JsonTable({
                                data: data.results,
                                order: ["username", "userID", "deviceID", "submissions", "received_on"],
                                element: $("#case_report"),
                                selected: $("#selected"),
                                render: {userID: renderCode, deviceID: renderCode},
                                getId: function(x){
                                    if(state.get_group()) {
                                        return "All submissions from " + x.username + " (" + renderCode(x.userID) + ") on phone " + renderCode(x.deviceID);
                                    } else {
                                        return "Submission from " + x.username + " (" + renderCode(x.userID) + ") on phone " + renderCode(x.deviceID) + " recieved on " + x.received_on;
                                    }
                                }
                            });
                            $("#case_report").bind('change-selected', function(){
                                var self = state.table;
                                var nSelected = self.getSelected().length;
                                $("#selected").html("<table></table>");
                                for(var id in self.selected) {
                                    if (self.selected.hasOwnProperty(id)) {
                                        $('table', $("#selected")).append(self.selected[id].render({copy: true}));
                                    }
                                }
                                if(!nSelected) {
                                    $("#selected").html(none_selected_str);
                                }
                                $("#reassign_submit_wrapper").each(function(){
                                    // right now changing single submissions is not supported
                                    if(nSelected) {
                                        $(this).show();
                                    } else {
                                        $(this).hide();
                                    }
                                });
                                $("#reassign_div").each(function(){
                                    if (state.get_group()) {
                                        $(this).parent().parent().show();
                                    } else {
                                        $(this).parent().parent().hide();
                                    }
                                });
                            }).trigger('change-selected');
                            $("#result_info").html("Number of results: " + data.total);
                        });
                    }
                };
                $("#user_reassignment select[name='userID']").each(function(){
                    var i,
                        that = this;
                    $.get('../users.json', function(data){
                        var users = JSON.parse(data);
                        users.sortBy(function(){
                            return this.username;
                        });
                        for(i = 0; i < users.length; i += 1) {
                            var $option = $("<option />");
                            $option.attr("value", users[i].userID);
                            $option.text(users[i].username.split('@')[0] + "  (" + users[i].userID + ")");
                            $(that).append($option);
                        }
                    });
                });
                $("#reload").click(function(){
                    state.reload();
                    return false;
                }).trigger('click');
                $("#user_reassignment").submit(function(){
                    var data = {
                        submissions: state.table.getSelected(),
                        group: state.get_group()
                    };
                    $("[name='data']", this).val(JSON.stringify(data));
                    return confirm("You cannot undo this action. Are you sure you want to continue?");
                });
            });
        </script>
    <style>
    #submissions_config_layout_table {
        height: 250px;
    }
    h1 {
        padding: 10px;
        font-size: 2em;
        text-align: center;
    }
    #main_container {
        padding: 20px;
    }
    code {
        font-size: .8em;
    }
    </style>
{% endblock %}
{% block content %}
    <div id="main_container">
        <h1>Reassign Submissions to Users</h1>
        <table id="submissions_config_layout_table">
            <tr>
            <td>
                <h2>1. Filter</h2>
                <div class="config">
                    <table>
                        <tr>
                            <th><label for="dont_group">List individual submissions</label></th>
                            <td><input type="checkbox" id="dont_group"/></td>
                        </tr>
                        <tr>
                            <th><label for="userID">User ID</label></th>
                            <td><input type="checkbox" id="use_userID" value="null"/><input type="text" id="userID" value=""/></td>
                        </tr>
                        <tr class="hidden">
                            <th><label for="limit">Limit results to</label></th>
                            <td><input type="hidden" id="limit" value="100"/></td>
                        </tr>
                        <tr class="hidden">
                            <th><label for="username__exclude">Exclude usernames:</label></th>
                            <td><input type="hidden" id="username__exclude" value='["demo_user", "admin", "system"]' /></td>
                        </tr>
                    </table>
                    <!--input type="text" id="query" value='userID=""&limit=100'/-->
                    <a id="reload" href="#" class="button">Reload</a>
                </div>
            </td>
            <td>
                <h2>3. Reassign</h2>
                <div class="config" id="reassign_div">
                    <p>Reassign the following submissions:</p>
                    <div id="selected"></div>
                    <p>to the following user:</p>
                    <form id="user_reassignment" action="{% url corehq.apps.cleanup.views.relabel_submissions domain %}" method="POST">
                        <select name="userID"></select> <br />
                        <input type="hidden" name="data" value="" /> <br />
                        <div id="reassign_submit_wrapper">
                            <input type="submit" value="Reassign" />
                        </div>
                    </form>
                </div>
            </td>
            </tr>
        </table>
        <h2>2. Select Results</h2>
        <div class="config">
            <div id="result_info"></div>
            <div id="case_report" class="jsontable">
        </div>

        </div>
    </div>
{% endblock %}
