<p>
    <code>#{{ color.hex }}</code>
    <button type="button"
            class="btn btn-default btn-xs"
            data-toggle="modal"
            data-target="#color-info-modal-{{ color_slug }}-{{ color_type }}">
        <i class="fa fa-info-circle"></i></button>
</p>
<div class="modal fade" id="color-info-modal-{{ color_slug }}-{{ color_type }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    {{ group_name }}
                    {% if color.name %}({{ color.name }}){% endif %}
                </h4>
            </div>
            <div class="modal-body">
                <h4>Hexadecimal Value</h4>
                <pre>#{{ color.hex }}</pre>
                <p>
                    Use this value to represent the color on a <strong>display</strong>
                    (web or mobile) where you can specify the color value in hex.
                </p>

                <h4>RGB Value</h4>
                <pre>R={{ color.rgb.r }}
G={{ color.rgb.g }}
B={{ color.rgb.b }}</pre>
                <p>
                    Use this value to represent the color on a <strong>display</strong>
                    (web or mobile) whre you can specify the color value in
                    its Red, Green, and Blue counterparts.
                </p>
                {% if color.pantone %}
                    <h4>Pantone Value</h4>
                    <pre>{{ color.pantone }}</pre>
                    <p>
                        Use this value to represent the color for a <strong>printed document</strong>.
                    </p>
                    {% if color.cmyk %}
                        <div class="alert alert-info">
                            <i class="fa fa-info-circle"></i> Specifying the Pantone color is preferred for printing,
                            as it is more standardized than CMYK. Use this over CMYK
                            whenever possible in print.
                        </div>
                    {% endif %}
                {% endif %}

                {% if color.cmyk %}
                <h4>CMYK Value</h4>
                <pre>C={{ color.cmyk.c }}
M={{ color.cmyk.m }}
Y={{ color.cmyk.y }}
K={{ color.cmyk.k }}</pre>
                <p>
                    Use this value to represent the color for a <strong>printed document</strong>.
                    Use this when you can only specify a color for print in
                    its Cyan, Magenta, Yellow, and blacK counterparts.
                </p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
