<html>
<head>

</head>
<body>
<h1>Example Consumer Form</h1>
<p>This page is intentionally unstyled.</p>
<h2>Case List</h2>
<ul id="data-display"></ul>
</body>
{{ link_data|json_script:'commcare-data' }}
<script>
  const linkData = JSON.parse(document.getElementById('commcare-data').textContent);
  console.log(linkData);
  const dataDiv = document.getElementById('data-display');
  for (let i = 0; i < linkData.length; i++) {
    let dataElt = document.createElement('li');
    dataElt.innerText = linkData[i].name + ': ' + linkData[i].case_id;
    dataDiv.appendChild(dataElt)
  }
</script>
</html>
