.#{$css-prefix}-start-full:before { content: $var-start-full; }
.#{$css-prefix}-start-fg:before { content: $var-start-fg; }
.#{$css-prefix}-start-bg:before { content: $var-start-bg; }

.#{$css-prefix}-saved-full:before { content: $var-saved-full; }
.#{$css-prefix}-saved-fg:before { content: $var-saved-fg; }
.#{$css-prefix}-saved-bg:before { content: $var-saved-bg; }

.#{$css-prefix}-sync:before { content: $var-sync; }

.#{$css-prefix}-incomplete-full:before { content: $var-incomplete-full; }
.#{$css-prefix}-incomplete-fg:before { content: $var-incomplete-fg; }
.#{$css-prefix}-incomplete-bg:before { content: $var-incomplete-bg; }
