.#{$css-prefix}-saved-full:before { content: $var-saved-full; }
.#{$css-prefix}-saved-fg:before { content: $var-saved-fg; }
.#{$css-prefix}-saved-bg:before { content: $var-saved-bg; }

.#{$css-prefix}-incomplete:before { content: $var-incomplete; }
