/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: $font-family;
  src: url('#{$font-path}/#{$font-name}.eot?v=#{$version}');
  src: url('#{$font-path}/#{$font-name}.eot?#iefix&v=#{$version}') format('embedded-opentype'),
       url('#{$font-path}/#{$font-name}.woff?v=#{$version}') format('woff'),
       url('#{$font-path}/#{$font-name}.ttf?v=#{$version}') format('truetype'),
       url('#{$font-path}/#{$font-name}.svg?v=#{$version}##{$font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}
