$font-path: "/static/cloudcare/font";
$css-prefix: ff;
$inverse: #ffffff;
$font-family: 'FormplayerFontRegular';
$font-name: 'formplayerfont-regular';
$version: '1.1';

$var-saved-full: "\f003";
$var-saved-fg: "\f004";
$var-saved-bg: "\f005";
$var-incomplete: "\f009";
