$font-path: "/static/cloudcare/font";
$css-prefix: ff;
$inverse: #ffffff;
$font-family: 'FormplayerFontRegular';
$font-name: 'formplayerfont-regular';
$version: '1.1';

$var-start-full: "\f000";
$var-start-fg: "\f001";
$var-start-bg: "\f002";
$var-saved-full: "\f003";
$var-saved-fg: "\f004";
$var-saved-bg: "\f005";
$var-sync: "\f006";
$var-incomplete-full: "\f007";
$var-incomplete-fg: "\f008";
$var-incomplete-bg: "\f009";
