{% if fixed_datespan_days or fixed_datespan_months or startdate_shift or enddate_shift %}
    <dl style="margin-top: 0">
        {% if fixed_datespan_days or fixed_datespan_months %}
        <dt>Fix Datespan </dt>
        <dd>{{ fixed_datespan_days }} day{{ fixed_datespan_days|pluralize }} and {{ fixed_datespan_months }} month{{ fixed_datespan_months|pluralize }}</dd>
        {% endif %}
        {% if startdate_shift %}
        <dt>Start Date Shift</dt>
        <dd>{{ startdate_shift }} day{{ startdate_shift|pluralize }}</dd>
        {% endif %}
        {% if enddate_shift %}
        <dt>End Date Shift</dt>
        <dd>{{ enddate_shift }} day{{ enddate_shift|pluralize }}</dd>
        {%  endif %}
    </dl>
{% else %}
    <span class="label">No time shifts applied.</span>
{% endif %}
