{% extends login_template %}
{% load i18n %}

{% block title %}{% trans "Single Sign-On is misconfigured" %}{% endblock title %}

{% block login-content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="reg-form-container sign-in-container">
          <div class="form-bubble form-bubble-lg">
            <h2>
              {% blocktrans %}
                Single Sign-On
              {% endblocktrans %}
            </h2>

            {% if is_saml and error.code == error.REDIRECT_INVALID_URL %}
              <p class="lead">
                {% blocktrans %}
                  Your Redirect URL is invalid.
                {% endblocktrans %}
              </p>
              <p>
                {% blocktrans %}
                  The redirect URL you have specified is not valid. Please
                  remove the text after "next=" in the url to temporarily
                  resolve this issue. If the issue persists, please contact
                  support so we can find a permanent solution.
                {% endblocktrans %}
              </p>
            {% elif is_oidc and error.code == error.OP_ERROR_MESSAGE %}
              <p class="lead">
                {% blocktrans with request.idp.service_name as service %}
                  There was an issue logging in with {{ service }}:
                {% endblocktrans %}
              </p>
              <p>
                {{ error.message }}
              </p>
            {% elif request.idp.is_active %}
              <p class="lead">
                {% blocktrans with request.idp.name as idp_name %}
                  It looks like there is an issue with {{ idp_name }}'s configuration.
                {% endblocktrans %}
              </p>
              <p>
                {% blocktrans %}
                  Please reach out to support, so we can quickly resolve this
                  problem. Thank you!
                {% endblocktrans %}
              </p>
            {% else %}
              {% if is_saml and error.code == error.SETTINGS_INVALID %}
                <p class="lead">
                  {% blocktrans %}
                    It looks like your setup is not complete.
                  {% endblocktrans %}
                </p>
                <p>
                  {% blocktrans %}
                    Information seems to be missing from your SSO configuration.
                    Please review the <a href="{{ docs_link }}">documentation</a>
                    for setting up SSO.
                  {% endblocktrans %}
                </p>
              {% elif is_saml and error.code == error.CERT_NOT_FOUND %}
                <p class="lead">
                  {% blocktrans %}
                    It looks like we are missing your certificate.
                  {% endblocktrans %}
                </p>
                <p>
                  {% blocktrans %}
                    It looks like your x509 certificate is missing from your
                    SSO setup.  Please review the
                    <a href="{{ docs_link }}">documentation</a>
                    for setting up SSO.
                  {% endblocktrans %}
                </p>
              {% elif is_oidc and error.code == error.USER_PERMISSION_ISSUE %}
                <p class="lead">
                  {% blocktrans %}
                    Obtaining User Information Was Not Possible
                  {% endblocktrans %}
                </p>
                <p>
                  {% blocktrans %}
                    It looks like there was an issue obtaining the user's information from
                    your Identity Provider. Please review the <a href="{{ docs_link }}">documentation</a>
                    for setting up SSO.
                  {% endblocktrans %}
                </p>
              {% elif is_oidc and error.code == error.SESSION_UNKNOWN %}
                <p class="lead">
                  {% blocktrans %}
                    OpenID Connect Session Unknown
                  {% endblocktrans %}
                </p>
                <p>
                  {% blocktrans %}
                    It looks like you tried to authenticate without a valid OpenID Connect Session.
                    Please review the <a href="{{ docs_link }}">documentation</a> for setting up SSO.
                  {% endblocktrans %}
                </p>
              {% elif is_oidc and error.code == error.METHOD_NOT_ALLOWED %}
                <p class="lead">
                  {% blocktrans %}
                    OIDC Method Not Allowed
                  {% endblocktrans %}
                </p>
                <p>
                  {% blocktrans %}
                    You did not complete a full SSO handshake.
                    Please review the <a href="{{ docs_link }}">documentation</a> for setting up SSO.
                  {% endblocktrans %}
                </p>
              {% else %}
                <p class="lead">
                  {% blocktrans %}
                    It looks like there is an issue with your SSO configuration.
                  {% endblocktrans %}
                </p>
                <p>
                  {% blocktrans with error.code as error_code %}
                    The error code is "{{ error_code }}". Please reach out to
                    your support contact with this information so we can
                    assist with this issue.
                  {% endblocktrans %}
                </p>
              {% endif %}
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
