{% load hq_shared_tags %}
{% load i18n %}

{% if make_optional %}
<div class="form-group">
    <label class="control-label {{ css_label_class }}">{% trans "Location Filter" %}</label>
    <div class="{{ css_field_class }}">
        <select class="form-control"
                data-bind="value: show_location_filter">
            <option value="y">{% trans "On" %}</option>
            <option value="n">{% trans "Off" %}</option>
        </select>
    </div>
</div>
{% endif %}
<div data-bind="visible: show_location_filter_bool()">
    <label class="control-label {{ css_label_class }}">{{ control_name }}</label> {# this is wrong, see filters/single_option.html for a proper implementation #}
    <div class="col-md-8">
        <div class="form-inline">
            <div data-bind="foreach: selected_path" class="form-group">
                {% block location_select %}
                <select class="form-control"
                        data-bind="options: children,
                                   optionsText: 'display_name',
                                   value: selected_child,
                                   disable: !can_edit_children()"></select>
                {% endblock %}
            </div>
            <i id="loc_ajax" class="fa fa-spinner fa-spin hide"></i>
        </div>
    </div>

</div>
<input name="location_id" type="hidden" data-bind="value: selected_locid" />

<script type="text/javascript">

  var LOAD_LOCS_URL = '{{ api_root }}';

  $.getScript("{% static 'locations/js/location_drilldown.async.js' %}", function() {

      var locs = {{ locations|JSON }};
      var selected = '{{ loc_id }}';
      var hierarchy = {{ hierarchy|JSON }};

      var show_location_filter = {% if make_optional and not loc_id %}'n'{% else %}'y'{% endif%};
      var model = new LocationSelectViewModel(hierarchy, undefined, undefined, undefined, undefined, show_location_filter);
      $('#group_{{ control_slug }}').koApplyBindings(model);
      model.load(locs, selected);

  });

</script>
