// --------------------------------
// Registration form styles
// --------------------------------

@reg-form-width: 480px;
@reg-form-height: 375px;


.reg-form-container {
  width: 100%;
  max-width: @reg-form-width;
  margin: 0 auto;
  margin-top: 10vh;
  transition: margin-top .5s ease-in-out;

  a.btn-primary {
    color: white;
  }

  @media(max-height: 685px) {
    margin-top: 5vh;
  }

  @media(max-height: 602px) {
    margin-top: 0;
  }
}
.reg-plan-container {
  width: 100%;
  max-width: @reg-form-width*1.25;
  margin: 0 auto;
  margin-top: 10vh;
}

@media (min-width: @screen-md-min) {
  .reg-form-container {
    width: @reg-form-width;
  }
  .reg-plan-container {
    width: @reg-form-width * 1.25;
  }
}

ul.form-step-progress li {
  width: 50%;
  &:before {
    width: 80%;
  }
}

.sign-in-container {
  margin-top: 2vh;
  margin-bottom: 2vh;

  @media(max-height: 685px) {
    margin-top: 5vh;
  }

  @media(max-height: 602px) {
    margin-top: 0;
  }
}

#div_id_eula_confirmed {
  text-align: left;
  label {
    margin-left: 20px;
  }
  input.checkbox {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.8); /* IE */
    -moz-transform: scale(1.8); /* FF */
    -webkit-transform: scale(1.8); /* Safari and Chrome */
    -o-transform: scale(1.8); /* Opera */

    margin-left: -22px;
    height: 25px;
  }
}

.fake-autocomplete-fields {
  display: none;
}

span.validationMessage {
  text-align: left;
  display: block;
  margin: .5em;
}

p.validation-message-block {
  margin: .5em;
  text-align: left;
  margin-top: -0.6em;
  margin-bottom: 1.1em;
}

p.sso-message-block {
  margin: .5em;
  margin-bottom: 1.55em;
  text-align: left;
}

.submit-errors {
  p, ul {
    text-align: left;
  }
}

.commcare-icon {
  font-size: 3em;
}

.submit-info,
.server-errors,
.submit-success {
  h2 {
    margin: .5rem 0 1rem;
  }
}

.server-errors,
.submit-success {
  text-align: left;
}

.initial-padding {
  padding-top: 20px;
}

.intl-tel-input {
  width: 100%;

  .selected-flag {
    color: @cc-text;
    .selected-dial-code {
      padding-left: 5px !important;
    }
  }

}

.intl-tel-input .country-list .country {
  color: @cc-text;
}

.radio-select {
  box-sizing: border-box;
  border-radius: @input-border-radius-large;
  border: 2px solid #cccccc;
  font-size: 1em;
}

.radio-select_options {
  border-radius: @input-border-radius-large;
}

.radio-select {
  &_expand {
    &::after {
      line-height: @input-height-large;
    }
  }
}
.radio-select {
  &_items {
    padding-top: @input-height-large;
  }
  &_label {
    line-height:  @input-height-large - 2px;
  }
}

.radio-select {
  &_expand:checked {
    + .radio-select_closeLabel {
      + .radio-select_options {
        margin-top: @input-height-large - 2px;
        .radio-select_label {
          height:  @input-height-base;
          line-height:  @input-height-base;
        }
        .radio-select_label:last-child {
          &:hover {
            border-bottom-left-radius: @input-border-radius-large;
            border-bottom-right-radius: @input-border-radius-large;
          }
        }
      }
    }
  }
  &_input:checked + .radio-select_label {
    height:  @input-height-base;
  }
}

.radio-select,
.radio-select_expand,
.radio-select_expandLabel,
.radio-select_label-placeholder {
  height: @input-height-large;
  line-height: @input-height-large - 2px;
}

.sign-up-bubble {
  margin: 10px 0;
}

.check-list {
  @_text-indent: 8px;
  padding: 0;
  padding-top: 10px;
  padding-left: @_text-indent;
  margin: 0;
  list-style: none;

  li {
    text-indent: -@_text-indent;
    margin-left: @_text-indent;
    font-size: 12px;
  }
}

._make-btn-primary-choice (@color) {
  .btn-primary {
    background-color: @color;
    border-color: @color;
  }

  &:focus {
    .btn-primary {
      background-color: darken(@color, 10%);
      border-color: darken(@color, 25%);
    }
  }

  &:hover {
    .btn-primary {
      background-color: darken(@color, 10%);
      border-color: darken(@color, 12%);
    }
  }
}

.reg-form-container .other-options {
  h4 {
    text-align: center;
  }
}

.reg-plan-container {
  margin-top: 8vh;

  @media (max-height: 815px) {
    margin-top: 5vh;
  }

  @media (max-height: 760px) {
    margin-top: 2vh;
  }

  @media (max-height: 730px) {
    margin-top: 10px;
  }
}

.plan-container {
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-bottom: 35px;

  p {
    margin: 10px 15px 0;
    text-align: center;
    font-size: 12px;

    &.lead {
      margin-top: 20px;
      font-weight: bold;
      font-size: 14px;
    }
  }

  a,
  a:link,
  a:visited {
    transition: .5s color ease-in-out;
  }

  ul.check-list {
    margin: 10px 20px 0;
    .fa {
      font-size: 1.5em;
      vertical-align: middle;
      margin-left: -10px;
      margin-right: 7px;
    }
    li {
      padding-bottom: 5px;
      padding-left: 10px;
      line-height: 1.5em;

      &.not-available {
        color: darken(@well-bg, 30);
      }
    }
  }
}

.plan-body {
  padding: 0 10px;
}

.plan-icon {
  float: left;
  padding-top: 25px;
  text-align: center;
  vertical-align: middle;
  width: 85px;
  font-size: 3.25em;
}

.plan-price {
  font-weight: bold;
}

.plan-cta {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 10px;
}

.plan-header {
  margin: 0;
  font-weight: 800;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  h2 {
    margin-bottom: 0;
    margin-left: 85px;
    padding: 30px 0 25px;
  }

  small {
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.plan-container-professional {

  .plan-header {
    color: white;
    background-color: @commcare-blue;
    border-bottom: 2px solid @commcare-blue;

    small {
      color: white;
    }
  }

  .check-list .fa {
    color: @commcare-blue;
  }

  a,
  a:link,
  a:visited {
    color: darken(@commcare-blue, 10);

    &.btn-primary {
      color: white;
    }
  }

  a:hover {
    color: darken(@commcare-blue, 30);
  }

  a.btn-primary {
    margin-bottom: 10px;
  }

  p.lead {
    color: darken(@commcare-blue, 10);
  }
}

.plan-container-community {
  padding-bottom: 63px;

  .plan-header {
    color: white;
    background-color: @cc-dark-cool-accent-mid;
    border-bottom: 2px solid @cc-dark-cool-accent-mid;

    small {
      color: white;
    }
  }

  .plan-icon {
    padding-top: 22px;
  }

  .check-list {
    height: 243px;

    .fa {
      color: @cc-dark-cool-accent-mid;
    }
  }

  p.lead {
    color: @cc-dark-cool-accent-mid;
  }

  a,
  a:link,
  a:visited {
    color: @cc-dark-cool-accent-low;
  }

  a.btn {
    border-color: @cc-dark-cool-accent-low;
  }

  a:hover {
    color: darken(@cc-dark-cool-accent-low, 10);
  }

}
