name: commcare-hq dependency metrics
on:
  schedule:
  - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  collect-metrics:
    runs-on: ubuntu-latest
    env:
      REPO: commcare-hq
      DATADOG_APP_KEY: ${{ secrets.DATADOG_APP_KEY }}
      DATADOG_API_KEY: ${{ secrets.DATADOG_API_KEY }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: '0.7.2'
      - name: install libxml
        run: sudo apt-get update && sudo apt-get install -y --no-install-recommends libxmlsec1-dev
      - name: install dev-requirements
        run: uv sync --all-groups --locked --compile-bytecode --no-progress
      - name: run metrics for pip
        run: uv run --no-sync metrics pip --send
      - name: run metrics for yarn
        run: uv run --no-sync metrics yarn --send
