on: workflow_dispatch

name: Update transifex translations
jobs:
  update_translations:
    name: Update transifex translations
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
          submodules: recursive
      - uses: actions/setup-python@v3
        with:
          python-version: '3.9'
      - name: Install Python requirements
        run: |
          pip install --upgrade pip
          # install requirements, excluding difficult to install ones
          grep -Ev 'xmlsec|python3-saml' requirements/dev-requirements.txt > ../requirements.txt
          pip install -r ../requirements.txt
      - name: Install transifex client
        run: |
          mkdir -p /home/runner/.local/bin
          cd /home/runner/.local/bin
          curl -o- https://raw.githubusercontent.com/transifex/cli/master/install.sh | bash
          sudo apt-get install -y gettext
      - name: Configure transifex client
        env:
          TRANSIFEX_TOKEN: ${{ secrets.TRANSIFEX_TOKEN }}
        run: |
          # copy .transifexrc.example to ~/.transifexrc, edited to include token
          grep -v '^token =' .transifexrc.example > ~/.transifexrc
          echo "token = ${TRANSIFEX_TOKEN}" >> ~/.transifexrc
      - name: Run update-translations script
        run: |
          ./scripts/update-translations.sh
        env:
          UPDATE_TRANSLATIONS_SKIP_GIT: 1
      - name: Create Pull Request
        # https://github.com/marketplace/actions/create-pull-request
        # Pinned to the commit of https://github.com/peter-evans/create-pull-request/releases/tag/v4.0.2
        uses: peter-evans/create-pull-request@bd72e1b7922d417764d27d30768117ad7da78a0e
        with:
          base: master
          branch: create-pull-request/update-translations
          branch-suffix: short-commit-hash
          commit-message: |
            Update translations
          title: 'Update Translations'
          labels: product/invisible
          body: |
            GitHub Actions automatically ran update-translations.sh and used [create-pull-request](https://github.com/peter-evans/create-pull-request) to open this pull request.

            Please **close and reopen** this pull request to have tests run.<sup>†</sup>

            <sup>†</sup> Workaround for [this GitHub Actions constraint](https://docs.github.com/en/actions/security-guides/automatic-token-authentication#using-the-github_token-in-a-workflow)
