<tr>
    <td>
        <select name="excel_field[]">
            <option value=""></option>
            {% for field in excel_fields %}
                <option value="{{ field|escape }}">
                    {{ field|escape }}
                </option>
            {% endfor %}
        </select>
    </td>

    <td>
        <select name="case_field[]" class="case_field">
            <option value=""></option>
            {% for field in case_fields %}
                <option value="{{ field|escape }}">
                    {{ field|escape }}
                </option>
            {% endfor %}
        </select>
    </td>

    <td>
        <input type="text" name="custom_field[]" class="custom_field" />
    </td>

    <td style="text-align:center">
        <input class="is_date" type="checkbox" />
    </td>

    <input type="hidden"
           class="is_date_field"
           name="is_date_field[]"
           value="false" />
</tr>
