{% load hq_shared_tags %}
{% load report_tags %}
{% load i18n %}


{% if report.needs_filters %}
    {% include 'reports/standard/partials/description.html' %}
{% else %}
    <div style="float: left;" class="{{ thisreport.css_class }}">
        <div class="media">
          <div class="media-body" style="height: 64px">
             <h4 class="media-heading">{{ report_table.title }}</h4>
              {% if report_table.title_url %}
                <a href="{{ report_table.title_url }}">{{ report_table.title_url_name }}</a>
              {% endif %}
              {% if report_table.subtitle %}
                <span style="color: slategray">{{ report_table.subtitle }}</span>
              {% endif %}
          </div>
        </div>
        <table id="report_table_{{ report_table.slug }}" class="table table-striped datatable">
            <thead>
                <tr>
                    {% for header in report_table.headers %}
                        <th {% if not report_table.pagination.is_on %}data-sort="{{ header.sort_type }}" data-sortdir="{{ header.sort_direction }}"{% endif %} {% if header.css_class %}class="{{ header.css_class }}"{% endif %}>
                            <i class="icon-white"></i>
                            {% if header.html %}{{ header.html }}{% else %}{{ header|linebreaksbr }}{% endif %}
                            {% if header.help_text %}
                                <i class="icon-white icon-question-sign header-tooltip" title="{{ header.help_text }}"></i>
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% block tabular-body %}
                    {% for row in report_table.rows %}
                        <tr>
                            {% for col in row %}
                                {% include 'reports/async/partials/tabular_cell.html' %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endblock %}
            </tbody>
        </table>
    </div>
{% endif %}

{% block js-inline %}
    <script type="text/javascript">

        {% if report_table and report_table.datatables and thisreport.show_table %}

           var dataTablesDom = "frt<'row-fluid dataTables_control'<'span6'il><'span6'p>>";
           var params = {
                sDom: dataTablesDom,
                "sPaginationType": "bootstrap",
                iDisplayLength: 10,
                iDisplayStart: 0,
                sScrollX: "100%",
                autoWidth: true
            };

            var id = '#report_table_{{ report_table.slug }}';
            var datatable = $(id).dataTable(params);

        {% endif %}

        $(function() {
            $('.header-popover').popout({
                trigger: 'hover',
                placement: 'bottom'
            });
        });

        $(function() {
            $('#nav-tabs').prependTo("#hq-report-filters");
        });
    </script>

    {% for chart in thisreport.charts %}
        {% with id1=forloop.counter|stringformat:"s" id2=forloop.parentloop.counter|stringformat:"s" slug=thisreport.slug %}
            {% include chart.template_partial with chart=chart chart_id='chart_'|add:slug|add:'_'|add:id2|add:id1 %}
        {% endwith %}
    {% endfor %}

{% endblock %}