{% extends 'reports/filters/base.html' %}
{% load hq_shared_tags %}
{% load i18n %}

{% block filter_content %}
    <div id="{{ css_id }}_container" class="report-filter-optional" >
        <div class="well form-inline well-sm" style="margin-bottom: 0;">
            <select class="input-large select form-control" id="program" name="program">
                {% for program in programs %}
                    <option value="{{ program.value }}"{% if program.value == chosen_program %} selected="selected"{% endif %}>
                        {{ program.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endblock %}
