{% extends "app_manager/managed_app.html" %}
{% load xforms_extras %}
{% load hq_shared_tags %}
{% block head %}
    {{ block.super }}
    {% if app.doc_type == "Application" %}
        <script src="{{ STATIC_URL }}app_manager/js/commcareProperties.js"></script>
        <script src="{{ STATIC_URL }}translations/js/translations.js"></script>
        <script>
            $(function () {
                var $translation_ui = $("#translations_ui");
                mk_translation_ui({
                    translations: {{ translations|JSON }},
                    url: "{% url edit_app_translations domain app.id %}",
                    lang: "{{ lang }}",
                    edit: {{ edit|yesno:"true,false" }},
                    $home: $translation_ui
                });
            });
        </script>
        <script>
            $(function () {
                var saveURL = "{% url edit_commcare_profile domain app.id %}",
                    defaultHome = $('#commcare-settings'),
                    senseHome = $('#commcare-sense-properties'),
                    logHome = $('#log-properties'),
                    languageHome = $('#language-properties'),
                    $block;
                $.get('{% url corehq.apps.app_manager.views.commcare_profile domain app.id %}', function (initialValues) {
                    initialValues = JSON.parse(initialValues);
                    $.get('{{ STATIC_URL }}app_manager/json/custom-commcare-properties-1_1.json', function (profile_spec) {
                        var settings = CommcareSettings.wrap(
                                profile_spec,
                                initialValues,
    //                            $('#commcare-settings'),
                                function (p) {
                                    if (p.group === 'sense') {
                                        return senseHome;
                                    } else if (p.group === 'log') {
                                        return logHome;
                                    } else if (p.group === 'language') {
                                        return languageHome;
                                    }
                                    return defaultHome;
                                },
                                saveURL,
                                {% if edit %}true{% else %}false{% endif %}
                        );
                        $block = settings.render();
                        $block.find('[name="cur_locale"]').addClass('langcodes');
                        COMMCAREHQ.initBlock($block);
                    });
                });
            });
            $(function () {
                $('.scary-settings').each(function () {
                    var $scarySettings = $(this).addClass('ui-corner-bottom'),
                        $toggleBar = $(this).prev(".scary-settings-toggle").addClass('ui-corner-top'),
                        $toggleLink = $toggleBar.find('a'),
                        hidden = true;
                    function setHidden(h) {
                        var closedIcon = 'ui-icon-triangle-1-e',
                            openedIcon = 'ui-icon-triangle-1-s',
                            openedClass = 'scary-settings-toggle-open';
                        if (hidden != h) {
                            $scarySettings.slideToggle();
                        } else if (hidden) {
                            $scarySettings.hide();
                        }
                        hidden = h;
                        if (hidden) {
                            $toggleBar.find('.ui-icon').addClass(closedIcon).removeClass(openedIcon);
                            $toggleBar.removeClass(openedClass, 1000);
                        } else {
                            $toggleBar.find('.ui-icon').addClass(openedIcon).removeClass(closedIcon);
                            $toggleBar.addClass(openedClass);
                        }
                    }
                    setHidden(hidden);
                    $toggleLink.click(function () {
                        setHidden(!hidden);
                        return false;
                    });
                });
            });
            $(function () {
                $('#show-user-registration-select').change(function () {
                    if (JSON.parse($(this).val())) {
                        $('#user-registration-nav-link').slideDown();
                    } else {
                        $('#user-registration-nav-link').slideUp();
                    }
                });
            });
        </script>
        <style>
            .scary-settings {
                background-color: #FEFEFE;
                border: 1px solid #CCC;
                border-top: none;
                padding: 1em;
            }
            .scary-settings-toggle {
                margin-top: 1em;
                border: 1px solid transparent;
                padding: .5em;
            }
            .scary-settings-toggle-open {
                border: 1px solid #CCC;
                background-color: #EEE;

            }
        </style>
    {% endif %}
    <script>
        $(function(){
            $("#view_source").click(function(){
                $.get($(this).attr('href'), function(data){
                    $("#app_source").text(data);
                });
            });
            $('.langcodes').langcodes();
        });
    </script>
{% endblock %}
{% block form-view %}
    <h3 class="variable-app_name">{{ app.name }}</h3>
    {% if app.doc_type == "Application" %}
        <h4>Application Settings</h4>
        <form class="save-button-form" method="post" action="{% url corehq.apps.app_manager.views.edit_app_attr domain app.id 'all' %}">
            <div class="config">
                <div class="save-button-holder"></div>
                <table>
                    <tr>
                        <th>Name</th>
                        <td>
                            {% if edit %}
                                <input type="text" name="name" value="{{ app.name }}" />
                            {% else %}
                                {{ app.name }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>CommCare Users</th>
                        <td>
                            {% if edit %}
                                <input type="text" name="recipients" class="sms-autocomplete" value="{{ app.recipients }}"/>
                            {% else %}
                                {{ app.recipients }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        <h4>Supported Languages</h4>
        <div class="config">
            <p align="right"><span class="caution">Caution</span>: Changes you make here are automatically saved.</p>
            <table>
                <tbody {% if edit %}class="sortable"{% endif %}>
                    <tr class="sort-action">
                        <td>
                            <form method="post" action="{% url corehq.apps.app_manager.views.rearrange domain app.id 'langs' %}">
                                <input name="ajax" value="true" />
                            </form>
                        </td>
                    </tr>
                    {% if edit %}
                        {% for lang in app.langs %}
                            <tr>
                                <td class="index">{{ forloop.counter0 }}</td>
                                <td>
                                    <span class="drag_handle"></span>
                                </td>
                                <td>
                                    <form action="{% url corehq.apps.app_manager.views.edit_app_lang domain app.id %}"  method="POST">
                                        <input type="hidden" name="ajax" value="false" />
                                        <input type="text" class="autosave langcodes code short" name="lang" value="{{ lang }}"/>
                                        <input type="hidden" name="index" value="{# filled in by js #}" />
                                    </form>
                                </td>

                                <td>
                                    <form action="{% url corehq.apps.app_manager.views.delete_app_lang domain app.id%}"
                                          data-title="Delete Build"
                                          data-message="Are you sure you want to delete this language? (You can always add it back later.)"
                                          method="POST">
                                        <input type="hidden" name="index" value="{# filled in by js #}" />
                                        <a class="delete_link confirm-submit" href="#"></a>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="form sort-disabled" data-action="{% url corehq.apps.app_manager.views.edit_app_lang domain app.id %}">
                            <td>
                            </td>
                            <td>
                                <input class="code short langcodes" type="text" name="lang" />
                            </td>
                            <td>
                                <a href="#" class="submit button">
                                    Add
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        {% for lang in app.langs %}
                            <tr>
                                <td>
                                     <code>{{ lang }}</code>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>
                                    <p class="warning">No supported languages</p>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
                <!--tbody id="language-properties"></tbody-->
            </table>
        </div>
        <div class="scary-settings-toggle">
            <a href="#"><span class="ui-icon"></span>Multimedia (beta)</a>
        </div>
        <div class="scary-settings">
            <h4>View and download lists of multimedia references found in your application's forms and use our multimedia toolkit</h4>
            <p><a target="_blank" href="{% url multimedia_home domain app.get_id %}">Multimedia Home</a> (opens in a new window)</p>
        </div>
        
        <div class="scary-settings-toggle">
            <a href="#"><span class="ui-icon"></span>User Interface Translations (Beta)</a>
        </div>
        <div class="scary-settings">
            <div id="translations_ui">
                <p>See lists of keys for
                    <a target="_blank" href="https://bitbucket.org/commcare/javarosa/src/default/j2me/shared-resources/resources/messages_default.txt">JavaRosa</a>
                    and <a target="_blank" href="https://bitbucket.org/commcare/commcare/src/default/application/resources/messages_cc_default.txt">CommCare</a>
                </p>
                <br/>
            </div>
        </div>
        <div class="scary-settings-toggle"><a href="#"><span class="ui-icon"></span>Advanced Settings</a></div>
        <div class="scary-settings">
            <h4>Custom User Registration</h4>
            <table class="config">
                <tr>
                    <th>Use a Custom User Registration</th>
                    <td>
                        {% if edit %}
                            <form action="{% url edit_app_attr domain app.id 'show_user_registration' %}" method="POST">
                                <select class="autosave" id="show-user-registration-select" name="show_user_registration" data-value="{{ app.show_user_registration|JSON }}">
                                    <option value="false">* Don't Use</option>
                                    <option value="true">Use</option>
                                </select>
                            </form>
                        {% else %}
                            {% if not app.show_user_registration %}Don't Use{% else %}Use{% endif %}
                        {% endif %}
                    </td>
                </tr>
            </table>
            <h4>Logging</h4>
            <table class="config">
                <tbody id="log-properties"></tbody>
            </table>
            <h4>CommCare UI Settings</h4>
            <table class="config">
                <tbody id="commcare-sense-properties"></tbody>
            </table>
            <h4>CommCare Properties</h4>
            <table class="config">
                <tbody id="commcare-settings"></tbody>
            </table>

    {% endif %}
    {% if app.doc_type == "RemoteApp" %}
        <h4>Remote Setup</h4>
        <table class="config">
            <tr>
                <th>Name</th>
                <td>
                    {% if edit %}
                        <form method="post" action="{% url corehq.apps.app_manager.views.edit_app_attr domain app.id 'name' %}">
                            <input type="text" name="name" class="autosave" value="{{ app.name }}" />
                        </form>
                    {% else %}
                        {{ app.name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Profile URL</th>
                <td>
                    {% if edit %}
                        <form action="{% url corehq.apps.app_manager.views.edit_app_attr domain app.id  'profile_url' %}">
                            <input type="text" class="autosave code wide" name="profile_url" value="{{ app.profile_url }}"/>
                        </form>
                    {% else %}
                        {{ app.profile_url }}
                    {% endif %}
                </td>
            </tr>

        </table>
        <div id="scary-settings">
    {% endif %}
        <h4>Build Settings</h4>
        <table class="config">
            <tr>
                <th>CommCare Version</th>
                <td>
                    {% if edit %}
                        <form method="post" action="{% url corehq.apps.app_manager.views.edit_app_attr domain app.id 'build_spec' %}">
                            <select name="build_spec" class="autosave" data-value="{{ app.build_spec.to_string }}">
                                {% for option in commcare_build_options %}
                                    <option value='{{ option.build.to_string }}'>
                                        {{ option.label }}
                                    </option>
                                {% endfor %}
                                {% if not is_standard_build %}
                                    <optgroup label="Custom">
                                        <option value='{{ app.build_spec.to_string }}'>
                                            {{ app.build_spec.get_label }}
                                        </option>
                                    </optgroup>
                                {% endif %}
                            </select>
                        </form>
                    {% else %}
                        {{ app.get_build_label }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Text Input</th>
                <td>
                    {% if edit %}
                        <form method="post" action="{% url corehq.apps.app_manager.views.edit_app_attr domain app.id 'native_input' %}">
                            <select name="native_input" class="autosave" data-value="{{ app.native_input|lower }}">
                                <option value="false">Default (Roman)</option>
                                <option value="true">Native (International)</option>
                            </select>
                        </form>
                    {% else %}
                        {% if app.native_input %}Native (International){% else %}Default (Roman){% endif %}
                    {% endif %}
                </td>
            </tr>
        </table>
{#        <h4>Success Message <span class="help-link" data-help-key="app_manager/success_message"></span></h4>#}
{#        <div class="help-text" data-help-key="app_manager/success_message"></div>#}
{#        <div class="config">#}
{#            <p>Note: Currently the beginning of days and weeks is calculated in UTC.</p>#}
{#            <form action="{% url corehq.apps.app_manager.views.edit_app_attr domain app.id  'success_message' %}">#}
{#                <textarea class="autosave" name="success_message" style="width:100%;height:50px;">{{ app.success_message|trans:langs }}</textarea>#}
{#            </form>#}
{#        </div>#}
            <h4>Copying</h4>
            <div class="config">
{#                <a href="{% url corehq.apps.app_manager.views.app_source domain app.id %}" class="dialog_opener" id="view_source">View Source</a>#}
{#                <div class="dialog" title="Application Source">#}
{#                    <textarea id="app_source"></textarea>#}
{#                </div>#}
                <form method="get" action='{% url import_app domain %}'>
                    <input type="hidden" name="app" value="{{ app.id }}"/>
                    Copy this app to domain: <input type="text" name="domain" />
                    <input type="submit" value="Copy" />
                </form>
            </div>
        </div>
{% endblock %}