{% extends "app_manager/managed_app.html" %}
{% load xforms_extras %}
{% load hq_shared_tags %}
{% block js %}{{ block.super }}
    {% if app.doc_type == "Application" %}
        <script src="{{ STATIC_URL }}app_manager/js/commcareProperties.js?version=3"></script>
        <script src="{{ STATIC_URL }}translations/js/translations.js?version=4"></script>
    {% endif %}
{% endblock %}
{% block js-inline %}
    {{ block.super }}
    {% if app.doc_type == "Application" %}
        <script>
            $(function () {
                var $translation_ui = $("#translations_ui");
                mk_translation_ui({
                    translations: {{ translations|JSON }},
                    url: "{% url edit_app_translations domain app.id %}",
                    lang: "{{ lang }}",
                    edit: {{ edit|yesno:"true,false" }},
                    $home: $translation_ui
                });
            });
        </script>
        <script>
            $(function () {
                var saveURL = "{% url edit_commcare_profile domain app.id %}",
                    defaultHome = $('#other-commcare-settings'),
                    senseHome = $('#commcare-sense-properties'),
                    logHome = $('#log-properties'),
                    languageHome = $('#language-properties'),
                    $block,
                    saveButtonHolder = $('#commcare-settings .save-button-holder');
                $.get('{% url corehq.apps.app_manager.views.commcare_profile domain app.id %}', function (initialValues) {
                    initialValues = JSON.parse(initialValues);
                    $.get('{{ STATIC_URL }}app_manager/json/custom-commcare-properties-1_1.json', function (profile_spec) {
                        var settings = CommcareSettings.wrap(
                                profile_spec,
                                initialValues,
                                function (p) {
                                    if (p.group === 'sense') {
                                        return senseHome;
                                    } else if (p.group === 'log') {
                                        return logHome;
                                    } else if (p.group === 'language') {
                                        return languageHome;
                                    }
                                    return defaultHome;
                                },
                                saveURL,
                                {% if edit %}true{% else %}false{% endif %},
                                saveButtonHolder
                        );
                        $block = settings.render();
                        $block.find('[name="cur_locale"]').addClass('langcodes');
                        COMMCAREHQ.initBlock($block);
                    });
                });
            });
            $(function () {
                $('.scary-settings').each(function () {
                    var $scarySettings = $(this).addClass('ui-corner-bottom'),
                        $toggleBar = $(this).prev(".scary-settings-toggle").addClass('ui-corner-top'),
                        $toggleLink = $toggleBar.find('a'),
                        hidden = true;
                    function setHidden(h) {
                        var closedIcon = 'ui-icon-triangle-1-e',
                            openedIcon = 'ui-icon-triangle-1-s',
                            openedClass = 'scary-settings-toggle-open';
                        if (hidden != h) {
                            $scarySettings.slideToggle();
                        } else if (hidden) {
                            $scarySettings.hide();
                        }
                        hidden = h;
                        if (hidden) {
                            $toggleBar.find('.ui-icon').addClass(closedIcon).removeClass(openedIcon);
                            $toggleBar.removeClass(openedClass, 1000);
                        } else {
                            $toggleBar.find('.ui-icon').addClass(openedIcon).removeClass(closedIcon);
                            $toggleBar.addClass(openedClass);
                        }
                    }
                    setHidden(hidden);
                    $toggleLink.click(function () {
                        setHidden(!hidden);
                        return false;
                    });
                });
            });
            $(function () {
                $('#show-user-registration-select').change(function () {
                    if (JSON.parse($(this).val())) {
                        $('#user-registration-nav-link').slideDown();
                    } else {
                        $('#user-registration-nav-link').slideUp();
                    }
                });
            });
        </script>
    {% endif %}
    <script>
        $(function(){
            $("#view_source").click(function(){
                $.get($(this).attr('href'), function(data){
                    $("#app_source").text(data);
                });
            });
            $('.langcodes').langcodes();
        });
        $(function () {
            var appSettings = $("#app-settings"),
                textInput = appSettings.find('[name="text_input"]'),
                buildSpec = appSettings.find('[name="build_spec"]'),
                customKeysExampleOpener = appSettings.find('a[href="#custom-keys-example"]'),
                customKeysExample = $('#custom-keys-example');
            
            var onChangeBuildSpec = function () {
                var build = buildSpec.val().split('.'),
                    customKeys = textInput.find('[value="custom-keys"]');
                build = [parseInt(build[0]), parseInt(build[1])];
                if (build[0] <= 1 && build[1] < 3) {
                    customKeys.attr('disabled', 'true');
                    if (textInput.val() == 'custom-keys') {
                        textInput.val('roman');
                    }
                } else {
                    customKeys.removeAttr('disabled');
                }
            };
            // proxy for this existing.
            if (buildSpec.val()) {
                onChangeBuildSpec();
	            buildSpec.change(onChangeBuildSpec);
            }
            var onChangeTextInput = function () {
                var customKeysHelp = $('#custom-keys-help');
                if (textInput.val() == 'custom-keys') {
                    customKeysHelp.slideDown();
                } else {
                    customKeysHelp.slideUp();
                    customKeysExample.hide();
                }
            };
            onChangeTextInput();
            textInput.change(onChangeTextInput);

            customKeysExampleOpener.click(function (e) {
                e.preventDefault();
                customKeysExample.slideToggle();
            });
            customKeysExample.hide();
        });
    </script>
{% endblock %}
{% block head %}{{ block.super }}
    <style>
        #custom-keys-help {
            width: 400px;
            font-size: .9em;
        }
        #custom-keys-help p {
            color: #888;
            vertical-align: bottom;
        }
        #custom-keys-example {
            margin-top: 1em;
        }
        #custom-keys-help ul {
            margin-left: 2em;
        }
        #custom-keys-help li span {
            display: inline-block;
            border: 1px solid #CCC;
            padding: 2px;
            margin: 1px;
        }
    </style>
{% endblock %}
{% block form-view %}
    <h3 class="variable-app_name">{{ app.name }}</h3>
    {% if app.doc_type == "Application" %}
        <h4>Application Settings</h4>
    {% else %}
        <h4>Remote Setup</h4>
    {% endif %}
    <form class="save-button-form" id="app-settings" method="post" action="{% url edit_app_attr domain app.id 'all' %}">
        <div class="config">
            <div class="save-button-holder"></div>
            <table>
                <tr>
                    <th>Name</th>
                    <td>
                        {% if edit %}
                            <input type="text" name="name" value="{{ app.name }}" />
                        {% else %}
                            {{ app.name }}
                        {% endif %}
                    </td>
                </tr>
            {% if app.doc_type == "RemoteApp" %}
                <tr>
                    <th>Profile URL</th>
                    <td>
                        {% if edit %}
                            <form action="{% url corehq.apps.app_manager.views.edit_app_attr domain app.id  'profile_url' %}">
                                <input type="text" class="autosave code wide" name="profile_url" value="{{ app.profile_url }}"/>
                            </form>
                        {% else %}
                            {{ app.profile_url }}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if app.doc_type == "Application" %}
                <tr>
                    <th><label for="show-user-registration-select">Custom User Registration</label></th>
                    <td>
                        {% if edit %}
                                <select id="show-user-registration-select" name="show_user_registration" data-value="{{ app.show_user_registration|JSON }}">
                                    <option value="false">* Don't Use</option>
                                    <option value="true">Use</option>
                                </select>
                        {% else %}
                            {% if not app.show_user_registration %}Don't Use{% else %}Use{% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% if user.is_superuser %}
                <tbody class="superuser-only">
                    <tr>
                        <th><label for="use-custom-suite-select">Custom Suite File</label></th>
                        <td>
                            {% if edit %}
                                    <select id="use-custom-suite-select" name="use_custom_suite" data-value="{{ app.use_custom_suite|JSON }}">
                                        <option value="false">* Don't Use</option>
                                        <option value="true">Use</option>
                                    </select>
                            {% else %}
                                {% if not app.use_custom_suite %}Don't Use{% else %}Use{% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% if app.use_custom_suite %}
                    <tr>
                        <th><label for="custom-suite-textarea">Custom Suite</label></th>
                        <td>
                            {% if edit %}
                                <textarea id="custom-suite-textarea" name="custom_suite">{{ app.custom_suite }}</textarea>
                            {% else %}
                                {{ app.custom_suite }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
                {% endif %}
            {% endif %}
                <tr>
                    <th>CommCare Version</th>
                    <td>
                        {% if edit %}
                            <select name="build_spec" data-value="{{ app.build_spec.to_string }}">
                                {% for option in commcare_build_options %}
                                    <option value='{{ option.build.to_string }}'>
                                        {{ option.label }}
                                    </option>
                                {% endfor %}
                                {% if not is_standard_build %}
                                    <optgroup label="Custom">
                                        <option value='{{ app.build_spec.to_string }}'>
                                            {{ app.build_spec.get_label }}
                                        </option>
                                    </optgroup>
                                {% endif %}
                            </select>
                        {% else %}
                            {{ app.get_build_label }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Text Input</th>
                    <td>
                        {% if edit %}
                            <select name="text_input" data-value="{{ app.text_input }}">
                                <option value="roman">* Default (Roman)</option>
                                <option value="native">Native (International)</option>
                                <option value="custom-keys">Custom Keys [requires CommCare 1.3 or above]</option>
                            </select>
                        {% else %}
                            {% if app.text_input == "native"%}
                                Native (International)
                            {% else %}{% if app.text_input == "custom-keys" %}
                                Custom Keys
                            {% else %}
                                Default (Roman)
                            {% endif %}{% endif %}
                        {% endif %}
                        <aside id="custom-keys-help">
                            <span class="ui-icon ui-icon-arrowthick-1-e"></span>
                            <p>Customize through <a href="#custom-keys-example">User Interface Translations</a>.</p>
                            <div id="custom-keys-example">
                                <h2>Example:</h2>
                                <ul>
                                    <li><span>polish.TextField.charactersKey1</span><span>.,</span><li>
                                    <li><span>polish.TextField.charactersKey2</span><span>abc2</span><li>
                                    <li><span>polish.TextField.charactersKey3</span><span>def3</span><li>
                                    <li><span>polish.TextField.charactersKey4</span><span>ghi4</span><li>
                                    <li><span>polish.TextField.charactersKey5</span><span>jkl5</span><li>
                                    <li><span>polish.TextField.charactersKey6</span><span>mno6</span><li>
                                    <li><span>polish.TextField.charactersKey7</span><span>pqrs7</span><li>
                                    <li><span>polish.TextField.charactersKey8</span><span>tuv8</span><li>
                                    <li><span>polish.TextField.charactersKey9</span><span>wxyz9</span><li>
                                    <li><span>polish.TextField.charactersKey0</span><span> 0</span><li>
                                </ul>
                            </div>
                        </aside>
                    </td>
                </tr>
                <tr>
                    <th>
                        Success Message
                        <span class="help-link" data-help-key="app_manager/success_message"></span>
                        <div class="help-text" data-help-key="app_manager/success_message"></div>
                    </th>
                    <td>
                        {% if edit %}
                            <textarea name="success_message" style="width:100%;height:50px;">{{ app.success_message|trans:langs }}</textarea>
                        {% else %}
                            <p>{{ app.success_message|trans:langs }}</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </form>
    {% if app.doc_type == "Application" %}
        <h4>Supported Languages</h4>
        <div class="config">
            {% if edit %}
                <p align="right"><span class="caution">Caution</span>: Changes you make here are saved immediately as you make them.</p>
            {% endif %}
            <table>
                <tbody {% if edit %}class="sortable"{% endif %}>
                    <tr class="sort-action">
                        <td>
                            <form method="post" action="{% url corehq.apps.app_manager.views.rearrange domain app.id 'langs' %}">
                                <input name="ajax" value="true" />
                            </form>
                        </td>
                    </tr>
                    {% if edit %}
                        {% for lang in app.langs %}
                            <tr>
                                <td class="index">{{ forloop.counter0 }}</td>
                                <td>
                                    <span class="drag_handle"></span>
                                </td>
                                <td>
                                    <form action="{% url corehq.apps.app_manager.views.edit_app_lang domain app.id %}"  method="POST">
                                        <input type="hidden" name="ajax" value="false" />
                                        <input type="text" class="autosave langcodes code short" name="lang" value="{{ lang }}"/>
                                        <input type="hidden" name="index" value="{# filled in by js #}" />
                                    </form>
                                </td>

                                <td>
                                    <form action="{% url corehq.apps.app_manager.views.delete_app_lang domain app.id%}"
                                          data-title="Delete Build"
                                          data-message="Are you sure you want to delete this language? (You can always add it back later.)"
                                          method="POST">
                                        <input type="hidden" name="index" value="{# filled in by js #}" />
                                        <a class="delete_link confirm-submit" href="#"></a>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="form sort-disabled" data-action="{% url corehq.apps.app_manager.views.edit_app_lang domain app.id %}">
                            <td>
                            </td>
                            <td>
                                <input class="code short langcodes" type="text" name="lang" />
                            </td>
                            <td>
                                <a href="#" class="submit button">
                                    Add
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        {% for lang in app.langs %}
                            <tr>
                                <td>
                                     <code>{{ lang }}</code>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>
                                    <p class="warning">No supported languages</p>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
                <!--tbody id="language-properties"></tbody-->
            </table>
        </div>
        <div class="scary-settings-toggle">
            <a href="#"><span class="ui-icon"></span>Multimedia</a>
        </div>
        <div class="scary-settings">
            <h4>View and download lists of multimedia references found in your application's forms and use our multimedia toolkit</h4>
            <p><a target="_blank" href="{% url multimedia_home domain app.get_id %}">Multimedia Home</a> (opens in a new window)</p>
        </div>
        
        <div class="scary-settings-toggle" id="user-interface-translations">
            <a href="#"><span class="ui-icon"></span>User Interface Translations</a>
        </div>
        <div class="scary-settings">
            <div id="translations_ui">
                <p>Refer to
                    <a target="_blank" href="https://bitbucket.org/commcare/javarosa/src/default/j2me/shared-resources/resources/messages_default.txt">JavaRosa</a>
                    and <a target="_blank" href="https://bitbucket.org/commcare/commcare/src/default/application/resources/messages_cc_default.txt">CommCare</a>
                    for a list of supported keys.
                </p>
                <br/>
            </div>
        </div>

        <div class="scary-settings-toggle"><a href="#"><span class="ui-icon"></span>CommCare Settings</a></div>
        <div class="scary-settings" id="commcare-settings">
            <div class="save-button-holder"></div>
            <h4>Logging</h4>
            <table class="config">
                <tbody id="log-properties"></tbody>
            </table>
            <h4>CommCare UI Settings</h4>
            <table class="config">
                <tbody id="commcare-sense-properties"></tbody>
            </table>
            <h4>CommCare Properties</h4>
            <table class="config">
                <tbody id="other-commcare-settings"></tbody>
            </table>
        </div>
    {% endif %}
    <div>
        <form method="get" action='{% url import_app domain %}' style="font-size: .8em; text-align: right;">
            <input type="hidden" name="app" value="{{ app.id }}"/>
            Copy this app to domain: <input type="text" name="domain" />
            <input type="submit" value="Copy" />
        </form>
    </div>
{% endblock %}