{% extends "app_manager/managed_app.html" %}
{% load xforms_extras %}
{% block head %}
    {{ block.super }}
    {% if app.doc_type == "Application" %}
        <script src="{{ STATIC_URL }}app_manager/js/commcareProperties.js"></script>
        <script>
            $(function () {
                var saveURL = "{% url corehq.apps.app_manager.views.edit_commcare_profile domain app.id %}",
                    defaultHome = $('#commcare-settings'),
                    senseHome = $('#commcare-sense-properties'),
                    logHome = $('#log-properties'),
                    languageHome = $('#language-properties'),
                    $block;
                $.get('{% url corehq.apps.app_manager.views.commcare_profile domain app.id %}', function (initialValues) {
                    initialValues = JSON.parse(initialValues);
                    $.get('{{ STATIC_URL }}app_manager/json/custom-commcare-properties-1_1.json', function (profile_spec) {
                        var settings = CommcareSettings.wrap(
                                profile_spec,
                                initialValues,
    //                            $('#commcare-settings'),
                                function (p) {
                                    if (p.group === 'sense') {
                                        return senseHome;
                                    } else if (p.group === 'log') {
                                        return logHome;
                                    } else if (p.group === 'language') {
                                        return languageHome;
                                    }
                                    return defaultHome;
                                },
                                saveURL,
                                {% if edit %}true{% else %}false{% endif %}
                        );
                        $block = settings.render();
                        $block.find('[name="cur_locale"]').addClass('langcodes');
                        COMMCAREHQ.initBlock($block);
                    });
                });
            });
            $(function () {
                var $scarySettings = $("#scary-settings").addClass('ui-corner-bottom'),
                    $toggleLink = $("#scary-settings-toggle").addClass('ui-corner-top'),
                    hidden = true;
                if (hidden) {
                    $scarySettings.hide();
                }
                function setIcon() {
                    var up = 'ui-icon-carat-1-n',
                        down = 'ui-icon-carat-1-s';
                    $toggleLink.find('.ui-icon').addClass(hidden ? down : up).removeClass(hidden ? up : down);
                }
                setIcon();
                $toggleLink.click(function () {
                    $scarySettings.slideToggle();
                    hidden = !hidden;
                    setIcon();
                    return false;
                });
            });
        </script>
        <style>
            #scary-settings {
                background-color: #FEFEFE;
                border: 1px solid #CCC;
                border-top: none;
                padding: 1em;
            }
            #scary-settings-toggle {
                background-color: #EEE;
                border: 1px solid #CCC;
                padding: .5em;
            }
        </style>
    {% endif %}
    <script>
        $(function(){
            $("#view_source").click(function(){
                $.get($(this).attr('href'), function(data){
                    $("#app_source").text(data);
                });
            });
            $('.langcodes').langcodes();
        });
    </script>
{% endblock %}
{% block form-view %}
    <h3 class="variable-app_name">{{ app.name }}</h3>
    {% if app.doc_type == "Application" %}
        <h4>Application Settings</h4>
        <table class="config">
            <tr>
                <th>Name</th>
                <td>
                    {% if edit %}
                        <form method="post" action="{% url corehq.apps.app_manager.views.edit_app_attr domain app.id 'name' %}">
                            <input type="text" name="name" class="autosave" value="{{ app.name }}" />
                        </form>
                    {% else %}
                        {{ app.name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>CommCare Users</th>
                <td>
                    {% if edit %}
                        <form method="post" action="{% url corehq.apps.app_manager.views.edit_app_attr domain app.id 'recipients' %}">
                            <input type="text" name="recipients" class="autosave sms-autocomplete" value="{{ app.recipients }}"/>
                        </form>
                    {% else %}
                        {{ app.recipients }}
                    {% endif %}
                </td>
            </tr>
        </table>
        <h4>Supported Languages</h4>
        <table class="config">
            <tbody {% if edit %}class="sortable"{% endif %}>
                <tr class="sort-action">
                    <td>
                        <form method="post" action="{% url corehq.apps.app_manager.views.rearrange domain app.id 'langs' %}">
                            <input name="ajax" value="true" />
                        </form>
                    </td>
                </tr>
                {% if edit %}
                    {% for lang in app.langs %}
                        <tr>
                            <td class="index">{{ forloop.counter0 }}</td>
                            <td>
                                <span class="drag_handle"></span>
                                {% with util.make_uuid as uuid %}
                                    <a class="delete_link" href="#" data-uuid="{{ uuid }}"></a>
                                    <div class="dialog delete_dialog" title="Remove Language" data-uuid="{{ uuid }}">
                                        <form action="{% url corehq.apps.app_manager.views.delete_app_lang domain app.id%}" method="POST">
                                            <p>Removing this language will not permanently delete any translations you have made for it.</p>
                                            <input type="hidden" name="index" value="{# filled in by js #}" />
                                            <input type="submit" value="Remove" />
                                        </form>
                                    </div>
                                {% endwith %}
                            </td>
                            <td>
                                <form action="{% url corehq.apps.app_manager.views.edit_app_lang domain app.id %}"  method="POST">
                                    <input type="hidden" name="ajax" value="false" />
                                    <input type="text" class="autosave langcodes code short" name="lang" value="{{ lang }}"/>
                                    <input type="hidden" name="index" value="{# filled in by js #}" />
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="form sort-disabled" data-action="{% url corehq.apps.app_manager.views.edit_app_lang domain app.id %}">
                        <td>
                        </td>
                        <td>
                            <input class="code short langcodes" type="text" name="lang" />
                        </td>
                        <td>
                            <a href="#" class="submit button">
                                Add
                            </a>
                        </td>
                    </tr>
                {% else %}
                    {% for lang in app.langs %}
                        <tr>
                            <td>
                                 <code>{{ lang }}</code>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>
                                <p class="warning">No supported languages</p>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
            <!--tbody id="language-properties"></tbody-->
        </table>
        <div id="scary-settings-toggle"><a href="#"><span class="ui-icon"></span>Advanced Settings</a></div>
        <div id="scary-settings">
            <h4>Logging</h4>
            <table class="config">
                <tbody id="log-properties"></tbody>
            </table>
            <h4>CommCare UI Settings</h4>
            <table class="config">
                <tbody id="commcare-sense-properties"></tbody>
            </table>
            <h4>CommCare Properties</h4>
            <table class="config">
                <tbody id="commcare-settings"></tbody>
            </table>

    {% endif %}
    {% if app.doc_type == "RemoteApp" %}
        <h4>Remote Setup</h4>
        <table class="config">
            <tr>
                <th>Name</th>
                <td>
                    {% if edit %}
                        <form method="post" action="{% url corehq.apps.app_manager.views.edit_app_attr domain app.id 'name' %}">
                            <input type="text" name="name" class="autosave" value="{{ app.name }}" />
                        </form>
                    {% else %}
                        {{ app.name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Profile URL</th>
                <td>
                    {% if edit %}
                        <form action="{% url corehq.apps.app_manager.views.edit_app_attr domain app.id  'profile_url' %}">
                            <input type="text" class="autosave code wide" name="profile_url" value="{{ app.profile_url }}"/>
                        </form>
                    {% else %}
                        {{ app.profile_url }}
                    {% endif %}
                </td>
            </tr>

        </table>
        <div id="scary-settings">
    {% endif %}
        <h4>Build Settings</h4>
        <table class="config">
            <tr>
                <th>CommCare Version</th>
                <td>
                    {% if edit %}
                        <form method="post" action="{% url corehq.apps.app_manager.views.edit_app_attr domain app.id 'commcare_tag' %}">
                            <select name="commcare_tag" class="autosave" data-value="{{ app.commcare_tag }}">
                                {% for option in commcare_tag_options %}
                                    <option value="{{ option.tag }}">{{ option.label }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    {% else %}
                        {{ app.commcare_tag_label }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Text Input</th>
                <td>
                    {% if edit %}
                        <form method="post" action="{% url corehq.apps.app_manager.views.edit_app_attr domain app.id 'native_input' %}">
                            <select name="native_input" class="autosave" data-value="{{ app.native_input|lower }}">
                                <option value="false">Default (Roman)</option>
                                <option value="true">Native (International)</option>
                            </select>
                        </form>
                    {% else %}
                        {% if app.native_input %}Native (International){% else %}Default (Roman){% endif %}
                    {% endif %}
                </td>
            </tr>
        </table>
{#        <h4>Success Message <span class="help-link" data-help-key="app_manager/success_message"></span></h4>#}
{#        <div class="help-text" data-help-key="app_manager/success_message"></div>#}
{#        <div class="config">#}
{#            <p>Note: Currently the beginning of days and weeks is calculated in UTC.</p>#}
{#            <form action="{% url corehq.apps.app_manager.views.edit_app_attr domain app.id  'success_message' %}">#}
{#                <textarea class="autosave" name="success_message" style="width:100%;height:50px;">{{ app.success_message|trans:langs }}</textarea>#}
{#            </form>#}
{#        </div>#}
            <h4>Copying</h4>
            <div class="config">
{#                <a href="{% url corehq.apps.app_manager.views.app_source domain app.id %}" class="dialog_opener" id="view_source">View Source</a>#}
{#                <div class="dialog" title="Application Source">#}
{#                    <textarea id="app_source"></textarea>#}
{#                </div>#}
                <form method="get" action='{% url import_app domain %}'>
                    <input type="hidden" name="app" value="{{ app.id }}"/>
                    <input type="text" name="domain" />
                    <input type="submit" value="Copy" />
                </form>
            </div>
        </div>
{% endblock %}