{% extends 'hqwebapp/bootstrap3/two_column.html' %}
{% load xforms_extras %}
{% load url_extras %}
{% load hq_shared_tags %}
{% load i18n %}
{% load compress %}

{% block page_sidebar_classes %}
  appmanager-sidebar
{% endblock %}

{% block page_content_classes %}
  appmanager-main-container{% if formdesigner %} formdesigner-content-wrapper{% endif %}
{% endblock %}

{% block title %}{{ module.name|clean_trans:langs }}{% endblock %}

{% block stylesheets %}{{ block.super }}
  {% include 'app_manager/partials/apps_stylesheets.html' %}
{% endblock %}

{% block js %}{{ block.super }}
  <!--
      jQuery UI needs to be included before Bootstrap's JavaScript, otherwise the two
      tooltip widgets conflict. The B3 base template takes care of that when you use the
      @use_jquery_ui decorator, but app manager doesn't, so instead include only the pieces
      actually used in app manager (no tooltip).
  -->
  {% compress js %}
    <!-- this defines jquery ui ($.ui) so this MUST come first -->
    <script src="{% static 'jquery-ui/ui/version.js' %}"></script>

    <!-- all files originally in core.js, as that file now requires use of an AMD and it will be deprecated in 1.13 -->
    <script src="{% static 'jquery-ui/ui/data.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/disable-selection.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/focusable.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/form.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/ie.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/keycode.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/labels.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/plugin.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/safe-active-element.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/safe-blur.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/scroll-parent.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/tabbable.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/unique-id.js' %}"></script>

    <script src="{% static 'jquery-ui/ui/position.js' %}"></script>

    <script src="{% static 'jquery-ui/ui/widget.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/widgets/mouse.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/widgets/autocomplete.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/widgets/draggable.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/widgets/droppable.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/widgets/menu.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/widgets/sortable.js' %}"></script>
  {% endcompress %}

  {% include 'hqwebapp/includes/atwho.html' %}

  {% include 'hqwebapp/includes/ui_element_js.html' %}
  {% compress js %}
    <script src="{% static 'langcodes/js/langcodes.js' %}"></script>
    <script src="{% static 'jquery-textchange/jquery.textchange.js' %}"></script>
    <script src="{% static 'hqwebapp/js/select2_knockout_bindings.ko.js' %}"></script>
    <script src="{% static 'app_manager/js/section_changer.js' %}"></script>
    <script src="{% static 'app_manager/js/app_manager_utils.js' %}"></script>
    <script src="{% static 'app_manager/js/preview_app.js' %}"></script>
    <script src="{% static 'app_manager/js/menu.js' %}"></script>
    <script src="{% static 'app_manager/js/app_manager.js' %}"></script><!-- depends on menu.js -->
    <script src="{% static 'app_manager/js/managed_app.js' %}"></script>
    <script src="{% static 'hqwebapp/js/bootstrap3/rollout_modal.js' %}"></script>
    <script src="{% static 'app_manager/js/custom_assertions.js' %}"></script>
  {% endcompress %}
{% endblock %}

{% block page_navigation %}
  {% if app %}
    <div class="appmanager-loading-container">
      <div class="appmanager-loading appmanager-loading-nav">
        <i class="fa fa-spin fa-spinner"></i>
      </div>
    </div>
    <nav class="appmanager-content">

      {% include 'app_manager/partials/appnav_menu_header.html' with domain=domain app_id=app.id app_name=app.name releases_active=release_manager settings_active=is_app_settings_page linked_name=linked_name linked_version=app.upstream_version %}

      {% if app.get_doc_type == 'Application' %}
        {% if not app.is_remote_app and app.langs|length > 1%}
          {% include 'app_manager/partials/appnav_menu_langs.html' with app_langs=app.langs langs=langs %}
        {% endif %}

        {% include 'app_manager/partials/menu/appnav_menu.html' %}
      {% endif %}
    </nav>
  {% endif %}
{% endblock %}

{% block page_breadcrumbs %}{% endblock %}

{% block content %}{{ block.super }}
  {% registerurl "dashboard_default" domain %}
  {% include 'app_manager/partials/preview_app.html'%}
{% endblock %}

{% block pre_page_content %}
{% endblock %}

{% block page_content %}
  <div class="appmanager-loading-bg">
  </div>
  <div class="js-unhide-on-unsaved appmanager-content appmanager-content-transition-all{% if not formdesigner %} appmanager-settings-content {% endif %}"
       id="js-appmanager-body">
    {% include 'app_manager/partials/vellum_case_management_warning.html' %}

    {% initial_page_data 'latest_commcare_version' latest_commcare_version %}
    {% initial_page_data 'app_subset' app_subset %}
    {% initial_page_data 'formdesigner' formdesigner %}
    {% initial_page_data 'add_ons' add_ons %}
    {% initial_page_data 'add_ons_layout' add_ons_layout %}
    {% registerurl 'current_app_version' domain app.id %}
    {% registerurl "new_form" domain app.id "---" %}
    {% block pre_form_content %}{% endblock %}
    {% block form-view %}{% endblock %}
    {% include 'app_manager/partials/add_item_templates.html' %}
  </div>
{% endblock %}

{% block column_style %}{% endblock %}

{% block modals %}
  {{ block.super }}
  {% if app.is_deleted %}
    {% include 'app_manager/partials/undo_delete_app.html' %}
  {% endif %}
  {% include "hqwebapp/bootstrap3/rollout_revert_modal.html" %}
  {% include 'app_manager/partials/confirm_delete_app.html' %}
{% endblock modals %}

{% block page_row_classes %}appmanager-content-row{% endblock %}
