{% extends 'app_manager/base_summary.html' %}
{% load hq_shared_tags %}
{% load i18n %}

{% block js %}{{ block.super }}
    <script src="{% static "app_manager/js/summary/case_summary.js" %}"></script>
{% endblock js %}

{% block content_extra %}
    {% initial_page_data 'case_metadata' case_metadata %}

    <div class="page-header" style="margin-top: 0;">
        <h3>
          <i class="fcc fcc-fd-external-case"></i>
          <span>{% trans "Case Summary" %}</span>
        </h3>
        <div class="row">
            <div class="col-xs-3">
                <form class="form-inline" role="form">
                    <!-- TODO: filter properties -->
                    <!--div class="form-group">
                      <label class="sr-only" for="property">{% trans "Filter properties" %}</label>
                      <input type="text" class="form-control" id="property" placeholder="{% trans 'Filter properties' %}" ng-model="propertySearch.name" />
                    </div>
                    <button class="btn btn-default" ng-click="propertySearch.name = ''" type="button"><i class="fa fa-times"></i></button-->
                </form>
            </div>
            <div class="col-xs-9">
                <div class="btn-toolbar pull-right" role="toolbar">
                    <div class="btn-group" role="group" >
                        <!-- TODO: this should also affect question conditions -->
                        <button type="button" class="btn btn-default"
                                data-bind="click: toggleConditions, css: { active : showConditions }">
                            <i class="fa fa-sitemap" data-bind="css: {'hq-icon': showConditions }"></i>
                            &nbsp;{% trans "Show Conditions" %}
                        </button>
                        <!-- TODO: toggle calculations -->
                        <!--button type="button" class="btn btn-default"
                                ng-click="showCalculations = !showCalculations"
                                ng-class="{ 'active' : showCalculations }">
                            <i class="fa fa-calculator" ng-class="showCalculations ? 'hq-icon' : ''"></i>
                            &nbsp;{% trans "Show Calculations" %}
                        </button-->
                    </div>
                    <a class="btn btn-primary" href="{% url "download_case_summary" domain app_id %}?lang={{ lang }}">
                        <i class="fa fa-download"></i>
                        {% trans "Download" %}
                    </a>
                </div>
                {% include 'app_manager/partials/summary_language_switcher.html' %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <!-- ko foreach: caseTypes -->
                <div class="panel panel-appmanager" data-bind="visible: isSelected">
                    <div class="panel-heading">
                        <h4 class="panel-title panel-title-nolink">
                            <i class="fcc fcc-fd-external-case"></i>
                            <span data-bind="text: name"></span>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>{% trans "Relationships:" %}</strong>
                                    <ul data-bind="foreach: relationshipList">
                                        <li>
                                            <span class="label label-primary" data-bind="text: relationship"></span>
                                            <span data-bind="text: caseType"></span>
                                        </li>
                                   </ul>
                                </div>
                                <div class="col-md-4">
                                    <strong>{% trans "Opened by:" %}</strong>
                                    <ul data-bind="foreach: openedByList">
                                        <li>
                                            <span data-bind="text: formId"></span><!-- TODO: name not id -->
                                            <!-- ko: if: conditions -->
                                                <ul data-bind="visible: $root.showConditions, foreach: conditions">
                                                    <li>
                                                        <i class="fa fa-sitemap"></i>
                                                        <span data-bind="text: question"></span>
                                                        <span data-bind="text: operator"></span>
                                                        <span data-bind="text: answer"></span>
                                                    </li>
                                                </ul>
                                            <!-- /ko -->
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <strong>{% trans "Closed by:" %}</strong>
                                    <ul data-bind="foreach: closedByList">
                                        <li>
                                            <span data-bind="text: formId"></span><!-- TODO: name not id -->
                                            <!-- ko: if: conditions -->
                                                <ul data-bind="visible: $root.showConditions, foreach: conditions">
                                                    <li>
                                                        <i class="fa fa-sitemap"></i>
                                                        <span data-bind="text: question"></span>
                                                        <span data-bind="text: operator"></span>
                                                        <span data-bind="text: answer"></span>
                                                    </li>
                                                </ul>
                                            <!-- /ko -->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- TODO -->
                            <!--div class="row" ng-show="caseType.has_errors">
                                <div class="col-md-6">
                                    {% trans "Problems:" %}
                                    <ul>
                                        <li ng-show="caseType.error">
                                            {{ caseType.error }}
                                        </li>
                                        <li ng-repeat="property in caseType.properties|filter:{'has_errors': true}">
                                            <a href="" ng-click="gotoAnchor(caseType.name, property.name)">{{ property.name }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div-->
                        </div>
                        <table class="case-properties table">
                            <thead>
                                <tr>
                                    <th>{% trans "Case Property" %}</th>
                                    <th>{% trans "Description" %}</th>
                                    <th>{% trans "Form" %}</th>
                                    <th>{% trans "Load questions" %}</th>
                                    <th>{% trans "Save questions" %}</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: properties">
                                <!-- ko foreach: forms -->
                                    <tr data-bind="attr: {id: $parents[1].name + ':' + $parent.name}, css: {'danger': $parent.has_errors}">
                                        <!-- ko if: !$index() -->
                                        <td data-bind="attr: {rowspan: $parent.forms.length}, text: $parent.name"></td>
                                        <td data-bind="attr: {rowspan: $parent.forms.length}, text: $parent.description"></td>
                                        <!-- /ko -->
                                        <td>
                                            <!-- TODO: module name, form name, readOnly -->
                                            module &rarr; <span data-bind="text: form_id"></span>
                                            <!-- TODO: test -->
                                            <!-- ko foreach: errors -->
                                                <i class="fa fa-exclamation-triangle text-danger"
                                                   popover-trigger="mouseenter" popover-placement="bottom"
                                                   data-bind="attr: {popover: $data}"></i>
                                            <!-- /ko -->
                                        </td>
                                        <td>
                                            TODO: load questions
                                            <!--form-questions
                                                    questions="form.load_questions"
                                                    show-conditions="showConditions"
                                                    show-calculations="showCalculations"
                                                    show-labels="showLabels"
                                                    lang="lang"></form-questions-->
                                            <!--ul class="fa-ul">
                                                <li ng-repeat="question in questions">
                                                    {% verbatim %}<i class="hq-icon fa-li { getIcon(question.question.type) }"></i>{% endverbatim %}
                                                    {% verbatim %}<span ng-show="showLabels">{ getQuestionLabel(question.question) }</span>{% endverbatim %}
                                                    <ul ng-if="question.question.options" ng-show="showLabels">
                                                        <li ng-repeat="option in question.question.options">
                                                            { getSelectOptionsLabel(option) }
                                                        </li>
                                                    </ul>
                                                    <span ng-hide="showLabels">{ question.question.value }</span>
                                                        <ul ng-if="question.question.options" ng-hide="showLabels">
                                                            <li ng-repeat="option in question.question.options">
                                                                { option.value }
                                                            </li>
                                                        </ul>
                                                    <ul class="fa-ul" ng-if="question.condition" ng-show="showConditions">
                                                        <li>
                                                            <i class="fa-li fa fa-sitemap text-muted"></i>
                                                            { question.condition.question } { question.condition.operator } { question.condition.answer }
                                                        </li>
                                                    </ul>
                                                    <ul class="fa-ul" ng-if="question.question.calculate" ng-show="showCalculations">
                                                        <li>
                                                            <i class="fa-li fa fa-calculator text-muted"></i> { question.question.calculate }
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul-->
                                        </td>
                                        <td>
                                            TODO: save questions
                                            <!--form-questions
                                                    questions="form.save_questions"
                                                    show-conditions="showConditions"
                                                    show-calculations="showCalculations"
                                                    show-labels="showLabels"
                                                    lang="lang"></form-questions-->
                                            <!--ul class="fa-ul">
                                                <li ng-repeat="question in questions">
                                                    {% verbatim %}<i class="hq-icon fa-li { getIcon(question.question.type) }"></i>{% endverbatim %}
                                                    {% verbatim %}<span ng-show="showLabels">{ getQuestionLabel(question.question) }</span>{% endverbatim %}
                                                    <ul ng-if="question.question.options" ng-show="showLabels">
                                                        <li ng-repeat="option in question.question.options">
                                                            { getSelectOptionsLabel(option) }
                                                        </li>
                                                    </ul>
                                                    <span ng-hide="showLabels">{ question.question.value }</span>
                                                        <ul ng-if="question.question.options" ng-hide="showLabels">
                                                            <li ng-repeat="option in question.question.options">
                                                                { option.value }
                                                            </li>
                                                        </ul>
                                                    <ul class="fa-ul" ng-if="question.condition" ng-show="showConditions">
                                                        <li>
                                                            <i class="fa-li fa fa-sitemap text-muted"></i>
                                                            { question.condition.question } { question.condition.operator } { question.condition.answer }
                                                        </li>
                                                    </ul>
                                                    <ul class="fa-ul" ng-if="question.question.calculate" ng-show="showCalculations">
                                                        <li>
                                                            <i class="fa-li fa fa-calculator text-muted"></i> { question.question.calculate }
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul-->
                                        </td>
                                    </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
            <!-- /ko -->
        </div>
    </div>
{% endblock content_extra %}
