{% extends base_template %}
{% block js %}{{ block.super }}
    <script>
        $(function(){
            $("#emu-back").addClass('ui-corner-top');
            $("#emu-info").addClass('ui-corner-bottom');
        });
    </script>
{% endblock %}
{% block head %}
    {{ block.super }}
    <style>
        .hq-oldstyle #main_container {
            width: 266px;
            margin: auto;
            padding: 0;
        }
        applet {
            margin: 20px;
        }
        #emu-back {
            padding: 10px;
            background-color: #EEE;
            border-bottom: 1px solid #DDD;
            text-align: center;
        }
        #emu-warning {
            padding: 10px;
            background-color: #FDD;
            border-bottom: 1px solid #DDD;
            text-align: center;
        }
        #emu-info {
            padding: 10px;
            background-color: #EEE;
            border-top: 1px solid #DDD;
            text-align: center;
        }
        .disclaimer {
            padding: 4px;
            font-size: .8em;
            color: #555;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="main_container">
        <div id="emu-back">
            <a href="{% url release_manager domain app.id %}">Back to Release Manager</a>
        </div>
        <div id="emu-warning">
            <span class="caution">Caution</span>: Will make <strong>real</strong> submissions: will modify cases, register users, etc.
        </div>
        <applet code="org.microemu.applet.Main"
                width="226" height="471">
            <param name="cache_archive" value="{{ build_path }}microemu-javase-applet.jar,{{ build_path }}microemulator.jar,{{ build_path }}microemu-jsr-75.jar,{{ build_path }}cldcapi11.jar,{{ build_path }}midpapi20.jar,{{ build_path }}microemu-nokiaui.jar" />
            <param name="archive" value="./CommCare.jar" />
            <param name="midlet" value="org.commcare.midlet.CommCareMidlet" />
            <param name="Profile" value="jr://resource/profile.xml" />
            <param name="FileRootTranslator" value="http{% if request.is_secure %}s{% endif %}://{{ request.META.HTTP_HOST }}{% url emulator_root_url domain app.get_id %}"/>
            {% if app.admin_password %}
                <param name="JavaRosa-Admin-Password" value="{{ app.admin_password }}" />
            {% endif %}
        </applet>
        <div id="emu-info">
            <p>This might take a few minutes.</p>
            <p>(Even after the loading bar has filled!)</p>
            <p class="disclaimer">
                Behavior may differ from phone.
            </p>
        </div>
    </div>
{% endblock %}