{% extends 'app_manager/apps_base.html'%}
{% load xforms_extras %}
{% load hq_shared_tags %}


{% block head %}
    {{ block.super }}

    <link href="{{ STATIC_URL }}formdesigner/css/chosen.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}formdesigner/css/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}formdesigner/lib/tokeninput/token-input-facebook.css?version=105" type="text/css" />
    <link href="{{ STATIC_URL }}formdesigner/css/formdesigner.css?version=105" rel="stylesheet" type="text/css" media="screen, projection" />
    

    <script type="text/javascript" src="{{ STATIC_URL }}formdesigner/js/jquery.jstree.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}formdesigner/js/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}formdesigner/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}formdesigner/js/jquery-ui-timepicker-addon.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}formdesigner/js/ui.js?version=105"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}formdesigner/js/util.js?version=105"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}formdesigner/js/model.js?version=105"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}formdesigner/js/controller.js?version=105"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}formdesigner/js/widgets.js?version=105"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}formdesigner/lib/tokeninput/jquery.tokeninput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}formdesigner/lib/xpath/lib/biginteger.js?version=105"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}formdesigner/lib/xpath/lib/schemeNumber.js?version=105"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}formdesigner/lib/xpath/models.js?version=105"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}formdesigner/lib/xpath/xpath.js?version=105"></script>
    
        
    <script type="text/javascript" src="{{ STATIC_URL }}formdesigner/js/XMLWriter-1.0.0.js"></script>

    <style>
        #forms {
            padding:  10px;
        }
        #breadcrumbs {
            border-bottom: 1px solid #EEE;
            margin-bottom: 10px;
            padding: 0 10px 10px 10px;
            font-size: 1.1em;
        }
        #breadcrumbs > ul {
            display: table-row;
        }
        #breadcrumbs > ul > li {
            display: table-cell;
        }
    </style>
    <script>
        $(function () {

            $("#edit").hide();

            $('#breadcrumbs > ul > li:not(:first)').prepend($('<div/>').addClass('ui-icon ui-icon-carat-1-e'));

{#            $("#save-xform").button().click(function () {#}
{#                $.ajax({#}
{#                    url: '{% url edit_form_attr domain app.id form.get_unique_id "xform" %}',#}
{#                    data: {#}
{#                        xform: $("#xform-source").val(),#}
{#                        ajax: true#}
{#                    },#}
{#                    type: "POST",#}
{#                    success: function () {#}
{#                        alert("Success!");#}
{#                    },#}
{#                    error: function () {#}
{#                        alert("Error");#}
{#                    }#}
{#                });#}
{#            });#}
            formdesigner.launch({
                rootElement: $("#formdesigner"),
                staticPrefix: '/static/formdesigner/',
                iconUrl: '/static/hqwebapp/javascripts/jquery-ui/images/ui-icons_469bdd_256x240.png',
                saveUrl: '{% url edit_form_attr domain app.id form.get_unique_id "xform" %}',
                form: {{ form.source|JSON }},
                langs: {{ app.langs|JSON }}
            });
        });
    </script>
{% endblock %}

{% block app-content %}
    <div id="breadcrumbs">
        <ul>
            <li><a href="{% url view_app domain app.id %}?edit=true">{{ app.name }}</a></li>
            {% if is_user_registration %}
                <li><a href="../?edit=true">User Registration</a></li>
            {% else %}
                <li><a href="{% url view_module domain app.id module.id%}?edit=true">{{ module.name|trans:langs }}</a></li>
                <li><a href="../?edit=true">{{ form.name|trans:langs }}</a></li>
            {% endif %}
            <li>Vellum</li>
        </ul>
    </div>
    <h3>Vellum</h3>

{#    <div>#}
{#        <textarea id="xform-source">{{ form.source }}</textarea>#}
{#    </div>#}
{#    <span id="save-xform">Save</span>#}
    <div id="formdesigner"></div>
    <div style="clear: both"></div>
{% endblock %}