{% extends 'app_manager/managed_app.html'%}
{% load xforms_extras %}
{% load hq_shared_tags %}
{% load i18n %}

{% block underscore %}
    <script src="{% static 'formdesigner/js/lib/underscore-1.5.2.js' %}"></script>
{% endblock %}

{% block js %}{{ block.super }}
    <script src="{% static 'formdesigner/js/lib/jquery.jstree.js' %}"></script>
    <script src="{% static 'formdesigner/js/lib/jquery.fancybox-1.3.4.pack.js' %}"></script>
    <script src="{% static 'formdesigner/js/lib/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'formdesigner/js/lib/jquery-ui-timepicker-addon.js' %}"></script>
    <script src="{% static 'formdesigner/js/lib/sha1.js' %}"></script>
    <script src="{% static 'formdesigner/js/lib/diff_match_patch.js' %}"></script>

    <script src="{% static 'formdesigner/js/lib/xpath/lib/biginteger.js' %}"></script>
    <script src="{% static 'formdesigner/js/lib/xpath/lib/schemeNumber.js' %}"></script>
    <script src="{% static 'formdesigner/js/lib/xpath/models.js' %}"></script>
    <script src="{% static 'formdesigner/js/lib/xpath/xpath.js' %}"></script>

    <script src="{% static 'formdesigner/js/lib/XMLWriter-1.0.0.js' %}"></script>

    <script src="{% static 'formdesigner/js/lib/codemirror/codemirror.js' %}"></script>
    <script src="{% static 'formdesigner/js/lib/codemirror/xml.js' %}"></script>
    
    <script src="{% static 'formdesigner/js/lib/classy-1.4.js' %}"></script>
    <script src="{% static 'formdesigner/js/formdesigner.javarosa.js' %}"></script>
    <script src="{% static 'formdesigner/js/window.js' %}"></script>
    <script src="{% static 'formdesigner/js/util.js' %}"></script>
    <script src="{% static 'formdesigner/js/multimedia.js' %}"></script>
    <script src="{% static 'formdesigner/js/widgets.js' %}"></script>
    <script src="{% static 'formdesigner/js/model.js' %}"></script>
    <script src="{% static 'formdesigner/js/controller.js' %}"></script>
    <script src="{% static 'formdesigner/js/ui.js' %}"></script>
    <script src="{% static 'formdesigner/js/window.js' %}"></script>

    {% include 'hqmedia/partials/multimedia_js.html' %} {# todo We should have a discussion at some point how we'd like to organize this in the future. #}
{% endblock %}

{% block js-inline %}{{ block.super }}
    <script>
        $(function () {

            $("#edit").hide();
            $('footer').addClass('fixed-footer');

            var formSrc = {{ form.source|to_javascript_string }};
            formdesigner.launch({
                rootElement: $("#formdesigner"),
                staticPrefix: '/static/formdesigner/',
                saveUrl: '{% url "edit_form_attr" domain app.id form.get_unique_id "xform" %}',
                patchUrl: '{% url "patch_xform" domain app.id form.get_unique_id %}',
                multimediaConfig: {
                    uploadUrls: {
                        image: '{% url "hqmedia_uploader_image" domain app.id %}',
                        audio: '{% url "hqmedia_uploader_audio" domain app.id %}',
                        video: '{% url "hqmedia_uploader_video" domain app.id %}'
                    },
                    swfURL: '{% static 'hqmedia/yui/assets/flashuploader.swf' %}',
                    objectMap: {{ multimedia_object_map|JSON }},
                    uploadControllerClass: HQMediaFileUploadController
                },
                windowConfig: {
                    bottomOffset: $('footer').outerHeight(),
                    leftOffset: function () {
                        return $('.sidebar').outerWidth() + 2;
                    },
                    topOffset: function () {
                        return $('header').outerHeight() + $('.hq-page-header-container').outerHeight();
                    }
                },
                allowedDataNodeReferences: [
                    "meta/deviceID",
                    "meta/instanceID",
                    "meta/username",
                    "meta/userID",
                    "meta/timeStart",
                    "meta/timeEnd"
                ],
                saveType: 'patch',
                form: formSrc,
                langs: {{ app.langs|JSON }},
                formName: "{{ form.name|trans:app.langs }}",
                displayLanguage: {{ lang|JSON }},
                sessionid: {{ sessionid|JSON }}
            });
            formdesigner.on('form-saved', function (args) {
                var response = args.response;
                COMMCAREHQ.app_manager.updateDOM(response.update);
            });
        });
    </script>
{% endblock %}

{% block keyboard_shortcuts %}
    <script>
        var nav_key = {{ request.couch_user.keyboard_shortcuts.main_key|JSON }};

        // overrides default behavior and allows for shortcuts in inputs
        KEY.filter = function(event) {
            return true;
        };

        function gen_sidebar_elements() {
            return $('.sidebar .nav-list a:not(a:has(.icon-pencil))');
        }
        var sidebar_navigator = new KeyboardNavigator();
        sidebar_navigator.init({
            name: 'sidebar',
            nav_key: nav_key,
            action_key: 'enter',
            forward_keys: ['j', 'down'],
            back_keys: ['k', 'up'],
            element_list_generator: gen_sidebar_elements,
            reset_index: false
        });

        function gen_question_tree_elements() {
            return $('.jstree-leaf:visible a, .jstree-open a, .jstree-closed a:first');
        }
        var question_tree_navigator = new KeyboardNavigator();
        question_tree_navigator.init({
            name: 'question tree',
            ready_scope: 'qt-ready',
            nav_key: nav_key,
            action_key: 'enter',
            forward_keys: ['j', 'down'],
            back_keys: ['k', 'up'],
            element_list_generator: gen_question_tree_elements,
            focus_in_fn: function($ele) { $ele.addClass('jstree-hovered') },
            focus_out_fn: function($ele) { $ele.removeClass('jstree-hovered') },
            reset_index: true,
            regen_list_on_exit: true
        });

        function gen_change_question_elements() {
            return $('.change-question');
        }
        var change_question_navigator = new KeyboardNavigator();
        change_question_navigator.init({
            name: 'change question',
            ready_scope: 'cq-ready',
            nav_key: nav_key,
            action_key: 'enter',
            forward_keys: ['j', 'down'],
            back_keys: ['k', 'up'],
            element_list_generator: gen_change_question_elements,
            start_fn: function() { $('#fd-question-changer').addClass('open') },
            stop_fn: function() { $('#fd-question-changer').removeClass('open') },
            reset_index: true,
            regen_list_on_leave: true
        });

        function gen_tools_elements() {
            return $('#fd-form-actions li a');
        }
        var tools_navigator = new KeyboardNavigator();
        tools_navigator.init({
            name: 'tools',
            ready_scope: 'tools-ready',
            nav_key: nav_key,
            action_key: 'enter',
            forward_keys: ['j', 'down'],
            back_keys: ['k', 'up'],
            element_list_generator: gen_tools_elements,
            start_fn: function() { $('#fd-form-actions .btn-group').addClass('open') },
            stop_fn: function() { $('#fd-form-actions .btn-group').removeClass('open') },
            reset_index: true,
            regen_list_on_leave: true
        });

        function handle_properties_shortcut() {
            $('#fd-props-content').find('input[type="text"]').first().focus();
            return false;
        }

        KEYBOARD_SHORTCUTS = KEYBOARD_SHORTCUTS.concat([
            {
                shortcut: nav_key + "+s",
                handler: KS.gen_click_fn("#settings-save-btn .btn, #fd-save-button .btn"),
                desc: "Save Form"
            },
            {
                shortcut: nav_key + "+[",
                handler: question_tree_navigator.activate,
                desc: "Navigate the Question Tree"
            },
            {
                shortcut: nav_key + "+]",
                handler: handle_properties_shortcut,
                desc: "Change Focus to Question Properties"
            },
            {
                shortcut: nav_key + "+d",
                handler: change_question_navigator.activate,
                desc: "Change Current Question"
            },
            {
                shortcut: nav_key + "+t",
                handler: tools_navigator.activate,
                desc: "Access Tools Menu"
            },
            {
                shortcut: nav_key + "+c",
                handler: KS.gen_click_fn("#fd-button-copy"),
                desc: "Make Copy of Selected Node"
            }
        ]);
    </script>
{% endblock %}

{% block title %}{{ form.name|html_trans:langs|safe }}{% endblock %}

{% block head %}
    {{ block.super }}

    <link href="{% static 'formdesigner/css/chosen.css' %}" rel="stylesheet" />
    <link href="{% static 'formdesigner/js/lib/codemirror/codemirror.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'formdesigner/css/jquery.fancybox-1.3.4.css' %}" media="screen" />

    <!-- Core Vellum Styles -->
    <link href="{% static 'formdesigner/style/structure.css' %}" rel="stylesheet" media="screen, projection" />
    <link href="{% static 'formdesigner/style/editor-column.css' %}" rel="stylesheet" media="screen, projection" />
    <link href="{% static 'formdesigner/style/tree-content.css' %}" rel="stylesheet" media="screen, projection" />
    <link href="{% static 'formdesigner/style/question-props.css' %}" rel="stylesheet" media="screen, projection" />
    <link href="{% static 'formdesigner/style/xpath-editor.css' %}" rel="stylesheet" media="screen, projection" />

{% endblock %}

{% block form-view %}
    <div id="formdesigner" class="clearfix"></div>
{% endblock %}

{% block column_style %}hq-flush-content{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><span class="divider">&gt;</span> <i class="icon-pencil"></i> {{ form.name|trans:app.langs }}</li>
{% endblock %}
