{% extends "app_manager/form_view_base.html" %}
{% load xforms_extras %}
{% load hq_shared_tags %}
{% load i18n %}

{% block js-inline %}{{ block.super }}
    <script>
        $(function(){
        {% if is_user_registration %}
            var form_empty = {% if form.source and xform_questions %}false{% else %}true{% endif %};
            if (!form_empty) {
                (function (options) {
                    var i, username_question, password_question,
                        questions = options.questions,
                        url = options.url,
                        home = $('#user_reg_home'),
                        select = $('<select multiple="true" data-placeholder="No extra user properties"/>'),
                        saveButton = SaveButton.init({
                            save: function () {
                                saveButton.ajax({
                                    url: url,
                                    type: 'post',
                                    data: {user_reg_data: JSON.stringify(serialize())}
                                })
                            }
                        }),
                        paths = options.paths;
                    saveButton.ui.appendTo(home);
                    function extract_key(value) {
                            return /^\/\w+\/([^/]*)$/.exec(value)[1];
                    }
                    function serialize() {
                        var data = {data_paths: {}},
                                paths = select.val() || [],
                                i;
                        data.data_paths = paths;
                        if (username_question) {
                            data.username_path = username_question.value;
                        }
                        if (password_question) {
                            data.password_path = password_question.value;
                        }
                        return data;
                    }
                    for (i = 0; i < questions.length; i += 1) {
                        if (/^\/\w+\/registration\/\w+$/.exec(questions[i].value)) {
                            /* we don't want to do anything if there already exists a registration block */
                            home.parent().hide().prev().hide();
                            return;
                        } else if (/^\/\w+\/username$/.exec(questions[i].value)) {
                            username_question = questions[i];
                        } else if (/^\/\w+\/password$/.exec(questions[i].value)) {
                            password_question = questions[i];
                        } else {
                            $('<option/>').attr({'value': questions[i].value}).text(
                                    extract_key(questions[i].value)
                            ).appendTo(select);
                        }
                    }

                    if (!username_question) {
                        $('<p class="warning">You have no <strong>username</strong> field.</p>').appendTo(home);
                    }
                    if (!password_question) {
                        $('<p class="warning">You have no <strong>password</strong> field.</p>').appendTo(home);
                    }

                    if (select.find('> *').length) {
                        $('<label for="data_paths_select"/>').text('Save the following extra properties:').css({
                            marginBottom: '.5em',
                            display: 'block'
                        }).appendTo(home);
                        select.attr('id', 'data_paths_select').val(paths).css({
                            width: '600px',
                            height: '10em'
                        }).appendTo(home).select2();
                    }

                    select.change(function () {
                        saveButton.fire('change');
                    });
                }({
                    questions: {{ xform_questions|JSON }},
                    url: "{% url "edit_form_attr" domain app.id form.get_unique_id 'user_reg_data' %}",
                    paths: {{ form.data_paths.values|JSON }}
                }));
            }
        {% endif %}
        });
    </script>
{% endblock %}

{% block case_management_js %}{{ block.super }}
    {% if form.source %}
    var caseConfig = new CaseConfig.CaseConfig({
        home: $('#casexml_home'),
        actions: {{ form.actions|JSON }},
        questions: {{ xform_questions|JSON }},
        save_url: "{% url "corehq.apps.app_manager.views.edit_form_actions" app.domain app.id module.id nav_form.id %}",
        requires: form_requires,
        reserved_words: {{ case_reserved_words_json|JSON }},
        moduleCaseTypes: {{ module_case_types|JSON }},
        caseType: {{ form.get_case_type|JSON }},
        propertiesMap: {{ case_properties|JSON }},
        usercasePropertiesMap: {{ usercase_properties|JSON }}
        {% if app.application_version == '1.0' %}
        ,ejs_urls: {
            template: "{% static 'app_manager/ejs/case-config-ui-2.ejs' %}",
            condition_ejs: "{% static 'app_manager/ejs/condition.ejs' %}",
            action_ejs: "{% static 'app_manager/ejs/action.ejs' %}",
            options_ejs: "{% static 'app_manager/ejs/options.ejs' %}",
            propertyList_ejs: "{% static 'app_manager/ejs/propertyList.ejs' %}",
            action_templates: {
                open_case: "{% static 'app_manager/ejs/actions/open_case.ejs' %}",
                update_case: "{% static 'app_manager/ejs/actions/update_case.ejs' %}",
                case_preload: "{% static 'app_manager/ejs/actions/case_preload.ejs' %}",
                close_case: "{% static 'app_manager/ejs/actions/close_case.ejs' %}"
            }
        }
        {% endif %}
    });
    caseConfig.init();
    {% endif %}
{% endblock %}
