{% extends "app_manager/form_view_base.html" %}
{% load xforms_extras %}
{% load hq_shared_tags %}
{% load i18n %}

{% block js-inline %}{{ block.super }}
{% if request.guided_tour %}{% include request.guided_tour.template %}{% endif %}
{% endblock %}

{% block case_management_js %}{{ block.super }}
    {% if form.source %}
    var CaseConfig = hqImport('app_manager/js/case-config-ui-2.js').CaseConfig;
    var caseConfig = new CaseConfig({
        home: $('#casexml_home'),
        actions: {{ form.actions|JSON }},
        questions: {{ xform_questions|JSON }},
        save_url: "{% url "corehq.apps.app_manager.views.edit_form_actions" app.domain app.id module.id nav_form.id %}",
        requires: form_requires,
        reserved_words: {{ case_reserved_words_json|JSON }},
        moduleCaseTypes: {{ module_case_types|JSON }},
        caseType: {{ form.get_case_type|JSON }},
        allowUsercase: {{ allow_usercase|JSON }},
        propertiesMap: {{ case_properties|JSON }},
        usercasePropertiesMap: {{ usercase_properties|JSON }},
        vellumCaseManagement: {{ app.vellum_case_management|JSON }}
        {% if app.application_version == '1.0' %}
        ,ejs_urls: {
            template: "{% static 'app_manager/ejs/case-config-ui-2.ejs' %}",
            condition_ejs: "{% static 'app_manager/ejs/condition.ejs' %}",
            action_ejs: "{% static 'app_manager/ejs/action.ejs' %}",
            options_ejs: "{% static 'app_manager/ejs/options.ejs' %}",
            propertyList_ejs: "{% static 'app_manager/ejs/propertyList.ejs' %}",
            action_templates: {
                open_case: "{% static 'app_manager/ejs/actions/open_case.ejs' %}",
                update_case: "{% static 'app_manager/ejs/actions/update_case.ejs' %}",
                case_preload: "{% static 'app_manager/ejs/actions/case_preload.ejs' %}",
                close_case: "{% static 'app_manager/ejs/actions/close_case.ejs' %}"
            }
        }
        {% endif %}
    });
    caseConfig.init();
    {% endif %}
{% endblock %}
