{% extends 'app_manager/managed_app.html'%}
{% load xforms_extras %}
{% load hq_shared_tags %}
{% load i18n %}

{% block js %}{{ block.super }}
    {% include 'app_manager/partials/form_designer_js.html' %}
{% endblock %}

{% block js-inline %}{{ block.super }}
    {% include 'app_manager/partials/form_designer_js_inline_js.html' %}
    <script>
        require(["jquery", "jquery.vellum"], function ($) {
            $(function () {
                $('footer').addClass('fixed-footer');
                $('#formdesigner').vellum(VELLUM_OPTIONS);
            });
        });
        analytics.workflow('Entered the Form Builder');

    </script>
{% endblock %}

{% block keyboard_shortcuts %}
    {% include 'app_manager/partials/form_designer_keyboard_shortcuts_js.html' %}
{% endblock %}

{% block title %}{{ form.name|clean_trans:langs }}{% endblock %}

{% block form-view %}
    {% include 'app_manager/partials/form_designer_form_view.html' %}
{% endblock %}

{% block column_style %}hq-flush-content{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include 'app_manager/partials/module_view_breadcrumbs.html' %}
    {% if form.id != None %}
    <li>
        <span class="divider">&gt;</span>
        <a href="{% url "view_form" domain app.id module.id form.id %}">
            {{ form.name|trans:app.langs }}
        </a>
    </li>
    {% endif %}
    <li><span class="divider">&gt;</span> <i class="icon-pencil"></i> Edit</li>
{% endblock %}
