{% extends "app_manager/managed_app.html" %}
{% load xforms_extras %}
{% load hq_shared_tags %}
{% load i18n %}
{% block js %}{{ block.super }}
    <script src="{% static 'hqwebapp/javascripts/knockout.mapping.js' %}"></script>
    <script src="{% static 'hqwebapp/js/knockout-bindings.js' %}"></script>

    <script src="{% static 'app_manager/js/ejs.min.js' %}"></script>
    {% if app.application_version == '2.0' %}
        <script src="{% static 'app_manager/js/case-config-ui-2.js' %}"></script>
    {% else %}
        <script src="{% static 'app_manager/js/case-config-ui-1.js' %}"></script>
    {% endif %}
    <script src="{% static 'app_manager/js/langcodeValidator.js' %}"></script>
    <script src="{% static 'cloudcare/js/util.js' %}"></script>
{% endblock %}
{% block js-inline %}{{ block.super }}
    {% include "hqwebapp/ko/value-or-none-ui.html" %}
    {% include "app_manager/partials/nav_menu_media_js.html" with item=form %}
    <script>
        $(function(){
            (function styleSourcePopup() {
                var $dialog = $(".xml-source");
                if ($dialog.hasClass('ui-dialog-content')) {
                    $dialog.dialog({
                        open: function () {
                            $dialog.dialog('option', 'height', $(window).height() -100);
                            $dialog.dialog('option', 'width', $(window).width() - 100);
                            $dialog.dialog('option', 'position', [50, 50]);
                        }
                    });
                } else {
                    window.setTimeout(styleSourcePopup, 1000);
                }
            }());
            (function doFileUploadCheck(){
                $("#xform_file_input").change(function(){
                    if ($(this).val()) {
                        $("#xform_file_submit").show();
                    } else {
                        $("#xform_file_submit").hide();
                    }
                }).trigger('change');
            }());
            (function configXFormSourceAjax(){
                $("#xform-source-opener").click(function(evt){
                    if (evt.shiftKey) {
                        console.log("shift key!");
                        $("#source-readonly").hide();
                        $("#source-edit").show();
                        $.get($(this).attr('href'), function (data) {
                            $("#xform-source-edit").text(data);
                        }, 'json');
                    } else {
                        $("#source-edit").hide();
                        $("#source-readonly").show();
                        $("#xform-source").text("Loading...");
                        $.get($(this).attr('href'), function (data) {
                            var brush = new SyntaxHighlighter.brushes.Xml();
                            brush.init({ toolbar: false });
                            // brush.getDiv seems to escape inconsistently, so I'm helping it out
                            data = data.replace(/&/g, '&amp;');
                            $("#xform-source").html(brush.getDiv(data));
                        }, 'json');
                    }
                });
            }());
            var edit = {% if edit %}true{% else %}false{% endif %};
            var langcodeValidator = new LangcodeValidator({
                home: 'langcode_validator',
                langcodes: {{ xform_languages|JSON }},
                edit: edit,
                renameURL: "{% url corehq.apps.app_manager.views.rename_language app.domain form.get_unique_id %}",
                validateURL: "{% url corehq.apps.app_manager.views.validate_language app.domain app.id %}"
            });
            var form_empty = {% if form.source %}false{% else %}true{% endif %};
        {% if is_user_registration %}
            if (!form_empty) {
                (function (options) {
                    var i, username_question, password_question,
                        questions = options.questions,
                        url = options.url,
                        home = $('#user_reg_home'),
                        select = $('<select multiple="true" data-placeholder="No extra user properties"/>'),
                        saveButton = SaveButton.init({
                            save: function () {
                                saveButton.ajax({
                                    url: url,
                                    type: 'post',
                                    data: {user_reg_data: JSON.stringify(serialize())}
                                })
                            }
                        }),
                        paths = options.paths;
                    saveButton.ui.appendTo(home);
                    function extract_key(value) {
                            return /^\/\w+\/([^/]*)$/.exec(value)[1];
                    }
                    function serialize() {
                        var data = {data_paths: {}},
                                paths = select.val() || [],
                                i;
                        data.data_paths = paths;
                        if (username_question) {
                            data.username_path = username_question.value;
                        }
                        if (password_question) {
                            data.password_path = password_question.value;
                        }
                        return data;
                    }
                    for (i = 0; i < questions.length; i += 1) {
                        if (/^\/\w+\/registration\/\w+$/.exec(questions[i].value)) {
                            /* we don't want to do anything if there already exists a registration block */
                            home.parent().hide().prev().hide();
                            return;
                        } else if (/^\/\w+\/username$/.exec(questions[i].value)) {
                            username_question = questions[i];
                        } else if (/^\/\w+\/password$/.exec(questions[i].value)) {
                            password_question = questions[i];
                        } else {
                            $('<option/>').attr({'value': questions[i].value}).text(
                                    extract_key(questions[i].value)
                            ).appendTo(select);
                        }
                    }
                    console.log(username_question, password_question);
                    if (!username_question) {
                        $('<p class="warning">You have no <strong>username</strong> field.</p>').appendTo(home);
                    }
                    if (!password_question) {
                        $('<p class="warning">You have no <strong>password</strong> field.</p>').appendTo(home);
                    }

                    if (select.find('> *').length) {
                        $('<label for="data_paths_select"/>').text('Save the following extra properties:').css({
                            marginBottom: '.5em',
                            display: 'block'
                        }).appendTo(home);
                        select.attr('id', 'data_paths_select').val(paths).css({
                            width: '600px',
                            height: '10em',
                        }).appendTo(home).chosen();
                    }

                    select.change(function () {
                        saveButton.fire('change');
                    });
                }({
                    questions: {{ xform_questions|JSON }},
                    url: "{% url edit_form_attr domain app.id form.get_unique_id 'user_reg_data' %}",
                    paths: {{ form.data_paths.values|JSON }}
                }));
            }
        {% else %}
            if (!form_empty) {
                var casexml = new CaseXML({
                    home: $('#casexml_home'),
                    actions: {{ form.actions|JSON }},
                    questions: {{ xform_questions|JSON }},
                    edit: edit,
                    save_url: "{% url corehq.apps.app_manager.views.edit_form_actions app.domain app.id module.id nav_form.id %}",
                    requires: "{{ form.requires }}",
                    reserved_words: {{ case_reserved_words_json|JSON }},
                    moduleCaseTypes: {{ module_case_types|JSON }},
                    caseType: {{ form.get_case_type|JSON }}
                });
                casexml.init();

                // tag the 'preview in cloudcare' button with the right url
                // unfortunately, has to be done in javascript
                var cloudCareUrl = getCloudCareUrl("{% url cloudcare_main domain '' %}", "{{ app.id }}", "{{ module.id }}", "{{ nav_form.id }}") + "?preview=true";
                $("#cloudcare-preview-url").attr("href", cloudCareUrl);
            }
        {% endif %}
        {% if app.application_version != '1.0' %}
            ko.applyBindings({
                    formFilter: ko.observable({{ form.form_filter|JSON }}),
                    formFilterAllowed: {{ module.all_forms_require_a_case|BOOL }}
                },
                $('#form-filter').get(0)
            );
        {% endif %}
        });
    </script>
{% endblock %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}syntaxhighlighter/styles/shCoreDefault.css"/>
    <script src="{{ STATIC_URL }}syntaxhighlighter/scripts/shCore.js"></script>
    <script src="{{ STATIC_URL }}syntaxhighlighter/scripts/shBrushXml.js"></script>
    <style>
        .casexml ul {
            margin-left: 15px;
        }
        .no-edit-select {
            font-weight: bold;
            color: #444;
        }
        input[type="radio"]{
            margin: 3px 5px 5px 0px;
        }
        #xform-links ul {
            display: block;
        }
        #xform-links li {
            display: inline-block;
            border-left: 1px solid #DDD;
            padding: 0 5px;
        }
        #xform-links li:first-child {
            border-left: none;
            padding-left: 0;
        }
        #xform-links a {
            display: inline-block;
            border: 1px solid transparent;
            padding: 5px 10px;
            vertical-align: middle;

            border-radius: 15px;
            -moz-border-radius: 15px;
        }
        #xform-links a:hover {
            border: 1px solid #BBB;
            background: #EEE;
            text-decoration: none;
        }
        #xform-links a:active {
            border: 1px solid #BBB;
            background: #DDD;
            text-decoration: none;
        }
        #xform-links a.disabled {
            pointer-events: none;
            cursor: default;
            color: #888;
        }
    </style>
    {% if app.application_version == '2.0' %}
    <style>
        #open-referral-action,
        #update-referral-action,
        #close-referral-action,
        #referral-preload-action {
            display: none;
        }
        .indent {
            margin-left: 15px;
        }
        .ko-no-edit-select {
            font-weight: bold;
            color: #444;
        }
        .code.ko-no-edit {
            font-weight: normal;
        }
    </style>
    {% endif %}
{% endblock %}
{% block form-view %}
    {% if edit and not is_user_registration %}
        <div class="delete-me">
            <form action="{% url delete_form domain app.id module.id form.id %}" method="post">
                <a class="submit" href="#">
                    <span class="ui-icon ui-icon-trash"></span>
                    Delete this form
                </a>
            </form>
        </div>
    {% endif %}
    {% if is_user_registration %}
        <h3 class="app-manager-title">User Registration</h3>
    {% else %}
        <h3 class="app-manager-title variable-form_name">{{ form.name|html_trans:langs|safe }}</h3>
    {% endif %}

    {% if nav_form %}
        <h4>Form Settings</h4>
        <div class="config">
            <form class="save-button-form" action="{% url corehq.apps.app_manager.views.edit_form_attr domain app.id form.get_unique_id 'all' %}">
                <div class="save-button-holder"></div>
                <table>
                    <tr>
                        <th>Form Name</th>
                        <td>
                            {% if edit %}
                                {{ form.name|input_trans:langs|safe }}
                            {% else %}
                                {{ form.name|html_trans:langs|safe }}
                            {% endif %}
                        </td>
                    </tr>
                    {% include "app_manager/partials/nav_menu_media.html" with item=form%}
                    {% if app.application_version != '1.0' %}
                    <tr>
                        <th>
                            {% trans "Display Condition" %}
                            <span class="hq-help-template"
                                data-title="{% trans "Display Condition" %}"
                                data-content="{% trans "You can specify an XPath to use as a display condition for this form. For example './edd > today()' means 'show this form if the selected case has an edd later than today'" %}"
                            ></span>
                        </th>
                        <td id="form-filter">
                            {% if edit %}
                                <div data-bind="valueOrNoneUI: {
                                    value: formFilter,
                                    allowed: formFilterAllowed,
                                    inputCss: {wide: true},
                                    inputName: 'form_filter'
                                }">
                                    <span data-slug="add">{% trans "Add Display Condition..." %}</span>
                                    <span data-slug="remove">{% trans "Remove Display Condition" %}</span>
                                    <span data-slug="notAllowed">{% trans "This option only applies when all forms in a module require a case" %}</span>
                                    <span data-slug="notAllowedButExists">{% trans "but it looks like you tried to configure one earlier, which we'll have to ignore:" %}</span>
                                </div>
                            {% else %}
                                <code>{{ form.form_filter|default:'' }}</code>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </form>
        </div>
    {% endif %}

    {% if edit %}
        <h4>Form Questions (XForm)</h4>
        <div class="config" id="xform-links">
            <ul>
                <li>
                    <a href="./source/"><span class="ui-icon ui-icon-pencil"></span>{% if form.source %}Edit{% else %}Create{% endif %}</a>
                </li><li>
                    <a id="xform-source-opener" class="dialog_opener {% if not form.source %}disabled{% endif %}"
                    {% if is_user_registration %}
                       href="{% url get_user_registration_source domain app.id %}">
                    {% else %}
                       href="{% url get_xform_source domain app.id module.id form.id %}">
                    {% endif %}
                        <span class="ui-icon ui-icon-search"></span>
                        View
                    </a>
                    <div class="xml-source dialog" title="XML Source">
                        <div id="source-readonly">
                        Double-click to select all.
                        <pre id="xform-source" class="brush: xml;"></pre>
                        </div>
                        <div id="source-edit">
                            You can edit your XForm here.<br />
                            <form action="{% url corehq.apps.app_manager.views.edit_form_attr domain app.id form.get_unique_id 'xform' %}" method="POST">
                                <textarea name="xform" id="xform-source-edit" style="height:550px;width:90%;font-family:Monospace;">
                                Loading...
                                </textarea><br />
                            <input type="hidden" name="ajax" value="false" />
                                <label for="cleanup">[Beta] Clean up markup after saving (add newlines, reformat indentation, etc.): </label><input type="checkbox" id="cleanup" name="cleanup" /><br/>
                                <input type="submit" value="Save" />
                            </form>
                        </div>
                    </div>
                </li><li>
                    <a class="dialog_opener" href="#"><span class="ui-icon ui-icon-arrowthick-1-n"></span>Upload</a>
                    <div class="dialog" title="Upload XForm">
                        <form action="{% url corehq.apps.app_manager.views.edit_form_attr domain app.id form.get_unique_id 'xform' %}" method="POST" enctype="multipart/form-data">
                            <input type="file" id="xform_file_input" name="xform" />
                            <input type="hidden" name="ajax" value="false" />
                            <input type="submit" id="xform_file_submit" value="Upload" />
                        </form>
                    </div>
                </li><li>
                    <a {% if not form.source %}class="disabled"{% endif %}{% if is_user_registration %}
                            href="{% url get_user_registration_source domain app.id %}?download=true"
                        {% else %}
                            href="{% url get_xform_source domain app.id module.id form.id %}?download=true"
                        {% endif %}><span class="ui-icon ui-icon-arrowthick-1-s"></span>Download</a>
                </li>
{% if app.application_version == '2.0' %}
                <li><a {% if not form.source or is_user_registration %}class="disabled"{% endif %}
                            id="cloudcare-preview-url" href="#"
                        ><span class="ui-icon ui-icon-play"></span>Try in CloudCare</a>
                </li>
{% endif %}
            </ul>
        </div>
    {% endif %}

    {% if form.source %}
        <h4>Language Checker</h4>
        <div class="config">
            <div id="langcode_validator">
                <p>This form does not use internationalized text.</p>
            </div>
        </div>
    {% endif %}
    {% if form.source %}
        {% if is_user_registration %}
            <h4>User Registration Properties</h4>
            <div id="user_reg_home" class="config"></div>
        {% else %}
            {% if app.application_version == '1.0' %}
                <h4>{% trans "Cases and Referrals" %}
                    <span class="hq-help-template"
                        data-title="{% trans "Cases and Referrals" %}"
                        data-content="{% trans "Cases and referrals are a way of preserving information across multiple interactions with CommCare on the mobile phone." %}"
                    ></span>
                </h4>
                <div class="casexml config" id="casexml_home">
                </div>
            {% else %}
                <h4>{% trans "Case Configuration" %}
                    <span class="hq-help-template"
                       data-title="{% trans "Case Configuration" %}"
                       data-content="{% trans "Cases are a way of preserving information across multiple interactions with CommCare on the mobile phone." %}"
                    </span>
                </h4>
                <span class="label label-info indent">The app builder for 2.0 apps currently doesn't support referrals</span>
                <div class="casexml config" id="casexml_home">
                    <script type="text/html" id="remove-subcase-modal-template">
                        <div class="modal-header">
                            <a href="#" class="close" data-dismiss="modal">×</a>
                            <h3>Remove Subcase?</h3>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to remove this subcase?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                            <a class="btn btn-danger" href="#" data-bind="click: $root.removeSubCase" data-dismiss="modal">Remove Subcase</a>
                        </div>
                    </script>
                    <div id="case-config-ko">
                        <hr/>
                        <h4>CommCare 2.0 Child Cases <sup>beta</sup>
                            <span class="hq-help-template"
                                data-title="{% trans "Child Cases" %}"
                                data-content="{% trans "Child Cases let you open other types of cases for use in other modules. When possible, they'll be linked to the current case so you'll always know where they came from. A great use of Child Cases is for tracking a newborn separately from its mother." %}"
                            </span>
                        </h4>
                        <div data-bind="foreach: subcases" class="indent form">
                            <div>
                                <i class="icon-ok"></i>
                                Opens a case for a different case list:
                                <span class="control-group" data-bind="css: {warning: !case_type()}">
                                    <select data-bind="
                                        options: $root.caseTypes,
                                        optionsText: $root.getCaseTypeLabel,
                                        value: case_type,
                                        optionsCaption: 'Choose a Module...',
                                        edit: $root.edit"></select>
                                    <span class="help-inline" data-bind="visible: !case_type()">Required</span>
                                </span>
                                <a href="#" data-bind="openModal: 'remove-subcase-modal-template', visible: $root.edit" style="float: right"><i class="icon-trash"></i>Remove subcase</a>
                            </div>
                            <div data-bind="visible: condition.type() === 'always' && $root.edit" class="indent">
                                <a href="#" data-bind="click: function () {condition.type('if')}"><i class="icon-plus"></i> Use condition...</a>
                            </div>
                            <div data-bind="visible: condition.type() === 'if'" class="indent">
                                <a href="#" data-bind="click: function () {condition.type('always')}, visible: $root.edit"><i class="icon-remove"></i></a>
                                If the answer to
                                <select data-bind="
                                    optstr: $root.utils.getQuestions('select1'),
                                    value: condition.question,
                                    optionsCaption: ' ',
                                    edit: $root.edit"></select>
                                is
                                    <span data-bind="if: $root.utils.getAnswers({question: condition.question()}).length">
                                        <select data-bind="
                                            optstr: $root.utils.getAnswers({question: condition.question()}),
                                            value: condition.answer,
                                            edit: $root.edit"></select>
                                    </span>
                                    <span data-bind="if: !$root.utils.getAnswers({question: condition.question()}).length">
                                        <input type="text" class="code" data-bind="value: condition.answer, edit: $root.edit"/>
                                    </span>
                            </div>
                            <div class="well" style="margin: 10px">
                                <table>
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Question</th>
                                        <th>Case Property</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="control-group" data-bind="css: {warning: !case_name()}">
                                            <td></td>
                                            <td>
                                                <div><select data-bind="
                                                    optstr: $root.utils.getQuestions('all'),
                                                    optstrText: function (question) { return $root.getLabel(question)},
                                                    value: case_name,
                                                    optionsCaption: ' ',
                                                    edit: $root.edit"></select></div>
                                                <p class="help-inline" data-bind="visible: !case_name()">Required</p>
                                            </td>
                                            <td>
                                                <span class="label label-inverse">Name</span> <code>case_name</code>
                                            </td>
                                        </tr>
                                    </tbody>

                                    <tbody data-bind="foreach: case_properties">
                                    <tr class="control-group" data-bind="css: {error: validate}">
                                        <td>
                                            <a href="#" data-bind="click: $parent.removeProperty, visible: $root.edit"><i class="icon-remove"></i></a>
                                        </td>
                                        <td>
                                            <select data-bind="
                                                optstr: $root.utils.getQuestions('all'),
                                                optstrText: function (question) { return $root.getLabel(question)},
                                                value: path,
                                                optionsCaption: ' ',
                                                edit: $root.edit"></select>
                                        </td>
                                        <td>
                                            <input type="text" class="code" data-bind="value: key, attr: {placeholder: defaultKey}, edit: $root.edit"/>
                                            <p class="help-inline" data-bind="text: validate"></p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a href="#" data-bind="click: addProperty, visible: $root.edit">Add property</a>
                            </div>
                        </div>
                        <div class="indent">
                            <a href="#" data-bind="click: addSubCase, visible: $root.edit">
                                <i class="icon-plus"></i>
                                Opens a case for a different case list...
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}

    <div id="questions"></div>
{% endblock %}
