{% extends 'app_manager/base_summary.html' %}
{% load hq_shared_tags %}
{% load i18n %}

{% block title %}{% trans "Form Summary" %} - {% trans "Version" %} {{ app_version }}{% endblock %}

{% requirejs_main "app_manager/js/summary/form_summary" %}

{% block content_extra %}
    {% initial_page_data 'errors' errors %}
    {% initial_page_data 'modules' modules %}
    {% registerurl 'form_source' domain app_id '---' %}
    {% registerurl 'view_module' domain app_id '---' %}
    <div class="page-header ko-template" style="margin-top: 0;" id="form-summary-header">
        <h3>
            <i class="fa fa-file-text-o"></i>
            {% trans "Form Summary" %}  - {% trans "Version" %} {{ app_version }}
            {% if app_id != latest_app_id %}
                <small><a href="{% url 'app_form_summary' domain  latest_app_id %}">{% trans "See latest" %}</a> </small>
            {% endif %}
        </h3>
        {% include 'app_manager/partials/form_summary_header.html' %}
    </div>
    <div id="form-summary" class="ko-template">
        {% include 'app_manager/form_summary_base.html' with modules=modules errors=errors %}
    </div>
{% endblock content_extra %}
