{% load i18n %}
{% load xforms_extras %}
<div id="languages-and-translations" class="tab-pane">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#supported-languages" data-toggle="tab">{% trans "Language List" %}</a></li>
            {% if not app.is_remote_app %}
                <li><a href="#translations-tab" data-toggle="tab">{% trans "CommCare Translations" %}</a></li>
            {% endif %}
            <li><a href="#bulk-app-translations-tab" data-toggle="tab">{% trans "Bulk Application Translations" %}</a></li>
        </ul>
        <div class="tab-content">
            <div id="supported-languages" class="tab-pane active">
                {% include "app_manager/partials/supported-languages.html" %}
            </div>
            {% if not app.is_remote_app %}
            <div id="translations-tab" class="tab-pane">
                <div class="accordion" id="ie-accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#ie-accordion" href="#import-export">
                                {% trans "Import/Export UI Translations" %}</a>
                        </div>
                        <div id="import-export" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <section>
                                    {% include "hqwebapp/partials/bulk_upload.html" with bulk_upload=bulk_ui_translation_upload bulk_upload_form=bulk_ui_translation_form%}
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                {% if app.get_doc_type == "Application" %}
                    <section id="translations_ui">
                        <p class="help-block">
                            {% blocktrans %}
                            For Java Phone (Nokia) refer to
                            <a target="_blank" href="https://github.com/dimagi/javarosa/blob/master/j2me/shared-resources/resources/messages_default.txt">JavaRosa translations</a>
                            and <a target="_blank" href="https://github.com/dimagi/commcare/blob/master/application/resources/messages_cc_default.txt">CommCare translations</a>.
                            {% endblocktrans %}
                        </p>
                        <p class="help-block">
                            {% blocktrans %}
                            For Android refer to
                            <a target="_blank" href="https://github.com/dimagi/commcare-odk/blob/master/app/assets/locales/messages_ccodk_default.txt">CommCareODK translations</a>
                            and <a target="_blank" href="https://help.commcarehq.org/display/commcarepublic/CommCare+ODK+Form+Entry+Interface+Strings">ODK Collect translations</a>.
                            {% endblocktrans %}
                        </p>
                        <br/>
                    </section>
                {% endif %}
                <section id="success-message">
                    <form class="save-button-form form-horizontal" method="post" action="{% url "edit_app_attr" domain app.id 'success_message' %}"
                            data-bind="visible: COMMCAREHQ.appView.settings.enableSuccessMessage()">
                        {% if app.get_doc_type == 'Application'%}
                        <hr/>
                        {% endif %}
                        <div class="save-button-holder clearfix"></div>
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label">
                                    {% trans "Success Message" %}
                                        <span class="hq-help-template"
                                              data-title="{% trans "Success Message" %}"
                                              data-content="{% trans "You can optionally specify a template for the message that your CHWs receive upon successful submission of a form. In the template, you have access to the following variables gathered real-time from the server: $first_name, $name, $week, $today. Example: Thanks $first_name! You have submitted $today forms today and $week forms since Monday." %}"
                                                ></span>
                                </label>
                                <div class="controls">
                                    <textarea class="span3" name="success_message">{{ app.success_message|clean_trans:langs }}</textarea>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <!-- hack for success message popover -->
                    <div style="height: 85px"></div>
                </section>
            </div>
            {% endif %}
            <div id="bulk-app-translations-tab" class="tab-pane">
                <div style="display: inline-block;">
                    {% include "hqwebapp/partials/bulk_upload.html" with bulk_upload=bulk_app_translation_upload bulk_upload_form=bulk_app_translation_form %}
                </div>
            </div>
        </div>
    </div>
</div>
