{% extends "app_manager/apps_base.html" %}
{% load xforms_extras %}
{% load url_extras %}
{% load hq_shared_tags %}
{% load i18n %}

{% block title %}{{ module.name|clean_trans:langs }}{% endblock %}


{% block head %}{{ block.super }}
{% if formdesigner %}
<link rel="stylesheet" href="{% static 'hqwebapp/js/lib/jquery-ui/jquery-ui-redmond-1.11.2.css' %}"/>
{% else %}
<link rel="stylesheet" href="{% static 'hqwebapp/js/lib/jquery-ui/jquery-ui-redmond-1.8.16.css' %}"/>
{% endif %}
{% include "imports/hq-oldstyle-js.html" %}
<style>
    .edit-form-pencil {
        position: absolute;
        right: -5px;
        top: 2px;
        opacity: 0.5;
    }
    .edit-form-li {
        position: relative;
        width: 110%;
    }
</style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'app_manager/js/app_manager.js' %}"></script>
    <script src="{% static 'hqwebapp/js/lib/history-1.7.1.js' %}"></script>
    <script src="{% static 'hqwebapp/js/lib/bootstrap-tab-history-custom.js' %}"></script>
{% endblock %}

{% block js-inline %}
    {{ block.super }}
    <script>
        $(function () {
            $('.hq-help-template').each(function () {
                COMMCAREHQ.makeHqHelp({
                    content: $(this).data('content'),
                    title: $(this).data('title')
                }, false).insertAfter(this);
                $(this).remove();
            });
            $('.hq-help').hqHelp();
        });
        $(function () {
            COMMCAREHQ.app_manager.init({
                appVersion: {% if app.version %}{{ app.version }}{% else %}-1{% endif %},
                commcareVersion: {{ app.commcare_minor_release|JSON }},
                latestCommcareVersion: {% if latest_commcare_version %}{{ latest_commcare_version|JSON }}{% else %}null{% endif %}
            });
        });
        $(function () {
            $('.btn-langcode-preprocessed').each( function () {
                langcodeTag.button_tag($(this), $(this).text());
                if ($(this).hasClass('langcode-input')) {
                    var $langcodeInput = $(this).parent().find("input");
                    var that = this;
                    if ($langcodeInput) {
                        $langcodeInput.change(function () {
                            if ($(this).val() == "")
                                $(that).show();
                            else
                                $(that).hide();
                        });
                    }
                }
            });
        });
    </script>
    {% if app.get_doc_type == "Application" %}
    <script>
        $(function () {
            var show_user_registration = {{ app.show_user_registration|JSON }};
            if (!show_user_registration) {
                $('#user-registration-nav-link').hide();
            }
        });
        $(function () {
            $('.edit-form-pencil').hide().tooltip({
                title: "{% trans "Edit in form builder" %}",
                placement: 'left'
            });
            $('.edit-form-li').each(function () {
                if ($(this).is('.active') && {{ formdesigner|JSON }}) {
                    $(this).find('.edit-form-pencil').show();
                } else {
                    $(this).mouseenter(function () {
                        $(this).find('.edit-form-pencil').show();
                    }).mouseleave(function () {
                        $(this).find('.edit-form-pencil').hide();
                    });
                }
            });
        });
    </script>
    {% endif %}
    <script>
        $(function () {
            // this has to be done after bootstrap does it's magic
            setTimeout(function () {
                // https://github.com/twitter/bootstrap/issues/6122
                $('.collapse, .tab-content').hover(
                        function () {
                            $(this).css('overflow','visible');
                        },
                        function () {
                            $(this).css('overflow','hidden');
                        }
                );
            }, 0);
        });
    </script>
    <script>
        $(document).ready(function() {
            gaTrackLink($('#edit_label'), 'App Builder', 'Open Form', 'Edit Label');
            {% for module in app.get_modules %}
                {% for form in module.get_forms %}
                    gaTrackLink($('#edit_pen_{{ module.id }}_{{ form.id }}'), 'App Builder', 'Open Form', 'Edit Pen');
                {% endfor %}
            {% endfor %}
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    {% if app %}
    <li>
        <span class="divider">&gt;</span>
        <span class="app-manager-title variable-app_name">{{ app.name|html_name }}</span>
    </li>
    {% endif %}
{% endblock %}

{% block sidebar %}
{% if app %}
<nav class="app-manager-content hide">
    <ul class="nav nav-list">
        <li {% if release_manager %}class="active"{% endif %}>
            <a href="{% url "release_manager" domain app.id %}">
                <i class="icon-download-alt"></i>
                {% trans "Deploy" %}
            </a>
        </li>
        <li class="divider"></li>
        <li {% if not module and not form and not release_manager %}class="app-name-div
                {% if not copy_app_form or not copy_app_form.is_bound %}active{% endif %}"
            {% endif %}>
            <a href="{% url "view_app" domain app.id %}#app-settings" data-toggle="tab">
                <i class="icon-cog"></i>
                {% trans "Settings" %}
            </a>
        </li>
        {% if app.get_doc_type == 'Application' %}
        <li>
            <a id="multimedia-shower" href="{% url "view_app" domain app.id %}multimedia/#multimedia" data-toggle="tab">
                <i class="icon-picture"></i>
                {% trans "Multimedia" %}
            </a>
        </li>
        {% endif %}
        <li>
            {% if app.get_doc_type == 'Application' %}
                <span id="langs" class="pull-right">
                    {% if not app.is_remote_app and app.langs|length > 1%}
                        <select name="lang" class="input-mini" style="height: 20px; margin-bottom: 0px; margin-top: 2px; padding: 0;">
                            {% for lang in app.langs %}
                                <option value="{{ lang }}"
                                        {% if lang == langs.0 %}selected=""{% endif %}>
                                    {% if lang == app.langs.0 %}*{% endif %}
                                    {{ lang }}
                                </option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </span>
            {% endif %}
            <a href="{% url "view_app" domain app.id %}languages/#languages-and-translations" data-toggle="tab"
               style="vertical-align: middle;">
                <i class="icon-globe"></i>
                {% trans "Languages" %}
            </a>
        </li>
        <li>
            <a href="{% url "app_summary" domain app.id %}" style="vertical-align: middle;">
                <i class="icon-list"></i>
                {% trans "App Summary" %}
            </a>
        </li>
        <li class="divider"></li>
    {% if app.get_doc_type == "Application" %}
        <li>
        <ul class="nav nav-list sortable" style="padding-left: 0">
            <li class="sort-action">
                <form method="post"
                      action="{% url "corehq.apps.app_manager.views.rearrange" domain app.id 'modules' %}">
                </form>
            </li>
            <li class="sort-disabled edit-form-li {% if is_user_registration %} active{% endif %}" id="user-registration-nav-link">
                <a href="{% url "view_user_registration" domain app.id %}">
                    <i class="icon-file-alt"></i>
                    {% trans "User Registration" %}
                </a>
                <div class="edit-form-pencil">
                    <a href="{% url "user_registration_source" domain app.id %}">
                        <span class="icon icon-pencil"></span>
                    </a>
                </div>
            </li>
            {% with module as selected_module %}
                {% for module in app.get_modules %}
                    <li class="edit-module-li {% ifequal module.id selected_module.id %}{% if not form %}
                        active{% endif %}{% endifequal %}"
                        data-index="{{ module.id }}">
                        <a href="{% url "view_module" domain app.id module.id %}">
                            <i class="drag_handle"></i>
                            <i class="icon-folder-open"></i>
                            <span {% if module.id == selected_module.id %}class="variable-module_name"{% endif %}>
                                {{ module.name|html_trans:langs }}
                            </span>
                        </a>
                        <ul class="nav nav-list {% ifequal module.id selected_module.id %}selected{% endifequal %} sortable-forms sortable">
                            <li class="sort-action">
                                <form method="post"
                                      action="{% url "corehq.apps.app_manager.views.rearrange" domain app.id 'forms' %}">
                                </form>
                            </li>
                            {% with nav_form as selected_form %}
                                {% for form in module.get_forms %}
                                    <li class="edit-form-li{% ifequal form selected_form %} active{% endifequal %}" data-moduleid="{{ module.id }}" data-index="{{ form.id }}">
                                        <!--[F]-->
                                        <a href="{% url "view_form" domain app.id module.id form.id %}">
                                            <i class="drag_handle"></i>
                                            <span {% if form == selected_form %}class="variable-form_name"{% endif %}>
                                            {{ form.name|html_trans:langs }}
                                            </span>
                                        </a>
                                        {% if not form.no_vellum %}
                                            <div class="edit-form-pencil pull-right">
                                                <a id="edit_pen_{{ module.id }}_{{ form.id }}" href="{% url "form_source" domain app.id module.id form.id %}">
                                                    <i class="icon-pencil" {% ifequal form selected_form %}style="color: white"{% endifequal %}"></i>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% endwith %}
                            <li class="sort-disabled">
                                <form action="{% url "corehq.apps.app_manager.views.new_form" domain app.id module.id %}"
                                      method="post" style="display: none">
                                </form>
                                {% if module.doc_type != 'CareplanModule' %}
                                <a class="submit_on_click" href="#">
                                    <i class="icon-plus icon-blue"></i>
                                    <span class="muted">{% trans "Form" %}</span>
                                </a>
                                {% endif %}
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            {% endwith %}
            {% if app.get_doc_type == "Application" %}
                <form id="new-module-form" action="{% url "corehq.apps.app_manager.views.new_module" domain app.id %}"
                          method="post" style="display: none">
                    <input id="new-module-type" type="hidden" name="module_type" />
                </form>
                {% if show_care_plan or show_advanced %}
                    <li class="sort-disabled dropdown">
                        <a href="#" data-toggle="dropdown">
                            <i class="new-module-icon icon-plus icon-blue"></i>
                            <span class="muted">{% trans "Module" %}</span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" class="new-module" data-type="case">{% trans "New Case Module" %}</a></li>
                            {% if show_care_plan %}
                            <li><a data-toggle="modal" href="#careplan-module-dialog">{% trans "New Care Plan Module" %}</a></li>
                            {% endif %}
                            {% if show_advanced %}
                            <li>
                                <a href="#" class="new-module" data-type="advanced">
                                    {% if app.commtrack_enabled %}
                                        {% trans "New CommTrack Module" %}
                                    {% else %}
                                        {% trans "New Advanced Module" %}
                                    {% endif %}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% include "app_manager/partials/new_module_dialogs.html" %}
                {% else %}
                <li class="sort-disabled">
                    <a href="#" class="new-module" data-type="case">
                        <i class="new-module-icon icon-plus icon-blue"></i>
                        <span class="muted">{% trans "Module" %}</span>
                    </a>
                </li>
                {% endif %}
            {% endif %}
        </ul>
        </li>
    {% endif %}
    <li class="nav-header">Actions</li>
    <li class="app-name-div{% if copy_app_form and copy_app_form.is_bound %} active{% endif %}">
        <a href="{% url "view_app" domain app.id %}copy/#copy" data-toggle="tab">
            <i class="icon-copy"></i>
            {% trans "Copy Application" %}
        </a>
    </li>
    <li>
        <a href="{% url "view_app" domain app.id %}delete/#delete" data-toggle="tab">
            <i class="icon-trash"></i>
            {% trans "Delete Application" %}
        </a>
    </li>
    </ul>
</nav>
{% endif %}
{% endblock %}

{% block app-content %}
    {% block form-view %}{% endblock %}
{% endblock %}
