{% extends "app_manager/module_view.html" %}
{% load xforms_extras %}
{% load hq_shared_tags %}
{% load i18n %}

{% block js-inline %}{{ block.super }}
    <script>
        $(function () {
            var parent_select_model = {{ module.parent_select|JSON }};
            var parentSelect = new ParentSelect({
                active: parent_select_model.active,
                moduleId: parent_select_model.module_id,
                parentModules: {{ parent_modules|JSON }},
                lang: {{ lang|JSON }},
                langs: {{ app.langs|JSON }}
            });
            ko.applyBindings(parentSelect, $('#detail-screen-parent').get(0));
        });
    </script>
{% endblock %}

{% block settings_fields %}
    <div id="detail-screen-parent" class="control-group">
        <label class="control-label">{% trans "Attached to" %}</label>
        <div class="controls">
            <select name="parent_module" data-bind="optstr: moduleOptions, value: moduleId"></select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            {% trans "Menu Mode" %}
        </label>
        <div class="controls">
            <select type="text" name="display_separately" data-value="{% if module.display_separately %}true{% else %}false{% endif %}">
                <option value="false">{% trans "Display careplan inside attached module" %}</option>
                <option value="true">{% trans "Display careplan separately" %}</option>
            </select>
        </div>
    </div>
{% endblock %}
